Repository apache/druid, changes with the labels that .github/labeler.yml gives for each.
All labels: Area - Batch Ingestion, Area - Dependencies, Area - Documentation, Area - Ingestion, Area - Lookups, Area - Metrics/Event Emitting, Area - MSQ, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Web Console, Kubernetes, GHA

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

#
# Pull Request Labeler GitHub Action Configuration: https://github.com/marketplace/actions/labeler

'Area - Batch Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'indexing-hadoop/**'
      - 'extensions-core/multi-stage-query/**'

'Area - Dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - '**/pom.xml'
      - 'licenses.yaml'

'Area - Documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - 'website/**'
      - 'examples/quickstart/jupyter-notebooks/**'

'Area - Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'indexing-service/**'

'Area - Lookups':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/lookups-cached-global/**'
      - 'extensions-core/lookups-cached-single/**'
      - 'extensions-core/kafka-extraction-namespace/**'

'Area - Metrics/Event Emitting':
  - changed-files:
    - any-glob-to-any-file:
      - 'processing/src/main/java/org/apache/druid/java/util/metrics/**'
      - 'processing/src/main/java/org/apache/druid/java/util/emitter/**'
      - 'extensions-contrib/*-emitter/**'

'Area - MSQ':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/multi-stage-query/**'

'Area - Querying':
  - changed-files:
    - any-glob-to-any-file:
      - 'sql/**'
      - 'extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/**'

'Area - Segment Format and Ser/De':
  - changed-files:
    - any-glob-to-any-file:
      - 'processing/src/main/java/org/apache/druid/segment/**'

'Area - Streaming Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/kafka-indexing-service/**'
      - 'extensions-core/kinesis-indexing-service/**'

'Area - Web Console':
  - changed-files:
    - any-glob-to-any-file:
      - 'web-console/**'

'Kubernetes':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-contrib/kubernetes-overlord-extensions/**'

'GHA':
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

Add errorCode to failure type `InternalServerError` (#16186)
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  processing/src/main/java/org/apache/druid/error/InternalServerError.java
  processing/src/test/java/org/apache/druid/error/InternalServerErrorTest.java
Labels: Kubernetes

Clean up TaskQueueTest (#16187)
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
Labels: Area - Ingestion

Run CoordinatorSegmentMetadataCache#refresh only on leader node
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueue.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaCache.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCache.java
Labels: Area - Querying

Address review comments
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ExportMetadataManager.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessorFactory.java
Labels: Area - Batch Ingestion, Area - MSQ

Simplify input row filter
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/InputSourceProcessor.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
Labels: Area - Ingestion

Differentiate null and empty lists of segment IDs and versions.
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
Labels: none

Update javadocs and add empty versions test to kill task.
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
Labels: Area - Ingestion

Task concurrency management in K8s Task Scheduling extension
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerConfig.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesWorkItem.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLane.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLaneCapacityPolicy.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLaneConfig.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLaneRegistry.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactoryTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQTasksTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerImplTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncherTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQWorkerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/WorkerChatHandlerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ, Kubernetes

move task lane config classes to core Druid
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerConfig.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLaneRegistry.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLane.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLaneCapacityPolicy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLaneConfig.java
Labels: Area - Ingestion, Kubernetes

more docs
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLaneCapacityPolicy.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLaneConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
Labels: Area - Ingestion, Kubernetes

update Peon metric to use task label
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: none

Update getLabel to use MSQDestination's label
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/DurableStorageMSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/ExportMSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/MSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/TaskReportMSQDestination.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerImplTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQWorkerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/WorkerChatHandlerTest.java
Labels: Area - Batch Ingestion, Area - MSQ, Kubernetes

add more test cases
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLaneRegistry.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactoryTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesWorkItemTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLane.java
Labels: Area - Ingestion, Kubernetes

switch to use StringUtils
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestination.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLaneConfig.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

add more tests and fix build
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLaneRegistry.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLane.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLaneCapacityPolicy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLaneConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/config/TaskLaneCapacityPolicyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/config/TaskLaneConfigTest.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ, Kubernetes

fix checkstyle
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/config/TaskLaneCapacityPolicyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/config/TaskLaneConfigTest.java
Labels: Area - Ingestion

Task Labeling for Improved Monitoring and Analysis
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerConfig.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesWorkItem.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/TaskLaneRegistry.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactoryTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesWorkItemTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLaneCapacityPolicy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLaneConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/config/TaskLaneCapacityPolicyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/config/TaskLaneConfigTest.java
Labels: Area - Ingestion, Kubernetes

Revert MSQDestination label change
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/DurableStorageMSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/ExportMSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/MSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/TaskReportMSQDestination.java
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
Labels: Area - Batch Ingestion, Area - MSQ

Introduce TaskLabelsProvider extension interface
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQTaskReport.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQTasksTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncherTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestOverlordServiceClient.java
  indexing-service/src/main/java/org/apache/druid/guice/IndexingServiceModuleHelper.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/DefaultTaskLabelsProvider.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskLabel.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskLabelsProvider.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

rename interface method
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/DefaultTaskLabelsProvider.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskLabelsProvider.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

refine interface
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  indexing-service/src/main/java/org/apache/druid/guice/IndexingServiceModuleHelper.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/DefaultTaskLabelsProvider.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskLabelsProvider.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

update Unit Test
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
Labels: Area - Batch Ingestion, Area - MSQ

add more tests
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskLabel.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/DefaultTaskLabelsProviderTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskLabelTest.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Ingestion

fix checkstyle
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/DefaultTaskIdentitiesProviderTest.java
Labels: Area - Ingestion

remove task labelling change
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestOverlordServiceClient.java
  indexing-service/src/main/java/org/apache/druid/guice/IndexingServiceModuleHelper.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/DefaultTaskIdentitiesProvider.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/DefaultTaskLabelsProvider.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskIdentitiesProvider.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskLabel.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskLabelsProvider.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/DefaultTaskIdentitiesProviderTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskLabelTest.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

correct provider naming
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  indexing-service/src/main/java/org/apache/druid/guice/IndexingServiceModuleHelper.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

minor refine
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
Labels: Area - Batch Ingestion, Area - MSQ

INSERT/REPLACE dimension target column types are validated against source input expressions (#15962)
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogIngestionTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogInsertTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogReplaceTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlParserUtils.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/DatasourceTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogInsertTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogReplaceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteStrictInsertTest.java
Labels: Area - Querying

Add test for RetrieveSegmentsActions as well.
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsActionsTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
Labels: Area - Ingestion

update TaskIdentitiesProvider interface and usage
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestOverlordServiceClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrorsTaskReportData.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolboxFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/DefaultTaskIdentitiesProvider.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskIdentitiesProvider.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskToolboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/DefaultTaskIdentitiesProviderTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskReportSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TestTaskToolboxFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskMonitorTest.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

Trigger datasource schema polling from Coordinator in each refresh cycle on Broker
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheConcurrencyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaNoDataInitTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
Labels: Area - Querying

forced => manual capability detection
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/components/header-bar/restricted-mode/__snapshots__/restricted-mode.spec.tsx.snap
  web-console/src/components/header-bar/restricted-mode/restricted-mode.spec.tsx
  web-console/src/components/header-bar/restricted-mode/restricted-mode.tsx
Labels: Area - Web Console

rebase
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: none

Rewrite exotic LAST_VALUE/FIRST_VALUE to self-reference. (#16063)
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Windowing.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/RewriteFirstValueLastValueRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupportedUsageTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidOperatorTableTest.java
  sql/src/test/resources/calcite/tests/window/first_last_rewrite.sqlTest.sqlTest
  sql/src/test/resources/calcite/tests/window/wikipediaCumulativeOrdered.sqlTest
  sql/src/test/resources/calcite/tests/window/wikipediaSimplePartition.sqlTest
Labels: Area - Querying

include tags in MSQ live report
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
Labels: Area - Batch Ingestion, Area - MSQ

add doc for TASK_IDENTIFIER
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskIdentitiesProvider.java
Labels: Area - Ingestion

Visibility into skipped scale notices
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/AutoScalerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScaler.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScalerConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Area - Documentation, Area - Ingestion

typo
  web-console/src/components/header-bar/header-bar.tsx
Labels: Area - Web Console

Refactor: Simplify creation input row filter predicate in various batch tasks (#16196)
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/InputSourceProcessor.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
Labels: Area - Ingestion

Fix handling an empty list of versions (#16198)
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsActionsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
Labels: Area - Ingestion
