Repository apache/druid, changes with the labels that .github/labeler.yml gives for each.
All labels: Area - Batch Ingestion, Area - Dependencies, Area - Documentation, Area - Ingestion, Area - Lookups, Area - Metrics/Event Emitting, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Web Console, Kubernetes, MSQ

Fix bug in computed value of balancerComputeThreads (#14947)
  server/src/main/java/org/apache/druid/server/coordinator/duty/PrepareBalancerAndLoadQueues.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfig.java
Labels: none

Updating numericNilAgg
  processing/src/main/java/org/apache/druid/query/aggregation/any/NumericNilVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/DoubleLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/FloatLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/LongLastAggregatorFactory.java
Labels: Area - Ingestion

fix issue with segment metadata cache and complex types when doing out of order upgrades from 0.22
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
Labels: Area - Querying

Moving to use default values in case of nil agg
  processing/src/main/java/org/apache/druid/query/aggregation/any/NumericNilVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/DoubleLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/FloatLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/LongLastAggregatorFactory.java
Labels: Area - Ingestion

Adding the same for first agg
  processing/src/main/java/org/apache/druid/query/aggregation/first/DoubleFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/FloatFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/LongFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
Labels: Area - Ingestion

Adding the unnest engine feature back
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidRules.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/ViewSqlEngine.java
Labels: Area - Batch Ingestion, Area - Querying, MSQ

fix: update pom org.testing version
  pom.xml
Labels: Area - Dependencies

cleanup some stuff
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/XConv.java
Labels: Area - Querying

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

#
# Pull Request Labeler GitHub Action Configuration: https://github.com/marketplace/actions/labeler

'Area - Batch Ingestion':
  - 'indexing-hadoop/**'
  - 'extensions-core/multi-stage-query/**'

'Area - Dependencies':
  - '**/pom.xml'
  - 'licenses.yaml'

'Area - Documentation':
  - 'docs/**/*'
  - 'website/**'
  - 'examples/quickstart/jupyter-notebooks/**'

'Area - Ingestion':
  - 'processing/**'
  - 'indexing-service/**'

'Area - Lookups':
  - 'extensions-core/lookups-cached-global/**'
  - 'extensions-core/lookups-cached-single/**'
  - 'extensions-core/kafka-extraction-namespace/**'

'Area - Metrics/Event Emitting':
  - 'processing/src/main/java/org/apache/druid/java/util/metrics/**'
  - 'processing/src/main/java/org/apache/druid/java/util/emitter/**'
  - 'extensions-contrib/*-emitter/**'

'Area - Querying':
  - 'sql/**'

'Area - Segment Format and Ser/De':
  - 'processing/src/main/java/org/apache/druid/segment/**'

'Area - Streaming Ingestion':
  - 'extensions-core/kafka-indexing-service/**'
  - 'extensions-core/kinesis-indexing-service/**'

'Area - Web Console':
  - 'web-console/**'

'Kubernetes':
  - 'extensions-contrib/kubernetes-overlord-extensions/**'

'MSQ':
  - 'extensions-core/multi-stage-query/**'
