Repository apache/druid, changes with the labels that .github/labeler.yml gives for each.
All labels: Area - Batch Ingestion, Area - Dependencies, Area - Documentation, Area - Ingestion, Area - Lookups, Area - Metrics/Event Emitting, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Web Console, Kubernetes, MSQ

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

#
# Pull Request Labeler GitHub Action Configuration: https://github.com/marketplace/actions/labeler

'Area - Batch Ingestion':
  - 'indexing-hadoop/**'
  - 'extensions-core/multi-stage-query/**'

'Area - Dependencies':
  - '**/pom.xml'
  - 'licenses.yaml'

'Area - Documentation':
  - 'docs/**/*'
  - 'website/**'
  - 'examples/quickstart/jupyter-notebooks/**'

'Area - Ingestion':
  - 'processing/**'
  - 'indexing-service/**'

'Area - Lookups':
  - 'extensions-core/lookups-cached-global/**'
  - 'extensions-core/lookups-cached-single/**'
  - 'extensions-core/kafka-extraction-namespace/**'

'Area - Metrics/Event Emitting':
  - 'processing/src/main/java/org/apache/druid/java/util/metrics/**'
  - 'processing/src/main/java/org/apache/druid/java/util/emitter/**'
  - 'extensions-contrib/*-emitter/**'

'Area - Querying':
  - 'sql/**'

'Area - Segment Format and Ser/De':
  - 'processing/src/main/java/org/apache/druid/segment/**'

'Area - Streaming Ingestion':
  - 'extensions-core/kafka-indexing-service/**'
  - 'extensions-core/kinesis-indexing-service/**'

'Area - Web Console':
  - 'web-console/**'

'Kubernetes':
  - 'extensions-contrib/kubernetes-overlord-extensions/**'

'MSQ':
  - 'extensions-core/multi-stage-query/**'

Verify statsd mock client interaction in unit test (#14939)
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/StatsDEmitterTest.java
Labels: Area - Metrics/Event Emitting

better or not?
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/XConv.java
Labels: Area - Querying

Vectorize earliest aggregator for both numeric and string types (#14408)
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  integration-tests/src/test/resources/queries/wikipedia_editstream_queries.json
  processing/src/main/java/org/apache/druid/query/aggregation/first/DoubleFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/DoubleFirstVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/FloatFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/FloatFirstVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/LongFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/LongFirstVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/NumericFirstVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/SingleStringFirstDimensionVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstVectorAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/DoubleFirstVectorAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/FloatFirstVectorAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/LongFirstVectorAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Ingestion, Area - Querying

codestyle fixes
  server/src/main/java/org/apache/druid/client/cache/MemcachedCache.java
  server/src/main/java/org/apache/druid/client/cache/MemcachedCacheConfig.java
  server/src/test/java/org/apache/druid/client/cache/MemcachedCacheTest.java
Labels: none

Add option to copy query results to clipboard
  web-console/src/utils/download.ts
  web-console/src/views/workbench-view/execution-summary-panel/execution-summary-panel.tsx
Labels: Area - Web Console

throw error on invalid client mode
  server/src/main/java/org/apache/druid/client/cache/MemcachedCache.java
Labels: none

Adding more tests for the new class
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastVectorAggregatorTest.java
Labels: Area - Ingestion

fix Peon not fail gracefully
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunner.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Ingestion

fix checkstyle
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
Labels: Area - Ingestion

move methods to Task interface
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunner.java
Labels: Area - Ingestion

extract to interface
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
Labels: Area - Ingestion

check runThread nullability
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
Labels: Area - Ingestion

fix merge conflict
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunnerTest.java
Labels: Area - Ingestion

Update docs/querying/tips-good-queries.md
  docs/querying/tips-good-queries.md
Labels: Area - Documentation

Adding insert and replace tests and fixing broadcast inputs for filtered data source
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Area - Batch Ingestion, Area - Querying, MSQ

Query tips doc (#14922)
  docs/querying/tips-good-queries.md
  website/sidebars.json
Labels: Area - Documentation

initial commit
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlMSQStatementResourcePostTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - Batch Ingestion, MSQ

codecov
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
Labels: Area - Ingestion

Refactor 1
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessor.java
Labels: Area - Batch Ingestion, MSQ

fixup array and mvd sql docs (#14928)
  docs/querying/sql-array-functions.md
  docs/querying/sql-multivalue-string-functions.md
Labels: Area - Documentation

Add CommandQueueTask, remove unneeded classes
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CommandExecutingTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CommandQueueTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ConcurrentReplaceAndAppendTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ActionsTestTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AppendTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ReplaceTask.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Area - Ingestion

New test case
  processing/src/test/java/org/apache/druid/segment/UnnestStorageAdapterTest.java
Labels: Area - Ingestion

Updating tests
  processing/src/main/java/org/apache/druid/segment/UnnestStorageAdapter.java
  processing/src/test/java/org/apache/druid/segment/UnnestStorageAdapterTest.java
Labels: Area - Ingestion, Area - Segment Format and Ser/De

Removing a stale comment
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Area - Querying

Update extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/SegmentLoadWaiter.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/SegmentLoadWaiter.java
Labels: Area - Batch Ingestion, MSQ

Add code to wait for segments generated to be loaded on historicals (#14322)
  docs/api-reference/sql-ingestion-api.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/SegmentLoadWaiter.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQStatusReport.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/SegmentLoadWaiterTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  server/src/main/java/org/apache/druid/discovery/BrokerClient.java
  server/src/main/java/org/apache/druid/discovery/ClientUtils.java
  server/src/main/java/org/apache/druid/discovery/DruidLeaderClient.java
  server/src/test/java/org/apache/druid/discovery/BrokerClientTest.java
  server/src/test/java/org/apache/druid/discovery/DruidLeaderClientTest.java
  website/.spelling
Labels: Area - Batch Ingestion, Area - Documentation, MSQ

Fix synchronization in CommandQueueTask
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CommandQueueTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ConcurrentReplaceAndAppendTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ActionsTestTask.java
Labels: Area - Ingestion

Auto configuration for maxSubqueryBytes (#14808)
  docs/configuration/index.md
  docs/operations/metrics.md
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  server/src/main/java/org/apache/druid/query/lookup/LookupReferencesManager.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/SubqueryGuardrailHelper.java
  server/src/main/java/org/apache/druid/server/initialization/ServerConfig.java
  server/src/main/java/org/apache/druid/server/metrics/SubqueryCountStatsMonitor.java
  server/src/main/java/org/apache/druid/server/metrics/SubqueryCountStatsProvider.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  server/src/test/java/org/apache/druid/server/SubqueryGuardrailHelperTest.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Documentation, Area - Ingestion, Area - Querying

update org.testng:testng 7.3.0 to 7.7.0
  pom.xml
Labels: Area - Dependencies

Move schema querying logic to BrokerSegmentMetadataCache
  processing/src/main/java/org/apache/druid/timeline/SegmentStatusInCluster.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentMetadataCache.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCache.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataView.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
Labels: Area - Ingestion, Area - Querying

stuff
  sql/src/main/java/org/apache/druid/sql/calcite/rel/XConv.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Area - Querying

some
  sql/src/main/java/org/apache/druid/sql/calcite/rel/XConv.java
Labels: Area - Querying

crap
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
Labels: Area - Querying

Fix dataSource schema on coordinator and minor renaming
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClient.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClientImpl.java
  server/src/main/java/org/apache/druid/segment/metadata/DataSourceSchema.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentMetadataCacheConfig.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCache.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheConfig.java
Labels: Area - Querying

update
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/XConv.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestRunner.java
Labels: Area - Querying

Remove DruidAggregateCaseToFilterRule (#14940)
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidAggregateCaseToFilterRule.java
Labels: Area - Querying

x
  sql/src/main/java/org/apache/druid/sql/calcite/rel/XConv.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Area - Querying

Fix bug in computed value of balancerComputeThreads
  server/src/main/java/org/apache/druid/server/coordinator/duty/PrepareBalancerAndLoadQueues.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfig.java
Labels: none

cleanup;add IS_X_Y
  sql/src/main/java/org/apache/druid/sql/calcite/rel/XConv.java
Labels: Area - Querying

Unnest dont push down not (#14942)
  processing/src/main/java/org/apache/druid/segment/UnnestStorageAdapter.java
  processing/src/test/java/org/apache/druid/segment/UnnestStorageAdapterTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Area - Ingestion, Area - Querying, Area - Segment Format and Ser/De
