Repository apache/druid, changes with the labels that .github/labeler.yml gives for each.
All labels: Area - Batch Ingestion, Area - Dependencies, Area - Documentation, Area - Ingestion, Area - Lookups, Area - Metrics/Event Emitting, Area - MSQ, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Web Console, Kubernetes, GHA

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

#
# Pull Request Labeler GitHub Action Configuration: https://github.com/marketplace/actions/labeler

'Area - Batch Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'indexing-hadoop/**'
      - 'extensions-core/multi-stage-query/**'

'Area - Dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - '**/pom.xml'
      - 'licenses.yaml'

'Area - Documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - 'website/**'
      - 'examples/quickstart/jupyter-notebooks/**'

'Area - Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'indexing-service/**'

'Area - Lookups':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/lookups-cached-global/**'
      - 'extensions-core/lookups-cached-single/**'
      - 'extensions-core/kafka-extraction-namespace/**'

'Area - Metrics/Event Emitting':
  - changed-files:
    - any-glob-to-any-file:
      - 'processing/src/main/java/org/apache/druid/java/util/metrics/**'
      - 'processing/src/main/java/org/apache/druid/java/util/emitter/**'
      - 'extensions-contrib/*-emitter/**'

'Area - MSQ':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/multi-stage-query/**'

'Area - Querying':
  - changed-files:
    - any-glob-to-any-file:
      - 'sql/**'
      - 'extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/**'

'Area - Segment Format and Ser/De':
  - changed-files:
    - any-glob-to-any-file:
      - 'processing/src/main/java/org/apache/druid/segment/**'

'Area - Streaming Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/kafka-indexing-service/**'
      - 'extensions-core/kinesis-indexing-service/**'

'Area - Web Console':
  - changed-files:
    - any-glob-to-any-file:
      - 'web-console/**'

'Kubernetes':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-contrib/kubernetes-overlord-extensions/**'

'GHA':
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

update integration test and doc
  docs/operations/metrics.md
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
Labels: Area - Documentation

comments
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Area - Documentation, Area - Ingestion

Fix checkstyles
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessorFactory.java
Labels: Area - Batch Ingestion, Area - MSQ

Allow non literal rhs in MV_FILTER_ONLY and MV_FILTER_NONE (#16113)
  processing/src/main/java/org/apache/druid/math/expr/ApplyFunction.java
  processing/src/test/java/org/apache/druid/math/expr/ApplyFunctionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
Labels: Area - Querying

Add test for ParallelIndexSupervisorTask and CompactionTask. Update schema creation logic for appendSegments
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionAdjustingCorePartitionSizeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/MultiPhaseParallelIndexingWithNullColumnTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialCompactionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionAdjustingCorePartitionSizeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
Labels: Area - Ingestion

Address review comments
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessorFactory.java
Labels: Area - Batch Ingestion, Area - Documentation, Area - MSQ

Build task reports in AbstractBatchIndexTask
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrors.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrorsTaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ParseExceptionReport.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskReportSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
Labels: Area - Ingestion, Area - Streaming Ingestion

[OBSDATA-3335][Backport] Add indexer level task metrics to provide more visibility (#191)
  docs/operations/metrics.md
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  indexing-service/src/main/java/org/apache/druid/indexing/worker/WorkerTaskManager.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskManagerTest.java
  server/src/main/java/org/apache/druid/server/metrics/IndexerTaskCountStatsProvider.java
  server/src/main/java/org/apache/druid/server/metrics/WorkerTaskCountStatsMonitor.java
  server/src/test/java/org/apache/druid/server/metrics/WorkerTaskCountStatsMonitorTest.java
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
Labels: Area - Documentation, Area - Ingestion, Area - Metrics/Event Emitting

Minor cleanup
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
Labels: Area - Ingestion

More task side UTs
  benchmarks/src/test/java/org/apache/druid/benchmark/DruidSchemaInternRowSignatureBenchmark.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialCompactionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/concurrent/ConcurrentReplaceAndAppendTest.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
Labels: Area - Ingestion

Avoid conversion to String in JsonReader, JsonNodeReader. (#15693)
  benchmarks/pom.xml
  benchmarks/src/test/java/org/apache/druid/benchmark/JsonInputFormatBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/JsonLineReaderBenchmark.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/InputRowSchemas.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamSamplerSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SettableByteEntity.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/StreamChunkParser.java
  processing/src/main/java/org/apache/druid/data/input/InputEntity.java
  processing/src/main/java/org/apache/druid/data/input/impl/ByteEntity.java
  processing/src/main/java/org/apache/druid/data/input/impl/JsonNodeReader.java
  processing/src/main/java/org/apache/druid/data/input/impl/JsonReader.java
Labels: Area - Dependencies, Area - Ingestion

Fix up error handling for unusedSegments API.
  processing/src/main/java/org/apache/druid/java/util/common/Intervals.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
Labels: none

add example for numeric'
  docs/querying/sql-data-types.md
  docs/tutorials/tutorial-sql-null.md
Labels: Area - Documentation

add learn druid reference
  docs/tutorials/tutorial-sql-null.md
Labels: Area - Documentation

Apply suggestions from code review
  processing/src/main/java/org/apache/druid/java/util/common/Intervals.java
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
Labels: none

Checkstyle and error message fix.
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
Labels: none

fix spelling'
  docs/querying/sql-data-types.md
  docs/tutorials/tutorial-sql-null.md
Labels: Area - Documentation

change to emit always instead of just skips
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScaler.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Area - Documentation, Area - Ingestion

Update docs/querying/sql-data-types.md
  docs/querying/sql-data-types.md
Labels: Area - Documentation

Update docs/querying/sql-data-types.md
  docs/querying/sql-data-types.md
Labels: Area - Documentation

Update docs/querying/sql-data-types.md
  docs/querying/sql-data-types.md
Labels: Area - Documentation

Update docs/querying/sql-data-types.md
  docs/querying/sql-data-types.md
Labels: Area - Documentation

accept suggestions
  docs/querying/sql-data-types.md
  docs/tutorials/tutorial-sql-null.md
Labels: Area - Documentation

Replace filterAuthorizedResources with DatasourceResourceFilter and use builder.
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/main/java/org/apache/druid/server/http/security/DatasourceResourceFilter.java
Labels: none

fix failing test
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Area - Ingestion

Update error message when topic messages.
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: none

Apply suggestions from code review by @abhishekrb
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
Labels: Area - Ingestion

Cleanup IndexTaskTest
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrors.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
Labels: Area - Ingestion

Add heartbeat and zk-connected metric in defaultMetrics.json
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
Labels: Area - Metrics/Event Emitting

Fix formatting
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
Labels: Area - Ingestion

Add custom metrics
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/TaskActionTestKit.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueue.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaCache.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerProviderTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerSchemaPollTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentDataCacheConcurrencyTest.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheCommon.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
  server/src/test/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueueTest.java
  server/src/test/java/org/apache/druid/segment/metadata/SegmentSchemaCacheTest.java
Labels: Area - Ingestion

More fixes around guardrails and addressing last set of review comments
  docs/multi-stage-query/known-issues.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TooManyRowsInAWindowFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
Labels: Area - Batch Ingestion, Area - Documentation, Area - MSQ

Fixing a testcase after the merge
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

Fix up error handling in unusedSegments API. (#16206)
  processing/src/main/java/org/apache/druid/java/util/common/Intervals.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/main/java/org/apache/druid/server/http/security/DatasourceResourceFilter.java
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
Labels: none

remove junit-jupiter-api version to prevent inconsistent version
  extensions-contrib/kubernetes-overlord-extensions/pom.xml
Labels: Area - Dependencies, Kubernetes

cleanup, refactor for diff strategies
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/DictionaryBuildingUtils.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByColumnSelectorStrategyFactory.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/DictionaryBuildingGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/DimensionToIdConverter.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/FixedWidthGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/IdToDimensionConverter.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/KeyMappingGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/KeyMappingMultiValueGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/PrebuiltDictionaryGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/PrebuiltDictionaryStringGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/DictionaryBuildingSingleValueStringGroupByVectorColumnSelector.java
Labels: none

comments
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScaler.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Area - Documentation, Area - Ingestion

Add couple more tests
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Area - Ingestion

Fixing a test by using correct in filters for sql compat mode
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
Labels: Area - Batch Ingestion, Area - MSQ

Not documenting context flag and 1 more test change
  docs/multi-stage-query/known-issues.md
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
Labels: Area - Batch Ingestion, Area - Documentation, Area - MSQ
