Repository apache/druid, changes with the labels that .github/labeler.yml gives for each.
All labels: Area - Batch Ingestion, Area - Dependencies, Area - Documentation, Area - Ingestion, Area - Lookups, Area - Metrics/Event Emitting, Area - MSQ, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Web Console, Kubernetes, GHA

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

#
# Pull Request Labeler GitHub Action Configuration: https://github.com/marketplace/actions/labeler

'Area - Batch Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'indexing-hadoop/**'
      - 'extensions-core/multi-stage-query/**'

'Area - Dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - '**/pom.xml'
      - 'licenses.yaml'

'Area - Documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - 'website/**'
      - 'examples/quickstart/jupyter-notebooks/**'

'Area - Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'indexing-service/**'

'Area - Lookups':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/lookups-cached-global/**'
      - 'extensions-core/lookups-cached-single/**'
      - 'extensions-core/kafka-extraction-namespace/**'

'Area - Metrics/Event Emitting':
  - changed-files:
    - any-glob-to-any-file:
      - 'processing/src/main/java/org/apache/druid/java/util/metrics/**'
      - 'processing/src/main/java/org/apache/druid/java/util/emitter/**'
      - 'extensions-contrib/*-emitter/**'

'Area - MSQ':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/multi-stage-query/**'

'Area - Querying':
  - changed-files:
    - any-glob-to-any-file:
      - 'sql/**'
      - 'extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/**'

'Area - Segment Format and Ser/De':
  - changed-files:
    - any-glob-to-any-file:
      - 'processing/src/main/java/org/apache/druid/segment/**'

'Area - Streaming Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/kafka-indexing-service/**'
      - 'extensions-core/kinesis-indexing-service/**'

'Area - Web Console':
  - changed-files:
    - any-glob-to-any-file:
      - 'web-console/**'

'Kubernetes':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-contrib/kubernetes-overlord-extensions/**'

'GHA':
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

Visibility into LagBased AutoScaler desired task count (#16199)
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/AutoScalerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScaler.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScalerConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Area - Documentation, Area - Ingestion

* update matches function definition for Kafka Datasource Metadata
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaDataSourceMetadata.java
Labels: Area - Streaming Ingestion

JSONFlattenerMaker: Speed up charsetFix.
  processing/src/main/java/org/apache/druid/java/util/common/parsers/JSONFlattenerMaker.java
  processing/src/test/java/org/apache/druid/java/util/common/parsers/JSONFlattenerMakerTest.java
Labels: none

* fix
  sql/src/main/java/org/apache/druid/sql/calcite/table/RowSignatures.java
Labels: Area - Querying

update druid-toolkit to get bug fixes
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/dialogs/compaction-config-dialog/compaction-config-dialog.tsx
  web-console/src/druid-models/ingest-query-pattern/ingest-query-pattern.ts
  web-console/src/views/explore-view/filter-pane/filter-menu/time-interval-filter-control/time-interval-filter-control.tsx
  web-console/src/views/explore-view/filter-pane/filter-menu/time-relative-filter-control/time-relative-filter-control.tsx
  web-console/src/views/explore-view/filter-pane/pattern-helpers.ts
  web-console/src/views/sql-data-loader-view/sql-data-loader-view.tsx
Labels: Area - Dependencies, Area - Web Console

fix
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
Labels: Area - Ingestion

add-tests
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
Labels: Area - Ingestion

remove junit-jupiter-api version to prevent inconsistent version (#16210)
  extensions-contrib/kubernetes-overlord-extensions/pom.xml
Labels: Area - Dependencies, Kubernetes

Update server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
Labels: none

MSQ: Fix issue where AUTO assignment would not respect maxWorkerCount.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/stage/StripedReadablePartitions.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/WorkerAssignmentStrategy.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/controller/WorkerInputsTest.java
Labels: Area - Batch Ingestion, Area - MSQ

New test for inner limit on group by
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TooManyRowsInAWindowFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
Labels: Area - Batch Ingestion, Area - MSQ

Adding to known issues
  docs/multi-stage-query/known-issues.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
Labels: Area - Batch Ingestion, Area - Documentation, Area - MSQ

Fix coverage
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
Labels: Area - Ingestion

poison default implementation with negative size and error messaging, wire up smoosh analysis
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/SegmentAnalysis.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnPartSize.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnSize.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/column/SimpleColumnHolder.java
Labels: Area - Segment Format and Ser/De

license header
  processing/src/main/java/org/apache/druid/segment/column/ColumnSize.java
Labels: Area - Segment Format and Ser/De

more
  processing/src/main/java/org/apache/druid/segment/column/ColumnPart.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnPartSupplier.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnSupplier.java
Labels: Area - Segment Format and Ser/De

Use DruidLeaderSelector instead of DruidCoordinator in CliCoordinator.HearbeatSupplier
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: none

style
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnSize.java
  processing/src/main/java/org/apache/druid/segment/serde/DoubleNumericColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/FloatNumericColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/NullColumnPartSerde.java
Labels: Area - Segment Format and Ser/De

MSQ: Fix issue where AUTO assignment would not respect maxWorkerCount. (#16214)
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/stage/StripedReadablePartitions.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/WorkerAssignmentStrategy.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/controller/WorkerInputsTest.java
Labels: Area - Batch Ingestion, Area - MSQ

Use DruidLeaderSelector instead of DruidCoordinator in CliCoordinator.HeartbeatSupplier
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: none

styles
  extensions-contrib/spectator-histogram/src/main/java/org/apache/druid/spectator/histogram/SpectatorHistogramColumnPartSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSupplier.java
Labels: Area - Segment Format and Ser/De

Minor changes
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueue.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaCache.java
  server/src/test/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueueTest.java
Labels: none

group by on nested arrays, disallow topN and vector engine
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/DictionaryBuildingUtils.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/DictionaryBuildingGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/PrebuiltDictionaryGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
Labels: Area - Querying, Area - Segment Format and Ser/De

* add matchesOld
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaDataSourceMetadata.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaDataSourceMetadataTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/DataSourceMetadata.java
Labels: Area - Streaming Ingestion

Use DruidLeaderSelector in CliCoordinator.HearbeatSupplier (#16215)
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: none

Update docs/multi-stage-query/reference.md
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

Update docs/multi-stage-query/reference.md
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

Update docs/multi-stage-query/reference.md
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

comments
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
Labels: Area - Ingestion

Refactor: Add common method in AbstractBatchIndexTask to create ingestion stats report (#16202)
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrors.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrorsTaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ParseExceptionReport.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskReportSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
Labels: Area - Ingestion, Area - Streaming Ingestion

update-test
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
Labels: Area - Ingestion

* fix
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestGenerateSketchSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchEstimateWithErrorBoundsOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchEstimateWithErrorBoundsOperatorConversion.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
Labels: Area - Querying

hash stuff
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/DictionaryBuildingUtils.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/DictionaryBuildingGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/KeyMappingGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/KeyMappingMultiValueGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  processing/src/main/java/org/apache/druid/segment/column/NullableTypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/column/TypeStrategies.java
  processing/src/main/java/org/apache/druid/segment/column/TypeStrategy.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/column/FixedWidthGroupByColumnSelectorStrategyTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/column/NestedColumnGroupByColumnSelectorStrategyTest.java
  processing/src/test/java/org/apache/druid/segment/column/TypeStrategiesTest.java
Labels: Area - Segment Format and Ser/De

fixes
  processing/src/main/java/org/apache/druid/segment/column/ColumnSize.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/segment/column/ColumnTypeTest.java
Labels: Area - Segment Format and Ser/De

fix json response
  processing/src/main/java/org/apache/druid/query/metadata/metadata/ColumnAnalysis.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/SegmentAnalysis.java
Labels: none

comments
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
Labels: Area - Ingestion

update
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/views/workbench-view/column-tree/column-tree-menu/string-menu-items/string-menu-items.tsx
Labels: Area - Dependencies, Area - Web Console

fixes and tests
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnPartSize.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnSize.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarDoublesSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarFloatsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarDoublesSuppliers.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarFloatsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedVSizeColumnarIntsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressionFactory.java
  processing/src/main/java/org/apache/druid/segment/data/EntireLayoutColumnarDoublesSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/EntireLayoutColumnarFloatsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/EntireLayoutColumnarLongsSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/NoIndexesColumnIndexSupplier.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryTest.java
Labels: Area - Segment Format and Ser/De

fix test
  web-console/src/dialogs/compaction-config-dialog/__snapshots__/compaction-config-dialog.spec.tsx.snap
Labels: Area - Web Console

Cleanup serialization of TaskReport map
  indexing-service/src/main/java/org/apache/druid/indexing/common/KillTaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/SingleFileTaskReportFileWriter.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskReportSerdeTest.java
Labels: Area - Ingestion
