Repository apache/druid, changes with the labels that .github/labeler.yml gives for each.
All labels: Area - Batch Ingestion, Area - Dependencies, Area - Documentation, Area - Ingestion, Area - Lookups, Area - Metrics/Event Emitting, Area - MSQ, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Web Console, Kubernetes, GHA

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

#
# Pull Request Labeler GitHub Action Configuration: https://github.com/marketplace/actions/labeler

'Area - Batch Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'indexing-hadoop/**'
      - 'extensions-core/multi-stage-query/**'

'Area - Dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - '**/pom.xml'
      - 'licenses.yaml'

'Area - Documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - 'website/**'
      - 'examples/quickstart/jupyter-notebooks/**'

'Area - Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'indexing-service/**'

'Area - Lookups':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/lookups-cached-global/**'
      - 'extensions-core/lookups-cached-single/**'
      - 'extensions-core/kafka-extraction-namespace/**'

'Area - Metrics/Event Emitting':
  - changed-files:
    - any-glob-to-any-file:
      - 'processing/src/main/java/org/apache/druid/java/util/metrics/**'
      - 'processing/src/main/java/org/apache/druid/java/util/emitter/**'
      - 'extensions-contrib/*-emitter/**'

'Area - MSQ':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/multi-stage-query/**'

'Area - Querying':
  - changed-files:
    - any-glob-to-any-file:
      - 'sql/**'
      - 'extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/**'

'Area - Segment Format and Ser/De':
  - changed-files:
    - any-glob-to-any-file:
      - 'processing/src/main/java/org/apache/druid/segment/**'

'Area - Streaming Ingestion':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-core/kafka-indexing-service/**'
      - 'extensions-core/kinesis-indexing-service/**'

'Area - Web Console':
  - changed-files:
    - any-glob-to-any-file:
      - 'web-console/**'

'Kubernetes':
  - changed-files:
    - any-glob-to-any-file:
      - 'extensions-contrib/kubernetes-overlord-extensions/**'

'GHA':
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

Replace occurrences of Map<String, TaskReport>
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/Controller.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/client/ControllerChatHandler.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/WorkerChatHandlerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestOverlordServiceClient.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerContext.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/MultipleFileTaskReportFileWriter.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/SingleFileTaskReportFileWriter.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskReportFileWriter.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/GeneratedPartitionsMetadataReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/GeneratedPartitionsReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialHashSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialRangeSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PushedSegmentsReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/NoopTestTaskReportFileWriter.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

Populate segment stats for non-parallel compaction jobs (#16171)
  docs/ingestion/tasks.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
Labels: Area - Documentation, Area - Ingestion

more fix more test
  processing/src/main/java/org/apache/druid/segment/column/ColumnSize.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarFloatsSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/FloatNumericColumnSupplier.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryTest.java
Labels: Area - Segment Format and Ser/De

Web console: update druid-toolkit to get bug fixes (#16213)
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/dialogs/compaction-config-dialog/__snapshots__/compaction-config-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-config-dialog/compaction-config-dialog.tsx
  web-console/src/druid-models/ingest-query-pattern/ingest-query-pattern.ts
  web-console/src/views/explore-view/filter-pane/filter-menu/time-interval-filter-control/time-interval-filter-control.tsx
  web-console/src/views/explore-view/filter-pane/filter-menu/time-relative-filter-control/time-relative-filter-control.tsx
  web-console/src/views/explore-view/filter-pane/pattern-helpers.ts
  web-console/src/views/sql-data-loader-view/sql-data-loader-view.tsx
  web-console/src/views/workbench-view/column-tree/column-tree-menu/string-menu-items/string-menu-items.tsx
Labels: Area - Dependencies, Area - Web Console

* address review comments
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestGenerateSketchSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchEstimateWithErrorBoundsOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchEstimateWithErrorBoundsOperatorConversion.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
Labels: Area - Querying

Return TaskReport.ReportMap for live reports, fix test comparisons
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/MultiPhaseParallelIndexingRowStatsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
Labels: Area - Ingestion

Address test failures
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/client/ControllerChatHandlerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PushedSegmentsReportTest.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

comments
  processing/src/main/java/org/apache/druid/math/expr/Function.java
Labels: none

Suppress spelling error
  website/.spelling
Labels: Area - Documentation

Update pac4j comment
  owasp-dependency-check-suppressions.xml
Labels: none

store final computed to results
  processing/src/main/java/org/apache/druid/query/rowsandcols/semantic/DefaultFramedOnHeapAggregatable.java
Labels: none

Fix checkstyle error
  processing/src/main/java/org/apache/druid/frame/write/RowBasedFrameWriter.java
Labels: none

add curl
  distribution/docker/Dockerfile
  distribution/docker/docker-compose.yml
Labels: none

add curl
  distribution/docker/Dockerfile
Labels: none

Geo spatial interfaces (#16029)
  docs/querying/geo.md
  processing/src/main/java/org/apache/druid/collections/spatial/BaseImmutableRTee.java
  processing/src/main/java/org/apache/druid/collections/spatial/ImmutableFloatNode.java
  processing/src/main/java/org/apache/druid/collections/spatial/ImmutableFloatPoint.java
  processing/src/main/java/org/apache/druid/collections/spatial/ImmutableNode.java
  processing/src/main/java/org/apache/druid/collections/spatial/ImmutableRTree.java
  processing/src/main/java/org/apache/druid/collections/spatial/Node.java
  processing/src/main/java/org/apache/druid/collections/spatial/RTreeUtils.java
  processing/src/main/java/org/apache/druid/collections/spatial/search/Bound.java
  processing/src/main/java/org/apache/druid/collections/spatial/search/GutmanSearchStrategy.java
  processing/src/main/java/org/apache/druid/collections/spatial/search/PolygonBound.java
  processing/src/main/java/org/apache/druid/collections/spatial/search/RadiusBound.java
  processing/src/main/java/org/apache/druid/collections/spatial/search/RectangularBound.java
  processing/src/main/java/org/apache/druid/segment/DictionaryEncodedColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/SpatialIndex.java
  processing/src/test/java/org/apache/druid/collections/spatial/ImmutableRTreeTest.java
  processing/src/test/java/org/apache/druid/collections/spatial/SpatialUtils.java
  processing/src/test/java/org/apache/druid/collections/spatial/search/PolygonBoundTest.java
  processing/src/test/java/org/apache/druid/collections/spatial/search/RadiusBoundTest.java
  processing/src/test/java/org/apache/druid/collections/spatial/search/RectangularBoundTest.java
  website/.spelling
Labels: Area - Documentation, Area - Segment Format and Ser/De

Include heartbeat and zk-connected metric in PrometheusEmitter (#16209)
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
Labels: Area - Metrics/Event Emitting

some review, more tests
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByColumnSelectorStrategyFactory.java
  processing/src/main/java/org/apache/druid/segment/column/ObjectStrategyComplexTypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/column/TypeStrategies.java
  processing/src/main/java/org/apache/druid/segment/column/TypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexTypeSerde.java
  processing/src/main/java/org/apache/druid/segment/nested/StructuredData.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteGroupByQueryTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De

Fix CalciteQueryTest#testCountStarWithTimeFilterUsingStringLiterals
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

docs: add tutorial with examples of sql null handling (#16185)
  docs/querying/sql-data-types.md
  docs/tutorials/tutorial-sql-null.md
  website/sidebars.json
Labels: Area - Documentation

Check if constraint exists before altering table
  extensions-contrib/sqlserver-metadata-storage/src/main/java/org/apache/druid/metadata/storage/sqlserver/SQLServerConnector.java
  extensions-core/mysql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/mysql/MySQLConnector.java
  extensions-core/postgresql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/postgresql/PostgreSQLConnector.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/main/java/org/apache/druid/metadata/storage/derby/DerbyConnector.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataConnectorSchemaPersistenceTest.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataConnectorTest.java
Labels: none

* fix
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogInsertTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogInsertTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogReplaceTest.java
Labels: Area - Querying

Fix CalciteQueryTest#testCountStarWithTimeFilterUsingStringLiterals (#16221)
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

only pick kafka input format by default when needed (#16180)
  web-console/src/druid-models/ingestion-spec/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
Labels: Area - Web Console

* simplify tests
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogInsertTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogReplaceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogInsertTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogReplaceTest.java
Labels: Area - Querying

typo2
  web-console/src/components/header-bar/header-bar.tsx
Labels: Area - Web Console

Fix name of combining filtered aggregator factory.
  processing/src/main/java/org/apache/druid/query/aggregation/FilteredAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/aggregation/FilteredAggregatorFactoryTest.java
Labels: none

handle -ve offset in computing cummulative aggregate
  processing/src/main/java/org/apache/druid/query/rowsandcols/semantic/DefaultFramedOnHeapAggregatable.java
Labels: none

* fix complex type nullability issue
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
Labels: Area - Querying

Address review comments
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  processing/src/main/java/org/apache/druid/indexer/partitions/DynamicPartitionsSpec.java
  processing/src/main/java/org/apache/druid/timeline/CompactionState.java
  processing/src/test/java/org/apache/druid/timeline/DataSegmentTest.java
  website/.spelling
Labels: Area - Batch Ingestion, Area - Documentation, Area - Ingestion, Area - MSQ

Resolve checkstyle errors
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  processing/src/test/java/org/apache/druid/timeline/DataSegmentTest.java
Labels: Area - Batch Ingestion, Area - MSQ

fixup benchmark
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlGroupByBenchmark.java
Labels: none

Remove redundant comment
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
Labels: Area - Batch Ingestion, Area - MSQ
