Repository apache/druid, pull requests merged in 2018-07, with the labels that each got.

#5907 Fix ConcurrentModificationException in IncrementalPublishingKafkaIndexTaskRunner
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
Labels: Area - Kafka Indexing, Bug

#5805 Allow reordered segment allocation in kafka indexing service
  indexing-service/src/test/java/io/druid/indexing/common/task/IndexTaskTest.java
  java-util/src/main/java/io/druid/java/util/common/Pair.java
  server/src/main/java/io/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/io/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/BatchAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
  server/src/test/java/io/druid/segment/realtime/appenderator/BatchAppenderatorDriverTest.java
Labels: Area - Kafka Indexing, Bug

#5905 Fix the broken Appenderator contract in KafkaIndexTask
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIOConfig.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTaskClient.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/LegacyKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskClientTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/io/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/Task.java
  indexing-service/src/test/java/io/druid/indexing/common/task/IndexTaskTest.java
  server/src/main/java/io/druid/segment/realtime/appenderator/SegmentsAndMetadata.java
  server/src/main/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
Labels: Area - Kafka Indexing, Bug

#5927 Coordinator fix balance to try to move max segments instead of up to max segments
  server/src/main/java/io/druid/server/coordinator/helper/DruidCoordinatorBalancer.java
Labels: Area - Segment Balancing/Coordination

#5928 Coordinator slight optimization of load rule runner to skip drop if numToDrop is 0
  server/src/main/java/io/druid/server/coordinator/rules/LoadRule.java
Labels: Area - Segment Balancing/Coordination

#5929 More coordinator logging to help give context to load queue peon log messages
  server/src/main/java/io/druid/server/coordinator/CuratorLoadQueuePeon.java
  server/src/main/java/io/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/io/druid/server/coordinator/HttpLoadQueuePeon.java
  server/src/main/java/io/druid/server/coordinator/helper/DruidCoordinatorCleanupUnneeded.java
  server/src/main/java/io/druid/server/coordinator/rules/LoadRule.java
Labels: Area - Segment Balancing/Coordination

#5932 Proper handling of the exceptions from auto persisting in AppenderatorImpl.add()
  common/src/main/java/io/druid/common/guava/ThreadRenamingCallable.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorImpl.java
Labels: Area - Indexing, Area - Kafka Indexing, Bug

#5902 Prevent KafkaSupervisor NPE in generateSequenceName (#5900)
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
Labels: Area - Kafka Indexing, Bug

#5937 Forbid slashes in datasource names.
  server/src/main/java/io/druid/segment/indexing/DataSchema.java
Labels: Improvement

#5924 Fix filtered request logging docs
  docs/content/configuration/index.md
Labels: Area - Documentation

#5944 [Backport] Fix defaultQueryTimeout
  server/src/main/java/io/druid/client/DirectDruidClient.java
  server/src/main/java/io/druid/server/QueryLifecycle.java
  server/src/main/java/io/druid/server/SetAndVerifyContextQueryRunner.java
  server/src/test/java/io/druid/client/DirectDruidClientTest.java
Labels: Backport

#5942 [Backport] Fix for when Hadoop dataSource inputSpec is specified multiple times
  indexing-hadoop/src/main/java/io/druid/indexer/HadoopIngestionSpec.java
  indexing-hadoop/src/test/java/io/druid/indexer/HadoopIngestionSpecUpdateDatasourcePathSpecSegmentsTest.java
Labels: Backport

#5943 [Backport] Allow reordered segment allocation in kafka indexing service
  indexing-service/src/test/java/io/druid/indexing/common/task/IndexTaskTest.java
  java-util/src/main/java/io/druid/java/util/common/Pair.java
  server/src/main/java/io/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/io/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/BatchAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
  server/src/test/java/io/druid/segment/realtime/appenderator/BatchAppenderatorDriverTest.java
Labels: Backport

#5951 [Backport] fix NPE when buffersList contains null in SmooshedFileMapper
  java-util/src/main/java/io/druid/java/util/common/io/smoosh/SmooshedFileMapper.java
Labels: Backport

#5952 [Backport] fix freeSpacePercent in segmentCache.locations
  docs/content/configuration/historical.md
  examples/conf-quickstart/druid/historical/runtime.properties
  examples/conf/druid/historical/runtime.properties
  server/src/main/java/io/druid/segment/loading/StorageLocation.java
  server/src/test/java/io/druid/segment/loading/StorageLocationTest.java
Labels: Backport

#5946 [Backport] Coordinator balancer move then drop fix
  server/src/main/java/io/druid/client/AbstractCuratorServerInventoryView.java
  server/src/main/java/io/druid/server/coordinator/CuratorLoadQueuePeon.java
  server/src/main/java/io/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/io/druid/server/coordinator/helper/DruidCoordinatorRuleRunner.java
  server/src/test/java/io/druid/curator/CuratorTestBase.java
  server/src/test/java/io/druid/server/coordinator/CuratorDruidCoordinatorTest.java
Labels: Backport

#5945 [Backport] Segment filtering should be done by looking at the inner most query of a nested query
  processing/src/main/java/io/druid/query/BaseQuery.java
  processing/src/test/java/io/druid/query/groupby/GroupByQueryTest.java
Labels: Backport

#5959 Increase timeout for BlockingPoolTest
  common/src/test/java/io/druid/collections/BlockingPoolTest.java
Labels: Area - Testing, Bug

#5975 [Backport] Increase timeout for BlockingPoolTest
  common/src/test/java/io/druid/collections/BlockingPoolTest.java
Labels: Backport

#5972 [Backport] Prevent KafkaSupervisor NPE in generateSequenceName
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
Labels: Backport

#5971 [Backport] Fix Kafka Indexing task pause forever if no events in taskDuration
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
Labels: Backport

#5970 [Backport] Coordinator segment balancer max load queue fix
  server/src/main/java/io/druid/server/coordinator/helper/DruidCoordinatorBalancer.java
  server/src/test/java/io/druid/server/coordinator/DruidCoordinatorBalancerTest.java
Labels: Backport

#5969 [Backport] Fix inefficient available segment cache population in SQLMetadataSegmentManager
  server/src/main/java/io/druid/client/DruidDataSource.java
  server/src/main/java/io/druid/metadata/SQLMetadataSegmentManager.java
Labels: Backport

#5967 [Backport] Fix mismatch in revoked task locks between memory and metastore after sync from storage
  indexing-service/src/main/java/io/druid/indexing/overlord/MetadataTaskStorage.java
  indexing-service/src/main/java/io/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/test/java/io/druid/indexing/overlord/TaskLockboxTest.java
Labels: Backport

#5964 [Backport] Allow GCS data segment killer to delete if present
  extensions-contrib/google-extensions/src/main/java/io/druid/storage/google/GoogleDataSegmentKiller.java
Labels: Backport

#5963 [Backport] topN: Fix caching of Float dimension values
  processing/src/main/java/io/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/io/druid/query/topn/TopNQueryQueryToolChestTest.java
Labels: Backport

#5962 [Backport] Fix cache bug in stats module
  extensions-core/stats/src/main/java/io/druid/query/aggregation/variance/StandardDeviationPostAggregator.java
  extensions-core/stats/src/main/java/io/druid/query/aggregation/variance/VarianceAggregatorCollector.java
  extensions-core/stats/src/main/java/io/druid/query/aggregation/variance/VarianceAggregatorFactory.java
Labels: Backport

#5961 [Backport] revert lambda conversion to fix occasional jvm error
  server/src/main/java/io/druid/server/coordinator/DruidCoordinator.java
Labels: Backport

#5960 [Backport] add 'stopped' check and handling to HttpLoadQueuePeon load and drop segment methods
  server/src/main/java/io/druid/server/coordinator/HttpLoadQueuePeon.java
  server/src/test/java/io/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/io/druid/server/coordinator/HttpLoadQueuePeonTest.java
Labels: Backport

#5941 [Backport] Fix missing task type in task payload API
  indexing-service/src/main/java/io/druid/indexing/common/TaskStatus.java
  indexing-service/src/main/java/io/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/main/java/io/druid/indexing/overlord/http/TaskPayloadResponse.java
  indexing-service/src/main/java/io/druid/indexing/overlord/http/TaskStatusResponse.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordResourceTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordTest.java
Labels: Backport

#5973 [Backport] Fix ConcurrentModificationException in IncrementalPublishingKafkaIndexTaskRunner
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
Labels: Backport

#5966 [Backport] Immediately send 401 on basic HTTP authentication failure
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/BasicAuthUtils.java
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/authentication/BasicHTTPAuthenticator.java
  extensions-core/druid-basic-security/src/test/java/io/druid/security/authentication/BasicHTTPAuthenticatorTest.java
  server/src/main/java/io/druid/server/security/AuthenticationResult.java
Labels: Backport

#5968 [Backport] HdfsDataSegmentPusher: Close tmpIndexFile before copying it.
  extensions-core/hdfs-storage/src/main/java/io/druid/storage/hdfs/HdfsDataSegmentPusher.java
Labels: Backport

#5983 [Backport] Fix the broken Appenderator contract in KafkaIndexTask
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIOConfig.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTaskClient.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskClientTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/io/druid/indexing/common/task/Task.java
  server/src/main/java/io/druid/segment/realtime/appenderator/SegmentsAndMetadata.java
  server/src/main/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
Labels: Backport

#5984 [Backport] Proper handling of the exceptions from auto persisting in AppenderatorImpl.add()
  common/src/main/java/io/druid/common/guava/ThreadRenamingCallable.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorImpl.java
Labels: Backport

#5986 [Backport] Coordinator slight optimization of load rule runner to skip drop if numToDrop is 0
  server/src/main/java/io/druid/server/coordinator/rules/LoadRule.java
Labels: Backport

#5954 Fix bug in SegmentAnalyzer.analyzeComplexColumn() #5939
  processing/src/main/java/io/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/io/druid/segment/column/ComplexColumn.java
  processing/src/main/java/io/druid/segment/column/IndexedComplexColumn.java
Labels: Bug

#5978 Extend various test timeouts.
  common/src/test/java/io/druid/collections/BlockingPoolTest.java
  common/src/test/java/io/druid/collections/ReferenceCountingResourceHolderTest.java
  common/src/test/java/io/druid/collections/StupidPoolTest.java
  extensions-contrib/materialized-view-selection/src/test/java/io/druid/query/materializedview/DatasourceOptimizerTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/lookups-cached-global/src/test/java/io/druid/server/lookup/namespace/NamespacedExtractorModuleTest.java
  extensions-core/lookups-cached-global/src/test/java/io/druid/server/lookup/namespace/UriCacheGeneratorTest.java
  extensions-core/lookups-cached-global/src/test/java/io/druid/server/lookup/namespace/cache/CacheSchedulerTest.java
  extensions-core/lookups-cached-global/src/test/java/io/druid/server/lookup/namespace/cache/JdbcExtractionNamespaceTest.java
  extensions-core/lookups-cached-global/src/test/java/io/druid/server/lookup/namespace/cache/NamespaceExtractionCacheManagersTest.java
  indexing-service/src/test/java/io/druid/indexing/common/actions/LockAcquireActionTest.java
  indexing-service/src/test/java/io/druid/indexing/common/actions/LockTryAcquireActionTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/OverlordBlinkLeadershipTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/RemoteTaskRunnerRunPendingTasksConcurrencyTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/TaskLockBoxConcurrencyTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/TaskLockboxTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordTest.java
  indexing-service/src/test/java/io/druid/indexing/worker/WorkerTaskManagerTest.java
  indexing-service/src/test/java/io/druid/indexing/worker/WorkerTaskMonitorTest.java
  java-util/src/test/java/io/druid/concurrent/ConcurrentAwaitableCounterTest.java
  java-util/src/test/java/io/druid/java/util/emitter/core/EmitterTest.java
  java-util/src/test/java/io/druid/java/util/metrics/JvmMonitorTest.java
  processing/src/test/java/io/druid/query/ChainedExecutionQueryRunnerTest.java
  processing/src/test/java/io/druid/query/groupby/GroupByQueryRunnerFailureTest.java
  processing/src/test/java/io/druid/query/groupby/epinephelinae/StreamingMergeSortedGrouperTest.java
  processing/src/test/java/io/druid/segment/data/CompressionStrategyTest.java
  server/src/test/java/io/druid/client/HttpServerInventoryViewTest.java
  server/src/test/java/io/druid/curator/CuratorUtilsTest.java
  server/src/test/java/io/druid/curator/discovery/CuratorDruidLeaderSelectorTest.java
  server/src/test/java/io/druid/curator/discovery/CuratorDruidNodeAnnouncerAndDiscoveryTest.java
  server/src/test/java/io/druid/metadata/SQLMetadataStorageActionHandlerTest.java
  server/src/test/java/io/druid/query/lookup/LookupReferencesManagerTest.java
  server/src/test/java/io/druid/segment/realtime/RealtimeManagerTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/AppenderatorTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriverTest.java
  server/src/test/java/io/druid/segment/realtime/firehose/EventReceiverFirehoseTest.java
  server/src/test/java/io/druid/segment/realtime/plumber/RealtimePlumberSchoolTest.java
  server/src/test/java/io/druid/server/AsyncQueryForwardingServletTest.java
  server/src/test/java/io/druid/server/audit/SQLAuditManagerTest.java
  server/src/test/java/io/druid/server/coordination/ChangeRequestHttpSyncerTest.java
  server/src/test/java/io/druid/server/coordination/SegmentLoadDropHandlerTest.java
  server/src/test/java/io/druid/server/coordination/ZkCoordinatorTest.java
  server/src/test/java/io/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/io/druid/server/coordinator/HttpLoadQueuePeonTest.java
  server/src/test/java/io/druid/server/initialization/jetty/LimitRequestsFilterTest.java
  server/src/test/java/io/druid/server/lookup/cache/LookupCoordinatorManagerTest.java
  sql/src/test/java/io/druid/sql/avatica/DruidAvaticaHandlerTest.java
Labels: Area - Testing

#5874 show that flatten will also work with avro extension
  docs/content/ingestion/flatten-json.md
Labels: Area - Documentation

#5996 Fix NPE while handling CheckpointNotice in KafkaSupervisor
  extensions-contrib/materialized-view-maintenance/src/main/java/io/druid/indexing/materializedview/MaterializedViewSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIOConfig.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/io/druid/indexing/common/actions/CheckPointDataSourceMetadataAction.java
  indexing-service/src/main/java/io/druid/indexing/overlord/supervisor/SupervisorManager.java
  java-util/src/main/java/io/druid/java/util/emitter/EmittingLogger.java
  server/src/main/java/io/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
  server/src/main/java/io/druid/indexing/overlord/supervisor/Supervisor.java
  server/src/test/java/io/druid/server/metrics/ExceptionCapturingServiceEmitter.java
Labels: Area - Kafka Indexing, Bug

#6007 Move build badge to https://travis-ci.org/apache/incubator-druid
  README.md
Labels: Area - Documentation

#6012 [Backport] Fix NPE while handling CheckpointNotice in KafkaSupervisor
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIOConfig.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/io/druid/indexing/common/actions/CheckPointDataSourceMetadataAction.java
  indexing-service/src/main/java/io/druid/indexing/overlord/supervisor/SupervisorManager.java
  java-util/src/main/java/io/druid/java/util/emitter/EmittingLogger.java
  server/src/main/java/io/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
  server/src/main/java/io/druid/indexing/overlord/supervisor/Supervisor.java
  server/src/test/java/io/druid/server/metrics/ExceptionCapturingServiceEmitter.java
Labels: Backport

#5993 SQL: Add server-wide default time zone config.
  docs/content/querying/sql.md
  sql/src/main/java/io/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/main/java/io/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/io/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/test/java/io/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/io/druid/sql/calcite/expression/ExpressionsTest.java
Labels: Area - SQL

#6022 Log the full stack trace when an HTTP request fails
  server/src/main/java/io/druid/discovery/DruidLeaderClient.java
Labels: Error handling

#6015 Check the kafka topic when comparing checkpoints from tasks with the one stored in metastore
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisor.java
Labels: Area - Kafka Indexing, Bug

#6005 Add concat and textcat SQL functions
  docs/content/querying/sql.md
  sql/src/main/java/io/druid/sql/calcite/expression/builtin/ConcatOperatorConversion.java
  sql/src/main/java/io/druid/sql/calcite/expression/builtin/TextcatOperatorConversion.java
  sql/src/main/java/io/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/io/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Feature

#6029 Add comment and code tweak to Basic HTTP Authenticator
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/authentication/BasicHTTPAuthenticator.java
Labels: Security

#6033 Synchronize scheduled poll() calls in SQLMetadataRuleManager to prevent flakiness in SqlMetadataRuleManagerTest
  server/src/main/java/io/druid/metadata/SQLMetadataRuleManager.java
Labels: Bug

#6041 Synchronize scheduled poll() calls in SQLMetadataSegmentManager
  server/src/main/java/io/druid/metadata/SQLMetadataRuleManager.java
  server/src/main/java/io/druid/metadata/SQLMetadataSegmentManager.java
  server/src/test/java/io/druid/metadata/SQLMetadataSegmentManagerTest.java
Labels: Bug

#6050 Fix IllegalArgumentException in TaskLockBox.syncFromStorage() on rolling update
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/MergeTaskBase.java
  indexing-service/src/main/java/io/druid/indexing/common/task/NoopTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/RealtimeIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/Task.java
  indexing-service/src/main/java/io/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/test/java/io/druid/indexing/overlord/TaskLockboxTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordTest.java
  server/src/main/java/io/druid/metadata/DerbyMetadataStorageActionHandler.java
  server/src/main/java/io/druid/metadata/SQLMetadataStorageActionHandler.java
Labels: Area - Indexing, Bug

#6055 [Backport] Synchronize scheduled poll() calls in SQLMetadataRuleManager to prevent flakiness in SqlMetadataRuleManagerTest
  server/src/main/java/io/druid/metadata/SQLMetadataRuleManager.java
Labels: Backport

#6054 [Backport] Fix IllegalArgumentException in TaskLockBox.syncFromStorage()
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/MergeTaskBase.java
  indexing-service/src/main/java/io/druid/indexing/common/task/NoopTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/RealtimeIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/Task.java
  indexing-service/src/main/java/io/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordTest.java
  server/src/main/java/io/druid/metadata/DerbyMetadataStorageActionHandler.java
  server/src/main/java/io/druid/metadata/SQLMetadataStorageActionHandler.java
Labels: Backport

#6056 [Backport] Synchronize scheduled poll() calls in SQLMetadataSegmentManager
  server/src/main/java/io/druid/metadata/SQLMetadataRuleManager.java
  server/src/main/java/io/druid/metadata/SQLMetadataSegmentManager.java
  server/src/test/java/io/druid/metadata/SQLMetadataSegmentManagerTest.java
Labels: Backport

#6067 FinalizingFieldAccessPostAggregator: Fix serde.
  processing/src/main/java/io/druid/query/aggregation/post/FinalizingFieldAccessPostAggregator.java
  processing/src/test/java/io/druid/query/aggregation/post/FinalizingFieldAccessPostAggregatorTest.java
Labels: Area - Querying, Bug

#6059 CompactionTask: Reject empty intervals on construction.
  docs/content/ingestion/tasks.md
  indexing-service/src/main/java/io/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/IndexTask.java
  indexing-service/src/test/java/io/druid/indexing/common/task/CompactionTaskTest.java
Labels: Area - Indexing

#6061 skip travis on doc only changes
  .travis.yml
Labels: Area - Testing

#6062 Fix a bug in GroupByQueryEngine
  processing/src/main/java/io/druid/query/groupby/GroupByQueryEngine.java
Labels: Area - Querying, Bug

#6058 Remove some unnecessary task storage internal APIs.
  api/src/main/java/io/druid/indexer/TaskInfo.java
  common/src/main/java/io/druid/metadata/MetadataStorageActionHandler.java
  extensions-contrib/sqlserver-metadata-storage/src/test/java/io/druid/metadata/storage/sqlserver/CustomStatementRewriterTest.java
  indexing-service/src/main/java/io/druid/indexing/overlord/HeapMemoryTaskStorage.java
  indexing-service/src/main/java/io/druid/indexing/overlord/IndexerMetadataStorageAdapter.java
  indexing-service/src/main/java/io/druid/indexing/overlord/MetadataTaskStorage.java
  indexing-service/src/main/java/io/druid/indexing/overlord/TaskStorage.java
  indexing-service/src/main/java/io/druid/indexing/overlord/TaskStorageQueryAdapter.java
  indexing-service/src/main/java/io/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/test/java/io/druid/indexing/overlord/IndexerMetadataStorageAdapterTest.java
  server/src/main/java/io/druid/metadata/DerbyMetadataStorageActionHandler.java
  server/src/main/java/io/druid/metadata/MySQLMetadataStorageActionHandler.java
  server/src/main/java/io/druid/metadata/PostgreSQLMetadataStorageActionHandler.java
  server/src/main/java/io/druid/metadata/SQLMetadataStorageActionHandler.java
  server/src/main/java/io/druid/metadata/SQLServerMetadataStorageActionHandler.java
  server/src/test/java/io/druid/metadata/SQLMetadataStorageActionHandlerTest.java
Labels: Area - Indexing

#6045 Fix 'auto' encoded longs + compression serializer
  processing/src/main/java/io/druid/segment/data/BlockLayoutColumnarLongsSerializer.java
  processing/src/test/java/io/druid/segment/data/CompressedLongsAutoEncodingSerdeTest.java
Labels: Area - Segment Format and Ser/De, Bug

#6078 Add the '--fail-at-end' option to maven command for 'strictly compiled' part
  .travis.yml
Labels: Area - Testing

#6065 Fix CombiningFirehoseFactory with IngestSegmentFirehoseFactory in IndexTask
  indexing-service/src/main/java/io/druid/indexing/common/task/IndexTask.java
Labels: Area - Indexing, Bug

#6083 [Backport] Fix 'auto' encoded longs + compression serializer
  processing/src/main/java/io/druid/segment/data/BlockLayoutColumnarLongsSerializer.java
  processing/src/test/java/io/druid/segment/data/CompressedLongsAutoEncodingSerdeTest.java
Labels: Backport
