Repository apache/druid, pull requests merged in 2018-06, with the labels that each got.

#5403 Lazy-ify ValueMatcher BitSet optimization for string dimensions.
  benchmarks/src/main/java/io/druid/benchmark/FilterPartitionBenchmark.java
  processing/src/main/java/io/druid/segment/DimensionSelectorUtils.java
  processing/src/main/java/io/druid/segment/column/SimpleDictionaryEncodedColumn.java
Labels: Area - Querying, Performance

#5748 Moving averages for ingestion row stats
  common/pom.xml
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTaskClient.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorSpec.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskClientTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/io/druid/indexing/common/TaskRealtimeMetricsMonitorBuilder.java
  indexing-service/src/main/java/io/druid/indexing/common/index/RealtimeAppenderatorTuningConfig.java
  indexing-service/src/main/java/io/druid/indexing/common/stats/DropwizardRowIngestionMeters.java
  indexing-service/src/main/java/io/druid/indexing/common/stats/DropwizardRowIngestionMetersFactory.java
  indexing-service/src/main/java/io/druid/indexing/common/stats/RowIngestionMeters.java
  indexing-service/src/main/java/io/druid/indexing/common/stats/RowIngestionMetersFactory.java
  indexing-service/src/main/java/io/druid/indexing/common/stats/RowIngestionMetersTotals.java
  indexing-service/src/main/java/io/druid/indexing/common/stats/TaskRealtimeMetricsMonitor.java
  indexing-service/src/main/java/io/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/io/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/io/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/test/java/io/druid/indexing/common/TestUtils.java
  indexing-service/src/test/java/io/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/io/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/io/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/io/druid/indexing/common/task/TaskSerdeTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/TaskLifecycleTest.java
  pom.xml
  server/src/main/java/io/druid/indexing/overlord/supervisor/Supervisor.java
  server/src/main/java/io/druid/segment/realtime/FireDepartmentMetricsTaskMetricsGetter.java
  server/src/main/java/io/druid/segment/realtime/RealtimeMetricsMonitor.java
  services/src/main/java/io/druid/cli/CliMiddleManager.java
  services/src/main/java/io/druid/cli/CliOverlord.java
  services/src/main/java/io/druid/cli/CliPeon.java
  services/src/main/java/io/druid/guice/RealtimeModule.java
Labels: Area - Indexing, Feature

#5852 Lazy-ify IncrementalIndex filtering too.
  processing/src/main/java/io/druid/segment/DimensionSelectorUtils.java
  processing/src/main/java/io/druid/segment/StringDimensionIndexer.java
  processing/src/main/java/io/druid/segment/column/SimpleDictionaryEncodedColumn.java
Labels: Performance

#5842 Security - add anonymous authenticator
  docs/content/configuration/auth.md
  server/src/main/java/io/druid/server/security/AnonymousAuthenticator.java
  server/src/main/java/io/druid/server/security/AuthConfig.java
  server/src/main/java/io/druid/server/security/Authenticator.java
Labels: Feature, Security

#5750 Make the google storage extension friendlier to 429 and 5XX responses
  extensions-contrib/google-extensions/src/main/java/io/druid/firehose/google/StaticGoogleBlobStoreFirehoseFactory.java
  extensions-contrib/google-extensions/src/main/java/io/druid/storage/google/GoogleDataSegmentKiller.java
  extensions-contrib/google-extensions/src/main/java/io/druid/storage/google/GoogleDataSegmentPuller.java
  extensions-contrib/google-extensions/src/main/java/io/druid/storage/google/GoogleDataSegmentPusher.java
  extensions-contrib/google-extensions/src/main/java/io/druid/storage/google/GoogleUtils.java
  extensions-contrib/google-extensions/src/test/java/io/druid/storage/google/GoogleDataSegmentKillerTest.java
  extensions-contrib/google-extensions/src/test/java/io/druid/storage/google/GoogleDataSegmentPullerTest.java
  extensions-contrib/google-extensions/src/test/java/io/druid/storage/google/GoogleUtilsTest.java
Labels: Area - Deep Storage, Area - Extension

#5807 Fix defaultQueryTimeout
  server/src/main/java/io/druid/client/DirectDruidClient.java
  server/src/main/java/io/druid/server/QueryLifecycle.java
  server/src/main/java/io/druid/server/SetAndVerifyContextQueryRunner.java
  server/src/test/java/io/druid/client/DirectDruidClientTest.java
Labels: Area - Querying, Bug

#5788 Support projection after sorting in SQL
  sql/src/main/java/io/druid/sql/calcite/aggregation/Aggregation.java
  sql/src/main/java/io/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/io/druid/sql/calcite/rel/DruidQueryRel.java
  sql/src/main/java/io/druid/sql/calcite/rel/DruidSemiJoin.java
  sql/src/main/java/io/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/main/java/io/druid/sql/calcite/rel/SortProject.java
  sql/src/main/java/io/druid/sql/calcite/rule/DruidRules.java
  sql/src/main/java/io/druid/sql/calcite/rule/DruidSemiJoinRule.java
  sql/src/test/java/io/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL

#5873 HdfsDataSegmentPusher: Close tmpIndexFile before copying it.
  extensions-core/hdfs-storage/src/main/java/io/druid/storage/hdfs/HdfsDataSegmentPusher.java
Labels: Bug

#5850 Fix Zip Slip vulnerability
  indexing-hadoop/src/main/java/io/druid/indexer/JobHelper.java
  indexing-hadoop/src/main/java/io/druid/indexer/hadoop/DatasourceRecordReader.java
  indexing-hadoop/src/main/java/io/druid/indexer/updater/HadoopConverterJob.java
  indexing-hadoop/src/test/java/io/druid/indexer/JobHelperTest.java
  indexing-hadoop/src/test/resources/evil.zip
  java-util/src/main/java/io/druid/java/util/common/CompressionUtils.java
  java-util/src/test/java/io/druid/java/util/common/CompressionUtilsTest.java
Labels: Bug, Security

#5878 Fix inefficient available segment cache population in SQLMetadataSegmentManager
  server/src/main/java/io/druid/client/DruidDataSource.java
  server/src/main/java/io/druid/metadata/SQLMetadataSegmentManager.java
Labels: Bug, Performance

#5879 Remove evil.zip test file.
  indexing-hadoop/src/test/resources/evil.zip
Labels: Area - Testing

#5856 Immediately send 401 on basic HTTP authentication failure
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/BasicAuthUtils.java
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/authentication/BasicHTTPAuthenticator.java
  extensions-core/druid-basic-security/src/test/java/io/druid/security/authentication/BasicHTTPAuthenticatorTest.java
  server/src/main/java/io/druid/server/security/AuthenticationResult.java
Labels: Bug, Security

#5701 Provisioning support for ZooKeeper Authorization
  docs/content/configuration/index.md
  server/src/main/java/io/druid/curator/CuratorConfig.java
  server/src/main/java/io/druid/curator/CuratorModule.java
  server/src/test/java/io/druid/curator/CuratorConfigTest.java
Labels: Area - Documentation, Area - Zookeeper/Curator

#5880 CalciteQueryTest: Add more subquery tests.
  sql/src/test/java/io/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Area - Testing

#5891 Make DruidPlanner constructor public again
  sql/src/main/java/io/druid/sql/calcite/planner/DruidPlanner.java
Labels: Area - SQL

#5854 Splitting KafkaIndexTask for better code maintenance
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/LegacyKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskTest.java
  indexing-service/src/main/java/io/druid/indexing/common/IngestionStatsAndErrorsTaskReportData.java
Labels: Area - Kafka Indexing

#5883 Use ReentrantReadWriteLock in DimensionDictionary
  processing/src/main/java/io/druid/segment/StringDimensionIndexer.java
Labels: Area - Indexing, Performance

#5912 [SQL] Fix missing postAggregations for Timeseries and TopN
  processing/src/main/java/io/druid/segment/VirtualColumns.java
  sql/src/main/java/io/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/io/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug
