Repository apache/druid, pull requests merged in 2018-10, with the labels that each got.

#6411 SQL: Fix too-long headers in http responses.
  docs/content/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/http/ArrayLinesWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ArrayWriter.java
  sql/src/main/java/org/apache/druid/sql/http/CsvWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectLinesWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ResultFormat.java
  sql/src/main/java/org/apache/druid/sql/http/SqlQuery.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/calcite/http/SqlQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/http/SqlResourceTest.java
Labels: Area - SQL, Bug

#6383 Prevent failed KafkaConsumer creation from blocking overlord startup
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RealtimeIndexTask.java
Labels: Area - Kafka Indexing, Bug

#6417 Upgrade Netty to 4.1.x
  extensions-contrib/druid-rocketmq/pom.xml
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/authentication/BasicHTTPAuthenticatorTest.java
  java-util/src/main/java/org/apache/druid/java/util/common/StringUtils.java
  java-util/src/test/java/org/apache/druid/java/util/emitter/core/EmitterTest.java
  pom.xml
Labels: HTTP, Release Notes

#6423 Improve GC metrics documentation
  docs/content/operations/metrics.md
Labels: Area - Documentation, Area - Metrics/Event Emitting

#6326 Add support hash partitioning by a subset of dimensions to indexTask
  docs/content/ingestion/native_tasks.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestUtils.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  server/src/main/java/org/apache/druid/timeline/partition/HashBasedNumberedShardSpec.java
Labels: Area - Indexing

#6428 Fail compactionTask if it fails to run one of indexTaskSpecs
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
Labels: Area - Indexing

#6418 HttpPostEmitterMonitor: don't emit maxTime and minTime if no times were recorded
  java-util/src/main/java/org/apache/druid/java/util/emitter/core/ConcurrentTimeCounter.java
  java-util/src/main/java/org/apache/druid/java/util/metrics/HttpPostEmitterMonitor.java
Labels: Area - Metrics/Event Emitting, Improvement

#6429 Fix CompactionTask to consider only latest segments
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
Labels: Bug

#6427 replace deprecated druid.port by druid.plaintextPort in docs
  docs/content/development/router.md
  examples/conf/druid/broker/runtime.properties
  examples/conf/druid/coordinator/runtime.properties
  examples/conf/druid/historical/runtime.properties
  examples/conf/druid/middleManager/runtime.properties
  examples/conf/druid/overlord/runtime.properties
  examples/quickstart/tutorial/conf/druid/broker/runtime.properties
  examples/quickstart/tutorial/conf/druid/coordinator/runtime.properties
  examples/quickstart/tutorial/conf/druid/historical/runtime.properties
  examples/quickstart/tutorial/conf/druid/middleManager/runtime.properties
  examples/quickstart/tutorial/conf/druid/overlord/runtime.properties
Labels: Release Notes

#6437 Remove Aggregator.clone() methods
  extensions-contrib/time-min-max/src/main/java/org/apache/druid/query/aggregation/TimestampAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/CountAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/DoubleMaxAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/DoubleMinAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/DoubleSumAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/FloatMaxAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/FloatMinAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/FloatSumAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/LongMaxAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/LongMinAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/LongSumAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniquesAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregatorTest.java
Labels: Improvement

#6219 Add optional `name` to top level of FilteredAggregatorFactory
  processing/src/main/java/org/apache/druid/query/aggregation/FilteredAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/aggregation/FilteredAggregatorFactoryTest.java
Labels: Area - Querying, Compatibility, Design Review, Release Notes

#6452 Remove SQL firehose from 0.12.3 docs
  docs/content/ingestion/firehose.md
Labels: Area - Documentation, Backport, Bug

#4033 Query Response format to be based on http 'accept' header & Query Payload content type to be based on 'content-type' header
  docs/content/querying/querying.md
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
Labels: Feature

#6456 Enforce Druid's exception class use
  .idea/inspectionProfiles/Druid.xml
  api/src/main/java/org/apache/druid/indexer/TaskStatusPlus.java
  common/src/main/java/org/apache/druid/indexer/Jobby.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/BasicAuthUtils.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/BloomDimFilter.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClient.java
  java-util/src/main/java/org/apache/druid/java/util/emitter/core/ParametrizedUriExtractor.java
  java-util/src/main/java/org/apache/druid/java/util/http/client/NettyHttpClient.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
Labels: Improvement

#6377 Use NodeType enum instead of Strings
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/CommonCacheNotifier.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/LegacyKafkaIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidNodeAnnouncer.java
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/discovery/DiscoveryDruidNode.java
  server/src/main/java/org/apache/druid/discovery/DruidLeaderClient.java
  server/src/main/java/org/apache/druid/discovery/DruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/discovery/NodeType.java
  server/src/main/java/org/apache/druid/guice/CoordinatorDiscoveryModule.java
  server/src/main/java/org/apache/druid/guice/IndexingServiceDiscoveryModule.java
  server/src/main/java/org/apache/druid/server/coordination/ServerType.java
  server/src/main/java/org/apache/druid/server/http/ClusterResource.java
  server/src/main/java/org/apache/druid/server/router/TieredBrokerHostSelector.java
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
  server/src/test/java/org/apache/druid/curator/discovery/CuratorDruidNodeAnnouncerAndDiscoveryTest.java
  server/src/test/java/org/apache/druid/discovery/DruidLeaderClientTest.java
  server/src/test/java/org/apache/druid/discovery/DruidNodeDiscoveryProviderTest.java
  server/src/test/java/org/apache/druid/server/lookup/cache/LookupNodeDiscoveryTest.java
  server/src/test/java/org/apache/druid/server/router/TieredBrokerHostSelectorTest.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  services/src/main/java/org/apache/druid/cli/CliHistorical.java
  services/src/main/java/org/apache/druid/cli/CliMiddleManager.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  services/src/main/java/org/apache/druid/cli/CliRouter.java
  services/src/main/java/org/apache/druid/cli/ServerRunnable.java
Labels: Improvement

#6425 Emit emitter/buffers/allocated/delta and emitter/buffers/failed/delta
  core/src/main/java/org/apache/druid/java/util/emitter/core/HttpPostEmitter.java
  core/src/main/java/org/apache/druid/java/util/metrics/HttpPostEmitterMonitor.java
  core/src/test/java/org/apache/druid/java/util/emitter/core/HttpPostEmitterStressTest.java
Labels: Area - Metrics/Event Emitting, Design Review, Release Notes

#6462 SQL: Support for selecting multi-value dimensions.
  sql/src/main/java/org/apache/druid/sql/calcite/rel/QueryMaker.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/http/SqlResourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - SQL, Bug

#6464 make druid node bind address configurable
  docs/content/configuration/index.md
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/NamespaceLookupExtractorFactoryTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/OffHeapNamespaceExtractionCacheManagerTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/OnHeapNamespaceExtractionCacheManagerTest.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/updater/HadoopDruidConverterConfig.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/path/DatasourcePathSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskMonitorTest.java
  integration-tests/src/main/java/org/apache/druid/testing/guice/DruidTestModule.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/ServiceAnnouncingChatHandlerProvider.java
  server/src/main/java/org/apache/druid/server/DruidNode.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/JettyServerModule.java
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
  server/src/test/java/org/apache/druid/client/cache/CacheMonitorTest.java
  server/src/test/java/org/apache/druid/curator/discovery/CuratorDruidLeaderSelectorTest.java
  server/src/test/java/org/apache/druid/curator/discovery/CuratorDruidNodeAnnouncerAndDiscoveryTest.java
  server/src/test/java/org/apache/druid/discovery/DruidLeaderClientTest.java
  server/src/test/java/org/apache/druid/discovery/DruidNodeDiscoveryProviderTest.java
  server/src/test/java/org/apache/druid/initialization/InitializationTest.java
  server/src/test/java/org/apache/druid/query/lookup/LookupListeningAnnouncerConfigTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/ServiceAnnouncingChatHandlerProviderTest.java
  server/src/test/java/org/apache/druid/server/AsyncManagementForwardingServletTest.java
  server/src/test/java/org/apache/druid/server/AsyncQueryForwardingServletTest.java
  server/src/test/java/org/apache/druid/server/DruidNodeTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/initialization/JettyBindOnHostTest.java
  server/src/test/java/org/apache/druid/server/initialization/JettyQosTest.java
  server/src/test/java/org/apache/druid/server/initialization/JettyTest.java
  server/src/test/java/org/apache/druid/server/lookup/cache/LookupNodeDiscoveryTest.java
  server/src/test/java/org/apache/druid/server/metrics/MetricsModuleTest.java
  server/src/test/java/org/apache/druid/server/router/TieredBrokerHostSelectorTest.java
  services/src/main/java/org/apache/druid/cli/CreateTables.java
  services/src/main/java/org/apache/druid/cli/InsertSegment.java
  services/src/main/java/org/apache/druid/cli/ResetCluster.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
Labels: Feature

#6470 Prohibit using Object|Long|Float|DoubleColumnSelector in instanceof statements
  codestyle/checkstyle.xml
  extensions-contrib/time-min-max/src/main/java/org/apache/druid/query/aggregation/TimestampAggregatorFactory.java
  processing/src/main/java/org/apache/druid/segment/BaseNullableColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/ObjectColumnSelector.java
Labels: Bug

#6475 add DISCLAIMER file and modify NOTICE file for ASF
  DISCLAIMER
  NOTICE
Labels: Apache

#6482 Apache-ize POM
  DruidCorporateCLA.pdf
  DruidIndividualCLA.pdf
  distribution/pom.xml
  distribution/src/assembly/assembly.xml
  distribution/src/assembly/source-assembly.xml
  pom.xml
Labels: Apache

#6492 fix TaskRunnerUtils String formatting issue
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskRunnerUtils.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
Labels: Bug

#6479 Fix integration test service logging
  integration-tests/docker/broker.conf
  integration-tests/docker/coordinator.conf
  integration-tests/docker/historical.conf
  integration-tests/docker/middlemanager.conf
  integration-tests/docker/overlord.conf
  integration-tests/docker/router-no-client-auth-tls.conf
  integration-tests/docker/router-permissive-tls.conf
  integration-tests/docker/router.conf
  integration-tests/run_cluster.sh
Labels: Area - Testing, Bug

#5471 Implement force push down for nested group by query
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITNestedQueryPushDownTest.java
  integration-tests/src/test/resources/indexer/wikiticker_index_task.json
  integration-tests/src/test/resources/queries/nestedquerypushdown_queries.json
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/SubqueryQueryRunner.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByRowProcessor.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV1.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedQueryPushDownTest.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
Labels: Area - Querying, Performance

#6432 Allow custom TLS cert checks
  docs/content/development/extensions-core/simple-client-sslcontext.md
  docs/content/operations/tls-support.md
  extensions-core/simple-client-sslcontext/src/main/java/org/apache/druid/https/SSLClientConfig.java
  extensions-core/simple-client-sslcontext/src/main/java/org/apache/druid/https/SSLContextProvider.java
  integration-tests/docker/Dockerfile
  integration-tests/docker/router-custom-check-tls.conf
  integration-tests/run_cluster.sh
  integration-tests/src/main/java/org/apache/druid/testing/ConfigFileConfigProvider.java
  integration-tests/src/main/java/org/apache/druid/testing/DockerConfigProvider.java
  integration-tests/src/main/java/org/apache/druid/testing/IntegrationTestingConfig.java
  integration-tests/src/main/java/org/apache/druid/testing/guice/DruidTestModuleFactory.java
  integration-tests/src/main/java/org/apache/druid/testing/guice/ITTLSCertificateCheckerModule.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/ITTLSCertificateChecker.java
  integration-tests/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  integration-tests/src/test/java/org/apache/druid/tests/security/ITTLSTest.java
  integration-tests/stop_cluster.sh
  server/src/main/java/org/apache/druid/initialization/Initialization.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/ChatHandlerServerModule.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/JettyServerModule.java
  server/src/main/java/org/apache/druid/server/security/CustomCheckX509TrustManager.java
  server/src/main/java/org/apache/druid/server/security/DefaultTLSCertificateChecker.java
  server/src/main/java/org/apache/druid/server/security/DefaultTLSCertificateCheckerModule.java
  server/src/main/java/org/apache/druid/server/security/TLSCertificateChecker.java
  server/src/main/java/org/apache/druid/server/security/TLSCertificateCheckerModule.java
  server/src/main/java/org/apache/druid/server/security/TLSUtils.java
Labels: Feature, Security

#6512 Fix NPE in TaskLockbox that prevents overlord leadership
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/MetadataTaskStorage.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
Labels: Bug

#6514 Update init
  examples/bin/init
Labels: Bug

#6516 fix exception in Supervisor.start causing overlord unable to become leader
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
Labels: Bug

#6508 fix KafkaSupervisor stats report error
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
Labels: Bug

#6520 Remove unused bin/init script, conf-quickstart reference
  docs/content/tutorials/cluster.md
  examples/bin/init
Labels: Area - Documentation

#6554 Set new keys for integration-tests.
  integration-tests/docker/historical.conf
  integration-tests/docker/middlemanager.conf
Labels: Area - Testing

#6560 [Backport] Set new keys for integration-tests.
  integration-tests/docker/historical.conf
  integration-tests/docker/middlemanager.conf
Labels: Backport
