Repository apache/druid, pull requests merged in 2018-11, with the labels that each got.

#6562 [Backport] Remove unused bin/init script, conf-quickstart reference (#6520)
  docs/content/tutorials/cluster.md
  examples/bin/init
Labels: Area - Documentation, Backport

#6561 Add doc for missing balancerComputeThreads configuration
  docs/content/configuration/index.md
Labels: Area - Documentation

#6555 Move supervisor APIs to api-reference
  docs/content/development/extensions-core/kafka-ingestion.md
  docs/content/operations/api-reference.md
Labels: Area - Documentation

#6568 correct default tier name for router
  docs/content/development/router.md
Labels: Area - Documentation

#6480 Hide NullDimensionSelector from public
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/search/SearchQueryRunner.java
  processing/src/main/java/org/apache/druid/segment/ConstantDimensionSelector.java
  processing/src/main/java/org/apache/druid/segment/DimensionSelector.java
  processing/src/main/java/org/apache/druid/segment/DimensionSelectorUtils.java
  processing/src/main/java/org/apache/druid/segment/NullDimensionSelector.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/test/java/org/apache/druid/segment/ConstantDimensionSelectorTest.java
Labels: Improvement

#6552 Use current coordinator leader instead of cached one (#6551)
  server/src/main/java/org/apache/druid/client/DirectDruidClient.java
  server/src/main/java/org/apache/druid/client/JsonParserIterator.java
  server/src/main/java/org/apache/druid/discovery/DruidLeaderClient.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
Labels: Bug

#6584 fix druid-bloom-filter thread-safety
  NOTICE
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/guice/BloomFilterSerializersModule.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/BloomDimFilter.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/BloomKFilter.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/BloomKFilterHolder.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/filter/BloomDimFilterTest.java
Labels: Bug

#6599 Optimization for expressions that hit a single long column.
  benchmarks/src/main/java/org/apache/druid/benchmark/ExpressionSelectorBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/datagen/SegmentGenerator.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/SingleLongInputCachingExpressionColumnValueSelector.java
Labels: Performance

#6596 SQL: Add "POSITION" function.
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  docs/content/misc/math-expr.md
  docs/content/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/PositionOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
Labels: Area - SQL

#6619 [Backport] fix druid-bloom-filter thread-safety
  NOTICE
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/guice/BloomFilterSerializersModule.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/BloomDimFilter.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/BloomKFilter.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/BloomKFilterHolder.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/filter/BloomDimFilterTest.java
Labels: Backport

#6612 [Backport] Remove unnecessary path param from auto compaction api
  docs/content/configuration/index.md
  docs/content/operations/api-reference.md
  server/src/main/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResource.java
Labels: Backport

#6608 [Backport] fix kafka indexing task not processing through end offsets on publish
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
Labels: Backport

#6601 SQL: Support AVG on system tables.
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Rules.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#6595 SQL: Set INFORMATION_SCHEMA catalog name to "druid".
  sql/src/main/java/org/apache/druid/sql/calcite/schema/InformationSchema.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
Labels: Area - SQL

#6591 Deprecate IntervalChunkingQueryRunner
  docs/content/configuration/index.md
  docs/content/operations/metrics.md
  docs/content/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/DefaultQueryMetrics.java
  processing/src/main/java/org/apache/druid/query/IntervalChunkingQueryRunner.java
  processing/src/main/java/org/apache/druid/query/IntervalChunkingQueryRunnerDecorator.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/groupby/DefaultGroupByQueryMetricsFactory.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/search/SearchQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/select/SelectQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/timeseries/DefaultTimeseriesQueryMetricsFactory.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
Labels: Release Notes

#6614 [Backport] Use current coordinator leader instead of cached one
  server/src/main/java/org/apache/druid/client/DirectDruidClient.java
  server/src/main/java/org/apache/druid/client/JsonParserIterator.java
  server/src/main/java/org/apache/druid/discovery/DruidLeaderClient.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
Labels: Backport

#6616 Fix bugs in ExprEval and GroupByQuery
  common/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
Labels: Backport

#6617 Fix bugs in ExprEval
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
Labels: Bug

#6622 Properly reset total size of segmentsToCompact in NewestSegmentFirstIterator
  server/src/main/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstPolicyTest.java
Labels: Bug

#6627 [Backport] Properly reset total size of segmentsToCompact in NewestSegmentFirstIterator
  server/src/main/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstPolicyTest.java
Labels: Backport

#6631 Remove backpressure time from DefaultQueryMetrics pending on-going discussion
  processing/src/main/java/org/apache/druid/query/DefaultQueryMetrics.java
  processing/src/test/java/org/apache/druid/query/DefaultQueryMetricsTest.java
Labels: Area - Metrics/Event Emitting

#6590 optimize input row parsers
  core/src/main/java/org/apache/druid/data/input/impl/MapInputRowParser.java
  extensions-contrib/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcHadoopInputRowParser.java
  extensions-contrib/thrift-extensions/src/main/java/org/apache/druid/data/input/thrift/ThriftInputRowParser.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/AvroHadoopInputRowParser.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/AvroStreamInputRowParser.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroParsers.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/avro/ParquetAvroHadoopInputRowParser.java
  extensions-core/protobuf-extensions/src/main/java/org/apache/druid/data/input/protobuf/ProtobufInputRowParser.java
Labels: Improvement

#6632 [Backport] remove backpressure time from DefaultQueryMetrics pending on-going discussion (#6631)
  processing/src/main/java/org/apache/druid/query/DefaultQueryMetrics.java
  processing/src/test/java/org/apache/druid/query/DefaultQueryMetricsTest.java
Labels: Backport

#6600 Expressions: Fix improper supplier reuse with missing columns.
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVirtualColumnTest.java
Labels: Bug

#6639 kafkasupervisor checkpointing bug
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
Labels: Area - Kafka Indexing, Bug

#6636 Fix Hadoop Indexing doc to clarify segmentOutputPath only required for CLI indexer
  docs/content/ingestion/hadoop.md
Labels: Area - Documentation

#6644 Kafka: Add warning to doc for earlyMessageRejectionPeriod.
  docs/content/development/extensions-core/kafka-ingestion.md
Labels: Area - Documentation

#6605 Support DogStatsD style tags in statsd-emitter
  docs/content/development/extensions-contrib/statsd.md
  extensions-contrib/statsd-emitter/pom.xml
  extensions-contrib/statsd-emitter/src/main/java/org/apache/druid/emitter/statsd/DimensionConverter.java
  extensions-contrib/statsd-emitter/src/main/java/org/apache/druid/emitter/statsd/StatsDEmitter.java
  extensions-contrib/statsd-emitter/src/main/java/org/apache/druid/emitter/statsd/StatsDEmitterConfig.java
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/DimensionConverterTest.java
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/StatsDEmitterTest.java
Labels: Improvement

#6650 Use PasswordProvider for basic HTTP escalator
  docs/content/development/extensions-core/druid-basic-security.md
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authentication/BasicHTTPEscalator.java
Labels: Bug, Security

#6592 tasks tables in metadata storage are not cleared
  core/src/main/java/org/apache/druid/metadata/MetadataStorageActionHandler.java
  docs/content/configuration/index.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/HeapMemoryTaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/MetadataTaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/helpers/TaskLogAutoCleaner.java
  server/src/main/java/org/apache/druid/metadata/DerbyMetadataStorageActionHandler.java
  server/src/main/java/org/apache/druid/metadata/PostgreSQLMetadataStorageActionHandler.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataStorageActionHandler.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataStorageActionHandlerTest.java
Labels: Release Notes

#6558 Find duplicate lines with checkstyle; enable some duplicate inspections in IntelliJ
  .idea/inspectionProfiles/Druid.xml
  benchmarks/src/main/java/org/apache/druid/benchmark/query/SearchBenchmark.java
  codestyle/checkstyle-suppressions.xml
  codestyle/checkstyle.xml
  core/src/main/java/org/apache/druid/jackson/CommaListJoinDeserializer.java
  core/src/main/java/org/apache/druid/jackson/CommaListJoinSerializer.java
  core/src/test/java/org/apache/druid/indexer/TaskStatusPlusTest.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchJsonSerializer.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/JdbcExtractionNamespaceTest.java
  processing/src/main/java/org/apache/druid/guice/NullHandlingModule.java
  processing/src/main/java/org/apache/druid/jackson/DruidDefaultSerializersModule.java
  processing/src/main/java/org/apache/druid/jackson/JodaStuff.java
  services/src/main/java/org/apache/druid/cli/DumpSegment.java
Labels: Bug

#6664 Fix a race in FileSessionCredentialsProvider
  aws-common/src/main/java/org/apache/druid/common/aws/FileSessionCredentialsProvider.java
Labels: Bug

#6669 Remove duplicate DataSegmentTest (fixes #6064)
  core/src/test/java/org/apache/druid/timeline/DataSegmentTest.java
  server/src/test/java/org/apache/druid/timeline/DataSegmentTest.java
Labels: Area - Testing

#6663 Emit query metrics even if the ETags are equal
  server/src/main/java/org/apache/druid/server/QueryResource.java
Labels: Area - Metrics/Event Emitting

#6649 Fix IndexTaskClient to retry on ChannelException
  indexing-service/src/main/java/org/apache/druid/indexing/common/IndexTaskClient.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/IndexTaskClientTest.java
Labels: Bug

#6656 fix missing property in JsonTypeInfo of SegmentWriteOutMediumFactory
  docs/content/configuration/index.md
  docs/content/development/extensions-core/kafka-ingestion.md
  docs/content/ingestion/native_tasks.md
  docs/content/ingestion/stream-pull.md
  processing/src/main/java/org/apache/druid/segment/writeout/SegmentWriteOutMediumFactory.java
Labels: Area - Documentation, Incompatible, Release Notes

#6671 indexing-service: fix HTML title on overlord console
  indexing-service/src/main/resources/indexer_static/console.html
Labels: Improvement

#6587 emit maxLag/avgLag in KafkaSupervisor
  docs/content/operations/metrics.md
  extensions-contrib/opentsdb-emitter/src/main/resources/defaultMetrics.json
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
Labels: Area - Metrics/Event Emitting

#6679 fix cannot resolve param at OverlordResource#getTasks
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
Labels: Bug

#6686 Fix overlord api and console
  docs/content/operations/api-reference.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/main/resources/indexer_static/js/console-0.0.1.js
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  server/src/main/java/org/apache/druid/server/http/security/DatasourceResourceFilter.java
Labels: Bug

#6688 [Backport] Fix overlord api and console
  docs/content/operations/api-reference.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/main/resources/indexer_static/js/console-0.0.1.js
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  server/src/main/java/org/apache/druid/server/http/security/DatasourceResourceFilter.java
Labels: Backport

#6693 remove #658 doc reference for Schema-less design
  docs/content/ingestion/schema-design.md
Labels: Area - Documentation

#6694 remove extensions that would prevent startup without additional configuration/libraries from example configs
  docs/content/development/extensions-core/s3.md
  docs/content/operations/including-extensions.md
  docs/content/operations/pull-deps.md
  examples/conf/druid/_common/common.runtime.properties
  examples/quickstart/tutorial/conf/druid/_common/common.runtime.properties
Labels: Area - Documentation

#6695 [Backport] remove extensions that would prevent startup without additional configuration/libraries from example configs
  docs/content/development/extensions-core/s3.md
  docs/content/operations/including-extensions.md
  docs/content/operations/pull-deps.md
  examples/conf/druid/_common/common.runtime.properties
  examples/quickstart/tutorial/conf/druid/_common/common.runtime.properties
Labels: Area - Documentation, Backport
