Repository apache/druid, pull requests merged in 2018-03, with the labels that each got.

#5438 Make memcached protocol and locator configurable.
  docs/content/configuration/caching.md
  server/src/main/java/io/druid/client/cache/MemcachedCache.java
  server/src/main/java/io/druid/client/cache/MemcachedCacheConfig.java
Labels: Area - Cache

#5444 Add the missing default task priority for kafka indexing
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
Labels: Bug

#5446 [Backport] Add missing default task priority for kafka indexing
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
Labels: Backport

#5453 Fix GroupBy limit push down descending sorting on numeric columns
  processing/src/main/java/io/druid/query/groupby/GroupByQuery.java
  processing/src/test/java/io/druid/query/groupby/GroupByLimitPushDownMultiNodeMergeTest.java
Labels: Area - Querying, Bug

#5454 [Backport] Fix GroupBy limit push down descending sorting on numeric columns (#5453)
  processing/src/main/java/io/druid/query/groupby/GroupByQuery.java
  processing/src/test/java/io/druid/query/groupby/GroupByLimitPushDownMultiNodeMergeTest.java
Labels: Area - Querying, Backport, Bug

#5460 Fix authorization check in supervisor history API
  indexing-service/src/main/java/io/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/test/java/io/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
Labels: Bug, Security

#5463 [Backport] Fix authorization check in supervisor history API (#5460)
  indexing-service/src/main/java/io/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/test/java/io/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
Labels: Backport, Bug, Security

#5448 Add "joda" option to timeFormat extractionFn.
  docs/content/querying/dimensionspecs.md
  java-util/src/main/java/io/druid/java/util/common/DateTimes.java
  processing/src/main/java/io/druid/query/extraction/TimeDimExtractionFn.java
  processing/src/test/java/io/druid/query/extraction/TimeDimExtractionFnTest.java
  processing/src/test/java/io/druid/segment/filter/SelectorFilterTest.java
Labels: Improvement

#5299 Fixed NPE when dimension is null or empty.
  api/src/main/java/io/druid/data/input/impl/DimensionSchema.java
  processing/src/main/java/io/druid/segment/IndexIO.java
  processing/src/main/java/io/druid/segment/incremental/IncrementalIndex.java
  processing/src/test/java/io/druid/segment/IndexMergerTestBase.java
Labels: Design Review

#5469 Fix JSON serde for taskStatusPlus
  api/src/main/java/io/druid/indexer/TaskStatusPlus.java
  api/src/test/java/io/druid/indexer/TaskStatusPlusTest.java
Labels: Bug

#5470 SQL: Fix assumption that AND, OR have two arguments.
  sql/src/main/java/io/druid/sql/calcite/expression/BinaryOperatorConversion.java
  sql/src/test/java/io/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#5464 SQL: Fix precision of TIMESTAMP types.
  sql/src/main/java/io/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/io/druid/sql/calcite/planner/Calcites.java
  sql/src/main/java/io/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/io/druid/sql/calcite/planner/DruidTypeSystem.java
  sql/src/main/java/io/druid/sql/calcite/rule/CaseFilteredAggregatorRule.java
  sql/src/main/java/io/druid/sql/calcite/table/RowSignature.java
  sql/src/test/java/io/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#5472 [Backport] Fix JSON serde for taskStatusPlus (#5469)
  api/src/main/java/io/druid/indexer/TaskStatusPlus.java
  api/src/test/java/io/druid/indexer/TaskStatusPlusTest.java
Labels: Backport, Bug

#5396 Inline some backward incompatible Hadoop 3.0 method
  extensions-core/druid-kerberos/src/main/java/io/druid/security/kerberos/KerberosAuthenticator.java
Labels: Compatibility

#5421 Skip OS cache on Linux when pulling segments
  extensions-core/hdfs-storage/src/main/java/io/druid/storage/hdfs/HdfsDataSegmentPuller.java
  java-util/pom.xml
  java-util/src/main/java/io/druid/java/util/common/CompressionUtils.java
  java-util/src/main/java/io/druid/java/util/common/io/NativeIO.java
  java-util/src/test/java/io/druid/java/util/common/io/NativeIOTest.java
  pom.xml
Labels: Area - Cache, Performance

#5439 better error messaging when parseSpec is missing timestampSpec or dimensionSpec
  api/src/main/java/io/druid/data/input/impl/ParseSpec.java
  api/src/test/java/io/druid/data/input/impl/ParseSpecTest.java
Labels: Ease of Use, Improvement

#5456 Enforce optimal IndexedInts iteration
  .idea/inspectionProfiles/Druid.xml
  benchmarks/src/main/java/io/druid/benchmark/CompressedVSizeColumnarMultiIntsBenchmark.java
  extensions-contrib/distinctcount/src/main/java/io/druid/query/aggregation/distinctcount/DistinctCountAggregator.java
  extensions-contrib/distinctcount/src/main/java/io/druid/query/aggregation/distinctcount/DistinctCountBufferAggregator.java
  processing/src/main/java/io/druid/query/aggregation/cardinality/types/StringCardinalityAggregatorColumnSelectorStrategy.java
  processing/src/main/java/io/druid/query/groupby/GroupByQueryEngine.java
  processing/src/main/java/io/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/io/druid/query/groupby/epinephelinae/column/DictionaryBuildingStringGroupByColumnSelectorStrategy.java
  processing/src/main/java/io/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/io/druid/query/search/SearchQueryRunner.java
  processing/src/main/java/io/druid/query/select/SelectQueryEngine.java
  processing/src/main/java/io/druid/query/topn/types/StringTopNColumnSelectorStrategy.java
  processing/src/main/java/io/druid/segment/DimensionSelector.java
  processing/src/main/java/io/druid/segment/data/CompressedVSizeColumnarMultiIntsSupplier.java
  processing/src/main/java/io/druid/segment/data/V3CompressedVSizeColumnarMultiIntsSupplier.java
  processing/src/test/java/io/druid/segment/data/CompressedColumnarIntsSupplierTest.java
  processing/src/test/java/io/druid/segment/data/CompressedVSizeColumnarIntsSupplierTest.java
  processing/src/test/java/io/druid/segment/data/CompressedVSizeColumnarMultiIntsSupplierTest.java
  processing/src/test/java/io/druid/segment/data/V3CompressedVSizeColumnarMultiIntsSerializerTest.java
  server/src/main/java/io/druid/segment/realtime/firehose/IngestSegmentFirehose.java
Labels: Performance

#5411 Let MySQLConnector accept all UTF charsets and recommend utf8mb4
  docs/content/development/extensions-core/mysql.md
  extensions-core/mysql-metadata-storage/src/main/java/io/druid/metadata/storage/mysql/MySQLConnector.java
Labels: Release Notes

#5489 SegmentMetadataQuery: Fix default interval handling.
  processing/src/main/java/io/druid/query/Druids.java
  processing/src/test/java/io/druid/query/metadata/SegmentMetadataQueryQueryToolChestTest.java
  processing/src/test/java/io/druid/query/metadata/SegmentMetadataQueryTest.java
Labels: Bug

#5500 Fix round robining in router.
  processing/src/test/java/io/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/io/druid/segment/TestHelper.java
  server/src/main/java/io/druid/server/AsyncQueryForwardingServlet.java
  server/src/main/java/io/druid/server/router/QueryHostFinder.java
  server/src/test/java/io/druid/server/AsyncQueryForwardingServletTest.java
Labels: Area - Router, Bug

#5501 Authorize spec history instead of current specs for supervisor history API
  indexing-service/src/main/java/io/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/test/java/io/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  server/src/main/java/io/druid/indexing/overlord/supervisor/VersionedSupervisorSpec.java
  server/src/main/java/io/druid/server/security/AuthorizationUtils.java
Labels: Area - Kafka Indexing, Bug, Security

#5496 Segment filtering should be done by looking at the inner most query o…
  processing/src/main/java/io/druid/query/BaseQuery.java
  processing/src/test/java/io/druid/query/groupby/GroupByQueryTest.java
Labels: Area - Querying, Bug

#5504 Fix supervisor tombstone auth handling
  indexing-service/src/main/java/io/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/io/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/test/java/io/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  server/src/main/java/io/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
Labels: Area - Kafka Indexing, Bug, Security

#5478 Make Doubles aggregators use 64bits by default
  docs/content/configuration/index.md
  processing/src/main/java/io/druid/segment/column/Column.java
Labels: Design Review, Incompatible, Release Notes

#5414 Future-proof some Guava usage
  codestyle/druid-forbidden-apis.txt
  common/src/main/java/io/druid/common/utils/SerializerUtils.java
  extensions-contrib/druid-rocketmq/src/main/java/io/druid/firehose/rocketmq/RocketMQFirehoseFactory.java
  extensions-contrib/kafka-eight-simpleConsumer/src/main/java/io/druid/firehose/kafka/KafkaEightSimpleConsumerFirehoseFactory.java
  extensions-contrib/rabbitmq/src/main/java/io/druid/firehose/rabbitmq/RabbitMQFirehoseFactory.java
  extensions-core/kafka-eight/src/main/java/io/druid/firehose/kafka/KafkaEightFirehoseFactory.java
  indexing-hadoop/src/main/java/io/druid/indexer/JobHelper.java
  indexing-service/src/main/java/io/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/test/java/io/druid/indexing/common/tasklogs/FileTaskLogsTest.java
  java-util/src/main/java/io/druid/java/util/common/concurrent/ListenableFutures.java
  pom.xml
  processing/pom.xml
  processing/src/main/java/io/druid/query/groupby/GroupByQueryEngine.java
  processing/src/main/java/io/druid/query/groupby/epinephelinae/BufferHashGrouper.java
  processing/src/main/java/io/druid/query/groupby/epinephelinae/LimitedBufferHashGrouper.java
  processing/src/main/java/io/druid/query/groupby/orderby/TopNSequence.java
  server/src/main/java/io/druid/client/CachingClusteredClient.java
  server/src/main/java/io/druid/client/CachingQueryRunner.java
  server/src/main/java/io/druid/segment/realtime/appenderator/BatchAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/firehose/IrcFirehoseFactory.java
Labels: Compatibility

#5513 Expanded documentation for DataSketches aggregators.
  docs/_redirects.json
  docs/content/development/extensions-core/datasketches-extension.md
  docs/content/development/extensions-core/datasketches-quantiles.md
  docs/content/development/extensions-core/datasketches-theta.md
  docs/content/development/extensions-core/datasketches-tuple.md
  docs/content/development/extensions.md
  docs/content/querying/aggregations.md
  docs/content/querying/sql.md
  docs/content/toc.md
Labels: Area - Documentation

#5429 Add graceful shutdown timeout for Jetty
  docs/content/configuration/broker.md
  docs/content/configuration/historical.md
  server/src/main/java/io/druid/server/initialization/ServerConfig.java
  server/src/main/java/io/druid/server/initialization/jetty/JettyServerModule.java
  services/src/main/java/io/druid/cli/QueryJettyServerInitializer.java
Labels: Area - Querying

#5028 Add result level caching to Brokers
  docs/content/configuration/broker.md
  docs/content/querying/caching.md
  docs/content/querying/query-context.md
  processing/src/main/java/io/druid/query/CacheStrategy.java
  processing/src/main/java/io/druid/query/QueryContexts.java
  processing/src/main/java/io/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/io/druid/query/metadata/SegmentMetadataQueryQueryToolChest.java
  processing/src/main/java/io/druid/query/search/SearchQueryQueryToolChest.java
  processing/src/main/java/io/druid/query/select/SelectQueryQueryToolChest.java
  processing/src/main/java/io/druid/query/timeboundary/TimeBoundaryQueryQueryToolChest.java
  processing/src/main/java/io/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/io/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/io/druid/query/metadata/SegmentMetadataQueryQueryToolChestTest.java
  processing/src/test/java/io/druid/query/search/SearchQueryQueryToolChestTest.java
  processing/src/test/java/io/druid/query/timeboundary/TimeBoundaryQueryQueryToolChestTest.java
  processing/src/test/java/io/druid/query/timeseries/TimeseriesQueryQueryToolChestTest.java
  processing/src/test/java/io/druid/query/topn/TopNQueryQueryToolChestTest.java
  server/src/main/java/io/druid/client/CachingClusteredClient.java
  server/src/main/java/io/druid/client/CachingQueryRunner.java
  server/src/main/java/io/druid/client/ResultLevelCacheUtil.java
  server/src/main/java/io/druid/client/cache/CacheConfig.java
  server/src/main/java/io/druid/query/ResultLevelCachingQueryRunner.java
  server/src/main/java/io/druid/server/ClientQuerySegmentWalker.java
  server/src/test/java/io/druid/client/CachingQueryRunnerTest.java
Labels: Area - Cache, Design Review

#5533 Respect forceHashAggregation in queryContext
  processing/src/main/java/io/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/io/druid/query/groupby/strategy/GroupByStrategyV2.java
Labels: Area - Querying, Bug

#5544 ArrayAggregation: Use long to avoid overflow
  processing/src/main/java/io/druid/query/groupby/epinephelinae/BufferArrayGrouper.java
  processing/src/main/java/io/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/test/java/io/druid/query/groupby/epinephelinae/BufferArrayGrouperTest.java
Labels: Area - Querying, Bug

#5545 Replace guava Charsets with native java StandardCharsets
  api/src/main/java/io/druid/data/input/impl/StringInputRowParser.java
  api/src/test/java/io/druid/data/input/impl/InputRowParserSerdeTest.java
  api/src/test/java/io/druid/data/input/impl/prefetch/PrefetchableTextFilesFirehoseFactoryTest.java
  codestyle/druid-forbidden-apis.txt
  extensions-contrib/azure-extensions/src/test/java/io/druid/storage/azure/AzureTaskLogsTest.java
  extensions-contrib/time-min-max/src/test/java/io/druid/query/aggregation/TimestampAggregationSelectTest.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/quantiles/DoublesSketchOperations.java
  extensions-core/hdfs-storage/src/test/java/io/druid/indexing/common/tasklogs/HdfsTaskLogsTest.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTaskClient.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/lookups-cached-global/src/main/java/io/druid/data/input/MapPopulator.java
  extensions-core/lookups-cached-global/src/test/java/io/druid/query/lookup/namespace/JSONFlatDataParserTest.java
  indexing-hadoop/src/test/java/io/druid/indexer/hadoop/DatasourceInputFormatTest.java
  indexing-service/src/main/java/io/druid/indexing/common/task/MergeTaskBase.java
  indexing-service/src/main/java/io/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/io/druid/indexing/overlord/hrtr/WorkerHolder.java
  indexing-service/src/test/java/io/druid/indexing/common/task/MergeTaskBaseTest.java
  indexing-service/src/test/java/io/druid/indexing/common/tasklogs/FileTaskLogsTest.java
  integration-tests/src/main/java/io/druid/testing/clients/ClientInfoResourceTestClient.java
  integration-tests/src/main/java/io/druid/testing/clients/CoordinatorResourceTestClient.java
  integration-tests/src/main/java/io/druid/testing/clients/EventReceiverFirehoseTestClient.java
  integration-tests/src/main/java/io/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/main/java/io/druid/testing/clients/QueryResourceTestClient.java
  integration-tests/src/main/java/org/testng/DruidTestRunnerFactory.java
  integration-tests/src/test/java/io/druid/tests/security/ITBasicAuthConfigurationTest.java
  java-util/src/main/java/io/druid/java/util/common/StringUtils.java
  java-util/src/main/java/io/druid/java/util/common/io/smoosh/FileSmoosher.java
  java-util/src/main/java/io/druid/java/util/common/io/smoosh/SmooshedFileMapper.java
  java-util/src/main/java/io/druid/java/util/common/parsers/JSONFlattenerMaker.java
  java-util/src/main/java/io/druid/java/util/common/parsers/JSONToLowerParser.java
  java-util/src/main/java/io/druid/java/util/http/client/Request.java
  java-util/src/main/java/io/druid/java/util/metrics/cgroups/CpuAcct.java
  java-util/src/main/java/io/druid/java/util/metrics/cgroups/ProcCgroupDiscoverer.java
  java-util/src/test/java/io/druid/java/util/emitter/core/EmitterTest.java
  java-util/src/test/java/io/druid/java/util/emitter/core/ParametrizedUriEmitterTest.java
  java-util/src/test/java/io/druid/java/util/http/client/AsyncHttpClientTest.java
  java-util/src/test/java/io/druid/java/util/http/client/FriendlyServersTest.java
  java-util/src/test/java/io/druid/java/util/http/client/JankyServersTest.java
  processing/src/main/java/io/druid/guice/PropertiesModule.java
  processing/src/test/java/io/druid/segment/TestIndex.java
  server/src/main/java/io/druid/client/CachingClusteredClient.java
  server/src/main/java/io/druid/client/DirectDruidClient.java
  server/src/main/java/io/druid/client/cache/MemcachedCache.java
  server/src/main/java/io/druid/discovery/DruidLeaderClient.java
  server/src/main/java/io/druid/server/log/FileRequestLogger.java
  server/src/main/java/io/druid/server/router/ConsistentHasher.java
  server/src/main/java/io/druid/server/router/RendezvousHasher.java
  server/src/test/java/io/druid/client/CachingClusteredClientTest.java
  server/src/test/java/io/druid/segment/indexing/DataSchemaTest.java
  server/src/test/java/io/druid/segment/realtime/firehose/IngestSegmentFirehoseTest.java
  server/src/test/java/io/druid/segment/realtime/firehose/LocalFirehoseFactoryTest.java
  server/src/test/java/io/druid/server/log/LoggingRequestLoggerTest.java
Labels: Refactoring

#5554 Fix SQLMetadataSegmentManager to allow succesive start and stop
  common/src/main/java/io/druid/concurrent/LifecycleLock.java
  common/src/test/java/io/druid/concurrent/LifecycleLockTest.java
  server/src/main/java/io/druid/metadata/SQLMetadataSegmentManager.java
  server/src/main/java/io/druid/server/lookup/cache/LookupCoordinatorManager.java
  server/src/test/java/io/druid/metadata/SQLMetadataRuleManagerTest.java
  server/src/test/java/io/druid/metadata/SQLMetadataSegmentManagerTest.java
  server/src/test/java/io/druid/server/lookup/cache/LookupCoordinatorManagerTest.java
Labels: Bug
