Repository apache/druid, pull requests merged in 2018-05, with the labels that each got.

#5724 Fix NullPointerException when in DeterminePartitionsJob for Hadoop 3.0 and later versions
  indexing-hadoop/src/main/java/io/druid/indexer/DetermineHashedPartitionsJob.java
  indexing-hadoop/src/main/java/io/druid/indexer/DeterminePartitionsJob.java
  indexing-hadoop/src/main/java/io/druid/indexer/IndexGeneratorJob.java
  indexing-hadoop/src/main/java/io/druid/indexer/JobHelper.java
Labels: Bug

#5730 Fix Appenderator.push() to commit the metadata of all segments
  server/src/main/java/io/druid/segment/realtime/appenderator/Appenderator.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/test/java/io/druid/segment/realtime/appenderator/AppenderatorTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriverFailTest.java
Labels: Area - Kafka Indexing, Bug

#5737 Include hybrid and caffeine in cache docs and show caffeine as default
  docs/content/configuration/caching.md
  docs/content/configuration/index.md
Labels: Area - Documentation

#5735 SegmentLoadDropHandler: Fix deadlock when segments have errors loading on startup.
  server/src/main/java/io/druid/server/coordination/SegmentLoadDropHandler.java
Labels: Bug

#5717 Allow Hadoop dataSource inputSpec to be specified multiple times.
  docs/content/ingestion/update-existing-data.md
  indexing-hadoop/src/main/java/io/druid/indexer/hadoop/DatasourceInputFormat.java
  indexing-hadoop/src/main/java/io/druid/indexer/hadoop/DatasourceRecordReader.java
  indexing-hadoop/src/main/java/io/druid/indexer/path/DatasourcePathSpec.java
  indexing-hadoop/src/test/java/io/druid/indexer/BatchDeltaIngestionTest.java
  indexing-hadoop/src/test/java/io/druid/indexer/hadoop/DatasourceInputFormatTest.java
  indexing-hadoop/src/test/java/io/druid/indexer/hadoop/DatasourceRecordReaderTest.java
  indexing-hadoop/src/test/java/io/druid/indexer/path/DatasourcePathSpecTest.java
Labels: Area - Indexing, Improvement

#5738 Default caffeine cache size
  docs/content/configuration/caching.md
  server/src/main/java/io/druid/client/cache/CaffeineCache.java
  server/src/test/java/io/druid/client/cache/CaffeineCacheTest.java
Labels: Area - Cache, Improvement

#5696 Make lookup offheap buffer configurable
  docs/content/development/extensions-core/lookups-cached-global.md
  extensions-core/lookups-cached-global/src/main/java/io/druid/server/lookup/namespace/NamespaceExtractionConfig.java
  extensions-core/lookups-cached-global/src/main/java/io/druid/server/lookup/namespace/cache/OffHeapNamespaceExtractionCacheManager.java
Labels: Area - Lookups, Design Review, Release Notes

#5706 Kerberos Spnego Authentication Router Issue
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/authentication/BasicHTTPAuthenticator.java
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/authentication/BasicHTTPEscalator.java
  extensions-core/druid-basic-security/src/test/java/io/druid/security/authorization/BasicRoleBasedAuthorizerTest.java
  extensions-core/druid-kerberos/src/main/java/io/druid/security/kerberos/KerberosAuthenticator.java
  extensions-core/druid-kerberos/src/main/java/io/druid/security/kerberos/KerberosEscalator.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordResourceTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  server/src/main/java/io/druid/server/AsyncQueryForwardingServlet.java
  server/src/main/java/io/druid/server/security/AllowAllAuthenticator.java
  server/src/main/java/io/druid/server/security/AllowOptionsResourceFilter.java
  server/src/main/java/io/druid/server/security/AuthenticationResult.java
  server/src/main/java/io/druid/server/security/Authenticator.java
  server/src/main/java/io/druid/server/security/Escalator.java
  server/src/main/java/io/druid/server/security/UnsecuredResourceFilter.java
  server/src/test/java/io/druid/server/AsyncQueryForwardingServletTest.java
  server/src/test/java/io/druid/server/QueryResourceTest.java
  server/src/test/java/io/druid/server/http/DatasourcesResourceTest.java
  server/src/test/java/io/druid/server/http/IntervalsResourceTest.java
  server/src/test/java/io/druid/server/http/security/PreResponseAuthorizationCheckFilterTest.java
  server/src/test/java/io/druid/server/http/security/ResourceFilterTestHelper.java
  server/src/test/java/io/druid/server/http/security/SecuritySanityCheckFilterTest.java
  sql/src/test/java/io/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Router, Bug

#5664 Add taskType dimension to task metrics
  docs/content/operations/metrics.md
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/TaskRealtimeMetricsMonitorBuilder.java
  indexing-service/src/main/java/io/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/RealtimeIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/overlord/ForkingTaskRunner.java
  server/src/main/java/io/druid/server/metrics/EventReceiverFirehoseMonitor.java
Labels: Area - Metrics/Event Emitting

#5681 Use a bimap for reverse lookups on injective maps
  processing/src/main/java/io/druid/query/extraction/MapLookupExtractor.java
  processing/src/main/java/io/druid/query/lookup/LookupExtractor.java
  processing/src/test/java/io/druid/query/extraction/MapLookupExtractorTest.java
Labels: Area - Lookups

#5749 Fix metrics for inserting segments
  indexing-service/src/main/java/io/druid/indexing/common/actions/SegmentTransactionalInsertAction.java
Labels: Bug

#5756 [Backport] Fix Appenderator.push() to commit the metadata of all segments
  server/src/main/java/io/druid/segment/realtime/appenderator/Appenderator.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/test/java/io/druid/segment/realtime/appenderator/AppenderatorTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriverFailTest.java
Labels: Backport

#5757 [Backport] Kerberos Spnego Authentication Router Issue
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/authentication/BasicHTTPAuthenticator.java
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/authentication/BasicHTTPEscalator.java
  extensions-core/druid-basic-security/src/test/java/io/druid/security/authorization/BasicRoleBasedAuthorizerTest.java
  extensions-core/druid-kerberos/src/main/java/io/druid/security/kerberos/KerberosAuthenticator.java
  extensions-core/druid-kerberos/src/main/java/io/druid/security/kerberos/KerberosEscalator.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordResourceTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  server/src/main/java/io/druid/server/AsyncQueryForwardingServlet.java
  server/src/main/java/io/druid/server/security/AllowAllAuthenticator.java
  server/src/main/java/io/druid/server/security/AllowOptionsResourceFilter.java
  server/src/main/java/io/druid/server/security/AuthenticationResult.java
  server/src/main/java/io/druid/server/security/Authenticator.java
  server/src/main/java/io/druid/server/security/Escalator.java
  server/src/main/java/io/druid/server/security/UnsecuredResourceFilter.java
  server/src/test/java/io/druid/server/AsyncQueryForwardingServletTest.java
  server/src/test/java/io/druid/server/QueryResourceTest.java
  server/src/test/java/io/druid/server/http/DatasourcesResourceTest.java
  server/src/test/java/io/druid/server/http/IntervalsResourceTest.java
  server/src/test/java/io/druid/server/http/security/PreResponseAuthorizationCheckFilterTest.java
  server/src/test/java/io/druid/server/http/security/ResourceFilterTestHelper.java
  server/src/test/java/io/druid/server/http/security/SecuritySanityCheckFilterTest.java
  sql/src/test/java/io/druid/sql/calcite/util/CalciteTests.java
Labels: Backport

#5704 Consider waiting and pending compaction tasks as well as running tasks in DruidCoordinatorSegmentCompactor
  server/src/main/java/io/druid/client/indexing/IndexingServiceClient.java
  server/src/main/java/io/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactor.java
  server/src/test/java/io/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactorTest.java
Labels: Bug, Coordination

#5755 [Backport] SegmentLoadDropHandler: Fix deadlock when segments have errors loading on startup.
  server/src/main/java/io/druid/server/coordination/SegmentLoadDropHandler.java
Labels: Backport

#5758 Check against the real default of maxBytes(1/6 max mem) in AppenderatorImpl's add
  processing/src/main/java/io/druid/segment/incremental/OnheapIncrementalIndex.java
  server/src/main/java/io/druid/segment/indexing/TuningConfigs.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorImpl.java
Labels: Bug

#5766 Fix KerberosAuthenticator serverPrincipal host replacement
  extensions-core/druid-kerberos/src/main/java/io/druid/security/kerberos/KerberosAuthenticator.java
Labels: Bug, Security

#5759 [Backport] Fix metrics for inserting segments
  indexing-service/src/main/java/io/druid/indexing/common/actions/SegmentTransactionalInsertAction.java
Labels: Backport

#5770 [Backport] Fix KerberosAuthenticator serverPrincipal host replacement (#5766)
  extensions-core/druid-kerberos/src/main/java/io/druid/security/kerberos/KerberosAuthenticator.java
Labels: Backport, Bug, Security

#5148 ArrayOfDoublesSketch module
  extensions-core/datasketches/pom.xml
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchBuildAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchBuildComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchJsonSerializer.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeBufferAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchModule.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMultiPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchNoOpAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchNoOpBufferAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchOperations.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchSetOpPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchTTestPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToEstimateAndBoundsPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToEstimatePostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToMeansPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToNumEntriesPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToQuantilesSketchPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToStringPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToVariancesPostAggregator.java
  extensions-core/datasketches/src/main/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchUnaryPostAggregator.java
  extensions-core/datasketches/src/main/resources/META-INF/services/io.druid.initialization.DruidModule
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregationTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchSetOpPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchTTestPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToEstimateAndBoundsPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToEstimatePostAggregatorTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToMeansPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToNumEntriesPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToQuantilesSketchPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToStringPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToVariancesPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/io/druid/query/aggregation/datasketches/tuple/GenerateTestData.java
  extensions-core/datasketches/src/test/resources/tuple/array_of_doubles_build_data.tsv
  extensions-core/datasketches/src/test/resources/tuple/array_of_doubles_build_data_two_values.tsv
  extensions-core/datasketches/src/test/resources/tuple/array_of_doubles_sketch_data.tsv
  extensions-core/datasketches/src/test/resources/tuple/array_of_doubles_sketch_data_two_values.tsv
  extensions-core/datasketches/src/test/resources/tuple/bucket_test_data.tsv
  processing/src/main/java/io/druid/query/aggregation/AggregatorUtil.java
  processing/src/main/java/io/druid/query/search/SearchQueryRunner.java
  processing/src/main/java/io/druid/segment/DimensionSelectorUtils.java
Labels: Feature

#5774 Provide examples to havingSpec filters
  docs/content/querying/having.md
Labels: Area - Documentation, Improvement

#5778 PartitionHolder: Early return from isComplete when we find an end.
  common/src/main/java/io/druid/timeline/partition/PartitionHolder.java
Labels: Performance

#5777 VersionedIntervalTimeline: Optimize construction with heavily populated holders.
  common/src/main/java/io/druid/timeline/VersionedIntervalTimeline.java
  indexing-hadoop/src/main/java/io/druid/indexer/HadoopIngestionSpec.java
  indexing-service/src/main/java/io/druid/indexing/common/task/AppendTask.java
  server/src/main/java/io/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/io/druid/metadata/SQLMetadataSegmentManager.java
  server/src/main/java/io/druid/server/coordinator/helper/DruidCoordinatorCleanupOvershadowed.java
Labels: Performance

#5790 Fix for when Hadoop dataSource inputSpec is specified multiple times.
  indexing-hadoop/src/main/java/io/druid/indexer/HadoopIngestionSpec.java
  indexing-hadoop/src/test/java/io/druid/indexer/HadoopIngestionSpecUpdateDatasourcePathSpecSegmentsTest.java
Labels: Area - Indexing, Bug

#5765 fix freeSpacePercent in segmentCache.locations
  docs/content/configuration/historical.md
  examples/conf-quickstart/druid/historical/runtime.properties
  examples/conf/druid/historical/runtime.properties
  server/src/main/java/io/druid/segment/loading/StorageLocation.java
  server/src/test/java/io/druid/segment/loading/StorageLocationTest.java
Labels: Bug

#5803 Docs: Clarify the meaning of maxSplitSize.
  docs/content/ingestion/update-existing-data.md
Labels: Area - Documentation

#5802 Fix NPE in PrefetchableTextFilesFirehoseFactory
  api/src/main/java/io/druid/data/input/impl/prefetch/PrefetchConfig.java
  api/src/main/java/io/druid/data/input/impl/prefetch/PrefetchableTextFilesFirehoseFactory.java
Labels: Bug

#5815 Fix topN lexicographic sort
  processing/src/main/java/io/druid/query/topn/AggregateTopNMetricFirstAlgorithm.java
  processing/src/main/java/io/druid/query/topn/BaseTopNAlgorithm.java
  processing/src/main/java/io/druid/query/topn/DimExtractionTopNAlgorithm.java
  processing/src/main/java/io/druid/query/topn/PooledTopNAlgorithm.java
  processing/src/main/java/io/druid/query/topn/TimeExtractionTopNAlgorithm.java
  processing/src/main/java/io/druid/query/topn/TopNQueryEngine.java
  processing/src/main/java/io/druid/query/topn/types/NumericTopNColumnSelectorStrategy.java
  processing/src/main/java/io/druid/query/topn/types/StringTopNColumnSelectorStrategy.java
  processing/src/main/java/io/druid/query/topn/types/TopNColumnSelectorStrategy.java
  processing/src/main/java/io/druid/segment/Capabilities.java
  processing/src/main/java/io/druid/segment/DimensionHandlerUtils.java
  processing/src/main/java/io/druid/segment/QueryableIndexColumnSelectorFactory.java
  processing/src/main/java/io/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/io/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/io/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/test/java/io/druid/query/topn/PooledTopNAlgorithmTest.java
  processing/src/test/java/io/druid/query/topn/TopNMetricSpecOptimizationsTest.java
Labels: Area - Querying, Bug
