Repository apache/druid, pull requests merged in 2018-02, with the labels that each got.

#5365 Debug logging in HttpPostEmitter and Batch
  java-util/src/main/java/io/druid/java/util/emitter/core/Batch.java
  java-util/src/main/java/io/druid/java/util/emitter/core/HttpPostEmitter.java
Labels: Area - Metrics/Event Emitting, Area - Operations

#5374 Log exceptions thrown before persist() for indexing tasks
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/IndexTask.java
Labels: Area - Indexing, Area - Kafka Indexing, Improvement

#5386 Make HttpPostEmitter more robust in the face of serious errors (like OutOfMemoryError) during onSealExclusive()
  java-util/src/main/java/io/druid/java/util/emitter/core/Batch.java
  java-util/src/main/java/io/druid/java/util/emitter/core/HttpPostEmitter.java
Labels: Area - Metrics/Event Emitting, Improvement

#5297 Change early publishing to early pushing in indexTask & refactor AppenderatorDriver
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/IndexTask.java
  indexing-service/src/test/java/io/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/io/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/io/druid/indexing/common/task/TaskSerdeTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/TaskLifecycleTest.java
  server/src/main/java/io/druid/segment/realtime/appenderator/Appenderator.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorDriverAddResult.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorDriverMetadata.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/io/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/BatchAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/SegmentWithState.java
  server/src/main/java/io/druid/segment/realtime/appenderator/SegmentsAndMetadata.java
  server/src/main/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/TransactionalSegmentPublisher.java
  server/src/test/java/io/druid/segment/realtime/appenderator/BatchAppenderatorDriverTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/SegmentWithStateTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriverFailTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriverTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/TestUsedSegmentChecker.java
Labels: Area - Indexing, Bug

#5393 [Backport] fix segment info in Kafka indexing service docs (#5390)
  docs/content/development/extensions-core/kafka-ingestion.md
Labels: Backport

#5369 Support for router forwarding requests to active coordinator/overlord
  docs/content/development/router.md
  server/src/main/java/io/druid/curator/discovery/CuratorDruidLeaderSelector.java
  server/src/main/java/io/druid/discovery/DruidLeaderSelector.java
  server/src/main/java/io/druid/server/AsyncManagementForwardingServlet.java
  server/src/main/java/io/druid/server/router/ManagementProxyConfig.java
  server/src/test/java/io/druid/server/AsyncManagementForwardingServletTest.java
  services/src/main/java/io/druid/cli/CliRouter.java
  services/src/main/java/io/druid/cli/RouterJettyServerInitializer.java
Labels: Area - Router, Improvement

#5394 [Backport] Debug logging in HttpPostEmitter and Batch
  java-util/src/main/java/io/druid/java/util/emitter/core/Batch.java
  java-util/src/main/java/io/druid/java/util/emitter/core/HttpPostEmitter.java
Labels: Backport

#5395 [Backport] Make HttpPostEmitter more robust in the face of serious errors (like OutOfMemoryError) during onSealExclusive()
  java-util/src/main/java/io/druid/java/util/emitter/core/Batch.java
  java-util/src/main/java/io/druid/java/util/emitter/core/HttpPostEmitter.java
Labels: Backport

#5255 time based checkpointing for Kafka Indexing Service
  docs/content/development/extensions-core/kafka-ingestion.md
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaTuningConfig.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorSpec.java
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/KafkaTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/io/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
Labels: Area - Kafka Indexing

#5397 [Backport] Change early publishing to early pushing in indexTask & refactor AppenderatorDriver
  extensions-core/kafka-indexing-service/src/main/java/io/druid/indexing/kafka/KafkaIndexTask.java
  indexing-service/src/main/java/io/druid/indexing/common/task/IndexTask.java
  indexing-service/src/test/java/io/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/io/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/io/druid/indexing/common/task/TaskSerdeTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/TaskLifecycleTest.java
  server/src/main/java/io/druid/segment/realtime/appenderator/Appenderator.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorDriverAddResult.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorDriverMetadata.java
  server/src/main/java/io/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/io/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/BatchAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/SegmentWithState.java
  server/src/main/java/io/druid/segment/realtime/appenderator/SegmentsAndMetadata.java
  server/src/main/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
  server/src/main/java/io/druid/segment/realtime/appenderator/TransactionalSegmentPublisher.java
  server/src/test/java/io/druid/segment/realtime/appenderator/BatchAppenderatorDriverTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/SegmentWithStateTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriverFailTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/StreamAppenderatorDriverTest.java
  server/src/test/java/io/druid/segment/realtime/appenderator/TestUsedSegmentChecker.java
Labels: Backport

#5385 Fix DefaultLimitSpec to respect sortByDimsFirst
  processing/src/main/java/io/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/io/druid/query/groupby/orderby/DefaultLimitSpec.java
  processing/src/main/java/io/druid/query/groupby/orderby/LimitSpec.java
  processing/src/main/java/io/druid/query/groupby/orderby/NoopLimitSpec.java
  processing/src/test/java/io/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/io/druid/query/groupby/orderby/DefaultLimitSpecTest.java
Labels: Bug

#5398 [Backport] Fix DefaultLimitSpec to respect sortByDimsFirst
  processing/src/main/java/io/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/io/druid/query/groupby/orderby/DefaultLimitSpec.java
  processing/src/main/java/io/druid/query/groupby/orderby/LimitSpec.java
  processing/src/main/java/io/druid/query/groupby/orderby/NoopLimitSpec.java
  processing/src/test/java/io/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/io/druid/query/groupby/orderby/DefaultLimitSpecTest.java
Labels: Backport

#5401 SQL: Fix selecting BOOLEAN type in JDBC.
  sql/src/main/java/io/druid/sql/calcite/rel/QueryMaker.java
  sql/src/test/java/io/druid/sql/avatica/DruidAvaticaHandlerTest.java
Labels: Area - SQL, Bug

#5399 Fix missing task type in task payload API.
  indexing-service/src/main/java/io/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/main/java/io/druid/indexing/overlord/http/TaskPayloadResponse.java
  indexing-service/src/main/java/io/druid/indexing/overlord/http/TaskStatusResponse.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordResourceTest.java
  indexing-service/src/test/java/io/druid/indexing/overlord/http/OverlordTest.java
Labels: Bug

#5409 SQL: Lower default JDBC frame size.
  docs/content/querying/sql.md
  sql/src/main/java/io/druid/sql/avatica/AvaticaServerConfig.java
Labels: Area - SQL, Release Notes

#5412 Automatically adjust com.metamx.metrics Monitor class references
  server/src/main/java/io/druid/server/metrics/MonitorsConfig.java
Labels: Compatibility

#5417 Automatically adjust com.metamx.metrics Monitor class references (#5412)
  server/src/main/java/io/druid/server/metrics/MonitorsConfig.java
Labels: Backport, Compatibility

#5318 Test flattenSpecs where the referred-to object is missing.
  api/src/test/java/io/druid/data/input/impl/InputRowParserSerdeTest.java
Labels: Area - Testing

#5435 Skip normal authentication for JDBC requests in Router
  integration-tests/docker/broker.conf
  integration-tests/docker/router.conf
  integration-tests/pom.xml
  integration-tests/src/test/java/io/druid/tests/security/ITBasicAuthConfigurationTest.java
  services/src/main/java/io/druid/cli/RouterJettyServerInitializer.java
  sql/src/main/java/io/druid/sql/avatica/DruidAvaticaHandler.java
Labels: Area - Router, Bug, Security

#5442 [Backport] Skip normal authentication for JDBC requests in Router (#5435)
  integration-tests/docker/broker.conf
  integration-tests/docker/router.conf
  integration-tests/pom.xml
  integration-tests/src/test/java/io/druid/tests/security/ITBasicAuthConfigurationTest.java
  services/src/main/java/io/druid/cli/RouterJettyServerInitializer.java
  sql/src/main/java/io/druid/sql/avatica/DruidAvaticaHandler.java
Labels: Area - Router, Backport, Bug, Security
