Repository apache/druid, pull requests merged in 2018-09, with the labels that each got.

#6259 Docs consistency cleanup
  docs/_redirects.json
  docs/content/configuration/index.md
  docs/content/configuration/logging.md
  docs/content/design/broker.md
  docs/content/design/coordinator.md
  docs/content/design/design.md
  docs/content/design/historical.md
  docs/content/design/index.md
  docs/content/design/indexing-service.md
  docs/content/design/middlemanager.md
  docs/content/design/overlord.md
  docs/content/design/peons.md
  docs/content/design/realtime.md
  docs/content/design/segments.md
  docs/content/development/extensions-contrib/parquet.md
  docs/content/development/extensions-contrib/redis-cache.md
  docs/content/development/extensions-core/avro.md
  docs/content/development/extensions-core/druid-basic-security.md
  docs/content/development/extensions-core/kafka-ingestion.md
  docs/content/development/extensions-core/stats.md
  docs/content/development/javascript.md
  docs/content/ingestion/command-line-hadoop-indexer.md
  docs/content/ingestion/compaction.md
  docs/content/ingestion/data-formats.md
  docs/content/ingestion/delete-data.md
  docs/content/ingestion/faq.md
  docs/content/ingestion/firehose.md
  docs/content/ingestion/hadoop.md
  docs/content/ingestion/index.md
  docs/content/ingestion/ingestion-spec.md
  docs/content/ingestion/locking-and-priority.md
  docs/content/ingestion/misc-tasks.md
  docs/content/ingestion/native_tasks.md
  docs/content/ingestion/overview.md
  docs/content/ingestion/schema-design.md
  docs/content/ingestion/stream-ingestion.md
  docs/content/ingestion/stream-pull.md
  docs/content/ingestion/stream-push.md
  docs/content/ingestion/tasks.md
  docs/content/ingestion/update-existing-data.md
  docs/content/misc/math-expr.md
  docs/content/operations/api-reference.md
  docs/content/operations/including-extensions.md
  docs/content/operations/metrics.md
  docs/content/operations/other-hadoop.md
  docs/content/operations/password-provider.md
  docs/content/operations/segment-optimization.md
  docs/content/querying/granularities.md
  docs/content/querying/lookups.md
  docs/content/querying/multitenancy.md
  docs/content/querying/post-aggregations.md
  docs/content/querying/query-context.md
  docs/content/querying/querying.md
  docs/content/querying/segmentmetadataquery.md
  docs/content/querying/sql.md
  docs/content/toc.md
  docs/content/tutorials/cluster.md
  docs/content/tutorials/tutorial-batch-hadoop.md
  docs/content/tutorials/tutorial-ingestion-spec.md
Labels: Area - Documentation, Bug

#6298 [Backport] Docs consistency cleanup (#6259)
  docs/_redirects.json
  docs/content/configuration/index.md
  docs/content/configuration/logging.md
  docs/content/design/auth.md
  docs/content/design/broker.md
  docs/content/design/coordinator.md
  docs/content/design/design.md
  docs/content/design/historical.md
  docs/content/design/index.md
  docs/content/design/indexing-service.md
  docs/content/design/middlemanager.md
  docs/content/design/overlord.md
  docs/content/design/peons.md
  docs/content/design/realtime.md
  docs/content/design/segments.md
  docs/content/development/extensions-contrib/parquet.md
  docs/content/development/extensions-contrib/redis-cache.md
  docs/content/development/extensions-core/avro.md
  docs/content/development/extensions-core/druid-basic-security.md
  docs/content/development/extensions-core/kafka-extraction-namespace.md
  docs/content/development/extensions-core/kafka-ingestion.md
  docs/content/development/extensions-core/mysql.md
  docs/content/development/extensions-core/protobuf.md
  docs/content/development/extensions-core/stats.md
  docs/content/development/javascript.md
  docs/content/ingestion/command-line-hadoop-indexer.md
  docs/content/ingestion/compaction.md
  docs/content/ingestion/data-formats.md
  docs/content/ingestion/delete-data.md
  docs/content/ingestion/faq.md
  docs/content/ingestion/firehose.md
  docs/content/ingestion/hadoop.md
  docs/content/ingestion/index.md
  docs/content/ingestion/ingestion-spec.md
  docs/content/ingestion/locking-and-priority.md
  docs/content/ingestion/misc-tasks.md
  docs/content/ingestion/native-batch.md
  docs/content/ingestion/overview.md
  docs/content/ingestion/schema-design.md
  docs/content/ingestion/stream-ingestion.md
  docs/content/ingestion/stream-pull.md
  docs/content/ingestion/stream-push.md
  docs/content/ingestion/tasks.md
  docs/content/ingestion/update-existing-data.md
  docs/content/misc/math-expr.md
  docs/content/operations/api-reference.md
  docs/content/operations/including-extensions.md
  docs/content/operations/other-hadoop.md
  docs/content/operations/password-provider.md
  docs/content/querying/granularities.md
  docs/content/querying/lookups.md
  docs/content/querying/multitenancy.md
  docs/content/querying/post-aggregations.md
  docs/content/querying/query-context.md
  docs/content/querying/querying.md
  docs/content/querying/segmentmetadataquery.md
  docs/content/toc.md
  docs/content/tutorials/cluster.md
  docs/content/tutorials/index.md
  docs/content/tutorials/tutorial-batch-hadoop.md
Labels: Area - Documentation, Backport, Bug

#6299 Fix tutorial sample data filename, fix logger classname in metrics docs
  docs/content/operations/metrics.md
  docs/content/tutorials/tutorial-kafka.md
Labels: Area - Documentation, Bug

#6295 Like filter: Fix escapes escaping themselves.
  processing/src/main/java/org/apache/druid/query/filter/LikeDimFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/LikeFilterTest.java
Labels: Bug

#6223 make COMPLEX column optionally filterable in Druid code
  processing/src/main/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnBuilder.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilities.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilitiesImpl.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/test/java/org/apache/druid/segment/column/ColumnCapabilitiesImplTest.java
Labels: Improvement

#6303 Use PasswordProvider, fix info on initial passwords in basic security extension docs
  docs/content/development/extensions-core/druid-basic-security.md
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/BasicAuthDBConfig.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authentication/BasicHTTPAuthenticator.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authentication/db/updater/CoordinatorBasicAuthenticatorMetadataStorageUpdater.java
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/authentication/BasicHTTPAuthenticatorTest.java
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/authentication/CoordinatorBasicAuthenticatorResourceTest.java
Labels: Area - Documentation, Bug, Security

#6314 SQL: UNION ALL operator.
  docs/content/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidConvertletTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Rules.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidUnionRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidRules.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidSemiJoinRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidSortUnionRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidUnionRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL

#6313 Broker backpressure.
  docs/content/configuration/index.md
  docs/content/querying/query-context.md
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/CommonCacheNotifier.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authentication/BytesFullResponseHandler.java
  extensions-core/druid-kerberos/src/main/java/org/apache/druid/security/kerberos/ResponseCookieHandler.java
  extensions-core/druid-kerberos/src/main/java/org/apache/druid/security/kerberos/RetryIfUnauthorizedResponseHandler.java
  java-util/src/main/java/org/apache/druid/java/util/http/client/NettyHttpClient.java
  java-util/src/main/java/org/apache/druid/java/util/http/client/response/ClientResponse.java
  java-util/src/main/java/org/apache/druid/java/util/http/client/response/FullResponseHandler.java
  java-util/src/main/java/org/apache/druid/java/util/http/client/response/HttpResponseHandler.java
  java-util/src/main/java/org/apache/druid/java/util/http/client/response/InputStreamResponseHandler.java
  java-util/src/main/java/org/apache/druid/java/util/http/client/response/SequenceInputStreamResponseHandler.java
  java-util/src/main/java/org/apache/druid/java/util/http/client/response/StatusResponseHandler.java
  java-util/src/test/java/org/apache/druid/java/util/http/client/response/SequenceInputStreamResponseHandlerTest.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/QueryPlus.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/DirectDruidClient.java
  server/src/main/java/org/apache/druid/client/InputStreamHolder.java
  server/src/main/java/org/apache/druid/guice/http/DruidHttpClientConfig.java
  server/src/main/java/org/apache/druid/server/coordination/ChangeRequestHttpSyncer.java
  server/src/main/java/org/apache/druid/server/coordinator/HttpLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/lookup/cache/LookupCoordinatorManager.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientFunctionalityTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
  server/src/test/java/org/apache/druid/server/coordination/ChangeRequestHttpSyncerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/HttpLoadQueuePeonTest.java
Labels: Area - Querying

#6310 ParseSpec: Remove default setting.
  api/src/main/java/org/apache/druid/data/input/impl/ParseSpec.java
  api/src/test/java/org/apache/druid/data/input/impl/ParseSpecTest.java
  integration-tests/src/test/resources/indexer/wikipedia_realtime_appenderator_index_task.json
  integration-tests/src/test/resources/indexer/wikipedia_realtime_index_task.json
  integration-tests/src/test/resources/indexer/wikipedia_union_index_task.json
Labels: Ease of Use, Release Notes

#6324 allow 3 retries for failing tests
  api/src/test/java/org/apache/druid/data/input/impl/prefetch/PrefetchableTextFilesFirehoseFactoryTest.java
  pom.xml
Labels: Area - Testing

#6328 [Backport] Use PasswordProvider, fix info on initial passwords in basic security extension docs
  docs/content/development/extensions-core/druid-basic-security.md
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/BasicAuthDBConfig.java
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/authentication/BasicHTTPAuthenticator.java
  extensions-core/druid-basic-security/src/main/java/io/druid/security/basic/authentication/db/updater/CoordinatorBasicAuthenticatorMetadataStorageUpdater.java
  extensions-core/druid-basic-security/src/test/java/io/druid/security/authentication/BasicHTTPAuthenticatorTest.java
  extensions-core/druid-basic-security/src/test/java/io/druid/security/authentication/CoordinatorBasicAuthenticatorResourceTest.java
Labels: Backport, Bug

#6234 'suspend' and 'resume' support for supervisors (kafka indexing service, materialized views)
  docs/content/development/extensions-core/kafka-ingestion.md
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorReport.java
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorSpec.java
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorSpecTest.java
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorTest.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorReportPayload.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpec.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/main/resources/indexer_static/js/console-0.0.1.js
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/security/OverlordSecurityResourceFilterTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorSpec.java
Labels: Area - Kafka Indexing

#6263 Add ability to specify list of task ports and port range
  docs/content/configuration/index.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/PortFinder.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/ForkingTaskRunnerConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/PortFinderTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/config/ForkingTaskRunnerConfigTest.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/ChatHandlerServerModule.java
Labels: Release Notes

#6226 Prohibit some Random usage patterns
  .idea/inspectionProfiles/Druid.xml
  benchmarks/src/main/java/org/apache/druid/benchmark/BasicAuthUserMapSerdeBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/CompressedColumnarIntsBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/CompressedVSizeColumnarMultiIntsBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/FlattenJSONBenchmarkUtil.java
  benchmarks/src/main/java/org/apache/druid/benchmark/FloatCompressionBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/IncrementalIndexRowTypeBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/LongCompressionBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/MergeSequenceBenchmark.java
  benchmarks/src/main/java/org/apache/druid/server/coordinator/CachingCostBalancerStrategyBenchmark.java
  benchmarks/src/main/java/org/apache/druid/server/coordinator/CostBalancerStrategyBenchmark.java
  codestyle/druid-forbidden-apis.txt
  common/src/main/java/org/apache/druid/common/utils/SocketUtil.java
  common/src/test/java/org/apache/druid/common/utils/IntArrayUtilsTest.java
  extensions-contrib/rabbitmq/src/test/java/org/apache/druid/examples/rabbitmq/RabbitMQProducerMain.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/GenerateTestData.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/GenerateTestData.java
  extensions-core/druid-kerberos/src/main/java/org/apache/druid/security/kerberos/KerberosAuthenticator.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/test/TestBroker.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorCollectorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceSerdeTest.java
  hll/src/test/java/org/apache/druid/hll/HyperLogLogCollectorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/RemoteTaskActionClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/helpers/TaskLogAutoCleanerConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  java-util/src/test/java/org/apache/druid/java/util/http/client/response/SequenceInputStreamResponseHandlerTest.java
  processing/src/test/java/org/apache/druid/collections/spatial/ImmutableRTreeTest.java
  processing/src/test/java/org/apache/druid/collections/spatial/RTreeTest.java
  processing/src/test/java/org/apache/druid/collections/spatial/split/LinearGutmanSplitStrategyTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerV9WithSpatialIndexTest.java
  processing/src/test/java/org/apache/druid/segment/data/BenchmarkIndexibleWrites.java
  processing/src/test/java/org/apache/druid/segment/filter/SpatialFilterBonusTest.java
  processing/src/test/java/org/apache/druid/segment/filter/SpatialFilterTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/OnheapIncrementalIndexTest.java
  server/src/main/java/org/apache/druid/server/coordinator/BalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/CostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/RandomBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/ReservoirSegmentSampler.java
  server/src/test/java/org/apache/druid/server/coordinator/ReservoirSegmentSamplerTest.java
  server/src/test/java/org/apache/druid/server/initialization/BaseJettyTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
Labels: Improvement

#6332 [Backport] Fix endpoint permissions section in basic-security docs (#6331)
  docs/content/development/extensions-core/druid-basic-security.md
Labels: Area - Documentation, Backport, Bug

#6340 Fix dictionary ID race condition in IncrementalIndexStorageAdapter
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapterTest.java
Labels: Area - Indexing, Bug

#6215 Adding licenses and enable apache-rat-plugin.
  examples/bin/broker.sh
  examples/bin/coordinator.sh
  examples/bin/generate-example-metrics
  examples/bin/historical.sh
  examples/bin/init
  examples/bin/middleManager.sh
  examples/bin/node.sh
  examples/bin/overlord.sh
  examples/quickstart/tutorial/hadoop/docker/Dockerfile
  examples/quickstart/tutorial/hadoop/docker/bootstrap.sh
  examples/quickstart/tutorial/hadoop/docker/core-site.xml.template
  examples/quickstart/tutorial/hadoop/docker/hdfs-site.xml
  examples/quickstart/tutorial/hadoop/docker/mapred-site.xml
  examples/quickstart/tutorial/hadoop/docker/yarn-site.xml
  extendedset/src/main/java/org/apache/druid/extendedset/intset/ConciseSetUtils.java
  extendedset/src/main/java/org/apache/druid/extendedset/utilities/IntList.java
  extensions-contrib/influx-extensions/src/main/antlr4/org/apache/druid/data/input/influx/InfluxLineProtocol.g4
  indexing-service/src/main/resources/indexer_static/js/console-0.0.1.js
  integration-tests/docker-base/Dockerfile
  integration-tests/docker-base/setup.sh
  integration-tests/docker/Dockerfile
  integration-tests/run_cluster.sh
  integration-tests/stop_cluster.sh
  pom.xml
  server/src/main/resources/static/old-console/css/config.css
  server/src/main/resources/static/old-console/css/enable.css
  server/src/main/resources/static/old-console/css/index.css
  server/src/main/resources/static/old-console/css/rules.css
  server/src/main/resources/static/old-console/css/style.css
  server/src/main/resources/static/old-console/js/config-0.0.2.js
  server/src/main/resources/static/old-console/js/druidTable-0.0.1.js
  server/src/main/resources/static/old-console/js/enable-0.0.1.js
  server/src/main/resources/static/old-console/js/handlers-0.0.2.js
  server/src/main/resources/static/old-console/js/init-0.0.2.js
  server/src/main/resources/static/old-console/js/jquery.dataTables-1.8.2.js
  server/src/main/resources/static/old-console/js/kill-0.0.1.js
  server/src/main/resources/static/old-console/js/rules-0.0.2.js
  server/src/main/resources/static/old-console/js/tablehelper-0.0.2.js
  services/src/bin/run.sh
  upload.sh
Labels: Apache

#6346 More exclusions for Rat license check
  pom.xml
Labels: Bug

#6304 fixes race condition in kafkasupervisor
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
Labels: Bug

#6348 Add metadata indexes to help with segment allocation.
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
Labels: Area - Indexing

#6362 Add Kafka reset instructions for tutorial
  docs/content/tutorials/index.md
Labels: Area - Documentation, Bug

#6363 [Backport] Add zookeeper/kafka tutorial reset instructions
  docs/content/tutorials/index.md
Labels: Area - Documentation, Backport, Bug

#6367 Fix non org.apache.druid files and add package name checkstyle rule
  codestyle/checkstyle.xml
  extensions-contrib/parquet-extensions/src/main/java/org/apache/parquet/avro/DruidParquetReadSupport.java
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/DimensionConverterTest.java
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/StatsDEmitterTest.java
  extensions-core/hdfs-storage/src/main/java/org/apache/hadoop/fs/HadoopFsWrapper.java
  integration-tests/src/main/java/org/testng/DruidTestRunnerFactory.java
  integration-tests/src/test/java/org/apache/druid/tests/security/ITTLSTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/EventReceiverFirehoseIdleTest.java
Labels: Bug

#6339 Tweak isInvalidRows behavior in HadoopTuningConfig
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DetermineHashedPartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerMapper.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopTuningConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/IndexGeneratorJob.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerMapperTest.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
Labels: Area - Indexing

#6373 Docs for ingestion stat reports and new parse exception handling
  docs/content/development/extensions-core/kafka-ingestion.md
  docs/content/ingestion/hadoop.md
  docs/content/ingestion/native_tasks.md
  docs/content/ingestion/reports.md
  docs/content/operations/api-reference.md
  docs/content/toc.md
Labels: Area - Documentation

#6369 Make JvmThreadsMonitor injectable
  java-util/src/main/java/org/apache/druid/java/util/metrics/JvmThreadsMonitor.java
  server/src/main/java/org/apache/druid/server/metrics/MetricsModule.java
Labels: Area - Metrics/Event Emitting, Bug

#6162 Add maven.exec.xxx.skip option for exec-maven-plugin
  distribution/pom.xml
  docs/content/development/build.md
Labels: Area - Testing

#6374 SQL: Unwrap IS_TRUE, IS_FALSE and friends when building a filter.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL

#6382 Reduce travis license check log output
  .travis.yml
Labels: Area - Testing

#6356 Fix indexes introduced in #6348.
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
Labels: Bug

#6385 Don't convert DruidServer to ImmutableDruidServers multiple times in DruidCoordinator
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
Labels: Performance

#6379 Fix TLS IT for docker-machine environments
  integration-tests/README.md
  integration-tests/docker/tls/generate-expired-client-cert.sh
  integration-tests/docker/tls/generate-good-client-cert.sh
  integration-tests/docker/tls/generate-incorrect-hostname-client-cert.sh
  integration-tests/docker/tls/generate-invalid-intermediate-client-cert.sh
  integration-tests/docker/tls/generate-to-be-revoked-client-cert.sh
  integration-tests/docker/tls/generate-untrusted-root-client-cert.sh
  integration-tests/docker/tls/generate-valid-intermediate-client-cert.sh
Labels: Area - Testing, Bug

#6222 Add ability to pass in Bloom filter from Hive Queries
  distribution/pom.xml
  docs/content/development/extensions-core/bloom-filter.md
  docs/content/development/extensions.md
  extensions-core/druid-bloom-filter/pom.xml
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/guice/BloomFilterExtensionModule.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/guice/BloomFilterSerializersModule.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/BloomDimFilter.java
  extensions-core/druid-bloom-filter/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/filter/BloomDimFilterTest.java
  pom.xml
  processing/src/main/java/org/apache/druid/query/filter/DimFilterUtils.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
Labels: Area - Extension, Area - Querying, Feature, Performance

#6390 Fix cache keys of DefaultDimensionSpec and ExtractionDimensionSpec
  processing/src/main/java/org/apache/druid/query/dimension/DefaultDimensionSpec.java
  processing/src/main/java/org/apache/druid/query/dimension/ExtractionDimensionSpec.java
  processing/src/test/java/org/apache/druid/query/dimension/DefaultDimensionSpecTest.java
  processing/src/test/java/org/apache/druid/query/dimension/ExtractionDimensionSpecTest.java
Labels: Bug

#6337 Fix Kafka Indexing Service notice handle thread may never terminate
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
Labels: Area - Kafka Indexing

#6388 Fix race in taskMaster
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskMaster.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
Labels: Bug

#6403 SQL: Fix too-strict check in SortProject.
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/SortProject.java
Labels: Area - SQL, Bug

#6396 Implement MapVirtualColumn.makeDimensionSelector properly
  extensions-contrib/virtual-columns/src/main/java/org/apache/druid/segment/MapTypeMapVirtualColumnDimensionSelector.java
  extensions-contrib/virtual-columns/src/main/java/org/apache/druid/segment/MapVirtualColumn.java
  extensions-contrib/virtual-columns/src/main/java/org/apache/druid/segment/MapVirtualColumnDimensionSelector.java
  extensions-contrib/virtual-columns/src/main/java/org/apache/druid/segment/MapVirtualColumnValueSelector.java
  extensions-contrib/virtual-columns/src/main/java/org/apache/druid/segment/StringTypeMapVirtualColumnDimensionSelector.java
  extensions-contrib/virtual-columns/src/test/java/org/apache/druid/segment/MapVirtualColumnGroupByTest.java
  extensions-contrib/virtual-columns/src/test/java/org/apache/druid/segment/MapVirtualColumnSelectTest.java
  extensions-contrib/virtual-columns/src/test/java/org/apache/druid/segment/MapVirtualColumnTestBase.java
  extensions-contrib/virtual-columns/src/test/java/org/apache/druid/segment/MapVirtualColumnTopNTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryMergeBufferTest.java
  processing/src/test/java/org/apache/druid/segment/TestIndex.java
Labels: Bug

#6404 SQL: Update to Calcite 1.17.0.
  pom.xml
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidTypeSystem.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/InformationSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryLogHook.java
Labels: Area - SQL, Improvement

#6406 ITTLSTest: Retry on "Connection reset by peer".
  integration-tests/src/test/java/org/apache/druid/tests/security/ITTLSTest.java
Labels: Area - Testing
