Repository apache/druid, pull requests merged in 2018-12, with the labels that each got.

#6696 Fix documentation links to use relative references
  docs/_includes/site_head.html
  docs/content/development/extensions-contrib/graphite.md
  docs/content/development/extensions-contrib/materialized-view.md
  docs/content/development/extensions-contrib/opentsdb-emitter.md
  docs/content/development/extensions-core/mysql.md
  docs/content/operations/insert-segment-to-db.md
  docs/content/tutorials/cluster.md
Labels: Area - Documentation

#6697 [Backport] fix links to use relative references
  docs/_includes/site_head.html
  docs/content/development/extensions-contrib/graphite.md
  docs/content/development/extensions-contrib/materialized-view.md
  docs/content/development/extensions-contrib/opentsdb-emitter.md
  docs/content/development/extensions-core/mysql.md
  docs/content/operations/insert-segment-to-db.md
  docs/content/tutorials/cluster.md
Labels: Area - Documentation, Backport

#6700 [Backport] Use PasswordProvider for basic HTTP escalator (#6650)
  docs/content/development/extensions-core/druid-basic-security.md
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authentication/BasicHTTPEscalator.java
Labels: Backport

#6505 Add default comparison to HavingSpecMetricComparator for custom Aggregator types
  processing/src/main/java/org/apache/druid/query/groupby/having/HavingSpecMetricComparator.java
  processing/src/test/java/org/apache/druid/query/TestBigDecimalSumAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
Labels: Improvement

#6713 Fix travis timeout in BufferHashGrouperTest
  processing/pom.xml
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/BufferHashGrouperTest.java
Labels: Area - Testing, Flaky test

#6662 Double-checked locking bugs
  aws-common/pom.xml
  aws-common/src/main/java/org/apache/druid/common/aws/LazyFileSessionCredentialsProvider.java
  pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/query/aggregation/JavaScriptAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/JavaScriptPostAggregator.java
  processing/src/main/java/org/apache/druid/query/extraction/JavaScriptExtractionFn.java
  processing/src/main/java/org/apache/druid/query/filter/JavaScriptDimFilter.java
Labels: Bug

#6706 Fix shutdownAllTasks API for non-existing dataSource
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
Labels: Bug

#6720 Add missing fail messages to tests
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceGroupByQueryTest.java
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  server/src/test/java/org/apache/druid/segment/realtime/RealtimeManagerTest.java
Labels: Area - Testing

#6730 [Backport] Fix broken link in docs toc
  docs/content/toc.md
Labels: Backport

#6727 move parquet extension input formats
  docs/content/development/extensions-core/parquet.md
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/DruidParquetAvroInputFormat.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/DruidParquetInputFormat.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/BaseParquetInputTest.java
Labels: Release Notes

#6729 Use @Coordinator leader client in CoordinatorRuleManager
  docs/content/development/router.md
  server/src/main/java/org/apache/druid/server/http/RulesResource.java
  server/src/main/java/org/apache/druid/server/router/CoordinatorRuleManager.java
  server/src/main/java/org/apache/druid/server/router/TieredBrokerConfig.java
  services/src/main/java/org/apache/druid/cli/CliRouter.java
Labels: Area - Router, Incompatible

#6749 Fix doc for automatic compaction
  docs/content/design/coordinator.md
Labels: Area - Documentation

#6738 Fix auto compaction when the firstSegment is in skipOffset
  server/src/main/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstPolicyTest.java
Labels: Bug

#6754 Fix error handling after pause request in Kafka supervisor
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClient.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClientTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
Labels: Area - Kafka/Kinesis Indexing

#6756 SQL: Add support for queries with project-after-semijoin.
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL

#6742 Broker: Await initialization before finishing startup.
  docs/content/configuration/index.md
  server/src/main/java/org/apache/druid/client/BrokerSegmentWatcherConfig.java
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/server/coordination/broker/DruidBroker.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  services/src/main/java/org/apache/druid/cli/CliHistorical.java
  services/src/main/java/org/apache/druid/cli/CliMiddleManager.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  services/src/main/java/org/apache/druid/cli/CliRouter.java
  services/src/main/java/org/apache/druid/cli/ServerRunnable.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Querying, Improvement

#6762 Fix missing DataNodeService for historical
  services/src/main/java/org/apache/druid/cli/CliHistorical.java
Labels: Bug

#6765 Broker: Start up DruidSchema immediately if there are no segments.
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaNoDataInitTest.java
Labels: Bug

#6785 add bloom filter operator to general sql docs
  docs/content/querying/sql.md
Labels: Area - Documentation
