Repository apache/druid, pull requests merged in 2019-01, with the labels that each got.

#6774 change propertyBase in ServerViewModule
  INTELLIJ_SETUP.md
  docs/content/configuration/index.md
  server/src/main/java/org/apache/druid/guice/ServerViewModule.java
Labels: Incompatible, Release Notes

#6769 SQL: Fix ordering of sort, sortProject in DruidSemiJoin.
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidSemiJoin.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#6787 Improve slfj logger input for MDC field:datasource
  server/src/main/java/org/apache/druid/server/log/LoggingRequestLogger.java
  server/src/test/java/org/apache/druid/server/log/LoggingRequestLoggerTest.java
Labels: Improvement

#6724 Fix issue that tasks failed because of no sink for identifier
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
Labels: Bug

#6810 Fix broken link in ingestion/schema-design.md docs
  docs/content/ingestion/schema-design.md
Labels: Area - Documentation

#6821 Update sql.md
  docs/content/querying/sql.md
Labels: Area - Documentation

#6807 Fix ParallelIndexTask when publishing empty segments
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskTest.java
Labels: Bug

#6833 fix parquet parse performance issue
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/simple/ParquetGroupConverter.java
Labels: Bug, Performance

#6689 bugfix: Materialized view not support post-aggregator
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/MaterializedViewQueryQueryToolChest.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/MaterializedViewQueryQueryToolChestTest.java
Labels: Bug

#6846 Use kafka_2.12-0.10.2.2
  extensions-contrib/kafka-emitter/pom.xml
  extensions-core/kafka-indexing-service/pom.xml
  integration-tests/docker-base/setup.sh
  integration-tests/pom.xml
Labels: Area - Kafka/Kinesis Indexing

#6848 Update approximate aggregators docs
  docs/content/querying/aggregations.md
  docs/content/querying/hll-old.md
Labels: Area - Documentation

#6804 Fix num_replicas count in sys.segments table
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/client/TimelineServerView.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataHolder.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestServerInventoryView.java
Labels: Bug

#6761 Some fixes and tests for spaces/non-ASCII chars in datasource names
  ci/travis_script_integration_part2.sh
  core/src/main/java/org/apache/druid/java/util/common/StringUtils.java
  core/src/test/java/org/apache/druid/java/util/common/StringUtilsTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IndexTaskClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/security/TaskResourceFilter.java
  indexing-service/src/main/resources/indexer_static/js/console-0.0.1.js
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskRunnerUtilsTest.java
  integration-tests/docker/Dockerfile
  integration-tests/docker/middlemanager.conf
  integration-tests/pom.xml
  integration-tests/run_cluster.sh
  integration-tests/src/main/java/org/apache/druid/testing/ConfigFileConfigProvider.java
  integration-tests/src/main/java/org/apache/druid/testing/DockerConfigProvider.java
  integration-tests/src/main/java/org/apache/druid/testing/IntegrationTestingConfig.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/ClientInfoResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/CoordinatorResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/TestQueryHelper.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITRealtimeIndexTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractIndexerTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITIndexerTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITKafkaIndexingServiceTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITKafkaTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITNestedQueryPushDownTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITUnionQueryTest.java
  integration-tests/src/test/resources/indexer/union_queries.json
  integration-tests/src/test/resources/indexer/wikipedia_compaction_task.json
  integration-tests/src/test/resources/indexer/wikipedia_index_queries.json
  integration-tests/src/test/resources/indexer/wikipedia_index_task.json
  integration-tests/src/test/resources/indexer/wikipedia_parallel_index_queries.json
  integration-tests/src/test/resources/indexer/wikipedia_parallel_index_task.json
  integration-tests/src/test/resources/indexer/wikipedia_realtime_appenderator_index_queries.json
  integration-tests/src/test/resources/indexer/wikipedia_realtime_appenderator_index_task.json
  integration-tests/src/test/resources/indexer/wikipedia_realtime_index_queries.json
  integration-tests/src/test/resources/indexer/wikipedia_realtime_index_task.json
  integration-tests/src/test/resources/indexer/wikipedia_reindex_task.json
  integration-tests/src/test/resources/indexer/wikipedia_union_index_task.json
  integration-tests/src/test/resources/indexer/wikiticker_index_task.json
  integration-tests/src/test/resources/queries/nestedquerypushdown_queries.json
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClient.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/ChatHandlerResource.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/TaskIdResponseHeaderFilterHolder.java
Labels: Bug

#6862 Update Curator to 4.1.0.
  pom.xml
Labels: Area - Zookeeper/Curator

#6808 Fix auto compaction to compact only same or abutting intervals
  server/src/main/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstPolicyTest.java
Labels: Bug

#6878 Fixed the format of broker client configuration documentation
  docs/content/configuration/index.md
Labels: Area - Documentation

#6868 Fix deadlock in DruidStatement & DruidConnection
  sql/src/main/java/org/apache/druid/sql/avatica/DruidConnection.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidStatement.java
Labels: Area - SQL, Bug

#6882 datasketches quantiles module - implemented makeAggregateCombiner
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
Labels: Bug

#6638 Fixed buckets histogram aggregator
  NOTICE
  benchmarks/pom.xml
  benchmarks/src/main/java/org/apache/druid/benchmark/FixedHistogramAddBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/FixedHistogramBenchmark.java
  docs/content/development/extensions-core/approximate-histograms.md
  extensions-core/datasketches/pom.xml
  extensions-core/histogram/pom.xml
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramDruidModule.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogram.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramAggregatorFactory.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramBufferAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramSerde.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/MaxPostAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/MinPostAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/QuantilePostAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/QuantilesPostAggregator.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramAggregationTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramBufferAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramGroupByQueryTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramTopNQueryTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/AggregatorUtil.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexMetricExtractor.java
  processing/src/main/java/org/apache/druid/segment/serde/LargeColumnSupportedComplexColumnSerializer.java
Labels: Feature

#6875 Fix fallback to cursor-based plan in UseIndexesStrategy
  processing/src/main/java/org/apache/druid/query/search/UseIndexesStrategy.java
  processing/src/test/java/org/apache/druid/query/search/SearchQueryRunnerWithCaseTest.java
Labels: Bug

#6897 fix build
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramTopNQueryTest.java
Labels: Bug, Development Blocker

#6782 Improve doc for auto compaction
  docs/content/configuration/index.md
  docs/content/design/coordinator.md
Labels: Area - Documentation

#6906 fix long/float/double dimension filtering for columns with nulls
  processing/src/main/java/org/apache/druid/query/filter/DoubleValueMatcherColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/filter/FloatValueMatcherColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/filter/LongValueMatcherColumnSelectorStrategy.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Null Handling, Area - Querying, Bug

#6914 Issue#6892- Replaced Math.random() with ThreadLocalRandom.current().nextDouble()
  codestyle/druid-forbidden-apis.txt
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocateAction.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedFloatsSerdeTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedLongsSerdeTest.java
Labels: Area - Automation/Static Analysis

#6913 For performance reasons, use `java.util.Base64` instead of Base64 in Apache Commons Codec and Guava
  codestyle/druid-forbidden-apis.txt
  core/src/main/java/org/apache/druid/java/util/common/StringUtils.java
  core/src/main/java/org/apache/druid/java/util/emitter/core/HttpPostEmitter.java
  core/src/test/java/org/apache/druid/java/util/emitter/core/EmitterTest.java
  extensions-contrib/thrift-extensions/src/main/java/org/apache/druid/data/input/thrift/ThriftDeserialization.java
  extensions-contrib/thrift-extensions/src/test/java/org/apache/druid/data/input/thrift/ThriftInputRowParserTest.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchOperations.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolder.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchOperations.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/GenerateTestData.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/GenerateTestData.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/GenerateTestData.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/BasicAuthUtils.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/sql/BloomFilterOperatorConversion.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/filter/sql/BloomDimFilterSqlTest.java
  extensions-core/druid-kerberos/src/main/java/org/apache/druid/security/kerberos/DruidKerberosAuthenticationHandler.java
  extensions-core/druid-kerberos/src/main/java/org/apache/druid/security/kerberos/DruidKerberosUtil.java
  extensions-core/druid-kerberos/src/main/java/org/apache/druid/security/kerberos/KerberosAuthenticator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramAggregatorFactory.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogram.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramAggregatorFactory.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorFactory.java
  hll/src/test/java/org/apache/druid/hll/HyperLogLogCollectorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/autoscaling/ec2/GalaxyEC2UserData.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/autoscaling/ec2/StringEC2UserData.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/autoscaling/EC2AutoScalerSerdeTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/HistogramAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniquesAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/PreComputedHyperUniquesSerde.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
Labels: Performance

#6899 More docs on data modeling.
  docs/content/ingestion/index.md
  docs/content/ingestion/ingestion-spec.md
  docs/content/ingestion/schema-design.md
  docs/content/querying/aggregations.md
  docs/content/toc.md
Labels: Area - Documentation

#6904 add bloom filter druid expression
  docs/content/development/extensions-core/bloom-filter.md
  docs/content/misc/math-expr.md
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/guice/BloomFilterExtensionModule.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/expressions/BloomFilterExprMacro.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/sql/BloomFilterOperatorConversion.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/filter/sql/BloomDimFilterSqlTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/SqlOperatorConversion.java
Labels: Area - SQL

#6933 Fix broken link on select query doc page
  docs/content/querying/groupbyquery.md
  docs/content/querying/select-query.md
Labels: Area - Documentation

#6929 Enhancements to dsql.
  examples/bin/dsql
  examples/bin/dsql-main
Labels: Improvement

#6710 Added an allocation rate metric #6604
  core/src/main/java/org/apache/druid/java/util/metrics/AllocationMetricCollector.java
  core/src/main/java/org/apache/druid/java/util/metrics/AllocationMetricCollectors.java
  core/src/main/java/org/apache/druid/java/util/metrics/JvmMonitor.java
  core/src/test/java/org/apache/druid/java/util/metrics/AllocationMetricCollectorTest.java
Labels: Area - Metrics/Event Emitting, Area - Operations

#6957 fix bug with expression virtual column selectors backed by a single long column
  processing/src/main/java/org/apache/druid/segment/virtual/SingleLongInputCachingExpressionColumnValueSelector.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVirtualColumnTest.java
Labels: Area - Null Handling, Bug

#6918 google-storage: retry on all GCS insert operations
  extensions-contrib/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleTaskLogs.java
Labels: Bug

#6966 Fall back to the old coordinator API for checking segment handoff if new one is not supported
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClient.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/CoordinatorBasedSegmentHandoffNotifier.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/CoordinatorBasedSegmentHandoffNotifierTest.java
Labels: Bug

#6955 update sys table docs
  docs/content/querying/sql.md
Labels: Area - Documentation

#6970 Kafka indexing: Remove experimental notice.
  docs/content/development/extensions-core/kafka-ingestion.md
Labels: Area - Kafka/Kinesis Indexing

#6961 Updated definition and added link for Zookeeper connection string.
  docs/content/tutorials/cluster.md
Labels: Area - Documentation
