Repository apache/druid, pull requests merged in 2019-06, with the labels that each got.

#7808 Enable SQL by default
  docs/content/configuration/index.md
  docs/content/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/guice/SqlModule.java
Labels: Compatibility, Release Notes

#7791 Fix repeated expr parsing in ExpressionPostAggregation
  processing/src/main/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregator.java
  processing/src/main/java/org/apache/druid/query/filter/ExpressionDimFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
Labels: Performance

#7804 Web-console: prevent unnecessary loading of disabled data sources
  web-console/src/views/datasource-view/datasource-view.tsx
Labels: Area - Web Console

#7812 Web console: Fix indent and make linting more strict
  web-console/package-lock.json
  web-console/package.json
  web-console/script/create-sql-function-doc.js
  web-console/src/components/show-log/show-log.tsx
  web-console/src/dialogs/history-dialog/history-dialog.tsx
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#7813 [Backport] Add missing protobuf license
  LICENSE.BINARY
  licenses/bin/protobuf-java-bloomberg.BSD3
  licenses/bin/protobuf-java-redhat.BSD3
Labels: Backport

#7814 [Backport] Fix performance-faq and remove insert-segment-to-db redirects (#7759)
  docs/_redirects.json
  docs/content/querying/groupbyquery.md
Labels: Backport

#7815 [Backport] Run npm ci instead of npm install to build web console
  web-console/pom.xml
Labels: Backport

#7817 Add a script to find missing backports
  docs/_bin/find-missing-backports.py
Labels: Improvement

#7747 Remove keepSegmentGranularity option for compaction
  benchmarks/src/main/java/org/apache/druid/server/coordinator/NewestSegmentFirstPolicyBenchmark.java
  docs/content/configuration/index.md
  docs/content/ingestion/compaction.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/resources/indexer/wikipedia_compaction_task.json
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactQuery.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/IndexingServiceClient.java
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactor.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/client/indexing/NoopIndexingServiceClient.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstPolicyTest.java
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
Labels: Incompatible, Release Notes

#7829 Web console: Add some CSS to make long value copy even easier
  web-console/package.json
  web-console/src/components/action-icon/action-icon.spec.tsx
  web-console/src/components/table-cell/__snapshots__/table-cell.spec.tsx.snap
  web-console/src/components/table-cell/table-cell.scss
  web-console/src/components/table-cell/table-cell.tsx
Labels: Area - Web Console

#7825 [druid-kerberos] Fix checking of host URI when reading cookies from cookie store
  extensions-core/druid-kerberos/src/main/java/org/apache/druid/security/kerberos/DruidKerberosUtil.java
  extensions-core/druid-kerberos/src/test/java/org/apache/druid/security/kerberos/KerberosUtilTest.java
Labels: Bug, Security

#7823 Fix timestamp ceil lower bound
  processing/src/main/java/org/apache/druid/query/expression/TimestampCeilExprMacro.java
  server/src/test/java/org/apache/druid/query/expression/ExprMacroTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#7827 discard filter when processing subtotalsSpec
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
Labels: Area - Querying, Bug

#7830 Kinesis: Fix getPartitionIds, should be checking isHasMoreShards.
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
Labels: Area - Kafka/Kinesis Indexing, Bug

#7655 allow sql lookup function to take advantage of injective lookups
  processing/src/main/java/org/apache/druid/query/lookup/LookupExtractionFn.java
  processing/src/main/java/org/apache/druid/query/lookup/RegisteredLookupExtractionFn.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/QueryLookupOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Lookups, Area - SQL, Performance, Release Notes

#7666 sketches-core-0.13.4
  extensions-core/datasketches/pom.xml
Labels: Area - Extension

#7719 add bloom filter fallback aggregator when types are unknown
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/BloomFilterAggregatorFactory.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/BloomFilterMergeAggregator.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/ObjectBloomFilterAggregator.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/StringBloomFilterAggregator.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/BloomFilterGroupByQueryTest.java
Labels: Area - Extension, Bug

#7844 Web console: less aggressive default value [bug fix]
  web-console/src/components/auto-form/auto-form.tsx
Labels: Area - Web Console, Bug

#7845 Web console: switch the console to use React PureComponents
  web-console/src/bootstrap/react-table-custom-pagination.tsx
  web-console/src/bootstrap/react-table-defaults.tsx
  web-console/src/components/action-cell/action-cell.tsx
  web-console/src/components/action-icon/action-icon.tsx
  web-console/src/components/array-input/array-input.tsx
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/center-message/center-message.tsx
  web-console/src/components/clearable-input/clearable-input.tsx
  web-console/src/components/external-link/external-link.tsx
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/components/json-collapse/json-collapse.tsx
  web-console/src/components/json-input/json-input.tsx
  web-console/src/components/loader/loader.tsx
  web-console/src/components/menu-checkbox/menu-checkbox.tsx
  web-console/src/components/rule-editor/rule-editor.tsx
  web-console/src/components/show-json/show-json.tsx
  web-console/src/components/show-log/show-log.tsx
  web-console/src/components/sql-control/sql-control.tsx
  web-console/src/components/table-cell/table-cell.tsx
  web-console/src/components/table-column-selector/table-column-selector.tsx
  web-console/src/components/view-control-bar/view-control-bar.tsx
  web-console/src/console-application.tsx
  web-console/src/dialogs/about-dialog/about-dialog.tsx
  web-console/src/dialogs/async-action-dialog/async-action-dialog.tsx
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/dialogs/coordinator-dynamic-config/coordinator-dynamic-config.tsx
  web-console/src/dialogs/history-dialog/history-dialog.tsx
  web-console/src/dialogs/lookup-edit-dialog/lookup-edit-dialog.tsx
  web-console/src/dialogs/overlord-dynamic-config/overlord-dynamic-config.tsx
  web-console/src/dialogs/query-plan-dialog/query-plan-dialog.tsx
  web-console/src/dialogs/retention-dialog/retention-dialog.tsx
  web-console/src/dialogs/snitch-dialog/snitch-dialog.tsx
  web-console/src/dialogs/spec-dialog/spec-dialog.tsx
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-table-action-dialog.tsx
  web-console/src/dialogs/table-action-dialog/table-action-dialog.tsx
  web-console/src/dialogs/task-table-action-dialog/task-table-action-dialog.tsx
  web-console/src/views/datasource-view/datasource-view.tsx
  web-console/src/views/home-view/home-view.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/servers-view/servers-view.tsx
  web-console/src/views/sql-view/sql-view.tsx
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#7846 Web console: prevent the time parse view from going into a bad state
  web-console/src/components/table-cell/__snapshots__/table-cell.spec.tsx.snap
  web-console/src/components/table-cell/table-cell.spec.tsx
  web-console/src/components/table-cell/table-cell.tsx
  web-console/src/utils/sampler.ts
Labels: Area - Web Console, Ease of Use

#7847 Web console: Normalize ingestion spec type
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#7595 Optimize overshadowed segments computation
  core/src/main/java/org/apache/druid/timeline/SegmentWithOvershadowedStatus.java
  core/src/main/java/org/apache/druid/utils/CollectionUtils.java
  core/src/test/java/org/apache/druid/timeline/SegmentWithOvershadowedStatusTest.java
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentListActionsTest.java
  integration-tests/src/test/resources/results/auth_test_sys_schema_segments.json
  server/src/main/java/org/apache/druid/client/DataSourcesSnapshot.java
  server/src/main/java/org/apache/druid/client/ImmutableDruidDataSource.java
  server/src/main/java/org/apache/druid/metadata/MetadataSegmentManager.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataSegmentManager.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorRuntimeParams.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorRuleRunner.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataSegmentManagerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorRuleRunnerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
Labels: Release Notes

#7848 Web console: Simplify task and supervisor detail displays
  web-console/src/components/show-json/show-json.tsx
  web-console/src/dialogs/supervisor-table-action-dialog/__snapshots__/supervisor-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-table-action-dialog.tsx
  web-console/src/dialogs/task-table-action-dialog/__snapshots__/task-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/task-table-action-dialog/task-table-action-dialog.tsx
Labels: Area - Web Console

#7851 [Backport] less aggressive default value (#7844)
  web-console/src/components/auto-form.tsx
Labels: Backport

#7850 [Backport] Optimize overshadowed segments computation (#7595)
  core/src/main/java/org/apache/druid/timeline/SegmentWithOvershadowedStatus.java
  core/src/main/java/org/apache/druid/utils/CollectionUtils.java
  core/src/test/java/org/apache/druid/timeline/SegmentWithOvershadowedStatusTest.java
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentListActionsTest.java
  integration-tests/src/test/resources/results/auth_test_sys_schema_segments.json
  server/src/main/java/org/apache/druid/client/DataSourcesSnapshot.java
  server/src/main/java/org/apache/druid/client/ImmutableDruidDataSource.java
  server/src/main/java/org/apache/druid/metadata/MetadataSegmentManager.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataSegmentManager.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorRuntimeParams.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorRuleRunner.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataSegmentManagerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorRuleRunnerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
Labels: Backport

#7839 Supervisor list api with states and health
  docs/content/operations/api-reference.md
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/Supervisor.java
Labels: Area - Kafka/Kinesis Indexing

#7857 Web console: Auto detect more JODA time formats
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/utils/__snapshots__/joda-to-regexp.spec.ts.snap
  web-console/src/utils/druid-time.ts
  web-console/src/utils/example-ingestion-spec.ts
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/utils/joda-to-regexp.spec.ts
  web-console/src/utils/joda-to-regexp.ts
Labels: Area - Web Console

#7801 Support var_pop, var_samp, stddev_pop and stddev_samp etc in sql
  docs/content/querying/sql.md
  extensions-core/stats/pom.xml
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/stats/DruidStatsModule.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/StandardDeviationPostAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceBufferAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/sql/BaseVarianceSqlAggregator.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
Labels: Area - SQL

#7862 tutorial doc fixes
  docs/content/tutorials/index.md
  docs/content/tutorials/tutorial-batch-hadoop.md
  docs/content/tutorials/tutorial-batch.md
  docs/content/tutorials/tutorial-kafka.md
  docs/content/tutorials/tutorial-tranquility.md
  examples/quickstart/tutorial/wikipedia-kafka-supervisor.json
Labels: Area - Documentation

#7799 Web-console: update supervisors table
  web-console/src/dialogs/supervisor-table-action-dialog/__snapshots__/supervisor-table-action-dialog.spec.tsx.snap
  web-console/src/utils/general.tsx
  web-console/src/views/datasource-view/__snapshots__/datasource-view.spec.tsx.snap
  web-console/src/views/lookups-view/__snapshots__/lookups-view.spec.tsx.snap
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/servers-view/__snapshots__/servers-view.spec.tsx.snap
  web-console/src/views/sql-view/__snapshots__/sql-view.spec.tsx.snap
  web-console/src/views/task-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#7867 [Backport] tutorial doc fixes
  docs/content/tutorials/index.md
  docs/content/tutorials/tutorial-batch-hadoop.md
  docs/content/tutorials/tutorial-batch.md
  docs/content/tutorials/tutorial-kafka.md
  docs/content/tutorials/tutorial-tranquility.md
  examples/quickstart/tutorial/wikipedia-kafka-supervisor.json
Labels: Backport

#7871 Web console: fix table scrolling [backport]
  web-console/src/views/sql-view.scss
  web-console/src/views/sql-view.tsx
Labels: Area - Web Console, Backport

#7885 Update doc add PolygonBound and missing extentions list
  docs/content/development/extensions.md
  docs/content/development/geo.md
Labels: Area - Documentation

#7892 Web console: query view allow semicolon with comment
  web-console/script/create-sql-function-doc.js
  web-console/src/views/sql-view/sql-view.spec.tsx
  web-console/src/views/sql-view/sql-view.tsx
Labels: Area - Web Console

#7764 Use map.putIfAbsent() or map.computeIfAbsent() as appropriate instead of containsKey() + put()
  .idea/inspectionProfiles/Druid.xml
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentMoverTest.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DetermineHashedPartitionsJob.java
  indexing-service/src/main/java/org/apache/druid/indexing/appenderator/ActionBasedUsedSegmentChecker.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/firehose/IngestSegmentFirehoseFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataSupervisorManager.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriverTest.java
  sql/src/main/java/org/apache/druid/sql/SqlLifecycle.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Automation/Static Analysis

#7810 Remove Apache Pig from the tests
  extensions-core/avro-extensions/pom.xml
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/AvroHadoopInputRowParser.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/AvroStreamInputRowParser.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroFlattenerMaker.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroParsers.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/GenericAvroJsonProvider.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoder.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/SchemaRepoBasedAvroBytesDecoder.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/schemarepo/Avro1124RESTRepositoryClientWrapper.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/schemarepo/Avro1124SubjectAndIdConverter.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroHadoopInputRowParserTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputRowParserTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/AvroFlattenerMakerTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoderTest.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/avro/ParquetAvroHadoopInputRowParser.java
Labels: Incompatible, Release Notes

#7888 Web-Console: tail log based on task status
  web-console/src/components/show-log/__snapshots__/show-log.spec.tsx.snap
  web-console/src/components/show-log/show-log.spec.tsx
  web-console/src/components/show-log/show-log.tsx
  web-console/src/dialogs/task-table-action-dialog/task-table-action-dialog.spec.tsx
  web-console/src/dialogs/task-table-action-dialog/task-table-action-dialog.tsx
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#7786 Add support of --exclude-extension argument for dependency report script
  docs/_bin/generate-license-dependency-reports.py
Labels: Bug

#7899 Fix script for dependency reports for extensions
  docs/_bin/generate-license-dependency-reports.py
Labels: Bug

#7903 Scan Query Doc Change
  docs/content/querying/scan-query.md
Labels: Area - Documentation

#7898 Web console: Add download path to SQL Query
  web-console/src/utils/general.tsx
  web-console/src/views/sql-view/__snapshots__/sql-view.spec.tsx.snap
  web-console/src/views/sql-view/sql-control/__snapshots__/sql-control.spec.tsx.snap
  web-console/src/views/sql-view/sql-control/sql-control.scss
  web-console/src/views/sql-view/sql-control/sql-control.spec.tsx
  web-console/src/views/sql-view/sql-control/sql-control.tsx
  web-console/src/views/sql-view/sql-view.tsx
Labels: Area - Web Console

#7852 endpoint to delete lookup tier and remove tier on last lookup deletion
  docs/content/querying/lookups.md
  server/src/main/java/org/apache/druid/server/http/LookupCoordinatorResource.java
  server/src/main/java/org/apache/druid/server/lookup/cache/LookupCoordinatorManager.java
  server/src/test/java/org/apache/druid/server/http/LookupCoordinatorResourceTest.java
  server/src/test/java/org/apache/druid/server/lookup/cache/LookupCoordinatorManagerTest.java
Labels: Area - Lookups

#7889 Use only google annotations GuardedBy instead JavaX
  codestyle/druid-forbidden-apis.txt
  core/pom.xml
  core/src/main/java/org/apache/druid/common/config/Log4jShutdown.java
  core/src/main/java/org/apache/druid/java/util/common/concurrent/DirectExecutorService.java
  core/src/main/java/org/apache/druid/java/util/emitter/core/ParametrizedUriEmitter.java
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/TDigestBuildSketchAggregator.java
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/TDigestMergeSketchAggregator.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidNodeDiscoveryProvider.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidConnection.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidStatement.java
Labels: Area - Automation/Static Analysis

#7863 Added the web console to the quickstart tutorials and docs
  docs/content/tutorials/img/tutorial-batch-01.png
  docs/content/tutorials/img/tutorial-batch-data-loader-01.png
  docs/content/tutorials/img/tutorial-batch-data-loader-02.png
  docs/content/tutorials/img/tutorial-batch-data-loader-03.png
  docs/content/tutorials/img/tutorial-batch-data-loader-04.png
  docs/content/tutorials/img/tutorial-batch-data-loader-05.png
  docs/content/tutorials/img/tutorial-batch-data-loader-06.png
  docs/content/tutorials/img/tutorial-batch-data-loader-07.png
  docs/content/tutorials/img/tutorial-batch-data-loader-08.png
  docs/content/tutorials/img/tutorial-batch-data-loader-09.png
  docs/content/tutorials/img/tutorial-batch-data-loader-10.png
  docs/content/tutorials/img/tutorial-batch-data-loader-11.png
  docs/content/tutorials/img/tutorial-batch-submit-task-01.png
  docs/content/tutorials/img/tutorial-batch-submit-task-02.png
  docs/content/tutorials/img/tutorial-kafka-01.png
  docs/content/tutorials/img/tutorial-kafka-02.png
  docs/content/tutorials/img/tutorial-query-01.png
  docs/content/tutorials/img/tutorial-query-02.png
  docs/content/tutorials/img/tutorial-query-03.png
  docs/content/tutorials/img/tutorial-query-04.png
  docs/content/tutorials/img/tutorial-query-05.png
  docs/content/tutorials/img/tutorial-query-06.png
  docs/content/tutorials/img/tutorial-query-07.png
  docs/content/tutorials/img/tutorial-quickstart-01.png
  docs/content/tutorials/index.md
  docs/content/tutorials/tutorial-batch.md
  docs/content/tutorials/tutorial-kafka.md
  docs/content/tutorials/tutorial-query.md
Labels: Area - Documentation, Area - Web Console

#7911 Web console: clean auto generated doc file in the web console
  web-console/script/clean
Labels: Area - Web Console

#7913 [Backport] Added the web console to the quickstart tutorials and docs
  docs/content/tutorials/img/tutorial-batch-01.png
  docs/content/tutorials/img/tutorial-batch-data-loader-01.png
  docs/content/tutorials/img/tutorial-batch-data-loader-02.png
  docs/content/tutorials/img/tutorial-batch-data-loader-03.png
  docs/content/tutorials/img/tutorial-batch-data-loader-04.png
  docs/content/tutorials/img/tutorial-batch-data-loader-05.png
  docs/content/tutorials/img/tutorial-batch-data-loader-06.png
  docs/content/tutorials/img/tutorial-batch-data-loader-07.png
  docs/content/tutorials/img/tutorial-batch-data-loader-08.png
  docs/content/tutorials/img/tutorial-batch-data-loader-09.png
  docs/content/tutorials/img/tutorial-batch-data-loader-10.png
  docs/content/tutorials/img/tutorial-batch-data-loader-11.png
  docs/content/tutorials/img/tutorial-batch-submit-task-01.png
  docs/content/tutorials/img/tutorial-batch-submit-task-02.png
  docs/content/tutorials/img/tutorial-kafka-01.png
  docs/content/tutorials/img/tutorial-kafka-02.png
  docs/content/tutorials/img/tutorial-query-01.png
  docs/content/tutorials/img/tutorial-query-02.png
  docs/content/tutorials/img/tutorial-query-03.png
  docs/content/tutorials/img/tutorial-query-04.png
  docs/content/tutorials/img/tutorial-query-05.png
  docs/content/tutorials/img/tutorial-query-06.png
  docs/content/tutorials/img/tutorial-query-07.png
  docs/content/tutorials/img/tutorial-quickstart-01.png
  docs/content/tutorials/index.md
  docs/content/tutorials/tutorial-batch.md
  docs/content/tutorials/tutorial-kafka.md
  docs/content/tutorials/tutorial-query.md
Labels: Area - Documentation, Backport

#7920 Bump fastutil to 8.2.3
  pom.xml
Labels: Improvement

#7917 WorkerTaskManager to create disk files atomically and ignore task file corruption
  core/src/main/java/org/apache/druid/java/util/common/FileUtils.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/WorkerTaskManager.java
Labels: Bug

#7924 Bump commons-compress from 1.16 to 1.18
  pom.xml
Labels: Improvement

#7922 Web console: Data loader respects parse spec columns for data preview
  web-console/package-lock.json
  web-console/package.json
  web-console/src/utils/general.spec.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/load-data-view.scss
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/load-data-view/schema-table/schema-table.tsx
Labels: Area - Web Console

#7894 Add Spotbugs
  .travis.yml
  codestyle/spotbugs-exclude.xml
  pom.xml
Labels: Area - Automation/Static Analysis

#7934 Web console: more accurate keyword auto complete in Query View
  web-console/script/create-sql-function-doc.js
  web-console/src/views/query-view/column-tree/column-tree.tsx
  web-console/src/views/query-view/query-input/keywords.ts
  web-console/src/views/query-view/query-input/query-input.tsx
  web-console/src/views/query-view/run-button/run-button.tsx
Labels: Area - Web Console

#7784 Add finalizeAsBase64Binary option to FixedBucketsHistogramAggregatorFactory
  docs/content/development/extensions-core/approximate-histograms.md
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramAggregatorFactory.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramFoldingAggregatorFactory.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramAggregatorFactory.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregator.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramGroupByQueryTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramTopNQueryTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramBufferAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramGroupByQueryTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramTopNQueryTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregatorTest.java
Labels: Area - Querying, Ease of Use, Release Notes

#7941 Add missing license pointer for Porter Stemmer
  LICENSE
  licenses/src/porter-stemmer.BSD3
Labels: Apache

#7912 Web-console: add timed button
  web-console/src/components/index.ts
  web-console/src/components/refresh-button/refresh-button.tsx
  web-console/src/components/timed-button/timed-button.scss
  web-console/src/components/timed-button/timed-button.tsx
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-table-action-dialog.tsx
  web-console/src/utils/local-storage-keys.tsx
  web-console/src/utils/query-manager.tsx
  web-console/src/views/datasource-view/__snapshots__/datasource-view.spec.tsx.snap
  web-console/src/views/datasource-view/datasource-view.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/servers-view/__snapshots__/servers-view.spec.tsx.snap
  web-console/src/views/servers-view/servers-view.tsx
  web-console/src/views/task-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#7945 Adjust NOTICE files
  NOTICE
  NOTICE.BINARY
Labels: Apache

#7947 Web console: Power up the data loader init step
  web-console/assets/druid.png
  web-console/assets/example.png
  web-console/assets/hadoop.png
  web-console/assets/http.png
  web-console/assets/kafka.png
  web-console/assets/kinesis.png
  web-console/assets/local.png
  web-console/assets/other.png
  web-console/assets/static-google-blobstore.png
  web-console/assets/static-s3.png
  web-console/package-lock.json
  web-console/package.json
  web-console/script/cp-to
  web-console/script/create-sql-function-doc.js
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/__snapshots__/load-data-view.spec.tsx.snap
  web-console/src/views/load-data-view/load-data-view.scss
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#7958 expression virtual column selector fix for expressions which produce array types
  core/src/main/java/org/apache/druid/math/expr/ApplyFunction.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVirtualColumnTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Bug

#7206 Add the pull-request template
  .github/pull_request_template.md
  dev/code-review/concurrency.md
  dev/committer-instructions.md
  pom.xml
Labels: Area - Dev, Design Review

#7977 clarify granularity docs
  docs/content/querying/granularities.md
Labels: Area - Documentation

#7979 Add missing redirect for ORC extension document
  docs/_redirects.json
Labels: Area - Documentation

#7980 [Backport] Add missing redirect for ORC extension document
  docs/_redirects.json
Labels: Backport

#7982 [Backport] fix SQL doc comment
  docs/content/querying/sql.md
Labels: Area - Documentation

#7937 theta sketch to string post agg
  docs/content/development/extensions-core/datasketches-theta.md
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchToStringPostAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchToStringPostAggregatorTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/PostAggregatorIds.java
Labels: Feature

#7983 Fix wrong redirect for orc extension
  docs/_redirects.json
Labels: Area - Documentation

#7984 [Backport] Fix wrong redirect for orc extension
  docs/_redirects.json
Labels: Backport

#7992 [Backport] Fix TOC clustering example link (#7749)
  docs/content/toc.md
Labels: Area - Documentation, Backport

#7993 [Backport] Fix references to removed performance FAQ page (#7755)
  docs/content/operations/recommendations.md
  docs/content/toc.md
Labels: Area - Documentation, Backport

#7965 support NVL sql function
  docs/content/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidConvertletTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL
