Repository apache/druid, pull requests merged in 2019-09, with the labels that each got.

#8281 Add realization for updating version of derived segments in Materiali…
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorTest.java
Labels: Area - Extension

#8405 Bump ORC library to 1.5.6
  extensions-core/orc-extensions/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#8381 Fix inconsistent equals and hashCode
  extensions-core/google-extensions/src/main/java/org/apache/druid/firehose/google/GoogleBlob.java
  extensions-core/lookups-cached-single/src/main/java/org/apache/druid/server/lookup/LoadingLookupFactory.java
  extensions-core/lookups-cached-single/src/main/java/org/apache/druid/server/lookup/PollingLookupFactory.java
  extensions-core/lookups-cached-single/src/main/java/org/apache/druid/server/lookup/jdbc/JdbcDataFetcher.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/StandardDeviationPostAggregator.java
  processing/src/main/java/org/apache/druid/query/extraction/IdentityExtractionFn.java
  processing/src/main/java/org/apache/druid/query/ordering/StringComparators.java
  processing/src/main/java/org/apache/druid/query/search/InsensitiveContainsSearchQuerySpec.java
Labels: Improvement

#8466 Speed up StringDimensionIndexer.estimateEncodedKeyComponentSize
  benchmarks/src/main/java/org/apache/druid/benchmark/indexing/StringDimensionIndexerBenchmark.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
Labels: Area - Batch Indexing, Area - Kafka/Kinesis Indexing, Performance

#8452 Fix operator mistake of expression OR
  docs/misc/math-expr.md
Labels: Area - Documentation

#8469 [Backport] Fix operator mistake of expression OR
  docs/misc/math-expr.md
Labels: Backport

#8467 [Backport] Speed up StringDimensionIndexer.estimateEncodedKeyComponentSize
  benchmarks/src/main/java/org/apache/druid/benchmark/indexing/StringDimensionIndexerBenchmark.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
Labels: Backport

#8471 Web console: fix iPad viewport width
  web-console/unified-console.html
  web-console/webpack.config.js
Labels: Area - Web Console

#8473 Web console: swap ordering clauses in the menu
  web-console/src/views/query-view/query-output/query-output.tsx
Labels: Area - Web Console

#8472 [statsd-emitter] Fix service tag by avoiding using a reserved word
  extensions-contrib/statsd-emitter/src/main/java/org/apache/druid/emitter/statsd/StatsDEmitter.java
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/StatsDEmitterTest.java
Labels: Bug

#8474 [Backport] Web console: fix iPad viewport width
  web-console/unified-console.html
  web-console/webpack.config.js
Labels: Backport

#8475 [Backport] Web console: swap ordering clauses in the menu
  web-console/src/views/query-view/query-output/query-output.tsx
Labels: Backport

#8476 [Backport] [statsd-emitter] Fix service tag by avoiding using a reserved word
  extensions-contrib/statsd-emitter/src/main/java/org/apache/druid/emitter/statsd/StatsDEmitter.java
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/StatsDEmitterTest.java
Labels: Backport

#8477 fix statds dogstatsdServiceAsTag docs example to match behavior
  docs/development/extensions-contrib/statsd.md
Labels: Area - Documentation, Release Notes

#8478 [Backport] fix statds dogstatsdServiceAsTag docs example to match behavior
  docs/development/extensions-contrib/statsd.md
Labels: Backport

#8479 Web console: fix datasource name auto detection
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/utils/sampler.ts
Labels: Area - Web Console

#8480 [Backport] Web console: fix datasource name auto detection
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/utils/sampler.ts
Labels: Backport

#8465 disallow whitespace characters except space in data source names
  server/src/main/java/org/apache/druid/segment/indexing/DataSchema.java
  server/src/test/java/org/apache/druid/segment/indexing/DataSchemaTest.java
Labels: Bug, Ease of Use

#8433 StringDictionaryEncodedColumn dimSelector to return CARDINALITY_UNKNOWN with extractionFn
  processing/src/main/java/org/apache/druid/segment/DimensionDictionarySelector.java
  processing/src/main/java/org/apache/druid/segment/column/StringDictionaryEncodedColumn.java
Labels: Bug

#8383 Fix alerts from LGTM about python files
  distribution/bin/check-licenses.py
  distribution/bin/find-missing-backports.py
  distribution/bin/generate-license-dependency-reports.py
  distribution/bin/jar-notice-lister.py
Labels: Improvement

#8355 Fix result of division may be truncated
  examples/bin/dsql-main
Labels: Improvement

#8380 Suppress index-out-of-bounds warning from LGTM about loop unrolling
  processing/src/main/java/org/apache/druid/query/topn/TopNLexicographicResultBuilder.java
  processing/src/main/java/org/apache/druid/query/topn/TopNNumericResultBuilder.java
Labels: Area - Dev

#8458 Exit JVM on curator unhandled errors
  core/src/test/java/org/apache/druid/testing/junit/LoggerCaptureRule.java
  docs/configuration/index.md
  pom.xml
  server/pom.xml
  server/src/main/java/org/apache/druid/curator/BoundedExponentialBackoffRetryWithQuit.java
  server/src/main/java/org/apache/druid/curator/CuratorConfig.java
  server/src/main/java/org/apache/druid/curator/CuratorModule.java
  server/src/test/java/org/apache/druid/curator/BoundedExponentialBackoffRetryWithQuitTest.java
  server/src/test/java/org/apache/druid/curator/CuratorModuleTest.java
Labels: Area - Operations, Area - Zookeeper/Curator, Design Review

#8482 add option to control version of website build
  website/pom.xml
Labels: Area - Documentation

#8486 [Backport] add option to control version of website build
  website/pom.xml
Labels: Backport

#8485 Web console: split segment view query into two
  web-console/src/views/segments-view/segments-view.tsx
Labels: Area - Web Console, Bug

#8488 [Backport] Web console: split segment view query into two
  web-console/src/views/segments-view/segments-view.tsx
Labels: Backport

#8490 Update RoaringBitmap version to 0.8.11
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#8496 [Backport] Bump ORC library to 1.5.6
  extensions-core/orc-extensions/pom.xml
  licenses.yaml
Labels: Backport

#8498 [Backport] Exit JVM on curator unhandled errors
  core/src/test/java/org/apache/druid/testing/junit/LoggerCaptureRule.java
  docs/configuration/index.md
  pom.xml
  server/pom.xml
  server/src/main/java/org/apache/druid/curator/BoundedExponentialBackoffRetryWithQuit.java
  server/src/main/java/org/apache/druid/curator/CuratorConfig.java
  server/src/main/java/org/apache/druid/curator/CuratorModule.java
  server/src/test/java/org/apache/druid/curator/BoundedExponentialBackoffRetryWithQuitTest.java
  server/src/test/java/org/apache/druid/curator/CuratorModuleTest.java
Labels: Backport

#8495 Check targetCompactionSizeBytes to search for candidate segments in auto compaction
  server/src/main/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstIterator.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/SegmentCompactorUtil.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactorTest.java
Labels: Bug, Release Notes

#8500 [Backport] Check targetCompactionSizeBytes to search for candidate segments in auto compaction
  server/src/main/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstIterator.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/SegmentCompactorUtil.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactorTest.java
Labels: Backport

#8502 fix web-console build in src distribution, fix kafka doc minimum version
  distribution/src/assembly/source-assembly.xml
  docs/development/extensions-core/kafka-ingestion.md
Labels: Area - Documentation, Bug

#8503 [Backport] fix web-console build in src distribution, fix kafka doc minimum version
  distribution/src/assembly/source-assembly.xml
  docs/development/extensions-core/kafka-ingestion.md
Labels: Backport

#8506 Web console: Fix snitch dialog final step
  web-console/src/dialogs/snitch-dialog/snitch-dialog.tsx
Labels: Bug

#8513 clarify error messaging for parallel indexing task when when missing numShards or intervals
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/MultiPhaseParallelIndexingTest.java
Labels: Area - Batch Indexing, Ease of Use

#8510 Move router/indexer config/API docs to main pages
  docs/configuration/index.md
  docs/design/indexer.md
  docs/design/router.md
  docs/operations/api-reference.md
Labels: Area - Documentation

#8519 [Backport] Move router/indexer config/API docs to main pages
  docs/configuration/index.md
  docs/design/indexer.md
  docs/design/router.md
  docs/operations/api-reference.md
Labels: Backport

#8514 Web console: Force intervals config
  web-console/src/components/array-input/array-input.tsx
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/table-cell/table-cell.tsx
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/load-data-view/parse-data-table/parse-data-table.spec.tsx
  web-console/src/views/load-data-view/parse-data-table/parse-data-table.tsx
Labels: Area - Web Console, Ease of Use

#8530 Web console: Update web console docs for 0.16.0
  docs/assets/web-console-01-home-view.png
  docs/assets/web-console-02-data-loader-1.png
  docs/assets/web-console-03-data-loader-2.png
  docs/assets/web-console-04-datasources.png
  docs/assets/web-console-05-retention.png
  docs/assets/web-console-06-segments.png
  docs/assets/web-console-07-supervisors.png
  docs/assets/web-console-08-supervisor-status.png
  docs/assets/web-console-08-tasks.png
  docs/assets/web-console-09-task-status.png
  docs/assets/web-console-10-servers.png
  docs/assets/web-console-11-query-sql.png
  docs/assets/web-console-12-query-rune.png
  docs/assets/web-console-13-lookups.png
  docs/operations/druid-console.md
Labels: Area - Documentation, Area - Web Console

#8533 Web console: fix spec dialog highlighting
  web-console/src/dialogs/spec-dialog/spec-dialog.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#8483 Add 'edit' and 'copy code' buttons to docs
  website/siteConfig.js
  website/static/css/code-block-buttons.css
  website/static/js/code-block-buttons.js
Labels: Area - Documentation

#8535 fix caching bug with multi-column group-by
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
Labels: Bug

#8539 [Backport] Web console: fix spec dialog highlighting
  web-console/src/dialogs/spec-dialog/spec-dialog.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Backport

#8538 [Backport] Web console: fix typo in forceGuaranteedRollup tooltip
  web-console/src/utils/ingestion-spec.tsx
Labels: Backport

#8540 [Backport] Web console: Update web console docs for 0.16.0
  docs/assets/web-console-01-home-view.png
  docs/assets/web-console-02-data-loader-1.png
  docs/assets/web-console-03-data-loader-2.png
  docs/assets/web-console-04-datasources.png
  docs/assets/web-console-05-retention.png
  docs/assets/web-console-06-segments.png
  docs/assets/web-console-07-supervisors.png
  docs/assets/web-console-08-supervisor-status.png
  docs/assets/web-console-08-tasks.png
  docs/assets/web-console-09-task-status.png
  docs/assets/web-console-10-servers.png
  docs/assets/web-console-11-query-sql.png
  docs/assets/web-console-12-query-rune.png
  docs/assets/web-console-13-lookups.png
  docs/operations/druid-console.md
Labels: Backport

#8541 [Backport] Add 'edit' and 'copy code' buttons to docs
  website/siteConfig.js
  website/static/css/code-block-buttons.css
  website/static/js/code-block-buttons.js
Labels: Backport

#8542 [Backport] fix caching bug with multi-column group-by
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
Labels: Backport

#8528 Add diags for flaky CuratorModuleTest
  server/src/test/java/org/apache/druid/curator/CuratorModuleTest.java
Labels: Area - Testing, Flaky test

#8526 Make running test in Intellij work with JaCoCo
  .idea/mavenProjectSettings.xml
Labels: Area - Dev, Bug, Development Blocker

#8491 Fix missing space in string literal and spurious Javadoc @param tags from LGTM
  core/src/main/java/org/apache/druid/guice/LifecycleModule.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryRunnerFactory.java
Labels: Improvement

#8551 Fix serde of FilterTuning maxCardinalityToUseBitmapIndex.
  processing/src/main/java/org/apache/druid/query/filter/FilterTuning.java
  processing/src/test/java/org/apache/druid/query/filter/FilterTuningTest.java
Labels: Bug

#8484 Web console: Druid status displayed in a table
  web-console/src/dialogs/status-dialog/__snapshots__/status-dialog.spec.tsx.snap
  web-console/src/dialogs/status-dialog/status-dialog.scss
  web-console/src/dialogs/status-dialog/status-dialog.spec.tsx
  web-console/src/dialogs/status-dialog/status-dialog.tsx
Labels: Area - Web Console, Improvement

#8554 Web console: polish the data loader
  web-console/src/components/auto-form/__snapshots__/auto-form.spec.tsx.snap
  web-console/src/components/auto-form/auto-form.spec.tsx
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/suggestible-input/suggestible-input.tsx
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/utils/spec-utils.spec.ts
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#8546 add support for dogstatsd events in statsd-emitter
  docs/development/extensions-contrib/statsd.md
  extensions-contrib/statsd-emitter/pom.xml
  extensions-contrib/statsd-emitter/src/main/java/org/apache/druid/emitter/statsd/StatsDEmitter.java
  extensions-contrib/statsd-emitter/src/main/java/org/apache/druid/emitter/statsd/StatsDEmitterConfig.java
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/StatsDEmitterTest.java
Labels: Area - Metrics/Event Emitting

#8427 update HRTR to account for task known to be running on a worker when it shows up
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/WorkerHolder.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/WorkerHolderTest.java
Labels: Bug

#8565 Adjust defaults for hashed partitioning
  core/src/main/java/org/apache/druid/indexer/partitions/Checks.java
  core/src/main/java/org/apache/druid/indexer/partitions/HashedPartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/PartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/SingleDimensionPartitionsSpec.java
  core/src/test/java/org/apache/druid/indexer/partitions/SingleDimensionPartitionsSpecTest.java
  docs/ingestion/hadoop.md
  docs/ingestion/native-batch.md
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopIngestionSpecTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/partitions/HashedPartitionsSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskSerdeTest.java
Labels: Area - Batch Indexing, Release Notes

#8567 Web console: be clear on what is required, add more info boxes
  web-console/src/components/auto-form/__snapshots__/auto-form.spec.tsx.snap
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/dialogs/coordinator-dynamic-config-dialog/coordinator-dynamic-config-dialog.tsx
  web-console/src/dialogs/overlord-dynamic-config-dialog/overlord-dynamic-config-dialog.tsx
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/__snapshots__/load-data-view.spec.tsx.snap
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#8394 #8156 : StructuralSearchInspection, Prohibit check on Thread.getState()
  .idea/inspectionProfiles/Druid.xml
  core/src/test/java/org/apache/druid/testing/DeadlockDetectingFailOnTimeout.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/EventReceiverFirehoseIdleTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/EventReceiverFirehoseTest.java
Labels: Area - Automation/Static Analysis

#8493 Add new items to concurrency code review checklist
  dev/code-review/concurrency.md
Labels: Area - Dev

#8543 Web console: prevent extra trim in auto complete
  web-console/src/views/query-view/query-input/__snapshots__/query-input.spec.tsx.snap
  web-console/src/views/query-view/query-input/query-input.spec.tsx
  web-console/src/views/query-view/query-input/query-input.tsx
Labels: Area - Web Console, Bug

#8568 fix docs version interpolation
  docs/operations/pull-deps.md
  docs/querying/query-context.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  docs/tutorials/tutorial-batch-hadoop.md
  docs/tutorials/tutorial-batch.md
  docs/tutorials/tutorial-ingestion-spec.md
  docs/tutorials/tutorial-rollup.md
  website/script/fix-path.js
Labels: Area - Documentation

#8561 make it possible to not emit cache metrics and disable by default
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  services/src/main/java/org/apache/druid/cli/CliHistorical.java
Labels: Area - Cache, Incompatible, Release Notes

#8581 [Backport] fix docs version interpolation
  docs/operations/pull-deps.md
  docs/querying/query-context.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  docs/tutorials/tutorial-batch-hadoop.md
  docs/tutorials/tutorial-batch.md
  docs/tutorials/tutorial-ingestion-spec.md
  docs/tutorials/tutorial-rollup.md
  website/script/fix-path.js
Labels: Backport

#8579 Web console: Expand filter UI
  web-console/src/dialogs/status-dialog/status-dialog.tsx
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#8576 fix http firehose factory leaky connection in constructor
  server/src/main/java/org/apache/druid/segment/realtime/firehose/HttpFirehoseFactory.java
Labels: Bug

#8537 Web console: Add frontend buttons to remove group by
  web-console/package-lock.json
  web-console/package.json
  web-console/src/views/query-view/column-tree/column-tree-menu/number-menu-items/__snapshots__/number-menu-items.spec.tsx.snap
  web-console/src/views/query-view/column-tree/column-tree-menu/number-menu-items/number-menu-items.spec.tsx
  web-console/src/views/query-view/column-tree/column-tree-menu/number-menu-items/number-menu-items.tsx
  web-console/src/views/query-view/column-tree/column-tree-menu/string-menu-items/__snapshots__/string-menu-items.spec.tsx.snap
  web-console/src/views/query-view/column-tree/column-tree-menu/string-menu-items/string-menu-items.spec.tsx
  web-console/src/views/query-view/column-tree/column-tree-menu/string-menu-items/string-menu-items.tsx
  web-console/src/views/query-view/column-tree/column-tree-menu/time-menu-items/__snapshots__/time-menu-items.spec.tsx.snap
  web-console/src/views/query-view/column-tree/column-tree-menu/time-menu-items/time-menu-items.spec.tsx
  web-console/src/views/query-view/column-tree/column-tree-menu/time-menu-items/time-menu-items.tsx
Labels: Area - Web Console

#8586 Website: add Druid version correctly
  website/pom.xml
  website/script/build-to-docs
  website/script/fix-path.js
Labels: Area - Documentation

#8587 [Backport] Website: add Druid version correctly
  website/pom.xml
  website/script/build-to-docs
  website/script/fix-path.js
Labels: Backport

#8248 Add TrustedDomain Authenticator
  docs/design/auth.md
  server/src/main/java/org/apache/druid/server/initialization/jetty/ServletFilterHolder.java
  server/src/main/java/org/apache/druid/server/security/AuthConfig.java
  server/src/main/java/org/apache/druid/server/security/Authenticator.java
  server/src/main/java/org/apache/druid/server/security/TrustedDomainAuthenticator.java
  server/src/test/java/org/apache/druid/server/security/TrustedDomainAuthenticatorTest.java
  website/.spelling
Labels: Feature, Security

#8593 Website: stricter replace
  website/script/fix-path.js
Labels: Area - Documentation, Bug

#8595 [Backport] Website: stricter replace
  website/script/fix-path.js
Labels: Backport

#8459 doubleMean aggregator to be used at query time
  core/src/main/java/org/apache/druid/java/util/common/collect/Utils.java
  docs/querying/aggregations.md
  processing/src/main/java/org/apache/druid/jackson/AggregatorsModule.java
  processing/src/main/java/org/apache/druid/query/aggregation/AggregatorUtil.java
  processing/src/main/java/org/apache/druid/query/aggregation/SimpleDoubleBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanHolder.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/SimpleTestIndex.java
Labels: Area - Querying

#8596 bugfix: fix queuedSize not decrease in HttpLoadQueuePeon when load failed
  server/src/main/java/org/apache/druid/server/coordinator/HttpLoadQueuePeon.java
Labels: Bug

#8450 get active task by datasource when supervisor discover tasks
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/HeapMemoryTaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/MetadataTaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Kafka/Kinesis Indexing, Performance

#8550 JsonParserIterator.init future timeout
  processing/src/main/java/org/apache/druid/query/ChainedExecutionQueryRunner.java
  processing/src/main/java/org/apache/druid/query/QueryInterruptedException.java
  server/src/main/java/org/apache/druid/client/JsonParserIterator.java
  server/src/test/java/org/apache/druid/client/DirectDruidClientTest.java
Labels: Area - Querying, Improvement

#8600 Fix download link in doc page header links
  website/siteConfig.js
Labels: Area - Documentation, Bug

#8601 [Backport] Fix download link in doc page header links
  website/siteConfig.js
Labels: Backport

#8404 Bump HttpClient to 4.5.10
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#8407 Remove commons-httpclient
  extensions-contrib/cassandra-storage/pom.xml
  extensions-core/druid-kerberos/pom.xml
  extensions-core/hdfs-storage/pom.xml
  pom.xml
Labels: Area - Dependencies

#8598 bug fix for lookup leak when we remove the last lookup from lookup tier
  server/src/main/java/org/apache/druid/server/lookup/cache/LookupCoordinatorManager.java
  server/src/test/java/org/apache/druid/server/lookup/cache/LookupCoordinatorManagerTest.java
Labels: Area - Lookups, Bug

#8594 Web console: Widen Task ID and Created Time columns
  web-console/src/views/task-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#8038 Making optimal usage of multiple segment cache locations
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/segment/loading/LeastBytesUsedStorageLocationSelectorStrategy.java
  server/src/main/java/org/apache/druid/segment/loading/RoundRobinStorageLocationSelectorStrategy.java
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderConfig.java
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManager.java
  server/src/main/java/org/apache/druid/segment/loading/StorageLocation.java
  server/src/main/java/org/apache/druid/segment/loading/StorageLocationSelectorStrategy.java
  server/src/test/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManagerTest.java
  server/src/test/java/org/apache/druid/segment/loading/StorageLocationSelectorStrategyTest.java
  website/.spelling
Labels: Design Review

#8607 add reference to indexer nodes
  docs/operations/rolling-updates.md
Labels: Area - Documentation
