Repository apache/druid, pull requests merged in 2019-07, with the labels that each got.

#7971 Enable Spotbugs: MS_MUTABLE_COLLECTION_PKGPROTECT
  codestyle/spotbugs-exclude.xml
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
Labels: Area - Automation/Static Analysis

#7972 Enable Spotbugs: RCN_REDUNDANT_NULLCHECK_OF_NULL_VALUE
  codestyle/spotbugs-exclude.xml
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunner.java
Labels: Area - Automation/Static Analysis

#8002 Improve pull-deps reference in extensions page.
  docs/content/development/extensions.md
Labels: Area - Documentation

#7915 remove deprecated standalone realtime node
  docs/_redirects.json
  docs/content/configuration/index.md
  docs/content/configuration/realtime.md
  docs/content/dependencies/zookeeper.md
  docs/content/design/realtime.md
  docs/content/development/overview.md
  docs/content/ingestion/firehose.md
  docs/content/ingestion/ingestion-spec.md
  docs/content/ingestion/standalone-realtime.md
  docs/content/ingestion/stream-pull.md
  server/src/main/java/org/apache/druid/guice/FireDepartmentsProvider.java
  server/src/main/java/org/apache/druid/guice/RealtimeManagerConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/RealtimeManager.java
  server/src/test/java/org/apache/druid/segment/realtime/RealtimeManagerTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/CombiningFirehoseFactoryTest.java
  services/src/main/java/org/apache/druid/cli/CliRealtime.java
  services/src/main/java/org/apache/druid/cli/CliRealtimeExample.java
  services/src/main/java/org/apache/druid/cli/Main.java
  services/src/main/java/org/apache/druid/guice/RealtimeModule.java
  services/src/test/java/org/apache/druid/cli/MainTest.java
Labels: Design Review, Incompatible, Release Notes

#7974 more sql support for expression array functions
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  docs/content/misc/math-expr.md
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayLengthOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOffsetOfOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOffsetOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOrdinalOfOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOrdinalOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayToStringOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringAppendOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringConcatOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringPrependOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringSliceOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/StringToMultiValueStringOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL

#8011 add SQL docs for multi-value string dimensions
  docs/content/misc/math-expr.md
  docs/content/querying/multi-value-dimensions.md
  docs/content/querying/sql.md
Labels: Area - Documentation, Area - SQL

#8016 adjust PR template
  .github/pull_request_template.md
Labels: Ease of Use

#8019 multi-value string expression transformation fix
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/ExprListenerImpl.java
  core/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  core/src/main/java/org/apache/druid/math/expr/Parser.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/SimpleDoubleAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/SimpleFloatAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/SimpleLongAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregator.java
  processing/src/main/java/org/apache/druid/query/expression/TrimExprMacro.java
  processing/src/main/java/org/apache/druid/query/filter/ExpressionDimFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/RowBasedExpressionColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/SingleLongInputCachingExpressionColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/SingleStringInputCachingExpressionColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/SingleStringInputDimensionSelector.java
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVirtualColumnTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Area - SQL, Bug

#8024 fix FileUtils performance regression due to FilterOutputStream
  core/src/main/java/org/apache/druid/java/util/common/FileUtils.java
Labels: Performance

#8020 remove FirehoseV2 and realtime node extensions
  LICENSE.BINARY
  NOTICE.BINARY
  core/src/main/java/org/apache/druid/data/input/FirehoseFactoryV2.java
  core/src/main/java/org/apache/druid/data/input/FirehoseV2.java
  distribution/pom.xml
  docs/_redirects.json
  docs/content/development/extensions-contrib/kafka-simple.md
  docs/content/development/extensions-contrib/rabbitmq.md
  docs/content/development/extensions-contrib/rocketmq.md
  docs/content/development/extensions-core/kafka-eight-firehose.md
  docs/content/development/extensions.md
  docs/content/ingestion/standalone-realtime.md
  docs/content/operations/pull-deps.md
  examples/pom.xml
  examples/src/main/java/org/apache/druid/examples/ExamplesDruidModule.java
  examples/src/main/java/org/apache/druid/examples/twitter/TwitterSpritzerFirehoseFactory.java
  examples/src/main/java/org/apache/druid/examples/wikipedia/IrcDecoder.java
  examples/src/main/java/org/apache/druid/examples/wikipedia/IrcFirehoseFactory.java
  examples/src/main/java/org/apache/druid/examples/wikipedia/IrcInputRowParser.java
  examples/src/main/java/org/apache/druid/examples/wikipedia/WikipediaIrcDecoder.java
  examples/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-contrib/druid-rocketmq/pom.xml
  extensions-contrib/druid-rocketmq/src/main/java/org/apache/druid/firehose/rocketmq/RocketMQDruidModule.java
  extensions-contrib/druid-rocketmq/src/main/java/org/apache/druid/firehose/rocketmq/RocketMQFirehoseFactory.java
  extensions-contrib/kafka-eight-simpleConsumer/pom.xml
  extensions-contrib/kafka-eight-simpleConsumer/src/main/java/org/apache/druid/firehose/kafka/KafkaEightSimpleConsumerDruidModule.java
  extensions-contrib/kafka-eight-simpleConsumer/src/main/java/org/apache/druid/firehose/kafka/KafkaEightSimpleConsumerFirehoseFactory.java
  extensions-contrib/kafka-eight-simpleConsumer/src/main/java/org/apache/druid/firehose/kafka/KafkaSimpleConsumer.java
  extensions-contrib/kafka-eight-simpleConsumer/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-contrib/rabbitmq/pom.xml
  extensions-contrib/rabbitmq/src/main/java/org/apache/druid/firehose/rabbitmq/JacksonifiedConnectionFactory.java
  extensions-contrib/rabbitmq/src/main/java/org/apache/druid/firehose/rabbitmq/RabbitMQDruidModule.java
  extensions-contrib/rabbitmq/src/main/java/org/apache/druid/firehose/rabbitmq/RabbitMQFirehoseConfig.java
  extensions-contrib/rabbitmq/src/main/java/org/apache/druid/firehose/rabbitmq/RabbitMQFirehoseFactory.java
  extensions-contrib/rabbitmq/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-contrib/rabbitmq/src/test/java/org/apache/druid/examples/rabbitmq/RabbitMQFirehoseFactoryTest.java
  extensions-contrib/rabbitmq/src/test/java/org/apache/druid/examples/rabbitmq/RabbitMQProducerMain.java
  extensions-core/kafka-eight/pom.xml
  extensions-core/kafka-eight/src/main/java/org/apache/druid/firehose/kafka/KafkaEightDruidModule.java
  extensions-core/kafka-eight/src/main/java/org/apache/druid/firehose/kafka/KafkaEightFirehoseFactory.java
  extensions-core/kafka-eight/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestRealtimeTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/TaskAnnouncementTest.java
  pom.xml
  server/src/main/java/org/apache/druid/segment/indexing/RealtimeIOConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/FireDepartment.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/Committers.java
  server/src/test/java/org/apache/druid/initialization/InitializationTest.java
  server/src/test/java/org/apache/druid/segment/realtime/FireDepartmentTest.java
  services/src/test/java/org/apache/druid/cli/validate/DruidJsonValidatorTest.java
Labels: Area - Extension, Design Review, Incompatible, Release Notes

#8014 optimize single string dimension expression selector
  processing/src/main/java/org/apache/druid/segment/virtual/SingleStringInputDimensionSelector.java
Labels: Area - Querying, Performance

#8013 Fix ExpressionVirtualColumn capabilities; fix groupBy's improper uses of StorageAdapter#getColumnCapabilities.
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/segment/StorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
Labels: Area - Querying, Bug, Performance

#8023 Add round support for DS-HLL
  docs/content/development/extensions-core/datasketches-hll.md
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
Labels: Area - Extension, Area - Querying, Area - SQL

#8003 Add missing reference to Materialized-View extension.
  docs/content/development/extensions.md
Labels: Area - Documentation

#8022 Enable Spotbugs: MS_OOI_PKGPROTECT
  codestyle/spotbugs-exclude.xml
  processing/src/main/java/org/apache/druid/query/metadata/metadata/AllColumnIncluderator.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/ColumnIncluderator.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/ListColumnIncluderator.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/NoneColumnIncluderator.java
Labels: Area - Automation/Static Analysis

#7843 Add instruction about skipping up-to-date checks when running integration tests
  integration-tests/README.md
Labels: Area - Testing

#7998 Binary license management system
  .travis.yml
  LICENSE.BINARY
  distribution/pom.xml
  docs/_bin/generate-license-dependency-reports.py
  docs/_bin/generate-license.py
  licenses.yaml
  licenses/APACHE2
  licenses/bin/javax.activation-api.CDDL11
  licenses/bin/javax.annotation-api.CDDL11
  licenses/bin/jersey-json.CDDL11
  licenses/bin/old-jaxb.CDDL11
Labels: Apache, Area - Dependencies

#8026 set DRUID_AUTHORIZATION_CHECKED attribute for router endpoints
  server/src/main/java/org/apache/druid/server/http/RouterResource.java
  server/src/main/java/org/apache/druid/server/security/AuthenticationUtils.java
  server/src/main/java/org/apache/druid/server/security/UnsecuredResourceFilter.java
  server/src/test/java/org/apache/druid/server/http/security/SecurityResourceFilterTest.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  services/src/main/java/org/apache/druid/cli/CoordinatorJettyServerInitializer.java
  services/src/main/java/org/apache/druid/cli/MiddleManagerJettyServerInitializer.java
  services/src/main/java/org/apache/druid/cli/QueryJettyServerInitializer.java
  services/src/main/java/org/apache/druid/cli/RouterJettyServerInitializer.java
Labels: Bug, Security

#8044 SupervisorManager: Add authorization checks to bulk endpoints.
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  server/src/main/java/org/apache/druid/server/security/AuthenticationResult.java
Labels: Bug, Security

#8046 Adding missing docs for druid.indexer.logs.disableAcl
  docs/content/configuration/index.md
Labels: Area - Documentation

#8028 Web console: added bulk supervisor actions
  web-console/package.json
  web-console/src/console-application.tsx
  web-console/src/dialogs/async-action-dialog/__snapshots__/async-action-dialog.spec.tsx.snap
  web-console/src/dialogs/async-action-dialog/async-action-dialog.scss
  web-console/src/dialogs/async-action-dialog/async-action-dialog.tsx
  web-console/src/utils/general.tsx
  web-console/src/utils/query-manager.tsx
  web-console/src/views/datasource-view/__snapshots__/datasource-view.spec.tsx.snap
  web-console/src/views/datasource-view/datasource-view.tsx
  web-console/src/views/lookups-view/__snapshots__/lookups-view.spec.tsx.snap
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/servers-view/__snapshots__/servers-view.spec.tsx.snap
  web-console/src/views/servers-view/servers-view.tsx
  web-console/src/views/task-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#8043 Web console: added replicated size to datasources view
  web-console/src/views/datasource-view/__snapshots__/datasource-view.spec.tsx.snap
  web-console/src/views/datasource-view/datasource-view.tsx
Labels: Area - Web Console

#8050 Add IS_INCREMENTAL_HANDOFF_SUPPORTED for KIS backward compatibility
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Kafka/Kinesis Indexing

#7919 add config to optionally disable all compression in intermediate segment persists while ingestion
  docs/content/development/extensions-core/kafka-ingestion.md
  docs/content/development/extensions-core/kinesis-ingestion.md
  docs/content/ingestion/hadoop.md
  docs/content/ingestion/native_tasks.md
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorSpec.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpec.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/test/TestModifiedKafkaIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorSpec.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/test/TestModifiedKinesisIndexTaskTuningConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopTuningConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/IndexGeneratorJob.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/BatchDeltaIngestionTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DetermineHashedPartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DeterminePartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerConfigTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopTuningConfigTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/IndexGeneratorJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/JobHelperTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/path/GranularityPathSpecTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/index/RealtimeAppenderatorTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/index/YeOldePlumberSchool.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTuningConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  server/src/main/java/org/apache/druid/segment/indexing/RealtimeTuningConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/RealtimePlumber.java
  server/src/test/java/org/apache/druid/segment/indexing/RealtimeTuningConfigTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorPlumberTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/DefaultOfflineAppenderatorFactoryTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/RealtimePlumberSchoolTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/SinkTest.java
  services/src/test/java/org/apache/druid/cli/validate/DruidJsonValidatorTest.java
Labels: Area - Batch Indexing, Area - Kafka/Kinesis Indexing, Design Review, Performance, Release Notes

#8057 fix master branch build
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
Labels: Development Blocker

#8055 force native order when wrapping ByteBuffer
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeBufferAggregator.java
Labels: Area - Extension, Area - Querying, Bug

#8066 write value of bitmap as field name
  services/src/main/java/org/apache/druid/cli/DumpSegment.java
Labels: Bug

#8056 Add inline firehose
  docs/content/ingestion/firehose.md
  server/src/main/java/org/apache/druid/guice/FirehoseModule.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/InlineFirehose.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/InlineFirehoseFactory.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/package-info.java
  server/src/test/java/org/apache/druid/guice/FirehoseModuleTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/InlineFirehoseFactoryTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/InlineFirehoseTest.java
Labels: Area - Batch Indexing

#7985 fail complex type 'serde' registration when registered type does not match expected type
  benchmarks/src/main/java/org/apache/druid/benchmark/FilterPartitionBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/FilteredAggregatorBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/GroupByTypeInterfaceBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/TopNTypeInterfaceBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/datagen/SegmentGenerator.java
  benchmarks/src/main/java/org/apache/druid/benchmark/indexing/IncrementalIndexReadBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/indexing/IndexIngestionBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/indexing/IndexMergeBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/indexing/IndexPersistBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/GroupByBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/ScanBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/SearchBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/SelectBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/TimeseriesBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/TopNBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/timecompare/TimeCompareBenchmark.java
  extensions-contrib/momentsketch/src/main/java/org/apache/druid/query/aggregation/momentsketch/MomentSketchModule.java
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/TDigestSketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/oldapi/OldApiSketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchModule.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/guice/BloomFilterSerializersModule.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramDruidModule.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/stats/DruidStatsModule.java
  processing/src/main/java/org/apache/druid/jackson/AggregatorsModule.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniquesSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/PreComputedHyperUniquesSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexMetrics.java
  processing/src/test/java/org/apache/druid/segment/SchemalessIndexTest.java
  processing/src/test/java/org/apache/druid/segment/TestIndex.java
  processing/src/test/java/org/apache/druid/segment/serde/ComplexMetricsTest.java
Labels: Area - Segment Format and Ser/De

#8081 Use gender-neutral preposition in teamcity.md
  dev/teamcity.md
Labels: Area - Dev

#8079 Fix documentation formatting
  docs/content/development/extensions-contrib/distinctcount.md
  docs/content/development/extensions-contrib/influx.md
  docs/content/development/extensions-contrib/materialized-view.md
  docs/content/development/extensions-contrib/momentsketch-quantiles.md
  docs/content/development/extensions-contrib/moving-average-query.md
  docs/content/development/extensions-contrib/tdigestsketch-quantiles.md
  docs/content/development/extensions-core/druid-basic-security.md
  docs/content/development/extensions-core/druid-lookups.md
  docs/content/development/extensions-core/orc.md
  docs/content/querying/filters.md
Labels: Area - Documentation

#8086 add Class.getCanonicalName to forbidden-apis
  codestyle/druid-forbidden-apis.txt
  core/src/main/java/org/apache/druid/guice/GuiceInjectableValues.java
  core/src/main/java/org/apache/druid/java/util/common/lifecycle/Lifecycle.java
  core/src/main/java/org/apache/druid/metadata/DefaultPasswordProvider.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/NamespaceLookupExtractorFactory.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/OffHeapNamespaceExtractionCacheManager.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/namespace/UriExtractionNamespaceTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamDataSourceMetadata.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamEndSequenceNumbers.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamStartSequenceNumbers.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/http/WorkerResource.java
  processing/src/main/java/org/apache/druid/collections/bitmap/WrappedBitSetBitmap.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/datasourcemetadata/DataSourceMetadataQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/lookup/RegisteredLookupExtractionFn.java
  processing/src/main/java/org/apache/druid/query/search/SearchStrategy.java
  processing/src/test/java/org/apache/druid/granularity/QueryGranularityTest.java
  processing/src/test/java/org/apache/druid/segment/CloserRuleTest.java
  processing/src/test/java/org/apache/druid/segment/data/BitmapCreationBenchmark.java
  server/src/main/java/org/apache/druid/initialization/Initialization.java
  server/src/main/java/org/apache/druid/initialization/Log4jShutterDownerModule.java
  server/src/main/java/org/apache/druid/server/StatusResource.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/test/java/org/apache/druid/initialization/InitializationTest.java
  server/src/test/java/org/apache/druid/server/StatusResourceTest.java
Labels: Area - Automation/Static Analysis

#8090 Web console: add missing dynamic coordinator configs
  web-console/src/console-application.tsx
  web-console/src/dialogs/coordinator-dynamic-config-dialog/coordinator-dynamic-config-dialog.tsx
  web-console/src/entry.ts
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#8084 Add more exempt tags for stalebot; Make stalebot to close PRs/issues in 28 days rather than in 7/14 days
  .github/ISSUE_TEMPLATE/problem_report.md
  .github/stale.yml
  dev/committer-instructions.md
Labels: Area - Dev, Design Review

#8059 Refactoring to use `CollectionUtils.mapValues`
  .idea/inspectionProfiles/Druid.xml
  core/src/main/java/org/apache/druid/utils/CollectionUtils.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/org/apache/druid/server/SegmentManager.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCluster.java
  server/src/main/java/org/apache/druid/server/coordinator/cost/ClusterCostCache.java
  server/src/main/java/org/apache/druid/server/coordinator/cost/ServerCostCache.java
Labels: Refactoring

#8089 add CachingClusteredClient benchmark, refactor some stuff
  benchmarks/src/main/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  codestyle/druid-forbidden-apis.txt
  core/src/main/java/org/apache/druid/collections/CombiningIterable.java
  core/src/main/java/org/apache/druid/collections/CombiningIterator.java
  core/src/main/java/org/apache/druid/collections/OrderedMergeIterator.java
  core/src/main/java/org/apache/druid/collections/OrderedMergeSequence.java
  core/src/main/java/org/apache/druid/common/guava/CombiningSequence.java
  core/src/main/java/org/apache/druid/common/guava/GuavaUtils.java
  core/src/main/java/org/apache/druid/java/util/common/guava/BaseSequence.java
  core/src/main/java/org/apache/druid/java/util/common/guava/nary/BinaryFn.java
  core/src/main/java/org/apache/druid/java/util/common/guava/nary/SortedMergeIterator.java
  core/src/test/java/org/apache/druid/collections/CombiningIteratorTest.java
  core/src/test/java/org/apache/druid/collections/OrderedMergeIteratorTest.java
  core/src/test/java/org/apache/druid/collections/OrderedMergeSequenceTest.java
  core/src/test/java/org/apache/druid/common/guava/ComplexSequenceTest.java
  core/src/test/java/org/apache/druid/java/util/common/guava/nary/SortedMergeIteratorTest.java
  extensions-contrib/distinctcount/src/test/java/org/apache/druid/query/aggregation/distinctcount/DistinctCountTopNQueryTest.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/DatasourceOptimizerTest.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/MaterializedViewQueryTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramTopNQueryTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramTopNQueryTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceTopNQueryTest.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJob.java
  processing/src/main/java/org/apache/druid/query/QueryToolChest.java
  processing/src/main/java/org/apache/druid/query/ResultMergeQueryRunner.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByBinaryFnV2.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/search/SearchBinaryFn.java
  processing/src/main/java/org/apache/druid/query/search/SearchQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/select/SelectBinaryFn.java
  processing/src/main/java/org/apache/druid/query/select/SelectQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesBinaryFn.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/topn/TopNBinaryFn.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryBuilder.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/collections/CombiningIterableTest.java
  processing/src/test/java/org/apache/druid/query/DefaultQueryMetricsTest.java
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
  processing/src/test/java/org/apache/druid/query/topn/DefaultTopNQueryMetricsTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNMetricSpecOptimizationsTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryRunnerBenchmark.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNUnionQueryTest.java
  processing/src/test/java/org/apache/druid/segment/AppendTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessTestFullTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessTestSimpleTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/DummyStringVirtualColumnTest.java
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/client/selector/ConnectionCountServerSelectorStrategy.java
  server/src/main/java/org/apache/druid/client/selector/QueryableDruidServer.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/server/router/JavaScriptTieredBrokerSelectorStrategyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#8088 Add intermediary data server for shuffle
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/SegmentLoaderFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/config/TaskConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/IntermediaryDataManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/config/WorkerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/http/ShuffleResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskToolboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/HadoopTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/firehose/IngestSegmentFirehoseFactoryTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/firehose/IngestSegmentFirehoseFactoryTimelineTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/IntermediaryDataManagerAutoCleanupTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/IntermediaryDataManagerManualAddAndDeleteTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskMonitorTest.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/IndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/TaskStatusResponse.java
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManager.java
  server/src/main/java/org/apache/druid/segment/loading/StorageLocation.java
  server/src/main/java/org/apache/druid/segment/loading/StorageLocationConfig.java
  server/src/test/java/org/apache/druid/client/indexing/NoopIndexingServiceClient.java
  server/src/test/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManagerTest.java
  server/src/test/java/org/apache/druid/segment/loading/StorageLocationTest.java
  server/src/test/java/org/apache/druid/server/SegmentManagerThreadSafetyTest.java
  services/src/main/java/org/apache/druid/cli/CliMiddleManager.java
Labels: Area - Batch Indexing

#8105 avoid 'must return non-void type' warning
  indexing-service/src/main/java/org/apache/druid/indexing/worker/http/TaskManagementResource.java
  server/src/main/java/org/apache/druid/server/http/SegmentListerResource.java
Labels: Bug

#7986 Web Console: add Group by interval to segments view
  web-console/script/mkcomp
  web-console/src/utils/query-manager.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/tsconfig.json
  web-console/unified-console.html
  web-console/webpack.config.js
Labels: Area - Web Console

#8099 Fix druid sql group by queries returning complex aggregation type
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Projection.java
Labels: Area - SQL, Bug

#8068 Druid SQL EXTRACT time function - adding support for additional Time Units
  docs/content/querying/sql.md
  processing/src/main/java/org/apache/druid/query/expression/TimestampExtractExprMacro.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ExtractOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - SQL, Bug

#8113 Web console: cleanup build, check licenses in test
  web-console/README.md
  web-console/package.json
  web-console/src/utils/druid-type.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/filter-table/filter-table.tsx
  web-console/src/views/load-data-view/parse-data-table/parse-data-table.tsx
  web-console/src/views/load-data-view/parse-time-table/parse-time-table.tsx
  web-console/src/views/load-data-view/schema-table/schema-table.tsx
  web-console/src/views/load-data-view/transform-table/transform-table.tsx
  web-console/tsconfig.json
Labels: Area - Web Console

#8106 fix npe with sql metadata manager polling and empty database
  server/src/main/java/org/apache/druid/metadata/SQLMetadataSegmentManager.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataSegmentManagerEmptyTest.java
Labels: Bug

#8021 Enable Spotbugs: NP_STORE_INTO_NONNULL_FIELD
  codestyle/spotbugs-exclude.xml
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolder.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchBuildAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeAggregator.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryEngine.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/BufferArrayGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/BufferHashGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/segment/MetricHolder.java
  processing/src/main/java/org/apache/druid/segment/SingleScanTimeDimensionSelector.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionMergerV9.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnBuilder.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilitiesImpl.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnDescriptor.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarDoublesSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarFloatsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarLongsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/ByteBufferWriter.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedVSizeColumnarIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/data/IntermediateColumnarLongsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/LongsLongEncodingWriter.java
  processing/src/main/java/org/apache/druid/segment/data/VSizeColumnarIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/VSizeColumnarMultiIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/VSizeLongSerde.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexAdapter.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexRowHolder.java
  processing/src/main/java/org/apache/druid/segment/incremental/OffheapIncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/DictionaryEncodedColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/DoubleNumericColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/DoubleNumericColumnPartSerdeV2.java
  processing/src/main/java/org/apache/druid/segment/serde/FloatNumericColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/FloatNumericColumnPartSerdeV2.java
  processing/src/main/java/org/apache/druid/segment/serde/LongNumericColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/LongNumericColumnPartSerdeV2.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/EventReceiverFirehoseFactory.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/PredicateFirehose.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/SqlFirehoseFactory.java
  server/src/main/java/org/apache/druid/server/coordination/BatchDataSegmentAnnouncer.java
  server/src/main/java/org/apache/druid/server/coordination/BatchDataSegmentAnnouncerProvider.java
  server/src/main/java/org/apache/druid/server/coordination/ChangeRequestHttpSyncer.java
  server/src/main/java/org/apache/druid/server/coordination/SegmentLoadDropHandler.java
  server/src/main/java/org/apache/druid/server/coordination/ZkCoordinator.java
Labels: Area - Automation/Static Analysis

#8073 Spotbugs: SS_SHOULD_BE_STATIC
  codestyle/spotbugs-exclude.xml
  server/src/main/java/org/apache/druid/server/security/AnonymousAuthenticator.java
Labels: Area - Automation/Static Analysis

#8116 remove unnecessary lock in ForegroundCachePopulator leading to a lot of contention
  docs/content/configuration/index.md
  processing/src/main/java/org/apache/druid/query/QueryRunnerFactory.java
  server/src/main/java/org/apache/druid/client/cache/BackgroundCachePopulator.java
  server/src/main/java/org/apache/druid/client/cache/CachePopulator.java
  server/src/main/java/org/apache/druid/client/cache/CachePopulatorStats.java
  server/src/main/java/org/apache/druid/client/cache/ForegroundCachePopulator.java
Labels: Area - Cache, Area - Querying, Performance

#8085 fix forking task runner task shutdown to be more graceful
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
Labels: Bug

#8087 fix references to bin/supervise in tutorial docs
  docs/content/tutorials/tutorial-batch-hadoop.md
  docs/content/tutorials/tutorial-tranquility.md
Labels: Area - Documentation

#8145 Revert "Spotbugs: SS_SHOULD_BE_STATIC"
  codestyle/spotbugs-exclude.xml
  server/src/main/java/org/apache/druid/server/security/AnonymousAuthenticator.java
Labels: Development Blocker

#8140 fix issue with CuratorLoadQueuePeon shutting down executors it does not own
  server/src/main/java/org/apache/druid/server/coordinator/CuratorLoadQueuePeon.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Area - Segment Balancing/Coordination, Bug

#8149 More documentation formatting fixes
  docs/content/development/extensions-core/approximate-histograms.md
  docs/content/development/extensions-core/bloom-filter.md
  docs/content/development/extensions-core/druid-basic-security.md
  docs/content/ingestion/native_tasks.md
  docs/content/operations/basic-cluster-tuning.md
  docs/content/operations/deep-storage-migration.md
  docs/content/operations/export-metadata.md
  docs/content/operations/metadata-migration.md
  docs/content/operations/recommendations.md
  docs/content/querying/aggregations.md
  docs/content/tutorials/cluster.md
Labels: Area - Documentation

#8076 Spotbugs: RC_REF_COMPARISON_BAD_PRACTICE_BOOLEAN
  codestyle/spotbugs-exclude.xml
  processing/src/main/java/org/apache/druid/query/metadata/metadata/SegmentAnalysis.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQuery.java
Labels: Area - Automation/Static Analysis

#8153 Add more warning to the doc for resetOffsetAutomatically
  docs/content/development/extensions-core/kafka-ingestion.md
  docs/content/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation, Area - Kafka/Kinesis Indexing

#8151 [Backport] fix issue with CuratorLoadQueuePeon shutting down executors it does not own
  server/src/main/java/org/apache/druid/server/coordinator/CuratorLoadQueuePeon.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Backport

#8124 Web-console: add lookups tile to home view
  web-console/src/views/home-view/__snapshots__/home-view.spec.tsx.snap
  web-console/src/views/home-view/home-view.tsx
Labels: Area - Web Console

#8144 Web-console: Add continue to spec view
  web-console/src/views/load-data-view/load-data-view.scss
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#8114 Fix race between canHandle() and addSegment() in StorageLocation
  indexing-service/src/main/java/org/apache/druid/indexing/worker/IntermediaryDataManager.java
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManager.java
  server/src/main/java/org/apache/druid/segment/loading/StorageLocation.java
  server/src/test/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManagerConcurrencyTest.java
  server/src/test/java/org/apache/druid/segment/loading/StorageLocationTest.java
Labels: Bug

#8152 [Backport] fix forking task runner task shutdown to be more graceful
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
Labels: Backport

#8181 Web console: add reindex (ingestSegment firehose) to the data loader
  licenses.yaml
  licenses/bin/lodash.compact.MIT
  web-console/assets/ingestsegment.png
  web-console/assets/inline.png
  web-console/package-lock.json
  web-console/package.json
  web-console/sasslint.json
  web-console/src/components/array-input/array-input.tsx
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/json-input/json-input.tsx
  web-console/src/utils/druid-query.ts
  web-console/src/utils/druid-time.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/load-data-view.scss
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#8174 [Backport] Kinesis: Fix getPartitionIds, should be checking isHasMoreShards.
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
Labels: Backport

#8195 [Backport] fix circular reference in moving average query
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/MovingAverageQueryToolChest.java
Labels: Backport

#8164 Web-console: add history menu to supervisors modal
  web-console/src/components/show-history/__snapshots__/show-history.spec.tsx.snap
  web-console/src/components/show-history/show-history.scss
  web-console/src/components/show-history/show-history.spec.tsx
  web-console/src/components/show-history/show-history.tsx
  web-console/src/components/show-value/__snapshots__/show-value.spec.tsx.snap
  web-console/src/components/show-value/show-value.scss
  web-console/src/components/show-value/show-value.spec.tsx
  web-console/src/components/show-value/show-value.tsx
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-table-action-dialog.tsx
Labels: Area - Web Console

#8005 Enable Spotbugs: WMI_WRONG_MAP_ITERATOR
  codestyle/spotbugs-exclude.xml
  core/src/main/java/org/apache/druid/java/util/metrics/KeyedDiff.java
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/DataSourceOptimizerMonitor.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  server/src/main/java/org/apache/druid/query/lookup/LookupListeningResource.java
Labels: Area - Automation/Static Analysis

#8072 Spotbugs fix DM_NUMBER_CTOR
  codestyle/spotbugs-exclude.xml
  extensions-contrib/influx-extensions/src/main/java/org/apache/druid/data/input/influx/InfluxParser.java
Labels: Area - Automation/Static Analysis

#8176 Web-console: add Supervisor statistics table and show json query manager
  web-console/sasslint.json
  web-console/src/components/show-json/__snapshots__/show-json.spec.tsx.snap
  web-console/src/components/show-json/show-json.tsx
  web-console/src/components/supervisor-statistics-table/__snapshots__/supervisor-statistics-table.spec.tsx.snap
  web-console/src/components/supervisor-statistics-table/supervisor-statistics-table.scss
  web-console/src/components/supervisor-statistics-table/supervisor-statistics-table.spec.tsx
  web-console/src/components/supervisor-statistics-table/supervisor-statistics-table.tsx
  web-console/src/dialogs/segments-table-action-dialog/__snapshots__/segment-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/supervisor-table-action-dialog/__snapshots__/supervisor-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-table-action-dialog.tsx
  web-console/src/dialogs/task-table-action-dialog/__snapshots__/task-table-action-dialog.spec.tsx.snap
Labels: Area - Web Console

#8112 removed hard-coded Kafka key and value deserializer
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaConsumerConfigs.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaRecordSupplierTest.java
Labels: Area - Kafka/Kinesis Indexing

#8199 Web console: Improve data loader time column detection
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/script/mkcomp
  web-console/src/components/action-cell/__snapshots__/action-cell.spec.tsx.snap
  web-console/src/components/auto-form/__snapshots__/auto-form.spec.tsx.snap
  web-console/src/components/clearable-input/__snapshots__/clearable-input.spec.tsx.snap
  web-console/src/components/rule-editor/__snapshots__/rule-editor.spec.tsx.snap
  web-console/src/components/show-history/show-history.tsx
  web-console/src/components/suggestible-input/__snapshots__/suggestible-input.spec.tsx.snap
  web-console/src/components/supervisor-statistics-table/supervisor-statistics-table.tsx
  web-console/src/components/table-cell/__snapshots__/table-cell.spec.tsx.snap
  web-console/src/components/table-column-selector/__snapshots__/table-column-selector.spec.tsx.snap
  web-console/src/dialogs/about-dialog/__snapshots__/about-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/dialogs/coordinator-dynamic-config-dialog/__snapshots__/coordinator-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/lookup-edit-dialog/__snapshots__/lookup-edit-dialog.spec.tsx.snap
  web-console/src/dialogs/overlord-dynamic-config-dialog/__snapshots__/overload-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/query-plan-dialog/__snapshots__/query-plan-dialog.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/dialogs/segments-table-action-dialog/__snapshots__/segment-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/show-value-dialog/__snapshots__/show-value-dialog.spec.tsx.snap
  web-console/src/dialogs/snitch-dialog/__snapshots__/snitch-dialog.spec.tsx.snap
  web-console/src/dialogs/spec-dialog/__snapshots__/spec-dialog.spec.tsx.snap
  web-console/src/dialogs/status-dialog/__snapshots__/status-dialog.spec.tsx.snap
  web-console/src/dialogs/status-dialog/status-dialog.tsx
  web-console/src/dialogs/supervisor-table-action-dialog/__snapshots__/supervisor-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/task-table-action-dialog/__snapshots__/task-table-action-dialog.spec.tsx.snap
  web-console/src/utils/druid-time.ts
  web-console/src/views/home-view/__snapshots__/home-view.spec.tsx.snap
  web-console/src/views/home-view/home-view.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/query-view/column-tree/__snapshots__/column-tree.spec.tsx.snap
  web-console/src/views/query-view/query-extra-info/__snapshots__/query-extra-info.spec.tsx.snap
  web-console/src/views/query-view/run-button/__snapshots__/run-button.spec.tsx.snap
Labels: Area - Web Console

#8203 Web console: better action linking between views
  web-console/src/components/center-message/center-message.tsx
  web-console/src/components/show-history/show-history.tsx
  web-console/src/components/show-log/show-log.tsx
  web-console/src/console-application.tsx
  web-console/src/dialogs/compaction-dialog/compaction-dialog.spec.tsx
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/dialogs/segments-table-action-dialog/__snapshots__/segment-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/segments-table-action-dialog/segment-table-action-dialog.spec.tsx
  web-console/src/dialogs/segments-table-action-dialog/segment-table-action-dialog.tsx
  web-console/src/dialogs/supervisor-table-action-dialog/__snapshots__/supervisor-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-table-action-dialog.tsx
  web-console/src/dialogs/table-action-dialog/__snapshots__/table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/table-action-dialog/table-action-dialog.tsx
  web-console/src/dialogs/task-table-action-dialog/__snapshots__/task-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/task-table-action-dialog/task-table-action-dialog.tsx
  web-console/src/utils/basic-action.tsx
  web-console/src/views/datasource-view/datasource-view.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/task-view/tasks-view.spec.tsx
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#8194 HllSketch Merge/Build BufferAggregators: Speed up init with prebuilt sketch.
  benchmarks/src/main/java/org/apache/druid/benchmark/DataSketchesHllBenchmark.java
  extensions-core/datasketches/pom.xml
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeBufferAggregator.java
Labels: Performance

#8170 Add 'Area - Metadata' tag to committer-instructions.md and stale.yml
  .github/stale.yml
  dev/committer-instructions.md
Labels: Area - Dev
