Repository apache/druid, pull requests merged in 2019-05, with the labels that each got.

#7585 Also add the baseURL to all the links in the web console
  web-console/src/console-application.tsx
  web-console/src/singletons/url-baser.ts
  web-console/src/views/home-view.tsx
  web-console/src/views/tasks-view.tsx
Labels: Area - Web Console

#7425 Add is_overshadowed column to sys.segments table
  core/src/main/java/org/apache/druid/timeline/SegmentWithOvershadowedStatus.java
  docs/content/querying/sql.md
  server/src/main/java/org/apache/druid/client/ImmutableDruidDataSource.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorRuleRunner.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/MetadataSegmentView.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
Labels: Area - SQL

#7555 Add is_overshadowed column to segment table
  web-console/src/views/segments-view.tsx
Labels: Area - Web Console

#7531 Data loader (sampler component)
  core/src/main/java/org/apache/druid/data/input/Firehose.java
  core/src/main/java/org/apache/druid/data/input/FirehoseFactory.java
  core/src/main/java/org/apache/druid/data/input/InputRowPlusRaw.java
  core/src/main/java/org/apache/druid/data/input/impl/FileIteratingFirehose.java
  core/src/main/java/org/apache/druid/data/input/impl/TimestampSpec.java
  core/src/main/java/org/apache/druid/data/input/impl/prefetch/PrefetchableTextFilesFirehoseFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/FirehoseSampler.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/IndexTaskSamplerSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerCache.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerException.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerExceptionMapper.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerInputRow.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerModule.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerResponse.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerSpec.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestFirehose.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/FirehoseSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/IndexTaskSamplerSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/SamplerCacheTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/SamplerResponseTest.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/TimedShutoffFirehoseFactory.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
Labels: Area - Web Console, Design Review, Feature

#7579 Adjust required permissions for system schema
  docs/content/development/extensions-core/druid-basic-security.md
  docs/content/querying/sql.md
  integration-tests/docker/sample-data.sql
  integration-tests/src/test/java/org/apache/druid/tests/security/ITBasicAuthConfigurationTest.java
  integration-tests/src/test/resources/results/auth_test_sys_schema_segments.json
  integration-tests/src/test/resources/results/auth_test_sys_schema_server_segments.json
  integration-tests/src/test/resources/results/auth_test_sys_schema_servers.json
  integration-tests/src/test/resources/results/auth_test_sys_schema_tasks.json
  server/src/main/java/org/apache/druid/segment/realtime/firehose/EventReceiverFirehoseFactory.java
  server/src/main/java/org/apache/druid/server/http/security/StateResourceFilter.java
  server/src/main/java/org/apache/druid/server/security/Resource.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
Labels: Area - SQL, Bug, Release Notes, Security

#7088 Improve parallelism of zookeeper based segment change processing
  docs/content/configuration/index.md
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderConfig.java
  server/src/main/java/org/apache/druid/server/coordination/ZkCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/CuratorLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordination/ZkCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/HttpLoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/LoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/LoadQueuePeonTester.java
  server/src/test/java/org/apache/druid/server/coordinator/TestDruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorSegmentKillerTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Area - Zookeeper/Curator

#7528 Improved UI for actions in task/supervisor table
  web-console/package-lock.json
  web-console/package.json
  web-console/src/bootstrap/react-table-custom-pagination.tsx
  web-console/src/components/action-cell.scss
  web-console/src/components/action-cell.tsx
  web-console/src/components/show-json.scss
  web-console/src/components/show-json.tsx
  web-console/src/components/show-log.scss
  web-console/src/components/show-log.tsx
  web-console/src/components/sql-control.tsx
  web-console/src/console-application.tsx
  web-console/src/dialogs/async-action-dialog.tsx
  web-console/src/dialogs/history-dialog.tsx
  web-console/src/dialogs/snitch-dialog.tsx
  web-console/src/dialogs/supervisor-table-action-dialog.tsx
  web-console/src/dialogs/table-action-dialog.scss
  web-console/src/dialogs/table-action-dialog.tsx
  web-console/src/dialogs/task-table-action-dialog.tsx
  web-console/src/utils/basic-action.tsx
  web-console/src/utils/general.tsx
  web-console/src/views/datasource-view.tsx
  web-console/src/views/tasks-view.tsx
Labels: Area - Web Console

#7589 Fix old-console/cluster.html; Remove redundant throws in ITBasicAuthConfigurationTest
  integration-tests/src/test/java/org/apache/druid/tests/security/ITBasicAuthConfigurationTest.java
  web-console/old-console/cluster.html
Labels: Development Blocker

#7596 Update mocking libraries for Java 11 support
  core/src/test/java/org/apache/druid/java/util/http/client/pool/ResourcePoolTest.java
  extensions-contrib/moving-average-query/pom.xml
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  pom.xml
  processing/src/test/java/org/apache/druid/query/ChainedExecutionQueryRunnerTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
Labels: Compatibility

#7591 Remove SQL experimental banner and other doc adjustments.
  docs/content/development/experimental.md
  docs/content/development/router.md
  docs/content/querying/aggregations.md
  docs/content/querying/lookups.md
  docs/content/querying/querying.md
  docs/content/querying/select-query.md
  docs/content/querying/sql.md
  docs/content/toc.md
Labels: Area - Documentation

#7601 Update dependencies for JDK11 support
  pom.xml
Labels: Compatibility

#7604 add javax.xml.bind dependencies removed in jdk11
  core/pom.xml
  pom.xml
Labels: Compatibility

#7603 Remove unnecessary cast to URLClassLoader
  server/src/test/java/org/apache/druid/initialization/InitializationTest.java
Labels: Compatibility

#7602 fix test pattern matching for JDK11
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
Labels: Compatibility

#7598 Add tool for migrating from local deep storage/Derby metadata
  core/src/main/java/org/apache/druid/metadata/MetadataStorageConnector.java
  core/src/main/java/org/apache/druid/segment/loading/DataSegmentPusher.java
  docs/content/operations/deep-storage-migration.md
  docs/content/operations/export-metadata.md
  docs/content/operations/metadata-migration.md
  server/src/main/java/org/apache/druid/metadata/storage/derby/DerbyConnector.java
  services/src/main/java/org/apache/druid/cli/ExportMetadata.java
  services/src/main/java/org/apache/druid/cli/Main.java
Labels: Area - Documentation, Area - Operations, Ease of Use

#7605 Added scrolling to data loader panes
  web-console/src/components/show-log.scss
  web-console/src/console-application.scss
  web-console/src/console-application.tsx
  web-console/src/dialogs/table-action-dialog.scss
  web-console/src/views/load-data-view.scss
Labels: Area - Web Console

#7183 add postgresql meta db table schema configuration property (#7137)
  docs/content/development/extensions-core/postgresql.md
  extensions-core/postgresql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/postgresql/PostgreSQLConnector.java
  extensions-core/postgresql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/postgresql/PostgreSQLMetadataStorageModule.java
  extensions-core/postgresql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/postgresql/PostgreSQLTablesConfig.java
  extensions-core/postgresql-metadata-storage/src/test/java/org/apache/druid/metadata/storage/postgresql/PostgreSQLConnectorTest.java
Labels: Feature

#7614 Fix exception when using complex aggs with result level caching
  processing/src/main/java/org/apache/druid/query/CacheStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryQueryToolChestTest.java
Labels: Area - Querying, Bug

#7613 Run npm ci instead of npm install to build web console
  web-console/pom.xml
Labels: Area - Web Console

#7624 Fix resultLevelCache for timeseries with grandTotal
  processing/src/main/java/org/apache/druid/query/Result.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/ResultTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChestTest.java
  server/src/main/java/org/apache/druid/query/ResultLevelCachingQueryRunner.java
Labels: Bug

#7611 Add plain text README.txt, use relative link from README.md to build.md
  .gitignore
  LABELS
  LABELS.md
  README.md
  README.template
  distribution/pom.xml
  distribution/src/assembly/source-assembly.xml
  docs/_bin/build-textfile-readme.sh
  docs/content/development/build.md
  docs/content/tutorials/index.md
  pom.xml
Labels: Area - Documentation

#7606 Set direct memory if unable to detect JVM config
  processing/src/main/java/org/apache/druid/query/DruidProcessingConfig.java
  server/src/main/java/org/apache/druid/guice/DruidProcessingModule.java
  server/src/main/java/org/apache/druid/server/StatusResource.java
  server/src/test/java/org/apache/druid/guice/DruidProcessingModuleTest.java
Labels: Compatibility

#7630 [Backport] fix license.binary for new datasketches version
  LICENSE.BINARY
Labels: Backport

#7634 [Backport] Fix exception when using complex aggs with result level caching (#7614)
  processing/src/main/java/org/apache/druid/query/CacheStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryQueryToolChestTest.java
Labels: Backport

#7636 [Backport] fix issue with theta sketch in druid-datasketches extension
  extensions-core/datasketches/pom.xml
Labels: Backport

#7637 [Backport] Fix resultLevelCache for timeseries with grandTotal
  processing/src/main/java/org/apache/druid/query/Result.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/ResultTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChestTest.java
  server/src/main/java/org/apache/druid/query/ResultLevelCachingQueryRunner.java
Labels: Backport

#7638 [Backport] Add plain text README.txt, use relative link from README.md to build.md
  .gitignore
  LABELS
  LABELS.md
  README.md
  README.template
  distribution/pom.xml
  distribution/src/assembly/source-assembly.xml
  docs/_bin/build-textfile-readme.sh
  docs/content/development/build.md
  docs/content/tutorials/index.md
  pom.xml
Labels: Backport

#7640 [Backport] make-redirects.py requires python3, explicitly specify it
  docs/_bin/make-redirects.py
Labels: Backport

#7639 [Backport] fix license.binary for new datasketches version
  LICENSE.BINARY
Labels: Backport

#7651 Bump Checkstyle to 8.20
  cloud/aws-common/src/main/java/org/apache/druid/common/aws/ConfigDrivenAwsCredentialsConfigProvider.java
  core/src/main/java/org/apache/druid/common/utils/ByteUtils.java
  core/src/main/java/org/apache/druid/common/utils/IntArrayUtils.java
  core/src/main/java/org/apache/druid/concurrent/Threads.java
  core/src/main/java/org/apache/druid/data/input/Rows.java
  core/src/main/java/org/apache/druid/java/util/common/CloseableIterators.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/AllGranularity.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/NoneGranularity.java
  core/src/main/java/org/apache/druid/java/util/common/io/NativeIO.java
  core/src/main/java/org/apache/druid/java/util/emitter/core/HttpEmitterConfig.java
  core/src/main/java/org/apache/druid/java/util/emitter/factory/LoggingEmitterFactory.java
  core/src/main/java/org/apache/druid/java/util/http/client/HttpClientConfig.java
  core/src/main/java/org/apache/druid/utils/CloseableUtils.java
  core/src/main/java/org/apache/druid/utils/CollectionUtils.java
  core/src/test/java/org/apache/druid/java/util/common/BufferUtils.java
  core/src/test/java/org/apache/druid/java/util/emitter/core/CustomEmitterFactoryTest.java
  extendedset/src/main/java/org/apache/druid/extendedset/intset/EmptyIntIterator.java
  extensions-contrib/distinctcount/src/main/java/org/apache/druid/query/aggregation/distinctcount/ConciseBitMapFactory.java
  extensions-contrib/distinctcount/src/main/java/org/apache/druid/query/aggregation/distinctcount/JavaBitMapFactory.java
  extensions-contrib/distinctcount/src/main/java/org/apache/druid/query/aggregation/distinctcount/RoaringBitMapFactory.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  extensions-contrib/statsd-emitter/src/main/java/org/apache/druid/emitter/statsd/StatsDEmitter.java
  extensions-contrib/thrift-extensions/src/main/java/org/apache/druid/data/input/thrift/ThriftExtensionsModule.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroExtensionsModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/RawInputValueExtractor.java
  extensions-core/hdfs-storage/src/main/java/org/apache/hadoop/fs/HadoopFsWrapper.java
  extensions-core/protobuf-extensions/src/main/java/org/apache/druid/data/input/protobuf/ProtobufExtensionsModule.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtoTestEventWrapper.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/Counters.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskRealtimeMetricsMonitorBuilder.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestFirehose.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAppenderatorDriverRealtimeIndexTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITRealtimeIndexTaskTest.java
  pom.xml
  processing/src/main/java/org/apache/druid/query/topn/TopNUtils.java
  processing/src/main/java/org/apache/druid/segment/Capabilities.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  processing/src/main/java/org/apache/druid/segment/IntIteratorUtils.java
  processing/src/main/java/org/apache/druid/segment/IntListUtils.java
  processing/src/main/java/org/apache/druid/segment/NilColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/data/BitmapSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/MetaSerdeHelper.java
  processing/src/main/java/org/apache/druid/segment/writeout/OffHeapMemorySegmentWriteOutMediumFactory.java
  processing/src/main/java/org/apache/druid/segment/writeout/TmpFileSegmentWriteOutMediumFactory.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/ConcurrentGrouperTest.java
  processing/src/test/java/org/apache/druid/segment/RowIteratorHelper.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/NoopSegmentHandoffNotifierFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/CuratorLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/SegmentCompactorUtil.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/Rules.java
  server/src/main/java/org/apache/druid/server/http/RedirectFilter.java
  server/src/main/java/org/apache/druid/server/log/DefaultRequestLogEventBuilderFactory.java
  server/src/main/java/org/apache/druid/server/log/RequestLogger.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTestUtils.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/ServiceAnnouncingChatHandlerProviderTest.java
  server/src/test/java/org/apache/druid/server/AsyncManagementForwardingServletTest.java
  server/src/test/java/org/apache/druid/server/metrics/NoopServiceEmitter.java
  services/src/main/java/org/apache/druid/cli/ServerRunnable.java
Labels: Area - Automation/Static Analysis, Security

#7647 fix lookup editor to use lookup tiers instead of historical tiers
  docs/content/querying/lookups.md
  server/src/main/java/org/apache/druid/server/http/LookupCoordinatorResource.java
  server/src/test/java/org/apache/druid/server/http/LookupCoordinatorResourceTest.java
  web-console/src/views/lookups-view.tsx
Labels: Area - Lookups, Area - Web Console, Bug, Release Notes

#7659 [Backport] fix lookup editor to use lookup tiers instead of historical tiers
  docs/content/querying/lookups.md
  server/src/main/java/org/apache/druid/server/http/LookupCoordinatorResource.java
  server/src/test/java/org/apache/druid/server/http/LookupCoordinatorResourceTest.java
  web-console/src/views/lookups-view.tsx
Labels: Backport

#7577 Update tutorial to delete data
  docs/content/tutorials/img/tutorial-deletion-02.png
  docs/content/tutorials/img/tutorial-deletion-03.png
  docs/content/tutorials/tutorial-delete-data.md
  examples/quickstart/tutorial/deletion-disable-segments.json
Labels: Area - Documentation

#7658 Fix broken links in docs, add broken link checker.
  docs/_bin/broken-link-check.py
  docs/_bin/deploy-docs.sh
  docs/_redirects.json
  docs/content/configuration/realtime.md
  docs/content/development/extensions.md
  docs/content/development/overview.md
  docs/content/operations/druid-console.md
  docs/content/operations/insert-segment-to-db.md
  docs/content/querying/aggregations.md
  docs/content/querying/multitenancy.md
  docs/content/querying/querying.md
  docs/content/querying/sql.md
  docs/content/toc.md
  docs/content/tutorials/cluster.md
  docs/content/tutorials/tutorial-tranquility.md
Labels: Area - Documentation

#7661 Fix compareAndSwap() in SQLMetadataConnector
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/authorization/CoordinatorBasicAuthorizerResourceTest.java
  extensions-core/postgresql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/postgresql/PostgreSQLConnector.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
Labels: Bug, Security

#7665 Added more statsd mappings for new metrics.
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
Labels: Area - Extension

#7654 Show all server types in sys.servers table
  docs/content/querying/sql.md
  integration-tests/src/test/java/org/apache/druid/tests/security/ITBasicAuthConfigurationTest.java
  integration-tests/src/test/resources/indexer/sys_segment_batch_index_queries.json
  integration-tests/src/test/resources/queries/sys_segment_queries.json
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - SQL

#7667 Fix compilation error in CoordinatorBasicAuthorizerResourceTest
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/authorization/CoordinatorBasicAuthorizerResourceTest.java
Labels: Bug

#7668 minor web console doc fixes
  docs/content/operations/druid-console.md
Labels: Area - Documentation

#7670 Fix broken links in api-reference.md
  docs/content/operations/api-reference.md
Labels: Area - Documentation

#7629 Add basic tuning guide, getting started page, updated clustering docs
  docs/_redirects.json
  docs/content/configuration/logging.md
  docs/content/operations/basic-cluster-tuning.md
  docs/content/operations/getting-started.md
  docs/content/operations/performance-faq.md
  docs/content/operations/single-server.md
  docs/content/toc.md
  docs/content/tutorials/cluster.md
  docs/content/tutorials/index.md
  docs/content/tutorials/tutorial-batch-hadoop.md
  docs/content/tutorials/tutorial-batch.md
  docs/content/tutorials/tutorial-compaction.md
  docs/content/tutorials/tutorial-delete-data.md
  docs/content/tutorials/tutorial-ingestion-spec.md
  docs/content/tutorials/tutorial-retention.md
  docs/content/tutorials/tutorial-rollup.md
  docs/content/tutorials/tutorial-tranquility.md
  docs/content/tutorials/tutorial-transform-spec.md
  docs/content/tutorials/tutorial-update-data.md
  examples/bin/run-druid
  examples/conf/druid/cluster/data/historical/jvm.config
  examples/conf/druid/cluster/data/historical/runtime.properties
  examples/conf/druid/cluster/data/middleManager/runtime.properties
  examples/conf/druid/cluster/master/coordinator-overlord/jvm.config
  examples/conf/druid/cluster/master/coordinator-overlord/main.config
  examples/conf/druid/cluster/master/coordinator-overlord/runtime.properties
  examples/conf/druid/cluster/master/coordinator/runtime.properties
  examples/conf/druid/cluster/master/overlord/jvm.config
  examples/conf/druid/cluster/master/overlord/main.config
  examples/conf/druid/cluster/query/broker/jvm.config
  examples/conf/druid/cluster/query/broker/runtime.properties
  examples/conf/druid/single-server/large/broker/jvm.config
  examples/conf/druid/single-server/large/broker/runtime.properties
  examples/conf/druid/single-server/large/coordinator-overlord/jvm.config
  examples/conf/druid/single-server/large/historical/jvm.config
  examples/conf/druid/single-server/large/historical/runtime.properties
  examples/conf/druid/single-server/large/middleManager/runtime.properties
  examples/conf/druid/single-server/medium/broker/jvm.config
  examples/conf/druid/single-server/medium/broker/runtime.properties
  examples/conf/druid/single-server/medium/coordinator-overlord/jvm.config
  examples/conf/druid/single-server/medium/historical/runtime.properties
  examples/conf/druid/single-server/medium/middleManager/runtime.properties
  examples/conf/druid/single-server/micro-quickstart/middleManager/runtime.properties
  examples/conf/druid/single-server/small/coordinator-overlord/jvm.config
  examples/conf/druid/single-server/small/historical/runtime.properties
  examples/conf/druid/single-server/small/middleManager/runtime.properties
  examples/conf/druid/single-server/xlarge/broker/jvm.config
  examples/conf/druid/single-server/xlarge/broker/runtime.properties
  examples/conf/druid/single-server/xlarge/coordinator-overlord/jvm.config
  examples/conf/druid/single-server/xlarge/historical/runtime.properties
  examples/conf/druid/single-server/xlarge/middleManager/runtime.properties
  examples/conf/supervise/cluster/data.conf
  examples/conf/supervise/cluster/master-no-zk.conf
  examples/conf/supervise/cluster/master-with-zk.conf
  examples/conf/supervise/cluster/query.conf
Labels: Area - Documentation, Ease of Use

#7675 some more doc improvements
  docs/content/design/index.md
  docs/content/design/segments.md
  docs/content/ingestion/index.md
  docs/content/toc.md
Labels: Area - Documentation

#7673 Add option to use YARN RM as fallback for JobHistory failure
  docs/content/ingestion/hadoop.md
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorSpec.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DetermineHashedPartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopTuningConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/IndexGeneratorJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/Utils.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/BatchDeltaIngestionTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DetermineHashedPartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DeterminePartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerConfigTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopTuningConfigTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/IndexGeneratorJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/JobHelperTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/path/GranularityPathSpecTest.java
Labels: Area - Batch Indexing, Error handling

#7657 Web console: fixed issue when grouping tasks by different attributes
  web-console/src/views/tasks-view.tsx
Labels: Area - Web Console

#7566 Data loader (sampler component) - Kafka/Kinesis samplers
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskModule.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaSamplerSpec.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexingServiceModule.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpec.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpecTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamSamplerSpec.java
Labels: Area - Web Console, Feature

#7678 fix kafka tutorial docs
  docs/content/tutorials/tutorial-kafka.md
Labels: Area - Documentation

#7680 [Backport] fix kafka tutorial docs
  docs/content/tutorials/tutorial-kafka.md
Labels: Backport

#7683 [Backport] Fix compareAndSwap() in SQLMetadataConnector (#7661)
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/authorization/CoordinatorBasicAuthorizerResourceTest.java
  extensions-core/postgresql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/postgresql/PostgreSQLConnector.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
Labels: Backport, Bug, Security

#7684 [Backport] Add basic tuning guide, getting started page, updated clustering docs (#7629)
  docs/_redirects.json
  docs/content/configuration/logging.md
  docs/content/operations/basic-cluster-tuning.md
  docs/content/operations/getting-started.md
  docs/content/operations/performance-faq.md
  docs/content/operations/single-server.md
  docs/content/toc.md
  docs/content/tutorials/cluster.md
  docs/content/tutorials/index.md
  docs/content/tutorials/tutorial-batch-hadoop.md
  docs/content/tutorials/tutorial-batch.md
  docs/content/tutorials/tutorial-compaction.md
  docs/content/tutorials/tutorial-delete-data.md
  docs/content/tutorials/tutorial-ingestion-spec.md
  docs/content/tutorials/tutorial-retention.md
  docs/content/tutorials/tutorial-rollup.md
  docs/content/tutorials/tutorial-tranquility.md
  docs/content/tutorials/tutorial-transform-spec.md
  docs/content/tutorials/tutorial-update-data.md
  examples/bin/run-druid
  examples/conf/druid/cluster/data/historical/jvm.config
  examples/conf/druid/cluster/data/historical/runtime.properties
  examples/conf/druid/cluster/data/middleManager/runtime.properties
  examples/conf/druid/cluster/master/coordinator-overlord/jvm.config
  examples/conf/druid/cluster/master/coordinator-overlord/main.config
  examples/conf/druid/cluster/master/coordinator-overlord/runtime.properties
  examples/conf/druid/cluster/master/coordinator/runtime.properties
  examples/conf/druid/cluster/master/overlord/jvm.config
  examples/conf/druid/cluster/master/overlord/main.config
  examples/conf/druid/cluster/query/broker/jvm.config
  examples/conf/druid/cluster/query/broker/runtime.properties
  examples/conf/druid/single-server/large/broker/jvm.config
  examples/conf/druid/single-server/large/broker/runtime.properties
  examples/conf/druid/single-server/large/coordinator-overlord/jvm.config
  examples/conf/druid/single-server/large/historical/jvm.config
  examples/conf/druid/single-server/large/historical/runtime.properties
  examples/conf/druid/single-server/large/middleManager/runtime.properties
  examples/conf/druid/single-server/medium/broker/jvm.config
  examples/conf/druid/single-server/medium/broker/runtime.properties
  examples/conf/druid/single-server/medium/coordinator-overlord/jvm.config
  examples/conf/druid/single-server/medium/historical/runtime.properties
  examples/conf/druid/single-server/medium/middleManager/runtime.properties
  examples/conf/druid/single-server/micro-quickstart/middleManager/runtime.properties
  examples/conf/druid/single-server/small/coordinator-overlord/jvm.config
  examples/conf/druid/single-server/small/historical/runtime.properties
  examples/conf/druid/single-server/small/middleManager/runtime.properties
  examples/conf/druid/single-server/xlarge/broker/jvm.config
  examples/conf/druid/single-server/xlarge/broker/runtime.properties
  examples/conf/druid/single-server/xlarge/coordinator-overlord/jvm.config
  examples/conf/druid/single-server/xlarge/historical/runtime.properties
  examples/conf/druid/single-server/xlarge/middleManager/runtime.properties
  examples/conf/supervise/cluster/data.conf
  examples/conf/supervise/cluster/master-no-zk.conf
  examples/conf/supervise/cluster/master-with-zk.conf
  examples/conf/supervise/cluster/query.conf
Labels: Area - Documentation, Backport, Ease of Use

#7643 Web console, adding Apache Kafka and AWS Kinesis to the data loader
  web-console/src/components/array-input.tsx
  web-console/src/components/auto-form.tsx
  web-console/src/components/header-bar.tsx
  web-console/src/console-application.tsx
  web-console/src/utils/druid-query.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/datasource-view.tsx
  web-console/src/views/load-data-view.scss
  web-console/src/views/load-data-view.tsx
  web-console/src/views/sql-view.tsx
  web-console/src/views/tasks-view.tsx
  web-console/webpack.config.js
Labels: Area - Web Console

#7686 [Backport] some more doc improvements (#7675)
  docs/content/design/index.md
  docs/content/design/segments.md
  docs/content/ingestion/index.md
  docs/content/toc.md
Labels: Area - Documentation, Backport

#7687 [Backport] Fix broken links in api-reference.md (#7670)
  docs/content/operations/api-reference.md
Labels: Area - Documentation, Backport, Bug

#7689 [Backport] Fix broken links in docs, add broken link checker. (#7658)
  docs/_bin/broken-link-check.py
  docs/_bin/deploy-docs.sh
  docs/_redirects.json
  docs/content/configuration/realtime.md
  docs/content/development/extensions.md
  docs/content/development/overview.md
  docs/content/operations/druid-console.md
  docs/content/operations/insert-segment-to-db.md
  docs/content/querying/aggregations.md
  docs/content/querying/multitenancy.md
  docs/content/querying/querying.md
  docs/content/querying/sql.md
  docs/content/toc.md
  docs/content/tutorials/tutorial-tranquility.md
Labels: Area - Documentation, Backport

#7688 [Backport] minor web console doc fixes (#7668)
  docs/content/operations/druid-console.md
Labels: Area - Documentation, Backport

#7672 Data loader fixes
  web-console/src/console-application.tsx
  web-console/src/views/load-data-view.scss
  web-console/src/views/load-data-view.tsx
  web-console/src/views/tasks-view.tsx
Labels: Area - Web Console, Backport

#7694 Fix typo (ComplexMetricSerde class name was spelled incorrectly)
  docs/content/development/modules.md
Labels: Area - Documentation

#7682 Add checkstyle for "Prohibit @author tags in Javadoc"
  codestyle/checkstyle.xml
  core/src/main/java/org/apache/druid/java/util/common/io/Closer.java
  examples/src/main/java/org/apache/druid/examples/twitter/TwitterSpritzerFirehoseFactory.java
  extendedset/src/main/java/org/apache/druid/extendedset/intset/AbstractIntSet.java
  extendedset/src/main/java/org/apache/druid/extendedset/intset/ConciseSet.java
  extendedset/src/main/java/org/apache/druid/extendedset/intset/IntSet.java
  extensions-contrib/cassandra-storage/src/main/java/org/apache/druid/storage/cassandra/CassandraDataSegmentConfig.java
  extensions-contrib/cassandra-storage/src/main/java/org/apache/druid/storage/cassandra/CassandraDataSegmentPusher.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToEstimateWithBoundsPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToStringPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchUnionPostAggregator.java
Labels: Area - Automation/Static Analysis

#7700 update lz4-java to 1.6.0 (lz4 1.9.1)
  LICENSE.BINARY
  pom.xml
Labels: Performance

#7708 fix result level cache issue with topN when ordering by post-aggregators
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryQueryToolChestTest.java
Labels: Area - Cache, Bug

#7618 Virtual column updates for exploiting base column internal structure
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByMergingQueryRunnerV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByRowProcessor.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/main/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/DummyStringVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/virtual/DummyStringVirtualColumnTest.java
Labels: Area - Querying, Improvement

#7692 Fix case insensitive of ParserUtils.findDuplicates
  core/src/main/java/org/apache/druid/data/input/impl/DimensionsSpec.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/ParserUtils.java
  core/src/test/java/org/apache/druid/java/util/common/parsers/ParserUtilsTest.java
Labels: Bug

#7713 SqlOperatorConversion Javadoc fix.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/SqlOperatorConversion.java
Labels: Area - Documentation

#7699 Move 'Query' to the right again
  web-console/src/components/header-bar.tsx
Labels: Area - Web Console, Bug

#7698 Web console: fix missing value input in timestampSpec step
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view.tsx
Labels: Area - Web Console, Bug

#7697 Update Druid Console docs for 0.15.0
  docs/content/operations/druid-console.md
  docs/content/operations/img/01-home-view.png
  docs/content/operations/img/02-data-loader-1.png
  docs/content/operations/img/02-datasources.png
  docs/content/operations/img/03-data-loader-2.png
  docs/content/operations/img/03-retention.png
  docs/content/operations/img/04-datasources.png
  docs/content/operations/img/04-segments.png
  docs/content/operations/img/05-retention.png
  docs/content/operations/img/05-tasks-1.png
  docs/content/operations/img/06-segments.png
  docs/content/operations/img/06-tasks-2.png
  docs/content/operations/img/07-supervisors.png
  docs/content/operations/img/07-tasks-3.png
  docs/content/operations/img/08-servers.png
  docs/content/operations/img/08-tasks.png
  docs/content/operations/img/09-sql-1.png
  docs/content/operations/img/09-task-status.png
  docs/content/operations/img/10-servers.png
  docs/content/operations/img/10-sql-2.png
  docs/content/operations/img/11-query-sql.png
  docs/content/operations/img/12-query-rune.png
  docs/content/operations/img/13-lookups.png
Labels: Area - Documentation, Area - Web Console

#7695 Add TIMESTAMPDIFF sql support
  core/src/main/java/org/apache/druid/java/util/common/DateTimes.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  docs/content/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CastOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeArithmeticOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidConvertletTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL

#7721 [Backport] Web console: fix missing value input in timestampSpec step
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view.tsx
Labels: Backport

#7720 [Backport] Update Druid Console docs for 0.15.0
  docs/content/operations/druid-console.md
  docs/content/operations/img/01-home-view.png
  docs/content/operations/img/02-data-loader-1.png
  docs/content/operations/img/02-datasources.png
  docs/content/operations/img/03-data-loader-2.png
  docs/content/operations/img/03-retention.png
  docs/content/operations/img/04-datasources.png
  docs/content/operations/img/04-segments.png
  docs/content/operations/img/05-retention.png
  docs/content/operations/img/05-tasks-1.png
  docs/content/operations/img/06-segments.png
  docs/content/operations/img/06-tasks-2.png
  docs/content/operations/img/07-supervisors.png
  docs/content/operations/img/07-tasks-3.png
  docs/content/operations/img/08-servers.png
  docs/content/operations/img/08-tasks.png
  docs/content/operations/img/09-sql-1.png
  docs/content/operations/img/09-task-status.png
  docs/content/operations/img/10-servers.png
  docs/content/operations/img/10-sql-2.png
  docs/content/operations/img/11-query-sql.png
  docs/content/operations/img/12-query-rune.png
  docs/content/operations/img/13-lookups.png
Labels: Area - Documentation, Backport

#7712 [Backport] Fix case insensitive of ParserUtils.findDuplicates
  core/src/main/java/org/apache/druid/data/input/impl/DimensionsSpec.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/ParserUtils.java
  core/src/test/java/org/apache/druid/java/util/common/parsers/ParserUtilsTest.java
Labels: Backport

#7711 [Backport] fix result level cache issue with topN when ordering by post-aggregators
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryQueryToolChestTest.java
Labels: Backport

#7707 SQL: Fix exception with OR of impossible filters.
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/CombineAndSimplifyBounds.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#7710 SQL: TIME_EXTRACT should have 2 required operands.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeExtractOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#7704 SQL: Respect default timezone for TIME_PARSE and TIME_SHIFT.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeArithmeticOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeExtractOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeFloorOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeFormatOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeParseOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeShiftOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
Labels: Area - SQL, Bug

#7709 SQL: Allow NULLs in place of optional arguments in many functions.
  docs/content/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Improvement

#7706 Get correct curr_size attribute value for historical servers
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Bug

#7732 [Backport] Update tutorial to delete data
  docs/content/tutorials/img/tutorial-deletion-02.png
  docs/content/tutorials/img/tutorial-deletion-03.png
  docs/content/tutorials/tutorial-delete-data.md
  examples/quickstart/tutorial/deletion-disable-segments.json
Labels: Backport

#7731 fix AggregatorFactory.finalizeComputation implementations to be ok with null inputs
  extensions-contrib/distinctcount/src/main/java/org/apache/druid/query/aggregation/distinctcount/DistinctCountAggregatorFactory.java
  extensions-contrib/momentsketch/src/main/java/org/apache/druid/query/aggregation/momentsketch/aggregator/MomentSketchAggregatorFactory.java
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/AveragerFactoryWrapper.java
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/TDigestBuildSketchAggregatorFactory.java
  extensions-contrib/time-min-max/src/main/java/org/apache/druid/query/aggregation/TimestampAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregatorFactory.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/BloomFilterAggregatorFactory.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramAggregatorFactory.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/CountAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/FilteredAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/HistogramAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/JavaScriptAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/SuppressedAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniquesAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregatorFactory.java
Labels: Bug

#7729 SeekableStreamIndexTaskRunner: Lazy init of runner.
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
Labels: Area - Kafka/Kinesis Indexing, Bug

#7734 reorganizing the ToC
  docs/content/toc.md
Labels: Area - Documentation

#7735 Remove LegacyKafkaIndexTaskRunner
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/LegacyKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Kafka/Kinesis Indexing, Incompatible, Release Notes

#7681 Add checkstyle for "Local variable names shouldn't start with capital"
  benchmarks/src/main/java/org/apache/druid/benchmark/VSizeSerdeBenchmark.java
  codestyle/checkstyle.xml
  core/src/test/java/org/apache/druid/data/input/impl/TimestampSpecTest.java
  examples/src/main/java/org/apache/druid/examples/twitter/TwitterSpritzerFirehoseFactory.java
  extensions-contrib/ambari-metrics-emitter/src/main/java/org/apache/druid/emitter/ambari/metrics/AmbariMetricsEmitter.java
  extensions-contrib/graphite-emitter/src/main/java/org/apache/druid/emitter/graphite/GraphiteEmitter.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  hll/src/test/java/org/apache/druid/hll/HyperLogLogCollectorBenchmark.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWorkerSelectStrategyTest.java
  processing/src/test/java/org/apache/druid/query/PrioritizedExecutorServiceTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryRunnerTest.java
  server/src/main/java/org/apache/druid/server/StatusResource.java
  server/src/test/java/org/apache/druid/curator/discovery/ServerDiscoverySelectorTest.java
  server/src/test/java/org/apache/druid/server/http/DataSourcesResourceTest.java
Labels: Area - Automation/Static Analysis

#7739 [Backport] reorganizing the ToC
  docs/content/toc.md
Labels: Backport

#7717 Adding influxdb emitter as a contrib extension
  distribution/pom.xml
  docs/content/development/extensions-contrib/influxdb-emitter.md
  docs/content/development/extensions.md
  extensions-contrib/influxdb-emitter/pom.xml
  extensions-contrib/influxdb-emitter/src/main/java/org/apache/druid/emitter/influxdb/InfluxdbEmitter.java
  extensions-contrib/influxdb-emitter/src/main/java/org/apache/druid/emitter/influxdb/InfluxdbEmitterConfig.java
  extensions-contrib/influxdb-emitter/src/main/java/org/apache/druid/emitter/influxdb/InfluxdbEmitterModule.java
  extensions-contrib/influxdb-emitter/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-contrib/influxdb-emitter/src/test/java/org/apache/druid/emitter/influxdb/InfluxdbEmitterConfigTest.java
  extensions-contrib/influxdb-emitter/src/test/java/org/apache/druid/emitter/influxdb/InfluxdbEmitterTest.java
  pom.xml
Labels: Area - Extension, Area - Metrics/Event Emitting

#7718 allow quantiles merge aggregator to also accept doubles
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeBufferAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
Labels: Area - Extension, Bug

#7685 Remove unnecessary principal handling in KerberosAuthenticator
  extensions-core/druid-kerberos/src/main/java/org/apache/druid/security/kerberos/KerberosAuthenticator.java
Labels: Compatibility, Security

#7740 use memoized supplier for lazy singleton in SeekableStreamIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
Labels: Improvement

#7745 Remove obsolete isExcluded config from Kerberos authenticator
  docs/content/development/extensions-core/druid-kerberos.md
  extensions-core/druid-kerberos/src/main/java/org/apache/druid/security/kerberos/KerberosAuthenticator.java
Labels: Release Notes, Security

#7742 [Backport] OrcStructConverter fix
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcStructConverter.java
Labels: Backport

#7642 Web console - add enable/disable actions for middle manager workers
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/WorkerTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/WorkerTaskRunnerQueryAdapter.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/WorkerTaskRunnerQueryAdpaterTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  web-console/README.md
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.spec.tsx
  web-console/src/views/servers-view/__snapshots__/servers-view.spec.tsx.snap
  web-console/src/views/servers-view/servers-view.tsx
Labels: Area - Web Console

#7744 [Backport] fix AggregatorFactory.finalizeComputation implementations to be ok with null inputs
  extensions-contrib/distinctcount/src/main/java/org/apache/druid/query/aggregation/distinctcount/DistinctCountAggregatorFactory.java
  extensions-contrib/momentsketch/src/main/java/org/apache/druid/query/aggregation/momentsketch/aggregator/MomentSketchAggregatorFactory.java
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/AveragerFactoryWrapper.java
  extensions-contrib/time-min-max/src/main/java/org/apache/druid/query/aggregation/TimestampAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregatorFactory.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/BloomFilterAggregatorFactory.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramAggregatorFactory.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/CountAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/FilteredAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/HistogramAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/JavaScriptAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/SuppressedAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniquesAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregatorFactory.java
Labels: Backport

#7743 [Backport] allow quantiles merge aggregator to also accept doubles
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeBufferAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
Labels: Backport

#7730 add support for multi-value string dimensions for 'HllSketch' build aggregator
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/GenerateTestData.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorTest.java
  extensions-core/datasketches/src/test/resources/hll/hll_raw.tsv
  extensions-core/datasketches/src/test/resources/hll/hll_sketches.tsv
Labels: Area - Extension, Bug

#7749 Fix TOC clustering example link
  docs/content/toc.md
Labels: Area - Documentation, Bug

#7750 Add limit to timeseries docs
  docs/content/querying/timeseriesquery.md
Labels: Area - Documentation, Area - Querying, Bug

#7755 Fix references to removed performance FAQ page
  docs/content/operations/recommendations.md
  docs/content/querying/groupbyquery.md
  docs/content/toc.md
Labels: Area - Documentation, Bug

#7751 use unminified jquery to be more friendly for source releases, fix license stuff
  LICENSE
  LICENSE.BINARY
  licenses/src/sizzle.MIT
  pom.xml
  web-console/console.html
  web-console/old-console/cluster.html
  web-console/old-console/config.html
  web-console/old-console/enable.html
  web-console/old-console/js/jquery-1.11.0.js
  web-console/old-console/js/jquery-1.11.0.min.js
  web-console/old-console/kill.html
  web-console/old-console/rules.html
  web-console/old-console/view.html
Labels: Apache

#7752 Fix lookup serde on node types that don't load lookups.
  server/src/main/java/org/apache/druid/query/lookup/LookupSerdeModule.java
  server/src/test/java/org/apache/druid/query/lookup/LookupSerdeModuleTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  services/src/main/java/org/apache/druid/cli/CliMiddleManager.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
Labels: Bug

#7759 Fix performance-faq and remove insert-segment-to-db redirects
  docs/_redirects.json
  docs/content/querying/groupbyquery.md
Labels: Area - Documentation, Bug

#7760 Missing licenses and notices for source distribution
  LICENSE
  NOTICE
Labels: Apache

#7757 [Backport] add support for multi-value string dimensions for 'HllSketch' build aggregator
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/GenerateTestData.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorTest.java
  extensions-core/datasketches/src/test/resources/hll/hll_raw.tsv
  extensions-core/datasketches/src/test/resources/hll/hll_sketches.tsv
Labels: Backport

#7723 Web-console: add resizable split screen layout to tasks and servers views
  web-console/package-lock.json
  web-console/package.json
  web-console/src/console-application.scss
  web-console/src/console-application.tsx
  web-console/src/entry.scss
  web-console/src/utils/local-storage-keys.tsx
  web-console/src/views/servers-view/__snapshots__/servers-view.spec.tsx.snap
  web-console/src/views/servers-view/servers-view.scss
  web-console/src/views/servers-view/servers-view.tsx
  web-console/src/views/task-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/task-view/tasks-view.scss
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#7703 Web console: add log tailing to task log view
  web-console/src/components/show-log/__snapshots__/show-log.spec.tsx.snap
  web-console/src/components/show-log/show-log.scss
  web-console/src/components/show-log/show-log.tsx
Labels: Area - Web Console

#7756 [Backport] use unminified jquery to be more friendly for source releases, fix license stuff
  LICENSE
  LICENSE.BINARY
  licenses/src/sizzle.MIT
  pom.xml
  web-console/console.html
  web-console/old-console/cluster.html
  web-console/old-console/config.html
  web-console/old-console/enable.html
  web-console/old-console/js/jquery-1.11.0.js
  web-console/old-console/js/jquery-1.11.0.min.js
  web-console/old-console/kill.html
  web-console/old-console/rules.html
  web-console/old-console/view.html
Labels: Backport

#7761 [Backport] Missing licenses and notices for source distribution
  LICENSE
  NOTICE
Labels: Backport

#7705 Web-Console: add go to editor button to tasks and supervisors view
  web-console/src/components/header-bar/header-bar.spec.tsx
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/console-application.tsx
  web-console/src/views/load-data-view/__snapshots__/load-data-view.spec.tsx.snap
  web-console/src/views/load-data-view/load-data-view.spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#7754 remove unused ObjectMapper from DatasourcePathSpec
  indexing-hadoop/src/main/java/org/apache/druid/indexer/path/DatasourcePathSpec.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopIngestionSpecUpdateDatasourcePathSpecSegmentsTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/path/DatasourcePathSpecTest.java
Labels: Improvement

#7758 Web-console: add hostname to tasks view
  web-console/src/utils/general.tsx
  web-console/src/views/task-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#7746 Fix dead code in IndexTask.collectIntervalsAndShardSpecs()
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
Labels: Area - Batch Indexing, Bug

#7765 Fix LookupSerdeModule double-binding in Coordinator-as-Overlord mode.
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Bug

#7767 [Backport] Fix lookup serde on node types that don't load lookups.
  server/src/main/java/org/apache/druid/query/lookup/LookupSerdeModule.java
  server/src/test/java/org/apache/druid/query/lookup/LookupSerdeModuleTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  services/src/main/java/org/apache/druid/cli/CliMiddleManager.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
Labels: Backport

#7773 Remove Codehaus references from the tests
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/LoadingLookupFactoryTest.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/PollingLookupSerDeserTest.java
Labels: Area - Testing

#7774 [Backport] Fix LookupSerdeModule double-binding in Coordinator-as-Overlord mode.
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Backport

#7782 Web console: fix supervisor resume route
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console, Bug

#7783 [Backport] Web console: fix supervisor resume route
  web-console/src/views/tasks-view.tsx
Labels: Backport

#7770 Web console: Adding a server view that can display all servers
  web-console/package.json
  web-console/src/bootstrap/react-table-defaults.tsx
  web-console/src/components/action-cell/__snapshots__/action-cell.spec.tsx.snap
  web-console/src/components/action-cell/action-cell.spec.tsx
  web-console/src/components/action-cell/action-cell.tsx
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/components/header-bar/header-bar.scss
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/components/sql-control/__snapshots__/sql-control.spec.tsx.snap
  web-console/src/components/sql-control/sql-control.scss
  web-console/src/components/sql-control/sql-control.spec.tsx
  web-console/src/components/sql-control/sql-control.tsx
  web-console/src/components/view-control-bar/view-control-bar.scss
  web-console/src/console-application.scss
  web-console/src/entry.scss
  web-console/src/utils/general.tsx
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/utils/local-storage-keys.tsx
  web-console/src/variables.scss
  web-console/src/views/datasource-view/__snapshots__/datasource-view.spec.tsx.snap
  web-console/src/views/datasource-view/datasource-view.scss
  web-console/src/views/datasource-view/datasource-view.tsx
  web-console/src/views/home-view/__snapshots__/home-view.spec.tsx.snap
  web-console/src/views/home-view/home-view.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/lookups-view/__snapshots__/lookups-view.spec.tsx.snap
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.scss
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/servers-view/__snapshots__/servers-view.spec.tsx.snap
  web-console/src/views/servers-view/servers-view.scss
  web-console/src/views/servers-view/servers-view.tsx
  web-console/src/views/sql-view/__snapshots__/sql-view.spec.tsx.snap
  web-console/src/views/sql-view/sql-view.scss
  web-console/src/views/sql-view/sql-view.tsx
  web-console/src/views/task-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/task-view/tasks-view.scss
  web-console/src/views/task-view/tasks-view.tsx
Labels: Area - Web Console

#7785 Add missing protobuf license
  LICENSE.BINARY
  licenses/bin/protobuf-java-bloomberg.BSD3
  licenses/bin/protobuf-java-redhat.BSD3
Labels: Apache

#7788 Web console: bump dependancies
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/json-input/json-input.tsx
  web-console/src/components/sql-control/sql-control.tsx
  web-console/src/dialogs/lookup-edit-dialog/lookup-edit-dialog.tsx
  web-console/src/dialogs/spec-dialog/spec-dialog.tsx
  web-console/src/views/datasource-view/__snapshots__/datasource-view.spec.tsx.snap
  web-console/src/views/lookups-view/__snapshots__/lookups-view.spec.tsx.snap
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/servers-view/__snapshots__/servers-view.spec.tsx.snap
  web-console/src/views/sql-view/__snapshots__/sql-view.spec.tsx.snap
  web-console/src/views/task-view/__snapshots__/tasks-view.spec.tsx.snap
Labels: Area - Web Console

#7787 Web-console: Add run keyboard short cut to sql-control
  web-console/src/components/sql-control/sql-control.tsx
  web-console/src/views/sql-view/__snapshots__/sql-view.spec.tsx.snap
  web-console/tsconfig.json
Labels: Area - Web Console

#7769 SQL: Allow select-sort-project query shapes.
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregator.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregator.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/sql/BloomFilterOperatorConversion.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/Aggregation.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/SqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ApproxCountDistinctSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/CountSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/SimpleSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/SqlOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/LikeOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/ConvertBoundsToSelectors.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/Filtration.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidSemiJoin.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Grouping.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Projection.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/SelectProjection.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/SortProject.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Sorting.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/VirtualColumnRegistry.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidRules.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/GroupByRules.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/filtration/FiltrationTest.java
Labels: Area - SQL, Improvement

#7796 SQL: Use SegmentId instead of DataSegment as set/map keys.
  core/src/main/java/org/apache/druid/timeline/DataSegment.java
  core/src/main/java/org/apache/druid/timeline/SegmentId.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/AvailableSegmentMetadata.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaTest.java
Labels: Refactoring

#7794 fix group-by v2 BufferArrayGrouper for empty multi-value dimension row
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/BufferArrayGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
Labels: Area - Querying, Bug

#7803 [Backport] fix group-by v2 BufferArrayGrouper for empty multi-value dimension row
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/BufferArrayGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
Labels: Backport

#7805 friendly printed arrays for json responses
  web-console/src/components/null-table-cell/null-table-cell.tsx
Labels: Area - Web Console
