Repository apache/druid, pull requests merged in 2019-10, with the labels that each got.

#8616 CuratorDruidNodeDiscoveryProvider: do not ignore exception in listener. Log it.
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidNodeDiscoveryProvider.java
Labels: Area - Operations, Improvement

#8590 update how to release doc
  distribution/asf-release-process-guide.md
Labels: Apache, Area - Dev

#8625 make TaskMonitor continue to monitor in the face of transient errors
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/TaskMonitor.java
Labels: Bug

#8628 Fix statsd types
  docs/operations/metrics.md
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
Labels: Area - Extension, Area - Metrics/Event Emitting

#8638 Update rollup table to properly reflect 0.16.0
  docs/ingestion/index.md
Labels: Area - Documentation

#8426 groupBy query: optional limit push down to segment scan
  docs/querying/groupbyquery.md
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GrouperBufferComparatorUtils.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/DictionaryBuildingStringGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/DoubleGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/FloatGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/GroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/LongGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/NullableValueGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/StringGroupByColumnSelectorStrategy.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryConfigTest.java
Labels: Area - Querying, Performance

#8649 merge recommendations into basic-cluster-tuning, add additional info
  docs/operations/basic-cluster-tuning.md
  docs/operations/recommendations.md
  website/redirects.json
  website/sidebars.json
Labels: Area - Documentation

#8645 fix sorting for resultRow object when numeric dimension not in limitSpec
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
Labels: Area - Querying, Bug

#8636 Add tier based usage metrics for historical nodes to help with autoscaling
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorStats.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorLogger.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/LoadRule.java
  server/src/test/java/org/apache/druid/server/coordinator/CoordinatorStatsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
Labels: Area - Metrics/Event Emitting

#8633 Speed up ParallelIndexSupervisorTask tests
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/MultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskSerdeTest.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/LocalFirehoseFactory.java
Labels: Area - Testing

#8653 fix spelling errors triggered by another doc PR
  docs/operations/basic-cluster-tuning.md
  docs/querying/groupbyquery.md
  docs/querying/query-context.md
  website/.spelling
Labels: Area - Documentation, Development Blocker

#8652 Fix missing jackson jars for hadoop ingestion
  extensions-core/hdfs-storage/pom.xml
  pom.xml
Labels: Area - Batch Indexing, Area - Dependencies, Bug

#8571 Use hash of Segment IDs instead of a list of explicit segments in auto compaction
  benchmarks/src/main/java/org/apache/druid/server/coordinator/NewestSegmentFirstPolicyBenchmark.java
  core/src/main/java/org/apache/druid/indexer/Checks.java
  core/src/main/java/org/apache/druid/indexer/Property.java
  core/src/main/java/org/apache/druid/indexer/partitions/HashedPartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/SingleDimensionPartitionsSpec.java
  core/src/main/java/org/apache/druid/segment/SegmentUtils.java
  core/src/test/java/org/apache/druid/indexer/ChecksTest.java
  core/src/test/java/org/apache/druid/indexer/partitions/ChecksTest.java
  core/src/test/java/org/apache/druid/indexer/partitions/SingleDimensionPartitionsSpecTest.java
  docs/configuration/index.md
  docs/ingestion/data-management.md
  indexing-hadoop/src/test/java/org/apache/druid/indexer/partitions/HashedPartitionsSpecTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionInputSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionIntervalSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/SpecificSegmentsSpec.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionInputSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/SpecificSegmentsSpecTest.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactQuery.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionIOConfig.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionIntervalSpec.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactor.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/helper/NewestSegmentFirstPolicyTest.java
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  website/.spelling
Labels: Area - Batch Indexing, Design Review, Release Notes

#8644 Fix Kinesis resharding issues
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Kafka/Kinesis Indexing, Bug

#8654 Web console: misc bug fixes and tidy up
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/suggestible-input/suggestible-input.tsx
  web-console/src/dialogs/status-dialog/__snapshots__/status-dialog.spec.tsx.snap
  web-console/src/dialogs/status-dialog/status-dialog.scss
  web-console/src/dialogs/status-dialog/status-dialog.tsx
  web-console/src/views/datasource-view/datasource-view.tsx
  web-console/src/views/load-data-view/load-data-view.scss
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/query-view/query-output/query-output.tsx
Labels: Area - Web Console, Bug

#8589 Fix resource leaks and suppress an incorrect LGTM alert
  core/src/main/java/org/apache/druid/java/util/common/io/smoosh/FileSmoosher.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/JobHelper.java
Labels: Improvement

#8660 Web console: show full value in SQL view
  web-console/src/views/query-view/query-output/query-output.tsx
Labels: Area - Web Console

#8634 Fix for RoundRobinStorageLocationSelectorStrategy not to pick the same storage location over and again
  server/src/main/java/org/apache/druid/segment/loading/RoundRobinStorageLocationSelectorStrategy.java
  server/src/test/java/org/apache/druid/segment/loading/StorageLocationSelectorStrategyTest.java
Labels: Bug

#8671 More Kinesis resharding adjustments
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisSequenceNumber.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorSpec.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfigTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorTuningConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  website/.spelling
Labels: Area - Kafka/Kinesis Indexing, Bug

#8687 Update tutorial-rollup.md
  docs/tutorials/tutorial-rollup.md
Labels: Area - Documentation

#8624 Use targetRowsPerSegment for single-dim partitions
  core/src/main/java/org/apache/druid/indexer/partitions/DimensionBasedPartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/HashedPartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/PartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/SingleDimensionPartitionsSpec.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerConfig.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DeterminePartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerConfigTest.java
Labels: Area - Batch Indexing

#8692 druid-basic-security Non-coordinator services repeatedly logging JsonMappingException
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authentication/db/cache/CoordinatorPollingBasicAuthenticatorCacheManager.java
Labels: Bug, Security

#8570 Auto compaction based on parallel indexing
  core/src/main/java/org/apache/druid/data/input/FiniteFirehoseFactory.java
  core/src/main/java/org/apache/druid/data/input/SegmentsSplitHintSpec.java
  core/src/main/java/org/apache/druid/data/input/SplitHintSpec.java
  core/src/main/java/org/apache/druid/data/input/impl/AbstractTextFilesFirehoseFactory.java
  docs/configuration/index.md
  docs/ingestion/data-management.md
  docs/ingestion/native-batch.md
  extensions-core/s3-extensions/src/test/java/org/apache/druid/firehose/s3/StaticS3FirehoseFactoryTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexPhaseRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateParallelIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/firehose/IngestSegmentFirehoseFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/MultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/firehose/IngestSegmentFirehoseFactoryTimelineTest.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactQueryTuningConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/InlineFirehoseFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/helper/DruidCoordinatorSegmentCompactor.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/InlineFirehoseFactoryTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  website/.spelling
Labels: Area - Batch Indexing, Release Notes

#8547 Add `sys.supervisors` table to system tables
  docs/operations/api-reference.md
  docs/querying/sql.md
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorSpec.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpec.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/security/OverlordSecurityResourceFilterTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorSpec.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorStatus.java
  server/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorStatusTest.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataSupervisorManagerTest.java
  server/src/test/java/org/apache/druid/metadata/TestSupervisorSpec.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  website/.spelling
Labels: Area - Metadata, Area - SQL

#8708 Update docs to add metadataSegment configs
  docs/configuration/index.md
Labels: Area - Documentation, Area - Metadata

#8711 Fix PeriodGranularity.bucketStart for days that don't start with midnight.
  core/src/main/java/org/apache/druid/java/util/common/granularity/PeriodGranularity.java
  core/src/test/java/org/apache/druid/java/util/common/GranularityTest.java
Labels: Bug

#8691 Fix jackson property name for dropwizardemitterconfig
  extensions-contrib/dropwizard-emitter/pom.xml
  extensions-contrib/dropwizard-emitter/src/main/java/org/apache/druid/emitter/dropwizard/DropwizardEmitterConfig.java
  extensions-contrib/dropwizard-emitter/src/test/java/org/apache/druid/emitter/dropwizard/DropwizardEmitterConfigTest.java
Labels: Bug

#8657 Cluster-wide configuration for query vectorization
  benchmarks/src/main/java/org/apache/druid/benchmark/GroupByTypeInterfaceBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/GroupByBenchmark.java
  docs/configuration/index.md
  docs/querying/query-context.md
  extensions-contrib/virtual-columns/src/test/java/org/apache/druid/segment/MapVirtualColumnGroupByTest.java
  processing/src/main/java/org/apache/druid/query/QueryConfig.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryEngine.java
  processing/src/test/java/org/apache/druid/query/TestQuery.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownInsufficientBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownMultiNodeMergeTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByMultiSegmentTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryMergeBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerFailureTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedQueryPushDownTest.java
  processing/src/test/java/org/apache/druid/query/search/QueryConfigTest.java
  server/src/main/java/org/apache/druid/guice/QueryToolChestModule.java
Labels: Area - Documentation

#8723 fix indexer segment announcement when used with http inventory view
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
Labels: Bug

#8707 Remove deprecated parameter for Checkpoint request
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/CheckPointDataSourceMetadataAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/Supervisor.java
Labels: Area - Kafka/Kinesis Indexing

#8725 Web console: disable data loader Submit button when submitting so as not to submit multiple times
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Batch Indexing, Area - Web Console

#8724 Web console: Button to pretty print Druid JSON query
  web-console/src/views/query-view/__snapshots__/query-view.spec.tsx.snap
  web-console/src/views/query-view/query-view.tsx
  web-console/src/views/query-view/run-button/run-button.spec.tsx
  web-console/src/views/query-view/run-button/run-button.tsx
Labels: Area - Web Console

#8729 Docs: fix doc headers
  docs/dependencies/zookeeper.md
  docs/querying/groupbyquery.md
  docs/querying/searchquery.md
  docs/querying/segmentmetadataquery.md
  docs/querying/timeseriesquery.md
  docs/querying/topnquery.md
  website/i18n/en.json
Labels: Area - Documentation

#8732 Web console: fix save button
  web-console/src/components/show-log/__snapshots__/show-log.spec.tsx.snap
  web-console/src/components/show-log/show-log.spec.tsx
  web-console/src/components/show-log/show-log.tsx
  web-console/src/setup-tests.ts
Labels: Area - Web Console, Bug

#8731 Docs: add canonical url meta to the docs
  website/script/fix-path.js
Labels: Area - Documentation

#8511 Moving Average extention: Add Sum averagers
  docs/development/extensions-contrib/moving-average-query.md
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/averagers/AveragerFactory.java
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/averagers/DoubleSumAverager.java
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/averagers/DoubleSumAveragerFactory.java
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/averagers/LongSumAverager.java
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/averagers/LongSumAveragerFactory.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/averagers/DoubleSumAveragerFactoryTest.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/averagers/DoubleSumAveragerTest.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/averagers/LongSumAveragerFactoryTest.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/averagers/LongSumAveragerTest.java
Labels: Area - Extension

#8734 update druid expression docs to indicate that array functions do not work at indexing time
  docs/misc/math-expr.md
  website/.spelling
Labels: Area - Documentation

#8737 [Backport] fix doc headers (#8729)
  docs/dependencies/zookeeper.md
  docs/querying/groupbyquery.md
  docs/querying/searchquery.md
  docs/querying/segmentmetadataquery.md
  docs/querying/timeseriesquery.md
  docs/querying/topnquery.md
  website/i18n/en.json
Labels: Area - Documentation, Backport

#8738 [Backport] update druid expression docs to indicate that array functions do not work at indexing time
  docs/misc/math-expr.md
  website/.spelling
Labels: Area - Documentation, Backport

#8745 fix typo
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITRealtimeIndexTaskTest.java
Labels: Area - Documentation

#8741 Web console: Add delimiter option for TSV parser
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/segments-view/segments-view.tsx
Labels: Area - Web Console, Bug

#8747 Add version to canonical URL
  website/script/fix-path.js
Labels: Area - Documentation, Bug

#8749 [Backport] Add version to canonical URL
  website/script/fix-path.js
Labels: Backport

#8751 Web console: Update versions and dependencies
  web-console/package-lock.json
  web-console/package.json
  web-console/unified-console.html
Labels: Area - Web Console

#8760 Docs: remove self link
  docs/ingestion/index.md
Labels: Area - Documentation

#8754 Add HDFS firehose
  docs/development/extensions-core/hdfs.md
  docs/ingestion/native-batch.md
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/firehose/hdfs/HdfsFirehoseFactory.java
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsDataSegmentPuller.java
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsLoadSpec.java
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsStorageDruidModule.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/firehose/hdfs/HdfsFirehoseFactoryTest.java
  website/.spelling
Labels: Area - Batch Indexing

#8752 Web console: Support HDFS firehose
  web-console/assets/hdfs.png
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console, Release Notes

#8767 HDFS firehose doc: fix typos.
  docs/development/extensions-core/hdfs.md
Labels: Area - Documentation

#8792 Use bundled ZooKeeper in tutorials.
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  examples/bin/run-zk
  examples/conf/zk/log4j.xml
  examples/conf/zk/log4j2.xml
Labels: Area - Documentation, Ease of Use

#8793 Remove Tranquility configs and certain doc references.
  docs/configuration/index.md
  docs/development/extensions-contrib/thrift.md
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kinesis-ingestion.md
  docs/development/extensions-core/protobuf.md
  docs/ingestion/tasks.md
  docs/querying/multitenancy.md
  docs/tutorials/cluster.md
  examples/conf/supervise/cluster/data.conf
  examples/conf/supervise/single-server/large.conf
  examples/conf/supervise/single-server/medium.conf
  examples/conf/supervise/single-server/micro-quickstart.conf
  examples/conf/supervise/single-server/nano-quickstart.conf
  examples/conf/supervise/single-server/small.conf
  examples/conf/supervise/single-server/xlarge.conf
  examples/conf/tranquility/kafka.json
  examples/conf/tranquility/server.json
  examples/conf/tranquility/wikipedia-server.json
Labels: Area - Documentation

#8783 Asynchronous file copy in the shuffle of parallel indexing task
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
Labels: Area - Batch Indexing

#8739 remove select query
  benchmarks/src/main/java/org/apache/druid/benchmark/query/SelectBenchmark.java
  core/src/main/java/org/apache/druid/data/input/impl/TimestampSpec.java
  docs/configuration/index.md
  docs/querying/scan-query.md
  docs/querying/select-query.md
  extensions-contrib/time-min-max/src/test/java/org/apache/druid/query/aggregation/TimestampAggregationSelectTest.java
  extensions-contrib/time-min-max/src/test/resources/select.json
  extensions-contrib/virtual-columns/src/test/java/org/apache/druid/segment/MapVirtualColumnSelectTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationWithSimpleDataTest.java
  extensions-core/datasketches/src/test/resources/select_query.json
  integration-tests/src/test/resources/indexer/select.query
  integration-tests/src/test/resources/indexer/select_reindex.query
  integration-tests/src/test/resources/indexer/union_select_query.json
  processing/src/main/java/org/apache/druid/query/Druids.java
  processing/src/main/java/org/apache/druid/query/QueryConfig.java
  processing/src/main/java/org/apache/druid/query/QueryMetrics.java
  processing/src/main/java/org/apache/druid/query/dimension/DefaultDimensionSpec.java
  processing/src/main/java/org/apache/druid/query/select/DefaultSelectQueryMetrics.java
  processing/src/main/java/org/apache/druid/query/select/DefaultSelectQueryMetricsFactory.java
  processing/src/main/java/org/apache/druid/query/select/EventHolder.java
  processing/src/main/java/org/apache/druid/query/select/PagingOffset.java
  processing/src/main/java/org/apache/druid/query/select/PagingSpec.java
  processing/src/main/java/org/apache/druid/query/select/SelectBinaryFn.java
  processing/src/main/java/org/apache/druid/query/select/SelectQuery.java
  processing/src/main/java/org/apache/druid/query/select/SelectQueryConfig.java
  processing/src/main/java/org/apache/druid/query/select/SelectQueryEngine.java
  processing/src/main/java/org/apache/druid/query/select/SelectQueryMetrics.java
  processing/src/main/java/org/apache/druid/query/select/SelectQueryMetricsFactory.java
  processing/src/main/java/org/apache/druid/query/select/SelectQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/select/SelectQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/select/SelectResultValue.java
  processing/src/main/java/org/apache/druid/query/select/SelectResultValueBuilder.java
  processing/src/main/java/org/apache/druid/segment/Cursor.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorSequenceBuilder.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
  processing/src/test/java/org/apache/druid/query/scan/MultiSegmentScanQueryTest.java
  processing/src/test/java/org/apache/druid/query/select/DefaultSelectQueryMetricsTest.java
  processing/src/test/java/org/apache/druid/query/select/MultiSegmentSelectQueryTest.java
  processing/src/test/java/org/apache/druid/query/select/PagingOffsetTest.java
  processing/src/test/java/org/apache/druid/query/select/SelectBinaryFnTest.java
  processing/src/test/java/org/apache/druid/query/select/SelectQueryConfigTest.java
  processing/src/test/java/org/apache/druid/query/select/SelectQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/select/SelectQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/select/SelectQuerySpecTest.java
  processing/src/test/java/org/apache/druid/query/select/SelectQueryTest.java
  server/src/main/java/org/apache/druid/client/cache/CacheConfig.java
  server/src/main/java/org/apache/druid/guice/QueryRunnerFactoryModule.java
  server/src/main/java/org/apache/druid/guice/QueryToolChestModule.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/IngestSegmentFirehose.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientFunctionalityTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTestUtils.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Querying, Design Review, Incompatible, Release Notes

#8794 Startup scripts: verify Java 8 (exactly), improve port/java verification messages.
  examples/bin/verify-default-ports
  examples/bin/verify-java
Labels: Ease of Use

#8798 Fix verify script.
  examples/bin/verify-java
Labels: Bug

#8762 'hadoop fs' command is a generic. The best approach is to use hdfs #8761
  docs/tutorials/tutorial-batch-hadoop.md
Labels: Area - Documentation
