Repository apache/druid, pull requests merged in 2020-06, with the labels that each got.

#9957 support customized factory.json via IndexSpec for segment persist
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
  processing/src/main/java/org/apache/druid/segment/IndexSpec.java
  processing/src/test/java/org/apache/druid/segment/CustomSegmentizerFactoryTest.java
  processing/src/test/java/org/apache/druid/segment/IndexSpecTest.java
Labels: Area - Segment Format and Ser/De

#9964 fix nullhandling exceptions related to test ordering
  processing/src/test/java/org/apache/druid/query/topn/TopNUnionQueryTest.java
Labels: Flaky test

#9969 More lenient code coverage check
  .travis.yml
Labels: Area - Dev, Development Blocker

#9934 Fix various Yielder leaks.
  core/src/main/java/org/apache/druid/common/guava/CombiningSequence.java
  core/src/main/java/org/apache/druid/java/util/common/guava/ExplodingSequence.java
  core/src/main/java/org/apache/druid/java/util/common/guava/MergeSequence.java
  core/src/main/java/org/apache/druid/java/util/common/guava/YieldingSequenceBase.java
  core/src/test/java/org/apache/druid/common/guava/CombiningSequenceTest.java
  core/src/test/java/org/apache/druid/java/util/common/guava/MergeSequenceTest.java
  core/src/test/java/org/apache/druid/java/util/common/guava/YieldingSequenceBaseTest.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryRunnerFactory.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerFactoryTest.java
Labels: Bug

#9928 Fix various processing buffer leaks and simplify BlockingPool.
  core/src/main/java/org/apache/druid/collections/BlockingPool.java
  core/src/main/java/org/apache/druid/collections/DefaultBlockingPool.java
  core/src/main/java/org/apache/druid/collections/DummyBlockingPool.java
  core/src/main/java/org/apache/druid/collections/StupidPool.java
  core/src/test/java/org/apache/druid/collections/BlockingPoolTest.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/topn/PooledTopNAlgorithm.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryMergeBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryRunnerTest.java
Labels: Bug

#9944 remove ListenableFutures and revert to using the Guava implementation
  codestyle/druid-forbidden-apis.txt
  core/src/main/java/org/apache/druid/java/util/common/concurrent/ListenableFutures.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
Labels: Bug

#9948 Document unsupported Join on multi-value column
  docs/querying/datasource.md
  docs/querying/sql.md
  processing/src/main/java/org/apache/druid/query/QueryUnsupportedException.java
  processing/src/main/java/org/apache/druid/segment/join/lookup/LookupJoinMatcher.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcher.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcherTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/LookupJoinMatcherTest.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Documentation, Ease of Use

#9954 Fix shutdown reason for unknown tasks in taskQueue
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
Labels: Bug

#9959 Fix Subquery could not be converted to groupBy query
  extensions-core/datasketches/pom.xml
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQuery.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByTimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidOuterQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/QueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#9986 Fix groupBy with literal in subquery grouping
  processing/src/main/java/org/apache/druid/query/QueryToolChest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#9988 Integration tests small fixes sh for ci
  integration-tests/build_run_cluster.sh
Labels: Area - Testing

#9731 ColumnCapabilities.hasMultipleValues refactor
  benchmarks/src/test/java/org/apache/druid/benchmark/BoundFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/DimensionPredicateFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/LikeFilterBenchmark.java
  processing/src/main/java/org/apache/druid/query/filter/BitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/ColumnProcessors.java
  processing/src/main/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  processing/src/main/java/org/apache/druid/segment/DimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/RowBasedColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionMergerV9.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnBuilder.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilities.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilitiesImpl.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/vector/QueryableIndexVectorColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2Test.java
  processing/src/test/java/org/apache/druid/query/lookup/LookupSegmentTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataUnionQueryTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerV9WithSpatialIndexTest.java
  processing/src/test/java/org/apache/druid/segment/QueryableIndexColumnCapabilitiesTest.java
  processing/src/test/java/org/apache/druid/segment/RowBasedColumnSelectorFactoryTest.java
  processing/src/test/java/org/apache/druid/segment/RowBasedStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/column/ColumnCapabilitiesImplTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ExtractionDimFilterTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinableTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVirtualColumnTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/VirtualColumnsTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Design Review, Refactoring

#9861 Empty partitionDimension has less rollup compared to when explicitly specified
  core/src/main/java/org/apache/druid/timeline/partition/HashBasedNumberedShardSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CachingLocalSegmentAllocator.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CachingSegmentAllocator.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/NonLinearlyPartitionedSequenceNameFunction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/SegmentAllocators.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/ShardSpecs.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialHashSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialRangeSegmentGenerateTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RangePartitionCachingLocalSegmentAllocatorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ShardSpecsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionCachingLocalSegmentAllocatorTest.java
Labels: Area - Batch Ingestion, Bug

#9554 Add git pre-commit hook to source control
  dev/intellij-setup.md
  hooks/pre-push.sh
  setup-hooks.sh
Labels: Area - Dev

#9905 Fix compact partially overlapping segments
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
Labels: Bug

#9989 fix NilVectorSelector filter optimization
  processing/src/main/java/org/apache/druid/segment/vector/NilVectorSelector.java
  processing/src/test/java/org/apache/druid/segment/filter/ValueMatchersTest.java
Labels: Bug, Performance

#9971 Load broadcast datasources on broker and tasks
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTask.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  server/pom.xml
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/DruidServer.java
  server/src/main/java/org/apache/druid/discovery/DruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderConfig.java
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManager.java
  server/src/main/java/org/apache/druid/segment/realtime/CliIndexerDataSegmentServerAnnouncerLifecycleHandler.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/CoordinatorBasedSegmentHandoffNotifier.java
  server/src/main/java/org/apache/druid/server/coordination/DruidServerMetadata.java
  server/src/main/java/org/apache/druid/server/coordination/LoadableDataSegment.java
  server/src/main/java/org/apache/druid/server/coordination/SegmentChangeRequestLoad.java
  server/src/main/java/org/apache/druid/server/coordination/SegmentLoadDropHandler.java
  server/src/main/java/org/apache/druid/server/coordination/ServerType.java
  server/src/main/java/org/apache/druid/server/coordinator/BalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/CachingCostBalancerStrategyFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/CostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCluster.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorRuntimeParams.java
  server/src/main/java/org/apache/druid/server/coordinator/RandomBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/ReservoirSegmentSampler.java
  server/src/main/java/org/apache/druid/server/coordinator/ServerHolder.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/BalanceSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/RunRules.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/BroadcastDistributionRule.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/ForeverBroadcastDistributionRule.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/IntervalBroadcastDistributionRule.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/PeriodBroadcastDistributionRule.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/CoordinatorBasedSegmentHandoffNotifierTest.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentLoadDropHandlerTest.java
  server/src/test/java/org/apache/druid/server/coordination/ZkCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidClusterBuilder.java
  server/src/test/java/org/apache/druid/server/coordinator/ReservoirSegmentSamplerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/BroadcastDistributionRuleSerdeTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/BroadcastDistributionRuleTest.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
  services/src/test/java/org/apache/druid/cli/MainTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Segment Balancing/Coordination

#9975 fixes some issues in configuration documentation
  docs/configuration/index.md
Labels: Area - Documentation

#9449 Add Sql InputSource
  core/src/main/java/org/apache/druid/data/input/impl/prefetch/JsonIterator.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/CloseableIterator.java
  docs/ingestion/native-batch.md
  server/src/main/java/org/apache/druid/metadata/SQLMetadataStorageActionHandler.java
  server/src/main/java/org/apache/druid/metadata/input/InputSourceModule.java
  server/src/main/java/org/apache/druid/metadata/input/SqlEntity.java
  server/src/main/java/org/apache/druid/metadata/input/SqlInputFormat.java
  server/src/main/java/org/apache/druid/metadata/input/SqlInputSource.java
  server/src/main/java/org/apache/druid/metadata/input/SqlReader.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/SqlFirehoseFactory.java
  server/src/test/java/org/apache/druid/metadata/input/InputSourceModuleTest.java
  server/src/test/java/org/apache/druid/metadata/input/SqlEntityTest.java
  server/src/test/java/org/apache/druid/metadata/input/SqlInputSourceTest.java
  server/src/test/java/org/apache/druid/metadata/input/SqlTestUtils.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/SqlFirehoseFactoryTest.java
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
  services/src/main/java/org/apache/druid/cli/CliMiddleManager.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
  website/.spelling
Labels: Area - Batch Ingestion

#9994 remove incorrect and unnecessary overrides from BooleanVectorValueMatcher
  processing/src/main/java/org/apache/druid/query/filter/vector/BooleanVectorValueMatcher.java
  processing/src/test/java/org/apache/druid/query/filter/vector/VectorValueMatcherColumnProcessorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
Labels: Area - Querying, Bug

#9982 make joinables closeable
  benchmarks/src/test/java/org/apache/druid/benchmark/JoinAndLookupBenchmark.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITTestCoordinatorPausedTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITUnionQueryTest.java
  integration-tests/src/test/resources/queries/union_queries.json
  processing/src/main/java/org/apache/druid/query/BaseQuery.java
  processing/src/main/java/org/apache/druid/query/ReferenceCountingSegmentQueryRunner.java
  processing/src/main/java/org/apache/druid/segment/AbstractSegment.java
  processing/src/main/java/org/apache/druid/segment/IncrementalIndexSegment.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexSegment.java
  processing/src/main/java/org/apache/druid/segment/ReferenceCountedObject.java
  processing/src/main/java/org/apache/druid/segment/ReferenceCountingCloseableObject.java
  processing/src/main/java/org/apache/druid/segment/ReferenceCountingSegment.java
  processing/src/main/java/org/apache/druid/segment/RowBasedSegment.java
  processing/src/main/java/org/apache/druid/segment/Segment.java
  processing/src/main/java/org/apache/druid/segment/SegmentReference.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegment.java
  processing/src/main/java/org/apache/druid/segment/join/Joinable.java
  processing/src/main/java/org/apache/druid/segment/join/JoinableClause.java
  processing/src/main/java/org/apache/druid/segment/join/Joinables.java
  processing/src/main/java/org/apache/druid/segment/join/lookup/LookupJoinable.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTable.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinable.java
  processing/src/main/java/org/apache/druid/segment/join/table/RowBasedIndexedTable.java
  processing/src/test/java/org/apache/druid/segment/ReferenceCountingSegmentTest.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinTestHelper.java
  processing/src/test/java/org/apache/druid/segment/join/JoinablesTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinableTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/RowBasedIndexedTableTest.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/segment/join/InlineJoinableFactory.java
  server/src/main/java/org/apache/druid/segment/realtime/FireHydrant.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/RealtimePlumber.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  server/src/test/java/org/apache/druid/segment/loading/CacheTestSegmentLoader.java
  server/src/test/java/org/apache/druid/segment/realtime/FireHydrantTest.java
  server/src/test/java/org/apache/druid/server/SegmentManagerTest.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/server/coordination/ServerManagerTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/QueryMaker.java
Labels: Area - Querying, Area - Segment Balancing/Coordination

#9995 Add instruction for code coverage checks
  .github/pull_request_template.md
  dev/code-review/code-coverage.md
  dev/intellij-images/code_coverage_1.png
  dev/intellij-images/code_coverage_2.png
  dev/intellij-setup.md
Labels: Area - Dev

#10022 Remove duplicate parameters from test
  server/src/test/java/org/apache/druid/server/coordinator/rules/BroadcastDistributionRuleSerdeTest.java
Labels: Area - Testing

#10018 Remove colocated datasources from web console for broadcast indexed tables
  web-console/src/components/rule-editor/__snapshots__/rule-editor.spec.tsx.snap
  web-console/src/components/rule-editor/rule-editor.spec.tsx
  web-console/src/components/rule-editor/rule-editor.tsx
  web-console/src/utils/load-rule.ts
Labels: Area - Web Console

#10024 Fix CVE-2020-13602
  licenses.yaml
  pom.xml
Labels: Area - Dependencies, Security

#10019 Fix broadcast rule drop and docs
  docs/operations/rule-configuration.md
  server/src/main/java/org/apache/druid/server/coordinator/duty/MarkAsUnusedOvershadowedSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/RunRules.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/MarkAsUnusedOvershadowedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegmentsTest.java
Labels: Area - Documentation, Area - Segment Balancing/Coordination, Bug

#10021 fix balancer + broadcast segments npe
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorRuntimeParams.java
Labels: Area - Segment Balancing/Coordination, Bug

#10012 Set the core partition set size properly for batch ingestion with dynamic partitioning
  core/src/main/java/org/apache/druid/timeline/partition/BuildingNumberedShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/NumberedOverwriteShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/NumberedPartialShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/NumberedShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/PartialShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/ShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/ShardSpecLookup.java
  core/src/test/java/org/apache/druid/timeline/partition/BuildingNumberedShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/NumberedOverwriteShardSpecTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/LocalSegmentAllocator.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SegmentPublisherHelper.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/TransactionalSegmentPublisher.java
Labels: Area - Batch Ingestion, Bug, Release Notes

#10006 lpad and rpad functions match postrges behavior in SQL compatible mode
  core/src/main/java/org/apache/druid/java/util/common/StringUtils.java
  core/src/test/java/org/apache/druid/java/util/common/StringUtilsTest.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  docs/misc/math-expr.md
  docs/querying/sql.md
Labels: Area - Querying, Bug, Release Notes

#10016 Integration test docker compose readme
  integration-tests/README.md
Labels: Area - Dev, Area - Testing

#10014 ROUND and having comparators correctly handle special double values
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  docs/misc/math-expr.md
  docs/querying/sql.md
  processing/src/main/java/org/apache/druid/query/groupby/having/HavingSpecMetricComparator.java
  processing/src/test/java/org/apache/druid/query/groupby/having/HavingSpecMetricComparatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/GreatestExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/LeastExpressionTest.java
Labels: Area - Querying, Bug

#10020 global table datasource for broadcast segments
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/main/java/org/apache/druid/query/GlobalTableDataSource.java
  processing/src/main/java/org/apache/druid/query/TableDataSource.java
  processing/src/test/java/org/apache/druid/query/DataSourceTest.java
  processing/src/test/java/org/apache/druid/query/GlobalTableDataSourceTest.java
  processing/src/test/java/org/apache/druid/query/TableDataSourceTest.java
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/SegmentManager.java
  server/src/test/java/org/apache/druid/server/SegmentManagerTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidCalciteSchemaModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaNoDataInitTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestServerInventoryView.java
Labels: Area - Querying

#9965 API to verify a datasource has the latest ingested data
  docs/ingestion/faq.md
  docs/operations/api-reference.md
  server/src/main/java/org/apache/druid/client/CoordinatorServerView.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/server/http/DataSourcesResourceTest.java
Labels: Area - Metadata, Design Review

#10040 Druid Avatica - Handle escaping of search characters correctly
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - SQL, Bug

#9690 IntelliJ inspection and checkstyle rule for "Collection.EMPTY_* field accesses replaceable with Collections.empty*()"
  .idea/inspectionProfiles/Druid.xml
  extensions-contrib/ambari-metrics-emitter/src/test/java/org/apache/druid/emitter/ambari/metrics/AmbariMetricsEmitterConfigTest.java
  extensions-contrib/dropwizard-emitter/src/main/java/org/apache/druid/emitter/dropwizard/DropwizardEmitterModule.java
  extensions-contrib/graphite-emitter/src/main/java/org/apache/druid/emitter/graphite/GraphiteEmitterModule.java
  extensions-contrib/graphite-emitter/src/test/java/org/apache/druid/emitter/graphite/GraphiteEmitterConfigTest.java
  extensions-contrib/influxdb-emitter/src/main/java/org/apache/druid/emitter/influxdb/InfluxdbEmitterModule.java
  extensions-contrib/influxdb-emitter/src/test/java/org/apache/druid/emitter/influxdb/InfluxdbEmitterTest.java
  extensions-contrib/kafka-emitter/src/main/java/org/apache/druid/emitter/kafka/KafkaEmitterModule.java
  extensions-contrib/kafka-emitter/src/test/java/org/apache/druid/emitter/kafka/KafkaEmitterConfigTest.java
  extensions-contrib/opentsdb-emitter/src/main/java/org/apache/druid/emitter/opentsdb/OpentsdbEmitterModule.java
  extensions-contrib/opentsdb-emitter/src/test/java/org/apache/druid/emitter/opentsdb/OpentsdbEmitterConfigTest.java
  extensions-contrib/statsd-emitter/src/main/java/org/apache/druid/emitter/statsd/StatsDEmitterModule.java
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/StatsDEmitterTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/PollingLookupTest.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/cache/loading/LoadingCacheTest.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/jdbc/JdbcDataFetcherTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/InputRowSerdeTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/WorkerCategorySpec.java
  integration-tests/src/main/java/org/apache/druid/testing/guice/ITTLSCertificateCheckerModule.java
  processing/src/main/java/org/apache/druid/query/lookup/LookupsState.java
  processing/src/test/java/org/apache/druid/query/aggregation/StringColumnAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregationTest.java
  processing/src/test/java/org/apache/druid/query/extraction/MapLookupExtractorTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/orderby/TopNSequenceTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/DummyStringVirtualColumnTest.java
  server/src/main/java/org/apache/druid/server/emitter/ComposingEmitterModule.java
  server/src/main/java/org/apache/druid/server/initialization/AuthenticatorMapperModule.java
  server/src/main/java/org/apache/druid/server/initialization/AuthorizerMapperModule.java
  server/src/test/java/org/apache/druid/query/lookup/LookupSnapshotTakerTest.java
  server/src/test/java/org/apache/druid/server/lookup/cache/LookupCoordinatorManagerTest.java
  server/src/test/java/org/apache/druid/server/shard/NumberedShardSpecTest.java
Labels: Area - Automation/Static Analysis

#10041 global table only if joinable
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/main/java/org/apache/druid/query/planning/DataSourceAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/JoinableFactory.java
  processing/src/main/java/org/apache/druid/segment/join/MapJoinableFactory.java
  processing/src/test/java/org/apache/druid/segment/join/JoinablesTest.java
  processing/src/test/java/org/apache/druid/segment/join/MapJoinableFactoryTest.java
  processing/src/test/java/org/apache/druid/segment/join/NoopJoinableFactory.java
  server/src/main/java/org/apache/druid/segment/join/InlineJoinableFactory.java
  server/src/main/java/org/apache/druid/segment/join/LookupJoinableFactory.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/segment/join/InlineJoinableFactoryTest.java
  server/src/test/java/org/apache/druid/segment/join/LookupJoinableFactoryTest.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidJoinQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/InformationSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/LookupSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/DruidTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidCalciteSchemaModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaNoDataInitTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Querying, Area - SQL, Design Review

#10015 Fix join filter rewrites with nested queries
  benchmarks/src/test/java/org/apache/druid/benchmark/JoinAndLookupBenchmark.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQuery.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQuery.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQuery.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegment.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/Joinables.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterPreAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/filter/rewrite/JoinFilterPreAnalysisGroup.java
  processing/src/main/java/org/apache/druid/segment/join/filter/rewrite/JoinFilterRewriteConfig.java
  processing/src/test/java/org/apache/druid/segment/join/BaseHashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinablesTest.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Bug

#10053 fix topn on string columns with non-sorted or non-unique dictionaries
  benchmarks/src/test/java/org/apache/druid/benchmark/TopNTypeInterfaceBenchmark.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryEngine.java
  processing/src/main/java/org/apache/druid/query/topn/types/StringTopNColumnAggregatesProcessor.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Querying, Bug

#10055 SketchAggregator.updateUnion should handle null inside List update object
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationTest.java
Labels: Bug

#9856 change default number of segment loading threads
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderConfig.java
Labels: Area - Segment Balancing/Coordination, Release Notes

#10059 retry 500 and 503 errors against kinesis
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
Labels: Area - Streaming Ingestion, Bug

#10047 Druid user permissions
  docs/design/processes.md
  docs/design/router.md
  docs/operations/druid-console.md
  docs/operations/management-uis.md
  docs/tutorials/index.md
  website/i18n/en.json
  website/sidebars.json
Labels: Area - Documentation

#10063 Fix HyperUniquesAggregatorFactory.estimateCardinality null handling to respect output type
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniquesAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/SchemaEvolutionTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniquesAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryRunnerTest.java
Labels: Area - Querying, Bug

#10065 Enable query vectorization by default
  docs/configuration/index.md
  docs/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
Labels: Design Review, Release Notes

#9999 Optimize protobuf parsing for flatten data
  benchmarks/pom.xml
  benchmarks/src/test/java/org/apache/druid/benchmark/ProtobufParserBenchmark.java
  benchmarks/src/test/resources/ProtoFile
  benchmarks/src/test/resources/prototest.desc
  extensions-core/protobuf-extensions/src/main/java/org/apache/druid/data/input/protobuf/ProtobufInputRowParser.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputRowParserTest.java
Labels: Area - Streaming Ingestion, Performance

#10071 statsd-emitter: fix dimension names for jvm monitor metrics
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
Labels: Area - Metrics/Event Emitting, Bug

#10074 update avatica to handle additional character sets over jdbc
  licenses.yaml
  pom.xml
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Dependencies, Bug

#10070 Fix balancer strategy
  server/src/main/java/org/apache/druid/server/coordinator/CostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/RandomBalancerStrategy.java
  server/src/test/java/org/apache/druid/server/coordinator/BalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/RunRulesTest.java
Labels: Area - Segment Balancing/Coordination, Bug

#10075 fix dropwizard emitter jvm bufferpoolName metric
  docs/design/extensions-contrib/dropwizard.md
  docs/operations/metrics.md
  extensions-contrib/ambari-metrics-emitter/src/test/java/org/apache/druid/emitter/ambari/metrics/WhiteListBasedDruidToTimelineEventConverterTest.java
  extensions-contrib/dropwizard-emitter/src/main/resources/defaultMetricDimensions.json
  extensions-contrib/graphite-emitter/src/test/java/org/apache/druid/emitter/graphite/WhiteListBasedConverterTest.java
  website/.spelling
Labels: Area - Metrics/Event Emitting, Bug

#10046 Fix missing temp dir for native single_dim
  indexing-service/pom.xml
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
Labels: Area - Batch Ingestion, Area - Streaming Ingestion, Bug

#10060 More prominent instructions on code coverage failure
  .travis.yml
Labels: Area - Dev

#10013 Add NonnullPair
  core/src/main/java/org/apache/druid/java/util/common/NonnullPair.java
  core/src/test/java/org/apache/druid/java/util/common/NonnullPairTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
Labels: Area - Automation/Static Analysis

#10080 Add integration tests for SqlInputSource
  docs/ingestion/native-batch.md
  integration-tests/docker/druid.sh
  integration-tests/docker/test-data/sql-input-source-sample-data.sql
  integration-tests/src/test/java/org/apache/druid/tests/parallelized/ITSqlInputSourceTest.java
  integration-tests/src/test/resources/indexer/wikipedia_parallel_index_using_sqlinputsource_task.json
Labels: Area - Testing

#10076 ensure ParallelMergeCombiningSequence closes its closeables
  core/src/main/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequence.java
  core/src/test/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequenceTest.java
Labels: Area - Querying, Bug

#9936 fix MaterializedView gropuby query return arry result by default
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/MaterializedViewQueryQueryToolChest.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/MaterializedViewQueryQueryToolChestTest.java
Labels: Bug

#9878 Fix NPE when brokers use custom priority list
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/client/selector/CustomTierSelectorStrategy.java
  server/src/test/java/org/apache/druid/client/selector/TierSelectorStrategyTest.java
Labels: Bug

#10027 fix query memory leak
  core/src/main/java/org/apache/druid/common/guava/GuavaUtils.java
  core/src/test/java/org/apache/druid/common/guava/GuavaUtilsTest.java
  processing/src/main/java/org/apache/druid/query/ChainedExecutionQueryRunner.java
  processing/src/main/java/org/apache/druid/query/GroupByMergedQueryRunner.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/ConcurrentGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByMergingQueryRunnerV2.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerFailureTest.java
  server/src/main/java/org/apache/druid/client/cache/BackgroundCachePopulator.java
  server/src/test/java/org/apache/druid/client/cache/BackgroundCachePopulatorTest.java
Labels: Area - Querying, Bug

#9956 Segment timeline doesn't show results older than 3 months
  web-console/src/components/segment-timeline/segment-timeline.spec.tsx
  web-console/src/components/segment-timeline/segment-timeline.tsx
Labels: Area - Web Console, Bug

#10085 Filter http requests by http method
  docs/configuration/index.md
  docs/design/auth.md
  extensions-core/avro-extensions/pom.xml
  integration-tests/docker/environment-configs/common
  pom.xml
  processing/pom.xml
  server/pom.xml
  server/src/main/java/org/apache/druid/server/initialization/ServerConfig.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/CliIndexerServerModule.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/JettyServerInitUtils.java
  server/src/main/java/org/apache/druid/server/security/AllowHttpMethodsResourceFilter.java
  server/src/test/java/org/apache/druid/initialization/ServerConfigTest.java
  server/src/test/java/org/apache/druid/server/security/AllowHttpMethodsResourceFilterTest.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  services/src/main/java/org/apache/druid/cli/CoordinatorJettyServerInitializer.java
  services/src/main/java/org/apache/druid/cli/MiddleManagerJettyServerInitializer.java
  services/src/main/java/org/apache/druid/cli/QueryJettyServerInitializer.java
  services/src/main/java/org/apache/druid/cli/RouterJettyServerInitializer.java
  web-console/script/druid
Labels: Security

#10079 Move shardSpec tests to core
  core/src/test/java/org/apache/druid/timeline/partition/HashBasedNumberedShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/NumberedShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/ShardSpecTestUtils.java
  core/src/test/java/org/apache/druid/timeline/partition/SingleDimensionShardSpecTest.java
Labels: Area - Testing

#10089 Fix native batch range partition segment sizing
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/TimeDimTuple.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/TimeDimTupleFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/TimeDimTupleFunnel.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/TimeDimTupleFactoryTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/TimeDimTupleFunnelTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/TimeDimTupleTest.java
Labels: Area - Batch Ingestion, Bug

#10095 Fix test failures related to initialization of NullHandling module
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/RealtimePlumberSchoolTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/SinkTest.java
Labels: Area - Testing

#10091 Make 0.19 brokers compatible with 0.18 router
  server/src/main/java/org/apache/druid/discovery/DataNodeService.java
  server/src/main/java/org/apache/druid/discovery/DruidService.java
  server/src/main/java/org/apache/druid/guice/StorageNodeModule.java
  server/src/main/java/org/apache/druid/server/coordination/SegmentLoadDropHandler.java
  server/src/test/java/org/apache/druid/guice/StorageNodeModuleTest.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentLoadDropHandlerTest.java
  services/pom.xml
  services/src/main/java/org/apache/druid/cli/ServerRunnable.java
  services/src/test/java/org/apache/druid/cli/DiscoverySideEffectsProviderTest.java
Labels: Bug, Release Notes

#10094 Correct the position of the double quotation in distinctcount.md file
  docs/development/extensions-contrib/distinctcount.md
Labels: Area - Documentation

#10092 QueryCountStatsMonitor can be injected in the Peon
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolboxFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskToolboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
Labels: Area - Dependency Injection, Bug

#10081 Information schema doc update
  docs/querying/sql.md
  website/.spelling
Labels: Area - Documentation, Area - Querying, Area - SQL

#9883 Remove payload field from table sys.segment
  docs/querying/sql.md
  integration-tests/src/test/resources/results/auth_test_sys_schema_segments.json
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  web-console/src/views/segments-view/segments-view.tsx
Labels: Area - Metadata, Design Review, Release Notes

#10100 Web console: allow link overrides for docs, and more
  web-console/lib/keywords.js
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/dialogs/about-dialog/about-dialog.tsx
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/dialogs/coordinator-dynamic-config-dialog/__snapshots__/coordinator-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/coordinator-dynamic-config-dialog/coordinator-dynamic-config-dialog.tsx
  web-console/src/dialogs/index.ts
  web-console/src/dialogs/overlord-dynamic-config-dialog/__snapshots__/overload-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/overlord-dynamic-config-dialog/overlord-dynamic-config-dialog.tsx
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/retention-dialog.tsx
  web-console/src/entry.ts
  web-console/src/links.ts
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/variables.ts
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/query-view/run-button/run-button.tsx
Labels: Area - Web Console

#9764 Enabling Static Imports for Unit Testing DSLs (#331)
  codestyle/checkstyle-suppressions.xml
  core/src/test/java/org/apache/druid/common/config/NullHandlingTest.java
Labels: Area - Automation/Static Analysis, Area - Testing

#9422 Handle unknown complex types
  processing/src/main/java/org/apache/druid/segment/column/SimpleColumnHolder.java
  processing/src/main/java/org/apache/druid/segment/column/UnknownTypeComplexColumn.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
Labels: Area - SQL, Bug, Compatibility
