Repository apache/druid, pull requests merged in 2020-05, with the labels that each got.

#9797 remove UnionMergeRule rules from SQL planner
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Rules.java
Labels: Area - SQL

#9692 Fixed flaky BlockingPoolTest.testConcurrentTakeBatch()
  core/src/test/java/org/apache/druid/collections/BlockingPoolTest.java
Labels: Flaky test

#9436 added number of bins parameter
  docs/development/extensions-core/datasketches-quantiles.md
  extensions-core/datasketches/pom.xml
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToHistogramPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchToHistogramOperatorConversion.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToHistogramPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
Labels: Feature

#9812 Fix filtering on boolean values in transformation
  core/src/main/java/org/apache/druid/java/util/common/granularity/PeriodGranularity.java
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/segment/filter/PredicateValueMatcherFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/test/java/org/apache/druid/segment/filter/PredicateValueMatcherFactoryTest.java
  processing/src/test/java/org/apache/druid/segment/selector/TestColumnValueSelector.java
  processing/src/test/java/org/apache/druid/segment/transform/TransformerTest.java
Labels: Area - Batch Ingestion, Area - Streaming Ingestion, Bug

#9823 Rollback kinesis lag metric for 0.18.1
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorReportPayload.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorReportPayload.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorReportPayload.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/TaskReportData.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Streaming Ingestion

#9828 [Backport] Fix filtering on boolean values in transformation
  core/src/main/java/org/apache/druid/java/util/common/granularity/PeriodGranularity.java
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/segment/filter/PredicateValueMatcherFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/test/java/org/apache/druid/segment/filter/PredicateValueMatcherFactoryTest.java
  processing/src/test/java/org/apache/druid/segment/selector/TestColumnValueSelector.java
  processing/src/test/java/org/apache/druid/segment/transform/TransformerTest.java
Labels: Backport

#9804 Clarifying workerThreads and a few other nits
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kinesis-ingestion.md
  docs/development/extensions-core/lookups-cached-global.md
  docs/development/extensions.md
  docs/operations/basic-cluster-tuning.md
Labels: Area - Documentation

#9831 Add equivalent test coverage for all RHS join impls
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/LookupJoinMatcherTest.java
Labels: Area - Testing

#9836 low hanging fruit - presize hash map for DruidSegmentReader
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentReader.java
Labels: Area - Batch Ingestion, Performance

#9740 fill out missing test coverage for druid-stats, druid-momentsketch, druid-tdigestsketch postaggs
  extensions-contrib/momentsketch/pom.xml
  extensions-contrib/momentsketch/src/main/java/org/apache/druid/query/aggregation/momentsketch/aggregator/MomentSketchMaxPostAggregator.java
  extensions-contrib/momentsketch/src/main/java/org/apache/druid/query/aggregation/momentsketch/aggregator/MomentSketchMinPostAggregator.java
  extensions-contrib/momentsketch/src/test/java/org/apache/druid/query/aggregation/momentsketch/aggregator/MomentSketchMaxPostAggregatorTest.java
  extensions-contrib/momentsketch/src/test/java/org/apache/druid/query/aggregation/momentsketch/aggregator/MomentSketchMinPostAggregatorTest.java
  extensions-contrib/momentsketch/src/test/java/org/apache/druid/query/aggregation/momentsketch/aggregator/MomentSketchQuantilePostAggregatorTest.java
  extensions-contrib/tdigestsketch/pom.xml
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/TDigestSketchToQuantilePostAggregator.java
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/TDigestSketchToQuantilePostAggregatorTest.java
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/TDigestSketchToQuantilesPostAggregatorTest.java
  extensions-core/stats/pom.xml
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/teststats/PvaluefromZscorePostAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/teststats/ZtestPostAggregator.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/teststats/PvaluefromZscorePostAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/teststats/ZtestPostAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/StandardDeviationPostAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceGroupByQueryTest.java
Labels: Area - Testing

#9814 add flag to flattenSpec to keep null columns
  benchmarks/src/test/java/org/apache/druid/benchmark/FlattenJSONBenchmarkUtil.java
  core/src/main/java/org/apache/druid/data/input/impl/JSONParseSpec.java
  core/src/main/java/org/apache/druid/data/input/impl/JsonInputFormat.java
  core/src/main/java/org/apache/druid/data/input/impl/JsonReader.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/JSONFlattenerMaker.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/JSONPathParser.java
  core/src/test/java/org/apache/druid/data/input/impl/InputRowParserSerdeTest.java
  core/src/test/java/org/apache/druid/data/input/impl/JSONParseSpecTest.java
  core/src/test/java/org/apache/druid/data/input/impl/JsonInputFormatTest.java
  core/src/test/java/org/apache/druid/data/input/impl/JsonReaderTest.java
  core/src/test/java/org/apache/druid/java/util/common/parsers/JSONPathParserTest.java
  extensions-contrib/thrift-extensions/src/test/java/org/apache/druid/data/input/thrift/ThriftInputRowParserTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSourceTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpecTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/UriExtractionNamespace.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputRowParserTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerMapperTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/IndexGeneratorJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/JobHelperTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTestingFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialHashSegmentGenerateTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTaskSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/firehose/IngestSegmentFirehoseFactoryTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/firehose/IngestSegmentFirehoseFactoryTimelineTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/StreamChunkParserTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  processing/src/test/java/org/apache/druid/query/DoubleStorageTest.java
  server/src/test/java/org/apache/druid/segment/indexing/DataSchemaTest.java
  server/src/test/java/org/apache/druid/segment/realtime/FireDepartmentTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/DefaultOfflineAppenderatorFactoryTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/EventReceiverFirehoseIdleTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/EventReceiverFirehoseTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/RealtimePlumberSchoolTest.java
  web-console/e2e-tests/tutorial-batch.spec.ts
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/utils/sampler.ts
  web-console/src/utils/utils.spec.ts
Labels: Area - Batch Ingestion, Area - Web Console

#9818 Directly rewrite filters on RHS join columns into LHS equivalents
  processing/src/main/java/org/apache/druid/query/filter/Filter.java
  processing/src/main/java/org/apache/druid/query/filter/LikeDimFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/BoundFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/DimensionPredicateFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/FalseFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/main/java/org/apache/druid/segment/filter/InFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/LikeFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/NotFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/RegexFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/SearchQueryFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/SelectorFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/TrueFilter.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterPreAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterSplit.java
  processing/src/test/java/org/apache/druid/query/filter/LikeDimFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BoundFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ExpressionFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/FilterCnfConversionTest.java
  processing/src/test/java/org/apache/druid/segment/filter/InFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/JavaScriptFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/LikeFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/NotFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/RegexFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/SearchQueryFilterTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinTestHelper.java
  processing/src/test/resources/wikipedia/regions.json
Labels: Area - Querying

#9447 Add TaskCountStatsMonitor to config docs
  docs/configuration/index.md
Labels: Area - Documentation

#9860 fix license registry for com.nimbusds lang-tag
  licenses.yaml
Labels: Development Blocker

#9865 Add back FieldMayBeFinal inspection
  .idea/inspectionProfiles/Druid.xml
Labels: Area - Automation/Static Analysis

#9864 Console E2E test docs
  web-console/README.md
Labels: Area - Documentation, Area - Testing, Area - Web Console

#9858 druid.storage.maxListingLength should default to 1000 for s3
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3InputDataConfig.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3InputDataConfigTest.java
Labels: Area - Deep Storage

#9852 Fix potential resource leak in ParquetReader
  core/src/main/java/org/apache/druid/data/input/InputFormat.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/ParquetInputFormat.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/ParquetReader.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/BaseParquetReaderTest.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/ParquetReaderResourceLeakTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SettableByteEntityReader.java
Labels: Area - Batch Ingestion, Area - Extension, Bug

#9671 Add support for Avro OCF using InputFormat
  docs/ingestion/data-formats.md
  extensions-core/avro-extensions/pom.xml
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroExtensionsModule.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroOCFInputFormat.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroOCFReader.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroHadoopInputRowParserTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/AvroOCFReaderTest.java
  web-console/src/utils/ingestion-spec.tsx
  website/.spelling
Labels: Area - Batch Ingestion

#9819 refactor SeekableStreamSupervisor usage of RecordSupplier
  core/src/main/java/org/apache/druid/indexer/TaskIdUtils.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTask.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpec.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisSequenceNumber.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorStateManager.java
Labels: Area - Streaming Ingestion, Bug, Design Review

#9892 Fails creation of TaskResource if availabilityGroup is null
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskSerdeTest.java
Labels: Bug

#9863 Enforce code coverage
  .travis.yml
  benchmarks/pom.xml
  pom.xml
Labels: Area - Automation/Static Analysis, Area - Testing

#9881 fix docs error: google to azure and hdfs to http
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#9891 Fix deleting a data node tier causes load rules to display incorrectly
  web-console/src/components/rule-editor/__snapshots__/rule-editor.spec.tsx.snap
  web-console/src/components/rule-editor/rule-editor.spec.tsx
  web-console/src/components/rule-editor/rule-editor.tsx
Labels: Area - Web Console

#9901 Fix Hadoop IT Legacy test query json was not parameterized
  integration-tests/src/test/java/org/apache/druid/tests/hadoop/ITHadoopIndexTest.java
  integration-tests/src/test/resources/hadoop/batch_hadoop_queries.json
Labels: Area - Testing

#9859 Updated Notice for Druid Copyright Year
  NOTICE
Labels: Apache

#9885 add some details to the build doc
  dev/intellij-setup.md
  docs/development/build.md
  website/.spelling
Labels: Area - Dev, Area - Documentation

#9897 Fix web console query view crashing on simple query
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/views/query-view/__snapshots__/query-view.spec.tsx.snap
  web-console/src/views/query-view/column-tree/column-tree-menu/number-menu-items/number-menu-items.spec.tsx
  web-console/src/views/query-view/column-tree/column-tree-menu/string-menu-items/string-menu-items.spec.tsx
  web-console/src/views/query-view/column-tree/column-tree-menu/time-menu-items/time-menu-items.spec.tsx
  web-console/src/views/query-view/column-tree/column-tree.spec.tsx
  web-console/src/views/query-view/query-output/query-output.spec.tsx
  web-console/src/views/query-view/query-view.spec.tsx
  web-console/src/views/query-view/query-view.tsx
Labels: Area - Web Console, Bug

#9887 Re-order and document format detection in web console
  web-console/src/utils/ingestion-spec.tsx
Labels: Area - Web Console

#9903 Suppress CVEs for openstack-keystone
  owasp-dependency-check-suppressions.xml
Labels: Area - Automation/Static Analysis, Security

#9910 Update doc on tmp dir (java.io.tmpdir) best practice
  docs/configuration/index.md
  docs/operations/basic-cluster-tuning.md
Labels: Area - Documentation

#9902 update kafka client version to 2.5.0
  extensions-contrib/kafka-emitter/pom.xml
  extensions-core/kafka-extraction-namespace/pom.xml
  extensions-core/kafka-indexing-service/pom.xml
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/test/TestBroker.java
  integration-tests/docker-base/setup.sh
  licenses.yaml
  pom.xml
  web-console/script/druid
Labels: Area - Dependencies

#9947 Fix type restriction for Pattern hashcode inspection
  .idea/inspectionProfiles/Druid.xml
Labels: Area - Automation/Static Analysis, Bug

#9950 Fix information schema docs for `TABLE_CATALOG`
  docs/querying/sql.md
Labels: Area - Documentation

#9879 Querying doc refresh tutorial
  docs/assets/native-queries-01.png
  docs/assets/tutorial-query-01.png
  docs/assets/tutorial-query-02.png
  docs/assets/tutorial-query-03.png
  docs/assets/tutorial-query-035.png
  docs/assets/tutorial-query-04.png
  docs/assets/tutorial-query-06.png
  docs/assets/tutorial-query-07.png
  docs/assets/tutorial-query-08.png
  docs/querying/querying.md
  docs/tutorials/tutorial-query.md
Labels: Area - Documentation, Ease of Use

#9952 Fix NPE in KinesisRecordSupplier when closing on supervisor
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
Labels: Bug

#9943 fix unsafe concurrent access in StreamAppenderatorDriver
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
Labels: Area - Streaming Ingestion, Bug
