Repository apache/druid, pull requests merged in 2020-09, with the labels that each got.

#10317 Web console: add tile for Azure Event Hubs (via Kafka API)
  web-console/assets/azure-event-hubs.png
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#10299 add link to Docker quickstart in github README
  README.md
Labels: Ease of Use

#9935 optimize announceHistoricalSegments
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Area - Batch Ingestion, Area - Streaming Ingestion

#10340 Fix VARIANCE aggregator comparator
  extensions-core/stats/pom.xml
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/StandardDeviationPostAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorCollector.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorFactory.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/StandardDeviationPostAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorCollectorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorFactoryTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
Labels: Area - Null Handling, Bug, Release Notes

#10343 Add missing comma between JSON members in data-formats.md
  docs/ingestion/data-formats.md
Labels: Area - Documentation

#10351 StringFirstAggregatorFactory: Fix incorrect "combine" method.
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstAggregationTest.java
Labels: Bug

#10353 Ignore CVEs from htrace and ambari transitive deps
  extensions-contrib/ambari-metrics-emitter/pom.xml
  extensions-contrib/ambari-metrics-emitter/src/main/java/org/apache/druid/emitter/ambari/metrics/AmbariMetricsEmitter.java
  extensions-contrib/ambari-metrics-emitter/src/test/java/org/apache/druid/emitter/ambari/metrics/AmbariMetricsEmitterTest.java
  owasp-dependency-check-suppressions.xml
Labels: Area - Automation/Static Analysis, Security

#10341 Fix result-level caching
  server/src/main/java/org/apache/druid/query/RetryQueryRunner.java
  server/src/test/java/org/apache/druid/client/TestHttpClient.java
  server/src/test/java/org/apache/druid/query/QueryRunnerBasedOnClusteredClientTestBase.java
  server/src/test/java/org/apache/druid/query/ResultLevelCachingQueryRunnerTest.java
  server/src/test/java/org/apache/druid/query/RetryQueryRunnerTest.java
Labels: Area - Querying, Bug

#10332 Fix stringFirst/stringLast rollup during ingestion
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITIndexerTest.java
  integration-tests/src/test/resources/indexer/wikipedia_index_queries.json
  integration-tests/src/test/resources/indexer/wikipedia_merge_index_queries.json
  integration-tests/src/test/resources/indexer/wikipedia_merge_index_task.json
  integration-tests/src/test/resources/indexer/wikipedia_merge_reindex_druid_input_source_task.json
  integration-tests/src/test/resources/indexer/wikipedia_merge_reindex_task.json
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregateCombiner.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregateCombiner.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastAggregationTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerRollupTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestAnySqlAggregator.java
Labels: Bug

#10345 Fix doc for name of dynamic config to pause coordination
  docs/configuration/index.md
Labels: Area - Documentation

#10382 Unit tests fail due to missing extend InitializedNullHandlingTest
  core/src/test/java/org/apache/druid/data/input/FirehoseFactoryToInputSourceAdaptorTest.java
  core/src/test/java/org/apache/druid/data/input/impl/CsvInputFormatTest.java
Labels: Area - Testing

#10385 Fix typo
  docs/operations/pull-deps.md
Labels: Area - Documentation

#10392 TransformSpecTest should extends InitializedNullHandlingTest
  server/src/test/java/org/apache/druid/segment/indexing/TransformSpecTest.java
Labels: Area - Testing

#10350 Support SearchQueryDimFilter in sql via new methods
  docs/misc/math-expr.md
  docs/querying/sql.md
  processing/src/main/java/org/apache/druid/query/expression/CaseInsensitiveContainsExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/ContainsExpr.java
  processing/src/main/java/org/apache/druid/query/expression/ContainsExprMacro.java
  processing/src/test/java/org/apache/druid/query/expression/CaseInsensitiveExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/ContainsExprMacroTest.java
  server/src/main/java/org/apache/druid/guice/ExpressionModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
  website/.spelling
Labels: Area - Batch Ingestion, Area - SQL, Release Notes

#10327 benchmark for indexed table experiments
  benchmarks/src/test/java/org/apache/druid/benchmark/IndexedTableJoinCursorBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/IndexedTableLoadingBenchmark.java
Labels: Area - Dev

#10370 add computed Expr output types
  core/src/main/java/org/apache/druid/math/expr/ApplyFunction.java
  core/src/main/java/org/apache/druid/math/expr/BinaryLogicalOperatorExpr.java
  core/src/main/java/org/apache/druid/math/expr/BinaryOperatorExpr.java
  core/src/main/java/org/apache/druid/math/expr/ConstantExpr.java
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/ExprListenerImpl.java
  core/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  core/src/main/java/org/apache/druid/math/expr/ExprType.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  core/src/main/java/org/apache/druid/math/expr/IdentifierExpr.java
  core/src/main/java/org/apache/druid/math/expr/Parser.java
  core/src/main/java/org/apache/druid/math/expr/UnaryOperatorExpr.java
  core/src/test/java/org/apache/druid/math/expr/ExprTest.java
  core/src/test/java/org/apache/druid/math/expr/OutputTypeTest.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/expressions/BloomFilterExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/ContainsExpr.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressMatchExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressStringifyExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LikeExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LookupExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpLikeExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampCeilExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFloorExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFormatExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampShiftExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TrimExprMacro.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterCorrelations.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/RowBasedExpressionColumnValueSelector.java
  processing/src/test/java/org/apache/druid/query/expression/RegexpLikeExprMacroTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ReductionOperatorConversionHelper.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Projection.java
Labels: Refactoring

#10388 allow vectorized query engines to utilize vectorized virtual columns
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorSequenceBuilder.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/main/java/org/apache/druid/segment/vector/QueryableIndexVectorColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/segment/virtual/AlwaysTwoCounterAggregatorFactory.java
  processing/src/test/java/org/apache/druid/segment/virtual/AlwaysTwoVectorizedVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/virtual/VectorizedVirtualColumnTest.java
Labels: Area - Querying, Performance

#10338 Vectorized ANY aggregators
  docs/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/aggregation/any/DoubleAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/DoubleAnyVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/FloatAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/FloatAnyVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/LongAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/LongAnyVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/NumericAnyVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/NumericNilVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyVectorAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/DoubleAnyAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/DoubleAnyVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/FloatAnyAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/FloatAnyVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/LongAnyAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/LongAnyVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/NumericAnyVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/StringAnyAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/StringAnyVectorAggregatorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  website/.spelling
Labels: Area - Querying, Performance

#10397 Skip coverage check for tag builds
  .travis.yml
Labels: Area - Automation/Static Analysis

#10354 Integration tests and docs for auto compaction with different partitioning
  .travis.yml
  docs/configuration/index.md
  integration-tests/docker/environment-configs/historical
  integration-tests/docker/environment-configs/historical-for-query-retry-test
  integration-tests/docker/environment-configs/middlemanager
  integration-tests/src/test/java/org/apache/druid/tests/TestNGGroup.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  website/.spelling
Labels: Area - Documentation, Area - Testing

#10387 Support combining inputsource for parallel ingestion
  core/src/main/java/org/apache/druid/data/input/InputSource.java
  core/src/main/java/org/apache/druid/data/input/impl/CombiningInputSource.java
  core/src/test/java/org/apache/druid/data/input/impl/CombiningInputSourceTest.java
  docs/ingestion/native-batch.md
  examples/quickstart/tutorial/updates-append-index.json
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCombiningInputSourceParallelIndexTest.java
  integration-tests/src/test/resources/indexer/wikipedia_combining_input_source_index_parallel_task.json
Labels: Area - Batch Ingestion, Release Notes

#9832 Disable sending server version in response headers
  server/src/main/java/org/apache/druid/server/initialization/jetty/JettyServerModule.java
Labels: Area - Operations, Release Notes

#10280 recreate the balancer executor only when needed
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
Labels: Area - Segment Balancing/Coordination

#10390 Vectorized variance aggregators
  benchmarks/pom.xml
  benchmarks/src/test/java/org/apache/druid/benchmark/VarianceBenchmark.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorCollector.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorFactory.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceBufferAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceDoubleVectorAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceFloatVectorAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceLongVectorAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceObjectVectorAggregator.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorFactoryUnitTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceDoubleVectorAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceFloatVectorAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceGroupByQueryTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceLongVectorAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceObjectVectorAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceTimeseriesQueryTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
Labels: Area - Querying, Performance

#10373 Adding more dimensions to the audit log entry
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/audit/SQLAuditManager.java
  server/src/main/java/org/apache/druid/server/audit/SQLAuditManagerConfig.java
  server/src/test/java/org/apache/druid/server/audit/SQLAuditManagerTest.java
Labels: Area - Metrics/Event Emitting, Design Review, Release Notes

#10368 Adding the missing sqlQueryContext api
  server/src/main/java/org/apache/druid/server/log/DefaultRequestLogEvent.java
  server/src/test/java/org/apache/druid/server/log/DefaultRequestLogEventTest.java
Labels: Area - SQL, Design Review, Release Notes

#10010 Remove JODA Time Dependency from Avro Extensions
  extensions-core/avro-extensions/pom.xml
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputRowParserTest.java
Labels: Area - Dependencies, Improvement, stale

#10356 Avoid large limits causing int overflow in buffer size checks
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/LimitedBufferHashGrouper.java
Labels: Area - Querying, Bug

#10291 Upgrade ORC to 1.5.10 version
  distribution/bin/check-licenses.py
  extensions-core/druid-bloom-filter/pom.xml
  extensions-core/orc-extensions/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#10371 Auto-compaction snapshot status API
  server/src/main/java/org/apache/druid/server/coordinator/AutoCompactionSnapshot.java
  server/src/main/java/org/apache/druid/server/coordinator/CompactionStatistics.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactionSegmentIterator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/EmitClusterStatsAndMetrics.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/main/java/org/apache/druid/server/http/CompactionResource.java
  server/src/test/java/org/apache/druid/server/coordinator/AutoCompactionSnapshotTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/http/CompactionResourceTest.java
Labels: Design Review, Release Notes

#10405 Document change in results of groupBy queries with subtotalsSpec
  docs/querying/groupbyquery.md
Labels: Area - Documentation

#10406 Web console: fix lookup edit dialog, allow column renaming
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/dialogs/lookup-edit-dialog/lookup-edit-dialog.spec.tsx
  web-console/src/dialogs/lookup-edit-dialog/lookup-edit-dialog.tsx
  web-console/src/links.ts
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/query-view/query-output/column-rename-input/__snapshots__/column-rename-input.spec.tsx.snap
  web-console/src/views/query-view/query-output/column-rename-input/column-rename-input.spec.tsx
  web-console/src/views/query-view/query-output/column-rename-input/column-rename-input.tsx
  web-console/src/views/query-view/query-output/query-output.scss
  web-console/src/views/query-view/query-output/query-output.tsx
Labels: Area - Web Console, Bug

#10398 Issue fix for CSV loading with header and skip header not parsing well.
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/UriExtractionNamespace.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/namespace/UriExtractionNamespaceTest.java
Labels: Area - Lookups, Bug

#10416 Web console: add sort to tiers list
  web-console/src/views/lookups-view/__snapshots__/lookups-view.spec.tsx.snap
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/services-view/services-view.tsx
Labels: Area - Web Console

#10377 Include Sequence-building time in CPU time metric.
  processing/src/main/java/org/apache/druid/query/CPUTimeMetricQueryRunner.java
  processing/src/test/java/org/apache/druid/query/CPUTimeMetricQueryRunnerTest.java
Labels: Area - Metrics/Event Emitting, Release Notes

#10417 Web console: compaction dialog update
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-dialog/compaction-dialog.scss
  web-console/src/dialogs/compaction-dialog/compaction-dialog.spec.tsx
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/utils/ingestion-spec.tsx
Labels: Area - Web Console

#10413 Add last_compaction_state to sys.segments table
  core/src/main/java/org/apache/druid/timeline/DataSegment.java
  core/src/main/java/org/apache/druid/timeline/PruneLastCompactionState.java
  docs/querying/sql.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  integration-tests/src/test/resources/results/auth_test_sys_schema_segments.json
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  website/.spelling
Labels: Release Notes

#10422 add light weight version of /druid/coordinator/v1/lookups/nodeStatus
  docs/querying/lookups.md
  server/src/main/java/org/apache/druid/server/http/LookupCoordinatorResource.java
  server/src/test/java/org/apache/druid/server/http/LookupCoordinatorResourceTest.java
Labels: Area - Lookups, Design Review

#10431 Web console: better query view initial state
  web-console/src/views/query-view/query-view.scss
  web-console/src/views/query-view/query-view.tsx
Labels: Area - Web Console

#10288 Store hash partition function in dataSegment and allow segment pruning only when hash partition function is provided
  core/src/main/java/org/apache/druid/indexer/partitions/HashedPartitionsSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/BuildingHashBasedNumberedShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/BuildingShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/HashBasedNumberedPartialShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/HashBasedNumberedShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/HashBucketShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/HashPartitionFunction.java
  core/src/main/java/org/apache/druid/timeline/partition/HashPartitioner.java
  core/src/main/java/org/apache/druid/timeline/partition/LinearShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/NoneShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/NumberedOverwriteShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/NumberedShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/RangeBucketShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/ShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/SingleDimensionShardSpec.java
  core/src/test/java/org/apache/druid/timeline/DataSegmentTest.java
  core/src/test/java/org/apache/druid/timeline/partition/BuildingHashBasedNumberedShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/HashBasedNumberedPartialShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/HashBasedNumberedShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/HashBucketShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/NumberedOverwriteShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/NumberedShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/PartitionHolderCompletenessTest.java
  core/src/test/java/org/apache/druid/timeline/partition/SingleDimensionShardSpecTest.java
  docs/ingestion/hadoop.md
  docs/ingestion/index.md
  docs/ingestion/native-batch.md
  docs/querying/query-context.md
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorTest.java
  indexing-hadoop/pom.xml
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DetermineHashedPartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidDetermineConfigurationJob.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/BatchDeltaIngestionTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DetermineHashedPartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidDetermineConfigurationJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerConfigTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/IndexGeneratorJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/partitions/HashedPartitionsSpecTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/partition/HashPartitionAnalysis.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocateActionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ShardSpecsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/GenericPartitionStatTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTestingFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PerfectRollupWorkerTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
  integration-tests/src/test/java/org/apache/druid/tests/hadoop/ITHadoopIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITPerfectRollupParallelIndexTest.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/query/QueryContextsTest.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/SegmentPublisherHelperTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  website/.spelling
Labels: Area - Querying, Design Review, Release Notes

#10425 Web console autocompaction E2E test
  web-console/e2e-tests/auto-compaction.spec.ts
  web-console/e2e-tests/component/datasources/compaction.ts
  web-console/e2e-tests/component/datasources/overview.ts
  web-console/e2e-tests/tutorial-batch.spec.ts
  web-console/e2e-tests/util/druid.ts
  web-console/e2e-tests/util/setup.ts
  web-console/jest.e2e.config.js
Labels: Area - Testing, Area - Web Console

#10429 vectorize remaining math expressions
  core/src/main/java/org/apache/druid/math/expr/ExprType.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutDoubleInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutDoubleLongInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutDoublesInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutLongDoubleInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorMathProcessors.java
  core/src/test/java/org/apache/druid/math/expr/OutputTypeTest.java
  core/src/test/java/org/apache/druid/math/expr/VectorExprSanityTest.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/VectorizedVirtualColumnTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ReductionOperatorConversionHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
Labels: Area - Null Handling, Area - Querying, Bug, Performance

#10426 more timeout handling in JsonParserIterator
  server/src/main/java/org/apache/druid/client/JsonParserIterator.java
Labels: Area - Operations, Refactoring

#10435 add docs for kinesis lag metrics
  docs/development/extensions-core/kinesis-ingestion.md
  docs/operations/metrics.md
Labels: Area - Documentation

#10433 fix typo in docker/druid.sh
  distribution/docker/druid.sh
Labels: Bug

#10447 Add intent for web console IntervalInput
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/interval-input/__snapshots__/interval-input.spec.tsx.snap
  web-console/src/components/interval-input/interval-input.spec.tsx
  web-console/src/components/interval-input/interval-input.tsx
Labels: Area - Batch Ingestion, Area - Web Console, Bug

#10446 Compaction config UI optional numShards
  web-console/e2e-tests/auto-compaction.spec.ts
  web-console/e2e-tests/component/datasources/compaction.ts
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/utils/ingestion-spec.tsx
Labels: Area - Batch Ingestion, Area - Web Console

#10432 add vectorizeVirtualColumns query context parameter
  benchmarks/src/test/java/org/apache/druid/benchmark/FilteredAggregatorBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  docs/misc/math-expr.md
  docs/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryEngine.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregationTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/AlwaysTwoCounterAggregatorFactory.java
  processing/src/test/java/org/apache/druid/segment/virtual/AlwaysTwoVectorizedVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/virtual/VectorizedVirtualColumnTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
  website/.spelling
Labels: Area - Operations, Area - Querying

#10437 Remove Expr.visit.
  core/src/main/java/org/apache/druid/math/expr/BinaryOperatorExpr.java
  core/src/main/java/org/apache/druid/math/expr/ConstantExpr.java
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  core/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  core/src/main/java/org/apache/druid/math/expr/IdentifierExpr.java
  core/src/main/java/org/apache/druid/math/expr/UnaryOperatorExpr.java
  processing/src/main/java/org/apache/druid/query/expression/TrimExprMacro.java
Labels: Refactoring

#10438 Web console: Display compaction status
  web-console/src/components/json-input/json-input.tsx
  web-console/src/components/more-button/more-button.tsx
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/utils/compaction.spec.ts
  web-console/src/utils/compaction.ts
  web-console/src/utils/general.spec.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/index.tsx
  web-console/src/views/datasource-view/__snapshots__/datasource-view.spec.tsx.snap
  web-console/src/views/datasource-view/datasource-view.tsx
  web-console/src/views/query-view/query-input/query-input.tsx
Labels: Area - Web Console

#10379 Adding task slot count metrics to Druid Overlord
  docs/operations/metrics.md
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/PortFinder.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskMaster.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ThreadingTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TestTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  server/src/main/java/org/apache/druid/server/metrics/TaskSlotCountStatsMonitor.java
  server/src/main/java/org/apache/druid/server/metrics/TaskSlotCountStatsProvider.java
  server/src/test/java/org/apache/druid/server/metrics/TaskSlotCountStatsMonitorTest.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  website/.spelling
Labels: Area - Metrics/Event Emitting, Design Review, Release Notes

#10430 RowBasedIndexedTable: Add specialized index types for long keys.
  processing/src/main/java/org/apache/druid/segment/join/table/BroadcastSegmentIndexedTable.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTable.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcher.java
  processing/src/main/java/org/apache/druid/segment/join/table/MapIndex.java
  processing/src/main/java/org/apache/druid/segment/join/table/RowBasedIndexBuilder.java
  processing/src/main/java/org/apache/druid/segment/join/table/RowBasedIndexedTable.java
  processing/src/main/java/org/apache/druid/segment/join/table/UniqueLongArrayIndex.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcherTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/RowBasedIndexBuilderTest.java
Labels: Performance

#10440 vectorize constant expressions with optimized selectors
  processing/src/main/java/org/apache/druid/segment/vector/ConstantVectorSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionPlan.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
Labels: Area - Querying, Bug, Performance

#10454 Web console: switch to switches instead of checkboxes
  web-console/src/components/menu-checkbox/__snapshots__/menu-checkbox.spec.tsx.snap
  web-console/src/components/menu-checkbox/menu-checkbox.scss
  web-console/src/components/menu-checkbox/menu-checkbox.spec.tsx
  web-console/src/components/menu-checkbox/menu-checkbox.tsx
  web-console/src/components/show-log/__snapshots__/show-log.spec.tsx.snap
  web-console/src/components/show-log/show-log.scss
  web-console/src/components/show-log/show-log.tsx
  web-console/src/components/table-column-selector/table-column-selector.tsx
  web-console/src/components/warning-checklist/__snapshots__/warning-checklist.spec.tsx.snap
  web-console/src/components/warning-checklist/warning-checklist.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/query-view/run-button/run-button.tsx
Labels: Area - Web Console, Bug

#10457 [Backport] vectorize constant expressions with optimized selectors
  processing/src/main/java/org/apache/druid/segment/vector/ConstantVectorSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionPlan.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
Labels: Backport
