Repository apache/druid, pull requests merged in 2020-11, with the labels that each got.

#10535 Add support for domain allow/deny list for HTTPInputSource
  core/src/main/java/org/apache/druid/data/input/impl/HttpInputSource.java
  core/src/main/java/org/apache/druid/data/input/impl/HttpInputSourceConfig.java
  core/src/test/java/org/apache/druid/data/input/impl/HttpInputSourceTest.java
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/metadata/input/InputSourceModule.java
  server/src/test/java/org/apache/druid/metadata/input/InputSourceModuleTest.java
  website/.spelling
Labels: Area - Batch Ingestion

#10546 【isuue 10547】doc wrong description of configuration
  docs/configuration/index.md
Labels: Area - Documentation

#10549 Remove extra underscore from Middlemanager default worker category
  docs/configuration/index.md
Labels: Area - Documentation

#10464 Improved exception handling in case of query timeouts
  core/src/main/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequence.java
  core/src/main/java/org/apache/druid/query/QueryException.java
  core/src/main/java/org/apache/druid/query/QueryTimeoutException.java
  core/src/test/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequenceTest.java
  core/src/test/java/org/apache/druid/query/QueryTimeoutExceptionTest.java
  processing/src/main/java/org/apache/druid/query/ChainedExecutionQueryRunner.java
  processing/src/main/java/org/apache/druid/query/GroupByMergedQueryRunner.java
  processing/src/main/java/org/apache/druid/query/QueryInterruptedException.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/ConcurrentGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByMergingQueryRunnerV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/StreamingMergeSortedGrouper.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryEngine.java
  processing/src/test/java/org/apache/druid/query/ChainedExecutionQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/QueryInterruptedExceptionTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerFailureTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/ConcurrentGrouperTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/StreamingMergeSortedGrouperTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerTest.java
  server/src/main/java/org/apache/druid/client/DirectDruidClient.java
  server/src/main/java/org/apache/druid/client/JsonParserIterator.java
  server/src/main/java/org/apache/druid/server/QueryLifecycle.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/test/java/org/apache/druid/client/DirectDruidClientTest.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  sql/src/main/java/org/apache/druid/sql/SqlLifecycle.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Querying, Error handling, Release Notes

#10561 Clarify how ORDER BY works with UNION ALL
  docs/querying/sql.md
Labels: Area - Documentation

#10563 Bump jetty to latest version
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#10545 Add missing coordinator dynamic config to the web-console dialog for dynamic coordinator config
  web-console/src/dialogs/coordinator-dynamic-config-dialog/__snapshots__/coordinator-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/coordinator-dynamic-config-dialog/coordinator-dynamic-config-dialog.tsx
Labels: Area - Web Console

#10564 Run integration test queries once
  integration-tests/src/main/java/org/apache/druid/testing/utils/AbstractTestQueryHelper.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITRealtimeIndexTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractStreamIndexingTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAppendBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITNestedQueryPushDownTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITBroadcastJoinQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITSystemTableQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITTwitterQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITUnionQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITWikipediaQueryTest.java
Labels: Area - Testing

#10526 Add helm shield
  README.md
Labels: Area - Documentation, Helm Chart

#10573 modify access to protected SQLMetadataConnector methods
  extensions-contrib/sqlserver-metadata-storage/src/main/java/org/apache/druid/metadata/storage/sqlserver/SQLServerConnector.java
  extensions-core/mysql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/mysql/MySQLConnector.java
  extensions-core/postgresql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/postgresql/PostgreSQLConnector.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/main/java/org/apache/druid/metadata/storage/derby/DerbyConnector.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataConnectorTest.java
Labels: Area - Extension, Area - Metadata

#10554 Add missing docs for timeout exceptions
  docs/querying/querying.md
Labels: Area - Documentation

#10383 Fix ingestion failure of pretty-formatted JSON message
  core/src/main/java/org/apache/druid/data/input/InputRowListPlusRawValues.java
  core/src/main/java/org/apache/druid/data/input/IntermediateRowParsingReader.java
  core/src/main/java/org/apache/druid/data/input/impl/DelimitedValueReader.java
  core/src/main/java/org/apache/druid/data/input/impl/JsonInputFormat.java
  core/src/main/java/org/apache/druid/data/input/impl/JsonLineReader.java
  core/src/main/java/org/apache/druid/data/input/impl/JsonReader.java
  core/src/main/java/org/apache/druid/data/input/impl/RegexReader.java
  core/src/test/java/org/apache/druid/data/input/impl/JsonLineReaderTest.java
  core/src/test/java/org/apache/druid/data/input/impl/JsonReaderTest.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroOCFReader.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcReader.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/ParquetReader.java
  indexing-service/pom.xml
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentReader.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/InputSourceSampler.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerInputRow.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SettableByteEntityReader.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/StreamChunkParserTest.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/transform/Transformer.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexTest.java
  processing/src/test/java/org/apache/druid/segment/transform/TransformerTest.java
  server/src/main/java/org/apache/druid/metadata/input/SqlReader.java
  server/src/test/java/org/apache/druid/metadata/input/SqlInputSourceTest.java
Labels: Area - Streaming Ingestion, Bug

#10562 Add TravisCI job that builds and tests on ARM64 CPU architecture
  .travis.yml
Labels: Area - Testing

#9785 Ensure Krb auth before killing YARN apps in graceful shutdown of hadoop batch index tasks
  indexing-hadoop/src/main/java/org/apache/druid/indexer/JobHelper.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
Labels: Area - Batch Ingestion

#10581 Web console: Double confirm before permanently delete unused segments
  web-console/src/views/datasource-view/datasource-view.tsx
Labels: Area - Web Console

#10339 Security overview documentation
  docs/assets/security-model-1.png
  docs/assets/security-model-2.png
  docs/development/extensions-core/druid-basic-security.md
  docs/operations/auth-ldap.md
  docs/operations/password-provider.md
  docs/operations/security-overview.md
  docs/operations/security-user-auth.md
  docs/operations/tls-support.md
  docs/querying/sql.md
  website/.spelling
  website/i18n/en.json
  website/sidebars.json
Labels: Area - Documentation

#10591 druid-docker-image: add DRUID_DIRS_TO_CREATE variable to customize directories created on startup
  distribution/docker/druid.sh
Labels: Area - Operations

#10567 Introduce query/timeout/count metric
  docs/operations/metrics.md
  extensions-contrib/opentsdb-emitter/src/main/resources/defaultMetrics.json
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  server/src/main/java/org/apache/druid/server/AsyncQueryForwardingServlet.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/main/java/org/apache/druid/server/metrics/QueryCountStatsMonitor.java
  server/src/main/java/org/apache/druid/server/metrics/QueryCountStatsProvider.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  server/src/test/java/org/apache/druid/server/metrics/QueryCountStatsMonitorTest.java
Labels: Area - Metrics/Event Emitting, Design Review, Incompatible, Release Notes

#10536 Update google client libraries
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#10592 Allow missing intervals for Parallel task with hash/range partitioning
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SurrogateTaskActionClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/OverlordCoordinatingSegmentAllocator.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexIngestionSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialHashSegmentGenerateParallelIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialHashSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialRangeSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PerfectRollupWorkerTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/DimensionCardinalityReportTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialGenericSegmentMergeTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialHashSegmentGenerateTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PerfectRollupWorkerTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
Labels: Area - Batch Ingestion, Bug

#10603 Add new coordinator metrics for coordinator duty runtimes
  docs/operations/metrics.md
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorStats.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/EmitClusterStatsAndMetrics.java
  server/src/test/java/org/apache/druid/server/coordinator/CoordinatorStatsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
Labels: Area - Metrics/Event Emitting, Design Review
