Repository apache/druid, pull requests merged in 2020-02, with the labels that each got.

#9282 Fix timestamp_format expr outside UTC timeZone.
  processing/src/main/java/org/apache/druid/query/expression/TimestampFormatExprMacro.java
Labels: Bug

#9295 Make JoinableFactoryModule tests look at all the actual mappings.
  server/src/main/java/org/apache/druid/guice/JoinableFactoryModule.java
  server/src/test/java/org/apache/druid/guice/JoinableFactoryModuleTest.java
Labels: Area - Testing

#9296 Allow HdfsDataSegmentKiller to be instantiated without storageDirectory set.
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsDataSegmentKiller.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/storage/hdfs/HdfsDataSegmentKillerTest.java
Labels: Area - Extension, Bug

#9294 SQL join support for lookups.
  benchmarks/src/main/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  benchmarks/src/main/java/org/apache/druid/benchmark/query/SqlVsNativeBenchmark.java
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
  processing/src/main/java/org/apache/druid/segment/join/MapJoinableFactory.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Rules.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidJoinQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidOuterQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidRels.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Projection.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/VirtualColumnRegistry.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidRules.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/LookupSchema.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/http/SqlResourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitesTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/rel/DruidRelsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/rule/DruidJoinRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - SQL

#9265 Improve code quality and unit test coverage of the Azure extension
  extensions-contrib/azure-extensions/pom.xml
  extensions-contrib/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureDataSegmentPusher.java
  extensions-contrib/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorage.java
  extensions-contrib/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorageDruidModule.java
  extensions-contrib/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentKillerTest.java
  extensions-contrib/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentPullerTest.java
  extensions-contrib/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentPusherTest.java
  extensions-contrib/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageDruidModuleTest.java
  extensions-contrib/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureTaskLogsTest.java
Labels: Area - Extension

#9309 remove log.info from FixedBucketsHistogramAggregator aggregate method
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramSerde.java
Labels: Performance

#9307 Get larger batch of input files when using native batch with google cloud
  extensions-core/google-extensions/src/main/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSource.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSourceTest.java
Labels: Area - Batch Indexing

#9288 Make docs on reset supervisor operation scarier
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation

#9253 Web console: make supervisor reset really scary in the UI
  web-console/src/components/warning-checklist/__snapshots__/warning-checklist.spec.tsx.snap
  web-console/src/components/warning-checklist/warning-checklist.spec.tsx
  web-console/src/components/warning-checklist/warning-checklist.tsx
  web-console/src/dialogs/async-action-dialog/async-action-dialog.tsx
  web-console/src/views/ingestion-view/ingestion-view.tsx
Labels: Area - Web Console

#9278 Speed up joins on indexed tables with string keys
  processing/src/main/java/org/apache/druid/segment/ConstantDimensionSelector.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcher.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcherTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinableTest.java
Labels: Area - Querying, Performance

#9308 Add MemoryOpenHashTable, a table similar to ByteBufferHashTable.
  benchmarks/pom.xml
  benchmarks/src/main/java/org/apache/druid/benchmark/MemoryBenchmark.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/Groupers.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/collection/HashTableUtils.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/collection/MemoryOpenHashTable.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/collection/HashTableUtilsTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/collection/MemoryOpenHashTableTest.java
Labels: Area - Querying, Performance

#9310 Remove EasyMock dependency from CalciteTests.
  server/src/main/java/org/apache/druid/discovery/DruidLeaderClient.java
  sql/pom.xml
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Testing

#9269 use the latest datasketches-java-1.2.0-incubating
  licenses.yaml
Labels: Area - Dependencies, Area - Extension, Improvement

#9224 Create new dynamic config to pause coordinator helpers when needed
  docs/configuration/index.md
  integration-tests/src/main/java/org/apache/druid/testing/clients/CoordinatorResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITBestEffortRollupParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITIndexerTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITPerfectRollupParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITTestCoordinatorPausedTest.java
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/test/java/org/apache/druid/server/coordinator/RunRulesTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
Labels: Area - Segment Balancing/Coordination

#9314 Add HashVectorGrouper based on MemoryOpenHashTable.
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/BufferArrayGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/BufferHashGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/ByteBufferKeySerde.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/Groupers.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/HashVectorGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/VectorGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/DoubleGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/FloatGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/GroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/LongGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/SingleValueStringGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
Labels: Area - Querying, Performance

#9330 Allow overriding default JoinableFactory in SpecificSegmentsQuerySegmentWalker
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Querying, Area - Testing

#9165 Forbid easily misused HashSet and HashMap constructors
  benchmarks/src/main/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  benchmarks/src/main/java/org/apache/druid/timeline/VersionedIntervalTimelineBenchmark.java
  codestyle/druid-forbidden-apis.txt
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  core/src/main/java/org/apache/druid/utils/CollectionUtils.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/InlineSchemasAvroBytesDecoder.java
  extensions-core/kafka-extraction-namespace/src/test/java/org/apache/druid/query/lookup/KafkaLookupExtractorFactoryTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexPhaseRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSourceTest.java
  pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/query/groupby/having/HavingSpecUtil.java
  processing/src/main/java/org/apache/druid/query/topn/TopNBinaryFn.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcher.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/main/java/org/apache/druid/server/http/RouterResource.java
Labels: Area - Automation/Static Analysis

#9320 fix protobuf extension packaging and docs
  docs/development/extensions-core/protobuf.md
  examples/quickstart/protobuf/pb_publisher.py
  extensions-core/protobuf-extensions/pom.xml
Labels: Area - Documentation, Area - Extension, Bug

#9301 Join filter pushdown initial implementation
  processing/src/main/java/org/apache/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/filter/AndFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/BoundFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/main/java/org/apache/druid/segment/filter/InFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/SelectorFilter.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/Joinable.java
  processing/src/main/java/org/apache/druid/segment/join/filter/AllNullColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterColumnCorrelationAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterSplit.java
  processing/src/main/java/org/apache/druid/segment/join/lookup/LookupJoinable.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinable.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/filter/AndFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BoundFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/InFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/OrFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/SelectorFilterTest.java
  processing/src/test/java/org/apache/druid/segment/join/BaseHashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/RowBasedIndexedTableTest.java
  processing/src/test/resources/wikipedia/countries.json
  processing/src/test/resources/wikipedia/data.json
  processing/src/test/resources/wikipedia/regions.json
Labels: Area - Querying

#9312 Logging large segment list handling
  core/src/main/java/org/apache/druid/data/input/impl/AbstractTextFilesFirehoseFactory.java
  core/src/main/java/org/apache/druid/java/util/common/logger/Logger.java
  core/src/main/java/org/apache/druid/segment/SegmentUtils.java
  core/src/main/java/org/apache/druid/timeline/SegmentId.java
  core/src/test/java/org/apache/druid/java/util/common/logger/LoggerTest.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/BasicAuthUtils.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/CommonCacheNotifier.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleDataSegmentKiller.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentMover.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/hadoop/DatasourceIngestionSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IndexTaskClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/LocalTaskActionClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocateAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/ArchiveTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/InputSourceProcessor.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RestoreTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/firehose/IngestSegmentFirehoseFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/WorkerTaskManager.java
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/DruidServer.java
  server/src/main/java/org/apache/druid/indexing/overlord/SegmentPublishResult.java
  server/src/main/java/org/apache/druid/query/lookup/LookupReferencesManager.java
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManager.java
  server/src/main/java/org/apache/druid/segment/loading/StorageLocation.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SegmentsAndCommitMetadata.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/RealtimePlumber.java
  server/src/main/java/org/apache/druid/server/coordinator/CuratorLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/BalanceSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/EmitClusterStatsAndMetrics.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/LoadRule.java
  server/src/main/java/org/apache/druid/server/router/QueryHostFinder.java
  server/src/main/java/org/apache/druid/server/router/TieredBrokerHostSelector.java
  server/src/main/java/org/apache/druid/server/security/PreResponseAuthorizationCheckFilter.java
  server/src/main/java/org/apache/druid/server/security/SecuritySanityCheckFilter.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriverFailTest.java
Labels: Area - Operations

#9266 More superbatch range partitioning tests
  core/src/main/java/org/apache/druid/common/config/NullValueHandlingConfig.java
  indexing-service/pom.xml
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
Labels: Area - Batch Indexing, Area - Testing

#9258 Add Pig-specific file handling to Avro parser
  docs/ingestion/data-formats.md
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/AvroHadoopInputRowParser.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/AvroStreamInputRowParser.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroFlattenerMaker.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroParsers.java
  extensions-core/avro-extensions/src/test/avro/some-datum.avsc
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroHadoopInputRowParserTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputRowParserTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/AvroFlattenerMakerTest.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/avro/ParquetAvroHadoopInputRowParser.java
  website/.spelling
Labels: Area - Batch Indexing

#9344 Fix MySQL connector library Maven Central URL
  docs/development/extensions-core/mysql.md
Labels: Area - Documentation

#9340 Change security vulnerability scan to cron job
  .travis.yml
  pom.xml
Labels: Area - Dev, Security

#9335 Add query context option to disable join filter push down
  benchmarks/src/main/java/org/apache/druid/benchmark/JoinAndLookupBenchmark.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegment.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/Joinables.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinablesTest.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Querying

#9325 Use ExecutorService instead of ScheduledExecutorService where necessary
  .idea/inspectionProfiles/Druid.xml
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/CommonCacheNotifier.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
Labels: Area - Automation/Static Analysis

#9076 variance aggregator support for double columns
  docs/development/extensions-core/stats.md
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorCollector.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorFactory.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceBufferAggregator.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/sql/BaseVarianceSqlAggregator.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
Labels: Improvement

#9317 ANY Aggregator should not skip null values implementation
  docs/querying/aggregations.md
  docs/querying/sql.md
  processing/src/main/java/org/apache/druid/query/aggregation/any/DoubleAnyAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/DoubleAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/DoubleAnyBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/FloatAnyAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/FloatAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/FloatAnyBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/LongAnyAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/LongAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/LongAnyBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/NumericAnyAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/NumericAnyBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyBufferAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/DoubleAnyAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/FloatAnyAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/LongAnyAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/StringAnyAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/StringAnyBufferAggregatorTest.java
  server/src/main/java/org/apache/druid/server/QueryLifecycle.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Null Handling, Area - Querying

#9249 Integration tests for JDK 11
  .travis.yml
  integration-tests/common_run_cluster.sh
  integration-tests/docker-base/README.md
  integration-tests/docker-base/jdk11/Dockerfile
  integration-tests/docker-base/jdk8/Dockerfile
  integration-tests/docker-base/setup.sh
  integration-tests/docker/Dockerfile
  integration-tests/docker/kafka.conf
  integration-tests/docker/middlemanager.conf
  integration-tests/docker/router-custom-check-tls.conf
  integration-tests/docker/router-no-client-auth-tls.conf
  integration-tests/docker/router-permissive-tls.conf
  integration-tests/docker/supervisord.conf
  integration-tests/pom.xml
  integration-tests/run_cluster.sh
  integration-tests/run_cluster_using_java_runtime_11.sh
  integration-tests/run_cluster_using_java_runtime_8.sh
Labels: Area - Testing, Compatibility

#9354 Fix basic auth polling to skip retries when cachedSerializedGroupMappingMap returns 404
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authorization/db/cache/CoordinatorPollingBasicAuthorizerCacheManager.java
Labels: Area - Extension, Bug, Compatibility, Security

#9318 Add unit tests for CoordinatorRuleManager
  server/src/main/java/org/apache/druid/server/coordinator/rules/ForeverLoadRule.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/IntervalDropRule.java
  server/src/main/java/org/apache/druid/server/router/CoordinatorRuleManager.java
  server/src/main/java/org/apache/druid/server/router/TieredBrokerConfig.java
  server/src/test/java/org/apache/druid/server/router/CoordinatorRuleManagerTest.java
Labels: Area - Testing

#9361 Update web-console dependencies
  web-console/package-lock.json
  web-console/package.json
Labels: Area - Web Console, Security

#9262 add docker tutorial, friendlier docker-compose.yml, experimental java 11 dockerfile
  distribution/docker/Dockerfile.java11
  distribution/docker/README.md
  distribution/docker/docker-compose.yml
  distribution/docker/environment
  docs/tutorials/docker.md
  website/i18n/en.json
  website/sidebars.json
Labels: Area - Documentation, Ease of Use

#9365 Fix compatibility issues with SqlFirehose
  server/src/main/java/org/apache/druid/segment/realtime/firehose/PrefetchSqlFirehoseFactory.java
  server/src/main/java/org/apache/druid/segment/realtime/firehose/SqlFirehoseFactory.java
Labels: Bug

#9366 Remove references to Docker Machine
  integration-tests/README.md
Labels: Area - Documentation, Area - Testing

#9324 Fix failing Calcite unit tests with existing work-a-round for calcite property setup
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidCalciteSchemaModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/NamedDruidSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/NamedLookupSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/NamedSystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/RootSchemaProviderTest.java
Labels: Area - Testing, Development Blocker

#9362 Fix handling for columns that appear multiple times in join conditions
  processing/src/main/java/org/apache/druid/segment/ColumnProcessors.java
  processing/src/main/java/org/apache/druid/segment/join/JoinConditionAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterColumnCorrelationAnalysis.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/RowBasedIndexedTableTest.java
  processing/src/test/resources/wikipedia/countries.json
  processing/src/test/resources/wikipedia/data.json
  processing/src/test/resources/wikipedia/regions.json
Labels: Area - Querying, Area - SQL, Bug

#9179 Run IntelliJ inspections on Travis
  .idea/scopes/JavaInspectionsScope.xml
  .travis.yml
  core/src/main/java/org/apache/druid/common/guava/ThreadRenamingCallable.java
  core/src/main/java/org/apache/druid/data/input/IntermediateRowParsingReader.java
  extensions-contrib/influxdb-emitter/src/main/java/org/apache/druid/emitter/influxdb/InfluxdbEmitter.java
  extensions-contrib/influxdb-emitter/src/test/java/org/apache/druid/emitter/influxdb/InfluxdbEmitterConfigTest.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/averagers/DoubleSumAveragerTest.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/DecimalParquetInputTest.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/GroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/segment/data/ColumnarDoubles.java
  processing/src/main/java/org/apache/druid/segment/data/ColumnarFloats.java
  processing/src/main/java/org/apache/druid/segment/data/ColumnarLongs.java
  processing/src/test/java/org/apache/druid/query/aggregation/StringColumnAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregationTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerTest.java
  server/src/test/java/org/apache/druid/client/cache/CaffeineCacheTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerEmptyTest.java
  server/src/test/java/org/apache/druid/server/RequestLogLineTest.java
Labels: Area - Automation/Static Analysis, Area - Dev

#9376 Make java version check work on all shells
  examples/bin/java-util
  examples/bin/verify-java
Labels: Compatibility, Ease of Use

#9373 Fix join filter push down post-join virtual column handling
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
Labels: Area - Querying, Bug

#9372 Add config option for namespacePrefix
  docs/development/extensions-contrib/opentsdb-emitter.md
  extensions-contrib/opentsdb-emitter/src/main/java/org/apache/druid/emitter/opentsdb/EventConverter.java
  extensions-contrib/opentsdb-emitter/src/main/java/org/apache/druid/emitter/opentsdb/OpentsdbEmitter.java
  extensions-contrib/opentsdb-emitter/src/main/java/org/apache/druid/emitter/opentsdb/OpentsdbEmitterConfig.java
  extensions-contrib/opentsdb-emitter/src/test/java/org/apache/druid/emitter/opentsdb/EventConverterTest.java
  extensions-contrib/opentsdb-emitter/src/test/java/org/apache/druid/emitter/opentsdb/OpentsdbEmitterConfigTest.java
  website/.spelling
Labels: Area - Metrics/Event Emitting

#9379 Suppress CVE-2020-8840 for htrace-core-4.0.1
  owasp-dependency-check-suppressions.xml
Labels: Security

#9385 Enable druid.coordinator.kill.pendingSegments.on by default
  core/src/main/java/org/apache/druid/guice/ConditionalMultibind.java
  docs/configuration/index.md
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Area - Segment Balancing/Coordination, Design Review, Release Notes

#9367 string -> expression -> string -> expression
  core/src/main/antlr4/org/apache/druid/math/expr/antlr/Expr.g4
  core/src/main/java/org/apache/druid/java/util/common/Numbers.java
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/ExprListenerImpl.java
  core/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  core/src/main/java/org/apache/druid/math/expr/Parser.java
  core/src/test/java/org/apache/druid/java/util/common/NumbersTest.java
  core/src/test/java/org/apache/druid/math/expr/ApplyFunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  docs/misc/math-expr.md
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/expressions/BloomFilterExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressMatchExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressStringifyExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LikeExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LookupExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampCeilExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFloorExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFormatExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampShiftExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TrimExprMacro.java
  processing/src/test/java/org/apache/druid/query/expression/IPv4AddressMatchExprMacroTest.java
  server/src/test/java/org/apache/druid/query/expression/ExprMacroTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/IPv4AddressMatchOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/IPv4AddressParseOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/IPv4AddressStringifyOperatorConversion.java
Labels: Area - Querying, Design Review, Release Notes

#9381 Bump Apache Avro to 1.9.2
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#9399 Add common optional dependencies for extensions
  docs/development/extensions-core/druid-lookups.md
  docs/development/extensions-core/lookups-cached-global.md
  extensions-core/hdfs-storage/pom.xml
  extensions-core/lookups-cached-global/pom.xml
  extensions-core/lookups-cached-single/pom.xml
  extensions-core/postgresql-metadata-storage/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Dependencies, Area - Extension, Ease of Use, Release Notes

#9400 Update to documentation on coordinator kill tasks
  docs/configuration/index.md
Labels: Area - Documentation, Ease of Use

#9387 Improves on the fix for 8918
  integration-tests/src/main/java/org/apache/druid/testing/clients/EventReceiverFirehoseTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/HttpUtil.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITRealtimeIndexTaskTest.java
Labels: Flaky test

#9394 Move Azure extension into Core
  distribution/bin/check-licenses.py
  distribution/pom.xml
  docs/development/extensions-core/azure.md
  docs/development/extensions.md
  docs/ingestion/native-batch.md
  extensions-core/azure-extensions/pom.xml
  extensions-core/azure-extensions/src/main/java/org/apache/druid/data/input/azure/AzureEntity.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/data/input/azure/AzureEntityFactory.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/data/input/azure/AzureInputSource.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/firehose/azure/AzureBlob.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/firehose/azure/StaticAzureBlobStoreFirehoseFactory.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureAccountConfig.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureByteSource.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureByteSourceFactory.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureCloudBlobHolderToCloudObjectLocationConverter.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureCloudBlobIterable.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureCloudBlobIterableFactory.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureCloudBlobIterator.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureCloudBlobIteratorFactory.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureDataSegmentConfig.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureDataSegmentKiller.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureDataSegmentPuller.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureDataSegmentPusher.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureInputDataConfig.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureLoadSpec.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorage.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorageDruidModule.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureTaskLogs.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureTaskLogsConfig.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureUtils.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/ICloudSpecificObjectToCloudObjectLocationConverter.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/blob/CloudBlobHolder.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/blob/ListBlobItemHolder.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/blob/ListBlobItemHolderFactory.java
  extensions-core/azure-extensions/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureEntityTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureInputSourceSerdeTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureInputSourceTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/firehose/azure/StaticAzureBlobStoreFirehoseFactoryTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureByteSourceTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureCloudBlobHolderToCloudObjectLocationConverterTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureCloudBlobIteratorTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentKillerTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentPullerTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentPusherTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageDruidModuleTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureTaskLogsTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureTestUtils.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureUtilsTest.java
  licenses.yaml
  pom.xml
  website/.spelling
  website/i18n/en.json
  website/redirects.json
  website/sidebars.json
Labels: Area - Extension, Release Notes

#9384 Add join prefix duplicate/shadowing check
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegment.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/Joinables.java
  processing/src/test/java/org/apache/druid/segment/join/JoinablesTest.java
Labels: Area - Querying

#9375 Add support for optional aws credentials for s3 for ingestion
  docs/development/extensions-core/s3.md
  docs/ingestion/native-batch.md
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSource.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSourceConfig.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3StorageDruidModule.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/ServerSideEncryptingAmazonS3.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/TestAWSCredentialsProvider.java
  website/.spelling
Labels: Area - Batch Ingestion, Area - Extension

#9122 Add SQL GROUPING SETS support.
  docs/querying/sql.md
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Rules.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Grouping.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Subtotals.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/ProjectAggregatePruneUnusedCallRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/rel/GroupingTest.java
Labels: Area - Querying, Area - SQL, Release Notes

#9396 fix cursor position after function autocomplete
  web-console/src/views/query-view/query-input/query-input.tsx
Labels: Area - Web Console, Bug

#9142 #8690 use utc interval when create pending segments
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocateAction.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocateActionTest.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
Labels: Area - Streaming Ingestion, Bug

#9405 Remove druid incubating references
  owasp-dependency-check-suppressions.xml
Labels: Area - Dev

#9424 Clarify InputSource.isSplittable usage.
  core/src/main/java/org/apache/druid/data/input/InputSource.java
  core/src/main/java/org/apache/druid/data/input/impl/TimedShutoffInputSource.java
  core/src/test/java/org/apache/druid/data/input/impl/TimedShutoffInputSourceTest.java
Labels: Area - Documentation

#9423 Add javadocs for enableFilterPushDown.
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegment.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/Joinables.java
Labels: Area - Documentation

#9334 Web console: Column counter
  web-console/src/components/table-column-selector/__snapshots__/table-column-selector.spec.tsx.snap
  web-console/src/components/table-column-selector/table-column-selector.scss
  web-console/src/components/table-column-selector/table-column-selector.spec.tsx
  web-console/src/components/table-column-selector/table-column-selector.tsx
Labels: Area - Web Console

#9280 CacheStrategy: Improve Javadocs.
  processing/src/main/java/org/apache/druid/query/CacheStrategy.java
Labels: Area - Documentation

#9435 BufferArrayGrouper: Fix potential overflow in requiredBufferCapacity.
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/BufferArrayGrouper.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/BufferArrayGrouperTest.java
Labels: Bug
