Repository apache/druid, pull requests merged in 2020-03, with the labels that each got.

#9437 Add Azure ingestion flow to web console
  web-console/assets/azure.png
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#9450 Skip empty files for local, hdfs, and cloud input sources
  core/src/main/java/org/apache/druid/data/input/InputEntity.java
  core/src/main/java/org/apache/druid/data/input/MaxSizeSplitHintSpec.java
  core/src/main/java/org/apache/druid/data/input/impl/InlineInputSource.java
  core/src/main/java/org/apache/druid/data/input/impl/LocalInputSource.java
  core/src/test/java/org/apache/druid/data/input/MaxSizeSplitHintSpecTest.java
  core/src/test/java/org/apache/druid/data/input/impl/LocalInputSourceTest.java
  docs/ingestion/native-batch.md
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureCloudBlobIterator.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureInputSourceTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureCloudBlobIteratorTest.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSource.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleUtils.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/ObjectStorageIterator.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/ObjectStorageIteratorTest.java
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/inputsource/hdfs/HdfsInputSource.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/ObjectSummaryIterator.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/ObjectSummaryIteratorTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3TimestampVersionedDataFinderTest.java
Labels: Area - Batch Ingestion

#9448 Fix superbatch merge last partition boundaries
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskTest.java
Labels: Area - Batch Ingestion, Bug

#9462 Open the licenses.yaml with an explicit encoding
  distribution/bin/check-licenses.py
Labels: Area - Dev

#9454 Add OnHeapMemorySegmentWriteOutMediumFactory
  docs/configuration/index.md
  processing/src/main/java/org/apache/druid/segment/writeout/OnHeapMemorySegmentWriteOutMediumFactory.java
  processing/src/main/java/org/apache/druid/segment/writeout/SegmentWriteOutMediumFactory.java
Labels: Area - Batch Ingestion, Area - Streaming Ingestion

#9425 allow optimization of single multi-value column input expr with repeated identifier
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/SingleStringInputDimensionSelector.java
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVirtualColumnTest.java
Labels: Area - Querying, Performance

#9476 Resource leak in DruidSegmentReader
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentReader.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidSegmentReaderTest.java
Labels: Bug

#9481 remove ServerDiscoverySelector from DruidLeaderClient
  server/src/main/java/org/apache/druid/discovery/DruidLeaderClient.java
  server/src/main/java/org/apache/druid/guice/CoordinatorDiscoveryModule.java
  server/src/main/java/org/apache/druid/guice/IndexingServiceDiscoveryModule.java
  server/src/test/java/org/apache/druid/discovery/DruidLeaderClientTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Zookeeper/Curator

#9474 Add disabled run button during loading state
  web-console/src/views/query-view/__snapshots__/query-view.spec.tsx.snap
  web-console/src/views/query-view/query-view.tsx
  web-console/src/views/query-view/run-button/__snapshots__/run-button.spec.tsx.snap
  web-console/src/views/query-view/run-button/run-button.spec.tsx
  web-console/src/views/query-view/run-button/run-button.tsx
Labels: Area - Web Console

#9470 Fix popover direction
  web-console/src/components/form-group-with-info/form-group-with-info.tsx
Labels: Area - Web Console

#9472 Add option to control join filter rewrites
  benchmarks/src/test/java/org/apache/druid/benchmark/JoinAndLookupBenchmark.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegment.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/Joinables.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinablesTest.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Querying

#9429 fix issue when distinct grouping dimensions are optimized into the same virtual column expression
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregator.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/DimensionExpression.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Area - SQL, Bug

#9439 add password provider reference to s3 optional cred docs
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#9471 Fix history dialog overflow
  web-console/src/dialogs/history-dialog/__snapshots__/history-dialog.spec.tsx.snap
  web-console/src/dialogs/history-dialog/history-dialog.tsx
Labels: Area - Web Console

#9468 Fix maxRowsPerSegment tool tip
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
Labels: Area - Web Console

#9473 Integration test cluster supports override config
  integration-tests/common_run_cluster.sh
  integration-tests/docker/Dockerfile
  integration-tests/docker/broker.conf
  integration-tests/docker/coordinator.conf
  integration-tests/docker/druid.sh
  integration-tests/docker/environment-configs/broker
  integration-tests/docker/environment-configs/common
  integration-tests/docker/environment-configs/coordinator
  integration-tests/docker/environment-configs/historical
  integration-tests/docker/environment-configs/middlemanager
  integration-tests/docker/environment-configs/overlord
  integration-tests/docker/environment-configs/router
  integration-tests/docker/environment-configs/router-custom-check-tls
  integration-tests/docker/environment-configs/router-no-client-auth-tls
  integration-tests/docker/environment-configs/router-permissive-tls
  integration-tests/docker/historical.conf
  integration-tests/docker/middlemanager.conf
  integration-tests/docker/overlord.conf
  integration-tests/docker/router-custom-check-tls.conf
  integration-tests/docker/router-no-client-auth-tls.conf
  integration-tests/docker/router-permissive-tls.conf
  integration-tests/docker/router.conf
  integration-tests/docker/service-supervisords/druid.conf
  integration-tests/docker/service-supervisords/kafka.conf
  integration-tests/docker/service-supervisords/metadata-storage.conf
  integration-tests/docker/service-supervisords/zookeeper.conf
  integration-tests/pom.xml
  integration-tests/run_cluster.sh
  integration-tests/run_cluster_using_java_runtime_11.sh
  integration-tests/run_cluster_using_java_runtime_8.sh
  pom.xml
Labels: Area - Testing, Refactoring

#9487 Convert array_contains() and array_overlaps() into native filters if possible
  benchmarks/src/test/java/org/apache/druid/benchmark/ExpressionFilterBenchmark.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  docs/querying/filters.md
  processing/src/main/java/org/apache/druid/segment/filter/InFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/InFilterTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/AliasedOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/BaseExpressionDimFilterOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Performance

#9407 query laning and load shedding
  benchmarks/src/test/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  distribution/bin/check-licenses.py
  docs/configuration/index.md
  docs/querying/query-context.md
  docs/querying/querying.md
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  licenses.yaml
  pom.xml
  processing/src/main/java/org/apache/druid/query/ChainedExecutionQueryRunner.java
  processing/src/main/java/org/apache/druid/query/GroupByMergedQueryRunner.java
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/QueryException.java
  processing/src/main/java/org/apache/druid/query/QueryInterruptedException.java
  processing/src/main/java/org/apache/druid/query/QueryWatcher.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByMergingQueryRunnerV2.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryRunnerFactory.java
  processing/src/test/java/org/apache/druid/query/ChainedExecutionQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownInsufficientBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByMultiSegmentTest.java
  server/pom.xml
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/DirectDruidClient.java
  server/src/main/java/org/apache/druid/client/SegmentServerSelector.java
  server/src/main/java/org/apache/druid/guice/QueryRunnerFactoryModule.java
  server/src/main/java/org/apache/druid/server/BrokerQueryResource.java
  server/src/main/java/org/apache/druid/server/QueryCapacityExceededException.java
  server/src/main/java/org/apache/druid/server/QueryLaningStrategy.java
  server/src/main/java/org/apache/druid/server/QueryManager.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/main/java/org/apache/druid/server/QueryScheduler.java
  server/src/main/java/org/apache/druid/server/QuerySchedulerConfig.java
  server/src/main/java/org/apache/druid/server/QuerySchedulerProvider.java
  server/src/main/java/org/apache/druid/server/scheduling/HiLoQueryLaningStrategy.java
  server/src/main/java/org/apache/druid/server/scheduling/NoQueryLaningStrategy.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientFunctionalityTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
  server/src/test/java/org/apache/druid/server/scheduling/HiLoQueryLaningStrategyTest.java
  server/src/test/java/org/apache/druid/server/scheduling/NoQueryLaningStrategyTest.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
  website/.spelling
Labels: Area - Operations, Area - Querying, Design Review, Release Notes

#9484 Harmonization and bug-fixing for selector and filter behavior on unknown types.
  core/src/main/java/org/apache/druid/data/input/MapBasedRow.java
  core/src/main/java/org/apache/druid/data/input/Rows.java
  extensions-contrib/momentsketch/src/test/java/org/apache/druid/query/aggregation/momentsketch/aggregator/MomentsSketchAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregationTest.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramFoldingSerde.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramSerde.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/InputRowSerdeTest.java
  processing/src/main/java/org/apache/druid/query/filter/DoubleValueMatcherColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/filter/FloatValueMatcherColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/filter/InDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/LongValueMatcherColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/filter/SelectorDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/SelectorPredicateFactory.java
  processing/src/main/java/org/apache/druid/query/filter/StringValueMatcherColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/filter/ValueGetter.java
  processing/src/main/java/org/apache/druid/query/filter/ValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/ValueMatcherColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/filter/ValueMatcherColumnSelectorStrategyFactory.java
  processing/src/main/java/org/apache/druid/query/filter/vector/SingleValueStringVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/segment/ColumnProcessorFactory.java
  processing/src/main/java/org/apache/druid/segment/ColumnProcessors.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  processing/src/main/java/org/apache/druid/segment/RowAdapters.java
  processing/src/main/java/org/apache/druid/segment/RowBasedColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilities.java
  processing/src/main/java/org/apache/druid/segment/filter/ColumnComparisonFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/ConstantValueMatcherFactory.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/main/java/org/apache/druid/segment/filter/PredicateValueMatcherFactory.java
  processing/src/main/java/org/apache/druid/segment/filter/ValueMatchers.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/join/lookup/LookupJoinMatcher.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcher.java
  processing/src/main/java/org/apache/druid/segment/transform/Transformer.java
  processing/src/main/java/org/apache/druid/segment/virtual/RowBasedExpressionColumnValueSelector.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ExpressionFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/SelectorFilterTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinTestHelper.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcherTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVirtualColumnTest.java
Labels: Area - Querying, Release Notes

#9489 Suppress CVEs for htrace-core4 and openstack-swift
  owasp-dependency-check-suppressions.xml
Labels: Area - Automation/Static Analysis, Security

#9480 remove old unused zookeeper dependent lookups code
  docs/querying/lookups.md
  server/src/main/java/org/apache/druid/query/lookup/LookupListeningAnnouncerConfig.java
  server/src/main/java/org/apache/druid/query/lookup/LookupModule.java
  server/src/main/java/org/apache/druid/query/lookup/LookupResourceListenerAnnouncer.java
  server/src/main/java/org/apache/druid/server/listener/announcer/ListenerResourceAnnouncer.java
  server/src/main/java/org/apache/druid/server/listener/announcer/ListeningAnnouncerConfig.java
  server/src/main/java/org/apache/druid/server/listener/resource/AbstractListenerHandler.java
  server/src/main/java/org/apache/druid/server/listener/resource/ListenerResource.java
  server/src/test/java/org/apache/druid/server/listener/announcer/ListenerResourceAnnouncerTest.java
  server/src/test/java/org/apache/druid/server/listener/resource/AbstractListenerHandlerTest.java
  server/src/test/java/org/apache/druid/server/listener/resource/ListenerResourceTest.java
Labels: Area - Lookups

#9459 Ability to Delete task logs and segments from S3
  core/src/main/java/org/apache/druid/common/utils/CurrentTimeMillisSupplier.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentKiller.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3StorageDruidModule.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3TaskLogs.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3TaskLogsConfig.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/ServerSideEncryptingAmazonS3.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentKillerTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3TaskLogsTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3TestUtils.java
Labels: Area - Deep Storage, Area - Operations

#9441 Improve OvershadowableManager performance
  benchmarks/src/test/java/org/apache/druid/timeline/VersionedIntervalTimelineBenchmark.java
  core/src/main/java/org/apache/druid/timeline/VersionedIntervalTimeline.java
  core/src/main/java/org/apache/druid/timeline/partition/AtomicUpdateGroup.java
  core/src/main/java/org/apache/druid/timeline/partition/ImmutablePartitionHolder.java
  core/src/main/java/org/apache/druid/timeline/partition/OvershadowableManager.java
  core/src/main/java/org/apache/druid/timeline/partition/PartitionHolder.java
  core/src/test/java/org/apache/druid/timeline/VersionedIntervalTimelineSpecificDataTest.java
  core/src/test/java/org/apache/druid/timeline/VersionedIntervalTimelineTest.java
  core/src/test/java/org/apache/druid/timeline/VersionedIntervalTimelineTestBase.java
  core/src/test/java/org/apache/druid/timeline/partition/AtomicUpdateGroupTest.java
  core/src/test/java/org/apache/druid/timeline/partition/OvershadowableManagerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  server/src/main/java/org/apache/druid/client/DataSourcesSnapshot.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
Labels: Performance

#9502 Ability to directly query row-based datasources.
  processing/src/main/java/org/apache/druid/query/lookup/LookupSegment.java
  processing/src/main/java/org/apache/druid/segment/RowBasedColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/RowBasedCursor.java
  processing/src/main/java/org/apache/druid/segment/RowBasedSegment.java
  processing/src/main/java/org/apache/druid/segment/RowBasedStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/RowWalker.java
  processing/src/test/java/org/apache/druid/query/lookup/LookupSegmentTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
  processing/src/test/java/org/apache/druid/segment/RowBasedStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
Labels: Area - Querying

#9491 Integration test compile with Java 8 and run with Java 8 and 11
  .travis.yml
Labels: Area - Testing

#9455 Modify check java version script to indicate experimental support for Java 11
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  examples/bin/verify-java
Labels: Compatibility

#9503 Link up row-based datasources to serving layer.
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  integration-tests/src/test/resources/queries/wikipedia_editstream_queries.json
  processing/src/main/java/org/apache/druid/query/FluentQueryRunnerBuilder.java
  processing/src/main/java/org/apache/druid/query/InlineDataSource.java
  processing/src/main/java/org/apache/druid/query/LookupDataSource.java
  processing/src/main/java/org/apache/druid/segment/SegmentWrangler.java
  processing/src/main/java/org/apache/druid/segment/join/JoinableFactory.java
  processing/src/test/java/org/apache/druid/query/InlineDataSourceTest.java
  processing/src/test/java/org/apache/druid/query/LookupDataSourceTest.java
  processing/src/test/java/org/apache/druid/query/planning/DataSourceAnalysisTest.java
  server/src/main/java/org/apache/druid/guice/DruidBinders.java
  server/src/main/java/org/apache/druid/guice/SegmentWranglerModule.java
  server/src/main/java/org/apache/druid/segment/InlineSegmentWrangler.java
  server/src/main/java/org/apache/druid/segment/LookupSegmentWrangler.java
  server/src/main/java/org/apache/druid/segment/MapSegmentWrangler.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/segment/InlineSegmentWranglerTest.java
  server/src/test/java/org/apache/druid/segment/LookupSegmentWranglerTest.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Querying

#9490 Fix NPE when using IndexedTable and all left rows are filtered out
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcher.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
Labels: Area - Querying, Bug

#9510 fix worker category on Indexer node
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
Labels: Bug

#9477 Web console: standardize the spec format
  web-console/src/dialogs/doctor-dialog/doctor-checks.tsx
  web-console/src/utils/__snapshots__/ingestion-spec.spec.ts.snap
  web-console/src/utils/druid-type.ts
  web-console/src/utils/ingestion-spec.spec.ts
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/utils/sampler.ts
  web-console/src/utils/utils.spec.ts
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#9488 Match GREATEST/LEAST function behavior to other DBs
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  docs/misc/math-expr.md
  docs/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/GreatestSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/LeastSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/GreatestOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/LeastOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ReductionOperatorConversionHelper.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/GreatestExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/LeastExpressionTest.java
Labels: Area - Querying

#9500 Web console: update druid-query-toolkit to version 0.4.x
  web-console/package-lock.json
  web-console/package.json
  web-console/src/views/query-view/column-tree/column-tree-menu/number-menu-items/number-menu-items.tsx
  web-console/src/views/query-view/column-tree/column-tree-menu/string-menu-items/string-menu-items.tsx
  web-console/src/views/query-view/column-tree/column-tree-menu/time-menu-items/time-menu-items.tsx
  web-console/src/views/query-view/column-tree/column-tree.tsx
  web-console/src/views/query-view/query-output/__snapshots__/query-output.spec.tsx.snap
  web-console/src/views/query-view/query-output/query-output.tsx
Labels: Area - Web Console

#9517 Suppress CWE-400 for node-sass:4.13.1
  owasp-dependency-check-suppressions.xml
Labels: Area - Automation/Static Analysis, Security

#9514 Update to mysql connector 5.1.48
  distribution/docker/Dockerfile.mysql
  docs/development/extensions-core/mysql.md
  extensions-core/mysql-metadata-storage/pom.xml
  extensions-core/mysql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/mysql/MySQLConnector.java
  pom.xml
Labels: Area - Dependencies, Area - Extension

#9499 Web console: add config control for the query context
  web-console/src/console-application.tsx
  web-console/src/entry.ts
  web-console/src/views/query-view/query-view.tsx
Labels: Area - Web Console

#9509 add kinesis lag metric
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorReportPayload.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorReportPayload.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorReportPayload.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/TaskReportData.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Metrics/Event Emitting, Area - Operations, Area - Streaming Ingestion, Release Notes

#9516 More efficient join filter rewrites
  benchmarks/src/test/java/org/apache/druid/benchmark/JoinAndLookupBenchmark.java
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQuery.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQuery.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQuery.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegment.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/Joinable.java
  processing/src/main/java/org/apache/druid/segment/join/Joinables.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterColumnCorrelationAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterPreAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/lookup/LookupJoinable.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinable.java
  processing/src/test/java/org/apache/druid/segment/join/BaseHashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinablesTest.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Querying, Improvement

#9533 Broker: Add ability to inline subqueries.
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlVsNativeBenchmark.java
  extensions-contrib/materialized-view-selection/pom.xml
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/MaterializedViewQuery.java
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
  integration-tests/src/test/resources/queries/wikipedia_editstream_queries.json
  processing/src/main/java/org/apache/druid/query/BaseQuery.java
  processing/src/main/java/org/apache/druid/query/DefaultQueryMetrics.java
  processing/src/main/java/org/apache/druid/query/FluentQueryRunnerBuilder.java
  processing/src/main/java/org/apache/druid/query/InlineDataSource.java
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/QueryMetrics.java
  processing/src/main/java/org/apache/druid/query/search/DefaultSearchQueryMetrics.java
  processing/src/main/java/org/apache/druid/query/select/SelectQuery.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQuery.java
  processing/src/main/java/org/apache/druid/segment/ColumnProcessors.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilitiesImpl.java
  processing/src/main/java/org/apache/druid/segment/join/MapJoinableFactory.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcher.java
  processing/src/main/java/org/apache/druid/segment/join/table/RowBasedIndexedTable.java
  processing/src/test/java/org/apache/druid/query/InlineDataSourceTest.java
  processing/src/test/java/org/apache/druid/query/planning/DataSourceAnalysisTest.java
  processing/src/test/java/org/apache/druid/segment/RowBasedStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinableTest.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/initialization/ServerConfig.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/CliIndexerServerModule.java
  server/src/test/java/org/apache/druid/initialization/ServerConfigSerdeTest.java
  server/src/test/java/org/apache/druid/segment/InlineSegmentWranglerTest.java
  server/src/test/java/org/apache/druid/segment/join/InlineJoinableFactoryTest.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaNoDataInitTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Querying

#9432 Web console: expose props for S3
  web-console/src/components/auto-form/__snapshots__/auto-form.spec.tsx.snap
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/suggestible-input/suggestible-input.tsx
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#9523 Ability to Delete task logs and segments from Azure Storage
  extensions-core/azure-extensions/pom.xml
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureDataSegmentKiller.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureTaskLogs.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureUtils.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/blob/CloudBlobHolder.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentKillerTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureTaskLogsTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureTestUtils.java
Labels: Area - Deep Storage, Area - Operations, Release Notes

#9519 Ability to Delete task logs and segments from Google Storage
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleDataSegmentKiller.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleTaskLogs.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleUtils.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleDataSegmentKillerTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleTaskLogsTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleTestUtils.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3TaskLogs.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
Labels: Area - Deep Storage, Area - Operations, Release Notes

#9534 fix issue where total limit was being applied even when not configured
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/QueryScheduler.java
  server/src/main/java/org/apache/druid/server/scheduling/ManualQueryLaningStrategy.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
  server/src/test/java/org/apache/druid/server/scheduling/ManualQueryLaningStrategyTest.java
Labels: Area - Querying, Bug

#9535 Fix UnsupportedOperationException when sorting segments in auto compaction
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
Labels: Bug

#9525 Azure deep storage does not work with datasource name containing non-ASCII chars
  extensions-core/azure-extensions/pom.xml
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureDataSegmentPusher.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentPusherTest.java
Labels: Area - Deep Storage, Bug

#9542 Add integration tests for HDFS
  .travis.yml
  integration-tests/README.md
  integration-tests/docker/environment-configs/common
  integration-tests/docker/environment-configs/override-examples/hdfs
  integration-tests/pom.xml
  integration-tests/run_cluster.sh
  integration-tests/src/test/java/org/apache/druid/tests/TestNGGroup.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractAzureInputSourceSimpleIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractGcsInputSourceSimpleIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractHdfsInputSourceSimpleIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractS3InputSourceSimpleIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAzureToAzureParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAzureToHdfsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITGcsToGcsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITGcsToHdfsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITHdfsToAzureSimpleIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITHdfsToGcsSimpleIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITHdfsToHdfsSimpleIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITHdfsToS3SimpleIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITS3ToHdfsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITS3ToS3ParallelIndexTest.java
  integration-tests/src/test/resources/indexer/wikipedia_cloud_simple_index_task.json
Labels: Area - Testing

#9545 SQL support for joins on subqueries.
  docs/configuration/index.md
  docs/querying/sql.md
  processing/src/main/java/org/apache/druid/query/InlineDataSource.java
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/segment/RowBasedColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/query/lookup/LookupSegmentTest.java
  processing/src/test/java/org/apache/druid/segment/RowBasedStorageAdapterTest.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Rules.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/CostEstimates.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidJoinQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidOuterQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidSemiJoin.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidUnionRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Projection.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidSemiJoinRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - SQL, Release Notes

#9537 fix broken links
  dev/intellij-setup.md
  docs/development/build.md
  docs/development/extensions-contrib/moving-average-query.md
  extensions-contrib/README.md
  extensions-contrib/moving-average-query/README.md
  website/i18n/en.json
Labels: Area - Documentation

#9536 Web console: Clean up spec before reopening in data loader
  web-console/src/utils/ingestion-spec.spec.ts
  web-console/src/utils/ingestion-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console, Bug

#8992 druid extension for OpenID Connect auth using pac4j lib
  core/src/main/java/org/apache/druid/crypto/CryptoService.java
  core/src/test/java/org/apache/druid/crypto/CryptoServiceTest.java
  distribution/bin/check-licenses.py
  distribution/pom.xml
  docs/development/extensions-core/druid-pac4j.md
  docs/development/extensions.md
  extensions-core/druid-pac4j/pom.xml
  extensions-core/druid-pac4j/src/main/java/org/apache/druid/security/pac4j/OIDCConfig.java
  extensions-core/druid-pac4j/src/main/java/org/apache/druid/security/pac4j/Pac4jAuthenticator.java
  extensions-core/druid-pac4j/src/main/java/org/apache/druid/security/pac4j/Pac4jCallbackResource.java
  extensions-core/druid-pac4j/src/main/java/org/apache/druid/security/pac4j/Pac4jDruidModule.java
  extensions-core/druid-pac4j/src/main/java/org/apache/druid/security/pac4j/Pac4jFilter.java
  extensions-core/druid-pac4j/src/main/java/org/apache/druid/security/pac4j/Pac4jSessionStore.java
  extensions-core/druid-pac4j/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-core/druid-pac4j/src/test/java/org/apache/druid/security/pac4j/Pac4jSessionStoreTest.java
  licenses.yaml
  pom.xml
  server/src/main/java/org/apache/druid/server/security/AuthenticationOnlyResourceFilter.java
  server/src/main/java/org/apache/druid/server/security/AuthenticationUtils.java
  services/src/main/java/org/apache/druid/cli/WebConsoleJettyServerInitializer.java
  website/.spelling
Labels: Area - Extension, Feature, Release Notes, Security

#9548 roaring bitmaps by default
  docs/design/index.md
  docs/design/segments.md
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kinesis-ingestion.md
  docs/ingestion/index.md
  docs/ingestion/native-batch.md
  docs/operations/dump-segment.md
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  processing/src/main/java/org/apache/druid/segment/IndexSpec.java
  processing/src/main/java/org/apache/druid/segment/data/BitmapSerde.java
  processing/src/main/java/org/apache/druid/segment/data/RoaringBitmapSerdeFactory.java
  processing/src/test/java/org/apache/druid/segment/data/BitmapSerdeFactoryTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  web-console/src/utils/ingestion-spec.tsx
Labels: Area - Segment Format and Ser/De, Release Notes

#9547 modify QueryCapacityExceededException to provide better messaging
  integration-tests/src/test/java/org/apache/druid/tests/query/ITWikipediaQueryTest.java
  server/src/main/java/org/apache/druid/server/QueryCapacityExceededException.java
  server/src/main/java/org/apache/druid/server/QueryScheduler.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Querying, Ease of Use

#9550 Change backtick(``) and fix broken links.
  dev/intellij-setup.md
  dev/teamcity.md
Labels: Area - Dev, Area - Documentation

#9553 fix Hadoop ingestion fails due to error 'JavaScript is disabled' on certain config
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DetermineHashedPartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/IndexGeneratorJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/JobHelper.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/JobHelperTest.java
Labels: Bug

#9529 Update docker.md readme to note memory requirements
  docs/tutorials/docker.md
Labels: Area - Documentation, Ease of Use

#9549 Add view values to lookup actions menu
  web-console/src/components/lookup-values-table/__snapshots__/lookup-values-table.spec.tsx.snap
  web-console/src/components/lookup-values-table/lookup-values-table.scss
  web-console/src/components/lookup-values-table/lookup-values-table.spec.tsx
  web-console/src/components/lookup-values-table/lookup-values-table.tsx
  web-console/src/dialogs/lookup-table-action-dialog/__snapshots__/lookup-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/lookup-table-action-dialog/lookup-table-action-dialog.spec.tsx
  web-console/src/dialogs/lookup-table-action-dialog/lookup-table-action-dialog.tsx
  web-console/src/views/lookups-view/lookups-view.tsx
Labels: Area - Web Console

#9552 S3 ingestion spec should not uses the default credentials provider chain when environment value password provider is misconfigured.
  .travis.yml
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSourceConfig.java
  integration-tests/pom.xml
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/TestNGGroup.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractAzureInputSourceParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractGcsInputSourceParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractS3InputSourceParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAzureToAzureParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAzureToHdfsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITGcsToGcsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITGcsToHdfsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITS3OverrideCredentialsIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITS3ToHdfsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITS3ToS3ParallelIndexTest.java
  integration-tests/src/test/resources/indexer/wikipedia_override_credentials_index_task.json
Labels: Bug

#9558 [Backport] S3 ingestion spec should not uses the default credentials provider chain when environment value password provider is misconfigured.
  .travis.yml
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSourceConfig.java
  integration-tests/pom.xml
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/TestNGGroup.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractAzureInputSourceParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractGcsInputSourceParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractS3InputSourceParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAzureToAzureParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAzureToHdfsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITGcsToGcsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITGcsToHdfsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITS3OverrideCredentialsIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITS3ToHdfsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITS3ToS3ParallelIndexTest.java
  integration-tests/src/test/resources/indexer/wikipedia_override_credentials_index_task.json
Labels: Backport

#9566 [0.18.0] DruidSegmentReader should work if timestamp is specified as a dimension (#9530)
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentReader.java
  integration-tests/README.md
  integration-tests/quickstart-it.json
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITIndexerTest.java
  integration-tests/src/test/resources/indexer/wikipedia_reindex_druid_input_source_task.json
  integration-tests/src/test/resources/indexer/wikipedia_with_timestamp_index_task.json
Labels: Backport

#9560 Instructions to run integration tests against quickstart
  integration-tests/README.md
  integration-tests/src/test/java/org/apache/druid/tests/TestNGGroup.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITIndexerTest.java
Labels: Area - Dev, Ease of Use

#9570 fix nullhandling exceptions related to test ordering
  extensions-core/hdfs-storage/pom.xml
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSourceTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessTestFullTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessTestSimpleTest.java
Labels: Area - Testing, Flaky test

#9575 [backport] fix nullhandling exceptions related to test ordering (#9570)
  extensions-core/hdfs-storage/pom.xml
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSourceTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessTestFullTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessTestSimpleTest.java
Labels: Backport

#9568 fix MAX_INTERMEDIATE_SIZE for DoubleMeanHolder
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanHolder.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregatorFactoryTest.java
Labels: Bug

#9574 Fix HDFS input source split
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/inputsource/hdfs/HdfsInputSource.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceTest.java
Labels: Area - Batch Ingestion, Bug

#9563 add lane enforcement for joinish queries
  benchmarks/src/test/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  extensions-contrib/moving-average-query/pom.xml
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  server/src/main/java/org/apache/druid/client/SegmentServerSelector.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/QueryScheduler.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientFunctionalityTest.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/ObservableQueryScheduler.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Querying, Bug

#9584 [Backport] Fix HDFS input source split (#9574)
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/inputsource/hdfs/HdfsInputSource.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceTest.java
Labels: Backport

#9578 Fix Build: remove commons-lang3 usage from DoubleMeanAggregatorFactoryTest
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanHolder.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregatorFactoryTest.java
Labels: Bug

#9585 [Backport] add lane enforcement for joinish queries
  benchmarks/src/test/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  extensions-contrib/moving-average-query/pom.xml
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  server/src/main/java/org/apache/druid/client/SegmentServerSelector.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/QueryScheduler.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientFunctionalityTest.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/ObservableQueryScheduler.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Backport

#9577 [Backport]fix MAX_INTERMEDIATE_SIZE for DoubleMeanHolder (#9568)
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanHolder.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregatorFactoryTest.java
Labels: Backport
