Repository apache/druid, pull requests merged in 2020-12, with the labels that each got.

#10616 Fix doc about search query
  docs/querying/searchquery.md
Labels: Area - Documentation

#10608 [Improve Doc] : Modify the disadvantages of the lazyLoadOnStart feature.
  docs/configuration/index.md
Labels: Area - Documentation

#10578 Add context dimension to DefaultQueryMetrics
  processing/src/main/java/org/apache/druid/query/DefaultQueryMetrics.java
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
  processing/src/main/java/org/apache/druid/query/QueryMetrics.java
  processing/src/main/java/org/apache/druid/query/search/DefaultSearchQueryMetrics.java
  processing/src/test/java/org/apache/druid/query/DefaultQueryMetricsTest.java
  processing/src/test/java/org/apache/druid/query/groupby/DefaultGroupByQueryMetricsTest.java
  processing/src/test/java/org/apache/druid/query/search/DefaultSearchQueryMetricsTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/DefaultTimeseriesQueryMetricsTest.java
  processing/src/test/java/org/apache/druid/query/topn/DefaultTopNQueryMetricsTest.java
Labels: Area - Metrics/Event Emitting, Design Review, Release Notes

#10319 Fix hadoop fs iterator to handle empty terminal directories
  indexing-hadoop/src/main/java/org/apache/druid/indexer/hadoop/FSSpideringIterator.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/hadoop/FSSpideringIteratorTest.java
Labels: Area - Batch Ingestion, Bug

#10599 Revert "Update google client libraries (#10536)"
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#10277 make dimension column extensible with COMPLEX type
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerProvider.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnBuilder.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilities.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilitiesImpl.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexMetricSerde.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
  processing/src/test/java/org/apache/druid/segment/DimensionHandlerUtilsTest.java
  processing/src/test/java/org/apache/druid/segment/TestIndex.java
  processing/src/test/java/org/apache/druid/segment/column/ColumnBuilderTest.java
  processing/src/test/java/org/apache/druid/segment/serde/LargeColumnSupportedComplexColumnSerializerTest.java
Labels: Area - Extension

#10620 Add an integration test for HTTP inputSource
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITHttpInputSourceTest.java
  integration-tests/src/test/resources/indexer/wikipedia_http_inputsource_queries.json
  integration-tests/src/test/resources/indexer/wikipedia_http_inputsource_task.json
Labels: Area - Batch Ingestion, Area - Testing

#10551 Remove hard limitation that druid(after 0.15.0) only can consume Kafka version 0.11.x or better
  docs/development/extensions-core/kafka-ingestion.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaConsumerConfigs.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
Labels: Area - Dependencies, Area - Streaming Ingestion

#10478 Move common configurations to TuningConfig
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorSpec.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopTuningConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/IndexGeneratorJob.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopTuningConfigTest.java
  server/src/main/java/org/apache/druid/segment/indexing/TuningConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorConfig.java
Labels: Refactoring

#10623 Fix string byte calculation in StringDimensionIndexer
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexRowSizeTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorTest.java
Labels: Area - Batch Ingestion, Area - Streaming Ingestion, Ease of Use

#10645 Two fixes related to encoding of % symbols.
  core/src/main/java/org/apache/druid/java/util/common/StringUtils.java
  core/src/test/java/org/apache/druid/java/util/common/StringUtilsTest.java
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/CommonCacheNotifier.java
  extensions-core/kafka-extraction-namespace/src/main/java/org/apache/druid/query/lookup/KafkaLookupExtractorFactory.java
  extensions-core/lookups-cached-single/src/main/java/org/apache/druid/server/lookup/PollingLookup.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IndexTaskClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/TaskMonitor.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/security/TaskResourceFilter.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  integration-tests/pom.xml
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidLeaderSelector.java
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidStatement.java
Labels: Bug

#10648 Speed up integration tests in two ways.
  integration-tests/docker/environment-configs/coordinator
  integration-tests/src/main/java/org/apache/druid/testing/utils/AbstractTestQueryHelper.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/StreamGenerator.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/SyntheticStreamGenerator.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITRealtimeIndexTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractStreamIndexingTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITUnionQueryTest.java
Labels: Area - Testing

#10518 Add grouping_id function
  docs/querying/aggregations.md
  docs/querying/groupbyquery.md
  docs/querying/sql.md
  processing/src/main/java/org/apache/druid/jackson/AggregatorsModule.java
  processing/src/main/java/org/apache/druid/query/aggregation/AggregatorUtil.java
  processing/src/main/java/org/apache/druid/query/aggregation/GroupingAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/constant/LongConstantAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/constant/LongConstantBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/constant/LongConstantVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByRowProcessor.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/test/java/org/apache/druid/query/aggregation/GroupingAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/constant/LongConstantAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/constant/LongConstantBufferAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/constant/LongConstantVectorAggregatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/GroupingSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Design Review, Release Notes

#10646 DruidInputSource: Sort segments by ID before grouping into splits.
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
Labels: Performance

#10363 fix injection failure of StorageLocationSelectorStrategy objects
  docs/configuration/index.md
  licenses.yaml
  server/pom.xml
  server/src/main/java/org/apache/druid/guice/StorageNodeModule.java
  server/src/main/java/org/apache/druid/segment/loading/LeastBytesUsedStorageLocationSelectorStrategy.java
  server/src/main/java/org/apache/druid/segment/loading/MostAvailableSizeStorageLocationSelectorStrategy.java
  server/src/main/java/org/apache/druid/segment/loading/RandomStorageLocationSelectorStrategy.java
  server/src/main/java/org/apache/druid/segment/loading/RoundRobinStorageLocationSelectorStrategy.java
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderConfig.java
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManager.java
  server/src/main/java/org/apache/druid/segment/loading/StorageLocationSelectorStrategy.java
  server/src/test/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManagerTest.java
  server/src/test/java/org/apache/druid/segment/loading/StorageLocationSelectorStrategyTest.java
Labels: Area - Segment Balancing/Coordination, Bug, Design Review

#10638 Integration tests: update base image for hadoop containers to centos:7
  examples/quickstart/tutorial/hadoop/docker/Dockerfile
  examples/quickstart/tutorial/hadoop/docker/bootstrap.sh
  integration-tests/script/docker_build_containers.sh
Labels: Area - Testing

#10654 Fix links in the grouping function doc
  docs/querying/groupbyquery.md
  docs/querying/sql.md
Labels: Area - Documentation

#10656 Clarify split hint spec behavior
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#10655 Bump up jackson-databind to 2.10.5.1
  licenses.yaml
  pom.xml
Labels: Area - Dependencies, Security

#10658 document DynamicConfigProvider for kafka consumer properties
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/modules.md
  docs/operations/dynamic-config-provider.md
  website/.spelling
Labels: Area - Documentation

#10659 IdUtils: Forbid characters that cannot be used in znodes.
  core/src/main/java/org/apache/druid/common/utils/IdUtils.java
  core/src/test/java/org/apache/druid/common/utils/IdUtilsTest.java
Labels: Area - Zookeeper/Curator

#10660 fix DruidSchema incorrectly listing tables with no segments
  integration-tests/src/test/java/org/apache/druid/tests/query/ITBroadcastJoinQueryTest.java
  integration-tests/src/test/resources/queries/broadcast_join_after_drop_metadata_queries.json
  integration-tests/src/test/resources/queries/broadcast_join_metadata_queries.json
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
Labels: Area - SQL, Bug

#10544 kubernetes based discovery druid extension to run Druid on K8S without Zookeeper
  core/src/main/java/org/apache/druid/annotations/SuppressFBWarnings.java
  distribution/bin/check-licenses.py
  distribution/pom.xml
  docs/development/extensions-core/kubernetes.md
  docs/operations/kubernetes.md
  extensions-core/kubernetes-extensions/pom.xml
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/DefaultK8sApiClient.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/DefaultK8sLeaderElectorFactory.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/DiscoveryDruidNodeAndResourceVersion.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/DiscoveryDruidNodeList.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sApiClient.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sDiscoveryConfig.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sDiscoveryModule.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sDruidLeaderSelector.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sDruidNodeAnnouncer.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sDruidNodeDiscoveryProvider.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sLeaderElectorFactory.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/LeaderElectorAsyncWrapper.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/PodInfo.java
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/WatchResult.java
  extensions-core/kubernetes-extensions/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sAnnouncerAndDiscoveryIntTest.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sDiscoveryConfigTest.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sDruidLeaderElectionIntTest.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sDruidLeaderSelectorTest.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sDruidNodeAnnouncerTest.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sDruidNodeDiscoveryProviderTest.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/NoopServiceEmitter.java
  licenses.yaml
  pom.xml
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/discovery/BaseNodeRoleWatcher.java
  server/src/main/java/org/apache/druid/discovery/DruidLeaderSelector.java
  server/src/test/java/org/apache/druid/discovery/BaseNodeRoleWatcherTest.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
  website/.spelling
Labels: Area - Extension, Area - Zookeeper/Curator, Release Notes

#10671 Fix copy_hadoop_resources script in IT
  integration-tests/script/copy_hadoop_resources.sh
Labels: Area - Testing

#10669 Do Integrate test for Druid base on K8s cluster
  .travis.yml
  distribution/docker/DockerfileBuildTarAdvanced
  integration-tests/k8s_run_config_file.json
  integration-tests/script/build_run_k8s_cluster.sh
  integration-tests/script/stop_k8s_cluster.sh
  integration-tests/tiny-cluster-zk.yaml
  integration-tests/tiny-cluster.yaml
Labels: Area - Testing

#10653 Fix post-aggregator computation when used with subtotals
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Bug

#10664 CompressionUtils: Read the entire stream when unzipping from a stream.
  core/src/main/java/org/apache/druid/java/util/common/FileUtils.java
  core/src/main/java/org/apache/druid/utils/CompressionUtils.java
  core/src/test/java/org/apache/druid/java/util/common/CompressionUtilsTest.java
Labels: Bug

#10692 Fix Kinesis Integration tests
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITKinesisIndexingServiceSerializedTest.java
  integration-tests/src/test/java/org/apache/druid/tests/parallelized/ITKinesisIndexingServiceParallelizedTest.java
Labels: Area - Testing

#10428 allow server selection to be aware of query
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/selector/AbstractTierSelectorStrategy.java
  server/src/main/java/org/apache/druid/client/selector/ConnectionCountServerSelectorStrategy.java
  server/src/main/java/org/apache/druid/client/selector/RandomServerSelectorStrategy.java
  server/src/main/java/org/apache/druid/client/selector/ServerSelector.java
  server/src/main/java/org/apache/druid/client/selector/ServerSelectorStrategy.java
  server/src/main/java/org/apache/druid/client/selector/TierSelectorStrategy.java
  server/src/test/java/org/apache/druid/client/BrokerServerViewTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientCacheKeyManagerTest.java
  server/src/test/java/org/apache/druid/client/DirectDruidClientTest.java
  server/src/test/java/org/apache/druid/client/selector/TierSelectorStrategyTest.java
Labels: Area - Querying, Design Review

#10694 fix integration test override config
  integration-tests/script/docker_run_cluster.sh
  integration-tests/stop_cluster.sh
Labels: Area - Testing, Bug

#10696 Fix kinesis integration test
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/ITRetryUtil.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractStreamIndexingTest.java
  integration-tests/src/test/resources/stream/data/supervisor_spec_template.json
Labels: Area - Testing

#10284 Add dynamic coordinator config that allows control over how many segments are considered when picking a segment to move.
  docs/configuration/index.md
  docs/operations/basic-cluster-tuning.md
  server/src/main/java/org/apache/druid/server/coordinator/BalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/CostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/RandomBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/ReservoirSegmentSampler.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/BalanceSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/ReservoirSegmentSamplerTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  web-console/src/dialogs/coordinator-dynamic-config-dialog/__snapshots__/coordinator-dynamic-config-dialog.spec.tsx.snap
  web-console/src/druid-models/coordinator-dynamic-config.tsx
Labels: Area - Segment Balancing/Coordination, Release Notes

#10701 Update Apache Kafka to 2.7.0
  NOTICE
  docs/tutorials/tutorial-kafka.md
  extensions-core/kafka-extraction-namespace/pom.xml
  extensions-core/kafka-indexing-service/pom.xml
  integration-tests/docker-base/setup.sh
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#10629 update syntax for golbal cached uri lookups
  docs/development/extensions-core/lookups-cached-global.md
Labels: Area - Documentation, Area - Lookups

#10708 fix NPE when calling TaskLocation.hashCode with null host
  core/src/main/java/org/apache/druid/indexer/TaskLocation.java
  core/src/test/java/org/apache/druid/indexer/TaskLocationTest.java
Labels: Bug

#10667 Make some additions to IT suite to make Hadoop related testing more understandable
  integration-tests/README.md
  integration-tests/pom.xml
  integration-tests/script/docker_build_containers.sh
  integration-tests/src/test/resources/hadoop/batch_hadoop_queries.json
Labels: Area - Documentation, Area - Testing
