Repository apache/druid, pull requests merged in 2021-05, with the labels that each got.

#11183 Vectorize the DataSketches quantiles aggregator.
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchOperations.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/NoopDoublesSketchBufferAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
Labels: Area - Querying, Performance

#11134 Reduce visibility of Tranquility documentation
  docs/design/architecture.md
  docs/ingestion/index.md
  docs/ingestion/standalone-realtime.md
  docs/ingestion/tasks.md
  docs/ingestion/tranquility.md
  website/i18n/en.json
  website/sidebars.json
Labels: Area - Documentation

#11182 Vectorize the cardinality aggregator.
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/CardinalityBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/CardinalityVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/types/DoubleCardinalityAggregatorColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/types/FloatCardinalityAggregatorColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/types/LongCardinalityAggregatorColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/types/StringCardinalityAggregatorColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/CardinalityVectorProcessor.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/CardinalityVectorProcessorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/DoubleCardinalityVectorProcessor.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/FloatCardinalityVectorProcessor.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/LongCardinalityVectorProcessor.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/MultiValueStringCardinalityVectorProcessor.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/NilCardinalityVectorProcessor.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/SingleValueStringCardinalityVectorProcessor.java
  processing/src/test/java/org/apache/druid/query/aggregation/cardinality/CardinalityVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Performance

#11191 fixed array syntax
  docs/querying/sql.md
Labels: Area - Documentation

#11157 ARRAY_AGG sql aggregator function
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/InputBindings.java
  core/src/main/java/org/apache/druid/math/expr/Parser.java
  core/src/main/java/org/apache/druid/math/expr/UnaryOperatorExpr.java
  core/src/test/java/org/apache/druid/math/expr/ApplyFunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/EvalTest.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  docs/querying/sql.md
  processing/src/main/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregator.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/vector/QueryableIndexVectorColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/test/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/expression/CaseInsensitiveExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/ContainsExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/ExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/RegexpExtractExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/RegexpLikeExprMacroTest.java
  server/src/test/java/org/apache/druid/query/expression/LookupExprMacroTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArraySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  website/.spelling
Labels: Area - Querying, Area - SQL, Release Notes

#10980 Fix Smile encoding for HTTP response
  integration-tests/src/main/java/org/apache/druid/testing/clients/AbstractQueryResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/QueryResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/SqlResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/AbstractTestQueryHelper.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/TestQueryHelper.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITWikipediaQueryTest.java
  server/src/main/java/org/apache/druid/server/BrokerQueryResource.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
Labels: Area - Querying, Bug

#11193 Web Console: allow pollPeriod to be defined in JDBC lookup config
  web-console/src/druid-models/lookup-spec.spec.ts
  web-console/src/druid-models/lookup-spec.tsx
Labels: Area - Web Console, Bug

#11194 Hadoop segment index file rename
  indexing-hadoop/pom.xml
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DataSegmentAndIndexZipFilePath.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidDetermineConfigurationJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/IndexGeneratorJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/JobHelper.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/MetadataStorageUpdaterJob.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/BatchDeltaIngestionTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DataSegmentAndIndexZipFilePathTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/IndexGeneratorJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/MetadataStorageUpdaterJobTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  integration-tests/pom.xml
  services/src/main/java/org/apache/druid/cli/CliInternalHadoopIndexer.java
Labels: Area - Batch Ingestion, Bug

#11198 clarify that appenderator persist byte sizes are estimations
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
Labels: Area - Ingestion

#11135 Create dynamic config that can limit number of non-primary replicants loaded per coordination cycle
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/ReplicationThrottler.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/RunRules.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/LoadRule.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsProfiler.java
  server/src/test/java/org/apache/druid/server/coordinator/RunRulesTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  web-console/src/dialogs/coordinator-dynamic-config-dialog/__snapshots__/coordinator-dynamic-config-dialog.spec.tsx.snap
  web-console/src/druid-models/coordinator-dynamic-config.tsx
  website/.spelling
Labels: Area - Segment Balancing/Coordination

#11202 Fix some markdown syntax problems in docs
  docs/dependencies/metadata-storage.md
  docs/development/extensions-contrib/moving-average-query.md
Labels: Area - Documentation

#11192 Fix example of prefixes for Cloud Input Sources(eg. S3)
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#11207 Upgrade jetty version
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#10695 Add documentation re alphabetical sorted of MV dimensions
  docs/ingestion/index.md
  docs/querying/multi-value-dimensions.md
  website/.spelling
Labels: Area - Documentation

#10864 Update datasource.md
  docs/querying/datasource.md
Labels: Area - Documentation

#10928 chore: fix case of GitHub
  dev/committer-instructions.md
  dev/teamcity.md
  extensions-contrib/moving-average-query/README.md
Labels: Area - Documentation

#11217 [Backport] Suppressing false positive CVE-2020-7791
  owasp-dependency-check-suppressions.xml
Labels: Backport

#11216 [Backport] Upgrade jetty version
  licenses.yaml
  pom.xml
Labels: Backport

#11199 Fix vectorized cardinality bug on certain string columns.
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/CardinalityVectorProcessorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/NilCardinalityVectorProcessor.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/StringObjectCardinalityVectorProcessor.java
  processing/src/main/java/org/apache/druid/segment/VectorColumnProcessorFactory.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Bug

#11187 Consolidate the number of Dockerfiles
  distribution/docker/Dockerfile
  distribution/docker/Dockerfile.java11
  distribution/docker/DockerfileBuildTarAdvanced
  integration-tests/script/setup_druid_on_k8s.sh
Labels: Area - Testing, Docker

#11051 add links to release notes, light refactor of landing page
  docs/design/index.md
  docs/operations/rolling-updates.md
Labels: Area - Documentation

#11147 Allow user to set group.id for Kafka ingestion task
  docs/development/extensions-core/kafka-ingestion.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaConsumerConfigs.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  website/.spelling
Labels: Area - Streaming Ingestion, Release Notes

#11220 Fix default value of druid.emitter.http.maxBatchSize in doc
  docs/configuration/index.md
Labels: Area - Documentation

#11188 SQL timeseries no longer skip empty buckets with all granularity
  docs/querying/sql.md
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/filter/sql/BloomDimFilterSqlTest.java
  extensions-core/histogram/pom.xml
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Null Handling, Area - Querying, Area - SQL, Compatibility, Release Notes

#11144 Make sure updating coordinator config is protected against race condition
  core/src/main/java/org/apache/druid/common/config/ConfigManager.java
  core/src/main/java/org/apache/druid/common/config/JacksonConfigManager.java
  core/src/test/java/org/apache/druid/common/config/ConfigManagerTest.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResource.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
Labels: Area - Compaction

#11228 Web console: Fix required field treatment
  web-console/src/components/auto-form/__snapshots__/auto-form.spec.tsx.snap
  web-console/src/components/auto-form/auto-form.spec.tsx
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/druid-models/ingestion-spec.tsx
  web-console/src/druid-models/timestamp-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console, Bug

#11236 add estimated byte size limit enforcement for heap based expression agg
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/test/java/org/apache/druid/math/expr/ExprEvalTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
Labels: Area - Querying

#11237 [Backport] Web console: Fix required field treatment
  web-console/src/components/auto-form/__snapshots__/auto-form.spec.tsx.snap
  web-console/src/components/auto-form/auto-form.spec.tsx
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/druid-models/ingestion-spec.tsx
  web-console/src/druid-models/timestamp-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Backport

#11251 [Backport] suppress CVE-2020-13949 again for a time
  owasp-dependency-check-suppressions.xml
Labels: Backport

#11243 Fix taskQueue to respect useLineageBasedSegmentAllocation in default taskContext
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
Labels: Bug

#11233 array handling improvements
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/test/java/org/apache/druid/math/expr/ExprEvalTest.java
  docs/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidStatement.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayAppendOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayConcatOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayLengthOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOffsetOfOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOffsetOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOrdinalOfOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOrdinalOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayPrependOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArraySliceOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayToStringOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/StringToArrayOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/QueryMaker.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#11204 Web console: fix SegmentTimeline query
  web-console/src/components/segment-timeline/segment-timeline.spec.tsx
  web-console/src/components/segment-timeline/segment-timeline.tsx
Labels: Area - Web Console, Bug

#11259 fix sql planner bug with inner offset causing loop
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL, Bug

#11185 fix bug with aggregator expressions on realtime index with string columns always producing 0 values
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/test/java/org/apache/druid/math/expr/EvalTest.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
Labels: Area - Querying, Bug

#11126 Add integration test for protobuf
  integration-tests/docker/Dockerfile
  integration-tests/docker/test-data/wikipedia.desc
  integration-tests/pom.xml
  integration-tests/script/copy_resources.sh
  integration-tests/script/docker_build_containers.sh
  integration-tests/src/main/java/org/apache/druid/testing/utils/EventSerializer.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/ProtobufEventSerializer.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/ProtobufSchemaRegistryEventSerializer.java
  integration-tests/src/test/resources/stream/data/protobuf/input_format/input_format.json
  integration-tests/src/test/resources/stream/data/protobuf/parser/input_row_parser.json
  integration-tests/src/test/resources/stream/data/protobuf/serializer/serializer.json
  integration-tests/src/test/resources/stream/data/protobuf_schema_registry/input_format/input_format.json
  integration-tests/src/test/resources/stream/data/protobuf_schema_registry/parser/input_row_parser.json
  integration-tests/src/test/resources/stream/data/protobuf_schema_registry/serializer/serializer.json
Labels: Area - Ingestion, Area - Testing

#11273 integration test runner xmx
  integration-tests/pom.xml
Labels: Area - Testing, Flaky test

#11269 Update check-licenses.py to open files with an explicit encoding
  distribution/bin/check-licenses.py
Labels: Area - Dev

#11265 Catch exception inside ITRetryUtil to fix one of the causes for flaky integration tests
  integration-tests/docker/docker-compose.base.yml
  integration-tests/src/main/java/org/apache/druid/testing/utils/ITRetryUtil.java
Labels: Area - Testing, Flaky test

#11170 Fix is null selector returning incorrect value for Long data type
  processing/src/main/java/org/apache/druid/segment/virtual/SingleLongInputCachingExpressionColumnValueSelector.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Null Handling, Area - SQL, Bug

#11245 add docs for high-churn datasource cleanup
  docs/operations/clean-metadata-store.md
  website/sidebars.json
Labels: Area - Documentation

#11258 fixes some typos, edits for style
  docs/ingestion/compaction.md
Labels: Area - Documentation

#11270 fix issue with empty array converting to string expression instead of string array
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/test/java/org/apache/druid/math/expr/ExprEvalTest.java
Labels: Area - Querying, Bug

#11268 Improve IT job 79 ITNestedQueryPushDownTest integration test
  integration-tests/k8s/tiny-cluster.yaml
  integration-tests/script/setup_druid_on_k8s.sh
Labels: Flaky test

#11073 remove ZooKeeper 3.4 support + pass tests with Java 15
  .travis.yml
  docs/dependencies/zookeeper.md
  extensions-core/kafka-extraction-namespace/pom.xml
  extensions-core/kafka-indexing-service/pom.xml
  indexing-service/pom.xml
  integration-tests/docker/Dockerfile
  integration-tests/docker/base-setup.sh
  integration-tests/docker/docker-compose.base.yml
  integration-tests/docker/service-supervisords/zookeeper.conf
  integration-tests/pom.xml
  integration-tests/script/docker_build_containers.sh
  licenses.yaml
  pom.xml
  server/pom.xml
  website/.spelling
Labels: Area - Zookeeper/Curator, Compatibility

#11289 Add test for join on __time column
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Testing

#11283 chill, travis
  .travis.yml
  check_test_suite.py
  check_test_suite_test.py
Labels: Area - Dev, Area - Testing

#11304 Add configuration suggestion to 'druid.indexer.storage.type'
  docs/configuration/index.md
Labels: Area - Documentation

#11308 Web console: Fix maxRowsPerSegment validation in hashed compaction spec
  web-console/e2e-tests/component/load-data/config/partition.ts
  web-console/src/components/auto-form/auto-form.spec.tsx
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/json-input/json-input.tsx
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/dialogs/coordinator-dynamic-config-dialog/__snapshots__/coordinator-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/coordinator-dynamic-config-dialog/coordinator-dynamic-config-dialog.tsx
  web-console/src/dialogs/lookup-edit-dialog/lookup-edit-dialog.tsx
  web-console/src/druid-models/compaction-config.tsx
  web-console/src/utils/general.tsx
  web-console/src/views/query-view/query-output/query-output.tsx
  web-console/src/views/query-view/query-view.spec.tsx
  web-console/src/views/query-view/query-view.tsx
Labels: Area - Web Console, Bug

#11266 Fix ClassCastException in movingAverage
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/MovingAverageQueryRunner.java
Labels: Area - Extension, Bug

#11262 Improve doc of movingAverage
  docs/development/extensions-contrib/moving-average-query.md
  website/.spelling
Labels: Area - Documentation, Area - Extension

#11290 Migrate helm chart from helm v2 to v3
  helm/druid/Chart.lock
  helm/druid/Chart.yaml
  helm/druid/README.md
  helm/druid/templates/NOTES.txt
  helm/druid/templates/_helpers.tpl
  helm/druid/templates/broker/deployment.yaml
  helm/druid/templates/broker/ingress.yaml
  helm/druid/templates/broker/service.yaml
  helm/druid/templates/configmap.yaml
  helm/druid/templates/coordinator/deployment.yaml
  helm/druid/templates/coordinator/ingress.yaml
  helm/druid/templates/coordinator/service.yaml
  helm/druid/templates/historical/ingress.yaml
  helm/druid/templates/historical/pdb.yaml
  helm/druid/templates/historical/service.yaml
  helm/druid/templates/historical/statefulset.yaml
  helm/druid/templates/middleManager/hpa.yaml
  helm/druid/templates/middleManager/ingress.yaml
  helm/druid/templates/middleManager/pdb.yaml
  helm/druid/templates/middleManager/service.yaml
  helm/druid/templates/middleManager/statefulset.yaml
  helm/druid/templates/overlord/deployment.yaml
  helm/druid/templates/overlord/ingress.yaml
  helm/druid/templates/overlord/service.yaml
  helm/druid/templates/router/deployment.yaml
  helm/druid/templates/router/ingress.yaml
  helm/druid/templates/router/service.yaml
  helm/druid/templates/secrets.yaml
  helm/druid/values.yaml
  helm/requirements.lock
Labels: Helm Chart
