Repository apache/druid, pull requests merged in 2021-08, with the labels that each got.

#11518 Upgrade ORC to 1.6.9
  extensions-core/orc-extensions/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#11486 Add error msg to parallel task's TaskStatus
  core/src/main/java/org/apache/druid/indexer/TaskStatus.java
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClientTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskClientTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestTasks.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/TaskMonitorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTestUtils.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TestTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
Labels: Area - Batch Ingestion, Error handling

#11531 Fix document about pi in sql
  docs/querying/sql.md
Labels: Area - Documentation

#11370 Clarify that Broker caching for groupBy v2 queries does not work
  docs/configuration/index.md
Labels: Area - Documentation

#11362 Add DynamicConfigProvider for Schema Registry
  core/src/main/java/org/apache/druid/utils/DynamicConfigProviderUtils.java
  core/src/test/java/org/apache/druid/utils/DynamicConfigProviderUtilsTest.java
  docs/ingestion/data-formats.md
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoder.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputFormatTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoderTest.java
  extensions-core/protobuf-extensions/src/main/java/org/apache/druid/data/input/protobuf/SchemaRegistryBasedProtobufBytesDecoder.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputFormatTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/SchemaRegistryBasedProtobufBytesDecoderTest.java
Labels: Area - Ingestion, Area - Operations

#11516 Cleanup hadoop dependencies in indexing modules
  indexing-hadoop/pom.xml
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HdfsClasspathSetupTest.java
  indexing-service/pom.xml
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/HadoopTaskTest.java
Labels: Area - Dependencies

#11539 Better logging for lookups
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/JdbcExtractionNamespace.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/UriExtractionNamespace.java
Labels: Area - Lookups

#11529 Replace TestInputRowHandler with mocking object
  core/src/test/java/org/apache/druid/data/input/HandlingInputRowIteratorTest.java
Labels: Area - Testing

#11377 Add Environment Variable DynamicConfigProvider
  core/src/main/java/org/apache/druid/metadata/DynamicConfigProvider.java
  core/src/main/java/org/apache/druid/metadata/EnvironmentVariableDynamicConfigProvider.java
  core/src/test/java/org/apache/druid/metadata/EnvironmentVariableDynamicConfigProviderTest.java
  docs/operations/dynamic-config-provider.md
Labels: Area - Operations

#11519 Improve query error logging
  docs/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/query/QueryContextsTest.java
  server/src/main/java/org/apache/druid/server/QueryLifecycle.java
Labels: Area - Querying, Design Review

#11540 Update default maxSegmentsInNodeLoadingQueue
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
Labels: Ease of Use, Release Notes, Design Review, Area - Segment Balancing/Coordination

#11489 Docs - clarify datasource API sources
  docs/operations/api-reference.md
Labels: Area - Documentation

#11485 Web console: fix count aggregation input in the data loader
  web-console/e2e-tests/reindexing.spec.ts
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/dialogs/lookup-edit-dialog/lookup-edit-dialog.tsx
  web-console/src/druid-models/compaction-config.tsx
  web-console/src/druid-models/dimension-spec.ts
  web-console/src/druid-models/filter.tsx
  web-console/src/druid-models/flatten-spec.tsx
  web-console/src/druid-models/ingestion-spec.tsx
  web-console/src/druid-models/input-format.tsx
  web-console/src/druid-models/lookup-spec.tsx
  web-console/src/druid-models/metric-spec.tsx
  web-console/src/druid-models/timestamp-spec.tsx
  web-console/src/druid-models/transform-spec.tsx
  web-console/src/utils/general.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/filter-table/filter-table.tsx
  web-console/src/views/load-data-view/form-editor/__snapshots__/form-editor.spec.tsx.snap
  web-console/src/views/load-data-view/form-editor/form-editor.scss
  web-console/src/views/load-data-view/form-editor/form-editor.spec.tsx
  web-console/src/views/load-data-view/form-editor/form-editor.tsx
  web-console/src/views/load-data-view/info-messages.tsx
  web-console/src/views/load-data-view/load-data-view.scss
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/load-data-view/parse-time-table/parse-time-table.tsx
  web-console/src/views/load-data-view/schema-table/schema-table.tsx
  web-console/src/views/load-data-view/transform-table/transform-table.tsx
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/query-view/column-tree/column-tree.tsx
Labels: Bug, Area - Web Console

#11545 Fix protobuf use case document
  docs/development/extensions-core/protobuf.md
Labels: Area - Documentation

#11457 Improve concurrency between DruidSchema and BrokerServerView
  server/src/main/java/org/apache/druid/client/SingleServerInventoryView.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaConcurrencyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaTestCommon.java
Labels: Performance, Area - Querying, Area - SQL

#11562 suppress CVE-2021-26291 on kafka-clients
  owasp-dependency-check-suppressions.xml
Labels: Security, Area - Dependencies

#11465 Minor edits to architecture page to improve flow
  docs/design/architecture.md
  website/.spelling
Labels: Area - Documentation

#11553 Fix ingestion task failure when no input split to process
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexPhaseRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITIndexerTest.java
Labels: Bug, Area - Batch Ingestion

#11556 fix parse exception handling for stream parsers
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/FilteringCloseableInputRowIterator.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/FilteringCloseableInputRowIteratorTest.java
Labels: Bug, Area - Streaming Ingestion

#11542 clarify JVM tmp dir requires execute on files
  docs/configuration/index.md
Labels: Area - Documentation

#11420 Add more guidelines on the use of aliyun-oss-extensions
  docs/development/extensions-contrib/aliyun-oss-extensions.md
  website/.spelling
Labels: Area - Documentation, Area - Extension

#11254 Update math-expr.md
  docs/misc/math-expr.md
Labels: Area - Documentation

#11563 Cleanup test dependencies in hdfs-storage extension
  extensions-core/hdfs-storage/pom.xml
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceTest.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/segment/loading/HdfsFileTimestampVersionFinderTest.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/storage/hdfs/HdfsDataSegmentPullerTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HdfsClasspathSetupTest.java
Labels: Area - Testing, Area - Dependencies

#11548 Docs: add pointers from api-reference to sql docs.
  docs/operations/api-reference.md
Labels: Area - Documentation

#11581 Fix FileIteratingFirehoseTest to extend NullHandlingTest
  core/src/test/java/org/apache/druid/data/input/impl/FileIteratingFirehoseTest.java
Labels: Area - Testing

#11566 Enable routing of SQL queries at Router
  docs/configuration/index.md
  docs/design/router.md
  extensions-core/hdfs-storage/pom.xml
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/query/QueryContextsTest.java
  server/pom.xml
  services/pom.xml
  services/src/main/java/org/apache/druid/server/AsyncQueryForwardingServlet.java
  services/src/main/java/org/apache/druid/server/http/RouterResource.java
  services/src/main/java/org/apache/druid/server/router/CoordinatorRuleManager.java
  services/src/main/java/org/apache/druid/server/router/JavaScriptTieredBrokerSelectorStrategy.java
  services/src/main/java/org/apache/druid/server/router/ManualTieredBrokerSelectorStrategy.java
  services/src/main/java/org/apache/druid/server/router/PriorityTieredBrokerSelectorStrategy.java
  services/src/main/java/org/apache/druid/server/router/QueryHostFinder.java
  services/src/main/java/org/apache/druid/server/router/TieredBrokerConfig.java
  services/src/main/java/org/apache/druid/server/router/TieredBrokerHostSelector.java
  services/src/main/java/org/apache/druid/server/router/TieredBrokerSelectorStrategiesProvider.java
  services/src/main/java/org/apache/druid/server/router/TieredBrokerSelectorStrategy.java
  services/src/main/java/org/apache/druid/server/router/TimeBoundaryTieredBrokerSelectorStrategy.java
  services/src/test/java/org/apache/druid/server/AsyncQueryForwardingServletTest.java
  services/src/test/java/org/apache/druid/server/http/security/SecurityResourceFilterTest.java
  services/src/test/java/org/apache/druid/server/router/CoordinatorRuleManagerTest.java
  services/src/test/java/org/apache/druid/server/router/JavaScriptTieredBrokerSelectorStrategyTest.java
  services/src/test/java/org/apache/druid/server/router/ManualTieredBrokerSelectorStrategyTest.java
  services/src/test/java/org/apache/druid/server/router/QueryHostFinderTest.java
  services/src/test/java/org/apache/druid/server/router/TieredBrokerHostSelectorTest.java
Labels: Release Notes, Design Review, Area - SQL, Area - Router

#11576 Docs refactor of ingestion. Carries #11541
  docs/configuration/index.md
  docs/design/segments.md
  docs/development/extensions-core/datasketches-hll.md
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kinesis-ingestion.md
  docs/development/extensions-core/orc.md
  docs/ingestion/compaction.md
  docs/ingestion/data-formats.md
  docs/ingestion/data-model.md
  docs/ingestion/hadoop.md
  docs/ingestion/index.md
  docs/ingestion/ingestion-spec.md
  docs/ingestion/native-batch.md
  docs/ingestion/partitioning.md
  docs/ingestion/rollup.md
  docs/ingestion/schema-design.md
  docs/ingestion/tasks.md
  docs/operations/segment-optimization.md
  docs/querying/granularities.md
  docs/querying/multi-value-dimensions.md
  docs/tutorials/index.md
  docs/tutorials/tutorial-kafka.md
  website/i18n/en.json
  website/sidebars.json
Labels: Area - Documentation

#10635 Add SQL functions to format numbers into human readable format
  core/src/main/java/org/apache/druid/java/util/common/HumanReadableBytes.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/test/java/org/apache/druid/java/util/common/HumanReadableBytesTest.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  docs/misc/math-expr.md
  docs/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/HumanReadableFormatOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
  website/.spelling
Labels: Feature, Area - Querying, Release Notes, Design Review, Area - SQL

#11590 Clarify when changes to credentialIterations take effect
  docs/development/extensions-core/druid-basic-security.md
Labels: Area - Documentation

#11480 Docs - MiddleManager Affinity "strong" definition
  docs/configuration/index.md
Labels: Area - Documentation

#11585 resultFormat name in camel case
  sql/src/main/java/org/apache/druid/sql/http/ResultFormat.java
  sql/src/test/java/org/apache/druid/sql/http/ResultFormatTest.java
Labels: Area - SQL

#11578 Add pushes to DataSketches in SQL docs.
  docs/querying/sql.md
Labels: Area - Documentation

#11552 Remove some deprecated methods about HTTP
  core/src/main/java/org/apache/druid/java/util/http/client/HttpClientConfig.java
  core/src/main/java/org/apache/druid/java/util/http/client/HttpClientInit.java
  server/src/test/java/org/apache/druid/server/initialization/BaseJettyTest.java
Labels: HTTP

#11602 Improve the metric definition
  docs/operations/metrics.md
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
Labels: Area - Documentation

#11577 Made the instructions of adding extra resources as part of extensions simpler
  docs/development/extensions-core/druid-lookups.md
  docs/development/extensions-core/mysql.md
  docs/development/extensions-core/protobuf.md
Labels: Area - Documentation, Area - Dev

#11610 update default compression format for bitmap
  docs/ingestion/ingestion-spec.md
Labels: Area - Documentation

#11609 fixes web console introduction and addresses linking issues
  docs/ingestion/data-formats.md
  docs/operations/druid-console.md
  docs/operations/high-availability.md
  docs/querying/aggregations.md
  docs/querying/post-aggregations.md
  docs/querying/sql.md
  docs/querying/using-caching.md
Labels: Area - Documentation

#11601 Support custom coordinator duties
  .travis.yml
  docs/development/modules.md
  integration-tests/docker/docker-compose.custom-coordinator-duties.yml
  integration-tests/docker/environment-configs/common-custom-coordinator-duties
  integration-tests/script/docker_compose_args.sh
  integration-tests/src/test/java/org/apache/druid/tests/TestNGGroup.java
  integration-tests/src/test/java/org/apache/druid/tests/parallelized/ITCustomCoordinatorDuties.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CoordinatorCustomDuty.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CoordinatorCustomDutyGroup.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CoordinatorCustomDutyGroups.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillSupervisorsCustomDuty.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillSupervisorsCustomDutyTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Area - Operations, Design Review, Area - Segment Balancing/Coordination, Area - Extension

#11546 VirtualColumnRegistry reuse virtual column should take account of value type
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/AvgSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/VirtualColumnRegistry.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - SQL

#11608 MySQL extension with MariaDB connector docs
  docs/configuration/index.md
  docs/design/extensions-contrib/dropwizard.md
  docs/development/extensions-contrib/ambari-metrics-emitter.md
  docs/development/extensions-contrib/cassandra.md
  docs/development/extensions-contrib/cloudfiles.md
  docs/development/extensions-contrib/distinctcount.md
  docs/development/extensions-contrib/gce-extensions.md
  docs/development/extensions-contrib/graphite.md
  docs/development/extensions-contrib/influx.md
  docs/development/extensions-contrib/influxdb-emitter.md
  docs/development/extensions-contrib/kafka-emitter.md
  docs/development/extensions-contrib/momentsketch-quantiles.md
  docs/development/extensions-contrib/opentsdb-emitter.md
  docs/development/extensions-contrib/prometheus.md
  docs/development/extensions-contrib/sqlserver.md
  docs/development/extensions-contrib/statsd.md
  docs/development/extensions-contrib/thrift.md
  docs/development/extensions-contrib/time-min-max.md
  docs/development/extensions-core/approximate-histograms.md
  docs/development/extensions-core/avro.md
  docs/development/extensions-core/azure.md
  docs/development/extensions-core/bloom-filter.md
  docs/development/extensions-core/druid-kerberos.md
  docs/development/extensions-core/druid-lookups.md
  docs/development/extensions-core/druid-ranger-security.md
  docs/development/extensions-core/google.md
  docs/development/extensions-core/hdfs.md
  docs/development/extensions-core/kafka-extraction-namespace.md
  docs/development/extensions-core/kubernetes.md
  docs/development/extensions-core/lookups-cached-global.md
  docs/development/extensions-core/mysql.md
  docs/development/extensions-core/orc.md
  docs/development/extensions-core/postgresql.md
  docs/development/extensions-core/protobuf.md
  docs/development/extensions-core/s3.md
  docs/development/extensions-core/stats.md
  extensions-core/mysql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/mysql/MySQLConnector.java
  website/.spelling
  website/package-lock.json
Labels: Area - Documentation, Area - Extension, Area - Metadata

#11617 Fix bug in Variance Buffer Aggregator resulting in intermittent NaN when druid.generic.useDefaultValueForNull=false
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceBufferAggregator.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorTest.java
Labels: Bug, Area - Querying, Area - Extension

#11619 fixes syntax for TRIM
  docs/querying/sql.md
Labels: Area - Documentation, Area - Web Console

#11611 fix for numShards description
  docs/ingestion/hadoop.md
Labels: Area - Documentation

#11626 Add sleep function for testing
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/SleepOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Testing, Area - SQL

#11618 Add prometheus-emitter docs
  docs/development/extensions.md
Labels: Area - Documentation

#11463 Add details to the Docker tutorial
  docs/tutorials/docker.md
  website/.spelling
Labels: Area - Documentation, Docker

#11632 Put sleep in an extension
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  extensions-core/testing-tools/pom.xml
  extensions-core/testing-tools/src/main/java/org/apache/druid/guice/SleepModule.java
  extensions-core/testing-tools/src/main/java/org/apache/druid/query/expressions/SleepExprMacro.java
  extensions-core/testing-tools/src/main/java/org/apache/druid/query/sql/SleepOperatorConversion.java
  extensions-core/testing-tools/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-core/testing-tools/src/test/java/org/apache/druid/query/expressions/SleepExprTest.java
  extensions-core/testing-tools/src/test/java/org/apache/druid/query/sql/SleepSqlTest.java
  pom.xml
  processing/src/main/java/org/apache/druid/query/expression/ExprUtils.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Testing, Area - Extension

#11628 Fix TRIM help broken in Console SQL Editor
  web-console/script/create-sql-docs.js
  web-console/src/views/query-view/query-input/query-input.tsx
Labels: Bug, Area - Web Console

#11506 Docs - note when partitioning using concatenated dimensions
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#11638 fix integration tests
  distribution/docker/Dockerfile
  integration-tests/docker/Dockerfile
  integration-tests/script/docker_build_containers.sh
Labels: Area - Testing, Development Blocker

#10985 Dynamic auto scale Kinesis-Stream ingest tasks
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorIOConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/Supervisor.java
Labels: Area - Documentation, Release Notes, Area - Streaming Ingestion

#11369 Fix an exception when using redis cluster as cache
  extensions-contrib/redis-cache/src/main/java/org/apache/druid/client/cache/AbstractRedisCache.java
  extensions-contrib/redis-cache/src/main/java/org/apache/druid/client/cache/RedisClusterCache.java
  extensions-contrib/redis-cache/src/main/java/org/apache/druid/client/cache/RedisStandaloneCache.java
  extensions-contrib/redis-cache/src/test/java/org/apache/druid/client/cache/RedisClusterCacheTest.java
Labels: Bug, Area - Cache, Area - Extension

#11631 DataSchema: improve rollup WARN message
  server/src/main/java/org/apache/druid/segment/indexing/DataSchema.java
Labels: Ease of Use

#11635 Fix create segment phase of batch ingestion to take segment identifiers that have a non UTC interval…
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderator.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorTest.java
Labels: Bug

#11640 Add functionality for integration test to run command inside the Docker container
  integration-tests/pom.xml
  integration-tests/src/main/java/org/apache/druid/testing/utils/DruidClusterAdminClient.java
Labels: Area - Testing

#11641 Fix custom coordinator duty integration test
  integration-tests/docker/environment-configs/common-custom-coordinator-duties
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Area - Testing

#11574 Configurable maxStreamLength for doubles sketches
  benchmarks/pom.xml
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  docs/development/extensions-core/datasketches-quantiles.md
  docs/querying/sql.md
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketches.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchApproxQuantileSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  website/.spelling
Labels: Area - Querying, Release Notes, Design Review
