Repository apache/druid, pull requests merged in 2021-10, with the labels that each got.

#11755 Add documentations for config to filter internal Druid-related messages from error response
  docs/configuration/index.md
Labels: Area - Documentation, Release Notes

#11762 Design/architecture doc touchups
  docs/assets/services-overview.png
  docs/design/architecture.md
Labels: Area - Documentation

#11767 Update kinesis-ingestion.md
  docs/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation

#11759 Update balancer strategy recommendations
  docs/configuration/index.md
Labels: Area - Documentation

#11761 update docs with X-Druid-SQL-Query-Id
  docs/querying/sql.md
Labels: Area - Documentation

#11735 Update Apache Kafka client libraries to 3.0.0
  extensions-core/kafka-extraction-namespace/src/test/java/org/apache/druid/query/lookup/TestKafkaExtractionCluster.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/test/TestBroker.java
  licenses.yaml
  pom.xml
Labels: Area - Streaming Ingestion

#11738 Support real query cancelling for web console
  web-console/README.md
  web-console/e2e-tests/cancel-query.spec.ts
  web-console/e2e-tests/component/query/overview.ts
  web-console/e2e-tests/util/playwright.ts
  web-console/script/druid
  web-console/src/views/query-view/query-view.tsx
Labels: Area - Web Console

#11772 Fix incorrect property key for error response transform config
  docs/configuration/index.md
Labels: Area - Documentation

#11565 docs: clarify RealtimeMetricsMonitor, HistoricalMetricsMonitor
  docs/configuration/index.md
  docs/operations/metrics.md
Labels: Area - Documentation

#11750 Web console: auto refresh in foreground only
  web-console/src/components/refresh-button/refresh-button.tsx
  web-console/src/components/timed-button/timed-button.tsx
  web-console/src/utils/general.tsx
Labels: Performance, Area - Web Console

#11752 Web console: catch local storage errors
  web-console/src/utils/local-storage-keys.tsx
Labels: Bug, Area - Web Console

#11748 Fix broken anchor and heading levels in Kafka/Kinesis ingestion
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation

#11766 Add Broker config `druid.broker.segment.ignoredTiers`
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/client/BrokerSegmentWatcherConfig.java
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/test/java/org/apache/druid/client/BrokerSegmentWatcherConfigTest.java
  server/src/test/java/org/apache/druid/client/BrokerServerViewTest.java
Labels: Release Notes, Design Review

#11429 Implement configurable internally generated query context
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/client/BrokerInternalQueryConfig.java
  server/src/test/java/org/apache/druid/client/BrokerInternalQueryConfigTest.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaConcurrencyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaNoDataInitTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Querying

#11794 Support for hadoop 3 via maven profiles
  .travis.yml
  distribution/bin/check-licenses.py
  distribution/pom.xml
  docs/development/build.md
  examples/quickstart/tutorial/hadoop3/docker/Dockerfile
  examples/quickstart/tutorial/hadoop3/docker/bootstrap.sh
  examples/quickstart/tutorial/wikipedia-index-hadoop3.json
  extensions-contrib/thrift-extensions/pom.xml
  extensions-core/avro-extensions/pom.xml
  extensions-core/druid-kerberos/pom.xml
  extensions-core/druid-ranger-security/pom.xml
  extensions-core/hdfs-storage/pom.xml
  extensions-core/orc-extensions/pom.xml
  extensions-core/parquet-extensions/pom.xml
  indexing-hadoop/pom.xml
  indexing-service/pom.xml
  indexing-service/src/main/java/org/apache/druid/indexing/common/config/TaskConfig.java
  indexing-service/src/main/resources/hadoop.indexer.libs.version
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/HadoopTaskTest.java
  integration-tests/.gitignore
  integration-tests/build_run_cluster.sh
  integration-tests/docker/docker-compose.base.yml
  integration-tests/docker/environment-configs/override-examples/hadoop/azure_to_azure
  integration-tests/docker/environment-configs/override-examples/hadoop/azure_to_hdfs
  integration-tests/docker/environment-configs/override-examples/hadoop/s3_to_hdfs
  integration-tests/docker/environment-configs/override-examples/hadoop/s3_to_s3
  integration-tests/pom.xml
  integration-tests/script/copy_hadoop_resources.sh
  integration-tests/script/copy_resources_template.sh
  integration-tests/script/docker_build_containers.sh
  integration-tests/src/test/resources/hadoop/batch_hadoop_indexer.json
  integration-tests/src/test/resources/hadoop/wikipedia_hadoop_azure_input_index_task_template.json
  integration-tests/src/test/resources/hadoop/wikipedia_hadoop_gcs_input_index_task.json
  integration-tests/src/test/resources/hadoop/wikipedia_hadoop_index_task.json
  integration-tests/src/test/resources/hadoop/wikipedia_hadoop_reindex_task.json
  integration-tests/src/test/resources/hadoop/wikipedia_hadoop_s3_input_index_task_template.json
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
  services/pom.xml
  services/src/main/java/org/apache/druid/cli/PullDependencies.java
  website/.spelling
Labels: Area - Batch Ingestion, Area - Dependencies
