Repository apache/druid, pull requests merged in 2021-11, with the labels that each got.

#11858 Fix travis' link behind build badge
  README.md
Labels: Area - Dev

#11861 SqlAggregationModuleTest now extends CalciteTestBase to ensure consistent string encoding
  sql/src/test/java/org/apache/druid/sql/calcite/aggregation/SqlAggregationModuleTest.java
Labels: Area - Testing, Development Blocker

#11856 Support changing query granularity in Auto Compaction
  docs/configuration/index.md
  docs/ingestion/compaction.md
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/resources/indexer/wikipedia_index_task_with_granularity_spec.json
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstPolicyTest.java
Labels: Release Notes, Area - Compaction

#11839 fixes validation error in helm chart templates license
  helm/druid/templates/NOTES.txt
  helm/druid/templates/broker/deployment.yaml
  helm/druid/templates/broker/ingress.yaml
  helm/druid/templates/broker/service.yaml
  helm/druid/templates/configmap.yaml
  helm/druid/templates/coordinator/deployment.yaml
  helm/druid/templates/coordinator/ingress.yaml
  helm/druid/templates/coordinator/service.yaml
  helm/druid/templates/historical/ingress.yaml
  helm/druid/templates/historical/pdb.yaml
  helm/druid/templates/historical/service.yaml
  helm/druid/templates/historical/statefulset.yaml
  helm/druid/templates/middleManager/hpa.yaml
  helm/druid/templates/middleManager/ingress.yaml
  helm/druid/templates/middleManager/pdb.yaml
  helm/druid/templates/middleManager/service.yaml
  helm/druid/templates/middleManager/statefulset.yaml
  helm/druid/templates/overlord/deployment.yaml
  helm/druid/templates/overlord/ingress.yaml
  helm/druid/templates/overlord/service.yaml
  helm/druid/templates/router/deployment.yaml
  helm/druid/templates/router/ingress.yaml
  helm/druid/templates/router/service.yaml
  helm/druid/templates/secrets.yaml
Labels: Helm Chart

#11721 docs: update helm flag
  helm/druid/README.md
Labels: Area - Documentation, Helm Chart

#11864 Fix quickstart link
  docs/design/index.md
Labels: Area - Documentation

#11732 Add Broker config `druid.broker.segment.watchRealtimeNodes`
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/client/BrokerSegmentWatcherConfig.java
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/test/java/org/apache/druid/client/BrokerSegmentWatcherConfigTest.java
  server/src/test/java/org/apache/druid/client/BrokerServerViewTest.java
Labels: Release Notes, Design Review

#11847 Add info for compation config dialog
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/druid-models/compaction-config.tsx
Labels: Area - Web Console

#11863 Warn if cache size of lookup is beyond max size
  docs/development/extensions-core/lookups-cached-global.md
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/data/input/MapPopulator.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/ExtractionNamespace.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/JdbcExtractionNamespace.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/UriExtractionNamespace.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/JdbcCacheGenerator.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/UriCacheGenerator.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/data/input/MapPopulatorTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/NamespaceLookupExtractorFactoryTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/namespace/JSONFlatDataParserTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/namespace/JdbcExtractionNamespaceUrlCheckTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/JdbcCacheGeneratorTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/NamespacedExtractorModuleTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/UriCacheGeneratorTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/CacheSchedulerTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/JdbcExtractionNamespaceTest.java
Labels: Area - Lookups

#11873 use correct DimensionSpec with for column value selectors created from dictionary encoded column indexers
  benchmarks/src/test/java/org/apache/druid/benchmark/BoundFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/DimensionPredicateFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/LikeFilterBenchmark.java
  processing/src/main/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/segment/DictionaryEncodedColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/IndexIO.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/column/BitmapIndex.java
  processing/src/main/java/org/apache/druid/segment/serde/DictionaryEncodedColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/StringBitmapIndexColumnPartSupplier.java
  processing/src/test/java/org/apache/druid/segment/filter/ExtractionDimFilterTest.java
Labels: Area - Segment Format and Ser/De

#11870 Properly count segment references in tests.
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Testing

#11848 Add support for multi dimension range partitioning
  core/src/main/java/org/apache/druid/data/input/StringTuple.java
  core/src/main/java/org/apache/druid/indexer/partitions/DimensionBasedPartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/DimensionRangePartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/HashedPartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/PartitionsSpec.java
  core/src/main/java/org/apache/druid/indexer/partitions/SingleDimensionPartitionsSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/BuildingDimensionRangeShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/DimensionRangeBucketShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/DimensionRangeShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/PartitionBoundaries.java
  core/src/main/java/org/apache/druid/timeline/partition/ShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/SingleDimensionRangeBucketShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/SingleDimensionShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/StringPartitionChunk.java
  core/src/test/java/org/apache/druid/data/input/StringTupleTest.java
  core/src/test/java/org/apache/druid/indexer/partitions/DimensionRangePartitionsSpecTest.java
  core/src/test/java/org/apache/druid/indexer/partitions/SingleDimensionPartitionsSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/BuildingDimensionRangeShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/DimensionRangeBucketShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/DimensionRangeShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/PartitionBoundariesTest.java
  core/src/test/java/org/apache/druid/timeline/partition/PartitionHolderCompletenessTest.java
  core/src/test/java/org/apache/druid/timeline/partition/ShardSpecTestUtils.java
  core/src/test/java/org/apache/druid/timeline/partition/SingleDimensionRangeBucketShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/SingleDimensionShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/StringPartitionChunkTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialRangeSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/ArrayOfStringTuplesSerDe.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/StringDistribution.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/StringSketch.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/StringSketchMerger.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/iterator/RangePartitionIndexTaskInputRowIteratorBuilder.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/partition/RangePartitionAnalysis.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RangePartitionCachingLocalSegmentAllocatorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialRangeSegmentGenerateTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionAdjustingCorePartitionSizeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/StringSketchMergerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/StringSketchTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/iterator/IndexTaskInputRowIteratorBuilderTestingFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/iterator/RangePartitionIndexTaskInputRowIteratorBuilderTest.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/SegmentPublisherHelperTest.java
Labels: Feature, Area - Batch Ingestion, Release Notes, Design Review

#11113 Add more metrics for Jetty server thread pool usage
  docs/design/extensions-contrib/dropwizard.md
  docs/operations/metrics.md
  extensions-contrib/opentsdb-emitter/src/main/resources/defaultMetrics.json
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  server/src/main/java/org/apache/druid/server/initialization/jetty/JettyServerModule.java
  server/src/test/java/org/apache/druid/server/initialization/jetty/JettyServerModuleTest.java
  website/.spelling
Labels: Area - Operations, Design Review, Area - Metrics/Event Emitting

#11874 Support changing dimension schema in Auto Compaction
  benchmarks/src/test/java/org/apache/druid/server/coordinator/NewestSegmentFirstPolicyBenchmark.java
  core/src/main/java/org/apache/druid/timeline/CompactionState.java
  core/src/test/java/org/apache/druid/timeline/DataSegmentTest.java
  docs/configuration/index.md
  docs/ingestion/compaction.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/CompactionUtil.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionUpgradeTest.java
  integration-tests/src/test/resources/indexer/wikipedia_index_task_with_dimension_spec.json
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionTaskDimensionsSpec.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionTaskQuery.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/IndexingServiceClient.java
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/UserCompactionTaskDimensionsConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/client/indexing/ClientCompactionTaskDimensionsSpecTest.java
  server/src/test/java/org/apache/druid/client/indexing/NoopIndexingServiceClient.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/UserCompactionTaskDimensionsConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIteratorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstPolicyTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  website/.spelling
Labels: Release Notes, Area - Compaction

#11884 RowBasedCursor: Add column-value-reuse optimization.
  processing/src/main/java/org/apache/druid/segment/RowBasedColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/RowBasedCursor.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilitiesImpl.java
Labels: Performance

#11890 HashJoinEngine: Fix extraneous advance of left cursor.
  processing/src/main/java/org/apache/druid/segment/RowWalker.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinEngine.java
Labels: Bug, Area - Querying

#11893 Remove StorageAdapter.getColumnTypeName.
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/RowBasedStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/StorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnDescriptor.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexMetrics.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNMetricSpecOptimizationsTest.java
  processing/src/test/java/org/apache/druid/segment/RowBasedStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
  server/src/test/java/org/apache/druid/server/coordination/ServerManagerTest.java
Labels: Refactoring

#11891 Support routing data through an HTTP proxy
  core/src/main/java/org/apache/druid/java/util/http/client/HttpClientConfig.java
  core/src/main/java/org/apache/druid/java/util/http/client/HttpClientInit.java
  core/src/main/java/org/apache/druid/java/util/http/client/HttpClientProxyConfig.java
  core/src/main/java/org/apache/druid/java/util/http/client/Request.java
  core/src/main/java/org/apache/druid/java/util/http/client/pool/ChannelResourceFactory.java
  core/src/test/java/org/apache/druid/java/util/http/client/FriendlyServersTest.java
  docs/development/modules.md
Labels: Area - Operations, Area - Metrics/Event Emitting

#11887 add missing json type for ListFilteredVirtualColumn
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/filter/sql/BloomDimFilterSqlTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumn.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Bug, Area - Querying

#11889 Ensure backward compatibility of multi dimension partitioning
  core/src/main/java/org/apache/druid/data/input/StringTuple.java
  core/src/main/java/org/apache/druid/timeline/partition/BuildingDimensionRangeShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/BuildingSingleDimensionShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/DimensionRangeBucketShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/PartitionBoundaries.java
  core/src/test/java/org/apache/druid/timeline/partition/BuildingDimensionRangeShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/BuildingSingleDimensionShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/DimensionRangeBucketShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/PartitionBoundariesTest.java
  core/src/test/java/org/apache/druid/timeline/partition/SingleDimensionShardSpecTest.java
Labels: Compatibility, Area - Ingestion

#11882 Add Finalization option to RowSignature.addAggregators.
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/having/DimFilterHavingSpec.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/segment/column/RowSignature.java
Labels: Area - Querying

#11886 RowBasedSegment: Use Sequence instead of Iterable.
  core/src/main/java/org/apache/druid/java/util/common/guava/Sequences.java
  core/src/main/java/org/apache/druid/java/util/common/guava/SimpleSequence.java
  core/src/test/java/org/apache/druid/java/util/common/guava/BaseSequenceTest.java
  core/src/test/java/org/apache/druid/java/util/common/guava/SimpleSequenceTest.java
  processing/src/main/java/org/apache/druid/query/lookup/LookupSegment.java
  processing/src/main/java/org/apache/druid/segment/RowBasedSegment.java
  processing/src/main/java/org/apache/druid/segment/RowBasedStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/RowWalker.java
  processing/src/test/java/org/apache/druid/query/lookup/LookupSegmentTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryResultOrderingTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
  processing/src/test/java/org/apache/druid/segment/RowBasedStorageAdapterTest.java
  server/src/main/java/org/apache/druid/segment/InlineSegmentWrangler.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
Labels: Refactoring

#11900 Fix NPE for SQL queries when a query parameter is missing in the mid
  integration-tests/src/test/java/org/apache/druid/tests/query/ITJdbcQueryTest.java
  sql/src/main/java/org/apache/druid/sql/SqlPlanningException.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/RelParameterizerShuttle.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/SqlParameterizerShuttle.java
  sql/src/main/java/org/apache/druid/sql/http/SqlQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
Labels: Bug, Area - SQL

#11892 catch throwable because calcite is throwing an error not exception
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Bug, Area - SQL

#11895 revert ColumnAnalysis type, add typeSignature and use it for DruidSchema
  docs/querying/segmentmetadataquery.md
  integration-tests/src/test/resources/hadoop/batch_hadoop_queries.json
  integration-tests/src/test/resources/queries/twitterstream_queries.json
  integration-tests/src/test/resources/queries/wikipedia_editstream_queries.json
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/ColumnAnalysis.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/ColumnIncluderator.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/SegmentMetadataQuery.java
  processing/src/test/java/org/apache/druid/query/DoubleStorageTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataUnionQueryTest.java
  processing/src/test/java/org/apache/druid/query/metadata/metadata/ColumnAnalysisTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
Labels: Area - Querying, Compatibility

#11899 Reduce list operation calls when pulling segments from S3
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentPuller.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentPullerTest.java
Labels: Area - Deep Storage

#11809 Make subquery IDs more comprehensive
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/UnionQueryRunner.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
Labels: Area - Querying, Release Notes

#11905 Fix incorrect comparison in RowSignature.
  processing/src/main/java/org/apache/druid/segment/column/RowSignature.java
Labels: Bug

#11903 Avoid materializing list of segment files when finding a partition file during shuffle
  indexing-service/src/main/java/org/apache/druid/indexing/worker/shuffle/LocalIntermediaryDataManager.java
Labels: Area - Ingestion

#11912 Docs: Splits Kafka topic. Adds detailed example for kafka inputFormat
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kafka-supervisor-operations.md
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/ingestion/data-formats.md
  docs/ingestion/ingestion-spec.md
  docs/operations/api-reference.md
  docs/operations/dynamic-config-provider.md
  docs/querying/sql.md
  website/sidebars.json
Labels: Area - Documentation

#11907 Remove stale warning for HTTP inputSource
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#11914 SQL: Add type headers to response formats.
  docs/querying/sql.md
  integration-tests/src/test/java/org/apache/druid/tests/query/ITSqlCancelTest.java
  services/src/test/java/org/apache/druid/server/AsyncQueryForwardingServletTest.java
  services/src/test/java/org/apache/druid/server/router/ManualTieredBrokerSelectorStrategyTest.java
  services/src/test/java/org/apache/druid/server/router/TieredBrokerHostSelectorTest.java
  sql/src/main/java/org/apache/druid/sql/SqlRowTransformer.java
  sql/src/main/java/org/apache/druid/sql/http/ArrayLinesWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ArrayWriter.java
  sql/src/main/java/org/apache/druid/sql/http/CsvWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectLinesWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ResultFormat.java
  sql/src/main/java/org/apache/druid/sql/http/SqlQuery.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/calcite/http/SqlQueryTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - SQL

#11897 Removes Druid chart deprecation message and flag
  helm/druid/Chart.yaml
Labels: Helm Chart

#11872 Bump app version in Helm Chart from 0.19.0 to 0.22.0
  helm/druid/Chart.yaml
  helm/druid/values.yaml
Labels: Helm Chart

#11883 Fixing a few typos and style issues
  docs/querying/aggregations.md
  docs/querying/dimensionspecs.md
  website/.spelling
Labels: Area - Documentation

#11843 Use a simple class to sanitize JDBC exceptions and also log them
  core/src/main/java/org/apache/druid/java/util/common/ISE.java
  core/src/main/java/org/apache/druid/java/util/common/UOE.java
  docs/configuration/index.md
  integration-tests/src/test/java/org/apache/druid/tests/security/ITBasicAuthConfigurationTest.java
  integration-tests/src/test/java/org/apache/druid/tests/security/ITBasicAuthLdapConfigurationTest.java
  server/src/main/java/org/apache/druid/server/initialization/ServerConfig.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidConnection.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/main/java/org/apache/druid/sql/avatica/ErrorHandler.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/ErrorHandlerTest.java
Labels: Area - SQL

#11928 sql skip reduce of complex literal expressions
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
Labels: Bug, Area - SQL

#11925 only get bitmap index for string dictionary encoded columns
  processing/src/main/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelector.java
  processing/src/test/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelectorTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De

#11924 autocompaction support for complex dimensions
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionHandler.java
  processing/src/test/java/org/apache/druid/segment/DimensionHandlerUtilsTest.java
Labels: Area - Compaction

#11932 Fix TestServerInventoryView behavioral discrepancy.
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestServerInventoryView.java
Labels: Area - Testing

#11904 Adding safe divide function
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/OutputTypeTest.java
  docs/misc/math-expr.md
  docs/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/SafeDivideOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  website/.spelling
Labels: Area - Querying, Release Notes

#11934 Fix bug Unrecognized token 'No': was expecting (JSON String,...) when…
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/test/java/org/apache/druid/client/indexing/HttpIndexingServiceClientTest.java
Labels: Area - Ingestion

#11554 Add worker category dimension
  docs/operations/metrics.md
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskMaster.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ThreadingTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TestTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  server/src/main/java/org/apache/druid/server/metrics/TaskSlotCountStatsMonitor.java
  server/src/main/java/org/apache/druid/server/metrics/TaskSlotCountStatsProvider.java
  server/src/test/java/org/apache/druid/server/metrics/TaskSlotCountStatsMonitorTest.java
Labels: Area - Operations, Design Review, Area - Metrics/Event Emitting

#11930 Scan: Add "orderBy" parameter.
  codestyle/spotbugs-exclude.xml
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractMultiPhaseParallelIndexingTest.java
  processing/src/main/java/org/apache/druid/query/Druids.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQuery.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryEngine.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryLimitRowIterator.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/scan/ScanResultValueTimestampComparator.java
  processing/src/test/java/org/apache/druid/query/scan/MultiSegmentScanQueryTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerFactoryTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQuerySpecTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#11917 restore and deprecate AggregatorFactory methods
  core/src/main/java/org/apache/druid/segment/column/ColumnType.java
  extensions-contrib/distinctcount/src/main/java/org/apache/druid/query/aggregation/distinctcount/DistinctCountAggregatorFactory.java
  extensions-contrib/momentsketch/src/main/java/org/apache/druid/query/aggregation/momentsketch/aggregator/MomentSketchAggregatorFactory.java
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/AveragerFactoryWrapper.java
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/TDigestSketchAggregatorFactory.java
  extensions-contrib/time-min-max/src/main/java/org/apache/druid/query/aggregation/TimestampAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactoryTest.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/BloomFilterAggregatorFactory.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramAggregatorFactory.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramAggregatorFactory.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorFactory.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/InputRowSerde.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/InputRowSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
  processing/src/main/java/org/apache/druid/query/aggregation/AggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/BufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/CountAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/FilteredAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/GroupingAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/HistogramAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/JavaScriptAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/NullableNumericAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/SimpleDoubleAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/SimpleFloatAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/SimpleLongAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/SuppressedAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/DoubleAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/FloatAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/LongAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/DoubleFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/FloatFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/LongFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniqueFinalizingPostAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniquesAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/DoubleLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/FloatLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/LongLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/FieldAccessPostAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/FinalizingFieldAccessPostAggregator.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GrouperBufferComparatorUtils.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/segment/column/RowSignature.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/test/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/post/FinalizingFieldAccessPostAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
Labels: Discuss, Design Review, Compatibility

#11742 Fix IT test script failure when host machine has multiple IP addresses
  integration-tests/docker/tls/set-docker-host-ip.sh
Labels: Bug, Area - Testing

#11963 TestKafkaExtractionCluster: Shut down Kafka, ZK in @After.
  extensions-core/kafka-extraction-namespace/src/test/java/org/apache/druid/query/lookup/TestKafkaExtractionCluster.java
Labels: Flaky test

#11965 Harmonize local input sources; fix batch index integration test.
  core/src/main/java/org/apache/druid/data/input/impl/LocalInputSource.java
  core/src/test/java/org/apache/druid/data/input/impl/LocalInputSourceTest.java
  integration-tests/src/test/resources/indexer/wikipedia_index_task.json
  server/src/main/java/org/apache/druid/segment/realtime/firehose/LocalFirehoseFactory.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/LocalFirehoseFactoryTest.java
Labels: Release Notes, Area - Testing, Flaky test, Area - Ingestion

#11860 Improve README for integration test
  integration-tests/README.md
Labels: Area - Documentation

#11808 Add thread count to pre-push hook to speed up checking
  hooks/pre-push.sh
Labels: Performance, Area - Dev, Dev Productivity

#11880 Fix: invalid JSON in ingestion spec doc example
  docs/ingestion/ingestion-spec.md
Labels: Area - Documentation

#11937 Docs - fixed render issue on compaction.md
  docs/ingestion/compaction.md
Labels: Area - Documentation

#11927 Correct count-distinct unit test method name error
  extensions-contrib/distinctcount/src/test/java/org/apache/druid/query/aggregation/distinctcount/DistinctCountTimeseriesQueryTest.java
Labels: Area - Testing, Refactoring

#11945 update Druid Chart README doc and removes unnecessary lock file
  .gitignore
  helm/druid/Chart.lock
  helm/druid/README.md
Labels: Helm Chart

#11642 Add inline native query example to tutorial
  docs/tutorials/tutorial-query.md
Labels: Area - Documentation

#11956 PrioritizedExecutorService: Properly wrap on direct calls to "execute".
  processing/src/main/java/org/apache/druid/query/PrioritizedExecutorService.java
  processing/src/test/java/org/apache/druid/query/PrioritizedExecutorServiceTest.java
Labels: Area - Querying

#11957 QueryableIndexColumnSelectorFactory: Double-check cached column class.
  processing/src/main/java/org/apache/druid/segment/QueryableIndexColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/segment/QueryableIndexStorageAdapterTest.java
Labels: Bug, Area - Querying

#11966 Docs - Corrected leaderlatch name
  docs/dependencies/zookeeper.md
Labels: Area - Documentation

#11926 Docs - Corrected admonition issue
  docs/ingestion/data-formats.md
Labels: Area - Documentation

#11968 Improve the DruidRexExecutor w.r.t handling of numeric arrays
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
Labels: Area - SQL

#11977 add 'LeaderLatch' to .spelling entry to fix spellcheck
  website/.spelling
Labels: Development Blocker

#11974 Docs: Remove reference to deprecated field `targetPartitionSize`
  docs/design/segments.md
  website/.spelling
Labels: Area - Documentation

#11976 Log correct hydrant count
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderator.java
Labels: Area - Ingestion

#11979 Break down CalciteQueryTest
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Area - Testing, Refactoring

#11973 Handle null values in Range Partition dimension distribution
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/ArrayOfStringTuplesSerDe.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/ArrayOfStringsNullSafeSerde.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/ArrayOfStringsNullSafeSerdeTest.java
Labels: Area - Batch Ingestion, Release Notes

#11922 Support filtering data in Auto Compaction
  benchmarks/src/test/java/org/apache/druid/server/coordinator/NewestSegmentFirstPolicyBenchmark.java
  core/src/main/java/org/apache/druid/timeline/CompactionState.java
  core/src/test/java/org/apache/druid/timeline/DataSegmentTest.java
  docs/configuration/index.md
  docs/ingestion/compaction.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/CompactionUtil.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionUpgradeTest.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionTaskQuery.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionTaskTransformSpec.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/IndexingServiceClient.java
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/UserCompactionTaskTransformConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/client/indexing/ClientCompactionTaskTransformSpecTest.java
  server/src/test/java/org/apache/druid/client/indexing/NoopIndexingServiceClient.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/UserCompactionTaskTransformConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIteratorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstPolicyTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  website/.spelling
Labels: Release Notes, Area - Compaction

#11953 StorageAdapter: Add getRowSignature method.
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentReader.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/RowBasedStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/StorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/test/java/org/apache/druid/segment/RowBasedStorageAdapterTest.java
Labels: Area - Metadata

#11954 RowBasedGrouperHelper: Set hasMultipleValues = false in capabilities.
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
Labels: Area - Querying

#11582 Consolidate a bunch of ad-hoc segments metadata SQL; fix some bugs.
  core/src/main/java/org/apache/druid/java/util/common/DateTimes.java
  core/src/main/java/org/apache/druid/java/util/common/Intervals.java
  core/src/test/java/org/apache/druid/java/util/common/DateTimesTest.java
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsActionsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/server/http/DataSourcesResourceTest.java
Labels: Bug, Refactoring

#11949 Specify time column for first/last aggregators
  docs/querying/aggregations.md
  docs/querying/sql.md
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/DoubleFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/FloatFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/LongFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstFoldingAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/DoubleLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/FloatLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/LongLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastFoldingAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/DoubleFirstAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/FloatFirstAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/LongFirstAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstBufferAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/DoubleLastAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/FloatLastAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/LongLastAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastBufferAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/post/FinalizingFieldAccessPostAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerRollupTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestAnySqlAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Feature, Area - Querying, Release Notes, Design Review, Area - SQL, Area - Ingestion

#11724 Return HTTP 404 instead of 400 for supervisor/task endpoints
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/security/SupervisorResourceFilter.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/security/TaskResourceFilter.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/security/SupervisorResourceFilterTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/security/TaskResourceFilterTest.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/TestNGGroup.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractStreamIndexingTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITOverlordResourceTest.java
Labels: Incompatible, Release Notes, Design Review

#11908 Improve the output of SQL explain message
  docs/configuration/index.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Release Notes, Design Review, Area - SQL

#11982 Fix: Do not require time condition on InlineDataSource
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying, Area - Web Console

#11849 warn when segment cannot be loaded by Historical nodes
  server/src/main/java/org/apache/druid/segment/handoff/CoordinatorBasedSegmentHandoffNotifier.java
Labels: Area - Segment Balancing/Coordination

#11941 AWS "Data read has a different length than the expected" error should reset stream and try again
  core/src/main/java/org/apache/druid/data/input/InputEntity.java
  core/src/main/java/org/apache/druid/data/input/RetryingInputEntity.java
  core/src/main/java/org/apache/druid/data/input/impl/RetryingInputStream.java
  core/src/main/java/org/apache/druid/data/input/impl/prefetch/FileFetcher.java
  core/src/test/java/org/apache/druid/data/input/impl/prefetch/RetryingInputStreamTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3Entity.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSource.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/ObjectSummaryIterator.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
Labels: Area - Extension

#11950 Improve on-heap aggregator footprint estimates.
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregatorFactory.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregatorFactoryTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/AggregatorFactory.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
Labels: Release Notes, Area - Ingestion

#11975 clarify avro support & general style improvements
  docs/development/extensions-core/avro.md
Labels: Area - Documentation

#11940 Use intermediate-persist IndexSpec during multiphase merge.
  indexing-hadoop/src/main/java/org/apache/druid/indexer/IndexGeneratorJob.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
  processing/src/main/java/org/apache/druid/segment/IndexMerger.java
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
  processing/src/main/java/org/apache/druid/segment/Metadata.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexIndexableAdapter.java
  processing/src/main/java/org/apache/druid/segment/RowFilteringIndexAdapter.java
  processing/src/test/java/org/apache/druid/segment/AppendTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerTestBase.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerV9CompatibilityTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessIndexTest.java
  processing/src/test/java/org/apache/druid/segment/generator/SegmentGenerator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/RealtimePlumber.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManagerTest.java
Labels: Area - Ingestion

#11822 Code cleanup from query profile project
  .gitignore
  benchmarks/src/test/java/org/apache/druid/benchmark/BoundFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/DimensionPredicateFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/LikeFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/MockBitmapIndexSelector.java
  core/src/main/java/org/apache/druid/java/util/common/ISE.java
  core/src/main/java/org/apache/druid/java/util/common/guava/ConcatSequence.java
  core/src/main/java/org/apache/druid/java/util/common/guava/MergeSequence.java
  core/src/main/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequence.java
  core/src/main/java/org/apache/druid/query/SegmentDescriptor.java
  core/src/test/java/org/apache/druid/guice/JsonConfiguratorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITSqlCancelTest.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/QueryMetrics.java
  processing/src/main/java/org/apache/druid/query/filter/Filter.java
  processing/src/main/java/org/apache/druid/query/filter/FilterTuning.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/SegmentAnalysis.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndex.java
  processing/src/main/java/org/apache/druid/segment/data/Indexed.java
  processing/src/main/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/datasourcemetadata/DataSourceMetadataQueryTest.java
  server/src/main/java/org/apache/druid/client/selector/QueryableDruidServer.java
  server/src/main/java/org/apache/druid/client/selector/ServerSelector.java
  server/src/main/java/org/apache/druid/server/log/FileRequestLoggerProvider.java
  server/src/main/java/org/apache/druid/server/log/LoggingRequestLogger.java
  server/src/main/java/org/apache/druid/server/log/RequestLoggerProvider.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Querying
