Repository apache/druid, pull requests merged in 2021-02, with the labels that each got.

#10828 [Backport] Web console: use new example manifest
  web-console/console-config.js
Labels: Backport

#10827 [Backport] Web console: Remove first / last suggestions
  web-console/src/druid-models/metric-spec.tsx
Labels: Backport

#10829 [Backport] move integration tests from ZooKeeper 3.4.x to 3.5.x
  .travis.yml
  integration-tests/docker-base/README.md
  integration-tests/docker-base/jdk11/Dockerfile
  integration-tests/docker-base/jdk8/Dockerfile
  integration-tests/docker/Dockerfile
  integration-tests/docker/base-setup.sh
  integration-tests/docker/docker-compose.base.yml
  integration-tests/docker/service-supervisords/zookeeper.conf
  integration-tests/docker/tls/generate-server-certs-and-keystores.sh
  integration-tests/pom.xml
  integration-tests/script/docker_build_containers.sh
Labels: Backport

#10826 Address CVE-2020-8570, suppress CVE-2020-8554
  extensions-core/kubernetes-extensions/pom.xml
  licenses.yaml
  owasp-dependency-check-suppressions.xml
Labels: Security

#10846 Fix the leadership integration test with Java 11
  integration-tests/docker/docker-compose.high-availability.yml
Labels: Area - Testing, Development Blocker, Flaky test

#10760 Update druid version in docker-compose
  distribution/docker/docker-compose.yml
Labels: Area - Dev

#10818 Fix CVE-2021-25646
  core/src/main/java/org/apache/druid/guice/DruidSecondaryModule.java
  core/src/main/java/org/apache/druid/guice/GuiceAnnotationIntrospector.java
  core/src/test/java/org/apache/druid/data/input/impl/DimensionsSpecSerdeTest.java
  core/src/test/java/org/apache/druid/data/input/impl/StringDimensionSchemaTest.java
  core/src/test/java/org/apache/druid/guice/DruidSecondaryModuleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestUtils.java
  processing/src/test/java/org/apache/druid/segment/TestHelper.java
Labels: Bug, Security

#10855 [Backport] Fix the leadership integration test with Java 11
  integration-tests/docker/docker-compose.high-availability.yml
Labels: Backport

#10841 Build distribution after all other modules are installed on Travis
  .travis.yml
Labels: Area - Dev, Area - Testing

#10854 [Backport] Fix CVE-2021-25646
  core/src/main/java/org/apache/druid/guice/DruidSecondaryModule.java
  core/src/main/java/org/apache/druid/guice/GuiceAnnotationIntrospector.java
  core/src/test/java/org/apache/druid/data/input/impl/DimensionsSpecSerdeTest.java
  core/src/test/java/org/apache/druid/data/input/impl/StringDimensionSchemaTest.java
  core/src/test/java/org/apache/druid/guice/DruidSecondaryModuleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestUtils.java
  processing/src/test/java/org/apache/druid/segment/TestHelper.java
Labels: Backport

#10789 Bump DataSketches memory to 1.3.0
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#10819 Clearer instructions to update website for release
  distribution/asf-release-process-guide.md
Labels: Area - Dev

#10761 Fix kinesis ingestion bugs
  cloud/aws-common/src/main/java/org/apache/druid/common/aws/AWSClientUtil.java
  cloud/aws-common/src/test/java/org/apache/druid/common/aws/AWSClientUtilTest.java
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentPuller.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  server/src/main/java/org/apache/druid/segment/realtime/FireDepartmentMetrics.java
  server/src/test/java/org/apache/druid/segment/realtime/FireDepartmentMetricsTest.java
  services/src/main/java/org/apache/druid/cli/PullDependencies.java
Labels: Area - Documentation, Area - Streaming Ingestion, Bug, Design Review, Release Notes

#10833 Update doc for query errors and add unit tests for JsonParserIterator
  core/src/main/java/org/apache/druid/query/QueryException.java
  docs/querying/querying.md
  processing/src/main/java/org/apache/druid/query/ResourceLimitExceededException.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryRunnerFactory.java
  server/src/main/java/org/apache/druid/client/JsonParserIterator.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/client/JsonParserIteratorTest.java
Labels: Area - Documentation, Area - Querying, Area - Testing

#10651 fixed input source sampler buildReader exp
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/InputSourceSampler.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
Labels: Bug, Ease of Use

#10815 Better stages for travis
  .travis.yml
Labels: Area - Dev

#10748 reword for clarity
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#10869 Allow for empty keys in hash map
  core/src/main/java/org/apache/druid/guice/GuiceAnnotationIntrospector.java
  core/src/test/java/org/apache/druid/guice/DruidSecondaryModuleTest.java
  processing/src/test/java/org/apache/druid/query/extraction/MapLookupExtractionFnSerDeTest.java
Labels: Area - Querying, Bug

#10870 Add config option to specify zk version in integration tests
  .travis.yml
  integration-tests/README.md
  integration-tests/pom.xml
Labels: Area - Dev, Area - Testing

#10843 Support segmentGranularity for auto-compaction
  benchmarks/src/test/java/org/apache/druid/server/coordinator/NewestSegmentFirstPolicyBenchmark.java
  core/src/main/java/org/apache/druid/timeline/CompactionState.java
  core/src/main/java/org/apache/druid/timeline/partition/PartitionChunk.java
  core/src/test/java/org/apache/druid/timeline/DataSegmentTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/resources/indexer/wikipedia_compaction_task_with_granularity_spec.json
  integration-tests/src/test/resources/indexer/wikipedia_compaction_task_with_segment_granularity.json
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionTaskQuery.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionTaskQueryGranularitySpec.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/IndexingServiceClient.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/ArbitraryGranularitySpec.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/BaseGranularitySpec.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/GranularitySpec.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/UniformGranularitySpec.java
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/client/indexing/NoopIndexingServiceClient.java
  server/src/test/java/org/apache/druid/segment/indexing/granularity/ArbitraryGranularityTest.java
  server/src/test/java/org/apache/druid/segment/indexing/granularity/UniformGranularityTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIteratorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstPolicyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
Labels: Area - Batch Ingestion, Release Notes

#10881 Use native git for git-commit-id-plugin to speed up build
  pom.xml
Labels: Area - Dev

#10872 [Backport] Revert "Add support for Blacklisting some domains for HTTPInputSource (#10535)"
  core/src/main/java/org/apache/druid/data/input/impl/HttpInputSource.java
  core/src/main/java/org/apache/druid/data/input/impl/HttpInputSourceConfig.java
  core/src/test/java/org/apache/druid/data/input/impl/HttpInputSourceTest.java
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/metadata/input/InputSourceModule.java
  server/src/test/java/org/apache/druid/metadata/input/InputSourceModuleTest.java
  website/.spelling
Labels: Backport

#10882 Fix example names of security artifacts in docs
  docs/operations/security-overview.md
Labels: Area - Documentation

#10874 Filter unauthorized views in InformationSchema
  server/src/main/java/org/apache/druid/server/security/AuthorizationUtils.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/InformationSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - SQL, Security

#10883 Update dependency-check plugin
  .travis.yml
  pom.xml
Labels: Area - Dev

#10889 Bump Apache Parquet from 1.11.0 to 1.11.1
  extensions-core/parquet-extensions/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#10888 Web console: remove namespace prop that does not exist from JDBC lookup
  web-console/src/dialogs/lookup-edit-dialog/__snapshots__/lookup-edit-dialog.spec.tsx.snap
  web-console/src/druid-models/lookup-spec.spec.ts
  web-console/src/druid-models/lookup-spec.tsx
Labels: Area - Web Console, Bug

#10856 Keep query granularity of compacted segments after compaction
  core/src/main/java/org/apache/druid/java/util/common/granularity/Granularity.java
  core/src/test/java/org/apache/druid/java/util/common/GranularityTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/AbstractQueryWithResults.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/AbstractTestQueryHelper.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/QueryResultVerifier.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/QueryWithResults.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/SqlQueryWithResults.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITQueryRetryTestOnMissingSegments.java
  integration-tests/src/test/resources/indexer/segment_metadata_qr2.json
  integration-tests/src/test/resources/indexer/segment_metadata_qr4.json
Labels: Area - Ingestion, Release Notes

#10895 Add property for binding view manager type
  sql/src/main/java/org/apache/druid/sql/calcite/view/NoopViewManager.java
  sql/src/main/java/org/apache/druid/sql/guice/SqlModule.java
  sql/src/test/java/org/apache/druid/sql/guice/SqlModuleTest.java
Labels: Area - Dependency Injection, Area - SQL

#10823 add SQL operators for bitwise expressions
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/VectorExprSanityTest.java
  docs/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
  website/i18n/en.json
Labels: Area - SQL, Release Notes

#10891 Fix maxBytesInMemory for heap overhead of all sinks and hydrants check
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorTest.java
Labels: Area - Ingestion

#10906 BoundDimFilter: Simplify the various DruidLongPredicates.
  processing/src/main/java/org/apache/druid/query/filter/BoundDimFilter.java
Labels: Area - Querying, Refactoring

#10880 add druid jdbc handler config for minimum number of rows per frame
  docs/configuration/index.md
  sql/src/main/java/org/apache/druid/sql/avatica/AvaticaServerConfig.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/test/java/org/apache/druid/sql/avatica/AvaticaModuleTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
Labels: Area - Documentation, Area - SQL, Release Notes

#10896 basic security extension ignore permissions that use unknown ResourceType or Action
  extensions-core/druid-basic-security/pom.xml
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authorization/entity/BasicAuthorizerPermission.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authorization/entity/BasicAuthorizerRole.java
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/BasicAuthUtilsTest.java
  extensions-core/druid-basic-security/src/test/resources/log4j2.xml
Labels: Bug, Compatibility

#10915 Improve Druid ldap auth documentation
  docs/operations/auth-ldap.md
Labels: Area - Documentation

#10904 Granularity: Introduce primitive-typed bucketStart, increment methods.
  core/src/main/java/org/apache/druid/java/util/common/granularity/AllGranularity.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/DurationGranularity.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/Granularity.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/NoneGranularity.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/PeriodGranularity.java
  core/src/test/java/org/apache/druid/java/util/common/GranularityTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  processing/src/main/java/org/apache/druid/query/ResultGranularTimestampComparator.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampCeilExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFloorExprMacro.java
  processing/src/main/java/org/apache/druid/query/extraction/TimeFormatExtractionFn.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByBinaryFnV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorSequenceBuilder.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/test/java/org/apache/druid/granularity/QueryGranularityTest.java
  processing/src/test/java/org/apache/druid/query/expression/ExprMacroTest.java
  server/src/test/java/org/apache/druid/query/expression/LookupExprMacroTest.java
Labels: Area - Querying, Performance

#10917 Use the latest Apache DataSketches release 2.0.0
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchBuildAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchJsonSerializer.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchOperations.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchSetOpPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchTTestPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToEstimateAndBoundsPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToEstimatePostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToMeansPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToNumEntriesPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToQuantilesSketchPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToStringPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToVariancesPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/NoopArrayOfDoublesSketchAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/NoopArrayOfDoublesSketchBufferAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchSetOpPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchTTestPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToEstimatePostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToNumEntriesPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToQuantilesSketchPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/GenerateTestData.java
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#10914 clarify security requirements around HTTPInputSource
  docs/ingestion/native-batch.md
  docs/operations/security-overview.md
Labels: Area - Documentation

#10314 Add config and header support for confluent schema registry.
  distribution/bin/check-licenses.py
  docs/ingestion/data-formats.md
  extensions-core/avro-extensions/pom.xml
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoder.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoderTest.java
  licenses.yaml
  website/.spelling
Labels: Area - Extension, Area - Streaming Ingestion

#10923 CsvInputFormat: Create a parser per InputEntityReader.
  core/src/main/java/org/apache/druid/data/input/InputEntityReader.java
  core/src/main/java/org/apache/druid/data/input/impl/CsvInputFormat.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/Parser.java
Labels: Area - Ingestion, Bug
