Repository apache/druid, pull requests merged in 2021-01, with the labels that each got.

#10642 Correctly handle null values in time column results
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Null Handling, Bug

#10729 Add sample method to IndexingServiceClient
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpecTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/IndexTaskSamplerSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/InputSourceSampler.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamSamplerSpec.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/CsvInputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/IndexTaskSamplerSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/SamplerResponseTest.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/IndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/SamplerResponse.java
  server/src/main/java/org/apache/druid/client/indexing/SamplerSpec.java
  server/src/test/java/org/apache/druid/client/indexing/HttpIndexingServiceClientTest.java
  server/src/test/java/org/apache/druid/client/indexing/NoopIndexingServiceClient.java
Labels: Area - Batch Ingestion, Area - Streaming Ingestion, Feature

#10686 k8s-int-test-build: zk-less druid cluster and http based segment/task managment
  .travis.yml
  docs/development/extensions-core/kubernetes.md
  integration-tests/k8s/role-and-binding.yaml
  integration-tests/k8s/tiny-cluster.yaml
  integration-tests/script/build_run_k8s_cluster.sh
  integration-tests/script/setup_druid_on_k8s.sh
  integration-tests/script/setup_druid_operator_on_k8s.sh
  integration-tests/script/setup_k8s_cluster.sh
  integration-tests/tiny-cluster-zk.yaml
Labels: Area - Testing, Kubernetes

#10689 Multiphase segment merge for IndexMergerV9
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/IndexMergeBenchmark.java
  docs/ingestion/native-batch.md
  indexing-hadoop/src/main/java/org/apache/druid/indexer/IndexGeneratorJob.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTestingFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITIndexerTest.java
  integration-tests/src/test/resources/indexer/wikipedia_index_with_merge_column_limit_task.json
  processing/src/main/java/org/apache/druid/segment/IndexMerger.java
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
  processing/src/test/java/org/apache/druid/segment/EmptyIndexTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerRollupTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerTestBase.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerV9WithSpatialIndexTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessIndexTest.java
  processing/src/test/java/org/apache/druid/segment/TestIndex.java
  processing/src/test/java/org/apache/druid/segment/filter/SpatialFilterBonusTest.java
  processing/src/test/java/org/apache/druid/segment/filter/SpatialFilterTest.java
  processing/src/test/java/org/apache/druid/segment/generator/SegmentGenerator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/RealtimePlumber.java
  website/.spelling
Labels: Area - Batch Ingestion, Improvement

#10711 Typo: missing comma in json
  docs/querying/aggregations.md
Labels: Area - Documentation

#10630 Scan query: More accurate error message when segment per time chunk limit is exceeded.
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryRunnerFactory.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerFactoryTest.java
Labels: Area - Querying, Ease of Use

#9518 AWS RDS token based password provider
  distribution/pom.xml
  docs/development/extensions-core/druid-aws-rds.md
  docs/development/extensions.md
  extensions-core/druid-aws-rds-extensions/pom.xml
  extensions-core/druid-aws-rds-extensions/src/main/java/org/apache/druid/aws/rds/AWSRDSModule.java
  extensions-core/druid-aws-rds-extensions/src/main/java/org/apache/druid/aws/rds/AWSRDSTokenPasswordProvider.java
  extensions-core/druid-aws-rds-extensions/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-core/druid-aws-rds-extensions/src/test/java/org/apache/druid/aws/rds/AWSRDSTokenPasswordProviderTest.java
  licenses.yaml
  pom.xml
  server/pom.xml
  server/src/main/java/org/apache/druid/metadata/BasicDataSourceExt.java
  server/src/main/java/org/apache/druid/metadata/SQLFirehoseDatabaseConnector.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/test/java/org/apache/druid/metadata/BasicDataSourceExtTest.java
  website/.spelling
Labels: Area - Extension, Feature, Release Notes

#10717 Update badge for travis in README.md
  README.md
Labels: Area - Dev

#10733 Update deps for CVE-2020-28168 and CVE-2020-28052
  extensions-core/kubernetes-extensions/pom.xml
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
Labels: Area - Dependencies, Security

#10715 reuse DataSegment object when a segment found on another server
  server/src/main/java/org/apache/druid/client/BatchServerInventoryView.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/main/java/org/apache/druid/client/SingleServerInventoryView.java
Labels: Area - Metadata, Improvement

#10738 Fix collision between #10689 and #10593.
  processing/src/test/java/org/apache/druid/segment/IndexMergerTestBase.java
Labels: Development Blocker

#10734 add offsetFetchPeriod to kinesis ingestion doc
  docs/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation, Area - Streaming Ingestion

#10721 javascript filter result convert to java boolean
  processing/src/main/java/org/apache/druid/query/filter/JavaScriptDimFilter.java
  processing/src/test/java/org/apache/druid/query/filter/JavaScriptDimFilterTest.java
Labels: Area - Querying, Bug

#10710 fix web-console show json bug
  web-console/src/components/json-collapse/json-collapse.spec.tsx
  web-console/src/components/json-collapse/json-collapse.tsx
  web-console/src/components/json-input/json-input.tsx
  web-console/src/components/show-history/show-history.tsx
  web-console/src/components/show-json/show-json.tsx
  web-console/src/components/show-log/show-log.tsx
  web-console/src/components/table-cell/table-cell.tsx
  web-console/src/dialogs/edit-context-dialog/edit-context-dialog.tsx
  web-console/src/dialogs/history-dialog/history-dialog.spec.tsx
  web-console/src/dialogs/query-plan-dialog/query-plan-dialog.tsx
  web-console/src/dialogs/snitch-dialog/snitch-dialog.spec.tsx
  web-console/src/dialogs/spec-dialog/spec-dialog.tsx
  web-console/src/utils/local-storage-backed-array.tsx
  web-console/src/utils/local-storage-keys.tsx
  web-console/src/utils/object-change.spec.ts
  web-console/src/utils/query-history.ts
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/load-data-view/parse-data-table/parse-data-table.tsx
  web-console/src/views/query-view/query-output/query-output.tsx
  web-console/src/views/query-view/query-view.tsx
  web-console/src/views/segments-view/segments-view.tsx
Labels: Area - Web Console, Bug

#10670 [Doc-Fix] Remove extra comma in `druid/integration-tests/README.md`
  integration-tests/README.md
Labels: Area - Documentation

#10661 [Minor Doc Fix] Correct the default value of `druid.server.http.gracefulShutdownTimeout`
  docs/configuration/index.md
Labels: Area - Documentation

#10730 Introduce KafkaRecordEntity to support Kafka headers in InputFormats
  core/src/main/java/org/apache/druid/data/input/InputEntity.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafka/KafkaRecordEntity.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaRecordSupplierTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTask.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskRunner.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpecTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamSamplerSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SequenceMetadata.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/StreamChunkParser.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/common/OrderedPartitionableRecord.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/common/RecordSupplier.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/StreamChunkParserTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Streaming Ingestion

#10724 Coordinator Dynamic Config changes to ease upgrading with new config value
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
Labels: Bug, Compatibility

#10737 Add missing unit tests for segment loading in historicals
  server/src/main/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManager.java
  server/src/test/java/org/apache/druid/segment/loading/SegmentLoaderLocalCacheManagerTest.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentLoadDropHandlerTest.java
Labels: Area - Testing

#10736 Fix potential deadlock in batch ingestion
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/TaskLockHelper.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
Labels: Area - Batch Ingestion, Bug

#10287 Remove legacy code from LogUsedSegments duty
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/LogUsedSegments.java
Labels: Area - Segment Balancing/Coordination, Design Review

#10741 Web console: fix bad results if there is not native bigint
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/singletons/api.spec.ts
Labels: Area - Web Console, Bug

#10614 re-use expression vector evaluation results for the same offset in expression vector selectors
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/test/java/org/apache/druid/math/expr/VectorExprSanityTest.java
  processing/src/main/java/org/apache/druid/segment/column/ComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/column/StringDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/data/ColumnarDoubles.java
  processing/src/main/java/org/apache/druid/segment/data/ColumnarFloats.java
  processing/src/main/java/org/apache/druid/segment/data/ColumnarLongs.java
  processing/src/main/java/org/apache/druid/segment/filter/FalseFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/TrueFilter.java
  processing/src/main/java/org/apache/druid/segment/vector/BaseDoubleVectorValueSelector.java
  processing/src/main/java/org/apache/druid/segment/vector/BaseFloatVectorValueSelector.java
  processing/src/main/java/org/apache/druid/segment/vector/BaseLongVectorValueSelector.java
  processing/src/main/java/org/apache/druid/segment/vector/QueryableIndexVectorColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/vector/ReadableVectorInspector.java
  processing/src/main/java/org/apache/druid/segment/vector/ReadableVectorOffset.java
  processing/src/main/java/org/apache/druid/segment/vector/VectorColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorInputBinding.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorObjectSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorValueSelector.java
  processing/src/test/java/org/apache/druid/segment/virtual/AlwaysTwoVectorizedVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorObjectSelectorTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorValueSelectorTest.java
Labels: Area - Querying, Performance

#10743 fix limited queries with subtotals
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/ByteBufferMinMaxOffsetHeap.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/LimitedBufferHashGrouper.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/LimitedBufferHashGrouperTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Bug

#10714 use actual dataInterval in cache key
  server/src/main/java/org/apache/druid/client/CachingQueryRunner.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  server/src/test/java/org/apache/druid/client/CachingQueryRunnerTest.java
  server/src/test/java/org/apache/druid/server/coordination/ServerManagerTest.java
Labels: Area - Cache, Improvement

#10751 Web console: treat null as not defined in AutoForm
  web-console/src/components/auto-form/auto-form.spec.tsx
  web-console/src/components/auto-form/auto-form.tsx
Labels: Area - Web Console, Bug

#10757 Remove FalseVectorMatcher, TrueVectorMatcher in favor of BooleanVectorValueMatcher.
  processing/src/main/java/org/apache/druid/query/filter/vector/FalseVectorMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/TrueVectorMatcher.java
  processing/src/main/java/org/apache/druid/segment/filter/FalseFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/TrueFilter.java
Labels: Area - Querying, Refactoring

#10755 VectorMatch: Disallow "copyFrom", "addAll" on self; improve tests.
  processing/src/main/java/org/apache/druid/query/filter/vector/VectorMatch.java
  processing/src/test/java/org/apache/druid/query/filter/vector/VectorMatchTest.java
Labels: Area - Dev, Area - Testing

#10754 OrFilter: Properly handle child matchers that return the original mask.
  processing/src/main/java/org/apache/druid/query/filter/vector/VectorMatch.java
  processing/src/main/java/org/apache/druid/query/filter/vector/VectorValueMatcher.java
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/OrFilterTest.java
Labels: Area - Querying, Bug

#10764 fix task metric types in statsd emitter
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
Labels: Area - Metrics/Event Emitting

#10772 SegmentAnalyzer: Properly close column after retrieving it.
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
Labels: Bug

#10768 [Backport] Web console: treat null as not defined in AutoForm
  web-console/src/components/auto-form/auto-form.spec.tsx
  web-console/src/components/auto-form/auto-form.tsx
Labels: Backport

#10758 Retain order of AND, OR filter children.
  processing/src/main/java/org/apache/druid/query/filter/AndDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/BooleanFilter.java
  processing/src/main/java/org/apache/druid/query/filter/OrDimFilter.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/filter/AndFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/BoundFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/cnf/CalciteCnfHelper.java
  processing/src/main/java/org/apache/druid/segment/filter/cnf/HiveCnfHelper.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/test/java/org/apache/druid/query/filter/AndDimFilterTest.java
  processing/src/test/java/org/apache/druid/query/filter/OrDimFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/FilterCnfConversionTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
Labels: Area - Querying, Performance

#10779 [Bug Fix] Broker will not wait for its SQL metadata view to fully initialize before starting up, even though set awaitInitializationOnStart true
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaTest.java
Labels: Area - SQL, Bug

#10778 [Doc] remove the catch description mentioned in historical lazy on start
  docs/configuration/index.md
Labels: Area - Documentation

#10766 add leftover tests from subtotals spec fix
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Area - Testing

#10787 Web console: use new example manifest
  web-console/console-config.js
Labels: Area - Web Console, Bug

#10541 AWS Web Identity / IRSA Support
  cloud/aws-common/src/main/java/org/apache/druid/common/aws/AWSCredentialsUtils.java
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/s3-extensions/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#10796 Fix dependabot warnings
  web-console/package-lock.json
  website/package-lock.json
Labels: Area - Dependencies

#10791 Run integration tests in a second stage
  .travis.yml
Labels: Area - Dev

#10740 Fix byte calculation for maxBytesInMemory to take into account of Sink/Hydrant Object overhead
  docs/ingestion/hadoop.md
  docs/ingestion/index.md
  docs/ingestion/native-batch.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/test/TestModifiedKafkaIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskSerdeTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/test/TestModifiedKinesisIndexTaskTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/index/RealtimeAppenderatorTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTuningConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTestingFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTuningConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  integration-tests/docker/environment-configs/indexer
  server/src/main/java/org/apache/druid/segment/indexing/RealtimeTuningConfig.java
  server/src/main/java/org/apache/druid/segment/indexing/TuningConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/FireHydrant.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManager.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorPlumberTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/DefaultOfflineAppenderatorFactoryTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/RealtimePlumberSchoolTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/SinkTest.java
  services/src/test/java/org/apache/druid/cli/validate/DruidJsonValidatorTest.java
  website/.spelling
Labels: Area - Batch Ingestion, Area - Operations, Area - Streaming Ingestion

#10605 bitwise math function expressions
  core/src/main/antlr4/org/apache/druid/math/expr/antlr/Expr.g4
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorMathProcessors.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  core/src/test/java/org/apache/druid/math/expr/VectorExprSanityTest.java
  docs/misc/math-expr.md
  website/.spelling
Labels: Area - Querying, Design Review, Release Notes

#10794 Web console: Remove first / last suggestions
  web-console/src/druid-models/metric-spec.tsx
Labels: Area - Web Console, Bug

#10762 Fix cardinality estimation
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexTestingFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTaskTest.java
  server/src/main/java/org/apache/druid/segment/indexing/DataSchema.java
  server/src/test/java/org/apache/druid/segment/indexing/DataSchemaTest.java
Labels: Area - Batch Ingestion, Bug

#10814 Do not run integration tests in cron stage
  .travis.yml
Labels: Area - Dev, Development Blocker

#10742 Granularity interval materialization
  core/src/main/java/org/apache/druid/java/util/common/JodaUtils.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/IntervalsByGranularity.java
  core/src/test/java/org/apache/druid/common/utils/JodaUtilsTest.java
  core/src/test/java/org/apache/druid/java/util/common/IntervalsByGranularityTest.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DetermineHashedPartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidDetermineConfigurationJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerMapper.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidDetermineConfigurationJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopIngestionSpecTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/IndexGeneratorJobTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialHashSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/ArbitraryGranularitySpec.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/BaseGranularitySpec.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/GranularitySpec.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/UniformGranularitySpec.java
  server/src/test/java/org/apache/druid/segment/indexing/granularity/ArbitraryGranularityTest.java
  server/src/test/java/org/apache/druid/segment/indexing/granularity/UniformGranularityTest.java
Labels: Area - Batch Ingestion

#10767 Vectorized theta sketch aggregator + rework of VectorColumnProcessorFactory.
  extensions-core/datasketches/pom.xml
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/util/ToObjectVectorColumnProcessorFactory.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationWithSimpleDataTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/util/ToObjectVectorColumnProcessorFactoryTest.java
  processing/src/main/java/org/apache/druid/query/filter/InDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/vector/NilVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/VectorValueMatcherColumnProcessorFactory.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/GroupByVectorColumnProcessorFactory.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/GroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/NilGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
  processing/src/main/java/org/apache/druid/segment/ColumnProcessors.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  processing/src/main/java/org/apache/druid/segment/DimensionSelector.java
  processing/src/main/java/org/apache/druid/segment/VectorColumnProcessorFactory.java
  processing/src/main/java/org/apache/druid/segment/filter/BoundFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/DimensionPredicateFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/LikeFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/SelectorFilter.java
  processing/src/main/java/org/apache/druid/segment/vector/VectorColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngineIteratorTest.java
Labels: Area - Querying, Performance

#10786 move integration tests from ZooKeeper 3.4.x to 3.5.x
  .travis.yml
  integration-tests/docker-base/README.md
  integration-tests/docker-base/jdk11/Dockerfile
  integration-tests/docker-base/jdk8/Dockerfile
  integration-tests/docker/Dockerfile
  integration-tests/docker/base-setup.sh
  integration-tests/docker/docker-compose.base.yml
  integration-tests/docker/service-supervisords/zookeeper.conf
  integration-tests/docker/tls/generate-server-certs-and-keystores.sh
  integration-tests/pom.xml
  integration-tests/script/docker_build_containers.sh
Labels: Area - Testing, Area - Zookeeper/Curator
