Repository apache/druid, pull requests merged in 2022-05, with the labels that each got.

#12486 Improve build performance of modules
  extensions-core/druid-basic-security/pom.xml
  server/pom.xml
Labels: Dev Productivity

#12441 Upgrade dependency-check-maven to 7.0.4
  pom.xml
Labels: Area - Dependencies

#12030 Add authentication call before cleaning up intermediate files in hadoop ingestions
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsStorageAuthentication.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/JobHelper.java
Labels: Bug, Area - Batch Ingestion

#12487 Update maven assembly plugin for druid-benchmarks
  benchmarks/pom.xml
Labels: Area - Dev, Area - Dependencies

#12492 Add a metric for task duration in the pending queue
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerFactoryTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTestUtils.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
Labels: Release Notes, Area - Metrics/Event Emitting

#12499 Fix broken ForkingTaskRunnerTest
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ForkingTaskRunnerTest.java
Labels: Area - Testing

#12416 Update automatic compaction docs with consistent terminology
  docs/configuration/index.md
  docs/design/coordinator.md
  docs/ingestion/compaction.md
  docs/ingestion/tasks.md
  docs/operations/api-reference.md
  docs/operations/segment-optimization.md
  website/.spelling
Labels: Area - Documentation

#12503 Web console: add a button to get out of restricted mode, make capability detection more robust
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/components/header-bar/header-bar.spec.tsx
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/console-application.tsx
  web-console/src/utils/capabilities.ts
Labels: Area - Web Console

#12329 Include daily segment stats in segment timeline view
  web-console/src/components/segment-timeline/bar-group.tsx
  web-console/src/components/segment-timeline/segment-timeline.tsx
  web-console/src/components/segment-timeline/stacked-bar-chart.tsx
Labels: Area - Web Console

#12484 Pass metrics object for Scan, Timeseries and GroupBy queries during cursor creation
  docs/operations/metrics.md
  extensions-contrib/distinctcount/src/test/java/org/apache/druid/query/aggregation/distinctcount/DistinctCountTimeseriesQueryTest.java
  processing/src/main/java/org/apache/druid/query/QueryRunnerHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryEngine.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV1.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryEngine.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/timeboundary/TimeBoundaryQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryEngine.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTestHelper.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapterTest.java
Labels: Area - Metrics/Event Emitting

#12493 Vectorized version of string last aggregator
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstLastUtils.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastVectorAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastVectorAggregatorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Performance, Area - Querying

#12491 Add feature flag for sql planning of TimeBoundary queries
  docs/querying/sql-query-context.md
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/query/QueryContextsTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/QueryFeature.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteTimeBoundaryQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/TestInsertQueryMaker.java
  website/.spelling
Labels: Area - Querying

#12036 Docs: Fix column name in ingestion rollup doc
  docs/ingestion/rollup.md
Labels: Area - Documentation

#10877 Allow coordinator to be configured to kill segments in future
  core/src/main/java/org/apache/druid/java/util/common/DateTimes.java
  core/src/test/java/org/apache/druid/java/util/common/DateTimesTest.java
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/HttpLoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/LoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/LoadQueuePeonTester.java
  server/src/test/java/org/apache/druid/server/coordinator/TestDruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillAuditLogTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillDatasourceMetadataTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillSupervisorsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
  website/.spelling
Labels: Release Notes, Area - Segment Balancing/Coordination

#11634 Add IPAddress java library as dependency and migrate IPv4 functions to use the new library.
  benchmarks/pom.xml
  benchmarks/src/test/java/org/apache/druid/benchmark/IPv4AddressBenchmark.java
  licenses.yaml
  pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressExprUtils.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressMatchExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressStringifyExprMacro.java
  processing/src/test/java/org/apache/druid/query/expression/IPv4AddressExprUtilsTest.java
Labels: Area - Querying

#12509 Use datasketches version 3.2.0
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchModule.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationTest.java
  pom.xml
Labels: Area - Dependencies, Area - Ingestion

#12099 Task queue unblock
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueScaleTest.java
Labels: Performance, Area - Ingestion

#12514 Add setProcessingThreadNames context parameter.
  docs/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/spec/SpecificSegmentQueryRunner.java
  processing/src/test/java/org/apache/druid/query/spec/SpecificSegmentQueryRunnerTest.java
  website/.spelling
Labels: Performance, Area - Querying

#12067 Enforce console logging for peon process
  docs/configuration/logging.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/tasklogs/ConsoleLoggingEnforcementConfigurationFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/tasklogs/ConsoleLoggingEnforcementTest.java
  website/.spelling
Labels: Area - Ingestion

#12520 Enable vectorized virtual column processing by default.
  docs/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/segment/virtual/VectorizedVirtualColumnTest.java
Labels: Performance, Area - Querying

#12459 docs(fix): clarify how worker.version and minWorkerVersion comparison works
  docs/configuration/index.md
Labels: Area - Documentation

#12088 Clarify the use of the Lookup API
  docs/querying/lookups.md
Labels: Area - Documentation, Area - Lookups

#12350 Improved docs for range partitioning.
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#12522 Use datasketches version 3.2.0 (backport #12509)
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchModule.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationTest.java
  pom.xml
Labels: Backport

#12511 print replication levels in coordinator segment logs
  server/src/main/java/org/apache/druid/server/coordinator/duty/EmitClusterStatsAndMetrics.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/LoadRule.java
Labels: Area - Segment Balancing/Coordination

#12527 [Backport]Enforce console logging for peon process
  docs/configuration/logging.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/tasklogs/ConsoleLoggingEnforcementConfigurationFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/tasklogs/ConsoleLoggingEnforcementTest.java
  website/.spelling
Labels: Backport

#12529 Fix typo, add comma
  docs/operations/druid-console.md
Labels: Area - Documentation

#12530 Sql docs items
  docs/querying/datasource.md
  docs/querying/joins.md
  docs/querying/limitspec.md
  docs/querying/sql-aggregations.md
  docs/querying/sql-api.md
  docs/querying/sql-data-types.md
  docs/querying/sql-jdbc.md
  docs/querying/sql-metadata-tables.md
  docs/querying/sql-multivalue-string-functions.md
  docs/querying/sql-operators.md
  docs/querying/sql-query-context.md
  docs/querying/sql-scalar.md
  docs/querying/sql-syntax.md
  docs/querying/sql-translation.md
  docs/querying/sql.md
  docs/querying/topnmetricspec.md
  website/sidebars.json
Labels: Area - Documentation

#12532 [Backport] SQL docs items
  docs/querying/datasource.md
  docs/querying/joins.md
  docs/querying/limitspec.md
  docs/querying/sql-aggregations.md
  docs/querying/sql-api.md
  docs/querying/sql-data-types.md
  docs/querying/sql-jdbc.md
  docs/querying/sql-metadata-tables.md
  docs/querying/sql-multivalue-string-functions.md
  docs/querying/sql-operators.md
  docs/querying/sql-query-context.md
  docs/querying/sql-scalar.md
  docs/querying/sql-syntax.md
  docs/querying/sql-translation.md
  docs/querying/sql.md
  docs/querying/topnmetricspec.md
  website/sidebars.json
Labels: Area - Documentation, Backport

#12533 Revert "push value range and set index get operations into BitmapIndex (#12315)"
  benchmarks/src/test/java/org/apache/druid/benchmark/ExpressionVectorSelectorBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/MockBitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/query/dimension/PredicateFilteredDimensionSelector.java
  processing/src/main/java/org/apache/druid/query/filter/BitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/query/filter/InDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/LikeDimFilter.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/ColumnInspector.java
  processing/src/main/java/org/apache/druid/segment/ColumnSelector.java
  processing/src/main/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexIndexableAdapter.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/main/java/org/apache/druid/segment/column/BitmapIndex.java
  processing/src/main/java/org/apache/druid/segment/column/BitmapIndexes.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/Indexed.java
  processing/src/main/java/org/apache/druid/segment/filter/BoundFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/main/java/org/apache/druid/segment/filter/LikeFilter.java
  processing/src/main/java/org/apache/druid/segment/serde/StringBitmapIndexColumnPartSupplier.java
  processing/src/main/java/org/apache/druid/segment/vector/QueryableIndexVectorColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionPlan.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelectorTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerNullHandlingTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BoundFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ExtractionDimFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/FiltersTest.java
  processing/src/test/java/org/apache/druid/segment/filter/SelectorFilterTest.java
  processing/src/test/java/org/apache/druid/segment/join/BaseHashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionPlannerTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionSelectorsTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumnSelectorTest.java
Labels: Backport

#12521 Free ByteBuffers in tests and fix some bugs.
  .travis.yml
  core/src/main/java/org/apache/druid/collections/DefaultBlockingPool.java
  core/src/main/java/org/apache/druid/java/util/common/ByteBufferUtils.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/segment/column/NullableTypeStrategy.java
  core/src/main/java/org/apache/druid/segment/column/TypeStrategies.java
  core/src/main/java/org/apache/druid/segment/column/TypeStrategy.java
  core/src/test/java/org/apache/druid/common/config/NullHandlingTest.java
  core/src/test/java/org/apache/druid/java/util/common/ByteBufferUtilsTest.java
  core/src/test/java/org/apache/druid/java/util/common/StringUtilsTest.java
  core/src/test/java/org/apache/druid/math/expr/ExprEvalTest.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  core/src/test/java/org/apache/druid/segment/column/TypeStrategiesTest.java
  extensions-contrib/distinctcount/src/test/java/org/apache/druid/query/aggregation/distinctcount/DistinctCountGroupByQueryTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramGroupByQueryTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/FixedBucketsHistogramGroupByQueryTest.java
  hll/src/test/java/org/apache/druid/hll/HyperLogLogCollectorTest.java
  pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/ExpressionLambdaBufferAggregator.java
  processing/src/main/java/org/apache/druid/segment/column/ObjectStrategyComplexTypeStrategy.java
  processing/src/test/java/org/apache/druid/collections/bitmap/BitmapOperationAgainstConsecutiveRunsTest.java
  processing/src/test/java/org/apache/druid/collections/bitmap/BitmapOperationAgainstUniformDistributionTest.java
  processing/src/test/java/org/apache/druid/collections/bitmap/BitmapOperationTestBase.java
  processing/src/test/java/org/apache/druid/collections/bitmap/WrappedBitSetBitmapBitSetTest.java
  processing/src/test/java/org/apache/druid/query/TestBufferPool.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
  processing/src/test/java/org/apache/druid/query/aggregation/HistogramAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/JavaScriptAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownInsufficientBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownMultiNodeMergeTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByMultiSegmentTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryMergeBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerFactoryTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerFailureTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByTimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedQueryPushDownTest.java
  processing/src/test/java/org/apache/druid/query/groupby/TestGroupByBuffers.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/BufferHashGrouperTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressionStrategyTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientFunctionalityTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTestUtils.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
Labels: Bug, Area - Testing

#12540 Slightly improve RTR log messages.
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
Labels: Ease of Use

#12271 Stop altering the query timeout in ScanQueryEngine
  processing/src/main/java/org/apache/druid/query/context/ResponseContext.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryEngine.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerTest.java
Labels: Area - Querying, Refactoring

#11550 SQL: Add is_active to sys.segments, update examples and docs.
  docs/querying/sql-metadata-tables.md
  integration-tests/src/test/resources/results/auth_test_sys_schema_segments.json
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  website/.spelling
Labels: Area - Documentation, Area - SQL

#12006 RemoteTaskRunner: Fix NPE in streamTaskReports.
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/tasklogs/FileTaskLogsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/OverlordBlinkLeadershipTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerRunPendingTasksConcurrencyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTestUtils.java
Labels: Bug, Area - Ingestion

#12541 Web console: fix go to segments not working
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/ingestion-view/__snapshots__/ingestion-view.spec.tsx.snap
  web-console/src/views/ingestion-view/ingestion-view.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
Labels: Bug, Area - Web Console

#12548 [Backport] Updates default inputSegmentSizeBytes in Compaction config (#12534)
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
Labels: Backport

#12551 Automatic compaction ignores maxColumnsToMerge from the TuningConfig setting
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/CompactionUtil.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionUpgradeTest.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionTaskQueryTuningConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/UserCompactionTaskQueryTuningConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/UserCompactionTaskQueryTuningConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIteratorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstPolicyTest.java
Labels: Bug, Area - Compaction

#12557 update to latest lz4
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#12556 Documentation: add camelCase capitalization to ZooKeeper
  docs/configuration/index.md
Labels: Area - Documentation

#12513 ConcurrentGrouper: Add mergeThreadLocal option, fix bug around the switch to spilling.
  docs/querying/groupbyquery.md
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/ConcurrentGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/SpillingGrouper.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/ConcurrentGrouperTest.java
  website/.spelling
Labels: Bug, Performance, Area - Querying

#12553 Suppress CVEs
  owasp-dependency-check-suppressions.xml
Labels: Area - Dependencies

#12558 Add error message for incorrectly ordered clause in sql
  sql/src/main/codegen/includes/insert.ftl
  sql/src/main/codegen/includes/replace.ftl
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
Labels: Area - SQL

#12560 Backport - Suppress CVEs (#12553)
  owasp-dependency-check-suppressions.xml
Labels: Backport

#12488 Emit state of replace and append for native batch tasks
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTaskUtils.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/OverlordCoordinatingSegmentAllocator.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/SegmentAllocators.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractBatchSubtask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PerfectRollupWorkerTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AbstractTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PerfectRollupWorkerTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionIOConfig.java
  server/src/main/java/org/apache/druid/segment/indexing/BatchIOConfig.java
  server/src/main/java/org/apache/druid/segment/indexing/IOConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/UserCompactionTaskIOConfig.java
  website/.spelling
Labels: Release Notes, Design Review, Area - Metrics/Event Emitting

#12562 Suppress false CVE on druid-indexing-hadoop artifact
  owasp-dependency-check-suppressions.xml
Labels: Area - Dependencies

#12563 Backport - Suppress false CVE on druid-indexing-hadoop artifact (#12562)
  owasp-dependency-check-suppressions.xml
Labels: Backport

#12564 make query context changes backwards compatible
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  server/src/main/java/org/apache/druid/server/QueryLifecycle.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/test/java/org/apache/druid/server/QueryLifecycleTest.java
Labels: Area - Querying, Compatibility, Area - Extension

#12408 Adding zstandard compression library
  benchmarks/src/test/java/org/apache/druid/benchmark/compression/BaseColumnarLongsBenchmark.java
  distribution/bin/check-licenses.py
  docs/development/extensions-core/kafka-supervisor-reference.md
  licenses.yaml
  pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/segment/data/CompressionStrategy.java
  processing/src/test/java/org/apache/druid/segment/data/CompressionStrategyTest.java
  processing/src/test/java/org/apache/druid/segment/data/TestColumnCompression.java
Labels: Release Notes, Area - Segment Format and Ser/De

#12576 fix virtual column cycle bug, sql virtual column optimize bug
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/test/java/org/apache/druid/segment/virtual/VirtualColumnsTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/DruidExpression.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
Labels: Bug, Area - Querying, Area - SQL

#12577 Add RowIdSupplier to ColumnSelectorFactory.
  processing/src/main/java/org/apache/druid/segment/ColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/RowBasedColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/RowIdSupplier.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinEngine.java
  processing/src/main/java/org/apache/druid/segment/virtual/BaseExpressionColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/RowBasedExpressionColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/SingleLongInputCachingExpressionColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/SingleStringInputCachingExpressionColumnValueSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/VirtualizedColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/segment/virtual/VirtualColumnsTest.java
Labels: Performance, Area - Querying

#12578 RowBasedColumnSelectorFactory: Add "useStringValueOfNullInLists" parameter.
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/segment/RowBasedColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/RowBasedCursor.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/transform/Transformer.java
  processing/src/test/java/org/apache/druid/query/filter/InDimFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVirtualColumnTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumnSelectorTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/VirtualizedColumnSelectorFactoryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
Labels: Area - Querying

#12584 fix test comment
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
Labels: Area - Testing, Area - Dev
