Repository apache/druid, pull requests merged in 2022-12, with the labels that each got.

#13343 doc: add a basic JDBC tutorial
  docs/querying/sql-jdbc.md
  docs/tutorials/tutorial-jdbc.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#13455 Web console: don't render duration if aggregated
  web-console/src/views/ingestion-view/ingestion-view.tsx
Labels: Bug, Area - Web Console

#13460 Fix hardcoded version in pom file
  integration-tests-ex/cases/pom.xml
Labels: Area - Dependencies

#13439 Add unit tests for MSQ ingestion faults
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQFaultsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - Testing, Area - MSQ

#13453 LDAP docs backport
  docs/development/extensions-core/druid-basic-security.md
  docs/operations/auth-ldap.md
  docs/operations/security-overview.md
  website/.spelling
Labels: Area - Documentation

#13268 Unnest functionality for Druid
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/main/java/org/apache/druid/query/UnnestDataSource.java
  processing/src/main/java/org/apache/druid/query/planning/DataSourceAnalysis.java
  processing/src/main/java/org/apache/druid/segment/UnnestColumnValueSelectorCursor.java
  processing/src/main/java/org/apache/druid/segment/UnnestDimensionCursor.java
  processing/src/main/java/org/apache/druid/segment/UnnestSegmentReference.java
  processing/src/main/java/org/apache/druid/segment/UnnestStorageAdapter.java
  processing/src/test/java/org/apache/druid/segment/ListCursor.java
  processing/src/test/java/org/apache/druid/segment/UnnestColumnValueSelectorCursorTest.java
  processing/src/test/java/org/apache/druid/segment/UnnestStorageAdapterTest.java
Labels: Area - Querying, Design Review

#13363 Switching emitter. This will allow for a per feed emitter designation.
  core/src/main/java/org/apache/druid/java/util/emitter/core/SwitchingEmitter.java
  core/src/test/java/org/apache/druid/java/util/emitter/core/SwitchingEmitterTest.java
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/emitter/EmitterModule.java
  server/src/main/java/org/apache/druid/server/emitter/SwitchingEmitterConfig.java
  server/src/main/java/org/apache/druid/server/emitter/SwitchingEmitterModule.java
  server/src/test/java/org/apache/druid/initialization/SwitchingEmitterModuleTest.java
Labels: Area - Metrics/Event Emitting

#13494 Docs: Update docs for coordinator dynamic config
  docs/configuration/index.md
Labels: Area - Documentation, Area - Segment Balancing/Coordination

#13491 Set chatAsync default to true.
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/development/extensions-core/kinesis-ingestion.md
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorTuningConfig.java
Labels: Area - Streaming Ingestion

#13502 Fix license checks failure in static-checks GHA
  .github/workflows/static-checks.yml
Labels: Development Blocker

#13495 Docs: Update docs for coordinator dynamic config (#13494)
  docs/configuration/index.md
Labels: Backport

#13499 fix issue with jetty graceful shutdown of data servers when druid.serverview.type=http
  server/src/main/java/org/apache/druid/guice/AnnouncerModule.java
  server/src/main/java/org/apache/druid/server/coordination/BatchDataSegmentAnnouncer.java
  server/src/main/java/org/apache/druid/server/coordination/ChangeRequestHistory.java
  server/src/test/java/org/apache/druid/server/coordination/ChangeRequestHistoryTest.java
Labels: Bug

#13420 fix bug with broker parallel merge metrics emitting
  core/src/main/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequence.java
  processing/src/main/java/org/apache/druid/query/DefaultQueryMetrics.java
  processing/src/main/java/org/apache/druid/query/QueryMetrics.java
  processing/src/main/java/org/apache/druid/query/search/DefaultSearchQueryMetrics.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
Labels: Bug, Area - Querying, Area - Metrics/Event Emitting

#13508 Better error message when theta_sketch_intersect is used on scalar expression
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSetBaseOperatorConversion.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
Labels: Area - SQL

#13503 Limit max batch size for segment allocation, add docs
  docs/configuration/index.md
  docs/ingestion/tasks.md
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLockConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/TaskActionTestKit.java
Labels: Area - Documentation

#13483 Update to native ingestion doc - backport
  docs/ingestion/native-batch.md
Labels: Area - Documentation, Backport

#13482 Update to native ingestion doc
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#13521 Fix typo in metric name
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
Labels: Area - Metrics/Event Emitting

#13475 Remove stray reference to fix OOM while merging sketches
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerSketchFetcherTest.java
Labels: Bug, Area - MSQ

#13517 [Backport] Limit max batch size for segment allocation, add docs (#13503)
  docs/configuration/index.md
  docs/ingestion/tasks.md
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLockConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/TaskActionTestKit.java
Labels: Backport

#13523 Web console: improve compaction status display
  web-console/src/dialogs/compaction-dialog/compaction-dialog.scss
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/druid-models/compaction-config/compaction-config.tsx
  web-console/src/druid-models/compaction-status/compaction-status.spec.ts
  web-console/src/druid-models/compaction-status/compaction-status.ts
  web-console/src/views/datasources-view/__snapshots__/datasources-view.spec.tsx.snap
  web-console/src/views/datasources-view/datasources-view.tsx
Labels: Area - Web Console, Area - Compaction

#13529 [Backport] Remove stray reference to fix OOM while merging sketches (#13475)
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerSketchFetcherTest.java
Labels: Backport, Area - MSQ

#13525 MSQ: Improve TooManyBuckets error message, improve error docs.
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/known-issues.md
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TooManyBucketsFault.java
Labels: Area - Documentation, Area - MSQ

#13527 Web console: update error anchors
  web-console/src/links.ts
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-error-pane/execution-error-pane.tsx
Labels: Bug, Area - Web Console

#13365 Druid automated quickstart
  docs/operations/python.md
  docs/operations/single-server.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  docs/tutorials/tutorial-batch-hadoop.md
  docs/tutorials/tutorial-kafka.md
  examples/bin/run-druid
  examples/bin/start-druid
  examples/bin/start-druid-main.py
  examples/bin/supervise
  examples/conf/druid/auto/_common/common.jvm.config
  examples/conf/druid/auto/_common/common.runtime.properties
  examples/conf/druid/auto/_common/log4j2.xml
  examples/conf/druid/auto/broker/runtime.properties
  examples/conf/druid/auto/coordinator-overlord/runtime.properties
  examples/conf/druid/auto/historical/runtime.properties
  examples/conf/druid/auto/indexer/runtime.properties
  examples/conf/druid/auto/middleManager/runtime.properties
  examples/conf/druid/auto/router/runtime.properties
  server/src/main/java/org/apache/druid/client/cache/CaffeineCache.java
  server/src/main/java/org/apache/druid/guice/StorageNodeModule.java
  server/src/test/java/org/apache/druid/guice/StorageNodeModuleTest.java
  web-console/src/variables.scss
  website/.spelling
Labels: Ease of Use, Area - Cli

#13542 [Backport] [13537] MSQ: Only look at sqlInsertSegmentGranularity on the outer query
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/QueryKitUtils.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPostShuffleFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPostShuffleFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorTest.java
Labels: Backport

#13533 [Backport] backport ux bug fixes to 25
  docs/development/extensions-core/datasketches-tuple.md
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/known-issues.md
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TooManyBucketsFault.java
  web-console/lib/keywords.js
  web-console/script/create-sql-docs.js
  web-console/src/bootstrap/react-table-defaults.tsx
  web-console/src/components/segment-timeline/segment-timeline.tsx
  web-console/src/dialogs/compaction-dialog/compaction-dialog.scss
  web-console/src/dialogs/compaction-dialog/compaction-dialog.tsx
  web-console/src/druid-models/compaction-config/compaction-config.tsx
  web-console/src/druid-models/compaction-status/compaction-status.spec.ts
  web-console/src/druid-models/compaction-status/compaction-status.ts
  web-console/src/druid-models/ingest-query-pattern/ingest-query-pattern.ts
  web-console/src/druid-models/metric-spec/metric-spec.tsx
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/helpers/execution/sql-task-execution.ts
  web-console/src/links.ts
  web-console/src/react-table/react-table-extra.scss
  web-console/src/views/datasources-view/__snapshots__/datasources-view.spec.tsx.snap
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/sql-data-loader-view/sql-data-loader-view.tsx
  web-console/src/views/workbench-view/connect-external-data-dialog/connect-external-data-dialog.tsx
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-error-pane/execution-error-pane.tsx
  web-console/src/views/workbench-view/input-source-step/example-inputs.ts
  web-console/src/views/workbench-view/input-source-step/input-source-step.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Backport, Area - Web Console

#13552 [Backport] Druid automated quickstart
  docs/operations/python.md
  docs/operations/single-server.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  docs/tutorials/tutorial-batch-hadoop.md
  docs/tutorials/tutorial-kafka.md
  examples/bin/run-druid
  examples/bin/start-druid
  examples/bin/start-druid-main.py
  examples/bin/supervise
  examples/conf/druid/auto/_common/common.jvm.config
  examples/conf/druid/auto/_common/common.runtime.properties
  examples/conf/druid/auto/_common/log4j2.xml
  examples/conf/druid/auto/broker/runtime.properties
  examples/conf/druid/auto/coordinator-overlord/runtime.properties
  examples/conf/druid/auto/historical/runtime.properties
  examples/conf/druid/auto/indexer/runtime.properties
  examples/conf/druid/auto/middleManager/runtime.properties
  examples/conf/druid/auto/router/runtime.properties
  server/src/main/java/org/apache/druid/client/cache/CaffeineCache.java
  server/src/main/java/org/apache/druid/guice/StorageNodeModule.java
  server/src/test/java/org/apache/druid/guice/StorageNodeModuleTest.java
  web-console/src/variables.scss
  website/.spelling
Labels: Backport

#13550 Druid automated quickstart: zookeeper in service list
  examples/bin/start-druid-main.py
Labels: Area - Cli

#13394 Zero-copy local deep storage.
  core/src/main/java/org/apache/druid/java/util/common/FileUtils.java
  core/src/test/java/org/apache/druid/java/util/common/FileUtilsTest.java
  docs/dependencies/deep-storage.md
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsDataSegmentPusher.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  server/src/main/java/org/apache/druid/segment/loading/LocalDataSegmentKiller.java
  server/src/main/java/org/apache/druid/segment/loading/LocalDataSegmentPuller.java
  server/src/main/java/org/apache/druid/segment/loading/LocalDataSegmentPusher.java
  server/src/main/java/org/apache/druid/segment/loading/LocalDataSegmentPusherConfig.java
  server/src/test/java/org/apache/druid/segment/loading/LocalDataSegmentKillerTest.java
  server/src/test/java/org/apache/druid/segment/loading/LocalDataSegmentPusherTest.java
  website/.spelling
Labels: Performance

#13501 Analysis refactor
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/DataSourceOptimizer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/InputNumberDataSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunner.java
  processing/src/main/java/org/apache/druid/query/BaseQuery.java
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/main/java/org/apache/druid/query/InlineDataSource.java
  processing/src/main/java/org/apache/druid/query/JoinDataSource.java
  processing/src/main/java/org/apache/druid/query/LookupDataSource.java
  processing/src/main/java/org/apache/druid/query/Queries.java
  processing/src/main/java/org/apache/druid/query/QueryDataSource.java
  processing/src/main/java/org/apache/druid/query/TableDataSource.java
  processing/src/main/java/org/apache/druid/query/UnionDataSource.java
  processing/src/main/java/org/apache/druid/query/UnionQueryRunner.java
  processing/src/main/java/org/apache/druid/query/UnnestDataSource.java
  processing/src/main/java/org/apache/druid/query/planning/DataSourceAnalysis.java
  processing/src/test/java/org/apache/druid/query/planning/DataSourceAnalysisTest.java
  processing/src/test/java/org/apache/druid/segment/join/NoopDataSource.java
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/ServerViewUtil.java
  server/src/main/java/org/apache/druid/segment/join/BroadcastTableJoinableFactory.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManager.java
  server/src/main/java/org/apache/druid/server/ClientInfoResource.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/SegmentManager.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  server/src/test/java/org/apache/druid/client/BrokerServerViewTest.java
  server/src/test/java/org/apache/druid/client/SimpleServerView.java
  server/src/test/java/org/apache/druid/server/SegmentManagerTest.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/server/coordination/ServerManagerTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalDataSource.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentDataCacheConcurrencyTest.java
Labels: Refactoring

#13520 Add InputStats to track bytes processed by a task
  core/src/main/java/org/apache/druid/data/input/BytesCountingInputEntity.java
  core/src/main/java/org/apache/druid/data/input/InputSourceReader.java
  core/src/main/java/org/apache/druid/data/input/InputStats.java
  core/src/main/java/org/apache/druid/data/input/impl/FirehoseToInputSourceReaderAdaptor.java
  core/src/main/java/org/apache/druid/data/input/impl/InputEntityIteratingReader.java
  core/src/main/java/org/apache/druid/data/input/impl/TimedShutoffInputSourceReader.java
  core/src/main/java/org/apache/druid/java/util/common/FileUtils.java
  core/src/test/java/org/apache/druid/data/input/BytesCountingInputEntityTest.java
  core/src/test/java/org/apache/druid/data/input/impl/InputEntityIteratingReaderTest.java
  core/src/test/java/org/apache/druid/data/input/impl/InputStatsImpl.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/data/input/aliyun/OssInputSourceTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSourceTest.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/CountableInputSourceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/NilInputSource.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/stats/DropwizardRowIngestionMeters.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/stats/TaskRealtimeMetricsMonitor.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentInputFormat.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentReader.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidTombstoneSegmentReader.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/GeneratorInputSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/StreamChunkParser.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ParseExceptionReport.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/MultiPhaseParallelIndexingRowStatsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidSegmentReaderTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  processing/src/main/java/org/apache/druid/segment/generator/DataGenerator.java
  processing/src/main/java/org/apache/druid/segment/incremental/NoopRowIngestionMeters.java
  processing/src/main/java/org/apache/druid/segment/incremental/RowIngestionMeters.java
  processing/src/main/java/org/apache/druid/segment/incremental/RowIngestionMetersTotals.java
  processing/src/main/java/org/apache/druid/segment/incremental/SimpleRowIngestionMeters.java
  processing/src/main/java/org/apache/druid/segment/transform/TransformingInputSourceReader.java
  processing/src/test/java/org/apache/druid/segment/incremental/RowMeters.java
  processing/src/test/java/org/apache/druid/segment/incremental/SimpleRowIngestionMetersTest.java
  server/src/main/java/org/apache/druid/metadata/input/SqlReader.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataStorageActionHandlerTest.java
  server/src/test/java/org/apache/druid/metadata/input/SqlEntityTest.java
  server/src/test/java/org/apache/druid/metadata/input/SqlInputSourceTest.java
  server/src/test/java/org/apache/druid/metadata/input/SqlTestUtils.java
  server/src/test/java/org/apache/druid/segment/loading/NoopSegmentCacheManager.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/SqlFirehoseFactoryTest.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentLoadDropHandlerTest.java
Labels: Area - Ingestion

#13562 [Backport] Zero-copy local deep storage. (#13394)
  core/src/main/java/org/apache/druid/java/util/common/FileUtils.java
  core/src/test/java/org/apache/druid/java/util/common/FileUtilsTest.java
  docs/dependencies/deep-storage.md
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsDataSegmentPusher.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  server/src/main/java/org/apache/druid/segment/loading/LocalDataSegmentKiller.java
  server/src/main/java/org/apache/druid/segment/loading/LocalDataSegmentPuller.java
  server/src/main/java/org/apache/druid/segment/loading/LocalDataSegmentPusher.java
  server/src/main/java/org/apache/druid/segment/loading/LocalDataSegmentPusherConfig.java
  server/src/test/java/org/apache/druid/segment/loading/LocalDataSegmentKillerTest.java
  server/src/test/java/org/apache/druid/segment/loading/LocalDataSegmentPusherTest.java
  website/.spelling
Labels: Backport

#13553 Use template file for adding table functions grammar
  sql/edit-parser.py
  sql/pom.xml
  sql/src/main/codegen/config.fmpp
  sql/src/main/codegen/includes/from.ftl
Labels: Area - SQL

#13478 Link to java docs
  docs/tutorials/index.md
  examples/bin/verify-java
Labels: Area - Documentation

#13463 Multiple fixes for the MSQ stats merging piece which
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ExceptionWrappingWorkerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/WorkerChatHandler.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/worker/WorkerStageKernel.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/ClusterByStatisticsSnapshot.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerImplTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerSketchFetcherAutoModeTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerSketchFetcherTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/WorkerChatHandlerTest.java
Labels: Bug, Area - MSQ

#13563 Druid quickstart: Update task memory computation
  examples/bin/start-druid-main.py
Labels: Ease of Use, Area - Cli

#13566 [backport] Link to java docs (#13478)
  docs/tutorials/index.md
  examples/bin/verify-java
Labels: Backport

#13561 fix cool nested column bug caused by not properly validating that global id is present in global dictionary before lookup up local id
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralDictionaryEncodedColumn.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
Labels: Bug, Area - Querying

#13557 Suppress CVE-2022-1471 from snakeyaml
  owasp-dependency-check-suppressions.xml
Labels: Security, Area - Dependencies

#13559 Track input processedBytes with MSQ ingestion
  docs/ingestion/tasks.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/counters/ChannelCounters.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/external/ExternalInputSliceReader.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CounterSnapshotBuilder.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - Metrics/Event Emitting, Area - MSQ

#13345 docs: notebook only for API tutorial
  .gitignore
  examples/quickstart/jupyter-notebooks/api-tutorial.ipynb
Labels: Area - Documentation

#13466 SQL: Improve docs around casts.
  docs/querying/sql-data-types.md
Labels: Area - Documentation, Area - SQL

#13568 improve nested column storage format for broader compatibility
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/GlobalDictionaryEncodedFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnV3.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnV4.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedPathFinder.java
  processing/src/main/java/org/apache/druid/segment/nested/StructuredDataProcessor.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/resources/nested_segment_v3/index.zip
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Segment Format and Ser/De

#13572 [Backport] Fix cool nested column bug caused by not properly validating that global id is present in global dictionary before lookup local id (#13561)
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralDictionaryEncodedColumn.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
Labels: Backport

#13578 [backport] SQL: Improve docs around casts. (#13466)
  docs/querying/sql-data-types.md
Labels: Backport

#13579 [Backport] improve nested column storage format for broader compatibility
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/GlobalDictionaryEncodedFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnV3.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnV4.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedPathFinder.java
  processing/src/main/java/org/apache/druid/segment/nested/StructuredDataProcessor.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/resources/nested_segment_v3/index.zip
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Backport

#13573 allow string dimension indexer to handle byte[] as base64 strings
  examples/bin/generate-example-metrics
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtoTestEventWrapper.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputFormatTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputRowParserTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufReaderTest.java
  extensions-core/protobuf-extensions/src/test/resources/ProtoTest.proto
  extensions-core/protobuf-extensions/src/test/resources/prototest.desc
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
  processing/src/test/java/org/apache/druid/segment/StringDimensionIndexerTest.java
Labels: Bug

#13584 [Backport] Druid quickstart: Monotonic task count
  examples/bin/start-druid-main.py
Labels: Backport

#13582 [Backport] allow string dimension indexer to handle byte[] as base64 strings (#13573)
  examples/bin/generate-example-metrics
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtoTestEventWrapper.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputFormatTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputRowParserTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufReaderTest.java
  extensions-core/protobuf-extensions/src/test/resources/ProtoTest.proto
  extensions-core/protobuf-extensions/src/test/resources/prototest.desc
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
  processing/src/test/java/org/apache/druid/segment/StringDimensionIndexerTest.java
Labels: Backport

#13585 Suppress CVE-2022-45685 and CVE-2022-45693 from jettison-1.3
  owasp-dependency-check-suppressions.xml
Labels: Security, Area - Dependencies

#13342 docs: add index page and related stuff for jupyter tutorials
  .gitignore
  docs/tutorials/tutorial-jupyter-index.md
  examples/quickstart/jupyter-notebooks/README.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#13586 Web console: fix preview dropping out of MSQ mode
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
Labels: Bug, Area - Web Console

#13587 [backport] Web console: fix preview dropping out of MSQ mode
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
Labels: Bug, Backport, Area - Web Console

#13589 [Backport] docs: Jupyter tutorial
  .gitignore
  docs/tutorials/tutorial-jupyter-index.md
  examples/quickstart/jupyter-notebooks/README.md
  examples/quickstart/jupyter-notebooks/api-tutorial.ipynb
  website/.spelling
  website/sidebars.json
Labels: Backport

#13590 Suppress CVEs for Hadoop3 profile
  owasp-dependency-check-suppressions.xml
Labels: Security, Area - Dependencies

#13524 Document shouldFinalize for sketches that have the parameter
  docs/development/extensions-core/datasketches-hll.md
  docs/development/extensions-core/datasketches-kll.md
  docs/development/extensions-core/datasketches-quantiles.md
  docs/development/extensions-core/datasketches-theta.md
  docs/development/extensions-core/datasketches-tuple.md
Labels: Area - Documentation

#13591 [Backport] docs: DataSketches
  docs/development/extensions-core/datasketches-hll.md
  docs/development/extensions-core/datasketches-kll.md
  docs/development/extensions-core/datasketches-quantiles.md
  docs/development/extensions-core/datasketches-theta.md
  docs/development/extensions-core/datasketches-tuple.md
Labels: Backport

#13534 LocalInputSource: Serialize File paths without forcing resolution.
  core/src/main/java/org/apache/druid/data/input/impl/LocalInputSource.java
  core/src/test/java/org/apache/druid/data/input/impl/LocalInputSourceTest.java
  docs/multi-stage-query/reference.md
Labels: Bug

#13593 Fix scope of dependencies in protobuf-extensions
  extensions-core/protobuf-extensions/pom.xml
Labels: Development Blocker, Area - Dependencies

#13599 [Backport] Fix scope of dependencies in protobuf-extensions pom (#13593)
  extensions-core/protobuf-extensions/pom.xml
Labels: Backport

#13545 perf: core/TextReader for faster json ingestion
  benchmarks/src/test/java/org/apache/druid/benchmark/JsonLineReaderBenchmark.java
  core/pom.xml
  core/src/main/java/org/apache/druid/data/input/TextReader.java
  core/src/main/java/org/apache/druid/data/input/impl/FastLineIterator.java
  core/src/main/java/org/apache/druid/java/util/common/StringUtils.java
  core/src/test/java/org/apache/druid/data/input/impl/FastLineIteratorTest.java
  pom.xml
Labels: Performance, Area - Ingestion

#13477 Add CodeQL workflow
  .github/workflows/codeql-config.yml
  .github/workflows/codeql.yml
  pom.xml
Labels: Area - Dev

#13608 fix issue with jdbc and query metrics
  sql/src/main/java/org/apache/druid/sql/avatica/DruidJdbcResultSet.java
Labels: Bug, Area - SQL

#13602 Unify DummyRequest with MockHttpServletRequest
  extensions-core/druid-catalog/src/test/java/org/apache/druid/server/http/catalog/CatalogResourceTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/server/http/catalog/DummyRequest.java
  server/src/test/java/org/apache/druid/server/mocks/MockAsyncContext.java
  server/src/test/java/org/apache/druid/server/mocks/MockHttpServletRequest.java
  server/src/test/java/org/apache/druid/server/mocks/MockHttpServletResponse.java
Labels: Area - Testing, Refactoring

#13611 Docs: Update quickstart instructions
  docs/tutorials/index.md
Labels: Area - Documentation

#13614 [Backport] Docs: Update quickstart instructions (#13611)
  docs/tutorials/index.md
Labels: Backport

#13610 [Backport] fix issue with jdbc and query metrics
  sql/src/main/java/org/apache/druid/sql/avatica/DruidJdbcResultSet.java
Labels: Backport

#13558 Fix shutdown in httpRemote task runner
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
Labels: Bug, Area - Metrics/Event Emitting, Area - Ingestion

#13616 Use correct ObjectMapper in BloomFilterSqlAggregatorTest
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
Labels: Bug

#13604 Upgrade to netty 4.1.86.Final to address CVEs
  extensions-contrib/kubernetes-overlord-extensions/pom.xml
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Security, Area - Dependencies

#13615 Web console: tidy up stage UI
  web-console/src/druid-models/workbench-query/workbench-query-part.ts
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/workbench-view/column-tree/column-tree.tsx
  web-console/src/views/workbench-view/execution-stages-pane/execution-stages-pane.scss
  web-console/src/views/workbench-view/execution-stages-pane/execution-stages-pane.tsx
Labels: Area - Web Console
