Repository apache/druid, pull requests merged in 2022-04, with the labels that each got.

#12381 Updating default inputSegmentSizeBytes to Long.MAX_VALUE
  docs/configuration/index.md
  integration-tests/docker/test-data/upgrade-sample-data.sql
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  web-console/src/components/auto-form/auto-form.spec.tsx
  web-console/src/dialogs/compaction-dialog/__snapshots__/compaction-dialog.spec.tsx.snap
  web-console/src/druid-models/compaction-config.tsx
Labels: Release Notes, Area - Web Console, Area - Compaction

#12370 Package kinesis client jar within the extension
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/kinesis-indexing-service/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#12223 Method to specify eternity in the scan query builder
  processing/src/main/java/org/apache/druid/query/Druids.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerTest.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
Labels: Area - Testing

#12395 upgrade surefire 3.0.0-M6
  .travis.yml
  pom.xml
Labels: Area - Dependencies

#12389 Document config for ingesting null columns
  docs/configuration/index.md
  docs/ingestion/native-batch-simple-task.md
  docs/ingestion/native-batch.md
  docs/ingestion/tasks.md
  website/.spelling
Labels: Area - Documentation

#12362 docs(fix): add clarity around granularitySpec
  docs/ingestion/compaction.md
Labels: Area - Documentation

#12394 Document data format and example for featureSpec
  docs/ingestion/data-formats.md
Labels: Area - Documentation, Area - Ingestion

#12403 Web console: clean up some bp3 classes
  web-console/src/components/center-message/__snapshots__/center-message.spec.tsx.snap
  web-console/src/components/center-message/center-message.tsx
  web-console/src/components/show-log/show-log.tsx
  web-console/src/dialogs/query-history-dialog/__snapshots__/query-history-dialog.spec.tsx.snap
Labels: Area - Web Console, Area - Dependencies

#12405 fix(docs): clarify what s3 permissions are needed based on the access management type
  docs/development/extensions-core/s3.md
Labels: Area - Documentation, Area - Operations

#12340 Fix the other 2 python scripts that generates license.
  distribution/bin/generate-binary-license.py
  distribution/bin/generate-binary-notice.py
Labels: Area - Dev

#12390 Update index.md
  docs/configuration/index.md
Labels: Area - Documentation

#12185 Add a new flag for ingestion to preserve existing metrics
  core/src/main/java/org/apache/druid/data/input/InputRowSchema.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/InputRowSchemas.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidInputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/InputRowSchemasTest.java
  integration-tests/pom.xml
  integration-tests/src/main/java/org/apache/druid/testing/utils/CompactionUtil.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionUpgradeTest.java
  integration-tests/src/test/resources/indexer/wikipedia_index_no_rollup_preserve_metric.json
  integration-tests/src/test/resources/indexer/wikipedia_index_rollup_preserve_metric.json
  integration-tests/src/test/resources/indexer/wikipedia_index_sketch_queries.json
  processing/src/main/java/org/apache/druid/segment/incremental/AppendableIndexBuilder.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
  processing/src/test/java/org/apache/druid/segment/data/IncrementalIndexTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/OnheapIncrementalIndexBenchmark.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionTaskQueryTuningConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/UserCompactionTaskQueryTuningConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/UserCompactionTaskQueryTuningConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIteratorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstPolicyTest.java
Labels: Area - Batch Ingestion, Design Review, Area - Compaction

#12410 Bump PostgreSQL JDBC driver to 42.3.3 (CVE-2022-21724)
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#12361 Web console: Misc fixes and improvements
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/script/cp-to
  web-console/src/components/table-cell/__snapshots__/table-cell.spec.tsx.snap
  web-console/src/components/table-cell/table-cell.spec.tsx
  web-console/src/components/table-cell/table-cell.tsx
  web-console/src/dialogs/show-value-dialog/show-value-dialog.tsx
  web-console/src/druid-models/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec.tsx
  web-console/src/druid-models/metric-spec.tsx
  web-console/src/utils/general.spec.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/object-change.ts
  web-console/src/variables.scss
  web-console/src/views/query-view/column-tree/column-tree.tsx
  web-console/src/views/query-view/explain-dialog/explain-dialog.tsx
  web-console/src/views/query-view/query-utils.ts
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.scss
  web-console/src/views/segments-view/segments-view.tsx
Labels: Bug, Area - Web Console

#12387 Add Kinesis ListShards permission
  docs/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation

#12428 Fix indexMerger to respect the includeAllDimensions flag
  core/src/main/java/org/apache/druid/data/input/impl/JsonInputFormat.java
  core/src/test/java/org/apache/druid/data/input/impl/JsonInputFormatTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionMultiPhaseParallelIndexingWithNullColumnTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/MultiPhaseParallelIndexingWithNullColumnTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
Labels: Bug, Area - Ingestion

#12415 Add docs to metric spec for auto compaction
  docs/configuration/index.md
Labels: Area - Documentation, Area - Compaction

#12429 fix issue with boolean expression input
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/test/java/org/apache/druid/math/expr/EvalTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/segment/transform/TransformSpecTest.java
Labels: Bug, Area - Ingestion

#12418 Handling planning with alias for time for group by and order by
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidOuterQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - SQL

#12417 Use binary search to improve DimensionRangeShardSpec lookup
  core/src/main/java/org/apache/druid/timeline/partition/BaseDimensionRangeShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/DimensionRangeBucketShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/DimensionRangeShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/SingleDimensionRangeBucketShardSpec.java
  core/src/main/java/org/apache/druid/timeline/partition/SingleDimensionShardSpec.java
  core/src/test/java/org/apache/druid/timeline/partition/DimensionRangeShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/SingleDimensionRangeBucketShardSpecTest.java
  core/src/test/java/org/apache/druid/timeline/partition/SingleDimensionShardSpecTest.java
Labels: Performance

#12392 Make tombstones ingestible by having them return an empty result set.
  core/src/main/java/org/apache/druid/common/guava/GuavaUtils.java
  core/src/main/java/org/apache/druid/data/input/InputEntity.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentInputEntity.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentInputFormat.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentReader.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidTombstoneSegmentReader.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/DimensionCardinalityReportTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidSegmentInputFormatTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidSegmentReaderTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
Labels: Improvement, Area - Compaction

#11988 Update tutorial-compaction.md to change an unclear statement
  docs/tutorials/tutorial-compaction.md
Labels: Area - Documentation

#11935 Docs - added another common config property to tuningConfig
  docs/ingestion/ingestion-spec.md
Labels: Area - Documentation, stale

#12397 Fail fast incase a lookup load fails
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/CacheScheduler.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/CacheSchedulerTest.java
Labels: Area - Lookups

#12143 Docs: small typo
  docs/ingestion/ingestion-spec.md
Labels: Area - Documentation, stale

#11584 Docs - query caching
  docs/design/historical.md
  docs/operations/basic-cluster-tuning.md
  docs/querying/caching.md
  docs/querying/using-caching.md
Labels: Area - Documentation

#12442 Document recommendation for comparing strings and numbers in SQL queries
  docs/querying/sql-syntax.md
Labels: Area - Documentation

#12440 Document running it tests from intellij IDE
  integration-tests/README.md
Labels: Area - Dev

#12447 Remove h2 database from dependency
  processing/pom.xml
Labels: Area - Dependencies

#11896 Document expression post-aggregators
  docs/querying/post-aggregations.md
Labels: Area - Documentation

#12450 Updating an error msg
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
Labels: Ease of Use, Area - Querying

#12427 issue-12426 upgrade k8s client due to cve
  extensions-core/kubernetes-extensions/pom.xml
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/DefaultK8sApiClient.java
  licenses.yaml
Labels: Area - Dependencies

#12422 update httpclient due to cve
  pom.xml
Labels: Security, Area - Dependencies

#12445 Fixes GCS based ingestion
  core/src/main/java/org/apache/druid/data/input/impl/CloudObjectLocation.java
  core/src/test/java/org/apache/druid/data/input/impl/CloudObjectLocationTest.java
Labels: Area - Ingestion

#12464 Emit vectorized metric dimension by default
  processing/src/main/java/org/apache/druid/query/DefaultQueryMetrics.java
  processing/src/test/java/org/apache/druid/query/DefaultQueryMetricsTest.java
Labels: Release Notes, Area - Metrics/Event Emitting

#12396 Add support for authorizing query context params
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/MaterializedViewQuery.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchApproxQuantileSqlAggregator.java
  integration-tests/docker/environment-configs/common
  integration-tests/docker/environment-configs/common-ldap
  integration-tests/docker/ldap-configs/bootstrap.ldif
  integration-tests/src/main/java/org/apache/druid/testing/utils/HttpUtil.java
  integration-tests/src/test/java/org/apache/druid/tests/security/AbstractAuthConfigurationTest.java
  integration-tests/src/test/java/org/apache/druid/tests/security/ITBasicAuthConfigurationTest.java
  integration-tests/src/test/java/org/apache/druid/tests/security/ITBasicAuthLdapConfigurationTest.java
  processing/src/main/java/org/apache/druid/query/BaseQuery.java
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/select/SelectQuery.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQuerySpecTest.java
  server/src/main/java/org/apache/druid/server/QueryLifecycle.java
  server/src/main/java/org/apache/druid/server/QueryLifecycleFactory.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/main/java/org/apache/druid/server/security/AuthConfig.java
  server/src/main/java/org/apache/druid/server/security/ResourceType.java
  server/src/test/java/org/apache/druid/guice/security/DruidAuthModuleTest.java
  server/src/test/java/org/apache/druid/server/QueryLifecycleTest.java
  server/src/test/java/org/apache/druid/server/security/AuthConfigTest.java
  sql/src/main/java/org/apache/druid/sql/SqlLifecycle.java
  sql/src/main/java/org/apache/druid/sql/SqlLifecycleFactory.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidConnection.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidStatement.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/DruidViewMacro.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/SqlLifecycleTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DruidPlannerResourceAnalyzeTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/external/ExternalTableScanRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/rule/DruidJoinRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Querying, Release Notes, Design Review, Security

#12466 Document that stringFirst and stringLast aggregators are supported in ingestion
  docs/querying/aggregations.md
Labels: Area - Documentation

#12369 Metrics for shenandoah
  core/src/main/java/org/apache/druid/java/util/metrics/JvmMonitor.java
Labels: Area - Metrics/Event Emitting

#12470 Fix formatting in stats.md
  docs/development/extensions-core/stats.md
Labels: Area - Documentation

#12478 Docs - Native batch sample JSON indents
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#12451 Enable Arm builds
  .travis.yml
  core/src/test/java/org/apache/druid/java/util/metrics/MonitorsTest.java
  core/src/test/java/org/apache/druid/java/util/metrics/SigarLoadTest.java
  core/src/test/java/org/apache/druid/java/util/metrics/SigarPidDiscovererTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/hadoop/DatasourceIngestionSpecTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
Labels: Area - Testing, Compatibility

#12439 Vectorize numeric latest aggregators
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/DoubleLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/DoubleLastVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/FloatLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/FloatLastVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/LongLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/LongLastVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastVectorAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/DoubleLastVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/FloatLastVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/LongLastVectorAggregatorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Performance, Area - Querying

#12431 Validate select columns for insert statement
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
Labels: Area - SQL

#12475 For the various Yielder objects, don't create new Yielders and instead mutate state.
  core/src/main/java/org/apache/druid/common/guava/CombiningSequence.java
  core/src/main/java/org/apache/druid/java/util/common/guava/BaseSequence.java
  core/src/main/java/org/apache/druid/java/util/common/guava/WrappingYielder.java
  core/src/main/java/org/apache/druid/java/util/common/guava/Yielder.java
  core/src/test/java/org/apache/druid/common/guava/CombiningSequenceTest.java
Labels: Performance, Area - Querying

#12469 JvmMonitor: Handle more generation and collector scenarios.
  benchmarks/pom.xml
  core/pom.xml
  core/src/main/java/org/apache/druid/java/util/metrics/JvmMonitor.java
  core/src/test/java/org/apache/druid/java/util/metrics/JvmMonitorTest.java
  pom.xml
  processing/pom.xml
Labels: Area - Metrics/Event Emitting

#12407 SQL: Create millisecond precision timestamp literals.
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CurrentTimestampSqlFunction.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidConvertletTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidTypeSystem.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
Labels: Bug, Area - SQL

#12468 Reduce allocations due to Jackson serialization.
  codestyle/druid-forbidden-apis.txt
  core/src/main/java/org/apache/druid/java/util/common/jackson/JacksonUtils.java
  core/src/test/java/org/apache/druid/common/jackson/JacksonUtilsTest.java
  core/src/test/java/org/apache/druid/data/input/impl/prefetch/JsonIteratorTest.java
  docs/querying/groupbyquery.md
  processing/src/main/java/org/apache/druid/jackson/DruidDefaultSerializersModule.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/SpillingGrouper.java
  processing/src/test/java/org/apache/druid/jackson/DefaultObjectMapperTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
  server/src/main/java/org/apache/druid/client/cache/BackgroundCachePopulator.java
  server/src/main/java/org/apache/druid/client/cache/ForegroundCachePopulator.java
  server/src/main/java/org/apache/druid/metadata/input/SqlEntity.java
  server/src/main/java/org/apache/druid/query/ResultLevelCachingQueryRunner.java
  server/src/test/java/org/apache/druid/client/CachingQueryRunnerTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/SqlFirehoseTest.java
  sql/src/main/java/org/apache/druid/sql/http/ArrayLinesWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ArrayWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectLinesWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectWriter.java
Labels: Area - Querying, Release Notes

#12477 DimensionRangeShardSpec speed boost.
  benchmarks/src/test/java/org/apache/druid/timeline/DimensionRangeShardSpecBenchmark.java
  core/src/main/java/org/apache/druid/timeline/partition/DimensionRangeShardSpec.java
  core/src/test/java/org/apache/druid/timeline/partition/DimensionRangeShardSpecTest.java
Labels: Performance, Area - Querying

#12335 Improve exception message for native binary operators
  core/src/main/java/org/apache/druid/math/expr/BinaryOperatorExpr.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
Labels: Area - Querying

#12460 remove arbitrary granularity spec from docs
  docs/ingestion/ingestion-spec.md
  docs/tutorials/tutorial-ingestion-spec.md
Labels: Area - Documentation
