Repository apache/druid, pull requests merged in 2022-09, with the labels that each got.

#13016 Improve range partitioning docs.
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#13013 Web console: don't crash if cookies are totally disabled
  web-console/e2e-tests/util/playwright.ts
  web-console/src/dialogs/numeric-input-dialog/numeric-input-dialog.tsx
  web-console/src/utils/local-storage-keys.tsx
  web-console/src/views/workbench-view/max-tasks-button/max-tasks-button.tsx
Labels: Bug, Area - Web Console

#12950 Ease of hidding sensitive properties from /status/proper…
  docs/configuration/index.md
  examples/conf/druid/cluster/_common/common.runtime.properties
  examples/conf/druid/single-server/large/_common/common.runtime.properties
  examples/conf/druid/single-server/medium/_common/common.runtime.properties
  examples/conf/druid/single-server/micro-quickstart/_common/common.runtime.properties
  examples/conf/druid/single-server/nano-quickstart/_common/common.runtime.properties
  examples/conf/druid/single-server/small/_common/common.runtime.properties
  examples/conf/druid/single-server/xlarge/_common/common.runtime.properties
  server/src/main/java/org/apache/druid/client/DruidServerConfig.java
  server/src/main/java/org/apache/druid/server/StatusResource.java
  server/src/test/java/org/apache/druid/server/StatusResourceTest.java
  server/src/test/resources/status.resource.test.runtime.hpc.properties
Labels: Area - Operations, Security

#13018 [Backport] Web console: don't crash if cookies are totally disabled (#13013)
  web-console/e2e-tests/util/playwright.ts
  web-console/src/dialogs/numeric-input-dialog/numeric-input-dialog.tsx
  web-console/src/utils/local-storage-keys.tsx
  web-console/src/views/workbench-view/max-tasks-button/max-tasks-button.tsx
Labels: Bug, Backport, Area - Web Console

#10705 compressed big decimal - module
  docs/development/extensions-contrib/compressed-big-decimal.md
  docs/development/extensions.md
  extensions-contrib/compressed-bigdecimal/pom.xml
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/ArrayCompressedBigDecimal.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/ByteBufferCompressedBigDecimal.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimal.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregateCombiner.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregator.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregatorFactory.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalBufferAggregator.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalColumn.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalColumnPartSupplier.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalJsonSerializer.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalLongColumnSerializer.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalMetricSerde.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalModule.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalObjectStrategy.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/ObjBiIntConsumer.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/Utils.java
  extensions-contrib/compressed-bigdecimal/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/AggregatorCombinerFactoryTest.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/ArrayCompressedBigDecimalTest.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregatorGroupByTest.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregatorTimeseriesTest.java
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_aggregators.json
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_data.csv
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_data_parser.json
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_groupby_query.json
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_timeseries_query.json
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_zero_data.csv
  pom.xml
  website/.spelling
Labels: Area - Querying, Area - Segment Format and Ser/De, Area - Extension

#13029 Fix compiler error on kafka-emitter
  extensions-contrib/kafka-emitter/pom.xml
Labels: Area - Dev

#12983 msq: add multi-stage-query docs
  docs/assets/multi-stage-query/msq-ui-download-query-results.png
  docs/assets/multi-stage-query/tutorial-msq-convert.png
  docs/assets/multi-stage-query/ui-annotated.png
  docs/assets/multi-stage-query/ui-empty.png
  docs/assets/tutorial-quickstart-02.png
  docs/assets/tutorial-quickstart-03.png
  docs/assets/tutorial-quickstart-04.png
  docs/assets/tutorial-quickstart-05.png
  docs/development/extensions.md
  docs/multi-stage-query/index.md
  docs/multi-stage-query/msq-api.md
  docs/multi-stage-query/msq-concepts.md
  docs/multi-stage-query/msq-example-queries.md
  docs/multi-stage-query/msq-known-issues.md
  docs/multi-stage-query/msq-reference.md
  docs/multi-stage-query/msq-security.md
  docs/multi-stage-query/msq-tutorial-connect-external-data.md
  docs/multi-stage-query/msq-tutorial-convert-ingest-spec.md
  docs/operations/druid-console.md
  docs/operations/security-user-auth.md
  docs/tutorials/docker.md
  docs/tutorials/index.md
  docs/tutorials/tutorial-batch-native.md
  docs/tutorials/tutorial-msq-connect-extern.md
  docs/tutorials/tutorial-msq-convert-json.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation, Area - MSQ

#13017 Web console: upgrade the console to use node 16
  .travis.yml
  web-console/package-lock.json
  web-console/package.json
  web-console/pom.xml
Labels: Area - Web Console, Area - Dev, Area - Dependencies

#13009 Add CTA and fix typo
  .gitignore
  examples/bin/greet
  examples/bin/supervise
  examples/conf/supervise/single-server/large.conf
  examples/conf/supervise/single-server/medium.conf
  examples/conf/supervise/single-server/micro-quickstart.conf
  examples/conf/supervise/single-server/nano-quickstart.conf
  examples/conf/supervise/single-server/small.conf
  examples/conf/supervise/single-server/xlarge.conf
Labels: Bug

#13033 remove mentions of DruidQueryRel from docs
  docs/querying/sql-translation.md
Labels: Bug, Area - Documentation

#12946 Nested columns documentation
  docs/assets/nested-combined-json.png
  docs/assets/nested-display-data-types.png
  docs/assets/nested-examine-schema.png
  docs/assets/nested-extract-as-type.png
  docs/assets/nested-extract-elements.png
  docs/assets/nested-group-aggregate.png
  docs/assets/nested-msq-ingestion-transform.png
  docs/assets/nested-msq-ingestion.png
  docs/assets/nested-parse-deserialize.png
  docs/assets/nested-retrieve-json.png
  docs/assets/nested-return-json.png
  docs/ingestion/data-formats.md
  docs/ingestion/ingestion-spec.md
  docs/ingestion/schema-design.md
  docs/misc/math-expr.md
  docs/querying/nested-columns.md
  docs/querying/sql-data-types.md
  docs/querying/sql-json-functions.md
  docs/querying/virtual-columns.md
  website/sidebars.json
Labels: Area - Documentation

#12879 Improve String Last/First Storage Efficiency
  processing/src/main/java/org/apache/druid/jackson/AggregatorsModule.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongStringBufferStore.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongStringColumnHeader.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongStringColumnSerializer.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongStringComplexColumn.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongStringComplexMetricSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongStringDeltaEncodedStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongStringSimpleStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializedStorage.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/BlockCompressedPayloadBuffer.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/BlockCompressedPayloadBufferFactory.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/BlockCompressedPayloadReader.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/BlockCompressedPayloadSerializer.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/BlockCompressedPayloadWriter.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/BlockIndexWriter.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/ByteBufferProvider.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/CellIndexReader.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/CellIndexWriter.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/CellReader.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/CellWriter.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/IOIterator.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/IndexWriter.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/IntIndexView.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/IntSerializer.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/LongSerializer.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/NativeClearedByteBufferProvider.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/NumberSerializer.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/PayloadEntrySpan.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/StagedSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/cell/StorableBuffer.java
  processing/src/test/java/org/apache/druid/query/aggregation/SerializablePairLongStringBufferStoreTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/SerializablePairLongStringComplexMetricSerdeTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/SerializablePairLongStringDeltaEncodedStagedSerdeTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/SerializablePairLongStringSimpleStagedSerdeTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/SingleValueColumnValueSelector.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/segment/serde/ComplexMetricsTest.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/BlockCompressedPayloadWriterReaderTest.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/BlockCompressedPayloadWriterToBytesWriter.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/ByteWriterTestHelper.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/BytesReadWriteTest.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/BytesReadWriteTestBase.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/BytesReadWriteTestCases.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/BytesWriter.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/BytesWriterBuilder.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/CellWriterReaderTest.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/CellWriterToBytesWriter.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/RandomStringUtils.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/TestCaseResult.java
  processing/src/test/java/org/apache/druid/segment/serde/cell/TestCasesConfig.java
Labels: Area - Segment Format and Ser/De

#12995 more consistent expression error messages
  benchmarks/src/test/java/org/apache/druid/benchmark/IPv4AddressBenchmark.java
  core/src/main/java/org/apache/druid/math/expr/ApplyFunction.java
  core/src/main/java/org/apache/druid/math/expr/BinaryOperatorExpr.java
  core/src/main/java/org/apache/druid/math/expr/ConstantExpr.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionProcessingException.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionTypeFactory.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionValidationException.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  core/src/main/java/org/apache/druid/math/expr/NamedFunction.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorProcessors.java
  core/src/test/java/org/apache/druid/math/expr/ApplyFunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  docs/misc/math-expr.md
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/expressions/BloomFilterExpressions.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/expressions/BloomFilterExpressionsTest.java
  extensions-core/testing-tools/src/main/java/org/apache/druid/query/expressions/SleepExprMacro.java
  integration-tests-ex/tools/src/main/java/org/apache/druid/testing/tools/SleepExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/CaseInsensitiveContainsExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/ContainsExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/ExprUtils.java
  processing/src/main/java/org/apache/druid/query/expression/HyperUniqueExpressions.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressMatchExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressStringifyExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LikeExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LookupExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpLikeExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampCeilExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFloorExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFormatExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampShiftExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TrimExprMacro.java
  processing/src/main/java/org/apache/druid/segment/transform/ExpressionTransform.java
  processing/src/test/java/org/apache/druid/query/expression/CaseInsensitiveExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/ContainsExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/HyperUniqueExpressionsTest.java
  processing/src/test/java/org/apache/druid/query/expression/IPv4AddressMatchExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/IPv4AddressParseExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/IPv4AddressStringifyExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  processing/src/test/java/org/apache/druid/query/expression/RegexpExtractExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/RegexpLikeExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/TimestampShiftMacroTest.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/IPv4AddressMatchExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/IPv4AddressParseExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/IPv4AddressStringifyExpressionTest.java
Labels: Bug, Ease of Use, Area - Querying, Area - Ingestion

#13035 Docs: Port nested columns docs to release branch
  docs/assets/nested-combined-json.png
  docs/assets/nested-display-data-types.png
  docs/assets/nested-examine-schema.png
  docs/assets/nested-extract-as-type.png
  docs/assets/nested-extract-elements.png
  docs/assets/nested-group-aggregate.png
  docs/assets/nested-msq-ingestion-transform.png
  docs/assets/nested-msq-ingestion.png
  docs/assets/nested-parse-deserialize.png
  docs/assets/nested-retrieve-json.png
  docs/assets/nested-return-json.png
  docs/ingestion/data-formats.md
  docs/ingestion/ingestion-spec.md
  docs/ingestion/schema-design.md
  docs/misc/math-expr.md
  docs/querying/nested-columns.md
  docs/querying/sql-data-types.md
  docs/querying/sql-json-functions.md
  docs/querying/virtual-columns.md
  website/sidebars.json
Labels: Area - Documentation, Backport

#13023 Add interpolation to JsonConfigurator
  core/pom.xml
  core/src/main/java/org/apache/druid/guice/JsonConfigurator.java
  core/src/test/java/org/apache/druid/guice/JsonConfiguratorTest.java
  core/src/test/resources/list.json
  docs/configuration/index.md
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/config/Initializer.java
  integration-tests/pom.xml
  licenses.yaml
  pom.xml
  server/pom.xml
Labels: Area - Operations, Release Notes

#12867 Add query/time metric for SQL queries from router
  docs/operations/metrics.md
  processing/src/main/java/org/apache/druid/query/DefaultGenericQueryMetricsFactory.java
  processing/src/main/java/org/apache/druid/query/DefaultQueryMetrics.java
  processing/src/main/java/org/apache/druid/query/GenericQueryMetricsFactory.java
  processing/src/main/java/org/apache/druid/query/QueryMetrics.java
  processing/src/main/java/org/apache/druid/query/search/DefaultSearchQueryMetrics.java
  processing/src/test/java/org/apache/druid/query/DefaultQueryMetricsTest.java
  processing/src/test/java/org/apache/druid/query/search/DefaultSearchQueryMetricsTest.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  services/src/main/java/org/apache/druid/server/AsyncQueryForwardingServlet.java
  services/src/test/java/org/apache/druid/server/AsyncQueryForwardingServletTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/http/SqlQuery.java
Labels: Release Notes, Area - Metrics/Event Emitting, Area - SQL

#12944 Disallow timeseries queries with ETERNITY interval and non-ALL granularity
  processing/src/main/java/org/apache/druid/segment/RowBasedStorageAdapter.java
  processing/src/test/java/org/apache/druid/segment/RowBasedStorageAdapterTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying, Area - SQL

#13038 [Backport] remove mentions of DruidQueryRel from docs (#13033)
  docs/querying/sql-translation.md
Labels: Bug, Backport

#13039 [Backport] Add CTA and fix typo (#13009)
  .gitignore
  examples/bin/greet
  examples/bin/supervise
  examples/conf/supervise/single-server/large.conf
  examples/conf/supervise/single-server/medium.conf
  examples/conf/supervise/single-server/micro-quickstart.conf
  examples/conf/supervise/single-server/nano-quickstart.conf
  examples/conf/supervise/single-server/small.conf
  examples/conf/supervise/single-server/xlarge.conf
Labels: Bug, Backport

#13036 MSQ extension: Fix over-capacity write in ScanQueryFrameProcessor.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPreShuffleFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPreShuffleFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorTest.java
Labels: Bug, Area - MSQ

#13041 Web console: default to no compare
  web-console/src/components/table-filterable-cell/table-filterable-cell.tsx
  web-console/src/react-table/react-table-inputs.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
Labels: Area - Web Console

#13042 [backport] more consistent expression error messages (#12995)
  benchmarks/src/test/java/org/apache/druid/benchmark/IPv4AddressBenchmark.java
  core/src/main/java/org/apache/druid/math/expr/ApplyFunction.java
  core/src/main/java/org/apache/druid/math/expr/BinaryOperatorExpr.java
  core/src/main/java/org/apache/druid/math/expr/ConstantExpr.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionProcessingException.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionTypeFactory.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionValidationException.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  core/src/main/java/org/apache/druid/math/expr/NamedFunction.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorProcessors.java
  core/src/test/java/org/apache/druid/math/expr/ApplyFunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  docs/misc/math-expr.md
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/expressions/BloomFilterExpressions.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/expressions/BloomFilterExpressionsTest.java
  extensions-core/testing-tools/src/main/java/org/apache/druid/query/expressions/SleepExprMacro.java
  integration-tests-ex/tools/src/main/java/org/apache/druid/testing/tools/SleepExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/CaseInsensitiveContainsExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/ContainsExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/ExprUtils.java
  processing/src/main/java/org/apache/druid/query/expression/HyperUniqueExpressions.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressMatchExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressStringifyExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LikeExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LookupExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpLikeExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampCeilExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFloorExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFormatExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampShiftExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TrimExprMacro.java
  processing/src/main/java/org/apache/druid/segment/transform/ExpressionTransform.java
  processing/src/test/java/org/apache/druid/query/expression/CaseInsensitiveExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/ContainsExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/HyperUniqueExpressionsTest.java
  processing/src/test/java/org/apache/druid/query/expression/IPv4AddressMatchExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/IPv4AddressParseExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/IPv4AddressStringifyExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  processing/src/test/java/org/apache/druid/query/expression/RegexpExtractExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/RegexpLikeExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/TimestampShiftMacroTest.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/IPv4AddressMatchExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/IPv4AddressParseExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/IPv4AddressStringifyExpressionTest.java
Labels: Backport

#12996 Fix web-console message in MSQ data loader
  web-console/src/views/sql-data-loader-view/ingestion-progress-dialog/ingestion-progress-dialog.tsx
Labels: Area - Web Console, Area - MSQ

#13047 Fix web-console message in MSQ data loader (#12996)
  web-console/src/views/sql-data-loader-view/ingestion-progress-dialog/ingestion-progress-dialog.tsx
Labels: Bug, Backport

#13045 fix bug in /status/properties filtering
  server/src/main/java/org/apache/druid/server/StatusResource.java
  server/src/test/java/org/apache/druid/server/StatusResourceTest.java
Labels: Bug

#13054 [backport] fix bug in /status/properties filtering (#13045)
  server/src/main/java/org/apache/druid/server/StatusResource.java
  server/src/test/java/org/apache/druid/server/StatusResourceTest.java
Labels: Bug, Backport

#13028 Improve doc and configuration of prometheus emitter
  docs/development/extensions-contrib/prometheus.md
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitterConfig.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/PrometheusEmitterTest.java
Labels: Area - Metrics/Event Emitting

#13051 improve nested column serializer
  processing/src/main/java/org/apache/druid/segment/data/CompressedBlockReader.java
  processing/src/main/java/org/apache/druid/segment/nested/GlobalDictionaryIdLookup.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
Labels: Performance, Area - Ingestion

#13056 Update tutorial-kafka.md
  docs/tutorials/tutorial-kafka.md
Labels: Area - Documentation

#13034 prometheus-emitter supports sending metrics to pushgateway regularly …
  docs/development/extensions-contrib/prometheus.md
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/Metrics.java
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitter.java
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitterConfig.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/PrometheusEmitterTest.java
  website/.spelling
Labels: Bug, Area - Metrics/Event Emitting, Area - Extension

#13063 Install bash-static in docker image
  distribution/docker/Dockerfile
Labels: Backport, Docker

#13060 Web console: quote columns, datasources in auto complete if needed
  web-console/src/views/query-view/query-input/query-input.tsx
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.tsx
Labels: Area - Web Console, Area - Query UI

#13061 Add ARRAY_QUANTILE function.
  processing/src/main/java/org/apache/druid/query/expression/ArrayQuantileExprMacro.java
  processing/src/test/java/org/apache/druid/query/expression/ArrayQuantileExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/TestExprMacroTable.java
  server/src/main/java/org/apache/druid/guice/ExpressionModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayQuantileOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Area - Querying

#13050 Web console: fix number of expected functions
  web-console/script/create-sql-docs.js
Labels: Bug, Area - Web Console

#13067 adjust docs and images
  docs/assets/tutorial-quickstart-01.png
  docs/assets/tutorial-quickstart-03.png
  docs/tutorials/index.md
Labels: Area - Documentation

#13058 Bump the version of Druid docker image from 0.16.0-incubating to latest
  docs/operations/kubernetes.md
Labels: Area - Documentation

#13069 Enable msq query engine for docker by default
  distribution/docker/environment
Labels: Docker, Area - MSQ

#13068 export `com.sun.management.internal` when running Druid under JRE11 and JRE17
  examples/bin/run-java
Labels: Bug, Area - Metrics/Event Emitting

#13037 Expressions: fixes for round-trips of floating point literals, Long.MIN_VALUE literals, Shuffle.visitAll.
  core/src/main/java/org/apache/druid/math/expr/ConstantExpr.java
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/ExprListenerImpl.java
  core/src/main/java/org/apache/druid/math/expr/Parser.java
  core/src/main/java/org/apache/druid/math/expr/UnaryOperatorExpr.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/DruidExpression.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/SubstringOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeArithmeticOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeFloorOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TruncateOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/DruidExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
Labels: Bug, Area - SQL

#13077 Web console: better detection for arrays containing objects
  web-console/src/components/table-cell/__snapshots__/table-cell.spec.tsx.snap
  web-console/src/components/table-cell/table-cell.spec.tsx
  web-console/src/components/table-cell/table-cell.tsx
  web-console/src/druid-models/ingestion-spec/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/utils/general.tsx
Labels: Bug, Area - Web Console, Area - Ingestion, Area - MSQ

#13022 Avoid ClassCastException when getting values from `QueryContext`
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/MaterializedViewQuery.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/MaterializedViewQueryTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/QueryKitUtils.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryKit.java
  processing/src/main/java/org/apache/druid/query/BaseQuery.java
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryEngine.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/groupby/orderby/DefaultLimitSpec.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQuery.java
  processing/src/main/java/org/apache/druid/query/search/SearchQueryConfig.java
  processing/src/main/java/org/apache/druid/query/select/SelectQuery.java
  processing/src/main/java/org/apache/druid/query/timeboundary/TimeBoundaryQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQuery.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  processing/src/test/java/org/apache/druid/query/QueryContextsTest.java
  processing/src/test/java/org/apache/druid/query/datasourcemetadata/DataSourceMetadataQueryTest.java
  processing/src/test/java/org/apache/druid/query/timeboundary/TimeBoundaryQueryTest.java
  server/src/main/java/org/apache/druid/client/DirectDruidClient.java
  server/src/main/java/org/apache/druid/client/JsonParserIterator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/scheduling/HiLoQueryLaningStrategy.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientCacheKeyManagerTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/client/JsonParserIteratorTest.java
  server/src/test/java/org/apache/druid/server/SetAndVerifyContextQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Querying, Refactoring

#13048 Compressed Big Decimal Cleanup and Extension
  .idea/inspectionProfiles/Druid.xml
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/ArrayCompressedBigDecimal.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/ByteBufferCompressedBigDecimal.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimal.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregateCombiner.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregator.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregatorFactory.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalBufferAggregator.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalColumn.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalJsonSerializer.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalLongColumnSerializer.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalMetricSerde.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalObjectStrategy.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/Utils.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/AggregatorCombinerFactoryTest.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregatorGroupByTest.java
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_aggregators.json
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_data.csv
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_data_parser.json
  extensions-contrib/compressed-bigdecimal/src/test/resources/bd_test_groupby_query.json
Labels: Area - Extension

#13020 Provide service specific log4j overrides in containerized deployments
  distribution/docker/druid.sh
  docs/tutorials/docker.md
Labels: Area - Operations, Docker

#13083 fix JsonParserIteratorTest
  server/src/test/java/org/apache/druid/client/JsonParserIteratorTest.java
Labels: Area - Testing, Development Blocker

#13081 Update Snappy to 1.1.8.4.
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#12501 Move web-console dependency declaration from druid-server to druid-distribution
  distribution/pom.xml
  server/pom.xml
Labels: Area - Dev, Dev Productivity

#13078 Initialize NullValueHandlingConfig for failed tests
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/statistics/DelegateOrMinKeyCollectorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/statistics/QuantilesSketchKeyCollectorTest.java
Labels: Area - Testing

#12843 Docs - README.md community channels removal + link
  README.md
Labels: Area - Documentation

#13094 Web console: link to error code docs
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/links.ts
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-error-pane/execution-error-pane.tsx
Labels: Area - Web Console

#13059 Some improvements about Docker
  distribution/docker/Dockerfile
  distribution/docker/README.md
  distribution/docker/druid.sh
  integration-tests/script/setup_druid_on_k8s.sh
Labels: Release Notes, Docker

#12850 Docs – README.md update around documentation contributions
  README.md
Labels: Area - Documentation

#12555 Documentation: Update spatial indexing example
  docs/development/geo.md
Labels: Area - Documentation

#13096 split up NestedDataColumnSerializer into separate files
  processing/src/main/java/org/apache/druid/segment/nested/DoubleFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/GlobalDictionaryEncodedFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/LongFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/StringFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantLiteralFieldColumnWriter.java
Labels: Area - Segment Format and Ser/De, Refactoring

#13090 Doc fixes around msq
  docs/configuration/index.md
  docs/design/coordinator.md
  docs/design/overlord.md
  docs/development/modules.md
  docs/ingestion/data-formats.md
  docs/ingestion/faq.md
  docs/multi-stage-query/index.md
  docs/multi-stage-query/msq-api.md
  docs/multi-stage-query/msq-concepts.md
  docs/multi-stage-query/msq-example-queries.md
  docs/multi-stage-query/msq-known-issues.md
  docs/multi-stage-query/msq-reference.md
  docs/multi-stage-query/msq-tutorial-connect-external-data.md
  docs/multi-stage-query/msq-tutorial-convert-ingest-spec.md
  docs/operations/management-uis.md
  docs/operations/rule-configuration.md
  docs/tutorials/tutorial-msq-connect-extern.md
  docs/tutorials/tutorial-msq-convert-json.md
  website/package.json
  website/redirects.json
  website/sidebars.json
Labels: Area - Documentation

#13070 Allocate numCorePartitions using only used segments
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Area - Segment Balancing/Coordination, Area - Ingestion

#13098 Web console: support Kafka lookups
  web-console/src/dialogs/lookup-edit-dialog/__snapshots__/lookup-edit-dialog.spec.tsx.snap
  web-console/src/druid-models/lookup-spec/lookup-spec.tsx
  web-console/src/views/lookups-view/lookups-view.tsx
Labels: Area - Lookups, Area - Web Console

#13097 Support to configure deserializers of KafkaConsumer
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaRecordSupplierTest.java
Labels: Area - Streaming Ingestion

#13084 Add clarification around docker environment #8926
  docs/tutorials/docker.md
  website/.spelling
Labels: Area - Documentation

#13109 Docs: Clarify the situation with SELECT.
  docs/multi-stage-query/api.md
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/index.md
Labels: Area - Documentation, Area - MSQ

#13105 Web console: correctly escape path based flatten specs
  web-console/src/druid-models/flatten-spec/flatten-spec.spec.ts
  web-console/src/druid-models/flatten-spec/flatten-spec.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/workbench-view/result-table-pane/result-table-pane.tsx
Labels: Bug, Area - Web Console

#13117 fix html tags in docs
  docs/configuration/index.md
  docs/data-management/update.md
  docs/development/extensions-core/druid-kerberos.md
  docs/ingestion/data-formats.md
  docs/ingestion/native-batch-input-source.md
  docs/misc/math-expr.md
  docs/operations/api-reference.md
  docs/operations/clean-metadata-store.md
  docs/querying/nested-columns.md
Labels: Bug, Area - Documentation

#12905 Convert the Druid planner to use statement handlers
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/SqlTaskResource.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  server/src/main/java/org/apache/druid/server/QueryLifecycle.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/main/java/org/apache/druid/server/QueryResponse.java
  sql/src/main/codegen/includes/insert.ftl
  sql/src/main/codegen/includes/replace.ftl
  sql/src/main/java/org/apache/druid/sql/DirectStatement.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlIngest.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlInsert.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlReplace.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/IngestHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerResult.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/SqlStatementHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidUnionRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/QueryMaker.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/TestInsertQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - SQL, Refactoring

#13073 Getting extension list from pom
  distribution/bin/generate-license-dependency-reports.py
Labels: Area - Extension, Area - Dev

#13113 Improve a MSQ planning error message
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
Labels: Area - MSQ

#13118 be consistent about referring to the web console by its name
  .lgtm.yml
  .travis.yml
  README.md
  dev/intellij-setup.md
  distribution/bin/web-console-dep-lister.py
  distribution/pom.xml
  docs/development/build.md
  integration-tests-ex/docs/conversion.md
  integration-tests/script/copy_resources_template.sh
  web-console/pom.xml
  web-console/src/components/header-bar/header-bar.tsx
  web-console/unified-console.html
  website/.spelling
Labels: Area - Web Console

#13126 Docs: fix the new quickstart to create a datasource called wikipedia
  docs/assets/tutorial-query-01.png
  docs/assets/tutorial-query-02.png
  docs/assets/tutorial-query-03.png
  docs/assets/tutorial-query-035.png
  docs/assets/tutorial-query-04.png
  docs/assets/tutorial-query-05.png
  docs/assets/tutorial-query-06.png
  docs/assets/tutorial-query-07.png
  docs/assets/tutorial-query-08.png
  docs/assets/tutorial-quickstart-04.png
  docs/assets/tutorial-quickstart-05.png
  docs/tutorials/index.md
  docs/tutorials/tutorial-query.md
Labels: Bug, Area - Documentation

#13128 Clarified the behaviour of SQL COUNT(DISTINCT dim) on multi-value dimensions
  docs/querying/sql-aggregations.md
Labels: Area - Documentation, Area - SQL

#13074 Add test framework to simulate segment loading and balancing
  core/src/test/java/org/apache/druid/java/util/metrics/StubServiceEmitter.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/BalanceSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CreateDataSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/RunRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/BlockingExecutorService.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulation.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/README.md
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentBalancingTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentLoadingNegativeTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentLoadingTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestDruidLeaderSelector.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestMetadataRuleManager.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestSegmentLoadingHttpClient.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestSegmentsMetadataManager.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestServerInventoryView.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/WrappingScheduledExecutorService.java
Labels: Area - Testing, Design Review, Area - Segment Balancing/Coordination

#13124 Docs: edit Spatial filers page
  docs/development/geo.md
Labels: Area - Documentation

#13122 Add KafkaConfigOverrides extension point
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskIOConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaSamplerSpec.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaRecordSupplierTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/extension/KafkaConfigOverrides.java
Labels: Area - Streaming Ingestion

#13134 Update pull-deps docs with correct repo list.
  docs/operations/pull-deps.md
Labels: Area - Documentation

#13127 fix: follow naming convention for msq task engine
  docs/multi-stage-query/api.md
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/index.md
Labels: Area - Documentation, Area - MSQ

#13135 fix: fix broken postgres link
  docs/development/extensions-core/postgresql.md
Labels: Area - Documentation

#13095 update log4j example
  docs/configuration/logging.md
Labels: Area - Documentation

#13130 Web console: add append to existing callout
  web-console/src/views/load-data-view/info-messages.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console, Area - Ingestion

#13086 Optimize CompressedBigDecimal compareTo()
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimal.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/ArrayCompressedBigDecimalTest.java
Labels: Area - Extension

#12992 Add IT for MSQ task engine using the new IT framework
  .travis.yml
  integration-tests-ex/cases/cluster/Common/environment-configs/common.env
  integration-tests-ex/cases/cluster/MultiStageQuery/docker-compose.yaml
  integration-tests-ex/cases/pom.xml
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/categories/MultiStageQuery.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/config/Initializer.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITMultiStageQuery.java
  integration-tests-ex/cases/src/test/resources/cluster/MultiStageQuery/docker.yaml
  integration-tests-ex/cases/src/test/resources/multi-stage-query/wikipedia_msq_select_query1.json
  integration-tests/pom.xml
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/msq/MsqOverlordResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/guice/DruidTestModule.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/AbstractTestQueryHelper.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/MsqQueryWithResults.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/MsqTestQueryHelper.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/QueryResultVerifier.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITQueryRetryTestOnMissingSegments.java
Labels: Area - Testing, Area - MSQ

#13136 Web console: better spec conversion with issues
  web-console/src/ace-modes/dsql.js
  web-console/src/bootstrap/ace.scss
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/helpers/spec-conversion.spec.ts
  web-console/src/helpers/spec-conversion.ts
Labels: Area - Web Console, Area - MSQ

#13119 Suppress Calcite CVE
  owasp-dependency-check-suppressions.xml
Labels: Area - Dependencies

#13102 Add BIG_SUM SQL function
  extensions-contrib/compressed-bigdecimal/pom.xml
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregator.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregatorFactory.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalBufferAggregator.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalModule.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalSqlAggregator.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/Utils.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/AggregatorCombinerFactoryTest.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/ArrayCompressedBigDecimalTest.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregatorGroupByTest.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalAggregatorTimeseriesTest.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalSqlAggregatorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - SQL, Area - Extension

#13147 Fix documentation bug about injective lookups
  docs/querying/lookups.md
Labels: Area - Documentation

#13088 Add a note to the documentation about pre-built HLLSketches
  docs/development/extensions-core/datasketches-hll.md
Labels: Area - Documentation

#13150 Correct example in nested columns doc
  docs/querying/nested-columns.md
Labels: Area - Documentation

#13142 Use kafka version 3.2.3
  licenses.yaml
  pom.xml
Labels: Security, Area - Dependencies

#13146 [backport] Backport 24.0.1 web console issue fixes
  web-console/package-lock.json
  web-console/package.json
  web-console/script/create-sql-docs.js
  web-console/src/ace-modes/dsql.js
  web-console/src/bootstrap/ace.scss
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/components/table-cell/__snapshots__/table-cell.spec.tsx.snap
  web-console/src/components/table-cell/table-cell.spec.tsx
  web-console/src/components/table-cell/table-cell.tsx
  web-console/src/components/table-filterable-cell/table-filterable-cell.tsx
  web-console/src/dialogs/coordinator-dynamic-config-dialog/__snapshots__/coordinator-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/overlord-dynamic-config-dialog/__snapshots__/overload-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/druid-models/flatten-spec/flatten-spec.spec.ts
  web-console/src/druid-models/flatten-spec/flatten-spec.tsx
  web-console/src/druid-models/ingestion-spec/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/helpers/spec-conversion.spec.ts
  web-console/src/helpers/spec-conversion.ts
  web-console/src/links.ts
  web-console/src/react-table/react-table-inputs.tsx
  web-console/src/utils/general.tsx
  web-console/src/views/load-data-view/info-messages.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/query-view/query-input/query-input.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-error-pane/execution-error-pane.tsx
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.tsx
  web-console/src/views/workbench-view/result-table-pane/result-table-pane.tsx
  web-console/unified-console.html
Labels: Bug, Backport, Area - Web Console

#13151 Fix assertion error in sql planning for latest aggregators
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestAnySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestBySqlAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL

#13114 Fix over-replication caused by balancing when inventory is not updated yet
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  server/src/main/java/org/apache/druid/server/coordinator/CuratorLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/HttpLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/LoadPeonCallback.java
  server/src/main/java/org/apache/druid/server/coordinator/LoadQueueTaskMaster.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/BalanceSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/LoadRule.java
  server/src/test/java/org/apache/druid/curator/discovery/LatchableServiceAnnouncer.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsTester.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/HttpLoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/LoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulation.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/README.md
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentBalancingTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentLoadingNegativeTest.java
Labels: Bug, Area - Segment Balancing/Coordination

#13159 Web console: fix DQT import
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/views/query-view/__snapshots__/query-view.spec.tsx.snap
  web-console/src/views/query-view/column-tree/column-tree-menu/string-menu-items/string-menu-items.tsx
Labels: Bug, Area - Web Console, Area - Dependencies
