Repository apache/druid, pull requests merged in 2022-01, with the labels that each got.

#12062 Support overlapping segment intervals in auto compaction
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionIntervalSpec.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/test/java/org/apache/druid/client/indexing/HttpIndexingServiceClientTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
Labels: Area - Compaction

#12093 Docs: add FILTER to sql query syntax
  docs/querying/sql.md
Labels: Area - Documentation

#12095 Use Druid's extension loading for integration test instead of maven
  .travis.yml
  distribution/pom.xml
  distribution/src/assembly/integration-test-assembly.xml
  docs/development/modules.md
  integration-tests/README.md
  integration-tests/docker/Dockerfile
  integration-tests/docker/docker-compose.base.yml
  integration-tests/docker/docker-compose.custom-coordinator-duties.yml
  integration-tests/docker/docker-compose.high-availability.yml
  integration-tests/docker/docker-compose.ldap-security.yml
  integration-tests/docker/docker-compose.override-env.yml
  integration-tests/docker/docker-compose.query-error-test.yml
  integration-tests/docker/docker-compose.query-retry-test.yml
  integration-tests/docker/docker-compose.shuffle-deep-store.yml
  integration-tests/docker/docker-compose.yml
  integration-tests/docker/druid.sh
  integration-tests/docker/environment-configs/common
  integration-tests/docker/environment-configs/common-custom-coordinator-duties
  integration-tests/docker/environment-configs/common-ldap
  integration-tests/docker/environment-configs/common-shuffle-deep-store
  integration-tests/docker/environment-configs/empty-config
  integration-tests/docker/environment-configs/test-groups/custom-coordinator-duties
  integration-tests/docker/environment-configs/test-groups/prepopulated-data
  integration-tests/docker/environment-configs/test-groups/shuffle-deep-store
  integration-tests/pom.xml
  integration-tests/script/copy_resources_template.sh
  integration-tests/script/docker_compose_args.sh
  integration-tests/script/docker_run_cluster.sh
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITSqlCancelTest.java
  integration-tests/stop_cluster.sh
Labels: Area - Testing

#12091 Standardizing SQL function docs
  docs/querying/sql.md
Labels: Area - Documentation

#12065 Return empty result when a group by gets optimized to a timeseries query
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Grouping.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL

#12134 Web console: correctly cancel JSON shaped SQL queries
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/json-input/json-input.tsx
  web-console/src/dialogs/spec-dialog/spec-dialog.tsx
  web-console/src/dialogs/status-dialog/status-dialog.spec.tsx
  web-console/src/druid-models/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec.tsx
  web-console/src/utils/druid-query.ts
  web-console/src/utils/sampler.ts
  web-console/src/utils/utils.spec.ts
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/query-view/query-input/query-input.tsx
  web-console/src/views/query-view/query-view.tsx
Labels: Bug, Area - Web Console

#11888 add 'TypeStrategy' to types
  core/src/main/java/org/apache/druid/math/expr/ConstantExpr.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionType.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionTypeFactory.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/main/java/org/apache/druid/segment/column/BaseTypeSignature.java
  core/src/main/java/org/apache/druid/segment/column/ColumnType.java
  core/src/main/java/org/apache/druid/segment/column/ColumnTypeFactory.java
  core/src/main/java/org/apache/druid/segment/column/NullableTypeStrategy.java
  core/src/main/java/org/apache/druid/segment/column/ObjectByteStrategy.java
  core/src/main/java/org/apache/druid/segment/column/TypeFactory.java
  core/src/main/java/org/apache/druid/segment/column/TypeSignature.java
  core/src/main/java/org/apache/druid/segment/column/TypeStrategies.java
  core/src/main/java/org/apache/druid/segment/column/TypeStrategy.java
  core/src/main/java/org/apache/druid/segment/column/Types.java
  core/src/test/java/org/apache/druid/math/expr/ExprEvalTest.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  core/src/test/java/org/apache/druid/math/expr/ParserTest.java
  core/src/test/java/org/apache/druid/segment/column/ColumnTypeTest.java
  core/src/test/java/org/apache/druid/segment/column/TypeStrategiesTest.java
  core/src/test/java/org/apache/druid/segment/column/TypesTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/ExpressionLambdaBufferAggregator.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilities.java
  processing/src/main/java/org/apache/druid/segment/column/ObjectStrategyComplexTypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/data/ObjectStrategy.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexMetricSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexMetrics.java
  processing/src/test/java/org/apache/druid/query/aggregation/ExpressionLambdaAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByTimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
Labels: Area - Querying

#11743 Upgrade RSA Key from 1024 bit to 4096 to eliminate warnings
  integration-tests/docker/environment-configs/common
  integration-tests/docker/environment-configs/common-ldap
  integration-tests/docker/tls/generate-expired-client-cert.sh
  integration-tests/docker/tls/generate-good-client-cert.sh
  integration-tests/docker/tls/generate-incorrect-hostname-client-cert.sh
  integration-tests/docker/tls/generate-invalid-intermediate-client-cert.sh
  integration-tests/docker/tls/generate-server-certs-and-keystores.sh
  integration-tests/docker/tls/generate-to-be-revoked-client-cert.sh
  integration-tests/docker/tls/generate-untrusted-root-client-cert.sh
  integration-tests/docker/tls/generate-valid-intermediate-client-cert.sh
Labels: Area - Testing, Improvement

#12132 fix delegated smoosh writer and some new facilities for segment writeout medium
  core/src/main/java/org/apache/druid/java/util/common/io/smoosh/FileSmoosher.java
  core/src/test/java/org/apache/druid/java/util/common/io/smoosh/SmooshedFileMapperTest.java
  processing/src/main/java/org/apache/druid/segment/writeout/ByteBufferWriteOutBytes.java
  processing/src/main/java/org/apache/druid/segment/writeout/DirectByteBufferWriteOutBytes.java
  processing/src/main/java/org/apache/druid/segment/writeout/OffHeapMemorySegmentWriteOutMedium.java
  processing/src/main/java/org/apache/druid/segment/writeout/OnHeapMemorySegmentWriteOutMedium.java
  processing/src/main/java/org/apache/druid/segment/writeout/SegmentWriteOutMedium.java
  processing/src/main/java/org/apache/druid/segment/writeout/TmpFileSegmentWriteOutMedium.java
  processing/src/test/java/org/apache/druid/segment/writeout/SegmentWriteOutMediumTest.java
Labels: Bug, Area - Segment Format and Ser/De

#12138 Update PostAggregator to be backwards compat
  processing/src/main/java/org/apache/druid/query/aggregation/PostAggregator.java
Labels: Area - Querying, Compatibility, Area - Extension

#12131 input type validation for datasketches hll "build" aggregator factory
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildAggregatorFactory.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorTest.java
Labels: Ease of Use, Area - Querying

#12130 Add a small LRU cache and use utf8 bytes in ArrayOfDoubles
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchBuildAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregationTest.java
  extensions-core/datasketches/src/test/resources/tuple/array_of_doubles_build_data.tsv
  extensions-core/datasketches/src/test/resources/tuple/array_of_doubles_build_data_two_values_and_key_as_number.tsv
Labels: Performance, Area - Querying

#12127 Use ListFilteredVirtualColumn for left/fact table expression in join condition
  processing/src/main/java/org/apache/druid/query/JoinDataSource.java
  processing/src/test/java/org/apache/druid/query/JoinDataSourceTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidJoinQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
Labels: Improvement, Area - SQL

#12145 add EARLIEST_BY/LATEST_BY to make EARLIEST/LATEST function signatures less ambiguous
  docs/querying/sql.md
  processing/src/main/java/org/apache/druid/query/aggregation/first/NumericFirstAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/NumericFirstBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastBufferAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestAnySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestBySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Ease of Use, Area - SQL

#12147 avoid unnecessary String.format calls in IdUtils.validateId
  core/src/main/java/org/apache/druid/common/utils/IdUtils.java
Labels: Performance

#12144 Move gcs-connector from lib to hadoop-dependencies for integration test
  integration-tests/script/copy_resources_template.sh
Labels: Area - Testing

#12150 fix array type strategy write size tracking
  core/src/main/java/org/apache/druid/segment/column/NullableTypeStrategy.java
  core/src/main/java/org/apache/druid/segment/column/TypeStrategies.java
  core/src/test/java/org/apache/druid/segment/column/TypeStrategiesTest.java
Labels: Bug, Area - Querying

#12080 Throw parse exceptions on schema get errors for SchemaRegistryBasedAvroBytesDecoder
  docs/ingestion/data-formats.md
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoder.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoderTest.java
Labels: Area - Ingestion

#12155 fix incorrect ColumnInspector in IncrementalIndex.makeColumnSelectorFactory
  indexing-hadoop/src/main/java/org/apache/druid/indexer/InputRowSerde.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
Labels: Bug, Area - Ingestion

#12015 OpenTelemetry emitter extension
  distribution/pom.xml
  extensions-contrib/opentelemetry-emitter/README.md
  extensions-contrib/opentelemetry-emitter/pom.xml
  extensions-contrib/opentelemetry-emitter/src/main/java/org/apache/druid/emitter/opentelemetry/DruidContextTextMapGetter.java
  extensions-contrib/opentelemetry-emitter/src/main/java/org/apache/druid/emitter/opentelemetry/OpenTelemetryEmitter.java
  extensions-contrib/opentelemetry-emitter/src/main/java/org/apache/druid/emitter/opentelemetry/OpenTelemetryEmitterConfig.java
  extensions-contrib/opentelemetry-emitter/src/main/java/org/apache/druid/emitter/opentelemetry/OpenTelemetryEmitterModule.java
  extensions-contrib/opentelemetry-emitter/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-contrib/opentelemetry-emitter/src/test/java/org/apache/druid/emitter/opentelemetry/OpenTelemetryEmitterTest.java
  pom.xml
Labels: Release Notes, Area - Metrics/Event Emitting, Area - Extension

#12128 Docs for cluster tiering to improve query concurrency
  docs/operations/mixed-workloads.md
  website/sidebars.json
Labels: Area - Documentation, Area - Querying

#12158 Fix forbiddenapis causing travis failing
  pom.xml
Labels: Area - Testing, Development Blocker

#12125 Support adding metrics in Auto Compaction
  benchmarks/src/test/java/org/apache/druid/server/coordinator/NewestSegmentFirstPolicyBenchmark.java
  core/src/main/java/org/apache/druid/timeline/CompactionState.java
  core/src/test/java/org/apache/druid/timeline/DataSegmentTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/CompactionUtil.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionUpgradeTest.java
  integration-tests/src/test/resources/indexer/wikipedia_index_rollup_queries.json
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionTaskQuery.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/IndexingServiceClient.java
  server/src/main/java/org/apache/druid/server/coordinator/DataSourceCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIterator.java
  server/src/test/java/org/apache/druid/client/indexing/HttpIndexingServiceClientTest.java
  server/src/test/java/org/apache/druid/client/indexing/NoopIndexingServiceClient.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstIteratorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstPolicyTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
Labels: Area - Compaction

#12129 Validate target dataSource for INSERT.
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
Labels: Area - SQL

#12169 Ignore hadoop-gcs directory already exists error for integration tests
  integration-tests/script/copy_resources_template.sh
Labels: Area - Testing

#12170 Forbiddenapis: Split the guava16-only signatures file from main signatures file
  codestyle/druid-forbidden-apis.txt
  codestyle/guava16-forbidden-apis.txt
  extensions-contrib/opentelemetry-emitter/pom.xml
  pom.xml
Labels: Area - Automation/Static Analysis

#12161 Mitigate Kinesis stream LimitExceededException by using listShards API
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/KinesisAdminClient.java
Labels: Release Notes, Improvement, Area - Ingestion, AWS Kinesis

#12186 Handling OOM error in ExpressionVector setup by reducing number of rows
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
Labels: Flaky test

#12188 Enable automatic metadata cleanup by default
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Release Notes, Design Review

#12189 Wait for datasource to be ready for SQL in integration tests
  integration-tests/src/main/java/org/apache/druid/testing/utils/DataLoaderHelper.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/SqlTestQueryHelper.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITBroadcastJoinQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITJdbcQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITQueryErrorTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITSqlCancelTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITSystemTableQueryTest.java
Labels: Area - Testing

#12194 fix StringAnyAggregatorFactory to use single value selector for non-existent columns
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/segment/ColumnProcessors.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/StringAnyAggregatorFactoryTest.java
Labels: Bug, Area - Querying

#12160 Web console: fix multi-value dimension column detection and tidy up
  web-console/src/dialogs/status-dialog/status-dialog.tsx
  web-console/src/druid-models/dimension-spec.spec.ts
  web-console/src/druid-models/dimension-spec.ts
  web-console/src/druid-models/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec.tsx
  web-console/src/druid-models/metric-spec.spec.ts
  web-console/src/druid-models/metric-spec.tsx
  web-console/src/druid-models/test-fixtures.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/datasource-view/datasource-view.tsx
  web-console/src/views/load-data-view/filter-table/filter-table.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/load-data-view/parse-data-table/parse-data-table.tsx
  web-console/src/views/load-data-view/parse-time-table/parse-time-table.tsx
  web-console/src/views/load-data-view/schema-table/schema-table.tsx
  web-console/src/views/load-data-view/transform-table/transform-table.tsx
  web-console/src/views/query-view/query-output/__snapshots__/query-output.spec.tsx.snap
  web-console/src/views/query-view/query-output/query-output.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/services-view/__snapshots__/services-view.spec.tsx.snap
  web-console/src/views/services-view/services-view.spec.tsx
  web-console/src/views/services-view/services-view.tsx
Labels: Bug, Area - Web Console

#12202 add module test for QueryableModule
  server/src/test/java/org/apache/druid/guice/QueryableModuleTest.java
Labels: Area - Testing

#12092 Fix SQL queries for inline datasource with null values
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidLogicalValuesRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/RowSignatures.java
  sql/src/main/java/org/apache/druid/sql/http/ArrayWriter.java
  sql/src/main/java/org/apache/druid/sql/http/CsvWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectWriter.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Bug, Area - SQL

#12205 use reflection to check for mysql transient exception type
  extensions-core/mysql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/mysql/MySQLConnector.java
  extensions-core/mysql-metadata-storage/src/test/java/org/apache/druid/metadata/storage/mysql/MySQLConnectorTest.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
Labels: Bug, Area - Metadata

#11955 Harmonize behavior when virtual columns reference each other.
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/main/java/org/apache/druid/segment/virtual/VirtualizedColumnInspector.java
  processing/src/main/java/org/apache/druid/segment/virtual/VirtualizedColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/segment/virtual/VirtualColumnsTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/VirtualizedColumnSelectorFactoryTest.java
Labels: Area - Querying

#12208 Fix compile error in VirtualizedColumnSelectorFactoryTest
  processing/src/test/java/org/apache/druid/segment/virtual/VirtualizedColumnSelectorFactoryTest.java
Labels: Development Blocker

#12206 Change link to Apache Druid Slack
  README.md
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/components/header-bar/header-bar.tsx
Labels: Area - Documentation

#11717 Fix load-drop-load sequence for same segment and historical in http loadqueue peon
  server/src/main/java/org/apache/druid/server/coordination/SegmentLoadDropHandler.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentLoadDropHandlerTest.java
Labels: Bug, Area - Segment Balancing/Coordination
