Repository apache/druid, pull requests merged in 2022-02, with the labels that each got.

#12213 do not explode if mysql transient exception does not exist
  extensions-core/mysql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/mysql/MySQLConnector.java
  extensions-core/mysql-metadata-storage/src/test/java/org/apache/druid/metadata/storage/mysql/MySQLConnectorTest.java
Labels: Bug

#12210 add backwards compatibility mode for multi-value string array null value coercion
  core/src/main/java/org/apache/druid/math/expr/ExpressionProcessing.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionProcessingConfig.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
Labels: Release Notes, Compatibility

#12211 Reduce RemoteTaskRunnerTest flakiness
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
Labels: Flaky test

#11947 [Web Console] fix deprecated keyboard event method "keyCode" with "key"
  web-console/src/bootstrap/react-table-custom-pagination.tsx
  web-console/src/entry.ts
  web-console/src/views/query-view/query-output/column-rename-input/column-rename-input.tsx
Labels: Area - Web Console

#12212 Web console: Adding a shard detail column to the segments view
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/auto-form/__snapshots__/auto-form.spec.tsx.snap
  web-console/src/components/auto-form/auto-form.spec.tsx
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/formatted-input/__snapshots__/formatted-input.spec.tsx.snap
  web-console/src/components/formatted-input/formatted-input.scss
  web-console/src/components/formatted-input/formatted-input.spec.tsx
  web-console/src/components/formatted-input/formatted-input.tsx
  web-console/src/druid-models/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.scss
  web-console/src/views/segments-view/segments-view.tsx
Labels: Area - Web Console

#12073 Update Aggregator and AggregatorFactory interfaces to improve mem estimates
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/StringDimensionIndexerBenchmark.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchModule.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregatorFactoryTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/BatchAppenderators.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/BatchAppenderatorsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TestAppenderatorsManager.java
  processing/src/main/java/org/apache/druid/query/aggregation/Aggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/AggregatorAndSize.java
  processing/src/main/java/org/apache/druid/query/aggregation/AggregatorFactory.java
  processing/src/main/java/org/apache/druid/segment/DictionaryEncodedColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/DimensionDictionary.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/DimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/EncodedKeyComponent.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionDictionary.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/incremental/AppendableIndexBuilder.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/segment/StringDimensionIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexRowSizeTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/OnheapIncrementalIndexBenchmark.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/Appenderators.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/DefaultOfflineAppenderatorFactory.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/DefaultRealtimeAppenderatorFactory.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/DummyForInjectionAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/PeonAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/RealtimePlumber.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/Sink.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/ClosedSegmensSinksBatchAppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/OpenAndClosedSegmentsAppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManagerTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/RealtimePlumberSchoolTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/SinkTest.java
Labels: Area - Operations, Design Review, Area - Ingestion

#12227 Web console: fix supervisor stats table pagination
  web-console/src/components/supervisor-statistics-table/__snapshots__/supervisor-statistics-table.spec.tsx.snap
  web-console/src/components/supervisor-statistics-table/supervisor-statistics-table.tsx
  web-console/src/views/services-view/services-view.tsx
Labels: Bug, Area - Web Console

#12216 Fix java.lang.ClassCastException error when using useApproximateCountDistinct false for aggregation query
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying

#12209 remove duplicate Broker ServerInventoryView, improve HttpServerInventoryView logging
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidCalciteSchemaModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/guice/SqlModuleTest.java
Labels: Area - Querying

#12229 make EncodedKeyComponent constructor public, remove nullable from DimensionIndexer.processRowValsToUnsortedEncodedKeyComponent
  processing/src/main/java/org/apache/druid/segment/DimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/EncodedKeyComponent.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionIndexer.java
Labels: Area - Extension

#12215 Fix bug while adding `Range` header in HttpEntity
  core/src/main/java/org/apache/druid/data/input/impl/HttpEntity.java
  core/src/test/java/org/apache/druid/data/input/impl/HttpEntityTest.java
Labels: Bug, Area - Batch Ingestion

#12230 Harmonize implementations of "visit" for Exprs from ExprMacros.
  core/src/main/java/org/apache/druid/math/expr/Expr.java
  core/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  core/src/test/java/org/apache/druid/math/expr/ExprTest.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/expressions/BloomFilterExpressions.java
  extensions-core/testing-tools/src/main/java/org/apache/druid/query/expressions/SleepExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/CaseInsensitiveContainsExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/ContainsExpr.java
  processing/src/main/java/org/apache/druid/query/expression/ContainsExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/HyperUniqueExpressions.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressMatchExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/IPv4AddressStringifyExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LikeExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/LookupExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpLikeExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampCeilExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampExtractExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFloorExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFormatExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampParseExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampShiftExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TrimExprMacro.java
  processing/src/test/java/org/apache/druid/query/expression/TrimExprMacroTest.java
Labels: Area - Querying

#12231 Update docs for druid.processing.numThreads in brokers
  docs/configuration/index.md
  docs/operations/basic-cluster-tuning.md
  examples/conf/druid/cluster/query/broker/runtime.properties
  examples/conf/druid/single-server/large/broker/runtime.properties
  examples/conf/druid/single-server/medium/broker/runtime.properties
  examples/conf/druid/single-server/micro-quickstart/broker/runtime.properties
  examples/conf/druid/single-server/nano-quickstart/broker/runtime.properties
  examples/conf/druid/single-server/small/broker/runtime.properties
  examples/conf/druid/single-server/xlarge/broker/runtime.properties
  integration-tests/k8s/tiny-cluster.yaml
  server/src/main/java/org/apache/druid/guice/BrokerProcessingModule.java
Labels: Area - Documentation

#12228 Add a flag to allow auto compaction task slot ratio to consider auto scaler slots
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/autoscaling/PendingTaskBasedWorkerProvisioningStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/autoscaling/ProvisioningStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/TotalWorkerCapacityResponse.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/autoscaling/PendingTaskBasedProvisioningStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/CompactionResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionLockContentionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/IndexingServiceClient.java
  server/src/main/java/org/apache/druid/client/indexing/IndexingTotalWorkerCapacityInfo.java
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResource.java
  server/src/test/java/org/apache/druid/client/indexing/HttpIndexingServiceClientTest.java
  server/src/test/java/org/apache/druid/client/indexing/NoopIndexingServiceClient.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
Labels: Area - Compaction

#12187 Enable auto kill segments by default
  docs/configuration/index.md
  docs/operations/clean-metadata-store.md
  integration-tests/docker/environment-configs/coordinator
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/RunRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Release Notes, Design Review

#12238 Web console: make it possible to namespace local storage, auto flatten spec generator should deal better with bad data
  web-console/src/druid-models/flatten-spec.spec.ts
  web-console/src/druid-models/flatten-spec.tsx
  web-console/src/entry.ts
  web-console/src/hooks/use-local-storage-state.ts
  web-console/src/utils/local-storage-keys.tsx
Labels: Area - Web Console

#12163 Add syntax support for PARTITIONED BY/CLUSTERED BY in INSERT queries
  codestyle/spotbugs-exclude.xml
  pom.xml
  sql/pom.xml
  sql/src/main/codegen/config.fmpp
  sql/src/main/codegen/includes/insert.ftl
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeFloorOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlInsert.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlParserImplFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlParserUtils.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/parser/DruidSqlParserUtilsTest.java
Labels: Design Review, Area - SQL

#12207 Lazy instantiation for segmentKillers, segmentMovers, and segmentArchivers
  cloud/gcp-common/pom.xml
  core/src/main/java/org/apache/druid/segment/loading/DataSegmentArchiver.java
  core/src/main/java/org/apache/druid/segment/loading/DataSegmentKiller.java
  core/src/main/java/org/apache/druid/segment/loading/DataSegmentMover.java
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/storage/aliyun/OssDataSegmentArchiver.java
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/storage/aliyun/OssDataSegmentKiller.java
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/storage/aliyun/OssDataSegmentMover.java
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/storage/aliyun/OssStorageDruidModule.java
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/storage/aliyun/OssDataSegmentArchiverTest.java
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/storage/aliyun/OssDataSegmentKillerTest.java
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/storage/aliyun/OssDataSegmentMoverTest.java
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/storage/aliyun/OssStorageDruidModuleTest.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorage.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorageDruidModule.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageDruidModuleTest.java
  extensions-core/google-extensions/pom.xml
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorage.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorageDruidModule.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleStorageDruidModuleTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleStorageTest.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/storage/hdfs/HdfsStorageDruidModuleTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentArchiver.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentKiller.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentMover.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3StorageDruidModule.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentArchiverTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentKillerTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentMoverTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3StorageDruidModuleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  integration-tests/docker/environment-configs/common
  server/src/main/java/org/apache/druid/guice/LocalDataStorageDruidModule.java
  server/src/main/java/org/apache/druid/segment/loading/OmniDataSegmentArchiver.java
  server/src/main/java/org/apache/druid/segment/loading/OmniDataSegmentKiller.java
  server/src/main/java/org/apache/druid/segment/loading/OmniDataSegmentMover.java
  server/src/test/java/org/apache/druid/guice/LocalDataStorageDruidModuleTest.java
  server/src/test/java/org/apache/druid/segment/loading/OmniDataSegmentArchiverTest.java
  server/src/test/java/org/apache/druid/segment/loading/OmniDataSegmentKillerTest.java
  server/src/test/java/org/apache/druid/segment/loading/OmniDataSegmentMoverTest.java
Labels: Bug, Area - Deep Storage, Area - Ingestion

#12240 Web console: update dev dependencies
  .travis.yml
  web-console/.eslintrc.js
  web-console/jest.e2e.config.js
  web-console/package-lock.json
  web-console/package.json
  web-console/pom.xml
  web-console/src/components/braced-text/braced-text.tsx
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/components/segment-timeline/bar-group.tsx
  web-console/src/components/suggestible-input/suggestible-input.tsx
  web-console/src/components/supervisor-statistics-table/supervisor-statistics-table.tsx
  web-console/src/druid-models/time.ts
  web-console/src/utils/druid-query.ts
  web-console/src/views/datasource-view/datasource-view.tsx
  web-console/src/views/ingestion-view/ingestion-view.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/services-view/services-view.tsx
Labels: Area - Web Console, Area - Dependencies

#12178 Move task creation under stateChangeLock in SeekableStreamSupervisor
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Bug, Area - Streaming Ingestion

#12236 Assign partitionIds in the same order as bucketIds
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskTest.java
Labels: Improvement, Area - Ingestion

#12255 Increase retries for Kinesis sharding integration tests
  integration-tests/src/main/java/org/apache/druid/testing/utils/KinesisAdminClient.java
Labels: Flaky test

#12084 Update ORC to 1.7.2
  extensions-core/orc-extensions/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#12113 perf: cache row if it is a transformed row
  processing/src/main/java/org/apache/druid/segment/transform/Transformer.java
Labels: Performance

#12195 Moving in filter check to broker
  docs/configuration/index.md
  docs/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  website/.spelling
Labels: Area - Querying, Area - SQL

#12243 Explain plan for custom insert syntax
  sql/src/main/codegen/config.fmpp
  sql/src/main/codegen/includes/explain.ftl
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
Labels: Area - SQL

#12253 Adding new config for disabling group by on multiValue column
  docs/querying/groupbyquery.md
  docs/querying/multi-value-dimensions.md
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryEngine.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  website/.spelling
Labels: Ease of Use, Area - Querying

#12257 Fix for overflowing localInterval in SegmentCostCache.Bucket
  server/src/main/java/org/apache/druid/server/coordinator/cost/SegmentsCostCache.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/LoadRuleTest.java
Labels: Bug, Area - Testing, Area - Segment Balancing/Coordination

#12235 Optimize kinesis ingestion task assignment after resharding
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/common/RecordSupplier.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/KinesisAdminClient.java
Labels: Improvement, Area - Streaming Ingestion, AWS Kinesis

#12263 Allow coordinator run auto compaction duty period to be configured separately from other indexing duties
  docs/design/coordinator.md
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CoordinatorCustomDuty.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/TestDruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
Labels: Area - Compaction

#12266 Adding Shared Access resource support for azure
  docs/development/extensions-core/azure.md
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureAccountConfig.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorageDruidModule.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageDruidModuleTest.java
  website/.spelling
Labels: Release Notes, Design Review, Area - Extension, Area - Deep Storage

#12203 upgrade core Apache Kafka dependencies to 3.1.0
  extensions-core/kafka-extraction-namespace/pom.xml
  extensions-core/kafka-extraction-namespace/src/test/java/org/apache/druid/query/lookup/KafkaLookupExtractorFactoryTest.java
  extensions-core/kafka-extraction-namespace/src/test/java/org/apache/druid/query/lookup/TestKafkaExtractionCluster.java
  extensions-core/kafka-extraction-namespace/src/test/java/org/apache/druid/server/lookup/namespace/cache/MockNamespaceExtractionCacheManager.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/test/TestBroker.java
  licenses.yaml
  pom.xml
Labels: Area - Streaming Ingestion, Area - Dependencies

#12267 Performance fixes in proto readers
  core/src/main/java/org/apache/druid/data/input/impl/JsonInputFormat.java
  core/src/main/java/org/apache/druid/data/input/impl/NestedInputFormat.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/ObjectFlatteners.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroOCFReader.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroStreamReader.java
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcReader.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/ParquetReader.java
  extensions-core/protobuf-extensions/src/main/java/org/apache/druid/data/input/protobuf/ProtobufReader.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufReaderTest.java
Labels: Performance, Area - Ingestion

#12105 perf: indexing: Introduce a bulk getValuesInto function to read values
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/StringDimensionIndexerBenchmark.java
  processing/src/main/java/org/apache/druid/segment/DictionaryEncodedColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/DimensionDictionary.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionDictionary.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
Labels: Performance, Area - Ingestion

#12282 Replace use of PowerMock with Mockito
  codestyle/druid-forbidden-apis.txt
  core/pom.xml
  extensions-core/lookups-cached-global/pom.xml
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/NamespaceLookupExtractorFactoryTest.java
  extensions-core/testing-tools/pom.xml
  indexing-hadoop/pom.xml
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/MetadataStorageUpdaterJobTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SequenceMetadataTest.java
  licenses.yaml
  pom.xml
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillAuditLogTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillDatasourceMetadataTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillSupervisorsTest.java
Labels: Area - Testing, Area - Dependencies

#12259 Make ParseExceptions more informative
  core/src/main/java/org/apache/druid/data/input/IntermediateRowParsingReader.java
  core/src/main/java/org/apache/druid/data/input/TextReader.java
  core/src/main/java/org/apache/druid/data/input/impl/JsonReader.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/CloseableIteratorWithMetadata.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroOCFReader.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroStreamReader.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcReader.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/ParquetReader.java
  extensions-core/protobuf-extensions/src/main/java/org/apache/druid/data/input/protobuf/ProtobufReader.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentReader.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  server/src/main/java/org/apache/druid/metadata/input/SqlReader.java
Labels: Ease of Use, Area - Ingestion
