Repository apache/druid, pull requests merged in 2022-10, with the labels that each got.

#13164 Docs: fix doc search
  .travis.yml
  website/package-lock.json
  website/package.json
  website/script/fix-docsearch.js
  website/script/notify-spellcheck-issues
  website/scss/custom.scss
  website/siteConfig.js
  website/static/css/custom.css
Labels: Bug, Area - Documentation

#13160 Exclude calcite from dependabot
  .github/dependabot.yml
Labels: Area - Dependencies

#13178 Set useMaxMemoryEstimates=false by default
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/BatchAppenderatorsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TestAppenderatorsManager.java
Labels: Area - Ingestion

#13170 Lazy initialization of segment killers, movers and archivers
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/storage/aliyun/OssStorageDruidModuleTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageDruidModuleTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleStorageDruidModuleTest.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/storage/hdfs/HdfsStorageDruidModuleTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3StorageDruidModuleTest.java
  server/src/main/java/org/apache/druid/segment/loading/OmniDataSegmentArchiver.java
  server/src/main/java/org/apache/druid/segment/loading/OmniDataSegmentKiller.java
  server/src/main/java/org/apache/druid/segment/loading/OmniDataSegmentMover.java
  server/src/test/java/org/apache/druid/guice/LocalDataStorageDruidModuleTest.java
  server/src/test/java/org/apache/druid/segment/loading/OmniDataSegmentArchiverTest.java
  server/src/test/java/org/apache/druid/segment/loading/OmniDataSegmentKillerTest.java
  server/src/test/java/org/apache/druid/segment/loading/OmniDataSegmentMoverTest.java
Labels: Bug, Area - Extension

#13176 update core Apache Kafka dependencies to 3.3.1
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#13092 Make http options the default configurations
  dev/intellij-setup.md
  docs/configuration/index.md
  examples/conf/druid/cluster/master/coordinator-overlord/runtime.properties
  examples/conf/druid/single-server/large/coordinator-overlord/runtime.properties
  examples/conf/druid/single-server/medium/coordinator-overlord/runtime.properties
  examples/conf/druid/single-server/micro-quickstart/coordinator-overlord/runtime.properties
  examples/conf/druid/single-server/nano-quickstart/coordinator-overlord/runtime.properties
  examples/conf/druid/single-server/small/coordinator-overlord/runtime.properties
  examples/conf/druid/single-server/xlarge/coordinator-overlord/runtime.properties
  server/src/main/java/org/apache/druid/client/FilteredServerInventoryViewProvider.java
  server/src/main/java/org/apache/druid/client/ServerInventoryViewProvider.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorConfigTest.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
Labels: Area - Operations, Release Notes

#13177 Fix null message handling in AllowedRegexErrorResponseTransformStrategy.
  core/src/main/java/org/apache/druid/common/exception/AllowedRegexErrorResponseTransformStrategy.java
  core/src/test/java/org/apache/druid/common/exception/AllowedRegexErrorResponseTransformStrategyTest.java
Labels: Bug

#13194 Dependency cleanup
  extensions-contrib/compressed-bigdecimal/pom.xml
  extensions-core/kafka-extraction-namespace/pom.xml
  extensions-core/kafka-indexing-service/pom.xml
  extensions-core/protobuf-extensions/pom.xml
  integration-tests/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#13188 process: update PR template to include release notes
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: Area - Documentation, Area - Dev

#13211 fix issue with nested column null value index incorrectly matching non-null values
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
Labels: Bug, Area - Querying

#13209 use object[] instead of string[] for vector expressions to be consistent with vector object selectors
  core/src/main/java/org/apache/druid/math/expr/IdentifierExpr.java
  core/src/main/java/org/apache/druid/math/expr/vector/CastToStringVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/ExprEvalObjectVector.java
  core/src/main/java/org/apache/druid/math/expr/vector/ExprEvalVector.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutObjectInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutObjectsInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/ObjectOutMultiObjectInVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/ObjectOutObjectsInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorComparisonProcessors.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorProcessors.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorStringProcessors.java
  processing/src/main/java/org/apache/druid/segment/column/StringDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorInputBinding.java
  processing/src/main/java/org/apache/druid/segment/virtual/SingleStringInputDeferredEvaluationExpressionDimensionVectorSelector.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorObjectSelectorTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
Labels: Bug, Area - Querying

#13144 Adds Idle feature to `SeekableStreamSupervisor` for inactive stream
  docs/development/extensions-core/kafka-supervisor-operations.md
  docs/development/extensions-core/kafka-supervisor-reference.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/IdleConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorIOConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractStreamIndexingTest.java
  integration-tests/src/test/java/org/apache/druid/tests/parallelized/ITKafkaIndexingServiceNonTransactionalParallelizedTest.java
  integration-tests/src/test/resources/stream/data/supervisor_with_idle_behaviour_enabled_spec_template.json
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorStateManager.java
  server/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorStateManagerTest.java
Labels: Release Notes, Design Review, Area - Streaming Ingestion

#13214 fix json_value sql planning with decimal type, fix vectorized expression math null value handling in default mode
  core/src/main/java/org/apache/druid/math/expr/BinaryMathOperatorExpr.java
  core/src/main/java/org/apache/druid/math/expr/vector/BivariateDoubleFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/BivariateFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/BivariateLongFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutDoubleInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutDoubleLongInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutDoublesInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutLongDoubleInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutLongInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutLongsInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutDoubleInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutDoubleLongInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutDoublesInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutLongDoubleInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutLongInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutLongsInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/UnivariateDoubleFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/UnivariateLongFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorMathProcessors.java
  core/src/test/java/org/apache/druid/math/expr/VectorExprSanityTest.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/test/java/org/apache/druid/segment/virtual/VirtualColumnsTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying

#13217 Add more information to exceptions occurred while writing temporary data
  processing/src/main/java/org/apache/druid/segment/writeout/FileWriteOutBytes.java
  processing/src/test/java/org/apache/druid/segment/writeout/FileWriteOutBytesTest.java
Labels: Area - Ingestion

#13215 Make DimensionDictionary abstract
  processing/src/main/java/org/apache/druid/segment/DimensionDictionary.java
Labels: Area - Ingestion

#13133 Composite approach for checking in-filter values set in column dictionary
  benchmarks/src/test/java/org/apache/druid/benchmark/DictionaryEncodedStringIndexSupplierBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/InFilterBenchmark.java
  processing/src/main/java/org/apache/druid/segment/serde/DictionaryEncodedStringIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/serde/DictionaryEncodedStringIndexSupplierTest.java
Labels: Area - Querying

#13219 Improve global-cached-lookups metric reporting
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/data/input/MapPopulator.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/JdbcCacheGenerator.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/UriCacheGenerator.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/OnHeapNamespaceExtractionCacheManager.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/data/input/MapPopulatorTest.java
Labels: Area - Metrics/Event Emitting, Area - Lookups

#13218 Minor doc update for BroadcastTablesTooLarge
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

#13227 Update nested-columns.md
  docs/querying/nested-columns.md
Labels: Area - Documentation

#13195 Support to read task logs from some S3 compatible cloud storage
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3TaskLogs.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3TaskLogsTest.java
Labels: Area - Ingestion

#13229 Docs: Add query/cpu/time to real-time metrics.
  docs/operations/metrics.md
Labels: Area - Documentation

#13172 Fix Overlord leader election when task lock re-acquisition fails
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockboxSyncResult.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskMaster.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
Labels: Area - Ingestion

#13206 SQL: Use timestamp_floor when granularity is not safe.
  benchmarks/src/test/java/org/apache/druid/benchmark/GroupByTypeInterfaceBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/GroupByBenchmark.java
  extensions-contrib/virtual-columns/src/test/java/org/apache/druid/segment/MapVirtualColumnGroupByTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/groupby/strategy/GroupByStrategyV2.java
  processing/src/main/java/org/apache/druid/segment/RowBasedStorageAdapter.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownInsufficientBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownMultiNodeMergeTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByMultiSegmentTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryMergeBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerFailureTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByTimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedQueryPushDownTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCorrelatedQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - SQL

#13224 Collocated processes instructions
  docs/development/extensions-contrib/prometheus.md
Labels: Area - Documentation

#13236 Fix Overlord leader election when task lock re-acquisition fails (#13…
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockboxSyncResult.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskMaster.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
Labels: Backport

#13196 Async reads for JDBC
  core/src/main/java/org/apache/druid/java/util/common/concurrent/Execs.java
  docs/configuration/index.md
  services/src/main/java/org/apache/druid/server/AsyncQueryForwardingServlet.java
  sql/pom.xml
  sql/src/main/java/org/apache/druid/sql/avatica/AbstractDruidJdbcStatement.java
  sql/src/main/java/org/apache/druid/sql/avatica/AvaticaServerConfig.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidAvaticaJsonHandler.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidAvaticaProtobufHandler.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidConnection.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidJdbcPreparedStatement.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidJdbcResultSet.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidJdbcStatement.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaProtobufHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Querying

#13213 api: change API page formatting
  docs/data-management/automatic-compaction.md
  docs/ingestion/index.md
  docs/operations/api-reference.md
Labels: Area - Documentation

#13237 Fix race condition in HttpPostEmitter that occurs during shutdown
  core/src/main/java/org/apache/druid/java/util/emitter/core/HttpPostEmitter.java
Labels: Bug, Area - Metrics/Event Emitting

#13198 MSQ: Report the warning directly as an error if none of it is allowed by the user
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/MSQWarningReportLimiterPublisher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQTasksTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQWarningsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - MSQ

#12965 Modular Calcite Test Framework
  benchmarks/src/test/java/org/apache/druid/benchmark/DruidSchemaInternRowSignatureBenchmark.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalSqlAggregatorTestBase.java
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/AveragerFactoryWrapper.java
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregatorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQWarningsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
  integration-tests/src/test/java/org/apache/druid/tests/security/ITBasicAuthConfigurationTest.java
  server/pom.xml
  server/src/main/java/org/apache/druid/server/security/Access.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/SegmentMetadataCacheConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/MetadataSegmentView.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteScanSignatureTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DruidPlannerResourceAnalyzeTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestRunner.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/SegmentMetadataCacheConfigTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidCalciteSchemaModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaNoDataInitTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentDataCacheConcurrencyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheCommon.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTestInjectorBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
Labels: Area - Testing, Refactoring

#13040 Remove basePersistDirectory from tuning configs.
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/test/TestModifiedKafkaIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/test/TestModifiedKinesisIndexTaskTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/index/RealtimeAppenderatorTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTuningConfig.java
  server/src/main/java/org/apache/druid/segment/indexing/RealtimeTuningConfig.java
  server/src/test/java/org/apache/druid/segment/indexing/RealtimeTuningConfigTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/AppenderatorPlumberTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/RealtimePlumberSchoolTest.java
Labels: Area - Ingestion

#13257 Another simpler attempt to fix travis build
  .travis.yml
Labels: Area - Dev

#13226 Fix Apache Commons Text CVE-2022-42889
  licenses.yaml
  pom.xml
Labels: Security, Area - Dependencies

#13260 [Backport] Another simpler attempt to fix travis build (#13257)
  .travis.yml
Labels: Backport, Area - Dev

#13085 Refactoring the data source before unnest
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlVsNativeBenchmark.java
  core/src/main/java/org/apache/druid/guice/DruidSecondaryModule.java
  core/src/main/java/org/apache/druid/guice/GuiceInjectableValues.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BroadcastJoinHelper.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/InputNumberDataSource.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/BroadcastJoinHelperTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/main/java/org/apache/druid/query/InlineDataSource.java
  processing/src/main/java/org/apache/druid/query/JoinDataSource.java
  processing/src/main/java/org/apache/druid/query/LookupDataSource.java
  processing/src/main/java/org/apache/druid/query/Queries.java
  processing/src/main/java/org/apache/druid/query/QueryDataSource.java
  processing/src/main/java/org/apache/druid/query/TableDataSource.java
  processing/src/main/java/org/apache/druid/query/UnionDataSource.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegment.java
  processing/src/main/java/org/apache/druid/segment/join/JoinableClause.java
  processing/src/main/java/org/apache/druid/segment/join/JoinableFactoryWrapper.java
  processing/src/main/java/org/apache/druid/segment/join/NoopJoinableFactory.java
  processing/src/test/java/org/apache/druid/query/JoinDataSourceTest.java
  processing/src/test/java/org/apache/druid/query/QueriesTest.java
  processing/src/test/java/org/apache/druid/query/planning/DataSourceAnalysisTest.java
  processing/src/test/java/org/apache/druid/segment/TestHelper.java
  processing/src/test/java/org/apache/druid/segment/join/JoinableFactoryWrapperTest.java
  processing/src/test/java/org/apache/druid/segment/join/NoopDataSource.java
  server/src/main/java/org/apache/druid/client/CacheUtil.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientCacheKeyManagerTest.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalDataSource.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidJoinQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/SqlStatementTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/external/ExternalTableScanRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/rel/DruidQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Querying, Refactoring

#13265 fix thread safety issue with nested column global dictionaries
  core/src/main/java/org/apache/druid/segment/column/TypeStrategies.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedVariableSizedBlobColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/FixedIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexed.java
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/data/FixedIndexedTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
Labels: Bug, Area - Querying

#13249 Removed unused planner context parameter
  sql/src/main/java/org/apache/druid/sql/DirectStatement.java
  sql/src/main/java/org/apache/druid/sql/PreparedStatement.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/DruidViewMacro.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/external/ExternalTableScanRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
Labels: Area - Querying

#13266 updates inputSegmentSizeBytes description in auto-compaction config
  docs/configuration/index.md
Labels: Area - Documentation

#13263 Add task start status to worker report
  docs/multi-stage-query/api.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQStatusReport.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  website/.spelling
Labels: Area - MSQ

#13243 Web console: Update dqt to a version that adds quotes by default
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/druid-models/ingest-query-pattern/ingest-query-pattern.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/helpers/spec-conversion.spec.ts
  web-console/src/helpers/spec-conversion.ts
  web-console/src/react-table/react-table-utils.ts
  web-console/src/utils/druid-query.ts
  web-console/src/utils/sample-query.spec.tsx
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/workbench-view/ingest-success-pane/__snapshots__/ingest-success-pane.spec.tsx.snap
Labels: Release Notes, Area - Web Console

#13262 helm: add Kubernetes discovery support
  helm/druid/templates/broker/deployment.yaml
  helm/druid/templates/coordinator/deployment.yaml
  helm/druid/templates/historical/statefulset.yaml
  helm/druid/templates/middleManager/statefulset.yaml
  helm/druid/templates/overlord/deployment.yaml
  helm/druid/templates/router/deployment.yaml
Labels: Helm Chart

#13221 Remove skip ignorable shards
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/common/RecordSupplier.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Streaming Ingestion, AWS Kinesis

#13267 fix nested column thread safety issue for 24.0.1
  core/src/main/java/org/apache/druid/segment/column/TypeStrategies.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
Labels: Bug, Area - Querying

#13273 RTR: Dedupe items in getKnownTasks.
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
Labels: Bug, Area - Ingestion

#13272 MSQ: Use long instead of double for estimatedRetainedBytes.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/ClusterByStatisticsCollectorImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/DelegateOrMinKeyCollector.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/DistinctKeyCollector.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/KeyCollector.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/QuantilesSketchKeyCollector.java
Labels: Bug, Area - MSQ

#13275 MSQ: Add support for indexSpec.
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQTuningConfig.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/SegmentGeneratorFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQTuningConfigTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/segment/IndexSpec.java
  website/.spelling
Labels: Area - MSQ

#13241 Update data loader parse screen help text
  web-console/src/views/load-data-view/info-messages.tsx
Labels: Area - Web Console

#13223 Resume streaming tasks on Overlord switch
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Streaming Ingestion

#13281 [Backport] Fix QueryContext race condition
  sql/src/main/java/org/apache/druid/sql/avatica/DruidConnection.java
Labels: Backport

#13278 [Backport] Dedupe items in getKnownTasks
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
Labels: Backport

#13288 Correct task status returned by controller
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/WorkerCount.java
Labels: Area - MSQ
