Repository apache/druid, pull requests merged in 2022-11, with the labels that each got.

#13279 [Backport] nested column fixes 24.0.1
  core/src/main/java/org/apache/druid/math/expr/BinaryMathOperatorExpr.java
  core/src/main/java/org/apache/druid/math/expr/IdentifierExpr.java
  core/src/main/java/org/apache/druid/math/expr/vector/BivariateDoubleFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/BivariateFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/BivariateLongFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/CastToStringVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutDoubleInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutDoubleLongInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutDoublesInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutLongDoubleInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutLongInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/DoubleOutLongsInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/ExprEvalObjectVector.java
  core/src/main/java/org/apache/druid/math/expr/vector/ExprEvalVector.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutDoubleInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutDoubleLongInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutDoublesInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutLongDoubleInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutLongInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutLongsInFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutObjectInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/LongOutObjectsInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/ObjectOutMultiObjectInVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/ObjectOutObjectsInFunctionVectorProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/UnivariateDoubleFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/UnivariateLongFunctionVectorValueProcessor.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorComparisonProcessors.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorMathProcessors.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorProcessors.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorStringProcessors.java
  core/src/test/java/org/apache/druid/math/expr/VectorExprSanityTest.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/main/java/org/apache/druid/segment/column/StringDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorInputBinding.java
  processing/src/main/java/org/apache/druid/segment/virtual/SingleStringInputDeferredEvaluationExpressionDimensionVectorSelector.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorObjectSelectorTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/VirtualColumnsTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Backport

#12177 introduce a "tree" type to the flattenSpec
  benchmarks/src/test/java/org/apache/druid/benchmark/FlattenJSONBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/FlattenJSONBenchmarkUtil.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/JSONFlattenerMaker.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/JSONPathFieldSpec.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/JSONPathFieldType.java
  core/src/main/java/org/apache/druid/java/util/common/parsers/ObjectFlatteners.java
  core/src/test/java/org/apache/druid/data/input/impl/JsonInputFormatTest.java
  core/src/test/java/org/apache/druid/data/input/impl/JsonLineReaderTest.java
  core/src/test/java/org/apache/druid/data/input/impl/JsonReaderTest.java
  core/src/test/java/org/apache/druid/java/util/common/parsers/JSONPathParserTest.java
  docs/ingestion/data-formats.md
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroFlattenerMaker.java
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcStructFlattenerMaker.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/simple/ParquetGroupFlattenerMaker.java
Labels: Feature, Performance, Release Notes, Design Review, Area - Ingestion

#13297 fix nested column range index range computation
  processing/src/main/java/org/apache/druid/segment/data/FixedIndexed.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/data/FixedIndexedTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
Labels: Bug, Area - Querying

#13228 docs(msq): update insert vs replace for dimension-based segment pruning
  docs/multi-stage-query/concepts.md
Labels: Area - Documentation

#13300 [Backport] fix nested column range index range computation (#13297)
  processing/src/main/java/org/apache/druid/segment/data/FixedIndexed.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/data/FixedIndexedTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
Labels: Backport

#13286 PrometheusEmitter NullPointerException fix
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitter.java
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitterConfig.java
Labels: Bug, Area - Metrics/Event Emitting, Area - Extension

#13271 Use lookup memory footprint in MSQ memory computations.
  docs/multi-stage-query/concepts.md
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/OnHeapNamespaceExtractionCacheManager.java
  extensions-core/lookups-cached-single/src/main/java/org/apache/druid/server/lookup/PollingLookup.java
  extensions-core/lookups-cached-single/src/main/java/org/apache/druid/server/lookup/cache/polling/OnHeapPollingCache.java
  extensions-core/lookups-cached-single/src/main/java/org/apache/druid/server/lookup/cache/polling/PollingCache.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/PollingLookupTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerWorkerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/IndexerWorkerContextTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerContext.java
  processing/src/main/java/org/apache/druid/query/extraction/MapLookupExtractor.java
  processing/src/main/java/org/apache/druid/query/lookup/LookupExtractor.java
  processing/src/test/java/org/apache/druid/query/extraction/MapLookupExtractorTest.java
Labels: Area - MSQ

#13247 Always return sketches from DS_HLL, DS_THETA, DS_QUANTILES_SKETCH.
  benchmarks/src/test/java/org/apache/druid/benchmark/DataSketchesHllBenchmark.java
  codestyle/spotbugs-exclude.xml
  core/src/main/java/org/apache/druid/jackson/DefaultTrueJsonIncludeFilter.java
  docs/querying/sql-query-context.md
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/SketchQueryContext.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchApproxCountDistinctSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchBaseSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchEstimateOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchEstimateWithErrorBoundsOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSetUnionOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchToStringOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchApproxQuantileSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchListArgBaseOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSingleArgBaseOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSummaryOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchEstimatePostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchApproxCountDistinctSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchBaseSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchEstimateOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchEstimateWithErrorBoundsOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSetBaseOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlOperators.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToEstimatePostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Projection.java
Labels: Incompatible, Release Notes, Area - SQL

#13306 Update Curator in licenses.yaml.
  licenses.yaml
Labels: Development Blocker, Area - Dev

#13296 Make RecordSupplierInputSource respect sampler timeout when stream is empty
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamSamplerSpec.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSourceTest.java
Labels: Area - Streaming Ingestion

#13301 Suppressing package-lock.json?d3-color vulnerability
  owasp-dependency-check-suppressions.xml
Labels: Security, Area - Dependencies

#13294 fix issue with parquet list conversion of nullable lists with complex nullable elements
  core/src/main/java/org/apache/druid/java/util/common/parsers/ObjectFlatteners.java
  extensions-core/parquet-extensions/example/flattening/nullable_list.snappy.parquet
  extensions-core/parquet-extensions/example/flattening/nullable_list_flatten.json
  extensions-core/parquet-extensions/pom.xml
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/simple/ParquetGroupConverter.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/simple/ParquetGroupFlattenerMaker.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/BaseParquetReaderTest.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/FlattenSpecParquetInputTest.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/FlattenSpecParquetReaderTest.java
Labels: Bug, Area - Batch Ingestion, Incompatible, Release Notes

#13274 MSQ: Consider PARTITION_STATS_MAX_BYTES in WorkerMemoryParameters.
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerMemoryParameters.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerWorkerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/NotEnoughMemoryFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/StageDefinition.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/ControllerQueryKernel.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/ControllerStageTracker.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerMemoryParametersTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/IndexerWorkerContextTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/controller/BaseControllerQueryKernelTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerContext.java
Labels: Area - MSQ

#13280 Compaction: Fetch segments one at a time on main task; skip when possible.
  core/src/main/java/org/apache/druid/timeline/VersionedIntervalTimeline.java
  core/src/test/java/org/apache/druid/timeline/VersionedIntervalTimelineTest.java
  docs/data-management/automatic-compaction.md
  docs/data-management/compaction.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskToolboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  processing/src/main/java/org/apache/druid/segment/SimpleQueryableIndex.java
  website/.spelling
Labels: Area - Compaction

#13238 Add segment handoff time metric
  core/src/main/java/org/apache/druid/java/util/metrics/BasicMonitorScheduler.java
  core/src/main/java/org/apache/druid/java/util/metrics/MonitorScheduler.java
  core/src/test/java/org/apache/druid/java/util/metrics/BasicMonitorSchedulerTest.java
  core/src/test/java/org/apache/druid/java/util/metrics/ClockDriftSafeMonitorSchedulerTest.java
  core/src/test/java/org/apache/druid/java/util/metrics/MonitorSchedulerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/stats/TaskRealtimeMetricsMonitor.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/stats/TaskRealtimeMetricsMonitorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  server/src/main/java/org/apache/druid/segment/realtime/FireDepartmentMetrics.java
  server/src/main/java/org/apache/druid/segment/realtime/RealtimeMetricsMonitor.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
  server/src/test/java/org/apache/druid/segment/realtime/FireDepartmentMetricsTest.java
  server/src/test/java/org/apache/druid/segment/realtime/RealtimeMetricsMonitorTest.java
Labels: Area - Metrics/Event Emitting

#13318 MSQ should load even if node roles are not set
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
Labels: Bug, Area - MSQ

#13313 Improve task pause logging and metrics for streaming ingestion
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Metrics/Event Emitting, Area - Streaming Ingestion

#13201 Try converting all inner joins to filters
  processing/src/main/java/org/apache/druid/segment/join/JoinableFactoryWrapper.java
  processing/src/test/java/org/apache/druid/segment/join/JoinableFactoryWrapperTest.java
Labels: Area - Querying

#13181 Update retention rules doc
  docs/assets/retention-rules.png
  docs/operations/rule-configuration.md
Labels: Area - Documentation

#13282 MSQ: Fix task lock checking during publish, fix lock priority.
  docs/ingestion/tasks.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/InsertLockPreemptedFault.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/ControllerImplTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestTaskActionClient.java
Labels: Bug, Area - MSQ

#13311 Adds cluster level idleConfig setting for supervisor
  docs/configuration/index.md
  docs/development/extensions-core/kafka-supervisor-reference.md
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/IdleConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorStateManagerConfig.java
  server/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorStateManagerTest.java
Labels: Area - Streaming Ingestion

#13321 Fix issues with caching cost strategy
  docs/operations/metrics.md
  docs/operations/rule-configuration.md
  server/src/main/java/org/apache/druid/server/coordinator/CachingCostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/EmitClusterStatsAndMetrics.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/BalancingStrategiesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulation.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentBalancingTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestServerInventoryView.java
Labels: Area - Segment Balancing/Coordination

#13310 Improve fetch of pending segments from metadata store
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
Labels: Area - Ingestion

#13270 Adds license and security vulnerabilities checks for Hadoop3 build
  .travis.yml
  check_test_suite.py
Labels: Security, Area - Dependencies

#13269 Add a OverlordHelper that cleans up durable storage objects in MSQ
  core/src/main/java/org/apache/druid/storage/StorageConnector.java
  core/src/main/java/org/apache/druid/storage/local/LocalFileStorageConnector.java
  core/src/test/java/org/apache/druid/storage/local/LocalFileStorageConnectorTest.java
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQDurableStorageModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MultiStageQuery.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/DurableStorageCleaner.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/DurableStorageCleanerConfig.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/DurableStorageCleanerTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3StorageConnector.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3StorageConnectorTest.java
Labels: Release Notes, Area - MSQ

#13331 Enhance streaming ingestion metrics
  docs/operations/metrics.md
  extensions-contrib/opentsdb-emitter/src/main/resources/defaultMetrics.json
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
Labels: Area - Metrics/Event Emitting

#13335 fix front-coded bucket size handling, better validation
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexedWriter.java
  processing/src/test/java/org/apache/druid/segment/data/FrontCodedIndexedTest.java
Labels: Area - Segment Format and Ser/De

#12102 HttpPostEmitter back off send() busy-loop
  core/src/main/java/org/apache/druid/java/util/emitter/core/HttpEmitterConfig.java
  core/src/main/java/org/apache/druid/java/util/emitter/core/HttpPostEmitter.java
  core/src/test/java/org/apache/druid/java/util/emitter/core/HttpPostEmitterLoggerStressTest.java
Labels: Area - Metrics/Event Emitting

#13328 Optimize metadata calls in SeekableStreamSupervisor
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Performance, Area - Streaming Ingestion

#13314 Update nested columns doc
  docs/querying/nested-columns.md
Labels: Area - Documentation

#13332 fix complex_decode_base64 function, add SQL bindings
  core/src/main/java/org/apache/druid/math/expr/BuiltInExprMacros.java
  core/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/main/java/org/apache/druid/segment/column/TypeStrategy.java
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  core/src/test/java/org/apache/druid/segment/column/TypeStrategiesTest.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchBaseSqlAggregator.java
  processing/src/main/java/org/apache/druid/segment/column/ObjectStrategyComplexTypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/serde/ComplexMetrics.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/BuiltinApproxCountDistinctSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ComplexDecodeBase64OperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying

#13344 fix flaky RemoteTaskRunnerTest.testRunPendingTaskFailToAssignTask with ugly Thread.sleep
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
Labels: Flaky test

#13329 Update ingestion spec doc
  docs/ingestion/ingestion-spec.md
Labels: Area - Documentation

#13346 Fix messageGap emission
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/stats/TaskRealtimeMetricsMonitor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  server/src/main/java/org/apache/druid/segment/realtime/FireDepartmentMetrics.java
  server/src/main/java/org/apache/druid/segment/realtime/RealtimeMetricsMonitor.java
  server/src/test/java/org/apache/druid/segment/realtime/FireDepartmentMetricsTest.java
Labels: Area - Metrics/Event Emitting, Area - Streaming Ingestion

#13308 Add missing MSQ error code fields to docs
  CONTRIBUTING.md
  docs/development/extensions-core/datasketches-hll.md
  docs/ingestion/data-formats.md
  docs/ingestion/index.md
  docs/ingestion/partitioning.md
  docs/ingestion/rollup.md
  docs/ingestion/schema-design.md
  docs/ingestion/tasks.md
  docs/multi-stage-query/api.md
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/examples.md
  docs/multi-stage-query/index.md
  docs/multi-stage-query/reference.md
  docs/operations/rule-configuration.md
  docs/querying/virtual-columns.md
  website/.spelling
Labels: Area - Documentation

#13027 Use standard library to correctly glob and stop at the correct folder structure when filtering cloud objects
  core/src/main/java/org/apache/druid/data/input/impl/CloudObjectInputSource.java
  core/src/test/java/org/apache/druid/data/input/impl/CloudObjectInputSourceTest.java
  docs/ingestion/native-batch-input-source.md
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/data/input/aliyun/OssInputSource.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/data/input/azure/AzureInputSource.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureInputSourceTest.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSource.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSourceTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSource.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  website/.spelling
Labels: Area - Batch Ingestion, Release Notes

#13334 SeekableStreamSupervisor: Don't enqueue duplicate notices.
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/NoticesQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/NoticesQueueTest.java
Labels: Area - Streaming Ingestion

#13356 dump-segment tool support for examining nested columns
  docs/operations/dump-segment.md
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedLiteralTypeInfo.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  services/src/main/java/org/apache/druid/cli/DumpSegment.java
  services/src/test/java/org/apache/druid/cli/DumpSegmentTest.java
  services/src/test/resources/nested-test-aggs.json
  services/src/test/resources/nested-test-data.json
  services/src/test/resources/nested-test-parser.json
Labels: Area - Segment Format and Ser/De, Area - Cli

#13325 nested column support for Parquet and Avro
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/ExpressionTypeConversion.java
  core/src/test/java/org/apache/druid/math/expr/ExprEvalTest.java
  extensions-core/avro-extensions/pom.xml
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputFormatTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputRowParserTest.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/NestedColumnParquetReaderTest.java
Labels: Bug, Area - Querying, Area - Ingestion

#13352 Add a limit to the number of columns in the CLUSTERED BY clause
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/Limits.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/QueryValidator.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TooManyClusteredByColumnsFault.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
Labels: Release Notes, Area - MSQ

#13367 Add `RoundRobinServerSelector` to speed up segment assignments
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorRuntimeParams.java
  server/src/main/java/org/apache/druid/server/coordinator/RoundRobinServerSelector.java
  server/src/main/java/org/apache/druid/server/coordinator/ServerHolder.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/LoadRule.java
  server/src/test/java/org/apache/druid/server/coordinator/RoundRobinServerSelectorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/LoadRuleTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulation.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/RoundRobinAssignmentTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
Labels: Area - Segment Balancing/Coordination

#13364 Add string comparison methods to StringUtils, fix dictionary comparisons.
  benchmarks/src/test/java/org/apache/druid/benchmark/BoundFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/DictionaryEncodedStringIndexSupplierBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/DimensionPredicateFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/FrontCodedIndexedBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/InFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/LikeFilterBenchmark.java
  core/src/main/java/org/apache/druid/java/util/common/ByteBufferUtils.java
  core/src/main/java/org/apache/druid/java/util/common/StringUtils.java
  core/src/test/java/org/apache/druid/java/util/common/ByteBufferUtilsTest.java
  core/src/test/java/org/apache/druid/java/util/common/StringUtilsTest.java
  processing/src/main/java/org/apache/druid/frame/write/FrameWriterUtils.java
  processing/src/main/java/org/apache/druid/query/filter/InDimFilter.java
  processing/src/main/java/org/apache/druid/query/ordering/StringComparators.java
  processing/src/main/java/org/apache/druid/segment/IndexIO.java
  processing/src/main/java/org/apache/druid/segment/column/IndexedUtf8ValueSetIndex.java
  processing/src/main/java/org/apache/druid/segment/column/Utf8ValueSetIndex.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexed.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/DictionaryEncodedColumnPartSerde.java
  processing/src/test/java/org/apache/druid/segment/data/FrontCodedIndexedTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ExtractionDimFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/PredicateValueMatcherFactoryTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ValueMatchersTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/serde/DictionaryEncodedStringIndexSupplierTest.java
Labels: Bug

#13347 Add static-checks Github Action
  .github/scripts/display_dependency_analysis_error_message.sh
  .github/scripts/setup_generate_license.sh
  .github/workflows/static-checks.yml
Labels: Area - Dev

#13380 Fixes Kafka Supervisor Lag Report
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
Labels: Area - Streaming Ingestion

#13375 nested column support for ORC
  extensions-core/orc-extensions/example/test_list_map.orc
  extensions-core/orc-extensions/example/test_nested_array.orc
  extensions-core/orc-extensions/pom.xml
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcStructConverter.java
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcStructFlattenerMaker.java
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcStructJsonProvider.java
  extensions-core/orc-extensions/src/test/java/org/apache/druid/data/input/orc/OrcReaderTest.java
  extensions-core/orc-extensions/src/test/java/org/apache/druid/data/input/orc/OrcStructConverterTest.java
Labels: Bug, Area - Batch Ingestion

#13379 add missing vector object selector for multi-value string columns, refactor some stuff
  processing/src/main/java/org/apache/druid/segment/column/StringDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/column/StringFrontCodedDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralDictionaryEncodedColumn.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/segment/vector/QueryableIndexVectorColumnSelectorFactoryTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De, Refactoring

#13371 Allow injection of node-role set to all non base modules
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQDurableStorageModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerConfigTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopTask.java
  integration-tests/pom.xml
  integration-tests/src/main/java/org/apache/druid/testing/guice/DruidTestModule.java
  server/src/main/java/org/apache/druid/initialization/ServerInjectorBuilder.java
  server/src/main/java/org/apache/druid/server/metrics/MetricsModule.java
  server/src/test/java/org/apache/druid/initialization/ServerInjectorBuilderTest.java
  server/src/test/java/org/apache/druid/server/metrics/MetricsModuleTest.java
Labels: Area - Dependency Injection

#13383 JvmMonitor: Report jvm/gc/cpu in nanos.
  core/src/main/java/org/apache/druid/java/util/metrics/JvmMonitor.java
Labels: Bug, Area - Metrics/Event Emitting

#13373 Improve performance for ReadableInputStreamFrameChannel
  processing/src/main/java/org/apache/druid/frame/channel/ReadableInputStreamFrameChannel.java
Labels: Area - MSQ

#13376 Web console: react to user cancelation immediately
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/views/workbench-view/helper-query/helper-query.tsx
  web-console/src/views/workbench-view/query-tab/query-tab.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Web Console

#13381 Web console: streaming json input format specifics
  web-console/src/components/show-json/__snapshots__/show-json.spec.tsx.snap
  web-console/src/components/show-json/show-json.tsx
  web-console/src/components/show-log/__snapshots__/show-log.spec.tsx.snap
  web-console/src/components/show-log/show-log.tsx
  web-console/src/components/show-value/__snapshots__/show-value.spec.tsx.snap
  web-console/src/components/show-value/show-value.tsx
  web-console/src/dialogs/segments-table-action-dialog/__snapshots__/segment-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/supervisor-table-action-dialog/__snapshots__/supervisor-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/task-table-action-dialog/__snapshots__/task-table-action-dialog.spec.tsx.snap
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-format/input-format.tsx
  web-console/src/views/load-data-view/info-messages.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Streaming Ingestion, Area - Web Console

#13388 Web console: add supported indexSpec options
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
Labels: Area - Web Console, Area - Ingestion

#13387 Update docs on front coding
  docs/ingestion/ingestion-spec.md
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

#13374 Migrate current integration batch tests to equivalent MSQ tests
  .travis.yml
  distribution/pom.xml
  integration-tests-ex/cases/pom.xml
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/AbstractITSQLBasedIngestion.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITSQLBasedBatchIngestion.java
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/json_path_index_queries.json
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/msq_inline.sql
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/sparse_column_msq.json
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/sparse_column_msq.sql
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/wikipedia_http_inputsource_msq.sql
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/wikipedia_http_inputsource_queries.json
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/wikipedia_index_msq.sql
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/wikipedia_index_queries.json
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/wikipedia_index_queries_with_transform.json
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/wikipedia_index_task_with_transform.sql
  integration-tests-ex/cases/src/test/resources/multi-stage-query/batch-index/wikipedia_merge_index_task.sql
  integration-tests/src/main/java/org/apache/druid/testing/utils/MsqTestQueryHelper.java
Labels: Area - Testing, Area - MSQ

#13316 Update Metrics doc
  docs/operations/metrics.md
Labels: Area - Documentation

#13392 Quieter streaming supervisors.
  examples/conf/druid/cluster/_common/log4j2.xml
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Operations

#13390 Fix shared lock acquisition criteria
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
Labels: Area - Ingestion

#13399 SeekableStreamSupervisor: Unique type name for GracefulShutdownNotice.
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Streaming Ingestion

#13354 Async task client for SeekableStreamSupervisors.
  core/src/main/java/org/apache/druid/common/guava/FutureUtils.java
  core/src/main/java/org/apache/druid/java/util/common/Either.java
  core/src/main/java/org/apache/druid/java/util/common/jackson/JacksonUtils.java
  core/src/test/java/org/apache/druid/common/guava/FutureUtilsTest.java
  core/src/test/java/org/apache/druid/common/jackson/JacksonUtilsTest.java
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClient.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClientFactory.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskModule.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClientTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskClient.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskClientFactory.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexingServiceModule.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskClientTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/pom.xml
  indexing-service/src/main/java/org/apache/druid/indexing/common/IndexTaskClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskClientAsyncImpl.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskClientFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskClientSyncImpl.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorTuningConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskClientAsyncImplTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  server/src/main/java/org/apache/druid/rpc/RequestBuilder.java
  server/src/main/java/org/apache/druid/rpc/ServiceClient.java
  server/src/main/java/org/apache/druid/rpc/ServiceClientImpl.java
  server/src/main/java/org/apache/druid/rpc/ServiceRetryPolicy.java
  server/src/main/java/org/apache/druid/rpc/StandardRetryPolicy.java
  server/src/main/java/org/apache/druid/rpc/indexing/SpecificTaskRetryPolicy.java
  server/src/test/java/org/apache/druid/rpc/MockServiceClient.java
  server/src/test/java/org/apache/druid/rpc/ServiceClientImplTest.java
Labels: Area - Streaming Ingestion

#13391 Make batched segment sampling the default, minor cleanup of coordinator config
  server/src/main/java/org/apache/druid/server/coordinator/BalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/HttpLoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/LoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/LoadQueuePeonTester.java
  server/src/test/java/org/apache/druid/server/coordinator/ReservoirSegmentSamplerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/TestDruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
Labels: Release Notes, Area - Segment Balancing/Coordination

#12981 Firehose migration doc
  docs/ingestion/migrate-from-firehose-ingestion.md
  docs/ingestion/native-batch-firehose.md
  website/sidebars.json
Labels: Area - Documentation

#13402 Web console: add ability to make inputFormat part of the example datasets
  web-console/src/views/workbench-view/input-source-step/example-inputs.ts
  web-console/src/views/workbench-view/input-source-step/input-source-step.tsx
Labels: Area - Web Console

#13403 Attach IO error to parse error when we can't contact Avro schema registry.
  extensions-core/avro-extensions/pom.xml
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoder.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoderTest.java
Labels: Area - Streaming Ingestion

#13408 Fix web-console snapshots
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
Labels: Area - Web Console

#13405 fix off by one error in nested column range index
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
Labels: Bug, Area - Querying

#13361 Add mechanism for 'safe' memory reads for complex types
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchOperations.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchOperations.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchOperations.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchConstantPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolder.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolderObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchOperations.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchObjectStrategyTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchComplexMetricSerdeTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchOperationsTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchComplexMetricSerdeTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchOperationsTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchComplexMetricSerdeTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchOperationsTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolderObjectStrategyTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolderTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchObjectStrategyTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchOperationsTest.java
  processing/src/main/java/org/apache/druid/segment/column/ObjectStrategyComplexTypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/data/ObjectStrategy.java
  processing/src/main/java/org/apache/druid/segment/data/SafeWritableBase.java
  processing/src/main/java/org/apache/druid/segment/data/SafeWritableBuffer.java
  processing/src/main/java/org/apache/druid/segment/data/SafeWritableMemory.java
  processing/src/test/java/org/apache/druid/segment/data/SafeWritableBufferTest.java
  processing/src/test/java/org/apache/druid/segment/data/SafeWritableMemoryTest.java
Labels: Bug, Area - Querying, Design Review, Area - Segment Format and Ser/De, Area - Ingestion

#13432 [Backport] Fix the Injector creation in HadoopTask (#13138)
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopTask.java
Labels: Backport

#13430 [Backport] Port CVE suppressions from 24.0.1
  owasp-dependency-check-suppressions.xml
Labels: Backport

#13386 Fixes reindexing bug with filter on long column
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidSegmentInputFormatTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidSegmentReaderTest.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarDoublesSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarFloatsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarLongsSupplier.java
Labels: Area - Ingestion, Area - Compaction

#13421 [Backport] Add mechanism for 'safe' memory reads for complex types
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchOperations.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchOperations.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchOperations.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchConstantPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolder.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolderObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchOperations.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchObjectStrategyTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchComplexMetricSerdeTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchOperationsTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchComplexMetricSerdeTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchOperationsTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchComplexMetricSerdeTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchOperationsTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolderObjectStrategyTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolderTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchObjectStrategyTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchOperationsTest.java
  processing/src/main/java/org/apache/druid/segment/column/ObjectStrategyComplexTypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/data/ObjectStrategy.java
  processing/src/main/java/org/apache/druid/segment/data/SafeWritableBase.java
  processing/src/main/java/org/apache/druid/segment/data/SafeWritableBuffer.java
  processing/src/main/java/org/apache/druid/segment/data/SafeWritableMemory.java
  processing/src/test/java/org/apache/druid/segment/data/SafeWritableBufferTest.java
  processing/src/test/java/org/apache/druid/segment/data/SafeWritableMemoryTest.java
Labels: Backport

#13422 [Backport] fix off by one error in nested column range index
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
Labels: Backport

#13423 Correction to firehose migration doc
  docs/ingestion/migrate-from-firehose-ingestion.md
Labels: Area - Documentation

#13442 Add MetricsVerifier to simplify verification of metric values in tests
  core/src/test/java/org/apache/druid/java/util/metrics/MetricsVerifier.java
  core/src/test/java/org/apache/druid/java/util/metrics/StubServiceEmitter.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/BalancingStrategiesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulation.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentLoadingTest.java
  server/src/test/java/org/apache/druid/server/metrics/TaskCountStatsMonitorTest.java
  server/src/test/java/org/apache/druid/server/metrics/TaskSlotCountStatsMonitorTest.java
  server/src/test/java/org/apache/druid/server/metrics/WorkerTaskCountStatsMonitorTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Testing, Refactoring

#13413 ServiceClient: More robust redirect handling.
  server/src/main/java/org/apache/druid/rpc/ServiceClient.java
  server/src/main/java/org/apache/druid/rpc/ServiceClientImpl.java
  server/src/main/java/org/apache/druid/rpc/ServiceNotAvailableException.java
  server/src/test/java/org/apache/druid/rpc/ServiceClientImplTest.java
Labels: Bug

#13437 Add filter in cloud object input source for backward compatibility
  core/src/main/java/org/apache/druid/data/input/impl/CloudObjectInputSource.java
  core/src/test/java/org/apache/druid/data/input/impl/CloudObjectInputSourceTest.java
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/data/input/aliyun/OssInputSource.java
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/data/input/aliyun/OssInputSourceTest.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/data/input/azure/AzureInputSource.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureInputSourceTest.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSource.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSourceTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSource.java
Labels: Bug, Area - Ingestion

#13406 fix KafkaInputFormat with nested columns
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafkainput/KafkaInputReader.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/data/input/kafkainput/KafkaInputFormatTest.java
Labels: Bug, Area - Streaming Ingestion

#13407 fix issues with nested data conversion
  core/src/main/java/org/apache/druid/java/util/common/parsers/ObjectFlatteners.java
  core/src/test/java/org/apache/druid/java/util/common/parsers/ObjectFlattenersTest.java
  extensions-core/orc-extensions/example/test_simple.orc
  extensions-core/orc-extensions/src/test/java/org/apache/druid/data/input/orc/OrcReaderTest.java
Labels: Bug, Area - Ingestion

#13431 Web console: be more robust to aux queries failing and improve kill tasks
  web-console/src/components/auto-form/auto-form.scss
  web-console/src/components/form-group-with-info/form-group-with-info.scss
  web-console/src/components/table-clickable-cell/table-clickable-cell.scss
  web-console/src/components/table-clickable-cell/table-clickable-cell.tsx
  web-console/src/components/warning-checklist/warning-checklist.tsx
  web-console/src/dialogs/async-action-dialog/async-action-dialog.tsx
  web-console/src/dialogs/index.ts
  web-console/src/dialogs/kill-datasource-dialog/kill-datasource-dialog.tsx
  web-console/src/druid-models/compaction-status/compaction-status.spec.ts
  web-console/src/druid-models/compaction-status/compaction-status.ts
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/services-view/services-view.tsx
Labels: Area - Web Console

#13444 [Backport] Add MetricsVerifier to simplify verification of metric values in tests
  core/src/test/java/org/apache/druid/java/util/metrics/MetricsVerifier.java
  core/src/test/java/org/apache/druid/java/util/metrics/StubServiceEmitter.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/BalancingStrategiesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulation.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentLoadingTest.java
  server/src/test/java/org/apache/druid/server/metrics/TaskCountStatsMonitorTest.java
  server/src/test/java/org/apache/druid/server/metrics/TaskSlotCountStatsMonitorTest.java
  server/src/test/java/org/apache/druid/server/metrics/WorkerTaskCountStatsMonitorTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Backport

#13443 Experimental features backport
  docs/configuration/index.md
  docs/development/experimental-features.md
  docs/development/extensions-core/druid-lookups.md
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/development/extensions-core/kinesis-ingestion.md
  docs/querying/lookups.md
Labels: Backport

#13348 Update and document experimental features
  docs/configuration/index.md
  docs/development/experimental-features.md
  docs/development/extensions-core/druid-lookups.md
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/development/extensions-core/kinesis-ingestion.md
  docs/querying/lookups.md
Labels: Area - Documentation

#13441 Removing duplicate FrameRowTooLargeException.java
  processing/src/main/java/org/apache/druid/frame/write/FrameRowTooLargeException.java
  processing/src/main/java/org/apache/druid/frame/write/FrameWriter.java
  processing/src/test/java/org/apache/druid/frame/testutil/FrameSequenceBuilder.java
  processing/src/test/java/org/apache/druid/frame/write/FrameRowTooLargeExceptionTest.java
Labels: Refactoring, Area - MSQ

#13366 Convert errors based on implicit type conversion in multi value arrays to parse exception in MSQ
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/resources/unparseable-mv-string-array.json
  processing/src/main/java/org/apache/druid/frame/write/RowBasedFrameWriter.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/ColumnarFrameWriter.java
Labels: Error handling, Area - MSQ

#13398 Improve unit test coverage for MSQ
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQFaultsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQWarningsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestFileUtils.java
Labels: Area - Testing, Area - MSQ

#13424 Update nested columns docs
  docs/ingestion/data-formats.md
  docs/ingestion/schema-design.md
  docs/querying/nested-columns.md
Labels: Area - Documentation

#13448 [Backport] fix issues with nested data conversion
  core/src/main/java/org/apache/druid/java/util/common/parsers/ObjectFlatteners.java
  core/src/test/java/org/apache/druid/java/util/common/parsers/ObjectFlattenersTest.java
  extensions-core/orc-extensions/example/test_simple.orc
  extensions-core/orc-extensions/src/test/java/org/apache/druid/data/input/orc/OrcReaderTest.java
Labels: Backport

#13447 [Backport] fix KafkaInputFormat with nested columns
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafkainput/KafkaInputReader.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/data/input/kafkainput/KafkaInputFormatTest.java
Labels: Backport

#13445 [Backport] ServiceClient: More robust redirect handling
  server/src/main/java/org/apache/druid/rpc/ServiceClient.java
  server/src/main/java/org/apache/druid/rpc/ServiceClientImpl.java
  server/src/main/java/org/apache/druid/rpc/ServiceNotAvailableException.java
  server/src/test/java/org/apache/druid/rpc/ServiceClientImplTest.java
Labels: Backport

#13452 Update experimental features doc
  docs/development/experimental-features.md
Labels: Area - Documentation

#13459 Fix an issue with WorkerSketchFetcher not terminating on shutdown
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
Labels: Bug, Area - MSQ

#13440 fix(sec): upgrade org.bouncycastle:bcprov-jdk15on to 1.69
  extensions-core/kubernetes-extensions/pom.xml
Labels: Area - Dependencies
