Repository apache/druid, pull requests merged in 2022-03, with the labels that each got.

#12224 latest datasketches-java-3.1.0
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchBuildVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketches.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregationTest.java
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#12280 RowStats for multiphase parallel indexing task
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/GeneratedPartitionsMetadataReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/GeneratedPartitionsReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialHashSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialRangeSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  processing/src/main/java/org/apache/druid/segment/incremental/MutableRowIngestionMeters.java
  processing/src/test/java/org/apache/druid/segment/incremental/MutableRowIngestionMetersTest.java
Labels: Area - Batch Ingestion, Improvement

#12096 perf: improve RemoteTaskRunner task assignment loop performance
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ZkWorker.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/TaskAnnouncement.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ZkWorkerTest.java
Labels: Performance

#12097 perf: eliminate double string concat in remote-task-runner shutdown logging
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
Labels: Performance

#12304 Fix ci
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
Labels: Development Blocker

#12295 Explicitly set Content-Type for string-based response
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/BasicSecurityResourceFilter.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/security/SupervisorResourceFilter.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/security/TaskResourceFilter.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/http/WorkerResource.java
Labels: Security

#12111 add a new query laning metrics to visualize lane assignment
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/server/QueryScheduler.java
  server/src/main/java/org/apache/druid/server/QuerySchedulerProvider.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
Labels: Release Notes, Area - Metrics/Event Emitting

#12005 Retain order in TaskReport maps.
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskReport.java
Labels: Area - Ingestion

#12232 Officially support Java 11.
  distribution/docker/README.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  examples/bin/verify-java
  processing/src/main/java/org/apache/druid/query/DruidProcessingConfig.java
  web-console/src/dialogs/doctor-dialog/doctor-checks.tsx
Labels: Area - Documentation, Compatibility

#12308 Correct errors on compaction doc
  docs/ingestion/compaction.md
Labels: Area - Documentation

#12307 Always reopen stream in FileUtils.copyLarge, RetryingInputStream.
  core/src/main/java/org/apache/druid/data/input/InputEntity.java
  core/src/main/java/org/apache/druid/data/input/RetryingInputEntity.java
  core/src/main/java/org/apache/druid/data/input/impl/RetryingInputStream.java
  core/src/main/java/org/apache/druid/data/input/impl/prefetch/FileFetcher.java
  core/src/main/java/org/apache/druid/java/util/common/FileUtils.java
  core/src/test/java/org/apache/druid/data/input/impl/RetryingInputStreamTest.java
  core/src/test/java/org/apache/druid/data/input/impl/prefetch/RetryingInputStreamTest.java
  core/src/test/java/org/apache/druid/java/util/common/FileUtilsTest.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/ParquetReaderResourceLeakTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3Entity.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidSegmentInputEntity.java
  server/src/test/java/org/apache/druid/guice/QueryableModuleTest.java
Labels: Bug, Area - Batch Ingestion

#12313 Break up parallel indexing unit test to reduce test times
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/MultiPhaseParallelIndexingRowStatsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
Labels: Area - Batch Ingestion, Area - Testing

#12309 GroupBy: Cap dictionary-building selector memory usage.
  docs/configuration/index.md
  docs/querying/groupbyquery.md
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/DictionaryBuilding.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayDoubleGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayLongGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayNumericGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayStringGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/DictionaryBuildingStringGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/DoubleGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/FloatGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/GroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/LongGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/NullableNumericGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/StringGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/DictionaryBuildingSingleValueStringGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/DoubleGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/FloatGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/GroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/LongGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/NilGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/NullableDoubleGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/NullableFloatGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/NullableLongGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/SingleValueStringGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryConfigTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayDoubleGroupByColumnSelectorStrategyTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayLongGroupByColumnSelectorStrategyTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayStringGroupByColumnSelectorStrategyTest.java
  website/.spelling
Labels: Area - Querying

#12300 Add git hooks that can run multiple scripts
  dev/intellij-setup.md
  hooks/install-hooks.sh
  hooks/pre-commit
  hooks/pre-commits/_pre-commit.sample
  hooks/pre-push
  hooks/pre-pushes/_pre-push.sample
  hooks/pre-pushes/checkstyle-check
  hooks/run-all-in-dir.py
  hooks/uninstall-hooks.sh
Labels: Area - Dev

#12291 adjust topn heap operation when string is dictionary encoded, but not uniquely
  processing/src/main/java/org/apache/druid/query/topn/types/StringTopNColumnAggregatesProcessor.java
Labels: Performance, Area - Querying

#12293 use a non-concurrent map for lookups-cached-global unless incremental updates are actually required
  extensions-core/kafka-extraction-namespace/src/main/java/org/apache/druid/query/lookup/KafkaLookupExtractorFactory.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/CacheGenerator.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/JdbcCacheGenerator.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/StaticMapCacheGenerator.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/UriCacheGenerator.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/CacheHandler.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/CacheProxy.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/CacheScheduler.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/NamespaceExtractionCacheManager.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/OffHeapNamespaceExtractionCacheManager.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/OnHeapNamespaceExtractionCacheManager.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/JdbcCacheGeneratorTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/NamespacedExtractorModuleTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/StaticMapCacheGeneratorTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/UriCacheGeneratorTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/CacheSchedulerTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/JdbcExtractionNamespaceTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/NamespaceExtractionCacheManagersTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/OnHeapNamespaceExtractionCacheManagerTest.java
Labels: Performance, Area - Lookups

#12314 Guard against exponential increase of filters during CNF conversion
  benchmarks/src/test/java/org/apache/druid/benchmark/FilterPartitionBenchmark.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/main/java/org/apache/druid/segment/filter/cnf/CNFFilterExplosionException.java
  processing/src/main/java/org/apache/druid/segment/filter/cnf/HiveCnfHelper.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/FilterCnfConversionTest.java
  processing/src/test/java/org/apache/druid/segment/filter/FilterPartitionTest.java
Labels: Area - Querying

#12323 improve FileWriteOutBytes.readFully
  processing/src/main/java/org/apache/druid/segment/writeout/FileWriteOutBytes.java
  processing/src/test/java/org/apache/druid/segment/writeout/FileWriteOutBytesTest.java
Labels: Performance, Area - Ingestion

#12324 Fix join query incase of filter explosion during CNF conversion
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
Labels: Performance, Area - SQL

#12315 push value range and set index get operations into BitmapIndex
  benchmarks/src/test/java/org/apache/druid/benchmark/ExpressionVectorSelectorBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/MockBitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/query/dimension/PredicateFilteredDimensionSelector.java
  processing/src/main/java/org/apache/druid/query/filter/BitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/query/filter/InDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/LikeDimFilter.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/ColumnInspector.java
  processing/src/main/java/org/apache/druid/segment/ColumnSelector.java
  processing/src/main/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelector.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexIndexableAdapter.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/main/java/org/apache/druid/segment/column/BitmapIndex.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/Indexed.java
  processing/src/main/java/org/apache/druid/segment/filter/BoundFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/main/java/org/apache/druid/segment/filter/LikeFilter.java
  processing/src/main/java/org/apache/druid/segment/serde/StringBitmapIndexColumnPartSupplier.java
  processing/src/main/java/org/apache/druid/segment/vector/QueryableIndexVectorColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionPlan.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/ColumnSelectorBitmapIndexSelectorTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerNullHandlingTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BoundFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ExtractionDimFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/FiltersTest.java
  processing/src/test/java/org/apache/druid/segment/filter/SelectorFilterTest.java
  processing/src/test/java/org/apache/druid/segment/join/BaseHashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionPlannerTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionSelectorsTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumnSelectorTest.java
Labels: Bug, Area - Querying, Design Review

#12269 Reuse the InputEntityReader in SettableByteEntityReader
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafkainput/KafkaInputFormat.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafkainput/KafkaInputReader.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/data/input/kafkainput/KafkaInputFormatTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SettableByteEntity.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SettableByteEntityReader.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/StreamChunkParser.java
Labels: Bug, Performance, Area - Streaming Ingestion

#12322 Git hooks should fail on errors; pass args to git hooks
  hooks/run-all-in-dir.py
Labels: Area - Dev

#12317 fix supervisor auto scaler config serde bug
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorIOConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorSpec.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Bug, Area - Streaming Ingestion

#12325 Fix error message for groupByEnableMultiValueUnnesting.
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByMergingQueryRunnerV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByQueryEngineV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/UnexpectedMultiValueDimensionException.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayDoubleGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayLongGroupByColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayStringGroupByColumnSelectorStrategy.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
Labels: Area - Querying

#11969 bug fix: merge results of group by limit push down
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
Labels: Bug, Area - Querying

#12320 Graceful null handling and correctness in DoubleMean Aggregator
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/mean/DoubleMeanVectorAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/DoubleMeanAggregationTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
Labels: Bug, Area - Querying, Area - Null Handling

#12306 upgrade Error Prone to 2.11 (requires Java 11)
  .travis.yml
  core/src/main/java/org/apache/druid/guice/JsonConfigurator.java
  extensions-contrib/thrift-extensions/src/main/java/org/apache/druid/data/input/thrift/ThriftInputRowParser.java
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#12316 Adding k8s support for human readable parsing
  core/src/main/java/org/apache/druid/java/util/common/HumanReadableBytes.java
  core/src/test/java/org/apache/druid/java/util/common/HumanReadableBytesTest.java
  docs/configuration/human-readable-byte.md
Labels: Kubernetes

#12333 Update some documents to reflect Java 11 support
  README.md
  docs/development/build.md
Labels: Area - Documentation

#12330 Fix a race condition in the '/tasks' Overlord API
  core/src/main/java/org/apache/druid/indexer/RunnerTaskState.java
  core/src/main/java/org/apache/druid/indexer/TaskInfo.java
  core/src/main/java/org/apache/druid/indexer/TaskStatus.java
  core/src/main/java/org/apache/druid/indexer/TaskStatusPlus.java
  core/src/main/java/org/apache/druid/metadata/MetadataStorageActionHandler.java
  core/src/main/java/org/apache/druid/metadata/TaskLookup.java
  core/src/test/java/org/apache/druid/metadata/TaskLookupTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/HeapMemoryTaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/MetadataTaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskStorageQueryAdapter.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/api/ITOverlordResourceNotFoundTest.java
  integration-tests/src/test/java/org/apache/druid/tests/api/ITOverlordResourceTest.java
  integration-tests/src/test/resources/api/overlord-resource-test-task.json
  server/src/main/java/org/apache/druid/metadata/DerbyMetadataStorageActionHandler.java
  server/src/main/java/org/apache/druid/metadata/MySQLMetadataStorageActionHandler.java
  server/src/main/java/org/apache/druid/metadata/PostgreSQLMetadataStorageActionHandler.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataStorageActionHandler.java
  server/src/main/java/org/apache/druid/metadata/SQLServerMetadataStorageActionHandler.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataStorageActionHandlerTest.java
Labels: Bug

#12348 fix build due to com.nimbusds:lang-tag update
  licenses.yaml
Labels: Development Blocker

#12338 Fix missing conversionFactor in prometheus emitter
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
Labels: Area - Metrics/Event Emitting, Area - Extension

#12341 improve test compatibility with Java 17 and remove deprecated methods
  core/src/main/java/org/apache/druid/metadata/EnvironmentVariableDynamicConfigProvider.java
  core/src/test/java/org/apache/druid/java/util/common/RetryUtilsTest.java
  core/src/test/java/org/apache/druid/java/util/emitter/core/HttpEmitterTest.java
  core/src/test/java/org/apache/druid/java/util/metrics/ClockDriftSafeMonitorSchedulerTest.java
  core/src/test/java/org/apache/druid/metadata/EnvironmentVariableDynamicConfigProviderTest.java
Labels: Area - Testing, Compatibility, Flaky test

#12342 update surefire plugin to 3.0.0-M4
  pom.xml
Labels: Area - Testing, Compatibility

#12334 Fix auto compaction by adjusting compaction task's interval to align with segmentGranularity when segmentGranularity is set
  core/src/main/java/org/apache/druid/java/util/common/JodaUtils.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/guice/DruidTestModuleFactory.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionIntervalSpec.java
  server/src/main/java/org/apache/druid/client/indexing/HttpIndexingServiceClient.java
  server/src/test/java/org/apache/druid/client/indexing/ClientCompactionIntervalSpecTest.java
  server/src/test/java/org/apache/druid/client/indexing/HttpIndexingServiceClientTest.java
Labels: Bug, Area - Compaction

#12349 upgrade maven-pmd-plugin to fix build warnings
  pom.xml
Labels: Area - Automation/Static Analysis, Area - Dependencies

#12351 fix use of deprecated initMocks method
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcherTest.java
Labels: Area - Testing, Compatibility

#12296 Added support in urls, and grouped metrics
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitter.java
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitterConfig.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/PrometheusEmitterTest.java
Labels: Area - Extension

#12352 Duties in Indexing group (such as Auto Compaction) does not report metrics
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/EmitClusterStatsAndMetrics.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/EmitClusterStatsAndMetricsTest.java
Labels: Release Notes, Area - Metrics/Event Emitting

#12326 Utilize javaOptsArray provided as part of task context
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ForkingTaskRunnerTest.java
Labels: Bug, Area - Ingestion

#12337 fix messageGap metric
  server/src/main/java/org/apache/druid/segment/realtime/FireDepartmentMetrics.java
  server/src/test/java/org/apache/druid/segment/realtime/FireDepartmentMetricsTest.java
Labels: Area - Metrics/Event Emitting

#12363 Docs for request logging
  docs/configuration/index.md
  docs/operations/metrics.md
  docs/operations/request-logging.md
  website/sidebars.json
Labels: Area - Documentation

#12365 Add an integration test for null-only columns
  integration-tests/src/main/java/org/apache/druid/testing/clients/TaskResponseObject.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractIndexerTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractKafkaIndexingServiceTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractKinesisIndexingServiceTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractStreamIndexingTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITNilColumnTest.java
  integration-tests/src/test/resources/stream/data/supervisor_spec_template.json
Labels: Area - Testing, Area - SQL

#11674 Docs – expressions link back and timestamp hint
  docs/ingestion/ingestion-spec.md
  docs/misc/math-expr.md
Labels: Area - Documentation

#12345 Introducing a new config to ignore nulls while computing String Cardinality
  core/src/main/java/org/apache/druid/common/config/NullHandling.java
  core/src/main/java/org/apache/druid/common/config/NullValueHandlingConfig.java
  core/src/test/java/org/apache/druid/common/config/NullHandlingTest.java
  docs/configuration/index.md
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/types/StringCardinalityAggregatorColumnSelectorStrategy.java
  processing/src/main/java/org/apache/druid/query/aggregation/cardinality/vector/SingleValueStringCardinalityVectorProcessor.java
  processing/src/test/java/org/apache/druid/query/aggregation/cardinality/CardinalityAggregatorTest.java
  website/.spelling
Labels: Bug, Area - Querying, Design Review
