Repository apache/druid, pull requests merged in 2022-08, with the labels that each got.

#12773 Fix string first/last aggregator comparator
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongStringSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastAggregationTest.java
Labels: Area - Querying, Incompatible, Release Notes

#12837 add DictionaryEncodedStringValueIndex implementation to NestedFieldLiteralColumnIndexSupplier
  processing/src/main/java/org/apache/druid/segment/column/DictionaryEncodedStringValueIndex.java
  processing/src/main/java/org/apache/druid/segment/column/DictionaryEncodedValueIndex.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/DictionaryEncodedStringIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/ColumnSelectorColumnIndexSelectorTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerNullHandlingTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnIndexSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumnSelectorTest.java
Labels: Bug, Area - Querying

#12818 Fix flakiness in query-retry ITs
  integration-tests/docker/docker-compose.query-retry-test.yml
  integration-tests/src/main/java/org/apache/druid/server/coordination/ServerManagerForQueryErrorTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITQueryRetryTestOnMissingSegments.java
Labels: Area - Querying, Flaky test

#12831 fix bugs with nested column jsonpath parser
  processing/src/main/java/org/apache/druid/segment/nested/NestedPathFinder.java
  processing/src/test/java/org/apache/druid/frame/segment/FrameStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedPathFinderTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying

#12840 Use nonzero default value of maxQueuedBytes.
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/guice/http/DruidHttpClientConfig.java
Labels: Release Notes

#12849 Docs - Readme - link fix to build guide
  README.md
Labels: Area - Documentation

#12821 Fix kinesis IT flakiness
  integration-tests/src/test/resources/stream/data/supervisor_spec_template.json
  integration-tests/src/test/resources/stream/data/supervisor_with_autoscaler_spec_template.json
Labels: Area - Testing, Flaky test

#12100 Fix NullpointerException trigger middlemanager unusable when using httpRemote
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
Labels: Bug

#12851 fix nested column sql operator return type inference
  sql/src/main/java/org/apache/druid/sql/SqlLifecycle.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/RowSignatures.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
Labels: Bug, Area - SQL

#12839 Improved Java 17 support and Java runtime docs.
  .gitignore
  .travis.yml
  core/src/main/java/org/apache/druid/utils/JvmUtils.java
  distribution/bin/check-licenses.py
  distribution/pom.xml
  docs/configuration/index.md
  docs/configuration/logging.md
  docs/development/build.md
  docs/operations/java.md
  docs/operations/metrics.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  examples/bin/run-druid
  examples/bin/run-java
  examples/bin/run-zk
  examples/conf/druid/cluster/data/middleManager/runtime.properties
  examples/conf/druid/single-server/large/middleManager/runtime.properties
  examples/conf/druid/single-server/medium/middleManager/runtime.properties
  examples/conf/druid/single-server/micro-quickstart/middleManager/runtime.properties
  examples/conf/druid/single-server/nano-quickstart/middleManager/runtime.properties
  examples/conf/druid/single-server/small/middleManager/runtime.properties
  examples/conf/druid/single-server/xlarge/middleManager/runtime.properties
  extensions-core/orc-extensions/pom.xml
  licenses.yaml
  pom.xml
  processing/src/main/java/org/apache/druid/frame/file/FrameFile.java
  processing/src/test/java/org/apache/druid/frame/file/FrameFileTest.java
  processing/src/test/java/org/apache/druid/frame/testutil/FrameTestUtil.java
  server/src/main/java/org/apache/druid/server/coordination/SegmentLoadDropHandler.java
  web-console/script/druid
  website/.spelling
  website/sidebars.json
Labels: Compatibility

#12857 fix expression plan type inference to correctly handle complex types
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionPlan.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionPlannerTest.java
Labels: Bug, Area - Querying

#12774 Fix typo in compaction.md
  docs/ingestion/compaction.md
Labels: Area - Documentation

#12792 Kinesis ingestion with empty shards
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTask.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskRunner.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpec.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisSequenceNumber.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskSerdeTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplierTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/test/TestModifiedKinesisIndexTaskTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/common/OrderedSequenceNumber.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/common/RecordSupplier.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSourceTest.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/KinesisEventWriter.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/KinesisSingleShardEventWriter.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractKinesisIndexingServiceEmptyShardsTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITKinesisIndexingServiceEmptyShardsSerializedTest.java
  web-console/src/druid-models/ingestion-spec.tsx
Labels: Release Notes, Design Review, Area - Streaming Ingestion, AWS Kinesis

#12573 fix(druid-indexing): failed to get shardSpec for interval issue
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/InputSourceProcessor.java
Labels: Bug, Area - Batch Ingestion

#12870 Fix NPE when applying a transform that outputs to __time
  processing/src/main/java/org/apache/druid/segment/transform/Transformer.java
  processing/src/test/java/org/apache/druid/segment/transform/TransformerTest.java
Labels: Bug, Area - Ingestion

#12863 Adjust "in" filter null behavior to match "selector".
  docs/querying/filters.md
  docs/querying/sql-data-types.md
  processing/src/main/java/org/apache/druid/query/filter/InDimFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/InFilterTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#12571 Set druid.processing.fifo to true by default
  docs/configuration/index.md
  processing/src/main/java/org/apache/druid/query/DruidProcessingConfig.java
  processing/src/test/java/org/apache/druid/query/DruidProcessingConfigTest.java
Labels: Performance, Release Notes, Design Review

#12876 Fix rollup docs bullet formatting
  docs/ingestion/rollup.md
Labels: Area - Documentation

#12873 fix JsonNode leaking from JSON flattener
  core/src/main/java/org/apache/druid/java/util/common/parsers/JSONFlattenerMaker.java
  core/src/test/java/org/apache/druid/java/util/common/parsers/JSONFlattenerMakerTest.java
Labels: Bug, Area - Ingestion

#12819 Remove kafka lookup records when a record is tombstoned
  docs/development/extensions-core/kafka-extraction-namespace.md
  extensions-core/kafka-extraction-namespace/src/main/java/org/apache/druid/query/lookup/KafkaLookupExtractorFactory.java
  extensions-core/kafka-extraction-namespace/src/test/java/org/apache/druid/query/lookup/TestKafkaExtractionCluster.java
Labels: Release Notes, Area - Lookups

#12882 [Doc] Correct minor format issue
  docs/tutorials/index.md
Labels: Area - Documentation

#12842 Change Kafka Lookup Extractor to not register consumer group
  docs/development/extensions-core/kafka-extraction-namespace.md
  extensions-core/kafka-extraction-namespace/src/main/java/org/apache/druid/query/lookup/KafkaLookupExtractorFactory.java
  extensions-core/kafka-extraction-namespace/src/test/java/org/apache/druid/query/lookup/KafkaLookupExtractorFactoryTest.java
  website/.spelling
Labels: Area - Lookups

#12880 fix issue with SQL sum aggregator due to bug with DruidTypeSystem and AggregateRemoveRule
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/SumSqlAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - SQL

#12835 Refactor DruidSchema & DruidTable
  benchmarks/src/test/java/org/apache/druid/benchmark/DruidSchemaInternRowSignatureBenchmark.java
  core/src/test/java/org/apache/druid/data/input/impl/HttpInputSourceConfigTest.java
  services/src/main/java/org/apache/druid/cli/CliRouter.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalTableMacro.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalTableScan.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidLogicalValuesRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/AbstractTableSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidCalciteSchemaModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchemaManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/InformationSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/LookupSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/NoopDruidSchemaManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/DatasourceTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/DruidTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/ExternalTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/InlineTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/LookupTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/external/ExternalTableScanRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/rel/DruidRelsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/rule/DruidUnionDataSourceRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaNoDataInitTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentDataCacheConcurrencyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheCommon.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - SQL, Refactoring

#12707 Docker build for the revised ITs
  .travis.yml
  integration-tests-ex/.gitignore
  integration-tests-ex/README.md
  integration-tests-ex/assets/log4j2.xml
  integration-tests-ex/check-results.sh
  integration-tests-ex/it-image/build-image.sh
  integration-tests-ex/it-image/docker-build.sh
  integration-tests-ex/it-image/docker/Dockerfile
  integration-tests-ex/it-image/docker/druid.sh
  integration-tests-ex/it-image/docker/launch.sh
  integration-tests-ex/it-image/docker/test-setup.sh
  integration-tests-ex/it-image/pom.xml
  integration-tests-ex/it-image/rebuild.sh
  integration-tests-ex/it-image/scripts/build-shared.sh
  integration-tests-ex/it-tools/README.md
  integration-tests-ex/it-tools/pom.xml
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/CliCustomNodeRole.java
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/CliHistoricalForQueryErrorTest.java
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/CustomNodeRoleClientModule.java
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/CustomNodeRoleCommandCreator.java
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/QueryRetryTestCommandCreator.java
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/ServerManagerForQueryErrorTest.java
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/SleepExprMacro.java
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/SleepModule.java
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/SleepOperatorConversion.java
  integration-tests-ex/it-tools/src/main/java/org/apache/druid/testing/tools/package.java
  integration-tests-ex/it-tools/src/main/resources/META-INF/services/org.apache.druid.cli.CliCommandCreator
  integration-tests-ex/it-tools/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  pom.xml
Labels: Area - Testing, Area - Dev

#12889 NettyHttpClient: Cleaner state transitions for handlers.
  core/src/main/java/org/apache/druid/java/util/http/client/NettyHttpClient.java
  core/src/main/java/org/apache/druid/java/util/http/client/pool/ResourceContainer.java
  core/src/main/java/org/apache/druid/java/util/http/client/pool/ResourcePool.java
Labels: Bug

#12874 Introducing Storage connector Interface
  core/src/main/java/org/apache/druid/storage/StorageConnector.java
  core/src/main/java/org/apache/druid/storage/StorageConnectorModule.java
  core/src/main/java/org/apache/druid/storage/StorageConnectorProvider.java
  core/src/main/java/org/apache/druid/storage/local/LocalFileStorageConnector.java
  core/src/main/java/org/apache/druid/storage/local/LocalFileStorageConnectorProvider.java
  core/src/test/java/org/apache/druid/storage/StorageConnectorModuleTest.java
  core/src/test/java/org/apache/druid/storage/local/LocalFileStorageConnectorTest.java
  extensions-core/s3-extensions/pom.xml
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/ServerSideEncryptingAmazonS3.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/ServerSideEncryption.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/RetryableS3OutputStream.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3OutputConfig.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3StorageConnector.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3StorageConnectorModule.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3StorageConnectorProvider.java
  extensions-core/s3-extensions/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/RetryableS3OutputStreamTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3OutputConfigTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3OutputSerdeTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3StorageConnectorTest.java
  processing/src/main/java/org/apache/druid/guice/StartupInjectorBuilder.java
  server/src/main/java/org/apache/druid/initialization/CoreInjectorBuilder.java
Labels: Refactoring

#12833 Introduce defaultOnDiskStorage config for Group By
  benchmarks/src/test/java/org/apache/druid/benchmark/GroupByTypeInterfaceBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/GroupByBenchmark.java
  docs/configuration/index.md
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/MaterializedViewQuery.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/MaterializedViewQueryTest.java
  processing/src/main/java/org/apache/druid/query/BaseQuery.java
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByMergingQueryRunnerV2.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GroupByRowProcessor.java
  processing/src/main/java/org/apache/druid/query/select/SelectQuery.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  processing/src/test/java/org/apache/druid/query/QueryContextsTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownInsufficientBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownMultiNodeMergeTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByMultiSegmentTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryConfigTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedQueryPushDownTest.java
Labels: Area - Querying, Release Notes

#12896 Add EXTERNAL resource type.
  server/src/main/java/org/apache/druid/server/security/ResourceType.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalOperatorConversion.java
Labels: Area - Querying, Area - SQL

#12894 Fix hasBuiltInFilters for joins
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
Labels: Bug, Area - Querying

#12868 Enable conversion of join to filter by default
  docs/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  website/.spelling
Labels: Area - Querying, Release Notes, Design Review, Area - SQL

#12893 fix bug with json_object expression not fully unwrapping inputs
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
Labels: Bug, Area - Querying

#12877 changes to run examples when CDPATH environment variable is set where cd command returns current dir…
  examples/bin/run-druid
  examples/bin/run-zk
Labels: Area - Cli

#12899 Do no create filters on right side table columns while join to filter conversion
  processing/src/main/java/org/apache/druid/segment/join/JoinableFactoryWrapper.java
  processing/src/test/java/org/apache/druid/segment/join/JoinableFactoryWrapperTest.java
Labels: Bug, Area - Querying

#12895 Error handling improvements for frame channels.
  core/src/main/java/org/apache/druid/java/util/common/Either.java
  core/src/test/java/org/apache/druid/common/EitherTest.java
  processing/src/main/java/org/apache/druid/frame/channel/BlockingQueueFrameChannel.java
  processing/src/main/java/org/apache/druid/frame/channel/WritableFrameChannel.java
  processing/src/main/java/org/apache/druid/frame/channel/WritableFrameFileChannel.java
  processing/src/main/java/org/apache/druid/frame/file/FrameFileHttpResponseHandler.java
  processing/src/main/java/org/apache/druid/frame/file/FrameFilePartialFetch.java
  processing/src/main/java/org/apache/druid/frame/processor/FrameProcessorExecutor.java
  processing/src/test/java/org/apache/druid/frame/file/FrameFileHttpResponseHandlerTest.java
  processing/src/test/java/org/apache/druid/frame/processor/FrameProcessorExecutorTest.java
  processing/src/test/java/org/apache/druid/frame/processor/RunAllFullyWidgetTest.java
Labels: Area - Querying, Area - MSQ

#12897 SQL: Morph QueryMakerFactory into SqlEngine.
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlVsNativeBenchmark.java
  sql/src/main/java/org/apache/druid/sql/DirectStatement.java
  sql/src/main/java/org/apache/druid/sql/HttpStatement.java
  sql/src/main/java/org/apache/druid/sql/PreparedStatement.java
  sql/src/main/java/org/apache/druid/sql/SqlStatementFactory.java
  sql/src/main/java/org/apache/druid/sql/SqlStatementFactoryFactory.java
  sql/src/main/java/org/apache/druid/sql/SqlToolbox.java
  sql/src/main/java/org/apache/druid/sql/avatica/AbstractDruidJdbcStatement.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidConnection.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalTableScanRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerResult.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PrepareResult.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/EngineFeature.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMakerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/QueryFeatureInspector.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/QueryMaker.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/QueryMakerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/SqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/SqlEngines.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/DruidViewMacro.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/ViewSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/main/resources/saffron.properties
  sql/src/test/java/org/apache/druid/sql/SqlStatementTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteExplainQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteScanSignatureTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestionTestSqlEngine.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/TestInsertQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/TestQueryMakerFactory.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/external/ExternalTableScanRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/guice/SqlModuleTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlHttpModuleTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Querying, Area - SQL, Area - MSQ

#12901 Fix race in TaskQueue.notifyStatus.
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
Labels: Bug, Area - Ingestion

#12900 inject @Json ObjectMapper for to_json_string and parse_json expressions
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  processing/src/test/java/org/apache/druid/query/expression/TestExprMacroTable.java
Labels: Area - Querying

#12891 Document missing property - druid.announcer.skipSegmentAnnouncementOnZk
  docs/configuration/index.md
Labels: Area - Documentation

#12875 Fix flaky tests in SeekableStreamSupervisorStateTest
  core/src/main/java/org/apache/druid/utils/Throwables.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/AbstractQueryResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/security/ITTLSTest.java
Labels: Area - Testing

#12741 Docs - Add links to Basic Tuning guide in process pages
  docs/design/broker.md
  docs/design/coordinator.md
  docs/design/historical.md
  docs/design/middlemanager.md
  docs/design/overlord.md
  docs/design/peons.md
  docs/design/router.md
Labels: Area - Documentation

#12906 DruidQuery: Return a copy from withScanSignatureIfNeeded, as promised.
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
Labels: Bug

#12908 Fixing overlord issued too many redirects
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskMaster.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordRedirectInfo.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordRedirectInfoTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  server/src/main/java/org/apache/druid/rpc/ServiceClientImpl.java
  server/src/test/java/org/apache/druid/rpc/ServiceClientImplTest.java
Labels: Bug, Area - Ingestion

#12828 Stop leaking Avro objects from parser
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroFlattenerMaker.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputRowParserTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/AvroFlattenerMakerTest.java
Labels: Release Notes, Area - Ingestion

#12916 Update tls-support.md
  docs/operations/tls-support.md
Labels: Area - Documentation

#12907 add virtual columns to search query cache key
  core/src/main/java/org/apache/druid/query/cache/CacheKeyBuilder.java
  processing/src/main/java/org/apache/druid/query/search/SearchQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/search/SearchQuerySpec.java
  processing/src/main/java/org/apache/druid/query/search/SearchSortSpec.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/search/SearchQueryQueryToolChestTest.java
Labels: Bug, Area - Querying

#12909 Light refactor of the heavily refactored statement classes
  sql/src/main/java/org/apache/druid/sql/AbstractStatement.java
  sql/src/main/java/org/apache/druid/sql/DirectStatement.java
  sql/src/main/java/org/apache/druid/sql/HttpStatement.java
  sql/src/main/java/org/apache/druid/sql/SqlPlanningException.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidJdbcPreparedStatement.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidJdbcResultSet.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerResult.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/SqlStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - SQL, Refactoring

#12917 document virtualColumns in native query documentation, fix some redirects
  docs/querying/groupbyquery.md
  docs/querying/searchquery.md
  docs/querying/timeseriesquery.md
  docs/querying/topnquery.md
  website/.spelling
  website/i18n/en.json
  website/redirects.json
Labels: Area - Documentation

#12922 basic docs for nested column query functions
  docs/misc/math-expr.md
  docs/querying/sql-data-types.md
  docs/querying/sql-functions.md
  docs/querying/sql-json-functions.md
  docs/querying/virtual-columns.md
  web-console/script/create-sql-docs.js
  website/.spelling
Labels: Area - Documentation, Area - Querying

#12923 Add SQL query planning time metric
  docs/configuration/index.md
  docs/operations/metrics.md
  docs/operations/request-logging.md
  server/src/test/java/org/apache/druid/server/log/DefaultRequestLogEventTest.java
  sql/src/main/java/org/apache/druid/sql/DirectStatement.java
  sql/src/main/java/org/apache/druid/sql/SqlExecutionReporter.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Metrics/Event Emitting, Area - SQL

#12925 Remove misleading logging on router for JDBC queries
  server/src/main/java/org/apache/druid/server/security/UnsecuredResourceFilter.java
Labels: Area - Router

#12886 Kinesis docs and logs improvements
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
Labels: Area - Documentation, Area - Streaming Ingestion

#12920 stricter behavior for parse_json, add try_parse_json, remove to_json
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/main/java/org/apache/druid/segment/NestedDataDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexTypeSerde.java
  processing/src/main/java/org/apache/druid/segment/nested/StructuredData.java
  processing/src/main/java/org/apache/druid/segment/nested/StructuredDataProcessor.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  processing/src/test/java/org/apache/druid/query/expression/TestExprMacroTable.java
  processing/src/test/resources/simple-nested-test-data.tsv
  server/src/main/java/org/apache/druid/guice/ExpressionModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Area - Querying, Area - SQL

#12940 Update .spelling
  website/.spelling
Labels: Area - Documentation, Development Blocker

#12928 Update ORC to 1.7.6
  extensions-core/orc-extensions/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#12622 Update year in the notice file and the release process instructions
  NOTICE
  distribution/asf-release-process-guide.md
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/dialogs/coordinator-dynamic-config-dialog/__snapshots__/coordinator-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/overlord-dynamic-config-dialog/__snapshots__/overload-dynamic-config-dialog.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/links.ts
Labels: Apache

#12941 Fix misspelling in license.md
  dev/license.md
Labels: Area - Dev

#12936 Setting useNativeQueryExplain to true
  docs/configuration/index.md
  docs/querying/sql-query-context.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteExplainQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Incompatible, Release Notes, Area - SQL

#12943 Docs: fix doc footer
  website/script/fix-path.js
Labels: Bug, Area - Documentation

#12938 Fix serialization in TaskReportFileWriters.
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrorsTaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/MultipleFileTaskReportFileWriter.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/SingleFileTaskReportFileWriter.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskReportSerdeTest.java
Labels: Bug

#12723 Tutorial on ingesting and querying Theta sketches
  docs/assets/tutorial-theta-01.png
  docs/assets/tutorial-theta-02.png
  docs/assets/tutorial-theta-03.png
  docs/assets/tutorial-theta-04.png
  docs/assets/tutorial-theta-05.png
  docs/assets/tutorial-theta-06.png
  docs/assets/tutorial-theta-07.png
  docs/assets/tutorial-theta-08.png
  docs/assets/tutorial-theta-09.png
  docs/assets/tutorial-theta-10.png
  docs/assets/tutorial-theta-11.png
  docs/ingestion/schema-design.md
  docs/tutorials/tutorial-sketches-theta.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#12948 Fixing json creator for s3 storage connector provider
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3StorageConnectorProvider.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3StorageConnectorProviderTest.java
Labels: Bug

#12966 Update asf-release-process-guide.md
  distribution/asf-release-process-guide.md
Labels: Area - Dev

#12914 tighten up array handling, fix bug with array_slice output type inference
  core/src/main/java/org/apache/druid/math/expr/ApplyFunction.java
  core/src/main/java/org/apache/druid/math/expr/Evals.java
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/Function.java
  core/src/main/java/org/apache/druid/math/expr/vector/CastToStringVectorProcessor.java
  core/src/main/java/org/apache/druid/segment/column/ColumnType.java
  core/src/main/java/org/apache/druid/segment/column/ValueType.java
  core/src/test/java/org/apache/druid/math/expr/ExprEvalTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  processing/src/main/java/org/apache/druid/frame/write/FrameWriterUtils.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/transform/ExpressionTransform.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionMultiValueDimensionSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionSelectorsTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/run/NativeQueryMakerTest.java
Labels: Bug, Area - Querying, Release Notes

#12947 add maxBytesInMemory and maxClientResponseBytes to SamplerConfig
  core/src/main/java/org/apache/druid/java/util/common/parsers/ObjectFlatteners.java
  core/src/test/java/org/apache/druid/java/util/common/parsers/ObjectFlattenersTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpecTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/InputSourceSampler.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/CsvInputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
Labels: Area - Ingestion

#12933 Auto-reload TLS certs for druid endpoints
  core/src/test/java/org/apache/druid/java/util/http/client/FriendlyServersTest.java
  docs/operations/tls-support.md
  server/src/main/java/org/apache/druid/server/initialization/TLSServerConfig.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/JettyServerModule.java
  server/src/test/java/org/apache/druid/server/initialization/JettyCertRenewTest.java
  server/src/test/resources/server-new.jks
  server/src/test/resources/truststore-new.jks
Labels: Area - Operations, Release Notes

#12969 Web console: fix pagination, add error delimiters
  web-console/lib/keywords.js
  web-console/src/react-table/react-table-pagination/react-table-pagination.tsx
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-error-pane/execution-error-pane.scss
  web-console/src/views/workbench-view/execution-error-pane/execution-error-pane.tsx
  web-console/src/views/workbench-view/recent-query-task-panel/recent-query-task-panel.tsx
Labels: Bug, Area - Web Console

#12964 ignore licenses changes in check test script
  check_test_suite.py
  check_test_suite_test.py
Labels: Area - Testing

#12976 fix broken link in web-console
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Bug, Area - Web Console

#12972 add json function support for paths with negative array indexes
  processing/src/main/java/org/apache/druid/segment/nested/NestedPathArrayElement.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedPathFinderTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumnTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying, Area - SQL

#12967 type conversion exception occurs during the variance query
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceObjectVectorAggregator.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceObjectVectorAggregatorTest.java
Labels: Bug, Area - Querying

#12977 Web console: grab warnings from correct key + test
  web-console/src/druid-models/execution/execution-ingest-complete.mock.ts
  web-console/src/druid-models/execution/execution-ingest-error.mock.ts
  web-console/src/druid-models/execution/execution.ts
  web-console/src/views/workbench-view/execution-details-pane/__snapshots__/execution-details-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-details-pane/execution-details-pane.spec.tsx
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
  web-console/src/views/workbench-view/helper-query/helper-query.tsx
  web-console/src/views/workbench-view/ingest-success-pane/ingest-success-pane.tsx
  web-console/src/views/workbench-view/query-tab/query-tab.tsx
Labels: Bug, Area - Web Console, Area - MSQ

#12971 fix issue with SQL planner and null array constants
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringToArrayOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/StringToArrayOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Bug, Area - Querying

#12979 [Backport] add json function support for paths with negative array indexes
  processing/src/main/java/org/apache/druid/segment/nested/NestedPathArrayElement.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedPathFinderTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumnTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Backport

#12968 json_value adjustments
  docs/misc/math-expr.md
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  processing/src/test/java/org/apache/druid/query/expression/TestExprMacroTable.java
  server/src/main/java/org/apache/druid/guice/ExpressionModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/convertlet/DruidConvertletTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying

#12953 Throw parse exception for multi-value numeric dims
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionIndexer.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexTest.java
Labels: Bug, Area - Ingestion

#12985 [Backport] fix issue with SQL planner and null array constants
  core/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringToArrayOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/StringToArrayOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Backport

#12903 Adjust SQL "cannot plan" error message.
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - SQL

#12993 [Backport] json_value adjustments
  docs/misc/math-expr.md
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  processing/src/test/java/org/apache/druid/query/expression/TestExprMacroTable.java
  server/src/main/java/org/apache/druid/guice/ExpressionModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/convertlet/DruidConvertletTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Backport

#12988 Fix accounting of bytesAdded in ReadableByteChunksFrameChannel.
  processing/src/main/java/org/apache/druid/frame/channel/ReadableByteChunksFrameChannel.java
  processing/src/test/java/org/apache/druid/frame/channel/ReadableByteChunksFrameChannelTest.java
Labels: Bug, Area - MSQ

#12957 Building druid-it-tools and running for travis in it.sh
  .travis.yml
  integration-tests-ex/cases/cluster/Common/environment-configs/common.env
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/config/ClusterConfigTest.java
  integration-tests-ex/cases/src/test/resources/cluster/AzureDeepStorage/docker.yaml
  integration-tests-ex/image/docker/Dockerfile
  integration-tests-ex/image/pom.xml
  it.sh
Labels: Area - Testing

#12987 FrameFile: Java 17 compatibility.
  core/src/main/java/org/apache/druid/java/util/common/ByteBufferUtils.java
  core/src/main/java/org/apache/druid/java/util/common/FileUtils.java
  core/src/main/java/org/apache/druid/java/util/common/MappedByteBufferHandler.java
  core/src/test/java/org/apache/druid/java/util/common/FileUtilsTest.java
  processing/src/main/java/org/apache/druid/frame/allocation/AppendableMemory.java
  processing/src/main/java/org/apache/druid/frame/file/FrameFile.java
  processing/src/main/java/org/apache/druid/frame/file/FrameFileWriter.java
  processing/src/test/java/org/apache/druid/frame/FrameTest.java
  processing/src/test/java/org/apache/druid/frame/file/FrameFileTest.java
  processing/src/test/java/org/apache/druid/frame/file/FrameFileWriterTest.java
  processing/src/test/java/org/apache/druid/frame/testutil/FrameTestUtil.java
Labels: Compatibility

#13003 [Backport] Fix accounting of bytesAdded in ReadableByteChunksFrameChannel.
  processing/src/main/java/org/apache/druid/frame/channel/ReadableByteChunksFrameChannel.java
  processing/src/test/java/org/apache/druid/frame/channel/ReadableByteChunksFrameChannelTest.java
Labels: Backport

#13002 [Backport] FrameFile: Java 17 compatibility
  core/src/main/java/org/apache/druid/java/util/common/ByteBufferUtils.java
  core/src/main/java/org/apache/druid/java/util/common/FileUtils.java
  core/src/main/java/org/apache/druid/java/util/common/MappedByteBufferHandler.java
  core/src/test/java/org/apache/druid/java/util/common/FileUtilsTest.java
  processing/src/main/java/org/apache/druid/frame/allocation/AppendableMemory.java
  processing/src/main/java/org/apache/druid/frame/file/FrameFile.java
  processing/src/main/java/org/apache/druid/frame/file/FrameFileWriter.java
  processing/src/test/java/org/apache/druid/frame/FrameTest.java
  processing/src/test/java/org/apache/druid/frame/file/FrameFileTest.java
  processing/src/test/java/org/apache/druid/frame/file/FrameFileWriterTest.java
  processing/src/test/java/org/apache/druid/frame/testutil/FrameTestUtil.java
Labels: Backport

#13005 Web console: don't show transform actions on * queries
  web-console/src/views/query-view/query-output/query-output.tsx
  web-console/src/views/workbench-view/result-table-pane/result-table-pane.tsx
Labels: Bug, Area - Web Console

#13004 Make console e2e tests run in band so as to not hog task slots
  web-console/e2e-tests/component/workbench/overview.ts
  web-console/package.json
  web-console/script/druid
Labels: Flaky test, Area - Web Console

#11994 Bump the version of Maven in the Dockerfile
  distribution/docker/Dockerfile
Labels: Docker

#13008 [Backport] Make console e2e tests run in band so as to not hog task slots (#13004)
  web-console/e2e-tests/component/workbench/overview.ts
  web-console/package.json
  web-console/script/druid
Labels: Backport
