Repository apache/druid, pull requests merged in 2023-07, with the labels that each got.

#14511 MSQ: Improve InsertTimeOutOfBounds error message.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/InsertTimeOutOfBoundsFault.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQFaultsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
Labels: Area - MSQ

#14196 SortMergeJoinFrameProcessor: Fix two bugs with buffering.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/Limits.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerMemoryParameters.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TooManyRowsWithSameKeyFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BroadcastJoinHelper.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerMemoryParametersTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorTest.java
Labels: Bug, Area - MSQ

#14483 Logging the fieldName in the coerce exceptions
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/SqlResults.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteScanSignatureTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/run/SqlResultsTest.java
Labels: Ease of Use, Area - SQL

#14512 Add page information to SqlStatementResource API
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/entity/PageInformation.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/entity/ResultSetInformation.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/SqlMsqStatementResourcePostTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/entity/ResultSetInformationTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/entity/SqlStatementResultTest.java
Labels: Area - MSQ, Needs web console change

#14515 Run IntelliJ-inspections in parallel to static-checks & web-checks in GHA
  .github/workflows/static-checks.yml
Labels: Dev Productivity

#14343 docs: k8s-jobs role needs batch apigroup
  docs/development/extensions-contrib/k8s-jobs.md
Labels: Area - Documentation

#14292 Do not emit negative lag because of stale offsets
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Streaming Ingestion

#14504 docs: fix links
  docs/api-reference/legacy-metadata-api.md
  docs/tutorials/tutorial-jupyter-docker.md
  docs/tutorials/tutorial-jupyter-index.md
Labels: Area - Documentation

#14524 Remove unused coordinator dynamic configs
  benchmarks/src/test/java/org/apache/druid/server/coordinator/BalancerStrategyBenchmark.java
  docs/configuration/index.md
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/ReservoirSegmentSampler.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/CoordinatorRunStats.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/CoordinatorStat.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/Stats.java
  server/src/test/java/org/apache/druid/server/coordinator/CoordinatorRunStatsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
Labels: Area - Documentation, Area - Segment Balancing/Coordination

#14517 Fix bug during initialization of HttpServerInventoryView
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/WorkerHolder.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/WorkerHolderTest.java
  processing/src/main/java/org/apache/druid/java/util/common/Stopwatch.java
  processing/src/test/java/org/apache/druid/java/util/common/StopwatchTest.java
  processing/src/test/java/org/apache/druid/java/util/metrics/StubServiceEmitter.java
  server/src/main/java/org/apache/druid/client/DruidServer.java
  server/src/main/java/org/apache/druid/client/FilteredHttpServerInventoryViewProvider.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryViewProvider.java
  server/src/main/java/org/apache/druid/discovery/DiscoveryDruidNode.java
  server/src/main/java/org/apache/druid/server/coordination/ChangeRequestHttpSyncer.java
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
  server/src/test/java/org/apache/druid/client/TestChangeRequestHttpClient.java
Labels: Bug, Area - Documentation, Area - Metrics/Event Emitting, Area - Metadata

#14532 HttpRemoteTaskRunner: Fix markLazyWorkers for maxLazyWorkers == 0.
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/WorkerTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
Labels: Bug, Area - Ingestion

#14538 Fix ColumnSignature error message and jdk17 test issue.
  processing/src/main/java/org/apache/druid/segment/column/ColumnSignature.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
Labels: Bug, Development Blocker

#14541 Reduce contention in HttpRemoteTaskRunner.getKnownTasks()
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
Labels: Performance, Area - Ingestion

#14547 ChangeRequestHttpSyncer: Don't wait 1ms when checking isInitialized().
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/WorkerHolder.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/main/java/org/apache/druid/server/coordination/ChangeRequestHttpSyncer.java
Labels: Performance

#14533 Use separate executor to handle task updates in TaskQueue
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/Stats.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskMaster.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskQueueConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueScaleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/RandomBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/CoordinatorRunStats.java
  server/src/main/java/org/apache/druid/server/metrics/TaskCountStatsMonitor.java
  server/src/main/java/org/apache/druid/server/metrics/TaskCountStatsProvider.java
  server/src/main/java/org/apache/druid/server/metrics/TaskSlotCountStatsProvider.java
  server/src/test/java/org/apache/druid/server/coordinator/CoordinatorRunStatsTest.java
  server/src/test/java/org/apache/druid/server/metrics/TaskCountStatsMonitorTest.java
Labels: Performance, Area - Ingestion

#14522 [MSQ] Handle dimensionless group by queries with partitioning
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
Labels: Bug, Area - MSQ

#14545 RTR, HRTR: Fix incorrect maxLazyWorkers check in markLazyWorkers.
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/WorkerTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
Labels: Bug

#14553 Add link to Slack channel
  docs/design/index.md
Labels: Area - Documentation

#14384 Claim full support for Java 17.
  .github/workflows/reusable-standard-its.yml
  .github/workflows/standard-its.yml
  .github/workflows/static-checks.yml
  distribution/docker/peon.sh
  distribution/src/assembly/integration-test-assembly.xml
  docs/api-reference/sql-jdbc.md
  docs/configuration/logging.md
  docs/development/extensions-core/hdfs.md
  docs/operations/java.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  examples/bin/node.sh
  examples/bin/run-java
  examples/bin/verify-java
  examples/conf/druid/auto/middleManager/runtime.properties
  examples/conf/druid/cluster/data/middleManager/runtime.properties
  examples/conf/druid/single-server/large/middleManager/runtime.properties
  examples/conf/druid/single-server/medium/middleManager/runtime.properties
  examples/conf/druid/single-server/micro-quickstart/middleManager/runtime.properties
  examples/conf/druid/single-server/nano-quickstart/middleManager/runtime.properties
  examples/conf/druid/single-server/small/middleManager/runtime.properties
  examples/conf/druid/single-server/xlarge/middleManager/runtime.properties
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/AvroFlattenerMakerTest.java
  extensions-core/druid-basic-security/src/main/java/org/apache/druid/security/basic/authentication/validator/LDAPCredentialsValidator.java
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/authentication/validator/LDAPCredentialsValidatorTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/HeapMemoryTaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/HeapMemoryTaskStorageTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  integration-tests-ex/image/docker/launch.sh
  integration-tests-ex/image/docker/test-setup.sh
  integration-tests/README.md
  integration-tests/docker/Dockerfile
  integration-tests/docker/environment-configs/common
  integration-tests/docker/environment-configs/common-ldap
  integration-tests/docker/service-supervisords/druid.conf
  integration-tests/pom.xml
  integration-tests/script/copy_resources_template.sh
  integration-tests/script/docker_build_containers.sh
  licenses.yaml
  pom.xml
  processing/src/main/java/org/apache/druid/frame/processor/FrameProcessorExecutor.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/ArithmeticPostAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/DoubleGreatestPostAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/DoubleLeastPostAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/LongGreatestPostAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/LongLeastPostAggregator.java
  processing/src/test/java/org/apache/druid/query/MultiValuedDimensionTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayDoubleGroupByColumnSelectorStrategyTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayLongGroupByColumnSelectorStrategyTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/column/ArrayStringGroupByColumnSelectorStrategyTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerRollupTest.java
  processing/src/test/java/org/apache/druid/segment/data/ComparableListTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Documentation, Area - Operations

#14449 Add log statements for tmpStorageBytes in MSQ
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerStorageParameters.java
Labels: Area - MSQ

#14568 Adding the null check in combine and fold in doublesSketch
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/TestDoublesSketchColumnValueSelector.java
Labels: Bug

#14450 Fix planning bug while using sort merge frame processor
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/rule/DruidJoinRuleTest.java
Labels: Area - Documentation, Area - MSQ

#14570 Backport "https://github.com/apache/druid/pull/14450" into 27.0 release branch
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/rule/DruidJoinRuleTest.java
Labels: Area - Documentation, Backport, Area - MSQ

#14459 Update Jupyter notebook tutorial instructions for ARM devices
  docs/tutorials/tutorial-jupyter-docker.md
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose-local.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose.yaml
Labels: Area - Documentation

#14565 Minor doc fixes.
  docs/operations/metrics.md
  docs/querying/lookups.md
Labels: Area - Documentation

#14492 Tasks API documentation refactor
  docs/api-reference/tasks-api.md
  website/static/css/custom.css
Labels: Area - Documentation

#14567 AggregatorFactory: Use guessAggregatorHeapFootprint when factorizeWithSize is not implemented.
  processing/src/main/java/org/apache/druid/query/aggregation/AggregatorFactory.java
Labels: Bug

#14563 Reduce heap footprint of GenericIndexed.
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarDoublesSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarFloatsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarLongsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarIntsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedVSizeColumnarIntsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/DecompressingByteBufferObjectStrategy.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexed.java
Labels: Performance

#14333 Add ZooKeeper connection state alerts and metrics.
  docs/operations/metrics.md
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/config/Initializer.java
  processing/src/main/java/org/apache/druid/java/util/emitter/EmittingLogger.java
  processing/src/main/java/org/apache/druid/java/util/emitter/service/AlertBuilder.java
  processing/src/test/java/org/apache/druid/java/util/emitter/service/AlertBuilderTest.java
  processing/src/test/java/org/apache/druid/testing/junit/LoggerCaptureRule.java
  server/src/main/java/org/apache/druid/curator/CuratorModule.java
  server/src/main/java/org/apache/druid/curator/DruidConnectionStateListener.java
  server/src/test/java/org/apache/druid/curator/CuratorModuleTest.java
  server/src/test/java/org/apache/druid/curator/DruidConnectionStateListenerTest.java
  server/src/test/java/org/apache/druid/server/metrics/ExceptionCapturingServiceEmitter.java
Labels: Area - Documentation, Area - Metrics/Event Emitting, Area - ZooKeeper/Curator

#14574 Fixing an issue in sequential merge
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerSketchFetcherTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITKeyStatisticsSketchMergeMode.java
  integration-tests-ex/cases/src/test/resources/multi-stage-query/wikipedia_msq_select_query_sequential_test.json
Labels: Bug, Area - MSQ

#14508 Cross reference backpressure info
  docs/configuration/index.md
Labels: Area - Documentation

#14578 Update slack text
  docs/design/index.md
Labels: Area - Documentation

#14546 More efficient generation of ImmutableWorkerHolder from WorkerHolder.
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ImmutableWorkerInfo.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ZkWorker.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/autoscaling/PendingTaskBasedWorkerProvisioningStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/WorkerHolder.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerRunPendingTasksConcurrencyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTestUtils.java
Labels: Performance

#14560 Add `aggregatorMergeStrategy` property in SegmentMetadata queries
  docs/querying/segmentmetadataquery.md
  processing/src/main/java/org/apache/druid/query/Druids.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/AggregatorMergeStrategy.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/SegmentMetadataQuery.java
  processing/src/main/java/org/apache/druid/timeline/SegmentId.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataUnionQueryTest.java
  server/src/test/java/org/apache/druid/server/log/FilteredRequestLoggerTest.java
  services/src/main/java/org/apache/druid/cli/DumpSegment.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
  web-console/src/utils/sampler.ts
  website/.spelling
Labels: Area - Documentation, Design Review

#14534 Using DruidExceptions in MSQ (changes related to the Broker)
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/SqlMSQStatementResourcePostTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectJoinQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
  processing/src/main/java/org/apache/druid/error/Forbidden.java
  processing/src/main/java/org/apache/druid/error/QueryExceptionCompat.java
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/test/java/org/apache/druid/error/ForbiddenTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/SqlEngines.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/ViewSqlEngine.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestionTestSqlEngine.java
Labels: Area - MSQ

#14539 Change default handoffConditionTimeout to 15 minutes.
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfigTest.java
  server/src/main/java/org/apache/druid/segment/indexing/RealtimeTuningConfig.java
  server/src/test/java/org/apache/druid/segment/indexing/RealtimeTuningConfigTest.java
Labels: Area - Documentation, Release Notes, Design Review, Area - Streaming Ingestion

#14588 Remove the deprecated `InsertCannotOrderByDescending` MSQ fault
  docs/multi-stage-query/reference.md
  website/.spelling
Labels: Area - Documentation, Area - MSQ

#14591 Add test for ReservoirSegmentSampler
  server/src/test/java/org/apache/druid/server/coordinator/balancer/ReservoirSegmentSamplerTest.java
Labels: Area - Segment Balancing/Coordination

#14597 Web console: fix service view filtering on other bugs
  web-console/src/console-application.tsx
  web-console/src/druid-models/time/time.ts
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/workbench-view/input-format-step/input-format-step.tsx
Labels: Bug, Area - Web Console

#14601 Web console: better schema discovery copy
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#14329 Extension to read and ingest iceberg data files
  distribution/pom.xml
  docs/development/extensions-contrib/iceberg.md
  docs/ingestion/input-sources.md
  extensions-contrib/druid-iceberg-extensions/pom.xml
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/common/IcebergDruidModule.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/filter/IcebergAndFilter.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/filter/IcebergEqualsFilter.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/filter/IcebergFilter.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/filter/IcebergIntervalFilter.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/filter/IcebergNotFilter.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/filter/IcebergOrFilter.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/guice/HiveConf.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/HiveIcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/IcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/IcebergInputSource.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/LocalCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/filter/IcebergAndFilterTest.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/filter/IcebergEqualsFilterTest.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/filter/IcebergIntervalFilterTest.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/filter/IcebergNotFilterTest.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/filter/IcebergOrFilterTest.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/input/HiveIcebergCatalogTest.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/input/IcebergInputSourceTest.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/input/LocalCatalogTest.java
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceBuilder.java
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsStorageDruidModule.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceAdapterTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSourceBuilder.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSourceDruidModule.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceBuilderTest.java
  pom.xml
  processing/src/main/java/org/apache/druid/data/input/AbstractInputSourceBuilder.java
  processing/src/main/java/org/apache/druid/data/input/impl/LocalInputSourceBuilder.java
  processing/src/test/java/org/apache/druid/data/input/impl/LocalInputSourceAdapterTest.java
  website/.spelling
Labels: Feature, Area - Documentation, Area - Batch Ingestion, Area - Extension

#14603 Docs: Changes for coordinator improvements done in #13197 (#14590)
  docs/configuration/index.md
  docs/operations/metrics.md
Labels: Area - Documentation, Backport

#14605 Bump up version in iceberg pom
  extensions-contrib/druid-iceberg-extensions/pom.xml
Labels: Development Blocker

#14606 Web console: make sure execution mode is set
  web-console/src/components/rule-editor/__snapshots__/rule-editor.spec.tsx.snap
  web-console/src/components/rule-editor/rule-editor.spec.tsx
  web-console/src/helpers/execution/sql-task-execution.ts
Labels: Bug, Area - Web Console

#14598 Add support for earliest `aggregatorMergeStrategy`
  docs/querying/segmentmetadataquery.md
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/AggregatorMergeStrategy.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryTest.java
Labels: Area - Documentation

#14608 [Backport] Core changes for iceberg ingest extension
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceBuilder.java
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsStorageDruidModule.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceBuilderTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSourceBuilder.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSourceDruidModule.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceBuilderTest.java
  processing/src/main/java/org/apache/druid/data/input/AbstractInputSourceBuilder.java
  processing/src/main/java/org/apache/druid/data/input/impl/LocalInputSourceBuilder.java
  processing/src/test/java/org/apache/druid/data/input/impl/LocalInputSourceBuilderTest.java
Labels: Area - Extension

#14612 remove extractionFn from equality, null, and range filters
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/query/filter/EqualityFilter.java
  processing/src/main/java/org/apache/druid/query/filter/NullFilter.java
  processing/src/main/java/org/apache/druid/query/filter/RangeFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/NullFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/RangeFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/RangeFilterTests.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CaseOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/CombineAndSimplifyBounds.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/ConvertBoundsToSelectors.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/ConvertSelectorsToIns.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/MoveTimeFiltersToIntervals.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/RangeRefKey.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/Ranges.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteExplainQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
Labels: Bug

#14618 Docs: Change default value of "maxRowsInMemory" in tuningConfig
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation

#14621 [Backport] remove extractionFn from equality, null, and range filters
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/query/filter/EqualityFilter.java
  processing/src/main/java/org/apache/druid/query/filter/NullFilter.java
  processing/src/main/java/org/apache/druid/query/filter/RangeFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/NullFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/RangeFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/RangeFilterTests.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CaseOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/CombineAndSimplifyBounds.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/ConvertBoundsToSelectors.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/ConvertSelectorsToIns.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/MoveTimeFiltersToIntervals.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/RangeRefKey.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/Ranges.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteExplainQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
Labels: Backport

#14582 Add ingest/input/bytes metric and Kafka consumer metrics.
  docs/operations/metrics.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaConsumerMonitor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaRecordSupplierTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTask.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/stats/TaskRealtimeMetricsMonitor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunnerAuthTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  processing/src/main/java/org/apache/druid/segment/incremental/RowIngestionMeters.java
Labels: Area - Documentation, Area - Metrics/Event Emitting, Area - Ingestion

#14622 Web console: fix boolean segment filters
  web-console/src/react-table/react-table-inputs.tsx
  web-console/src/views/segments-view/segments-view.tsx
Labels: Bug, Area - Web Console

#14619 Simplify bounds/range vs selectors/equality logic in SQL planning.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CaseOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Bug, Area - SQL

#14626 [Backport 27.0.0 #14622] Web console: fix boolean segment filters
  web-console/src/react-table/react-table-inputs.tsx
  web-console/src/views/segments-view/segments-view.tsx
Labels: Backport

#14625 [Backport 27.0.0 #14568] Adding the null check in combine and fold in doublesSketch
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/TestDoublesSketchColumnValueSelector.java
Labels: Backport

#14576 Reserve threads for non-query requests without using laning
  server/src/main/java/org/apache/druid/server/QueryScheduler.java
  server/src/main/java/org/apache/druid/server/initialization/ServerConfig.java
  server/src/main/java/org/apache/druid/server/initialization/jetty/JettyBindings.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
  services/src/main/java/org/apache/druid/cli/QueryJettyServerInitializer.java
Labels: Area - Querying, Release Notes

#14632 Web console: make typing fun again
  web-console/src/react-table/react-table-inputs.tsx
  web-console/src/utils/date.ts
  web-console/src/views/workbench-view/execution-stages-pane/execution-stages-pane.tsx
  web-console/src/views/workbench-view/recent-query-task-panel/recent-query-task-panel.tsx
Labels: Bug, Area - Web Console

#14624 Simplify bounds/range vs selectors/equality logic in SQL planning. (#14619)
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CaseOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Backport

#14639 (perf) server: batch SQL Metadata deleteSegments
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Performance, Area - Operations

#14646 [Backport 27.0.0] 14632 Web console: make typing fun again
  web-console/src/react-table/react-table-inputs.tsx
  web-console/src/utils/date.ts
  web-console/src/views/workbench-view/execution-stages-pane/execution-stages-pane.tsx
  web-console/src/views/workbench-view/recent-query-task-panel/recent-query-task-panel.tsx
Labels: Backport

#14417 26.0.0: upgrade the branch to docusaurus2
  .github/workflows/static-checks.yml
  .gitignore
  README.md
  docs/design/architecture.md
  docs/design/processes.md
  docs/ingestion/ingestion-spec.md
  docs/multi-stage-query/api.md
  docs/querying/datasource.md
  docs/querying/nested-columns.md
  docs/tutorials/tutorial-unnest-arrays.md
  website/.spelling
  website/README.md
  website/core/Footer.js
  website/docusaurus.config.js
  website/i18n/en.json
  website/package-lock.json
  website/package.json
  website/redirects.js
  website/redirects.json
  website/script/build-to-docs
  website/script/do-redirects.js
  website/script/fix-docsearch.js
  website/script/fix-path.js
  website/scss/custom.scss
  website/sidebars.json
  website/siteConfig.js
  website/src/css/customTheme.css
  website/src/pages/community/cla.md
  website/src/pages/community/index.mdx
  website/src/pages/community/join-slack.md
  website/src/pages/downloads.md
  website/src/pages/druid-powered.md
  website/src/pages/faq.md
  website/src/pages/index.mdx
  website/src/pages/libraries.md
  website/src/pages/licensing.md
  website/src/pages/technology.md
  website/src/pages/use-cases.md
Labels: Area - Documentation

#14649 Get task location should be stored on the lifecycle object
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
Labels: Kubernetes

#14658 [Backport 27.0.0] Web console: fix service view filtering on other bugs (#14597)
  web-console/src/console-application.tsx
  web-console/src/druid-models/time/time.ts
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/workbench-view/input-format-step/input-format-step.tsx
Labels: Backport

#14528 Service status API documentation refactor
  docs/api-reference/service-status-api.md
  website/.spelling
Labels: Area - Documentation

#14529 Clean up Kinesis doc
  docs/development/extensions-core/kinesis-ingestion.md
  docs/ingestion/ingestion-spec.md
  website/.spelling
Labels: Area - Documentation

#14655 Fix the NPE in stringLast vector aggregation
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastVectorAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastVectorAggregatorTest.java
Labels: Bug

#14647 Suppress CVEs in 27.0.0
  owasp-dependency-check-suppressions.xml
Labels: Backport

#14663 Fix Some Typos.
  docs/querying/datasourcemetadataquery.md
  docs/querying/multitenancy.md
  docs/querying/querying.md
  docs/querying/searchquery.md
Labels: Area - Documentation

#14667 Fix maxCompletedTasks parameter in OverlordClientImpl.
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClientImpl.java
  server/src/test/java/org/apache/druid/rpc/indexing/OverlordClientImplTest.java
Labels: Bug

#14397 Refresh the OS Druid web console screenshots
  docs/assets/web-console-0.7-tasks.png
  docs/assets/web-console-01-home-view.png
  docs/assets/web-console-02-data-loader-1.png
  docs/assets/web-console-03-data-loader-2.png
  docs/assets/web-console-04-datasources.png
  docs/assets/web-console-05-retention.png
  docs/assets/web-console-06-segments.png
  docs/assets/web-console-07-supervisors.png
  docs/assets/web-console-08-supervisor-status.png
  docs/assets/web-console-09-task-status.png
  docs/assets/web-console-10-servers.png
  docs/assets/web-console-13-lookups.png
  docs/operations/web-console.md
Labels: Area - Documentation

#14670 Quick fix for SegmentLoadDropHandler bug
  server/src/main/java/org/apache/druid/server/coordination/SegmentLoadDropHandler.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentLoadDropHandlerTest.java
Labels: Bug

#14661 Clean up some of the descriptions
  docs/operations/metrics.md
Labels: Area - Documentation

#14579 Supervisor API documentation refactor
  docs/api-reference/supervisor-api.md
  website/.spelling
Labels: Area - Documentation

#14652 Merge core CoordinatorClient with MSQ CoordinatorServiceClient.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/TaskDataSegmentProvider.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQServiceClientModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerWorkerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/rpc/CoordinatorServiceClientImpl.java
  extensions-core/multi-stage-query/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/TaskDataSegmentProviderTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolboxFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskToolboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidInputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TestTaskToolboxFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskMonitorTest.java
  integration-tests-ex/tools/src/main/java/org/apache/druid/testing/tools/CliCustomNodeRole.java
  integration-tests/src/main/java/org/apache/druid/cli/CliCustomNodeRole.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClient.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClientImpl.java
  server/src/main/java/org/apache/druid/rpc/StandardRetryPolicy.java
  server/src/main/java/org/apache/druid/rpc/guice/ServiceClientModule.java
  server/src/main/java/org/apache/druid/segment/handoff/CoordinatorBasedSegmentHandoffNotifier.java
  server/src/test/java/org/apache/druid/client/coordinator/CoordinatorClientImplTest.java
  server/src/test/java/org/apache/druid/client/coordinator/NoopCoordinatorClient.java
  server/src/test/java/org/apache/druid/segment/handoff/CoordinatorBasedSegmentHandoffNotifierTest.java
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Release Notes

#14633 Tasks API documentation spacing update
  docs/api-reference/tasks-api.md
  website/.spelling
Labels: Area - Documentation

#14131 Speed up kill tasks by deleting segments in batch
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentKiller.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentKillerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
  processing/src/main/java/org/apache/druid/segment/loading/DataSegmentKiller.java
  server/src/main/java/org/apache/druid/segment/loading/OmniDataSegmentKiller.java
  server/src/test/java/org/apache/druid/segment/loading/OmniDataSegmentKillerTest.java
Labels: Area - Operations, Design Review

#14654 fix issues with equality and range filters matching double values to long typed inputs
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionTypeConversion.java
  processing/src/main/java/org/apache/druid/query/aggregation/SimpleLongAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/filter/EqualityFilter.java
  processing/src/main/java/org/apache/druid/query/filter/FallbackPredicate.java
  processing/src/main/java/org/apache/druid/query/filter/RangeFilter.java
  processing/src/main/java/org/apache/druid/query/filter/vector/ArrayVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/DoubleVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/FloatVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/LongVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/MultiValueStringVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/ObjectVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/SingleValueStringVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/StringObjectVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/VectorValueMatcherFactory.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/column/Types.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionPlan.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedGroupByArrayQueryTest.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/NestedDataTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/RangeFilterTests.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
  processing/src/test/resources/nested-all-types-test-data.json
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug

#14682 [Backport] fix issues with equality and range filters matching double values to long typed inputs
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionTypeConversion.java
  processing/src/main/java/org/apache/druid/query/aggregation/SimpleLongAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/filter/EqualityFilter.java
  processing/src/main/java/org/apache/druid/query/filter/FallbackPredicate.java
  processing/src/main/java/org/apache/druid/query/filter/RangeFilter.java
  processing/src/main/java/org/apache/druid/query/filter/vector/ArrayVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/DoubleVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/FloatVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/LongVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/MultiValueStringVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/ObjectVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/SingleValueStringVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/StringObjectVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/VectorValueMatcherFactory.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/column/Types.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionPlan.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedGroupByArrayQueryTest.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/NestedDataTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/RangeFilterTests.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
  processing/src/test/resources/nested-all-types-test-data.json
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Backport

#14684 Test: Simplify test impl of LoadQueuePeon
  benchmarks/src/test/java/org/apache/druid/server/coordinator/BalancerStrategyBenchmark.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsProfiler.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidClusterTest.java
  server/src/test/java/org/apache/druid/server/coordinator/RoundRobinServerSelectorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/ServerHolderTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/BalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/CachingCostBalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/CostBalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/DiskNormalizedCostBalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/ReservoirSegmentSamplerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/LoadQueuePeonTester.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/TestLoadQueuePeon.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/BroadcastDistributionRuleTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/LoadRuleTest.java
Labels: Area - Testing

#14589 JSON-querying API documentation refactor
  docs/api-reference/json-querying-api.md
Labels: Area - Documentation

#14677 Save a metadata call when reading files from CloudObjectInputSource.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/external/ExternalInputSpecSlicer.java
  processing/src/main/java/org/apache/druid/data/input/FilePerSplitHintSpec.java
  processing/src/main/java/org/apache/druid/data/input/impl/CloudObjectInputSource.java
  processing/src/test/java/org/apache/druid/data/input/impl/CloudObjectInputSourceTest.java
Labels: Performance

#14676 [Backport 27.0.0] Update Jupyter notebook tutorial instructions for ARM devices
  docs/tutorials/tutorial-jupyter-docker.md
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose-local.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose.yaml
Labels: Backport

#14673 [Backport 27.0.0] Service status API documentation refactor
  docs/api-reference/service-status-api.md
  website/.spelling
Labels: Backport

#14675 [Backport 27.0.0] Tasks API documentation refactor (#14492)
  docs/api-reference/tasks-api.md
  website/static/css/custom.css
Labels: Area - Documentation, Backport

#14672 [Backport 27.0.0] Refresh the OS Druid web console screenshots (#14397)
  docs/assets/web-console-0.7-tasks.png
  docs/assets/web-console-01-home-view.png
  docs/assets/web-console-02-data-loader-1.png
  docs/assets/web-console-03-data-loader-2.png
  docs/assets/web-console-04-datasources.png
  docs/assets/web-console-05-retention.png
  docs/assets/web-console-06-segments.png
  docs/assets/web-console-07-supervisors.png
  docs/assets/web-console-08-supervisor-status.png
  docs/assets/web-console-09-task-status.png
  docs/assets/web-console-10-servers.png
  docs/assets/web-console-13-lookups.png
  docs/operations/web-console.md
Labels: Area - Documentation, Backport

#14690 [Backport 27.0.0] Clean up Kinesis doc #14529
  docs/development/extensions-core/kinesis-ingestion.md
  docs/ingestion/ingestion-spec.md
  website/.spelling
Labels: Area - Documentation, Backport

#14689 [Backport 27.0.0] JSON-querying API documentation refactor (#14589)
  docs/api-reference/json-querying-api.md
Labels: Area - Documentation, Backport

#14688 fix issue with nested virtual column array element vector selectors when input is numeric array but output is non-numeric
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/NestedDataTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldColumnSelectorsTest.java
  processing/src/test/resources/nested-all-types-test-data.json
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying

#14680 [Backport 27.0.0] Supervisor API documentation refactor (#14579)
  docs/api-reference/supervisor-api.md
  website/.spelling
Labels: Area - Documentation, Backport

#14693 [Backport] fix issue with nested virtual column array element vector selectors when input is numeric array but output is non-numeric
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/NestedDataTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldColumnSelectorsTest.java
  processing/src/test/resources/nested-all-types-test-data.json
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Backport

#14694 [Backport 27.0.0] Quick fix for SegmentLoadDropHandler bug (#14670)
  server/src/main/java/org/apache/druid/server/coordination/SegmentLoadDropHandler.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentLoadDropHandlerTest.java
Labels: Backport

#14669 Web console: add durable storage selector
  web-console/src/components/menu-checkbox/menu-checkbox.tsx
  web-console/src/druid-models/query-context/query-context.tsx
  web-console/src/druid-models/task/task.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/utils/druid-query.ts
  web-console/src/views/tasks-view/tasks-view.tsx
  web-console/src/views/workbench-view/recent-query-task-panel/recent-query-task-panel.tsx
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
Labels: Area - Web Console

#14507 Add task toolbox to DruidInputSource
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/InputSourceSplitParallelIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/TaskInputSource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
Labels: Area - Batch Ingestion

#14701 Fix reported replication factor of segment with 0 required replicas
  server/src/main/java/org/apache/druid/server/coordinator/loading/StrategicSegmentAssigner.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/RunRulesTest.java
Labels: Bug

#14705 [Backport 27.0.0] Make sure execution mode is set (#14606)
  web-console/src/components/rule-editor/__snapshots__/rule-editor.spec.tsx.snap
  web-console/src/components/rule-editor/rule-editor.spec.tsx
  web-console/src/helpers/execution/sql-task-execution.ts
Labels: Backport

#14704 [Backport 27.0.0] Fix reported replication factor of segment with zero required replicas
  server/src/main/java/org/apache/druid/server/coordinator/loading/StrategicSegmentAssigner.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/RunRulesTest.java
Labels: Bug, Backport

#14644 Cancel loads of unused segments
  server/src/main/java/org/apache/druid/server/coordinator/DruidCluster.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/RoundRobinServerSelectorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulation.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentLoadingTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestSegmentsMetadataManager.java
Labels: Area - Segment Balancing/Coordination

#14642 split KillUnusedSegmentsTask to processing in smaller chunks
  docs/data-management/delete.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientKillUnusedSegmentsTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/client/indexing/ClientKillUnusedSegmentsTaskQuery.java
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClient.java
  server/src/test/java/org/apache/druid/client/indexing/ClientKillUnusedSegmentsTaskQueryTest.java
  server/src/test/java/org/apache/druid/rpc/indexing/OverlordClientImplTest.java
Labels: Area - Documentation, Area - Operations, Design Review
