Repository apache/druid, pull requests merged in 2023-06, with the labels that each got.

#14358 Remove extraneous apostrophe in the native batch docs
  docs/ingestion/native-batch.md
Labels: Area - Documentation

#14266 Input source security fixes
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/data/input/aliyun/OssInputSource.java
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/data/input/aliyun/OssInputSourceTest.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskModule.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaSamplerSpec.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTask.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexingServiceModule.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpec.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskSerdeTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisSamplerSpecTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/NilInputSource.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/external/NilInputSourceTest.java
  indexing-service/src/main/java/org/apache/druid/guice/IndexingServiceInputSourceModule.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/ArchiveTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/MoveTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RestoreTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialGenericSegmentMergeTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/GeneratorInputSource.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/IndexTaskSamplerSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerModule.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ArchiveTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/MoveTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RestoreTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialGenericSegmentMergeTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidInputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/GeneratorInputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/IndexTaskSamplerSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/SamplerResourceTest.java
  server/src/main/java/org/apache/druid/client/indexing/SamplerSpec.java
  server/src/test/java/org/apache/druid/client/indexing/SamplerSpecTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteIngestionDmlTest.java
Labels: Security, Area - Ingestion

#14361 docs: add sql array functions to nav
  docs/querying/sql-array-functions.md
  docs/querying/sql-functions.md
  docs/querying/sql-multivalue-string-functions.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#14356 Docs: Minor cleanups from working on sampling bugfix
  docs/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation

#14362 Ignore misc.xml by using a different file for intellij inspection
  .github/workflows/static-checks.yml
  .idea/misc-for-inspection.xml
Labels: Area - Dev

#14355 Handle StreamExceptions when initializing input source
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/SamplerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSource.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSourceTest.java
Labels: Bug, Area - Streaming Ingestion

#14281 Adding SegmentMetadataEvent and publishing them via KafkaEmitter
  docs/development/extensions-contrib/kafka-emitter.md
  extensions-contrib/ambari-metrics-emitter/src/main/java/org/apache/druid/emitter/ambari/metrics/AmbariMetricsEmitter.java
  extensions-contrib/dropwizard-emitter/src/main/java/org/apache/druid/emitter/dropwizard/DropwizardEmitter.java
  extensions-contrib/graphite-emitter/src/main/java/org/apache/druid/emitter/graphite/GraphiteEmitter.java
  extensions-contrib/kafka-emitter/src/main/java/org/apache/druid/emitter/kafka/KafkaEmitter.java
  extensions-contrib/kafka-emitter/src/main/java/org/apache/druid/emitter/kafka/KafkaEmitterConfig.java
  extensions-contrib/kafka-emitter/src/test/java/org/apache/druid/emitter/kafka/KafkaEmitterConfigTest.java
  extensions-contrib/kafka-emitter/src/test/java/org/apache/druid/emitter/kafka/KafkaEmitterTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertAction.java
  processing/src/main/java/org/apache/druid/java/util/emitter/service/SegmentMetadataEvent.java
  processing/src/test/java/org/apache/druid/java/util/emitter/service/SegmentMetadataEventTest.java
Labels: Area - Documentation, Area - Metrics/Event Emitting

#14354 Document storeCompactionState
  docs/ingestion/tasks.md
  website/sidebars.json
Labels: Area - Documentation

#14368 Reduce the spam in broker logs when native queries are issued
  services/src/main/java/org/apache/druid/server/router/TieredBrokerHostSelector.java
Labels: Area - Querying

#14348 Fix flaky Revised ITs failures on GHA runners
  .github/workflows/reusable-revised-its.yml
  integration-tests-ex/cases/cluster/Common/dependencies.yaml
  integration-tests-ex/cases/cluster/Common/druid.yaml
Labels: Area - Testing

#14365 docs: add basic contributor guide for docs
  docs/development/docs-contribute.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#14366 Remove context params from class component ctors
  web-console/src/components/show-log/show-log.tsx
  web-console/src/console-application.tsx
  web-console/src/dialogs/doctor-dialog/doctor-dialog.tsx
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/ingestion-view/ingestion-view.tsx
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/services-view/services-view.tsx
  web-console/src/views/workbench-view/column-tree/column-tree.tsx
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.tsx
Labels: Area - Web Console

#14367 MSQ: Fix issue with rollup ingestion and aggregators with multiple names.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
Labels: Bug, Area - MSQ

#14371 Switch to @blueprint/datetime2
  licenses.yaml
  licenses/bin/date-fns-tz.MIT
  licenses/bin/date-fns.MIT
  licenses/bin/lodash.MIT
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/auto-form/__snapshots__/auto-form.spec.tsx.snap
  web-console/src/components/date-range-selector/date-range-selector.tsx
  web-console/src/components/interval-input/interval-input.tsx
  web-console/src/components/menu-tristate/__snapshots__/menu-tristate.spec.tsx.snap
  web-console/src/components/numeric-input-with-default/__snapshots__/numeric-input-with-default.spec.tsx.snap
  web-console/src/components/segment-timeline/__snapshots__/segment-timeline.spec.tsx.snap
  web-console/src/components/suggestion-menu/__snapshots__/suggestion-menu.spec.tsx.snap
  web-console/src/entry.scss
  web-console/src/utils/date.ts
  web-console/src/views/workbench-view/column-tree/column-tree-menu/number-menu-items/__snapshots__/number-menu-items.spec.tsx.snap
  web-console/src/views/workbench-view/column-tree/column-tree-menu/string-menu-items/__snapshots__/string-menu-items.spec.tsx.snap
  web-console/src/views/workbench-view/column-tree/column-tree-menu/time-menu-items/__snapshots__/time-menu-items.spec.tsx.snap
Labels: Area - Web Console, Area - Dependencies

#14352 Fix `EARLIEST_BY`/`LATEST_BY` signature and include function name in signature.
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalSqlAggregatorBase.java
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestGenerateSketchSqlAggregator.java
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchQuantileSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchApproxCountDistinctSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchApproxQuantileSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchApproxCountDistinctSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchObjectSqlAggregator.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArrayConcatSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArraySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestAnySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestBySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/StringSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayAppendOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayConcatOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOffsetOfOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOffsetOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOrdinalOfOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOrdinalOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayPrependOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArraySliceOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayToStringOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ComplexDecodeBase64OperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/IPv4AddressMatchOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/StringToArrayOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/convertlet/TimeInIntervalConvertletFactory.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - SQL

#14312 Hll Sketch and Theta sketch estimate can now be used as an expression
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllPostAggExprMacros.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchEstimateOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchModule.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaPostAggMacros.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchEstimateOperatorConversion.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
Labels: Area - Querying

#14381 Fix documentation for druid.query.scheduler.numThreads.
  docs/configuration/index.md
Labels: Area - Documentation

#14070 Upgrade parquet-mr version
  extensions-core/parquet-extensions/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#14385 Prevent coordinator from getting stuck if leadership changes during coordinator run
  server/src/main/java/org/apache/druid/server/coordinator/CostBalancerStrategy.java
  server/src/test/java/org/apache/druid/server/coordinator/CostBalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/BlockingExecutorService.java
Labels: Bug, Area - Segment Balancing/Coordination

#14379 doc: escape tags in markdown in prepration for docusaurus2
  docs/design/architecture.md
  docs/design/processes.md
  docs/ingestion/ingestion-spec.md
Labels: Area - Documentation

#14388 Remove AbstractIndex
  processing/src/main/java/org/apache/druid/segment/AbstractIndex.java
  processing/src/main/java/org/apache/druid/segment/SimpleQueryableIndex.java
  processing/src/main/java/org/apache/druid/segment/data/FixedIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexed.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
Labels: Area - Dev

#14383 Add workflow links
  README.md
Labels: Area - Documentation

#14380 Upgrades the React dependency to v18
  licenses.yaml
  licenses/bin/react-router-dom.MIT
  licenses/bin/react-router.MIT
  web-console/.npmrc
  web-console/package-lock.json
  web-console/package.json
  web-console/src/dialogs/snitch-dialog/snitch-dialog.tsx
  web-console/src/entry.ts
  web-console/src/singletons/toaster.ts
  web-console/src/views/load-data-view/filter-table/__snapshots__/filter-table.spec.tsx.snap
  web-console/src/views/load-data-view/parse-data-table/__snapshots__/parse-data-table.spec.tsx.snap
  web-console/src/views/load-data-view/parse-time-table/__snapshots__/parse-time-table.spec.tsx.snap
  web-console/src/views/load-data-view/transform-table/__snapshots__/transform-table.spec.tsx.snap
Labels: Area - Web Console, Area - Dependencies

#14399 Fixup typo and java code snippets in JDBC docs.
  docs/api-reference/sql-jdbc.md
Labels: Area - Documentation

#14350 Add logs for deleting files using storage connector
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3StorageConnector.java
  processing/src/main/java/org/apache/druid/storage/local/LocalFileStorageConnector.java
Labels: Area - MSQ

#14394 Add 'Flaky test' issue template
  .github/ISSUE_TEMPLATE/flaky_test.md
Labels: Area - Dev

#14391 Add more statement attributes to explain plan result.
  docs/querying/sql-translation.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/ExplainAttributes.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/IngestHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteExplainQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/ExplainAttributesTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Documentation

#14409 Minor doc updates.
  docs/configuration/index.md
  docs/operations/clean-metadata-store.md
  docs/operations/rule-configuration.md
  extensions-contrib/opentelemetry-emitter/README.md
  integration-tests/README.md
Labels: Area - Documentation

#14382 Log instead of throwing exception while mapping SupervisorSpec
  server/src/main/java/org/apache/druid/metadata/SQLMetadataSupervisorManager.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataSupervisorManagerTest.java
Labels: Bug, Area - Streaming Ingestion

#14378 Expose Druid functions in `INFORMATION_SCHEMA.ROUTINES` table.
  docs/querying/sql-metadata-tables.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/InformationSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidOperatorTableTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidCalciteSchemaModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/InformationSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
  website/.spelling
Labels: Area - Documentation, Design Review, Area - SQL

#14405 Reset `RuntimeInfo` to fix flaky test `ParametrizedUriEmitterConfigTest`.
  processing/src/main/java/org/apache/druid/utils/JvmUtils.java
  processing/src/test/java/org/apache/druid/java/util/emitter/core/ParametrizedUriEmitterConfigTest.java
Labels: Flaky test

#14425 Fix issues when startup timeout is hit
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
Labels: Kubernetes

#14426 Start with solo accumulator and empty partition
  processing/src/main/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequence.java
  processing/src/test/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequenceTest.java
Labels: Bug, Area - Querying

#14429 Adding the file mapper to handle v2 buffer deserialization
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchMergeComplexMetricSerde.java
Labels: Bug, Area - Segment Format and Ser/De

#14427 adjust broker parallel merge to help managed blocking be more well behaved
  processing/src/main/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequence.java
  processing/src/test/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequenceTest.java
Labels: Area - Querying

#14421 fix kafka input format reader schema discovery and partial schema discovery
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafkainput/KafkaInputReader.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/data/input/kafkainput/KafkaInputFormatTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/MapInputRowParser.java
Labels: Bug, Area - Streaming Ingestion

#14370 Limit results generated by SELECT queries in MSQ
  docs/api-reference/sql-ingestion-api.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/Limits.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQResultsReport.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/MsqTestQueryHelper.java
Labels: Area - Documentation, Area - MSQ

#14433 Fix segment/deleted/count metric not being emitted
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/server/coordinator/duty/EmitClusterStatsAndMetrics.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/EmitClusterStatsAndMetricsTest.java
Labels: Area - Documentation

#14437 MSQ: Load broadcast tables on workers.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
Labels: Bug, Area - MSQ

#14438 allow expression "best effort" type determination to better handle mixed type arrays
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionTypeConversion.java
  processing/src/test/java/org/apache/druid/math/expr/EvalTest.java
  processing/src/test/java/org/apache/druid/math/expr/ExprEvalTest.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/resources/nested-all-types-test-data.json
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Ingestion

#14402 Add groupId to metrics
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskRealtimeMetricsMonitorBuilder.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTaskUtils.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskUtilsTest.java
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
Labels: Area - Documentation, Area - Metrics/Event Emitting

#14436 Fail query planning if a `CLUSTERED BY` column contains descending order
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/InsertCannotOrderByDescendingFault.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQFaultsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlParserUtils.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/parser/DruidSqlParserUtilsTest.java
  sql/src/test/resources/calcite/expected/ingest/insertWithClusteredBy-logicalPlan.txt
Labels: Area - Documentation, Area - MSQ

#14435 Don't need to double synchronize on simple map operations
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
Labels: Performance, Area - Ingestion

#14403 Add replication factor column to sys table
  docs/api-reference/api-reference.md
  docs/querying/sql-metadata-tables.md
  integration-tests/src/test/resources/results/auth_test_sys_schema_segments.json
  processing/src/main/java/org/apache/druid/timeline/SegmentStatusInCluster.java
  processing/src/test/java/org/apache/druid/timeline/SegmentStatusInClusterTest.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/SegmentReplicantLookup.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/LoadRule.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/MetadataSegmentView.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  website/.spelling
Labels: Area - Documentation, Needs web console change

#14444 Quieter KafkaSupervisors in all bundled log4j2.xml.
  examples/conf/druid/auto/_common/log4j2.xml
  examples/conf/druid/single-server/large/_common/log4j2.xml
  examples/conf/druid/single-server/medium/_common/log4j2.xml
  examples/conf/druid/single-server/micro-quickstart/_common/log4j2.xml
  examples/conf/druid/single-server/nano-quickstart/_common/log4j2.xml
  examples/conf/druid/single-server/small/_common/log4j2.xml
  examples/conf/druid/single-server/xlarge/_common/log4j2.xml
Labels: Area - Streaming Ingestion

#14232 Decouple logical planning and native query generation in SQL planning
  sql/src/main/java/org/apache/calcite/plan/volcano/DruidVolcanoCost.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidQueryGenerator.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/CostEstimates.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidAggregate.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidFilter.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidLogicalConvention.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidLogicalNode.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidProject.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidSort.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidTableScan.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidValues.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidLogicalValuesRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidAggregateCaseToFilterRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidAggregateRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidFilterRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidLogicalRules.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidProjectRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidSortRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidTableScanRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidValuesRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestBuilder.java
Labels: Area - SQL, Refactoring

#14447 Fix exception if replicant information is not available
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
Labels: Bug

#14359 Added new SysMonitorOshi v0 using Oshi library
  LICENSE
  distribution/bin/check-licenses.py
  licenses.yaml
  licenses/bin/oshi.MIT
  pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/java/util/metrics/NoopOshiSysMonitor.java
  processing/src/main/java/org/apache/druid/java/util/metrics/OshiSysMonitor.java
  processing/src/main/java/org/apache/druid/java/util/metrics/SysMonitor.java
  processing/src/test/java/org/apache/druid/java/util/metrics/NoopOshiSysMonitorTest.java
  processing/src/test/java/org/apache/druid/java/util/metrics/OshiSysMonitorTest.java
  server/src/main/java/org/apache/druid/server/metrics/MetricsModule.java
  server/src/test/java/org/apache/druid/server/metrics/MetricsModuleTest.java
Labels: Area - Operations, Release Notes, Area - Metrics/Event Emitting

#14419 Move from Jupyter notebook to Jupyter Lab and introduce a notebook folder structure
  examples/quickstart/jupyter-notebooks/Dockerfile
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose-local.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose.yaml
  examples/quickstart/jupyter-notebooks/kafka-tutorial.ipynb
  examples/quickstart/jupyter-notebooks/notebooks/01-introduction/00-START-HERE.ipynb
  examples/quickstart/jupyter-notebooks/notebooks/01-introduction/01-druidapi-package-intro.ipynb
  examples/quickstart/jupyter-notebooks/notebooks/02-ingestion/01-streaming-from-kafka.ipynb
  examples/quickstart/jupyter-notebooks/notebooks/02-ingestion/DruidDataDriver.py
  examples/quickstart/jupyter-notebooks/notebooks/02-ingestion/kafka_docker_config.json
  examples/quickstart/jupyter-notebooks/notebooks/03-query/00-using-sql-with-druidapi.ipynb
  examples/quickstart/jupyter-notebooks/notebooks/04-api/00-getting-started.ipynb
Labels: Area - Documentation

#14445 Skip tests based on files changed in the PR
  .github/workflows/revised-its.yml
  .github/workflows/standard-its.yml
  .github/workflows/unit-tests.yml
  integration-tests-ex/cases/cluster/Common/environment-configs/common.env
  integration-tests/docker/environment-configs/common
  integration-tests/docker/environment-configs/common-ldap
  integration-tests/docker/environment-configs/test-groups/custom-coordinator-duties
  integration-tests/docker/environment-configs/test-groups/prepopulated-data
  integration-tests/docker/environment-configs/test-groups/shuffle-deep-store
Labels: Area - Testing, Area - Dev, Dev Productivity

#14432 Allow empty tiered replicants map for load rules
  docs/operations/rule-configuration.md
  server/src/main/java/org/apache/druid/metadata/SQLMetadataRuleManager.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/ForeverLoadRule.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/IntervalLoadRule.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/LoadRule.java
  server/src/main/java/org/apache/druid/server/coordinator/rules/PeriodLoadRule.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataRuleManagerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsProfiler.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/RunRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/ForeverLoadRuleTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/IntervalLoadRuleTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/LoadRuleTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/PeriodLoadRuleTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestMetadataRuleManager.java
  server/src/test/java/org/apache/druid/server/http/DataSourcesResourceTest.java
  services/src/test/java/org/apache/druid/server/router/CoordinatorRuleManagerTest.java
  services/src/test/java/org/apache/druid/server/router/TieredBrokerHostSelectorTest.java
Labels: Area - Documentation, Design Review, Area - Segment Balancing/Coordination, Needs web console change

#14467 extend InitializedNullHandlingTest instead of NullHandlingTest
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidSegmentReaderTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/InputRowSchemasTest.java
  processing/src/test/java/org/apache/druid/common/config/NullHandlingTest.java
  processing/src/test/java/org/apache/druid/query/scan/MultiSegmentScanQueryTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinableFactoryWrapperTest.java
  processing/src/test/java/org/apache/druid/segment/join/lookup/LookupJoinableTest.java
Labels: Area - Testing

#14458 fix website mvn build
  .gitignore
  pom.xml
  website/i18n/en.json
  website/pom.xml
Labels: Area - Documentation, Area - Dev

#14453 Improve SegmentMetadataCache visibility
  docs/operations/metrics.md
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
Labels: Area - Documentation, Area - Metrics/Event Emitting

#14290 S3: Attach SSE key to doesObjectExist calls.
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/ServerSideEncryptingAmazonS3.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3StorageConnectorTest.java
Labels: Area - Deep Storage

#14225 Clarify compaction docs.
  docs/data-management/automatic-compaction.md
  docs/data-management/compaction.md
Labels: Area - Documentation

#14249 SQL OperatorConversions: Introduce.aggregatorBuilder, allow CAST-as-literal.
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchApproxCountDistinctSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchEstimateOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchEstimateWithErrorBoundsOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchApproxQuantileSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchApproxCountDistinctSqlAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchObjectSqlAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/testing-tools/src/main/java/org/apache/druid/query/sql/SleepOperatorConversion.java
  integration-tests-ex/tools/src/main/java/org/apache/druid/testing/tools/SleepOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/BTrimOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/DateTruncOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/LPadOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/LTrimOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ParseLongOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/RPadOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/RTrimOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/RegexpExtractOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/RegexpLikeOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/RoundOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/SubstringOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TextcatOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeCeilOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeExtractOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeFloorOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeFormatOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeParseOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeShiftOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TruncateOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/OperatorConversionsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidOperatorTableTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/InformationSchemaTest.java
Labels: Area - SQL

#14481 Fix flaky HttpEmitterConfigTest and ParametrizedUriEmitterConfigTest.
  processing/src/test/java/org/apache/druid/java/util/emitter/core/HttpEmitterConfigTest.java
  processing/src/test/java/org/apache/druid/java/util/emitter/core/ParametrizedUriEmitterConfigTest.java
Labels: Area - Testing, Flaky test

#14260 SqlResults: Coerce arrays to lists for VARCHAR.
  sql/src/main/java/org/apache/druid/sql/calcite/run/SqlResults.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/run/SqlResultsTest.java
Labels: Bug, Area - SQL

#14398 MSQ: Improve the parse exception errors and the handling of null UTF characters in Strings in Frames
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/InvalidNullByteFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/MSQErrorReport.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/ParseExceptionUtils.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/external/ExternalInputSliceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/external/ExternalSegment.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/inline/InlineInputSliceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ExternalColumnSelectorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQParseExceptionsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
  extensions-core/multi-stage-query/src/test/resources/unparseable-null-byte-string.csv
  processing/src/main/java/org/apache/druid/frame/write/FrameWriterUtils.java
  processing/src/main/java/org/apache/druid/frame/write/InvalidNullByteException.java
  processing/src/main/java/org/apache/druid/frame/write/RowBasedFrameWriter.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/ColumnarFrameWriter.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/StringFrameColumnWriter.java
Labels: Area - Documentation, Error handling, Area - MSQ

#14443 Add ServiceStatusMonitor to monitor service health
  docs/configuration/index.md
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/server/metrics/ServiceStatusMonitor.java
  server/src/test/java/org/apache/druid/server/metrics/ServiceStatusMonitorTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
Labels: Area - Documentation, Area - Metrics/Event Emitting

#14310 MSQ: Change default clusterStatisticsMergeMode to SEQUENTIAL.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - MSQ

#14431 [Docs] Clean up druid.processing.intermediaryData.storage.type description
  docs/configuration/index.md
Labels: Area - Documentation

#14372 API reference refactor
  docs/api-reference/api-reference.md
  docs/api-reference/automatic-compaction-api.md
  docs/api-reference/data-management-api.md
  docs/api-reference/dynamic-configuration-api.md
  docs/api-reference/json-querying-api.md
  docs/api-reference/legacy-metadata-api.md
  docs/api-reference/lookups-api.md
  docs/api-reference/retention-rules-api.md
  docs/api-reference/service-status-api.md
  docs/api-reference/sql-api.md
  docs/api-reference/sql-ingestion-api.md
  docs/api-reference/supervisor-api.md
  docs/api-reference/tasks-api.md
  docs/configuration/index.md
  docs/data-management/automatic-compaction.md
  docs/data-management/delete.md
  docs/design/broker.md
  docs/design/coordinator.md
  docs/design/historical.md
  docs/design/indexer.md
  docs/design/indexing-service.md
  docs/design/middlemanager.md
  docs/design/overlord.md
  docs/design/peons.md
  docs/design/router.md
  docs/development/extensions-core/kafka-supervisor-operations.md
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/development/extensions-core/kinesis-ingestion.md
  docs/ingestion/faq.md
  docs/ingestion/hadoop.md
  docs/ingestion/index.md
  docs/ingestion/native-batch.md
  docs/ingestion/tasks.md
  docs/operations/rule-configuration.md
  docs/querying/lookups.md
  website/sidebars.json
Labels: Area - Documentation

#14441 Improvements to `EXPLAIN PLAN` attributes
  docs/querying/sql-translation.md
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlIngest.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlParserUtils.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/ExplainAttributes.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/IngestHandler.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/parser/DruidSqlParserUtilsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/parser/DruidSqlUnparseTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/ExplainAttributesTest.java
Labels: Area - Documentation

#14475 [MSQ] Confirm that the allocated segment's granularity matches the requested granularity
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/InsertCannotAllocateSegmentFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/IntervalUtils.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQFaultsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/IntervalUtilsTest.java
  processing/src/main/java/org/apache/druid/java/util/common/granularity/Granularity.java
Labels: Bug, Area - Documentation, Area - Batch Ingestion, Area - MSQ

#14461 fix bug with json_value expression array extraction
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/column/TypeSignature.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializerV4.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedPathFinder.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedPathFinderTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying, Area - Ingestion

#14484 Improve CostBalancerStrategy, deprecate cachingCost
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/SegmentCountsPerInterval.java
  server/src/main/java/org/apache/druid/server/coordinator/ServerHolder.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/BalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/CachingCostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/CachingCostBalancerStrategyFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/CostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/DiskNormalizedCostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/RandomBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/TierSegmentBalancer.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/BalanceSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CollectSegmentAndServerStats.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/MarkOvershadowedSegmentsAsUnused.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/RunRules.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/HttpLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/StrategicSegmentAssigner.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/CoordinatorRunStats.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/RowKey.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/Stats.java
  server/src/test/java/org/apache/druid/server/coordinator/CoordinatorRunStatsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/CachingCostBalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/CostBalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/RunRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/LoadRuleTest.java
Labels: Performance, Area - Segment Balancing/Coordination

#14124 Cache parsed expressions and binding analysis in more places.
  processing/src/main/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregator.java
  processing/src/main/java/org/apache/druid/query/filter/ExpressionDimFilter.java
  processing/src/main/java/org/apache/druid/segment/join/JoinConditionAnalysis.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregatorTest.java
  sql/pom.xml
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArrayConcatSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArraySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/AvgSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/BitwiseSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/MultiColumnSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/SimpleSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/StringSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/DruidExpression.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/BaseExpressionDimFilterOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CaseOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CastOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/DateTruncOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/QueryLookupOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/RegexpExtractOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeFloorOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TruncateOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/ExpressionParser.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/ExpressionParserImpl.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidCorrelateUnnestRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidJoinQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Grouping.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Projection.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/VirtualColumnRegistry.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidUnnestRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/rel/DruidQueryTest.java
Labels: Performance, Area - SQL

#14446 Add query results directory and prevent the auto cleaner from cleaning it
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/DurableStorageCleaner.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/DurableStorageCleanerTest.java
  processing/src/main/java/org/apache/druid/frame/util/DurableStorageUtils.java
  processing/src/test/java/org/apache/druid/frame/util/DurableStorageUtilsTest.java
Labels: Area - Documentation

#14493 Fix another infinite loop and remove Mockito usage
  processing/src/test/java/org/apache/druid/audit/TestAuditManager.java
  processing/src/test/java/org/apache/druid/common/config/ConfigManagerTest.java
  processing/src/test/java/org/apache/druid/common/config/TestConfigManagerConfig.java
  processing/src/test/java/org/apache/druid/metadata/TestMetadataStorageConnector.java
  processing/src/test/java/org/apache/druid/metadata/TestMetadataStorageTablesConfig.java
Labels: Area - Testing

#14416 Adding Interactive API's for MSQ engine
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/SqlTaskModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/InsertCannotBeEmptyFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/SqlStatementState.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/SqlTaskStatus.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/entity/ColumnNameAndTypes.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/entity/ResultSetInformation.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/entity/SqlStatementResult.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlTaskResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/SqlStatementResourceHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQControllerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/SqlMsqStatementResourcePostTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/entity/ColumnNameAndTypesTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/entity/ResultSetInformationTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/entity/SqlStatementResultTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestOverlordServiceClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  processing/src/main/java/org/apache/druid/error/DruidException.java
  processing/src/main/java/org/apache/druid/query/ExecutionMode.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/query/QueryContextsTest.java
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClient.java
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClientImpl.java
  server/src/test/java/org/apache/druid/client/indexing/NoopOverlordClient.java
  server/src/test/java/org/apache/druid/rpc/indexing/OverlordClientImplTest.java
  sql/src/main/java/org/apache/druid/sql/DirectStatement.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - MSQ, Needs web console change

#14476 Add query context parameter to control limiting select rows
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQSelectDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQResultsReport.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/MsqTestQueryHelper.java
Labels: Area - Querying, Area - MSQ

#14142 Properly read SQL-compatible segments in default-value mode.
  processing/src/main/java/org/apache/druid/common/config/NullHandling.java
  processing/src/main/java/org/apache/druid/segment/column/StringDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/column/StringUtf8DictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/data/CachingIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexed.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedCommonFormatColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarStringColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarStringColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarStringDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/serde/CombineFirstTwoEntriesIndexed.java
  processing/src/main/java/org/apache/druid/segment/serde/CombineFirstTwoValuesColumnarInts.java
  processing/src/main/java/org/apache/druid/segment/serde/CombineFirstTwoValuesColumnarMultiInts.java
  processing/src/main/java/org/apache/druid/segment/serde/CombineFirstTwoValuesIndexedInts.java
  processing/src/main/java/org/apache/druid/segment/serde/DictionaryEncodedColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/DictionaryEncodedStringIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/DoubleNumericColumnPartSerdeV2.java
  processing/src/main/java/org/apache/druid/segment/serde/FloatNumericColumnPartSerdeV2.java
  processing/src/main/java/org/apache/druid/segment/serde/LongNumericColumnPartSerdeV2.java
  processing/src/main/java/org/apache/druid/segment/serde/ReplaceFirstValueWithNullIndexed.java
  processing/src/main/java/org/apache/druid/segment/serde/StringFrontCodedColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/StringFrontCodedDictionaryEncodedColumnSupplier.java
  processing/src/test/java/org/apache/druid/common/config/NullHandlingTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerNullHandlingTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarStringColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/serde/CombineFirstTwoEntriesIndexedTest.java
  processing/src/test/java/org/apache/druid/segment/serde/CombineFirstTwoValuesColumnarIntsTest.java
  processing/src/test/java/org/apache/druid/segment/serde/CombineFirstTwoValuesColumnarMultiIntsTest.java
  processing/src/test/java/org/apache/druid/segment/serde/CombineFirstTwoValuesIndexedIntsTest.java
  processing/src/test/java/org/apache/druid/segment/serde/ReplaceFirstValueWithNullIndexedTest.java
Labels: Compatibility, Area - Null Handling

#14494 Update .asf.yaml to simplify email subjects.
  .asf.yaml
Labels: Apache, Area - Dev

#14480 SQL: SUBSTRING support for non-literals.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/SubstringOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTestInjectorBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/testoperator/AssertionErrorOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/testoperator/CalciteTestOperatorModule.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - SQL

#14499 .asf.yaml: Add required "repository" field.
  .asf.yaml
Labels: Area - Dev

#14498 Fix flaky SqlStatementResourceTest.
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/SqlStatementResourceTest.java
Labels: Flaky test

#14336 SQL: Avoid "intervals" for non-table-based datasources.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/main/java/org/apache/druid/query/UnionQueryRunner.java
  processing/src/main/java/org/apache/druid/query/planning/DataSourceAnalysis.java
  processing/src/test/java/org/apache/druid/query/planning/DataSourceAnalysisTest.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
Labels: Bug, Area - SQL, Area - MSQ

#14460 Add REGEXP_REPLACE function.
  docs/querying/math-expr.md
  docs/querying/sql-functions.md
  docs/querying/sql-scalar.md
  processing/src/main/java/org/apache/druid/query/expression/RegexpReplaceExprMacro.java
  processing/src/test/java/org/apache/druid/query/expression/RegexpReplaceExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/TestExprMacroTable.java
  server/src/main/java/org/apache/druid/guice/ExpressionModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/RegexpReplaceOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
  website/.spelling
Labels: Area - Documentation, Area - SQL
