Repository apache/druid, pull requests merged in 2023-08, with the labels that each got.

#14692 Remove chatAsync parameter, so chat is always async.
  docs/api-reference/supervisor-api.md
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClientFactory.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClientTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskClientFactory.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskClientTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfigTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IndexTaskClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTaskClientFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskClientAsyncImpl.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskClientFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskClientSyncImpl.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorTuningConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/IndexTaskClientTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestUtils.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
Labels: Area - Documentation

#14709 [Backport 27.0.0] Handle taskIds which are not found in the overlord correctly
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/SqlStatementResourceHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/SqlStatementResourceTest.java
  processing/src/main/java/org/apache/druid/error/DruidException.java
  processing/src/main/java/org/apache/druid/error/NotFound.java
  processing/src/test/java/org/apache/druid/error/NotFoundTest.java
Labels: Backport

#14699 Increase router heap size in the integration tests
  integration-tests/docker/environment-configs/router
Labels: Area - Testing, Flaky test

#14718 [Backport] Docs: Minor change missed in #14590 (#14604)
  docs/configuration/index.md
Labels: Area - Documentation, Backport

#14716 Rename metadatacache and serverview metrics
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/client/CoordinatorServerView.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
Labels: Area - Documentation, Area - Metrics/Event Emitting

#14719 [Backport] Clean up the core API required for Iceberg extension
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceFactory.java
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsStorageDruidModule.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceBuilderTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSourceDruidModule.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSourceFactory.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceFactoryTest.java
  processing/src/main/java/org/apache/druid/data/input/AbstractInputSourceBuilder.java
  processing/src/main/java/org/apache/druid/data/input/InputSourceFactory.java
  processing/src/main/java/org/apache/druid/data/input/impl/LocalInputSourceFactory.java
  processing/src/test/java/org/apache/druid/data/input/impl/LocalInputSourceBuilderTest.java
Labels: Backport

#14722 [Backport 27.0.0] Rename metadatacache and serverview metrics (#14716)
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/client/CoordinatorServerView.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
Labels: Area - Documentation, Backport

#14710 fix issue with ExprEval.bestEffortOf and mixed type arrays containing ARRAY<COMPLEX<json>> and other complicated casts
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/test/java/org/apache/druid/math/expr/EvalTest.java
  processing/src/test/java/org/apache/druid/math/expr/ExprEvalTest.java
Labels: Bug, Area - Querying, Area - Ingestion

#14696 Improve alert message for segment assignments
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CollectSegmentAndServerStats.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/MarkOvershadowedSegmentsAsUnused.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/RunRules.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/SegmentDeleteHandler.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/StrategicSegmentAssigner.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsProfiler.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/MarkOvershadowedSegmentsAsUnusedTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/RunRulesTest.java
Labels: Area - Segment Balancing/Coordination, Error handling

#14674 Add readme for kubernetes-overlord-extensions and update docs
  docs/development/extensions-contrib/k8s-jobs.md
  extensions-contrib/kubernetes-overlord-extensions/README.md
Labels: Area - Documentation, Area - Extension, Kubernetes

#14707 MSQ WorkerImpl: Ignore ServiceClosedException on postCounters.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
Labels: Area - MSQ

#14730 [Backport 27.0.0] Add readme for kubernetes-overlord-extensions and update docs (#14674)
  docs/development/extensions-contrib/k8s-jobs.md
  extensions-contrib/kubernetes-overlord-extensions/README.md
Labels: Area - Documentation, Backport

#14721 upgrade core Apache Kafka dependencies to 3.5.1
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#14729 fix nested field virtual column array column element vector object selector
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/timeseries/NestedDataTimeseriesQueryTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
Labels: Bug

#14733 Fix exempt labels in stale.yml
  .github/workflows/stale.yml
Labels: Area - Dev

#14736 [Backport 27.0.0] fix nested field virtual column array column element vector object se…
  integration-tests/src/test/java/org/apache/druid/tests/query/ITJdbcQueryTest.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/timeseries/NestedDataTimeseriesQueryTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
Labels: Backport

#14714 Retry S3 task log fetch
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3TaskLogs.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3TaskLogsTest.java
Labels: Area - Ingestion

#14662 Add ability to limit the number of segments killed in kill task
  docs/data-management/delete.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/RetrieveUnusedSegmentsAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/ArchiveTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/MoveTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RestoreTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsActionsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientKillUnusedSegmentsTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/client/indexing/ClientKillUnusedSegmentsTaskQuery.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClient.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/test/java/org/apache/druid/client/indexing/ClientKillUnusedSegmentsTaskQueryTest.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/rpc/indexing/OverlordClientImplTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/http/DataSourcesResourceTest.java
Labels: Area - Documentation, Area - Operations, Design Review, Area - Deep Storage

#14698 Report task/pending/time metrics for k8s based ingestion
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesWorkItem.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/PeonLifecycleFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactoryTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesWorkItemTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/TestPeonLifecycleFactory.java
Labels: Area - Metrics/Event Emitting, Kubernetes, Area - Ingestion

#14750 Fix the bug in getIndexInfo for mysql
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/main/java/org/apache/druid/metadata/storage/derby/DerbyConnector.java
Labels: Bug, Area - Metadata

#14609 docs: query from deep storage
  docs/api-reference/sql-api.md
  docs/assets/tutorial-query-deepstorage-retention-rule.png
  docs/design/architecture.md
  docs/design/deep-storage.md
  docs/multi-stage-query/reference.md
  docs/operations/durable-storage.md
  docs/operations/rule-configuration.md
  docs/querying/query-from-deep-storage.md
  docs/tutorials/tutorial-query-deep-storage.md
  website/sidebars.json
Labels: Area - Documentation

#14754 docs: query from deep storage (#14609)
  docs/api-reference/sql-api.md
  docs/assets/tutorial-query-deepstorage-retention-rule.png
  docs/design/architecture.md
  docs/design/deep-storage.md
  docs/multi-stage-query/reference.md
  docs/operations/durable-storage.md
  docs/operations/rule-configuration.md
  docs/querying/query-from-deep-storage.md
  docs/tutorials/tutorial-query-deep-storage.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation, Backport

#14753 Latest aggregator factories should accept time as VectorValueSelecto…
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstLastUtils.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/DoubleLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/FloatLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/LongLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastVectorAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying

#14756 [Backport 27.0.0] Fix the bug in getIndexInfo for mysql (#14750)
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/main/java/org/apache/druid/metadata/storage/derby/DerbyConnector.java
Labels: Backport

#14723 Improve the script to find missing backports
  distribution/asf-release-process-guide.md
  distribution/bin/find-missing-backports.py
Labels: Area - Dev

#14755 Docs cleanup from the PR "docs: query from deep storage"
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

#14572 refactor front-coded into static classes instead of using functional interfaces
  benchmarks/src/test/java/org/apache/druid/benchmark/FrontCodedIndexedBenchmark.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexedWriter.java
Labels: Area - Segment Format and Ser/De, Refactoring

#14749 Update tutorial-kafka.md
  docs/tutorials/tutorial-kafka.md
Labels: Area - Documentation

#14743 Additional dimensions for service/heartbeat
  docs/operations/metrics.md
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
  server/src/main/java/org/apache/druid/server/metrics/ServiceStatusMonitor.java
  server/src/main/java/org/apache/druid/server/metrics/WorkerTaskCountStatsMonitor.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  services/src/main/java/org/apache/druid/cli/CliMiddleManager.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Documentation, Area - Metrics/Event Emitting

#14631 Refactor: Cleanup coordinator duties for metadata cleanup
  docs/development/modules.md
  integration-tests/docker/environment-configs/test-groups/custom-coordinator-duties
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorRuntimeParams.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillAuditLog.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillDatasourceMetadata.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillRules.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillSupervisors.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillSupervisorsCustomDuty.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/MetadataCleanupDuty.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/Stats.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsProfiler.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillAuditLogTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillDatasourceMetadataTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillSupervisorsCustomDutyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillSupervisorsTest.java
Labels: Area - Documentation, Refactoring

#14571 Add support for different result formats to MSQ SqlStatementResource
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestinationTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/entity/SqlStatementResultTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlMSQStatementResourcePostTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  sql/src/main/java/org/apache/druid/sql/http/ResultFormat.java
  sql/src/main/java/org/apache/druid/sql/http/SqlQuery.java
Labels: Area - MSQ, Needs web console change

#14280 Docs: Include EARLIEST_BY and LATEST_BY as supported aggregation functions
  docs/multi-stage-query/concepts.md
Labels: Area - Documentation

#14758 Add pod name to TaskLocation for easier observability and debugging.
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskRunnerUtilsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  processing/src/main/java/org/apache/druid/indexer/TaskLocation.java
  processing/src/test/java/org/apache/druid/indexer/TaskLocationTest.java
  processing/src/test/java/org/apache/druid/indexer/TaskStatusTest.java
Labels: Kubernetes

#14396 Rolling Supervisor restarts at taskDuration
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorIOConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSamplerSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Streaming Ingestion

#14768 Update kinesis docs
  docs/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation

#14752 Metric to report time spent fetching and analyzing segments
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
Labels: Area - Documentation, Area - Metrics/Event Emitting

#14765 Upgrades `org.mozilla:rhino`
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#14777 add new filters to unnest filter rewrite/pushdown
  processing/src/main/java/org/apache/druid/segment/UnnestStorageAdapter.java
  processing/src/test/java/org/apache/druid/segment/UnnestStorageAdapterTest.java
Labels: Performance, Area - Querying

#14769 Allow for task limit on kill tasks spawned by auto kill coordinator duty
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
Labels: Area - Documentation, Area - Operations

#14759 docs: remove experimental from schema auto-discoery
  docs/ingestion/schema-design.md
Labels: Area - Documentation

#14497 document expression aggregator
  docs/querying/aggregations.md
  website/.spelling
Labels: Area - Documentation, Area - Querying

#14770 Upgrade jackson-databind to 2.12.7
  extensions-contrib/compressed-bigdecimal/pom.xml
  extensions-contrib/kafka-emitter/pom.xml
  extensions-contrib/kafka-emitter/src/test/java/org/apache/druid/emitter/kafka/KafkaEmitterTest.java
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
  processing/src/main/java/org/apache/druid/guice/GuiceAnnotationIntrospector.java
  processing/src/test/java/org/apache/druid/segment/TestHelper.java
  server/src/test/java/org/apache/druid/client/cache/CacheConfigTest.java
Labels: Area - Dependencies

#14763 Removes support for Hadoop 2
  .github/scripts/analyze_dependencies_script.sh
  .github/scripts/license_checks_script.sh
  .github/workflows/cron-job-its.yml
  .github/workflows/static-checks.yml
  distribution/pom.xml
  docs/configuration/index.md
  docs/development/extensions-core/hdfs.md
  docs/ingestion/hadoop.md
  docs/operations/other-hadoop.md
  docs/tutorials/tutorial-batch-hadoop.md
  examples/quickstart/tutorial/hadoop/docker/Dockerfile
  examples/quickstart/tutorial/hadoop/docker/bootstrap.sh
  examples/quickstart/tutorial/hadoop3/docker/Dockerfile
  examples/quickstart/tutorial/hadoop3/docker/bootstrap.sh
  examples/quickstart/tutorial/hadoop3/docker/core-site.xml.template
  examples/quickstart/tutorial/hadoop3/docker/hdfs-site.xml
  examples/quickstart/tutorial/hadoop3/docker/mapred-site.xml
  examples/quickstart/tutorial/hadoop3/docker/ssh_config
  examples/quickstart/tutorial/hadoop3/docker/yarn-site.xml
  examples/quickstart/tutorial/wikipedia-index-hadoop.json
  extensions-contrib/thrift-extensions/pom.xml
  extensions-core/avro-extensions/pom.xml
  extensions-core/druid-ranger-security/pom.xml
  extensions-core/hdfs-storage/pom.xml
  extensions-core/orc-extensions/pom.xml
  extensions-core/parquet-extensions/pom.xml
  indexing-hadoop/pom.xml
  indexing-service/pom.xml
  integration-tests/README.md
  integration-tests/build_run_cluster.sh
  integration-tests/docker/environment-configs/override-examples/hadoop/azure_to_azure
  integration-tests/docker/environment-configs/override-examples/hadoop/azure_to_hdfs
  integration-tests/docker/environment-configs/override-examples/hadoop/s3_to_hdfs
  integration-tests/docker/environment-configs/override-examples/hadoop/s3_to_s3
  integration-tests/pom.xml
  integration-tests/script/copy_resources_template.sh
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
  services/src/main/java/org/apache/druid/cli/PullDependencies.java
  website/.spelling
Labels: Area - Documentation, Release Notes, Design Review

#14775 Improve exception message when DruidLeaderClient doesn't find leader node
  server/src/main/java/org/apache/druid/discovery/DruidLeaderClient.java
  server/src/test/java/org/apache/druid/discovery/DruidLeaderClientTest.java
Labels: Ease of Use

#14776 retry when killing s3 based segments
  cloud/aws-common/src/main/java/org/apache/druid/common/aws/AWSClientUtil.java
  cloud/aws-common/src/test/java/org/apache/druid/common/aws/AWSClientUtilTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentKiller.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentKillerTest.java
Labels: Area - Deep Storage, Error handling

#14782 Add stats to KillUnusedSegments coordinator duty
  docs/operations/metrics.md
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CoordinatorDutyUtils.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/Stats.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
Labels: Area - Documentation, Area - Operations, Area - Metrics/Event Emitting

#14742 Adding data generation pod to jupyter notebooks deployment
  examples/quickstart/jupyter-notebooks/Dockerfile
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose-local.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/environment
  examples/quickstart/jupyter-notebooks/druidapi/druidapi/display.py
  examples/quickstart/jupyter-notebooks/druidapi/druidapi/sql.py
  examples/quickstart/jupyter-notebooks/druidapi/druidapi/tasks.py
  examples/quickstart/jupyter-notebooks/notebooks/01-introduction/00-START-HERE.ipynb
  examples/quickstart/jupyter-notebooks/notebooks/01-introduction/01-druidapi-package-intro.ipynb
  examples/quickstart/jupyter-notebooks/notebooks/01-introduction/02-datagen-intro.ipynb
  examples/quickstart/jupyter-notebooks/notebooks/02-ingestion/01-streaming-from-kafka.ipynb
  examples/quickstart/jupyter-notebooks/notebooks/02-ingestion/DruidDataDriver.py
  examples/quickstart/jupyter-notebooks/notebooks/02-ingestion/kafka_docker_config.json
Labels: Area - Documentation

#14784 [Backport] document expression aggregator (#14497)
  docs/querying/aggregations.md
  website/.spelling
Labels: Area - Documentation, Backport

#14785 [Backport] document new filters and stuff (#14760)
  docs/ingestion/ingestion-spec.md
  docs/ingestion/schema-design.md
  docs/querying/filters.md
  docs/querying/sql-query-context.md
Labels: Area - Documentation, Backport

#13840 add sampling factor for DeterminePartitionsJob
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorSpec.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJobSampler.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopTuningConfig.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/BatchDeltaIngestionTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DetermineHashedPartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DeterminePartitionsJobSamplerTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DeterminePartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DetermineRangePartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerConfigTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopTuningConfigTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/IndexGeneratorJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/JobHelperTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/path/GranularityPathSpecTest.java
Labels: Area - Batch Ingestion

#14793 Web console: make retention dialog clearer
  web-console/src/components/json-input/json-input.tsx
  web-console/src/components/rule-editor/rule-editor.tsx
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/retention-dialog.scss
  web-console/src/dialogs/retention-dialog/retention-dialog.tsx
Labels: Area - Web Console

#14794 Web console: allow format picking for download
  web-console/src/views/workbench-view/destination-pages-dialog/destination-pages-dialog.tsx
  web-console/src/views/workbench-view/destination-pages-pane/destination-pages-pane.tsx
Labels: Area - Web Console

#14789 Support broadcast segments
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidK8sConstants.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJob.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobLongIds.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobTlsEnabled.yaml
Labels: Kubernetes

#14807 Remove config `druid.coordinator.compaction.skipLockedIntervals`
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/TestDruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
Labels: Area - Compaction

#14762 Fix 404 when segment is used but not in the Coordinator snapshot
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
Labels: Bug

#14424 Add support to read from multiple kafka topics in same supervisor
  docs/development/extensions-core/kafka-supervisor-reference.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafka/KafkaTopicPartition.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaDataSourceMetadata.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskClientFactory.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskIOConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskModule.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaSamplerSpec.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorReportPayload.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/data/input/kafka/KafkaTopicPartitionTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaCheckpointDataSourceMetadataSerdeTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaDataSourceMetadataTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaRecordSupplierTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
Labels: Area - Documentation, Design Review, Area - Streaming Ingestion, Needs web console change

#14804 increase dependabot PR limit for Java dependencies
  .github/dependabot.yml
Labels: Area - Dev, Area - Dependencies

#14623 Retention rules API documentation refactor
  docs/api-reference/retention-rules-api.md
Labels: Area - Documentation

#14711 Druid SQL API documentation refactor
  docs/api-reference/sql-api.md
  website/.spelling
Labels: Area - Documentation

#14783 Web console: adding format notice for CSV and TSV
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/formatted-input/formatted-input.tsx
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-source/input-source.tsx
  web-console/src/utils/general.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/workbench-view/input-source-step/input-source-step.tsx
Labels: Area - Web Console

#14828 Refactoring of multi-topic kafka ingestion docs
  docs/development/extensions-core/kafka-supervisor-reference.md
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpec.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaRecordSupplierTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  website/.spelling
Labels: Area - Documentation, Improvement, Area - Streaming Ingestion

#14771 Report more metrics to monitor K8s task runner
  docs/development/extensions-contrib/k8s-jobs.md
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClient.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClientTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/DruidPeonClientIntegrationTest.java
Labels: Area - Documentation, Area - Metrics/Event Emitting, Kubernetes

#14587 fix filtering bug in filtering unnest cols and dim cols: Received a non-applicable rewrite
  processing/src/main/java/org/apache/druid/segment/UnnestStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/test/java/org/apache/druid/segment/UnnestStorageAdapterTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Bug

#14695 deprecate config-magic in favor of json configuration stuff
  benchmarks/src/test/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpec.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorSpec.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorSpec.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/config/Initializer.java
  processing/src/main/java/org/apache/druid/guice/ConfigProvider.java
  processing/src/main/java/org/apache/druid/java/util/common/concurrent/ExecutorServiceConfig.java
  processing/src/main/java/org/apache/druid/java/util/metrics/AllocationMetricCollector.java
  processing/src/main/java/org/apache/druid/java/util/metrics/BasicMonitorScheduler.java
  processing/src/main/java/org/apache/druid/java/util/metrics/ClockDriftSafeMonitorScheduler.java
  processing/src/main/java/org/apache/druid/java/util/metrics/DruidMonitorSchedulerConfig.java
  processing/src/main/java/org/apache/druid/java/util/metrics/MonitorScheduler.java
  processing/src/main/java/org/apache/druid/java/util/metrics/MonitorSchedulerConfig.java
  processing/src/main/java/org/apache/druid/query/DruidProcessingBufferConfig.java
  processing/src/main/java/org/apache/druid/query/DruidProcessingConfig.java
  processing/src/main/java/org/apache/druid/query/DruidProcessingIndexesConfig.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstLastUtils.java
  processing/src/main/java/org/apache/druid/segment/IndexIO.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnConfig.java
  processing/src/test/java/org/apache/druid/java/util/metrics/BasicMonitorSchedulerTest.java
  processing/src/test/java/org/apache/druid/java/util/metrics/ClockDriftSafeMonitorSchedulerTest.java
  processing/src/test/java/org/apache/druid/java/util/metrics/MonitorSchedulerTest.java
  processing/src/test/java/org/apache/druid/query/DruidProcessingConfigTest.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/guice/BrokerProcessingModule.java
  server/src/main/java/org/apache/druid/guice/DruidProcessingConfigModule.java
  server/src/main/java/org/apache/druid/guice/DruidProcessingModule.java
  server/src/main/java/org/apache/druid/guice/LegacyBrokerParallelMergeConfigModule.java
  server/src/main/java/org/apache/druid/guice/RouterProcessingModule.java
  server/src/main/java/org/apache/druid/guice/StorageNodeModule.java
  server/src/main/java/org/apache/druid/initialization/CoreInjectorBuilder.java
  server/src/main/java/org/apache/druid/query/BrokerParallelMergeConfig.java
  server/src/main/java/org/apache/druid/query/LegacyBrokerParallelMergeConfig.java
  server/src/main/java/org/apache/druid/server/metrics/MetricsModule.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientFunctionalityTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientPerfTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/guice/BrokerProcessingModuleTest.java
  server/src/test/java/org/apache/druid/guice/QueryableModuleTest.java
  server/src/test/java/org/apache/druid/query/QueryRunnerBasedOnClusteredClientTestBase.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  services/src/main/java/org/apache/druid/cli/DumpSegment.java
  services/src/main/java/org/apache/druid/cli/ValidateSegments.java
  services/src/test/java/org/apache/druid/cli/DumpSegmentTest.java
  services/src/test/java/org/apache/druid/cli/ValidateSegmentsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
Labels: Area - Operations, Refactoring, Area - Dependencies

#14833 Web console: enable Kafka multi-topic ingestion from the data loader
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
Labels: Area - Web Console, Area - Ingestion

#14584 Adapt maxSegmentsToMove based on cluster skew
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/SegmentCountsPerInterval.java
  server/src/main/java/org/apache/druid/server/coordinator/ServerHolder.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/BalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/CostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/RandomBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/SegmentToMoveCalculator.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/TierSegmentBalancer.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/BalanceSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CollectSegmentAndServerStats.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/CoordinatorRunStats.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsProfiler.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/ServerHolderTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/CostBalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/SegmentToMoveCalculatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBaseTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/SegmentBalancingTest.java
Labels: Area - Segment Balancing/Coordination

#14801 Web console: improving the helper queries by allowing for running inline helper queries
  web-console/e2e-tests/tutorial-batch.spec.ts
  web-console/src/components/query-error-pane/query-error-pane.tsx
  web-console/src/druid-models/index.ts
  web-console/src/druid-models/workbench-query/workbench-query-part.ts
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/singletons/ace-editor-state-cache.ts
  web-console/src/singletons/execution-state-cache.ts
  web-console/src/singletons/workbench-running-promises.ts
  web-console/src/utils/druid-query.spec.ts
  web-console/src/utils/druid-query.ts
  web-console/src/utils/general.spec.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/query-cursor.ts
  web-console/src/utils/sql.spec.ts
  web-console/src/utils/sql.ts
  web-console/src/views/sql-data-loader-view/column-editor/column-editor.tsx
  web-console/src/views/sql-data-loader-view/expression-editor-dialog/expression-editor-dialog.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
  web-console/src/views/workbench-view/demo-queries.ts
  web-console/src/views/workbench-view/execution-details-pane/execution-details-pane.tsx
  web-console/src/views/workbench-view/flexible-query-input/__snapshots__/flexible-query-input.spec.tsx.snap
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.scss
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.spec.tsx
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.tsx
  web-console/src/views/workbench-view/helper-query/helper-query.scss
  web-console/src/views/workbench-view/helper-query/helper-query.tsx
  web-console/src/views/workbench-view/query-tab/query-tab.scss
  web-console/src/views/workbench-view/query-tab/query-tab.tsx
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Querying, Release Notes, Area - Web Console

#14856 Speed up SQLMetadataStorageActionHandlerTest
  server/src/main/java/org/apache/druid/metadata/SQLMetadataStorageActionHandler.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataStorageActionHandlerTest.java
Labels: Area - Testing

#14772 Reset offsets supervisor API
  docs/api-reference/supervisor-api.md
  docs/development/extensions-core/kafka-supervisor-operations.md
  docs/development/extensions-core/kinesis-ingestion.md
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaDataSourceMetadataTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisDataSourceMetadataTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/TestSeekableStreamDataSourceMetadata.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/Supervisor.java
  server/src/test/java/org/apache/druid/indexing/NoopSupervisorSpecTest.java
  website/.spelling
Labels: Area - Documentation, Needs web console change

#14791 Web console: expose new coordinator properties in the dialog
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.mock.ts
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
Labels: Area - Web Console

#14863 Web console: Reset to specific offsets dialog
  web-console/src/dialogs/index.ts
  web-console/src/dialogs/supervisor-reset-offsets-dialog/supervisor-reset-offsets-dialog.tsx
  web-console/src/views/supervisors-view/supervisors-view.tsx
Labels: Area - Streaming Ingestion, Area - Web Console

#12599 Add a configurable bufferPeriod between when a segment is marked unused and deleted by KillUnusedSegments duty
  docs/configuration/index.md
  docs/design/metadata-storage.md
  docs/operations/upgrade-prep.md
  integration-tests/docker/test-data/high-availability-sample-data.sql
  integration-tests/docker/test-data/ldap-security-sample-data.sql
  integration-tests/docker/test-data/query-error-sample-data.sql
  integration-tests/docker/test-data/query-retry-sample-data.sql
  integration-tests/docker/test-data/query-sample-data.sql
  integration-tests/docker/test-data/security-sample-data.sql
  pom.xml
  processing/src/main/java/org/apache/druid/metadata/MetadataStorageConnector.java
  processing/src/test/java/org/apache/druid/metadata/TestMetadataStorageConnector.java
  server/src/main/java/org/apache/druid/indexer/SQLMetadataStorageUpdaterJobHandler.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataSegmentPublisher.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/main/java/org/apache/druid/metadata/storage/derby/DerbyConnector.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataConnectorTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/metadata/TestDerbyConnector.java
  server/src/test/java/org/apache/druid/server/coordinator/TestDruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestSegmentsMetadataManager.java
  services/src/main/java/org/apache/druid/cli/Main.java
  services/src/main/java/org/apache/druid/cli/UpdateTables.java
  website/.spelling
Labels: Area - Documentation, Incompatible, Release Notes, Design Review, Area - Segment Balancing/Coordination, Area - Metadata

#14868 Clean up after add kill bufferPeriod
  docs/design/metadata-storage.md
  docs/operations/metadata-migration.md
  docs/operations/upgrade-prep.md
  integration-tests/docker/test-data/high-availability-sample-data.sql
  integration-tests/docker/test-data/ldap-security-sample-data.sql
  integration-tests/docker/test-data/query-error-sample-data.sql
  integration-tests/docker/test-data/query-retry-sample-data.sql
  integration-tests/docker/test-data/query-sample-data.sql
  integration-tests/docker/test-data/security-sample-data.sql
  processing/src/main/java/org/apache/druid/metadata/MetadataStorageConnector.java
  processing/src/test/java/org/apache/druid/metadata/TestMetadataStorageConnector.java
  server/src/main/java/org/apache/druid/indexer/SQLMetadataStorageUpdaterJobHandler.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataSegmentPublisher.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataConnectorTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/metadata/TestDerbyConnector.java
  services/src/main/java/org/apache/druid/cli/Main.java
  services/src/main/java/org/apache/druid/cli/UpdateTables.java
Labels: Area - Documentation

#14869 Use separate executor for each coordinator duty group
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
Labels: Performance, Area - Segment Balancing/Coordination

#14875 Clean up compaction logs on coordinator
  benchmarks/src/test/java/org/apache/druid/server/coordinator/NewestSegmentFirstPolicyBenchmark.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
  server/src/main/java/org/apache/druid/server/coordinator/CompactionStatistics.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/compact/CompactionSegmentIterator.java
  server/src/main/java/org/apache/druid/server/coordinator/compact/CompactionSegmentSearchPolicy.java
  server/src/main/java/org/apache/druid/server/coordinator/compact/CompactionStatistics.java
  server/src/main/java/org/apache/druid/server/coordinator/compact/CompactionStatus.java
  server/src/main/java/org/apache/druid/server/coordinator/compact/NewestSegmentFirstIterator.java
  server/src/main/java/org/apache/druid/server/coordinator/compact/NewestSegmentFirstPolicy.java
  server/src/main/java/org/apache/druid/server/coordinator/compact/SegmentsToCompact.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/compact/NewestSegmentFirstIteratorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/compact/NewestSegmentFirstPolicyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Area - Compaction

#14883 Remove segmentsToBeDropped from SegmentTransactionInsertAction
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SequenceMetadata.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertActionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SequenceMetadataTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/indexing/overlord/DataSourceMetadata.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/TransactionalSegmentPublisher.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/ClosedSegmentsSinksBatchAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/OpenAndClosedSegmentsBatchAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriverTest.java
Labels: Area - Ingestion

#14857 Add topic name as a column in the Kafka Input format
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafkainput/KafkaInputFormat.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafkainput/KafkaInputReader.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/data/input/kafkainput/KafkaInputFormatTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
Labels: Release Notes, Area - Streaming Ingestion, Needs web console change

#14865 Web console: add Kafka topic column controls
  web-console/src/druid-models/input-format/input-format.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Streaming Ingestion, Area - Web Console

#14740 Automatic compaction API documentation refactor
  docs/api-reference/automatic-compaction-api.md
  docs/data-management/automatic-compaction.md
  docs/design/coordinator.md
  website/.spelling
Labels: Area - Documentation

#14651 Clean up Kafka supervisor topic
  docs/configuration/index.md
  docs/development/extensions-core/kafka-supervisor-operations.md
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/ingestion/ingestion-spec.md
  docs/tutorials/tutorial-jupyter-docker.md
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
Labels: Area - Documentation

#14792 enable sql compatible null handling mode by default
  docs/configuration/index.md
  docs/design/segments.md
  docs/ingestion/schema-design.md
  docs/querying/math-expr.md
  docs/querying/sql-aggregations.md
  docs/querying/sql-array-functions.md
  docs/querying/sql-data-types.md
  docs/querying/sql-functions.md
  docs/querying/sql-metadata-tables.md
  docs/querying/sql-multivalue-string-functions.md
  docs/querying/sql-query-context.md
  integration-tests-ex/cases/src/test/resources/multi-stage-query/wikipedia_msq_select_query1.json
  integration-tests-ex/cases/src/test/resources/multi-stage-query/wikipedia_msq_select_query_ha.json
  integration-tests-ex/cases/src/test/resources/multi-stage-query/wikipedia_msq_select_query_sequential_test.json
  integration-tests/src/main/java/org/apache/druid/testing/utils/AbstractTestQueryHelper.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/resources/queries/wikipedia_editstream_queries.json
  processing/src/main/java/org/apache/druid/common/config/NullValueHandlingConfig.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstLastUtils.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastBufferAggregator.java
Labels: Bug, Area - Documentation, Area - Querying, Release Notes, Area - Segment Format and Ser/De, Area - Ingestion

#14881 Fixed broken URL of python api tutorial
  docs/tutorials/tutorial-jupyter-index.md
Labels: Area - Documentation

#14734 set druid.expressions.useStrictBooleans to true by default
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  docs/configuration/index.md
  docs/development/experimental-features.md
  docs/ingestion/schema-design.md
  docs/querying/math-expr.md
  docs/querying/sql-data-types.md
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerDiscoveryTest.java
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionProcessingConfig.java
  processing/src/test/java/org/apache/druid/math/expr/EvalTest.java
  processing/src/test/java/org/apache/druid/math/expr/VectorExprSanityTest.java
  processing/src/test/java/org/apache/druid/query/expression/VectorExpressionsSanityTest.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ExpressionFilterNonStrictBooleansTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ExpressionFilterTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexTest.java
  processing/src/test/java/org/apache/druid/segment/transform/TransformerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
Labels: Area - Documentation, Area - Querying, Release Notes, Area - SQL, Area - Ingestion

#14870 Fix error messages relating to OVERWRITE keyword
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  sql/src/main/codegen/config.fmpp
  sql/src/main/codegen/includes/replace.ftl
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
Labels: Area - SQL

#14845 Refactor: Move `UpdateCoordinatorStateAndPrepareCluster` duty out of `DruidCoordinator`
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorRuntimeParams.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/BalancerStrategyFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/CachingCostBalancerStrategyFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/CostBalancerStrategyFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/DisabledCachingCostBalancerStrategyFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/DiskNormalizedCostBalancerStrategyFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/RandomBalancerStrategyFactory.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CollectSegmentAndServerStats.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/PrepareBalancerAndLoadQueues.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/LoadQueueTaskMaster.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/BalancerStrategyFactoryTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CollectSegmentAndServerStatsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/MarkOvershadowedSegmentsAsUnusedTest.java
Labels: Area - Segment Balancing/Coordination, Refactoring

#14893 Fix aggregation filter expression processing in the absense of projection
  sql/src/main/java/org/apache/druid/sql/calcite/rule/GroupByRules.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Area - Querying, Area - SQL

#14896 Doc changes for avatica transparent reconnection
  docs/api-reference/sql-jdbc.md
Labels: Area - Documentation

#14456 consolidate json and auto indexers, remove v4 nested column serializer
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  docs/querying/nested-columns.md
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputFormatTest.java
  extensions-core/orc-extensions/src/test/java/org/apache/druid/data/input/orc/OrcReaderTest.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/NestedColumnParquetReaderTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerDiscoveryTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/SamplerResponseTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/DimensionSchema.java
  processing/src/main/java/org/apache/druid/guice/NestedDataModule.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/NestedDataDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/NestedDataDimensionSchema.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexAdapter.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/nested/DictionaryIdLookup.java
  processing/src/main/java/org/apache/druid/segment/nested/GlobalDictionaryEncodedFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedCommonFormatColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializerV4.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSupplierV4.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnV4.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexTypeSerde.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarStringFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/ValueDictionary.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantFieldColumnWriter.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/SimpleDictionaryMergingIteratorTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierV4Test.java
Labels: Area - Documentation, Release Notes, Area - Segment Format and Ser/De

#14897 override retry attempts for InputEntityIteratingReaderTest for much faster test run
  processing/src/test/java/org/apache/druid/data/input/impl/InputEntityIteratingReaderTest.java
Labels: Area - Testing

#14848 Allow EARLIEST/EARLIEST_BY/LATEST/LATEST_BY for STRING columns without specifying maxStringBytes
  docs/querying/sql-aggregations.md
  docs/querying/sql-functions.md
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestAnySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestBySqlAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Documentation, Area - Querying, Release Notes

#14877 Docs: fix supervisor spec api submission commands in Kafka tutorial
  docs/tutorials/tutorial-kafka.md
Labels: Area - Documentation

#14872 Fix null check for JWT claims
  extensions-core/druid-pac4j/src/main/java/org/apache/druid/security/pac4j/JwtAuthFilter.java
  extensions-core/druid-pac4j/src/test/java/org/apache/druid/security/pac4j/JwtAuthenticatorTest.java
Labels: Bug, Area - Extension

#14846 Add coordinator API for unused segments
  docs/api-reference/legacy-metadata-api.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/TaskDataSegmentProvider.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/table/SegmentsInputSliceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSegmentProvider.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/TaskDataSegmentProviderTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClient.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClientImpl.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/test/java/org/apache/druid/client/coordinator/CoordinatorClientImplTest.java
  server/src/test/java/org/apache/druid/client/coordinator/NoopCoordinatorClient.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
Labels: Area - Documentation, Area - Metadata

#14831 Enable Continuous auto kill
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestSegmentsMetadataManager.java
Labels: Area - Documentation, Area - Operations, Release Notes

#14780 Display the output column name in InvalidNullByteException
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/InvalidNullByteFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/MSQErrorReport.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/ParseExceptionUtils.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQParseExceptionsTest.java
Labels: Area - MSQ

#14860 Imporve on incremental compilation
  licenses.yaml
  pom.xml
  processing/src/main/java/org/apache/druid/math/expr/BinaryEvalOpExprBase.java
  processing/src/main/java/org/apache/druid/math/expr/BinaryLogicalOperatorExpr.java
  processing/src/main/java/org/apache/druid/math/expr/BinaryMathOperatorExpr.java
  processing/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  processing/src/main/java/org/apache/druid/math/expr/UnaryOperatorExpr.java
Labels: Area - Automation/Static Analysis

#14894 Add docs for ingesting Kafka topic name
  docs/development/extensions-core/kafka-ingestion.md
  docs/ingestion/data-formats.md
  website/.spelling
Labels: Area - Documentation, Area - Streaming Ingestion

#14882 Fix reported CVEs
  extensions-contrib/opentelemetry-emitter/pom.xml
  owasp-dependency-check-suppressions.xml
Labels: Security, Area - Dependencies

#14902 Use num cores to determine balancerComputeThreads
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadQueueManager.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsProfiler.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/balancer/SegmentToMoveCalculatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CollectSegmentAndServerStatsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/MarkOvershadowedSegmentsAsUnusedTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/RunRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/BroadcastDistributionRuleTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/LoadRuleTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
Labels: Area - Documentation, Area - Segment Balancing/Coordination

#14888 Fix capacity response in mm-less ingestion
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/RemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/TotalWorkerCapacityResponse.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  web-console/src/helpers/capacity.ts
Labels: Release Notes, Area - Ingestion

#14908 docs: update note in automatic compaction doc
  docs/data-management/automatic-compaction.md
Labels: Area - Documentation

#14906 Web console: misc fixes and SQL query re-formatting
  licenses.yaml
  licenses/bin/@babel-helper-string-parser.MIT
  licenses/bin/commander.MIT
  licenses/bin/d3-dsv.BSD3
  licenses/bin/iconv-lite.MIT
  licenses/bin/rw.BSD3
  licenses/bin/safer-buffer.MIT
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/fancy-numeric-input/fancy-numeric-input.tsx
  web-console/src/dialogs/supervisor-reset-offsets-dialog/supervisor-reset-offsets-dialog.scss
  web-console/src/dialogs/supervisor-reset-offsets-dialog/supervisor-reset-offsets-dialog.tsx
  web-console/src/druid-models/async-query/async-query.mock.ts
  web-console/src/druid-models/ingest-query-pattern/ingest-query-pattern.spec.ts
  web-console/src/druid-models/input-format/input-format.tsx
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/utils/sample-query.spec.tsx
  web-console/src/utils/sql.spec.ts
  web-console/src/views/explore-view/modules/time-chart-echarts-module.ts
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.scss
Labels: Bug, Area - Web Console

#14913 Increase the computed value of replicationThrottleLimit
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/loading/ReplicationThrottler.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/StrategicSegmentAssigner.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/ReplicationThrottlerTest.java
Labels: Area - Documentation, Area - Segment Balancing/Coordination

#14917 Update filters.md
  docs/querying/filters.md
Labels: Area - Documentation

#14915 HttpClient: Include error handler on all connection attempts.
  processing/src/main/java/org/apache/druid/java/util/http/client/pool/ChannelResourceFactory.java
  processing/src/test/java/org/apache/druid/java/util/http/client/JankyServersTest.java
Labels: Bug

#14728 prometheus-emitter: add extraLabels parameter
  docs/development/extensions-contrib/prometheus.md
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/Metrics.java
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitter.java
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitterConfig.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/MetricsTest.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/PrometheusEmitterConfigTest.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/PrometheusEmitterTest.java
Labels: Area - Documentation

#14926 Reduce coordinator logs when operating normally
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorRuntimeParams.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/PrepareBalancerAndLoadQueues.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/Stats.java
  server/src/test/java/org/apache/druid/server/coordinator/BalanceSegmentsProfiler.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CollectSegmentAndServerStatsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/RunRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/BroadcastDistributionRuleTest.java
  server/src/test/java/org/apache/druid/server/coordinator/rules/LoadRuleTest.java
Labels: Area - Segment Balancing/Coordination

#14929 Added brush to time-chart
  web-console/src/views/explore-view/modules/time-chart-echarts-module.ts
Labels: Area - Web Console

#14931 Web console: line chart fix others not mapping correctly
  web-console/src/console-application.scss
  web-console/src/views/explore-view/modules/time-chart-echarts-module.ts
Labels: Bug, Area - Web Console

#14930 Web console: show execution dialog in task view
  web-console/src/helpers/execution/sql-task-execution.ts
  web-console/src/views/tasks-view/tasks-view.tsx
  web-console/src/views/workbench-view/execution-details-pane/execution-details-pane.tsx
  web-console/src/views/workbench-view/execution-stages-pane/execution-stages-pane.tsx
Labels: Area - Web Console
