Repository apache/druid, pull requests merged in 2023-02, with the labels that each got.

#13714 fix nested column handling of null and "null"
  processing/src/main/java/org/apache/druid/segment/SimpleDictionaryMergingIterator.java
  processing/src/main/java/org/apache/druid/segment/nested/GlobalDictionaryEncodedFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/GlobalDictionaryIdLookup.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldLiteralDictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/StringFieldColumnWriter.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/SchemaEvolutionTest.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessTestFullTest.java
  processing/src/test/java/org/apache/druid/segment/SimpleDictionaryMergingIteratorTest.java
  processing/src/test/java/org/apache/druid/segment/TestHelper.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldLiteralColumnSelectorsTest.java
  processing/src/test/resources/types-test-data-parser.json
  processing/src/test/resources/types-test-data.json
  server/src/test/java/org/apache/druid/query/dimension/LookupDimensionSpecTest.java
Labels: Bug, Area - Segment Format and Ser/De

#13710 Dimension dictionary reduce locking
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/StringDimensionIndexerProcessBenchmark.java
  processing/src/main/java/org/apache/druid/segment/DimensionDictionary.java
Labels: Performance, Area - Querying, Area - Ingestion

#13681 Migrate ITs from Travis to GHA
  .github/workflows/reusable-revised-its.yml
  .github/workflows/reusable-standard-its.yml
  .github/workflows/reusable-unit-tests.yml
  .github/workflows/revised-its.yml
  .github/workflows/standard-its.yml
  .github/workflows/static-checks.yml
  .github/workflows/unit-and-integration-tests-unified.yml
  .github/workflows/unit-tests.yml
  integration-tests/docker/docker-compose.query-error-test.yml
  integration-tests/docker/docker-compose.query-retry-test.yml
  integration-tests/src/test/java/org/apache/druid/tests/query/ITJdbcQueryTest.java
  it.sh
Labels: Area - Testing

#13712 Fixing incorrect filtering of nulls in an array when ingesting for JSON and Avro
  core/src/main/java/org/apache/druid/java/util/common/parsers/JSONFlattenerMaker.java
  core/src/test/java/org/apache/druid/data/input/impl/JSONParseSpecTest.java
  core/src/test/java/org/apache/druid/data/input/impl/JsonLineReaderTest.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroFlattenerMaker.java
  extensions-core/avro-extensions/src/test/avro/some-datum.avsc
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputFormatTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputRowParserTest.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/avro/AvroFlattenerMakerTest.java
Labels: Bug, Area - Ingestion

#13733 Suppress CVEs
  owasp-dependency-check-suppressions.xml
Labels: Security

#13730 Compaction history returns empty list instead of 404 when not found
  docs/operations/api-reference.md
  server/src/main/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResource.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
Labels: Release Notes, Area - Compaction

#13713 fixed init commands for both mysql and postgresql
  docs/operations/metadata-migration.md
Labels: Area - Documentation

#13695 Fix value of lookup sync period in docs
  docs/configuration/index.md
  docs/querying/lookups.md
  website/.spelling
Labels: Area - Documentation

#13641 docs: Refresh the update data tutorial
  docs/tutorials/tutorial-update-data.md
Labels: Area - Documentation

#13725 Make batch segment allocation logs less noisy
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueue.java
Labels: Area - Operations

#13735 Fix GHA workflow maven build erroring incase of version updates
  .github/workflows/reusable-standard-its.yml
  .github/workflows/reusable-unit-tests.yml
  it.sh
Labels: Area - Testing

#13668 When a task fails and doesn't throw an exception, report it correctly…
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/UpdateStatusAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AbstractTaskTest.java
Labels: Kubernetes, Area - Ingestion

#13727 Added missing '/status' in HTTP status request in the documentation of 'SQL-based ingestion and multi-stage query task API'
  docs/multi-stage-query/api.md
Labels: Area - Documentation

#13750 Update basic auth examples
  docs/operations/security-overview.md
Labels: Area - Documentation

#13753 Local pathing for tests
  .github/workflows/revised-its.yml
  .github/workflows/standard-its.yml
  .github/workflows/unit-and-integration-tests-unified.yml
  .github/workflows/unit-tests.yml
Labels: Area - Testing

#13748 Use durable super sorter intermediate storage only with composable storage
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
Labels: Area - MSQ

#13742 NPE fix in MSQ in the post cleanup stage
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
Labels: Bug, Area - MSQ

#13754 Auto-detect docker-compose
  integration-tests-ex/cases/cluster.sh
Labels: Area - Testing

#13739 Fallback virtual column
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/BufferHashGrouperUsingSketchMergeAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/oldapi/OldApiSketchAggregationTest.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/FallbackVirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/VirtualColumnCacheHelper.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/BufferArrayGrouperTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/BufferHashGrouperTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/GroupByTestColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/GrouperTestUtil.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/LimitedBufferHashGrouperTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/StreamingMergeSortedGrouperTest.java
  processing/src/test/java/org/apache/druid/segment/TestColumnSelector.java
  processing/src/test/java/org/apache/druid/segment/TestColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/segment/vector/TestVectorColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/segment/virtual/FallbackVirtualColumnTest.java
  server/src/main/java/org/apache/druid/segment/loading/LocalLoadSpec.java
Labels: Area - Querying

#13732 various nested column (and other) fixes
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/main/java/org/apache/druid/math/expr/IdentifierExpr.java
  core/src/main/java/org/apache/druid/math/expr/vector/VectorProcessors.java
  core/src/test/java/org/apache/druid/math/expr/EvalTest.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalSqlAggregatorTestBase.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexTypeSerde.java
  processing/src/main/java/org/apache/druid/segment/vector/NilVectorSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/expression/TimestampShiftMacroTest.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/segment/QueryableIndexColumnCapabilitiesTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/vector/NilVectorSelectorTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsCastTest.java
  processing/src/test/resources/simple-nested-test-data.json
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
Labels: Bug, Area - Querying, Area - Ingestion

#13741 Robust handling and management of S3 streams for MSQ shuffle storage
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3StorageConnector.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3StorageConnectorTest.java
Labels: Area - MSQ

#13716 Add server view initialization metrics
  benchmarks/src/test/java/org/apache/druid/benchmark/DruidSchemaInternRowSignatureBenchmark.java
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/client/CoordinatorServerView.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClient.java
  server/src/test/java/org/apache/druid/client/BrokerServerViewTest.java
  server/src/test/java/org/apache/druid/client/CoordinatorServerViewTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CuratorDruidCoordinatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidCalciteSchemaModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidSchemaNoDataInitTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentDataCacheConcurrencyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
Labels: Area - Metrics/Event Emitting

#13737 Use an HllSketchHolder object to enable optimized merge
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchBuildVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchHolder.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchHolderObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeComplexMetricSerde.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToEstimatePostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToEstimateWithBoundsPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToStringPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchUnionPostAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchObjectStrategyTest.java
  server/src/test/java/org/apache/druid/segment/realtime/firehose/SqlFirehoseFactoryTest.java
Labels: Performance, Area - Querying

#13746 helm: Stop helm chart from failing if zkHosts is not set
  helm/druid/Chart.yaml
  helm/druid/templates/configmap.yaml
  helm/druid/values.yaml
Labels: Bug, Kubernetes

#13476 Indexing on multiple disks
  docs/configuration/index.md
  docs/ingestion/tasks.md
  examples/conf/druid/auto/indexer/runtime.properties
  examples/conf/druid/auto/middleManager/runtime.properties
  examples/conf/druid/cluster/data/indexer/runtime.properties
  examples/conf/druid/cluster/data/middleManager/runtime.properties
  examples/conf/druid/single-server/large/middleManager/runtime.properties
  examples/conf/druid/single-server/medium/middleManager/runtime.properties
  examples/conf/druid/single-server/micro-quickstart/middleManager/runtime.properties
  examples/conf/druid/single-server/nano-quickstart/middleManager/runtime.properties
  examples/conf/druid/single-server/small/middleManager/runtime.properties
  examples/conf/druid/single-server/xlarge/middleManager/runtime.properties
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskStorageDirTracker.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolboxFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/config/TaskConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionParallelIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/BaseRestorableTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunnerFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ThreadingTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/WorkerTaskManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/WorkerTaskMonitor.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/executor/ExecutorLifecycle.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/executor/ExecutorLifecycleConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/shuffle/LocalIntermediaryDataManager.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskStorageDirTrackerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskToolboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AbstractTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/BatchAppenderatorsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/HadoopTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/RealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ForkingTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ThreadingTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskMonitorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/shuffle/LocalIntermediaryDataManagerAutoCleanupTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/shuffle/LocalIntermediaryDataManagerManualAddAndDeleteTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/shuffle/ShuffleDataSegmentPusherTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/shuffle/ShuffleResourceTest.java
  services/src/main/java/org/apache/druid/cli/CliMiddleManager.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
  services/src/test/java/org/apache/druid/cli/CliPeonTest.java
  website/.spelling
Labels: Performance, Design Review, Area - Ingestion

#13731 Fix infinite iteration in http sync monitoring
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
Labels: Bug, Area - Ingestion

#13760 Allow users to add additional metadata to ingestion metrics
  core/src/main/java/org/apache/druid/java/util/emitter/service/ServiceMetricEvent.java
  core/src/test/java/org/apache/druid/java/util/emitter/service/ServiceMetricEventTest.java
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskRealtimeMetricsMonitorBuilder.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/stats/TaskRealtimeMetricsMonitor.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTaskUtils.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorSpec.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskRealtimeMetricsMonitorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskUtilsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
Labels: Release Notes, Area - Metrics/Event Emitting, Area - Ingestion

#13465 docs: notebook only for SQL tutorial
  examples/quickstart/jupyter-notebooks/sql-tutorial.ipynb
Labels: Area - Documentation

#13779 fix filtering nested field virtual column when used with non nested column input
  processing/src/main/java/org/apache/druid/query/dimension/DefaultDimensionSpec.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/FallbackVirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
Labels: Bug, Area - Querying

#13664 Add missing documentation for constant post-aggregator
  docs/development/extensions-core/datasketches-theta.md
Labels: Area - Documentation

#13789 Remove Travis CI
  .travis.yml
  check_test_suite.py
  check_test_suite_test.py
  distribution/src/assembly/source-assembly.xml
  integration-tests-ex/README.md
  integration-tests-ex/docs/maven.md
  integration-tests-ex/docs/travis.md
  it.sh
Labels: Area - Testing

#13772 Fix GHA tests cache hit miss scenario
  .github/workflows/reusable-revised-its.yml
  .github/workflows/reusable-standard-its.yml
  .github/workflows/reusable-unit-tests.yml
Labels: Area - Testing

#13781 fix array_agg to work with complex types and bugs with expression aggregator complex array handling
  core/src/main/java/org/apache/druid/math/expr/ExprEval.java
  core/src/test/java/org/apache/druid/math/expr/EvalTest.java
  processing/src/main/java/org/apache/druid/segment/column/ObjectStrategyComplexTypeStrategy.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArraySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOrdinalOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying

#13708 Add Perl 5 to druid requirements
  docs/tutorials/index.md
Labels: Area - Documentation

#13797 fix bug with sql planner when virtual column capabilities are null
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/VirtualColumnRegistry.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying

#13655 Better sidecar support
  docs/development/extensions-contrib/k8s-jobs.md
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerConfig.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidKubernetesPeonClient.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/K8sTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/MultiContainerTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/SingleContainerTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/K8sTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/MultiContainerTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedMultiContainerOutputOrder.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/multiContainerPodSpecOrder.yaml
Labels: Kubernetes, Area - Ingestion

#13531 Support prometheus emitter
  helm/druid/README.md
  helm/druid/templates/broker/deployment.yaml
  helm/druid/templates/coordinator/deployment.yaml
  helm/druid/templates/historical/statefulset.yaml
  helm/druid/templates/middleManager/statefulset.yaml
  helm/druid/templates/overlord/deployment.yaml
  helm/druid/templates/router/deployment.yaml
  helm/druid/values.yaml
Labels: Area - Metrics/Event Emitting, Helm Chart

#13776 Better logs for query errors
  core/src/main/java/org/apache/druid/query/QueryException.java
  core/src/test/java/org/apache/druid/query/QueryExceptionTest.java
  processing/src/main/java/org/apache/druid/query/QueryInterruptedException.java
  processing/src/test/java/org/apache/druid/query/QueryInterruptedExceptionTest.java
Labels: Area - Querying

#13800 Fix MySQL drivers setup for Revised ITs
  .github/workflows/reusable-revised-its.yml
  .github/workflows/revised-its.yml
  .github/workflows/unit-and-integration-tests-unified.yml
  integration-tests-ex/cases/pom.xml
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/config/Initializer.java
  integration-tests-ex/image/docker/launch.sh
  integration-tests-ex/image/pom.xml
Labels: Area - Testing

#13783 helm: Fix PDB apiVersion to allow K8s 1.25+ deployment
  helm/druid/Chart.yaml
  helm/druid/templates/_capabilities.tpl
  helm/druid/templates/historical/pdb.yaml
  helm/druid/templates/middleManager/pdb.yaml
Labels: Helm Chart, Kubernetes

#13802 Update Apache Kafka dependencies to 3.4.0
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#13778 Code cleanup & message improvements
  core/src/main/java/org/apache/druid/data/input/impl/CloudObjectInputSource.java
  core/src/main/java/org/apache/druid/data/input/impl/CsvInputFormat.java
  core/src/main/java/org/apache/druid/data/input/impl/DelimitedInputFormat.java
  core/src/main/java/org/apache/druid/data/input/impl/FlatTextInputFormat.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/Granularity.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/IntervalsByGranularity.java
  core/src/main/java/org/apache/druid/java/util/common/granularity/PeriodGranularity.java
  core/src/main/java/org/apache/druid/segment/column/ColumnType.java
  core/src/main/java/org/apache/druid/segment/column/ValueType.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  integration-tests-ex/README.md
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/config/ClusterConfigTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/AbstractCloudInputSourceParallelIndexTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/AbstractGcsInputSourceParallelIndexTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/AbstractITBatchIndexTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/AbstractS3InputSourceParallelIndexTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/ITAzureToAzureParallelIndexTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/ITGcsToGcsParallelIndexTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/ITLocalInputSourceAllFormatSchemalessTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/ITLocalInputSourceAllInputFormatTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/ITS3ToS3ParallelIndexTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITAzureSQLBasedIngestionTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITGcsSQLBasedIngestionTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITKeyStatisticsSketchMergeMode.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITMSQReindexTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITMultiStageQueryWorkerFaultTolerance.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITS3SQLBasedIngestionTest.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/CoordinatorResourceTestClient.java
  it.sh
  processing/src/main/java/org/apache/druid/guice/ExtensionsLoader.java
  processing/src/test/java/org/apache/druid/segment/TestHelper.java
  server/src/main/java/org/apache/druid/guice/DruidInjectorBuilder.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/GranularitySpec.java
  server/src/main/java/org/apache/druid/segment/indexing/granularity/UniformGranularitySpec.java
  server/src/main/java/org/apache/druid/server/RequestLogLine.java
  server/src/main/java/org/apache/druid/server/http/SelfDiscoveryResource.java
  server/src/main/java/org/apache/druid/server/log/FilteredRequestLoggerProvider.java
  server/src/main/java/org/apache/druid/server/security/Authenticator.java
  server/src/main/java/org/apache/druid/server/security/PreResponseAuthorizationCheckFilter.java
  server/src/test/java/org/apache/druid/server/log/DefaultRequestLogEventTest.java
  server/src/test/java/org/apache/druid/server/log/FilteredRequestLoggerTest.java
  server/src/test/java/org/apache/druid/server/log/LoggingRequestLoggerTest.java
  services/src/main/java/org/apache/druid/server/router/QueryHostFinder.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchemaCatalog.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/RootSchemaProvider.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
Labels: Refactoring

#13786 Web console: Fixes query cancel NPE and more
  web-console/script/druid
  web-console/src/components/table-cell/__snapshots__/table-cell.spec.tsx.snap
  web-console/src/components/table-cell/table-cell.scss
  web-console/src/components/table-cell/table-cell.spec.tsx
  web-console/src/components/table-cell/table-cell.tsx
  web-console/src/console-application.tsx
  web-console/src/singletons/api.ts
  web-console/src/utils/types.ts
Labels: Bug, Area - Web Console

#13791 gha: add auto labeler for doc prs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Area - Documentation

#13767 [Docs] Fix a broken link
  docs/ingestion/data-formats.md
Labels: Area - Documentation

#13782 Use K3S instead of minikube for integration tests
  .github/workflows/standard-its.yml
  integration-tests/script/build_run_k8s_cluster.sh
  integration-tests/script/setup_druid_on_k8s.sh
  integration-tests/script/setup_druid_operator_on_k8s.sh
  integration-tests/script/setup_k8s_cluster.sh
  integration-tests/script/stop_k8s_cluster.sh
Labels: Area - Testing

#13777 Information schema now uses numeric column types
  docs/querying/sql-metadata-tables.md
  sql/src/main/java/org/apache/druid/sql/calcite/schema/InformationSchema.java
Labels: Release Notes, Area - SQL

#13516 Speed up composite key joins on IndexedTable.
  processing/src/main/java/org/apache/druid/collections/RangeIntSet.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTable.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcher.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinable.java
  processing/src/main/java/org/apache/druid/segment/join/table/MapIndex.java
  processing/src/main/java/org/apache/druid/segment/join/table/RowBasedIndexBuilder.java
  processing/src/main/java/org/apache/druid/segment/join/table/SortedIntIntersectionIterator.java
  processing/src/main/java/org/apache/druid/segment/join/table/UniqueLongArrayIndex.java
  processing/src/test/java/org/apache/druid/collections/RangeIntSetTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/BroadcastSegmentIndexedTableTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcherTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/RowBasedIndexBuilderTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/RowBasedIndexedTableTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/SortedIntIntersectionIteratorTest.java
Labels: Performance, Area - Querying

#13814 Add option to run standard & revised ITs manually on PRs
  .github/workflows/reusable-revised-its.yml
  .github/workflows/reusable-standard-its.yml
  .github/workflows/revised-its.yml
  .github/workflows/standard-its.yml
  integration-tests/pom.xml
  it.sh
Labels: Area - Testing

#13010 Improve client change counter management in HTTP Server View
  server/src/main/java/org/apache/druid/server/coordination/ChangeRequestHistory.java
  server/src/test/java/org/apache/druid/server/coordination/ChangeRequestHistoryTest.java
Labels: Area - Segment Balancing/Coordination

#13823 fix some intellij inspections in druid-processing
  processing/src/main/java/org/apache/druid/annotations/SuppressFBWarnings.java
  processing/src/main/java/org/apache/druid/data/input/FirehoseFactory.java
  processing/src/main/java/org/apache/druid/data/input/FirehoseFactoryToInputSourceAdaptor.java
  processing/src/main/java/org/apache/druid/data/input/InputFormat.java
  processing/src/main/java/org/apache/druid/indexer/TaskLocation.java
  processing/src/main/java/org/apache/druid/indexer/TaskMetricsGetter.java
  processing/src/main/java/org/apache/druid/java/util/common/DefineClassUtils.java
  processing/src/main/java/org/apache/druid/java/util/common/HumanReadableBytesRange.java
  processing/src/main/java/org/apache/druid/java/util/common/Numbers.java
  processing/src/main/java/org/apache/druid/java/util/common/StringUtils.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequence.java
  processing/src/main/java/org/apache/druid/java/util/common/io/Closer.java
  processing/src/main/java/org/apache/druid/java/util/common/logger/Logger.java
  processing/src/main/java/org/apache/druid/java/util/emitter/core/EventMap.java
  processing/src/main/java/org/apache/druid/java/util/emitter/factory/HttpEmitterFactory.java
  processing/src/main/java/org/apache/druid/java/util/emitter/factory/LoggingEmitterFactory.java
  processing/src/main/java/org/apache/druid/java/util/emitter/factory/NoopEmitterFactory.java
  processing/src/main/java/org/apache/druid/java/util/emitter/factory/ParametrizedUriEmitterFactory.java
  processing/src/main/java/org/apache/druid/java/util/http/client/HttpClientProxyConfig.java
  processing/src/main/java/org/apache/druid/java/util/http/client/response/FullResponseHolder.java
  processing/src/main/java/org/apache/druid/java/util/metrics/AbstractMonitor.java
  processing/src/main/java/org/apache/druid/java/util/metrics/PidDiscoverer.java
  processing/src/main/java/org/apache/druid/java/util/metrics/ProcFsReader.java
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/math/expr/vector/BivariateDoubleFunctionVectorValueProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/BivariateFunctionVectorObjectProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/BivariateLongFunctionVectorValueProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/LongOutObjectInFunctionVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/LongOutObjectsInFunctionVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/ObjectOutMultiObjectInVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/ObjectOutObjectsInFunctionVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/UnivariateDoubleFunctionVectorValueProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/UnivariateFunctionVectorObjectProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/UnivariateLongFunctionVectorValueProcessor.java
  processing/src/main/java/org/apache/druid/metadata/PasswordProviderRedactionMixIn.java
  processing/src/main/java/org/apache/druid/timeline/SegmentId.java
  processing/src/main/java/org/apache/druid/timeline/partition/BuildingSingleDimensionShardSpec.java
  processing/src/main/java/org/apache/druid/timeline/partition/SingleDimensionShardSpec.java
  processing/src/main/java/org/apache/druid/utils/CircularBuffer.java
  processing/src/main/java/org/apache/druid/utils/Runnables.java
Labels: Development Blocker

#13131 Update clean-metadata-store.md
  docs/operations/clean-metadata-store.md
Labels: Area - Documentation

#13669 Generate the IT docker-compose.yaml files
  .gitignore
  docs/development/build.md
  integration-tests-ex/cases/cluster.sh
  integration-tests-ex/cases/cluster/AzureDeepStorage/docker-compose.yaml
  integration-tests-ex/cases/cluster/BatchIndex/docker-compose-indexer.yaml
  integration-tests-ex/cases/cluster/BatchIndex/docker-compose.yaml
  integration-tests-ex/cases/cluster/Common/druid.yaml
  integration-tests-ex/cases/cluster/Common/environment-configs/coordinator.env
  integration-tests-ex/cases/cluster/GcsDeepStorage/docker-compose.yaml
  integration-tests-ex/cases/cluster/HighAvailability/docker-compose.yaml
  integration-tests-ex/cases/cluster/MultiStageQuery/docker-compose.yaml
  integration-tests-ex/cases/cluster/S3DeepStorage/docker-compose.yaml
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/cluster/DruidClusterClient.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/config/ClusterConfig.java
  integration-tests-ex/cases/templates/AzureDeepStorage.py
  integration-tests-ex/cases/templates/BatchIndex.py
  integration-tests-ex/cases/templates/GcsDeepStorage.py
  integration-tests-ex/cases/templates/HighAvailability.py
  integration-tests-ex/cases/templates/MultiStageQuery.py
  integration-tests-ex/cases/templates/S3DeepStorage.py
  integration-tests-ex/cases/templates/template.py
  integration-tests-ex/docs/compose.md
  integration-tests-ex/docs/docker.md
  integration-tests-ex/docs/druid-config.md
  integration-tests-ex/docs/guide.md
  integration-tests-ex/image/build-image.sh
  it.sh
Labels: Area - Documentation, Area - Testing

#13828 Fixup typos in `integration-tests/README.md`
  integration-tests/README.md
Labels: Area - Documentation

#13829 Revert "Operator conversion deny list (#13766)"
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  docs/configuration/index.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerOperatorConfig.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidOperatorTableTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/PlannerOperatorConfigTest.java
Labels: Area - Documentation

#13785 doc: fix unnecessary link
  docs/operations/rule-configuration.md
Labels: Area - Documentation

#13831 Add method SegmentTimeline.addSegments
  processing/src/main/java/org/apache/druid/timeline/SegmentTimeline.java
  processing/src/main/java/org/apache/druid/timeline/VersionedIntervalTimeline.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/MarkAsUnusedOvershadowedSegments.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/TestUsedSegmentChecker.java
Labels: Refactoring

#13825 Fix infinite checkpointing between tasks and overlord
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
Labels: Bug, Area - Streaming Ingestion

#13468 docs: add a link for the Druid SQL tutorial
  docs/tutorials/tutorial-jupyter-index.md
  examples/quickstart/jupyter-notebooks/README.md
Labels: Area - Documentation

#13788 Wire up the catalog resolver
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlVsNativeBenchmark.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CatalogResolver.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerToolbox.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/GroupByRules.java
  sql/src/main/java/org/apache/druid/sql/guice/SqlModule.java
  sql/src/test/java/org/apache/druid/sql/SqlStatementTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/external/ExternalTableScanRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/TrivialTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/DruidCalciteSchemaModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
  sql/src/test/java/org/apache/druid/sql/guice/SqlModuleTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - SQL, Refactoring

#13763 Update default for finalize in query-context.md
  docs/querying/query-context.md
Labels: Area - Documentation

#13838 Remove the additional backtick that's causing build failures.
  docs/tutorials/tutorial-jupyter-index.md
Labels: Area - Documentation

#13303 Hadoop based batch ingestion support range partition
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidDetermineConfigurationJob.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DetermineRangePartitionsJobTest.java
  integration-tests/src/test/java/org/apache/druid/tests/hadoop/ITHadoopIndexTest.java
  processing/src/test/java/org/apache/druid/timeline/partition/DimensionRangeShardSpecTest.java
Labels: Area - Batch Ingestion, Release Notes

#13747 helm: Add serviceAccounts, rbac, and small fixes
  helm/druid/Chart.yaml
  helm/druid/README.md
  helm/druid/templates/_helpers.tpl
  helm/druid/templates/broker/deployment.yaml
  helm/druid/templates/broker/role.yaml
  helm/druid/templates/broker/roleBinding.yaml
  helm/druid/templates/broker/serviceAccount.yaml
  helm/druid/templates/coordinator/deployment.yaml
  helm/druid/templates/coordinator/role.yaml
  helm/druid/templates/coordinator/roleBinding.yaml
  helm/druid/templates/coordinator/serviceAccount.yaml
  helm/druid/templates/historical/role.yaml
  helm/druid/templates/historical/roleBinding.yaml
  helm/druid/templates/historical/serviceAccount.yaml
  helm/druid/templates/historical/statefulset.yaml
  helm/druid/templates/middleManager/role.yaml
  helm/druid/templates/middleManager/roleBinding.yaml
  helm/druid/templates/middleManager/serviceAccount.yaml
  helm/druid/templates/middleManager/statefulset.yaml
  helm/druid/templates/overlord/deployment.yaml
  helm/druid/templates/overlord/role.yaml
  helm/druid/templates/overlord/roleBinding.yaml
  helm/druid/templates/overlord/serviceAccount.yaml
  helm/druid/templates/router/deployment.yaml
  helm/druid/templates/router/role.yaml
  helm/druid/templates/router/roleBinding.yaml
  helm/druid/templates/router/serviceAccount.yaml
  helm/druid/values.yaml
Labels: Helm Chart

#13832 docs: update correct config base on server spec
  docs/tutorials/cluster.md
Labels: Area - Documentation

#13830 Web console: make completions smarter
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.tsx
Labels: Area - Web Console

#13839 update LDAP endpoint
  docs/operations/auth-ldap.md
Labels: Area - Documentation

#13734 Docs: Update name of the metadata tables
  docs/configuration/index.md
  website/.spelling
Labels: Area - Documentation

#13790 Better logging for MSQ worker task
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/worker/WorkerStageKernel.java
Labels: Area - MSQ

#13847 Make leader redirection work when both plainText and TLS ports are set
  server/src/main/java/org/apache/druid/rpc/ServiceClientImpl.java
  server/src/test/java/org/apache/druid/rpc/ServiceClientImplTest.java
Labels: Bug

#13842 Make CompactionSearchPolicy injectable
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/NewestSegmentFirstPolicy.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Design Review, Refactoring, Area - Compaction

#13860 Remove unused imports.
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
Labels: Development Blocker

#13855 Fix flaky BatchIndex IT failures.
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/AbstractITBatchIndexTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/AbstractIndexerTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractIndexerTest.java
Labels: Area - Testing, Flaky test

#13859 Fix NPE in KinesisSupervisor#setupRecordSupplier.
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
Labels: Bug, AWS Kinesis

#13856 Clarify doc of ingest/handoff/time metric
  docs/operations/metrics.md
Labels: Area - Documentation, Area - Metrics/Event Emitting

#13848 Web console: upgrade druid query toolkit to make scan results normalize correctly
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
Labels: Bug, Area - Web Console, Area - Dependencies

#13711 sampler + type detection = bff
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroOCFReader.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroParsers.java
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/AvroStreamReader.java
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcHadoopInputRowParser.java
  extensions-core/orc-extensions/src/main/java/org/apache/druid/data/input/orc/OrcReader.java
  extensions-core/orc-extensions/src/test/java/org/apache/druid/data/input/orc/OrcReaderTest.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/ParquetReader.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/avro/ParquetAvroHadoopInputRowParser.java
  extensions-core/parquet-extensions/src/main/java/org/apache/druid/data/input/parquet/simple/ParquetHadoopInputRowParser.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/NestedColumnParquetReaderTest.java
  extensions-core/protobuf-extensions/src/main/java/org/apache/druid/data/input/protobuf/ProtobufReader.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputFormatTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/InputSourceSampler.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/CsvInputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/IndexTaskSamplerSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/SamplerResponseTest.java
  integration-tests-ex/cases/src/test/resources/indexer/wikipedia_local_input_source_index_task_schemaless.json
  processing/src/main/java/org/apache/druid/data/input/impl/DimensionSchema.java
  processing/src/main/java/org/apache/druid/data/input/impl/DimensionsSpec.java
  processing/src/main/java/org/apache/druid/data/input/impl/JsonLineReader.java
  processing/src/main/java/org/apache/druid/data/input/impl/JsonNodeReader.java
  processing/src/main/java/org/apache/druid/data/input/impl/JsonReader.java
  processing/src/main/java/org/apache/druid/guice/NestedDataModule.java
  processing/src/main/java/org/apache/druid/java/util/common/parsers/ObjectFlatteners.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerTest.java
  processing/src/test/resources/types-test-data-parser.json
  server/src/main/java/org/apache/druid/client/indexing/SamplerResponse.java
  server/src/test/java/org/apache/druid/client/indexing/HttpIndexingServiceClientTest.java
Labels: Release Notes, Area - Ingestion

#13858 Update kubernetes.md
  docs/operations/kubernetes.md
Labels: Area - Documentation
