Repository apache/druid, pull requests merged in 2023-05, with the labels that each got.

#14170 Preference to fist worker error in-case job fails with `TooManyAttempts`/`TooManyAttemptsForJob`
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/MSQTasks.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQTasksTest.java
Labels: Bug, Area - MSQ

#14179 [Backport] remove unneeded TaskLogStreamer binding override
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/K8sOverlordModule.java
Labels: Backport

#14193 [Backport] Register emitter to logger to avoid unit test failures
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
Labels: Backport

#14117 Fix memory calculations for WorkerMemoryParameters for machines with relatively less heap space
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerMemoryParameters.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerMemoryParametersTest.java
Labels: Area - MSQ

#14191 [Backport] TimeBoundary: Use cursor when datasource is not a regular table.
  processing/src/main/java/org/apache/druid/query/timeboundary/TimeBoundaryQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/segment/StorageAdapter.java
  processing/src/test/java/org/apache/druid/query/timeboundary/TimeBoundaryQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteTimeBoundaryQueryTest.java
Labels: Backport

#14172 `TaskStartTimeoutFault` not depends on the last successful worker launch time.
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TaskStartTimeoutFault.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQTasksTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
Labels: Area - Documentation, Area - MSQ

#14189 Web console: allow stringly schemas in the data loader
  web-console/src/druid-models/execution/execution.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/views/load-data-view/info-messages.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Web Console

#14203 [Backport] Web console: allow stringly schemas in the data loader (#14189)
  web-console/src/druid-models/execution/execution.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/views/load-data-view/info-messages.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Backport, Area - Web Console

#14183 Fix uncaught `ParseException` when reading Avro from Kafka
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoder.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/StreamChunkParser.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/StreamChunkParserTest.java
Labels: Bug

#14208 restore .idea/misc.xml to see if it fixes intellij inspection ci
  .idea/misc.xml
Labels: Development Blocker, Area - Automation/Static Analysis

#14212 [Backport] Fix uncaught `ParseException` when reading Avro from Kafka (#14183)
  extensions-core/avro-extensions/src/main/java/org/apache/druid/data/input/avro/SchemaRegistryBasedAvroBytesDecoder.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/StreamChunkParser.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/StreamChunkParserTest.java
Labels: Bug, Backport

#14210 Remove the redundant ISO-8601 text in the readme.
  docs/operations/rule-configuration.md
Labels: Area - Documentation

#14211 remove helm chart from release branch, again
  README.md
  helm/druid/Chart.yaml
  helm/druid/README.md
  helm/druid/templates/NOTES.txt
  helm/druid/templates/_capabilities.tpl
  helm/druid/templates/_helpers.tpl
  helm/druid/templates/broker/deployment.yaml
  helm/druid/templates/broker/ingress.yaml
  helm/druid/templates/broker/role.yaml
  helm/druid/templates/broker/roleBinding.yaml
  helm/druid/templates/broker/service.yaml
  helm/druid/templates/broker/serviceAccount.yaml
  helm/druid/templates/configmap.yaml
  helm/druid/templates/coordinator/deployment.yaml
  helm/druid/templates/coordinator/ingress.yaml
  helm/druid/templates/coordinator/role.yaml
  helm/druid/templates/coordinator/roleBinding.yaml
  helm/druid/templates/coordinator/service.yaml
  helm/druid/templates/coordinator/serviceAccount.yaml
  helm/druid/templates/historical/ingress.yaml
  helm/druid/templates/historical/pdb.yaml
  helm/druid/templates/historical/role.yaml
  helm/druid/templates/historical/roleBinding.yaml
  helm/druid/templates/historical/service.yaml
  helm/druid/templates/historical/serviceAccount.yaml
  helm/druid/templates/historical/statefulset.yaml
  helm/druid/templates/middleManager/hpa.yaml
  helm/druid/templates/middleManager/ingress.yaml
  helm/druid/templates/middleManager/pdb.yaml
  helm/druid/templates/middleManager/role.yaml
  helm/druid/templates/middleManager/roleBinding.yaml
  helm/druid/templates/middleManager/service.yaml
  helm/druid/templates/middleManager/serviceAccount.yaml
  helm/druid/templates/middleManager/statefulset.yaml
  helm/druid/templates/overlord/deployment.yaml
  helm/druid/templates/overlord/ingress.yaml
  helm/druid/templates/overlord/role.yaml
  helm/druid/templates/overlord/roleBinding.yaml
  helm/druid/templates/overlord/service.yaml
  helm/druid/templates/overlord/serviceAccount.yaml
  helm/druid/templates/router/deployment.yaml
  helm/druid/templates/router/ingress.yaml
  helm/druid/templates/router/role.yaml
  helm/druid/templates/router/roleBinding.yaml
  helm/druid/templates/router/service.yaml
  helm/druid/templates/router/serviceAccount.yaml
  helm/druid/templates/secrets.yaml
  helm/druid/values.yaml
Labels: Apache

#14216 Web console: misc bug fixes
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/react-table/react-table-pagination/react-table-pagination.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/__snapshots__/load-data-view.spec.tsx.snap
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
Labels: Bug, Area - Web Console

#14217 [Backport] Web console: misc bug fixes (#14216)
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/react-table/react-table-pagination/react-table-pagination.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/__snapshots__/load-data-view.spec.tsx.snap
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
Labels: Bug, Backport, Area - Web Console

#14205 Add labels to k8s jobs for the PodTemplateTaskAdapter
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidK8sConstants.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/PodTemplateTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJob.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobTlsEnabled.yaml
Labels: Kubernetes

#14220 Fix planning in CASE expressions with complex WHEN and ELSE expressions
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CaseOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying

#14184 modify QueryScheduler to lazily acquire lanes when executing queries to avoid leaks
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  server/src/main/java/org/apache/druid/server/QueryScheduler.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
Labels: Bug, Area - Querying

#14224 Web console: account for auto allowing for leading and trailing spaces
  web-console/src/druid-models/time/time.ts
  web-console/src/helpers/__snapshots__/spec-conversion.spec.ts.snap
  web-console/src/helpers/spec-conversion.ts
  web-console/src/utils/sql.ts
Labels: Bug, Area - Web Console

#14222 [Backport] Fix planning in CASE expressions with complex WHEN and ELSE expressions (#14220)
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CaseOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Backport

#14227 [Backport] account for auto allowing for leading and trailing spaces (#14224)
  web-console/src/druid-models/time/time.ts
  web-console/src/helpers/__snapshots__/spec-conversion.spec.ts.snap
  web-console/src/helpers/spec-conversion.ts
  web-console/src/utils/sql.ts
Labels: Bug, Backport, Area - Web Console

#14197 update documentation about multiValueHandling
  docs/ingestion/ingestion-spec.md
Labels: Area - Documentation

#14233 Update default values in docs
  docs/configuration/index.md
Labels: Area - Documentation

#14175 add context flag "useAutoColumnSchemas" to use new auto types for MSQ segment generation
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/external/ExternalInputSliceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/DimensionSchemaUtils.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
Labels: Area - MSQ

#14241 suppress some cves and fix javadoc build when using java 17
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/BucketingAccumulator.java
  owasp-dependency-check-suppressions.xml
  processing/src/main/java/org/apache/druid/java/util/common/guava/ConcatSequence.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/LimitedSequence.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/MergeSequence.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequence.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/Yielders.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryLimitRowIterator.java
Labels: Security, Area - Dev

#14251 [Backport] suppress some cves and fix javadoc build when using java 17
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/BucketingAccumulator.java
  owasp-dependency-check-suppressions.xml
  processing/src/main/java/org/apache/druid/java/util/common/guava/ConcatSequence.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/LimitedSequence.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/MergeSequence.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequence.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/Yielders.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryLimitRowIterator.java
Labels: Backport

#14250 fix npe regression in json_value when filtering non-existent paths
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
Labels: Bug, Area - Querying

#14238 Fix the stale bot to use GHA action
  .github/stale.yml
  .github/workflows/stale.yml
Labels: Area - Dev

#14252 suppress hadoop3 cve that seem not applicable to us
  indexing-service/src/main/java/org/apache/druid/indexing/common/config/TaskConfig.java
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Security, Area - Dev

#14223 Do not allow retention rules to be null
  processing/src/main/java/org/apache/druid/audit/AuditInfo.java
  processing/src/test/java/org/apache/druid/audit/AuditInfoTest.java
  server/src/main/java/org/apache/druid/metadata/MetadataRuleManagerConfig.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataRuleManager.java
  server/src/main/java/org/apache/druid/server/http/RulesResource.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataRuleManagerTest.java
  server/src/test/java/org/apache/druid/server/audit/SQLAuditManagerTest.java
Labels: Area - Segment Balancing/Coordination, Error handling

#14254 [Backport] fix npe regression in json_value when filtering non-existent paths
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
Labels: Backport

#14255 [Backport] suppress hadoop3 cve that seem not applicable to us (#14252)
  indexing-service/src/main/java/org/apache/druid/indexing/common/config/TaskConfig.java
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Backport

#14012 docs: copyedits for MSQ join algos
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

#14231 Docs: Minor rephrase in indexing-service.md
  docs/design/indexing-service.md
Labels: Area - Documentation

#14262 fix segment metadata queries for auto ingested columns that had all null values
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
  processing/src/test/java/org/apache/druid/segment/TestHelper.java
Labels: Bug

#14263 [Backport] fix segment metadata queries for auto ingested columns that had all null values (#14262)
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
  processing/src/test/java/org/apache/druid/segment/TestHelper.java
Labels: Backport

#14264 [Backport] suppress CVE-2021-40331 since it applies to ranger-hive-plugin which afaict we do not use (#14261)
  owasp-dependency-check-suppressions.xml
Labels: Backport

#14261 suppress CVE-2021-40331 since it applies to ranger-hive-plugin which afaict we do not use
  owasp-dependency-check-suppressions.xml
Labels: Security

#14091 Fix jdk setup in GHA
  .github/workflows/reusable-revised-its.yml
  .github/workflows/reusable-standard-its.yml
  .github/workflows/reusable-unit-tests.yml
  .github/workflows/static-checks.yml
  .github/workflows/unit-and-integration-tests-unified.yml
Labels: Area - Dev

#14267 Tune stale bot to pick older issues/PRs first
  .github/workflows/stale.yml
Labels: Area - Dev

#14111 docs: fix links
  docs/design/historical.md
  docs/development/extensions-contrib/compressed-big-decimal.md
  docs/development/extensions-core/datasketches-hll.md
  docs/development/extensions-core/druid-basic-security.md
  docs/development/extensions-core/s3.md
  docs/ingestion/ingestion-spec.md
  docs/multi-stage-query/reference.md
  docs/querying/caching.md
  docs/tutorials/docker.md
Labels: Area - Documentation

#14214 Update heap size of services in docker IT environment
  integration-tests/docker/environment-configs/coordinator
  integration-tests/docker/environment-configs/overlord
Labels: Area - Testing

#14272 doc: fix unnest datasource syntax
  docs/querying/datasource.md
Labels: Area - Documentation

#14239 Be able to load segments on Peons
  docs/configuration/index.md
  docs/ingestion/tasks.md
  docs/multi-stage-query/reference.md
  extensions-contrib/dropwizard-emitter/src/test/java/org/apache/druid/emitter/dropwizard/DropwizardEmitterConfigTest.java
  extensions-core/mysql-metadata-storage/src/test/java/org/apache/druid/metadata/storage/mysql/MySQLMetadataStorageModuleTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskStorageDirTracker.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolboxFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/config/TaskConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/BaseRestorableTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ThreadingTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskStorageDirTrackerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ForkingTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TestTaskToolboxFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ThreadingTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/config/RemoteTaskRunnerConfigTest.java
  indexing-service/src/test/java/org/apache/druid/server/initialization/IndexerZkConfigTest.java
  processing/src/main/java/org/apache/druid/guice/JsonConfigProvider.java
  processing/src/main/java/org/apache/druid/guice/ProviderBasedGoogleSupplierProvider.java
  processing/src/main/java/org/apache/druid/segment/column/StringValueSetIndex.java
  processing/src/test/java/org/apache/druid/query/DefaultQueryConfigTest.java
  server/src/main/java/org/apache/druid/indexing/worker/config/WorkerConfig.java
  server/src/main/java/org/apache/druid/server/initialization/AuthenticatorMapperModule.java
  server/src/main/java/org/apache/druid/server/initialization/AuthorizerMapperModule.java
  server/src/test/java/org/apache/druid/client/cache/CacheConfigTest.java
  server/src/test/java/org/apache/druid/client/cache/CaffeineCacheTest.java
  server/src/test/java/org/apache/druid/curator/CuratorConfigTest.java
  server/src/test/java/org/apache/druid/guice/JsonConfigTesterBase.java
  server/src/test/java/org/apache/druid/guice/JsonConfigTesterBaseTest.java
  server/src/test/java/org/apache/druid/guice/security/DruidAuthModuleTest.java
  server/src/test/java/org/apache/druid/indexing/worker/config/WorkerConfigTest.java
  server/src/test/java/org/apache/druid/initialization/ZkPathsConfigTest.java
  server/src/test/java/org/apache/druid/query/lookup/LookupListeningAnnouncerConfigTest.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
  server/src/test/java/org/apache/druid/server/log/LoggingRequestLoggerProviderTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
  sql/src/test/java/org/apache/druid/sql/avatica/AvaticaModuleTest.java
  website/.spelling
Labels: Area - Documentation

#14273 [Backport] Update default values in docs (#14233)
  docs/configuration/index.md
Labels: Area - Documentation, Backport

#14257 Configure maxBytesPerWorker directly instead of using StageDefinition
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/StageDefinition.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/StageDefinitionBuilder.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/WorkerAssignmentStrategy.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/ControllerQueryKernel.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/ControllerStageTracker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/WorkerInputs.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/StageDefinitionTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/controller/BaseControllerQueryKernelTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/controller/WorkerInputsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
  extensions-core/multi-stage-query/src/test/resources/multipleFiles/wikipedia-sampled-1.json
  extensions-core/multi-stage-query/src/test/resources/multipleFiles/wikipedia-sampled-2.json
  extensions-core/multi-stage-query/src/test/resources/multipleFiles/wikipedia-sampled-3.json
Labels: Area - MSQ

#13877 Extend the IT framework to allow tests in extensions
  integration-tests-ex/cases/cluster.sh
  integration-tests-ex/cases/cluster/AzureDeepStorage/docker-compose.py
  integration-tests-ex/cases/cluster/AzureDeepStorage/verify.sh
  integration-tests-ex/cases/cluster/BatchIndex/docker-compose.py
  integration-tests-ex/cases/cluster/Common/dependencies.yaml
  integration-tests-ex/cases/cluster/GcsDeepStorage/docker-compose.py
  integration-tests-ex/cases/cluster/GcsDeepStorage/verify.sh
  integration-tests-ex/cases/cluster/HighAvailability/docker-compose.py
  integration-tests-ex/cases/cluster/MultiStageQuery/docker-compose.py
  integration-tests-ex/cases/cluster/S3DeepStorage/docker-compose.py
  integration-tests-ex/cases/cluster/S3DeepStorage/verify.sh
  integration-tests-ex/cases/cluster/template.py
  integration-tests-ex/docs/compose.md
  integration-tests-ex/docs/docker.md
  integration-tests-ex/image/docker/launch.sh
  it.sh
  server/src/main/java/org/apache/druid/server/QueryResultPusher.java
  services/src/main/java/org/apache/druid/cli/PullDependencies.java
  sql/pom.xml
Labels: Area - Testing

#14132 202304-docs-removeDF
  docs/ingestion/faq.md
Labels: Area - Documentation

#13984 Docs: Tutorial for streaming ingestion using Kafka + Docker file to use with Jupyter tutorials
  .gitignore
  docs/tutorials/tutorial-jupyter-docker.md
  docs/tutorials/tutorial-jupyter-index.md
  examples/quickstart/jupyter-notebooks/0-START-HERE.ipynb
  examples/quickstart/jupyter-notebooks/Dockerfile
  examples/quickstart/jupyter-notebooks/README.md
  examples/quickstart/jupyter-notebooks/docker-jupyter/README.md
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose-local.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/environment
  examples/quickstart/jupyter-notebooks/docker-jupyter/kafka_docker_config.json
  examples/quickstart/jupyter-notebooks/docker-jupyter/tutorial-jupyter-docker.zip
  examples/quickstart/jupyter-notebooks/kafka-tutorial.ipynb
  website/sidebars.json
Labels: Area - Documentation

#14270 Fix condition for timeout in worker task launcher
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TaskStartTimeoutFault.java
Labels: Area - Documentation

#14297 fix issues with handling arrays with all null elements and arrays of booleans in strict mode
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexAdapter.java
  processing/src/test/java/org/apache/druid/math/expr/EvalTest.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/resources/nested-array-test-data-2.json
Labels: Bug, Area - Segment Format and Ser/De

#14065 docs: add docs for schema auto-discovery
  docs/configuration/index.md
  docs/ingestion/ingestion-spec.md
  docs/ingestion/schema-design.md
  docs/ingestion/tasks.md
  website/.spelling
Labels: Area - Documentation

#14275 Website: remove website node-sass dep to make it work on M1 macs
  website/package-lock.json
  website/package.json
  website/static/css/custom.css
Labels: Area - Dev, Dev Productivity

#14296 more resilient segment metadata, dont parallel merge internal segment metadata queries
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/ColumnAnalysis.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
  processing/src/test/java/org/apache/druid/query/metadata/metadata/ColumnAnalysisTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
Labels: Bug, Area - SQL

#14300 [Backport] fix issues with handling arrays with all null elements and arrays of booleans in strict mode
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexAdapter.java
  processing/src/test/java/org/apache/druid/math/expr/EvalTest.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/resources/nested-array-test-data-2.json
Labels: Backport

#14302 [Backport] Fixing an issue with filtering on a single dimension by converting In…
  processing/src/main/java/org/apache/druid/segment/join/JoinableFactoryWrapper.java
  processing/src/test/java/org/apache/druid/segment/join/JoinableFactoryWrapperTest.java
Labels: Backport

#14304 [Backport] more resilient segment metadata, dont parallel merge internal segment metadata queries
  processing/src/main/java/org/apache/druid/query/metadata/SegmentAnalyzer.java
  processing/src/main/java/org/apache/druid/query/metadata/metadata/ColumnAnalysis.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalyzerTest.java
  processing/src/test/java/org/apache/druid/query/metadata/metadata/ColumnAnalysisTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
Labels: Backport

#14299 update NOTICE year, update kafka notice in licenses.yaml
  NOTICE
  licenses.yaml
Labels: Apache

#14305 [Backport] update NOTICE year, update kafka notice in licenses.yaml
  NOTICE
  licenses.yaml
Labels: Backport

#14268 streamline release process docs
  distribution/asf-release-process-guide.md
Labels: Area - Dev

#14303 add website to java ci ignore
  .github/labeler.yml
  .github/workflows/unit-and-integration-tests-unified.yml
Labels: Area - Testing, Area - Automation/Static Analysis

#14295 update tutorials to use clarify druid host location for Docker Compose + Druid version
  examples/quickstart/jupyter-notebooks/0-START-HERE.ipynb
  examples/quickstart/jupyter-notebooks/Python_API_Tutorial.ipynb
  examples/quickstart/jupyter-notebooks/api-tutorial.ipynb
  examples/quickstart/jupyter-notebooks/kafka-tutorial.ipynb
  examples/quickstart/jupyter-notebooks/sql-tutorial.ipynb
Labels: Area - Documentation

#14283 Fixup data deletion tutorial docs
  docs/assets/tutorial-deletion-01.png
  docs/assets/tutorial-deletion-02.png
  docs/assets/tutorial-deletion-03.png
  docs/operations/api-reference.md
  docs/tutorials/tutorial-delete-data.md
  examples/quickstart/tutorial/deletion-disable-segments.json
Labels: Area - Documentation

#14306 Add `examples/` to CI UT/IT ignore
  .github/workflows/unit-and-integration-tests-unified.yml
Labels: Area - Testing, Area - Automation/Static Analysis

#14308 Docs: Update Docker profile and fix method call in `druidapi` tutorial
  examples/quickstart/jupyter-notebooks/Python_API_Tutorial.ipynb
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose-local.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/tutorial-jupyter-docker.zip
Labels: Area - Documentation

#14282 Fix labels
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/K8sTaskId.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesOverlordUtils.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesOverlordUtilsTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobLongIds.yaml
Labels: Area - Extension, Kubernetes

#13813 Revert PreResponseAuthorizationCheckFilter
  server/src/main/java/org/apache/druid/server/security/PreResponseAuthorizationCheckFilter.java
  server/src/test/java/org/apache/druid/server/http/security/PreResponseAuthorizationCheckFilterTest.java
Labels: HTTP, stale

#14311 Web console: don't show merged stats until needed
  web-console/src/views/workbench-view/execution-stages-pane/execution-stages-pane.tsx
Labels: Bug, Area - Web Console

#14114 docs: add line about write datasource perm for overlord api
  docs/multi-stage-query/security.md
Labels: Area - Documentation

#14324 fixed wording in OSS query laning doc
  docs/configuration/index.md
Labels: Area - Documentation

#14328 [Backport] doc: fix unnest datasource syntax (#14272)
  docs/querying/datasource.md
Labels: Area - Documentation, Backport

#14289 [Backport] Docs: Tutorial for streaming ingestion using Kafka + Docker file to u…
  .gitignore
  docs/tutorials/tutorial-jupyter-docker.md
  docs/tutorials/tutorial-jupyter-index.md
  examples/quickstart/jupyter-notebooks/0-START-HERE.ipynb
  examples/quickstart/jupyter-notebooks/Dockerfile
  examples/quickstart/jupyter-notebooks/README.md
  examples/quickstart/jupyter-notebooks/docker-jupyter/README.md
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose-local.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/docker-compose.yaml
  examples/quickstart/jupyter-notebooks/docker-jupyter/environment
  examples/quickstart/jupyter-notebooks/docker-jupyter/kafka_docker_config.json
  examples/quickstart/jupyter-notebooks/docker-jupyter/tutorial-jupyter-docker.zip
  examples/quickstart/jupyter-notebooks/kafka-tutorial.ipynb
  website/sidebars.json
Labels: Area - Documentation, Backport

#14316 Doc: List supported values for Kafka `headerFormat`
  docs/development/extensions-core/kafka-ingestion.md
  website/.spelling
Labels: Area - Documentation

#14317 Add `TYPE_NAME` to the complex serde classes and replace the hardcoded names.
  benchmarks/src/test/java/org/apache/druid/benchmark/FilterPartitionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/FilteredAggregatorBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/GroupByTypeInterfaceBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/TopNTypeInterfaceBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/IncrementalIndexReadBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/IndexIngestionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/IndexMergeBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/IndexPersistBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/GroupByBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/ScanBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SearchBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/TimeseriesBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/TopNBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/timecompare/TimeCompareBenchmark.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramDruidModule.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramFoldingSerde.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/stats/DruidStatsModule.java
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceSerde.java
  processing/src/main/java/org/apache/druid/jackson/AggregatorsModule.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/HyperUniquesSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/hyperloglog/PreComputedHyperUniquesSerde.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWriterTest.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWritersTest.java
  processing/src/test/java/org/apache/druid/segment/SchemalessIndexTest.java
  processing/src/test/java/org/apache/druid/segment/TestIndex.java
  processing/src/test/java/org/apache/druid/segment/generator/SegmentGenerator.java
  processing/src/test/java/org/apache/druid/segment/serde/ComplexMetricsTest.java
Labels: Refactoring

#14323 Return `RESOURCES` in `EXPLAIN PLAN` as an ordered collection
  docs/querying/sql-translation.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
Labels: Area - Documentation

#14287 Expr getCacheKey now delegates to children
  processing/src/main/java/org/apache/druid/math/expr/Expr.java
  processing/src/main/java/org/apache/druid/math/expr/Exprs.java
  processing/src/main/java/org/apache/druid/query/expression/LookupExprMacro.java
  server/src/test/java/org/apache/druid/query/expression/LookupExprMacroTest.java
Labels: Bug, Area - Querying

#14319 add configurable ColumnTypeMergePolicy to SegmentMetadataCache
  docs/configuration/index.md
  processing/src/main/java/org/apache/druid/math/expr/ExpressionTypeConversion.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnType.java
  processing/src/main/java/org/apache/druid/segment/column/Types.java
  processing/src/test/java/org/apache/druid/segment/column/ColumnTypeTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModule.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/SegmentMetadataCacheConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/SegmentMetadataCacheConfigTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
Labels: Area - Documentation, Area - SQL

#14318 Web console: update DQT to latest version and fix bigint crash
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/json-collapse/json-collapse.tsx
  web-console/src/dialogs/spec-dialog/spec-dialog.tsx
  web-console/src/utils/general.spec.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/object-change.spec.ts
  web-console/src/views/load-data-view/filter-table/filter-table.tsx
  web-console/src/views/load-data-view/parse-time-table/parse-time-table.tsx
  web-console/src/views/load-data-view/schema-table/schema-table.tsx
  web-console/src/views/load-data-view/transform-table/transform-table.tsx
  web-console/src/views/workbench-view/execution-submit-dialog/execution-submit-dialog.tsx
Labels: Bug, Area - Web Console

#14337 Fix regression in batch segment allocation
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocateRequest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocateActionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueueTest.java
Labels: Bug, Area - Ingestion

#14342 MSQ should ignore tombstone segments while querying over them.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/table/TableInputSpecSlicer.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/table/TableInputSpecSlicerTest.java
Labels: Bug, Area - MSQ

#14334 use the latest datasketches-java-4.0.0
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToHistogramPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToRankPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToHistogramPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToRankPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchMergeVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToHistogramPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToQuantilePostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToRankPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolder.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/theta/SketchSetPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchSetOpPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/sql/ArrayOfDoublesSketchSetBaseOperatorConversion.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/sql/ArrayOfDoublesSketchSqlAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchObjectStrategyTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchComplexMetricSerdeTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToCDFPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToRankPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchComplexMetricSerdeTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToCDFPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToRankPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchComplexMetricSerdeTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToCDFPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToRankPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchAggregationTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolderObjectStrategyTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchHolderTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchSetPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchToStringPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchAggregationTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/QuantilesSketchKeyCollector.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/QuantilesSketchKeyCollectorFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/ArrayOfStringTuplesSerDe.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/ArrayOfStringsNullSafeSerde.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/StringSketch.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/StringSketchMerger.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/distribution/StringSketchTest.java
  licenses.yaml
  pom.xml
Labels: Release Notes, Area - Dependencies

#14345 Update heap size of MiddleManager service in docker IT environment
  integration-tests/docker/environment-configs/middlemanager
Labels: Area - Testing

#14269 Update default values in CoordinatorDynamicConfig
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
Labels: Area - Documentation, Area - Segment Balancing/Coordination

#14230 Add tests for CostBalancerStrategy
  server/src/test/java/org/apache/druid/server/coordinator/CostBalancerStrategyBenchmark.java
  server/src/test/java/org/apache/druid/server/coordinator/CostBalancerStrategyTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CreateDataSegments.java
Labels: Area - Testing, Area - Segment Balancing/Coordination

#14341 Advise against using WEEK granularity for Native Batch and MSQ
  docs/ingestion/ingestion-spec.md
  docs/multi-stage-query/reference.md
  docs/querying/granularities.md
Labels: Area - Documentation

#14340 fixes dataSourceName varaible ref
  examples/quickstart/jupyter-notebooks/sql-tutorial.ipynb
Labels: Area - Documentation

#14332 doc: fix broken link
  docs/tutorials/tutorial-jupyter-index.md
Labels: Area - Documentation

#14161 docs: remove the note about segments
  docs/querying/sql-data-types.md
Labels: Area - Documentation
