Repository apache/druid, pull requests merged in 2023-09, with the labels that each got.

#14923 Remove deprecated coordinator dynamic configs
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/TierSegmentBalancer.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/ReplicationThrottler.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/StrategicSegmentAssigner.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/BalanceSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/RunRulesTest.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/ReplicationThrottlerTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.mock.ts
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
Labels: Area - Documentation, Area - Segment Balancing/Coordination

#14353 Add checking for new checkpoint
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Bug, Area - Streaming Ingestion

#14938 Refactor: Cleanup NoopTask
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesWorkItemTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/K8sTestUtils.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/MultiContainerTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/SingleContainerTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJob.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobLongIds.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobTlsEnabled.yaml
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/NoopTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RemoteTaskActionClientTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AbstractTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/NoopTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexPhaseRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/TaskMonitorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/HeapMemoryTaskStorageTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageAdapterTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockBoxConcurrencyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueScaleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ZkWorkerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/WorkerHolderTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWithAffinityWorkerSelectStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWithCategorySpecWorkerSelectStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWorkerSelectStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/FillCapacityWithAffinityWorkerSelectStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/FillCapacityWithCategorySpecWorkerSelectStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskManagerTest.java
Labels: Area - Testing, Refactoring

#14939 Verify statsd mock client calls in unit test
  extensions-contrib/statsd-emitter/src/test/java/org/apache/druid/emitter/statsd/StatsDEmitterTest.java
Labels: Area - Testing, Area - Metrics/Event Emitting

#14922 Query tips doc
  docs/querying/tips-good-queries.md
  website/sidebars.json
Labels: Area - Documentation

#14928 fixup array and mvd sql docs
  docs/querying/sql-array-functions.md
  docs/querying/sql-multivalue-string-functions.md
Labels: Area - Documentation

#14322 Add code to wait for segments generated to be loaded on historicals
  docs/api-reference/sql-ingestion-api.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/SegmentLoadWaiter.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQStatusReport.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/SegmentLoadWaiterTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  server/src/main/java/org/apache/druid/discovery/BrokerClient.java
  server/src/main/java/org/apache/druid/discovery/ClientUtils.java
  server/src/main/java/org/apache/druid/discovery/DruidLeaderClient.java
  server/src/test/java/org/apache/druid/discovery/BrokerClientTest.java
  server/src/test/java/org/apache/druid/discovery/DruidLeaderClientTest.java
  website/.spelling
Labels: Area - Documentation, Needs web console change

#14808 Auto configuration for maxSubqueryBytes
  docs/configuration/index.md
  docs/operations/metrics.md
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  server/src/main/java/org/apache/druid/query/lookup/LookupReferencesManager.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/SubqueryGuardrailHelper.java
  server/src/main/java/org/apache/druid/server/initialization/ServerConfig.java
  server/src/main/java/org/apache/druid/server/metrics/SubqueryCountStatsMonitor.java
  server/src/main/java/org/apache/druid/server/metrics/SubqueryCountStatsProvider.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  server/src/test/java/org/apache/druid/server/SubqueryGuardrailHelperTest.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Documentation, Area - Querying, Area - Operations

#14947 Fix bug in computed value of balancerComputeThreads
  server/src/main/java/org/apache/druid/server/coordinator/duty/PrepareBalancerAndLoadQueues.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentLoadingConfig.java
Labels: Bug, Area - Segment Balancing/Coordination

#14912 Updated documentation for OshiSysMonitor
  dev/druid_intellij_formatting.xml
  docs/operations/metrics.md
  website/.spelling
Labels: Area - Documentation

#14907 Fix StringLastAggregatorFactory equals/toString
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregatorFactory.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSimpleQueryTest.java
Labels: Bug, Area - Querying

#14864 docs: update docusaurus 2 stuff
  docs/api-reference/dynamic-configuration-api.md
  website/package-lock.json
  website/package.json
Labels: Area - Documentation

#14957 use VectorValueSelector instead of BaseLongVectorValueSelector for StringFirstAggregatorFactory.factorizeVector
  processing/src/main/java/org/apache/druid/query/aggregation/first/SingleStringFirstDimensionVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstVectorAggregator.java
Labels: Bug, Area - Querying, Development Blocker

#14414 Update google client apis to latest version
  integration-tests-ex/cases/pom.xml
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Area - Dependencies

#14961 Fix bug in KillStalePendingSegments
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillStalePendingSegments.java
Labels: Bug

#14918 Mixed task runner for migration to mm-less ingestion
  docs/development/extensions-contrib/k8s-jobs.md
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesAndWorkerTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesAndWorkerTaskRunnerConfig.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesAndWorkerTaskRunnerFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesAndWorkerTaskRunnerConfigTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesAndWorkerTaskRunnerFactoryTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesAndWorkerTaskRunnerTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/kubernetesAndWorkerTaskRunnerConfig.json
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskRunner.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
  services/src/test/java/org/apache/druid/cli/CliPeonTest.java
Labels: Area - Documentation, Kubernetes, Area - Ingestion

#14959 Set task location as k8sPodName for mm-less ingestion
  processing/src/main/java/org/apache/druid/indexer/TaskLocation.java
  processing/src/test/java/org/apache/druid/indexer/TaskLocationTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
Labels: Area - Querying, Area - Ingestion

#14948 fix issue with segment metadata cache and complex types when doing out of order upgrades from 0.22
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SegmentMetadataCacheTest.java
Labels: Bug

#14963 Tweak GHA runner label
  .github/labeler.yml
Labels: Area - Dev

#14748 Count distinct returned incorrect results without useApproximateCountDistinct
  processing/src/main/java/org/apache/druid/java/util/common/granularity/Granularity.java
  processing/src/main/java/org/apache/druid/java/util/common/guava/Sequences.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupingEngine.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Area - Querying

#14955 longer compatibility window for nested column format v4
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/SamplerResponseTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/DimensionSchema.java
  processing/src/main/java/org/apache/druid/guice/NestedDataModule.java
  processing/src/main/java/org/apache/druid/segment/DefaultColumnFormatConfig.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnHandlerV4.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnIndexerV4.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnMergerV4.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnSchema.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexAdapter.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializerV4.java
  processing/src/test/java/org/apache/druid/guice/NestedDataModuleTest.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/segment/DefaultColumnFormatsConfigTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerV4Test.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnSchemaTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierV4Test.java
  server/src/main/java/org/apache/druid/guice/StorageNodeModule.java
  services/src/test/java/org/apache/druid/cli/DumpSegmentTest.java
  services/src/test/resources/nested-test-aggs.json
  services/src/test/resources/nested-test-parser.json
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
Labels: Area - Querying, Release Notes, Area - Segment Format and Ser/De, Area - Ingestion

#14954 Add DOAP file for Druid
  doap_Druid.rdf
Labels: Area - Dev

#14891 Simplify DruidCoordinatorConfig and binding of metadata cleanup duties
  processing/src/main/java/org/apache/druid/common/config/ConfigManager.java
  processing/src/test/java/org/apache/druid/audit/NoopAuditManager.java
  processing/src/test/java/org/apache/druid/common/config/ConfigManagerTest.java
  server/src/main/java/org/apache/druid/guice/annotations/CoordinatorIndexingServiceDuty.java
  server/src/main/java/org/apache/druid/guice/annotations/CoordinatorMetadataStoreManagementDuty.java
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorConfigManager.java
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/MetadataManager.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillAuditLog.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillDatasourceMetadata.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillRules.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillStalePendingSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillSupervisors.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillSupervisorsCustomDuty.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/MetadataCleanupDuty.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResource.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorDynamicConfigsResource.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/TestDruidCoordinatorConfig.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillAuditLogTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Area - Segment Balancing/Coordination, Refactoring

#14919 use mmap for nested column value to dictionary id lookup for more chill heap usage during serialization
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnMergerV4.java
  processing/src/main/java/org/apache/druid/segment/column/StringEncodingStrategies.java
  processing/src/main/java/org/apache/druid/segment/data/FixedIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/DictionaryIdLookup.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedCommonFormatColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializerV4.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSupplierV4.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarNestedCommonFormatColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarStringColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarStringColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/serde/DictionaryEncodedColumnPartSerde.java
  processing/src/test/java/org/apache/druid/query/DoubleStorageTest.java
  processing/src/test/java/org/apache/druid/segment/data/FixedIndexedTest.java
Labels: Performance, Area - Segment Format and Ser/De

#14967 Upload docker and druid service logs as artifacts on GitHub Actions IT run failure
  .github/workflows/reusable-revised-its.yml
  .github/workflows/reusable-standard-its.yml
Labels: Dev Productivity

#14970 Fix the uncaught exceptions when materializing results as frames
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
Labels: Bug, Area - Querying

#14971 Fix the created property in DOAP RDF file
  doap_Druid.rdf
Labels: Area - Dev

#14924 Fix for schema mismatch to go down using the non vectorize path till we update the vectorized aggs properly
  processing/src/main/java/org/apache/druid/query/aggregation/any/DoubleAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/FloatAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/LongAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/NilVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/DoubleFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/FloatFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/LongFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/StringFirstAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/DoubleLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/FloatLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/LongLastAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/StringLastAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/StringFirstVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/last/StringLastVectorAggregatorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSimpleQueryTest.java
Labels: Bug, Area - Querying

#14982 Updating version in from.ftl
  sql/src/main/codegen/includes/from.ftl
Labels: Area - Querying

#14977 Add IS [NOT] TRUE, IS [NOT] FALSE native functions.
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/test/java/org/apache/druid/math/expr/EvalTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/UnarySuffixOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Area - SQL

#14993 Fixing nullif with unnest by not creating an and filter in case of em…
  processing/src/main/java/org/apache/druid/segment/UnnestStorageAdapter.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Bug, Area - Querying

#14986 Do not eagerly close inner iterators in CloseableIterator#flatMap
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  processing/src/main/java/org/apache/druid/java/util/common/parsers/CloseableIterator.java
  processing/src/test/java/org/apache/druid/data/input/impl/InputEntityIteratingReaderTest.java
  processing/src/test/java/org/apache/druid/java/util/common/parsers/CloseableIteratorTest.java
Labels: Bug

#14998 Adding addition logging for taskIdReady in MSQ for debugging lock races.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
Labels: Area - Batch Ingestion, Area - MSQ

#15004 Fix log syntax for KubernetesTaskRunner
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClient.java
Labels: Kubernetes

#14978 SQL: Plan non-equijoin conditions as cross join followed by filter.
  docs/querying/datasource.md
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteQueryTest.java
  website/.spelling
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - SQL, Area - MSQ

#14996 Enable already passing tests in DecoupledPlanningCalciteQueryTest
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteQueryTest.java
Labels: Area - Querying

#14976 Add IS [NOT] DISTINCT FROM to SQL and join matchers.
  docs/querying/sql-operators.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  processing/src/main/java/org/apache/druid/math/expr/Exprs.java
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/main/java/org/apache/druid/query/filter/InDimFilter.java
  processing/src/main/java/org/apache/druid/segment/join/Equality.java
  processing/src/main/java/org/apache/druid/segment/join/JoinConditionAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/Joinable.java
  processing/src/main/java/org/apache/druid/segment/join/JoinableFactoryWrapper.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterAnalyzer.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterColumnCorrelationAnalysis.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinFilterCorrelations.java
  processing/src/main/java/org/apache/druid/segment/join/lookup/LookupJoinable.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTable.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcher.java
  processing/src/main/java/org/apache/druid/segment/join/table/IndexedTableJoinable.java
  processing/src/main/java/org/apache/druid/segment/join/table/MapIndex.java
  processing/src/main/java/org/apache/druid/segment/join/table/RowBasedIndexBuilder.java
  processing/src/main/java/org/apache/druid/segment/join/table/UniqueLongArrayIndex.java
  processing/src/test/java/org/apache/druid/math/expr/EvalTest.java
  processing/src/test/java/org/apache/druid/math/expr/ExprsTest.java
  processing/src/test/java/org/apache/druid/query/filter/InDimFilterTest.java
  processing/src/test/java/org/apache/druid/segment/join/BaseHashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
  processing/src/test/java/org/apache/druid/segment/join/lookup/LookupJoinableTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/BroadcastSegmentIndexedTableTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/FrameBasedIndexedTableTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinMatcherTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/IndexedTableJoinableTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/RowBasedIndexBuilderTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/RowBasedIndexedTableTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldColumnIndexSupplierTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteQueryTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - SQL, Area - MSQ, Needs web console change

#15006 update RoaringBitmap to 0.9.49
  licenses.yaml
  pom.xml
  processing/src/main/java/org/apache/druid/collections/bitmap/BatchIteratorAdapter.java
  processing/src/main/java/org/apache/druid/collections/bitmap/ImmutableBitmap.java
  processing/src/test/java/org/apache/druid/collections/bitmap/BatchIteratorAdapterTest.java
Labels: Area - Dependencies

#14943 Adding new function decode_base64_utf8 and expr macro
  processing/src/main/java/org/apache/druid/math/expr/BuiltInExprMacros.java
  processing/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  processing/src/main/java/org/apache/druid/query/ChainedExecutionQueryRunner.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/DecodeBase64UTFOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#14944 Allow users with STATE permissions to read and write the state APIs for querying with deep storage
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlMSQStatementResourcePostTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#15005 Use annotation to mark DecoupleIgnore
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledIgnore.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteQueryTest.java
Labels: Area - Querying

#15021 Rename IMSC.announceHistoricalSegments to commitSegments
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorTest.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/DatasourceOptimizerTest.java
  extensions-contrib/sqlserver-metadata-storage/src/test/java/org/apache/druid/metadata/storage/sqlserver/SQLServerConnectorTest.java
  extensions-core/mysql-metadata-storage/src/test/java/org/apache/druid/metadata/storage/mysql/MySQLConnectorTest.java
  extensions-core/postgresql-metadata-storage/src/test/java/org/apache/druid/metadata/storage/postgresql/PostgreSQLConnectorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentInsertAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentMetadataUpdateAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentNukeAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/LockRequestForNewSegment.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsActionsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocateActionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentInsertActionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockBoxConcurrencyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/indexing/overlord/DataSourceMetadata.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Refactoring, Area - Ingestion

#15000 Allow cancellation of MSQ tasks if they are waiting for segments to load
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/SegmentLoadStatusFetcher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQStatusReport.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/SegmentLoadStatusFetcherTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#14909 Restore tasks when lifecycle start
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerTest.java
Labels: Kubernetes

#15023 Add a TaskReport for "kill" tasks
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrorsTaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/KillTaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  server/src/main/java/org/apache/druid/client/indexing/ClientKillUnusedSegmentsTaskQuery.java
Labels: Area - Ingestion

#14886 Unnest now works on MSQ
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteArraysSelectQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidRules.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/ViewSqlEngine.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestionTestSqlEngine.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#14991 Remove istrue, isfalse vectorized impls.
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying

#15026 Skip dependency-check on extensions-contrib modules and suppress false-positive gRPC CVEs
  extensions-contrib/aliyun-oss-extensions/pom.xml
  extensions-contrib/ambari-metrics-emitter/pom.xml
  extensions-contrib/cassandra-storage/pom.xml
  extensions-contrib/cloudfiles-extensions/pom.xml
  extensions-contrib/compressed-bigdecimal/pom.xml
  extensions-contrib/distinctcount/pom.xml
  extensions-contrib/dropwizard-emitter/pom.xml
  extensions-contrib/druid-iceberg-extensions/pom.xml
  extensions-contrib/gce-extensions/pom.xml
  extensions-contrib/graphite-emitter/pom.xml
  extensions-contrib/influx-extensions/pom.xml
  extensions-contrib/influxdb-emitter/pom.xml
  extensions-contrib/kafka-emitter/pom.xml
  extensions-contrib/kubernetes-overlord-extensions/pom.xml
  extensions-contrib/materialized-view-maintenance/pom.xml
  extensions-contrib/materialized-view-selection/pom.xml
  extensions-contrib/opentsdb-emitter/pom.xml
  extensions-contrib/prometheus-emitter/pom.xml
  extensions-contrib/redis-cache/pom.xml
  extensions-contrib/sqlserver-metadata-storage/pom.xml
  extensions-contrib/statsd-emitter/pom.xml
  extensions-contrib/tdigestsketch/pom.xml
  extensions-contrib/thrift-extensions/pom.xml
  extensions-contrib/time-min-max/pom.xml
  extensions-contrib/virtual-columns/pom.xml
  owasp-dependency-check-suppressions.xml
Labels: Area - Metrics/Event Emitting, Area - Dependencies, Kubernetes

#15027 Commit segments only when they are covered by active locks
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/TaskLocks.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/TaskLocksTest.java
Labels: Area - Ingestion

#15029 Revert "SQL: Plan non-equijoin conditions as cross join followed by f…
  docs/querying/datasource.md
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  website/.spelling
Labels: Area - Documentation, Area - Querying

#14980 Add metrics for number of segments generated per task in MSQ
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
Labels: Area - Batch Ingestion, Area - Metrics/Event Emitting, Area - MSQ

#15043 Fix getResultType for HLL, quantiles aggregators.
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactory.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchAggregatorFactoryTest.java
  extensions-core/multi-stage-query/pom.xml
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDataSketchesTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  processing/src/main/java/org/apache/druid/guice/ExpressionModule.java
  processing/src/test/java/org/apache/druid/query/expression/TestExprMacroTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTestInjectorBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
Labels: Bug, Area - Batch Ingestion, Area - Querying, Area - Dependencies, Area - MSQ

#15033 Support getTaskLocation for mixed task runner
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesAndWorkerTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesAndWorkerTaskRunnerTest.java
Labels: Kubernetes

#15042 upgrade shade
  extensions-core/protobuf-extensions/pom.xml
  pom.xml
Labels: Area - Dependencies

#15012 MV_FILTER_ONLY may run into Exceptions in case duplicate values were processed
  processing/src/main/java/org/apache/druid/query/dimension/ListFilteredDimensionSpec.java
  processing/src/main/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumn.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De

#15048 Build reliablity fixes
  .github/workflows/standard-its.yml
  .github/workflows/unit-and-integration-tests-unified.yml
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/DatasourceOptimizerTest.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/MaterializedViewQueryQueryToolChestTest.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/MaterializedViewQueryTest.java
  integration-tests/script/copy_resources_template.sh
  it.sh
  pom.xml
Labels: Area - Dependencies

#15002 Enable SortProjectTransposeRule
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#15060 Adding `segment/scan/active" metric for processing thread pool.
  docs/design/extensions-contrib/dropwizard.md
  docs/operations/metrics.md
  extensions-contrib/ambari-metrics-emitter/src/main/resources/defaultWhiteListMap.json
  extensions-contrib/dropwizard-emitter/src/main/resources/defaultMetricDimensions.json
  extensions-contrib/graphite-emitter/src/main/resources/defaultWhiteListMap.json
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  processing/src/main/java/org/apache/druid/query/MetricsEmittingQueryProcessingPool.java
  processing/src/main/java/org/apache/druid/query/PrioritizedExecutorService.java
  processing/src/test/java/org/apache/druid/query/MetricsEmittingQueryProcessingPoolTest.java
Labels: Area - Documentation, Area - Metrics/Event Emitting

#14880 Fix Peon not fail gracefully
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestTasks.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunnerTest.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Ingestion

#15056 Fix missing format strings in calls to DruidException.build
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlTaskResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/SqlStatementResourceHelper.java
  processing/src/main/java/org/apache/druid/error/ErrorResponse.java
  processing/src/main/java/org/apache/druid/error/QueryExceptionCompat.java
  processing/src/test/java/org/apache/druid/error/ErrorResponseTest.java
  processing/src/test/java/org/apache/druid/java/util/common/StringUtilsTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ
