Repository apache/druid, pull requests merged in 2023-04, with the labels that each got.

#13981 Eagerly fetching remote s3 files leading to out of disk (OOD)
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/shuffle/DurableStorageInputChannelFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/shuffle/DurableStorageOutputChannelFactory.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3StorageConnector.java
  processing/src/main/java/org/apache/druid/frame/channel/ReadableInputStreamFrameChannel.java
Labels: Area - MSQ

#13965 Planning correctly for order by queries on time which previously thre…
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidOuterQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteExplainQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - SQL

#14016 Improve entries
  README.md
Labels: Area - Documentation

#14015 Fix broken shields
  README.md
Labels: Area - Documentation

#13916 Document our conventions for writing messages
  CONTRIBUTING.md
  dev/style-conventions.md
Labels: Area - Dev

#13736 docs: sql unnest and cleanup unnest datasource
  docs/querying/datasource.md
  docs/querying/sql-functions.md
  docs/querying/sql.md
  docs/tutorials/tutorial-unnest-arrays.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#14010 Fix issues with null pointers on jobResponse
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidKubernetesPeonClient.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/JobResponse.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/JobResponseTest.java
Labels: Bug

#14022 Fix the order of aggregator finalization in GroupByPostShuffleFrameProcessor (MSQ)
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPostShuffleFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
Labels: Bug, Area - MSQ

#13930 add null safety checks for DiscoveryDruidNode services for more resilient http server and task views
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/main/java/org/apache/druid/discovery/DiscoveryDruidNode.java
  server/src/main/java/org/apache/druid/server/coordination/ServerType.java
  server/src/main/java/org/apache/druid/server/lookup/cache/LookupNodeDiscovery.java
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
Labels: Bug

#13926 Adding query stack fault to MSQ to capture native query errors.
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/MSQTasks.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/MSQErrorReport.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/QueryRuntimeFault.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQErrorReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
Labels: Area - Documentation, Area - MSQ

#13955 Always use file sizes when determining batch ingest splits
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/data/input/aliyun/OssInputSource.java
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/storage/aliyun/OssDataSegmentPuller.java
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/storage/aliyun/OssUtils.java
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/data/input/aliyun/OssInputSourceTest.java
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/storage/aliyun/OssDataSegmentPullerTest.java
  extensions-core/azure-extensions/pom.xml
  extensions-core/azure-extensions/src/main/java/org/apache/druid/data/input/azure/AzureInputSource.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureCloudBlobHolderToCloudObjectLocationConverter.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorage.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorageDruidModule.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureInputSourceSerdeTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureInputSourceTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureCloudBlobHolderToCloudObjectLocationConverterTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageDruidModuleTest.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSource.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorage.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleUtils.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSourceTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/InputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/SlicerUtils.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/external/ExternalInputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/stage/CollectedReadablePartitions.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/stage/StripedReadablePartitions.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/table/TableInputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/WorkerInputs.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/external/ExternalInputSpecSlicerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/table/TableInputSpecSlicerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/controller/WorkerInputsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/data/input/s3/S3InputSource.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentPuller.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentPullerTest.java
  processing/src/main/java/org/apache/druid/data/input/MaxSizeSplitHintSpec.java
  processing/src/main/java/org/apache/druid/data/input/SplitHintSpec.java
  processing/src/main/java/org/apache/druid/data/input/impl/CloudObjectInputSource.java
  processing/src/main/java/org/apache/druid/data/input/impl/CloudObjectSplitWidget.java
  processing/src/test/java/org/apache/druid/data/input/MaxSizeSplitHintSpecTest.java
  processing/src/test/java/org/apache/druid/data/input/impl/CloudObjectInputSourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#14032 Update documentation for Kafka Supervisor IdleConfig
  docs/development/extensions-core/kafka-supervisor-reference.md
Labels: Area - Documentation

#14019 Temporarily revert extended table functions for Druid 26
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQSqlModule.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITMultiStageQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteIngestionDmlTest.java
Labels: Area - Documentation

#13977 smarter nested column index utilization
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  processing/src/main/java/org/apache/druid/query/DruidProcessingConfig.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/NestedCommonFormatColumnHandler.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/NestedDataDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnConfig.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/column/DictionaryEncodedStringValueIndex.java
  processing/src/main/java/org/apache/druid/segment/column/DruidPredicateIndex.java
  processing/src/main/java/org/apache/druid/segment/column/IndexedStringDictionaryEncodedStringValueIndex.java
  processing/src/main/java/org/apache/druid/segment/column/IndexedStringDruidPredicateIndex.java
  processing/src/main/java/org/apache/druid/segment/column/IndexedUtf8LexicographicalRangeIndex.java
  processing/src/main/java/org/apache/druid/segment/column/LexicographicalRangeIndex.java
  processing/src/main/java/org/apache/druid/segment/column/NumericRangeIndex.java
  processing/src/main/java/org/apache/druid/segment/filter/BoundFilter.java
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializerV4.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarStringColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarStringColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantArrayColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantArrayColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierV4Test.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldColumnIndexSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarDoubleColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarLongColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarStringColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/VariantArrayColumnSupplierTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Performance, Area - Querying

#14021 JOIN or UNNEST queries over tombstone segment can fail
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryEngine.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndex.java
  processing/src/main/java/org/apache/druid/segment/StorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/loading/TombstoneSegmentizerFactory.java
  processing/src/test/java/org/apache/druid/segment/TombstoneSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/loading/TombstoneSegmentizerFactoryTest.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  server/src/test/java/org/apache/druid/segment/loading/SegmentLocalCacheLoaderTest.java
Labels: Bug, Area - Querying

#14026 Fix querying sql
  docs/assets/tutorial-query-01.png
  docs/assets/tutorial-query-02.png
  docs/assets/tutorial-query-03.png
  docs/assets/tutorial-query-04.png
  docs/assets/tutorial-query-05.png
  docs/assets/tutorial-query-06.png
  docs/assets/tutorial-query-07.png
  docs/tutorials/tutorial-query.md
Labels: Area - Documentation

#13436 Update api.md
  docs/multi-stage-query/api.md
Labels: Area - Documentation, Area - MSQ

#14044 revert .idea/misc.xml changes
  .idea/misc.xml
Labels: Development Blocker, Area - Dev

#14047 fix off by one error in FrontCodedIndexedWriter and FrontCodedIntArrayIndexedWriter getCardinality method
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIntArrayIndexedWriter.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/segment/data/FrontCodedIndexedTest.java
  processing/src/test/java/org/apache/druid/segment/data/FrontCodedIntArrayIndexedTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldColumnSelectorsTest.java
Labels: Bug, Area - Segment Format and Ser/De

#13647 Remove unnecessary python topic. Style changes to quickstart.
  docs/operations/python.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
Labels: Area - Documentation

#14020 Frames: Ensure nulls are read as default values when appropriate.
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQFaultsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  processing/src/main/java/org/apache/druid/data/input/impl/CombiningInputSource.java
  processing/src/main/java/org/apache/druid/frame/field/DoubleFieldReader.java
  processing/src/main/java/org/apache/druid/frame/field/FloatFieldReader.java
  processing/src/main/java/org/apache/druid/frame/field/LongFieldReader.java
  processing/src/main/java/org/apache/druid/frame/field/LongFieldWriter.java
  processing/src/main/java/org/apache/druid/frame/field/StringFieldReader.java
  processing/src/main/java/org/apache/druid/frame/read/columnar/DoubleFrameColumnReader.java
  processing/src/main/java/org/apache/druid/frame/read/columnar/FloatFrameColumnReader.java
  processing/src/main/java/org/apache/druid/frame/read/columnar/LongFrameColumnReader.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWriterTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Documentation, Area - MSQ

#14038 Fixing overlord unable to become a leader when syncing the lock from metadata store
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
Labels: Bug

#14054 Fix build failures
  pom.xml
Labels: Development Blocker

#14053 fix bug in nested v4 format merger from refactoring
  processing/src/main/java/org/apache/druid/segment/QueryableIndexIndexableAdapter.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
Labels: Bug, Area - Segment Format and Ser/De

#14055 Add basic security functions to druidapi (follow up to #14009)
  docs/operations/security-overview.md
  examples/quickstart/jupyter-notebooks/druidapi/druidapi/__init__.py
  examples/quickstart/jupyter-notebooks/druidapi/druidapi/basic_auth.py
  examples/quickstart/jupyter-notebooks/druidapi/druidapi/consts.py
  examples/quickstart/jupyter-notebooks/druidapi/druidapi/druid.py
  examples/quickstart/jupyter-notebooks/druidapi/druidapi/rest.py
Labels: Area - Documentation

#14068 fix NPE that can happen when merging all null nested v4 format columns
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
Labels: Bug

#14049 Docs: updating Kafka input format docs
  docs/development/extensions-core/kafka-ingestion.md
  docs/development/extensions-core/kafka-supervisor-reference.md
  docs/ingestion/data-formats.md
Labels: Area - Documentation

#14073 [Backport] Fix build failures
  pom.xml
Labels: Backport

#14069 bug fixes and add support for boolean inputs to classic long dimension indexer
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerDiscoveryTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/DimensionSchema.java
  processing/src/main/java/org/apache/druid/data/input/impl/DimensionsSpec.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexTest.java
Labels: Bug, Area - Ingestion

#14072 [Backport] Fix GHA CI branch trigger patterns
  .github/workflows/cron-job-its.yml
  .github/workflows/static-checks.yml
  .github/workflows/unit-and-integration-tests-unified.yml
Labels: Backport

#14025 MSQ: Support multiple result columns with the same name.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/ColumnMappings.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQResultsReport.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/ExtractResultsFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/MsqTestQueryHelper.java
  processing/src/main/java/org/apache/druid/utils/CollectionUtils.java
  processing/src/test/java/org/apache/druid/utils/CollectionUtilsTest.java
Labels: Bug, Area - MSQ

#14077 Make GCP initialization truly lazy
  cloud/gcp-common/src/test/java/org/apache/druid/common/gcp/GcpMockModule.java
  cloud/gcp-common/src/test/java/org/apache/druid/common/gcp/GcpModuleTest.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorageDruidModule.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleStorageDruidModuleTest.java
Labels: Bug, Ease of Use, Area - Operations

#14076 adjust useSchemaDiscovery to also include the behavior of includeAllDimensions
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/MapInputRowParser.java
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
  processing/src/test/java/org/apache/druid/data/input/impl/MapInputRowParserTest.java
Labels: Ease of Use, Area - Ingestion

#14060 [Backport] fix bug in nested v4 format merger from refactoring
  processing/src/main/java/org/apache/druid/segment/QueryableIndexIndexableAdapter.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
Labels: Backport

#14066 Input source security 26.0.0 backport
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQControllerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQWorkerTaskTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/catalog/model/table/S3InputSourceDefnTest.java
  server/src/main/java/org/apache/druid/catalog/model/table/BaseInputSourceDefn.java
  server/src/main/java/org/apache/druid/catalog/model/table/ExternalTableSpec.java
  server/src/main/java/org/apache/druid/catalog/model/table/FormattedInputSourceDefn.java
  server/src/test/java/org/apache/druid/catalog/model/table/HttpInputSourceDefnTest.java
  server/src/test/java/org/apache/druid/catalog/model/table/InlineInputSourceDefnTest.java
  server/src/test/java/org/apache/druid/catalog/model/table/LocalInputSourceDefnTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/DruidExternTableMacro.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/Externals.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/SchemaAwareUserDefinedTableMacro.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/ExternalTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
  sql/src/test/resources/calcite/expected/ingest/InsertFromExternalWithoutSecuritySupport-logicalPlan.txt
Labels: Backport

#14079 fix web-console tests for release
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
Labels: Area - Testing

#14081 [Backport] Make GCP initialization truly lazy
  cloud/gcp-common/src/test/java/org/apache/druid/common/gcp/GcpMockModule.java
  cloud/gcp-common/src/test/java/org/apache/druid/common/gcp/GcpModuleTest.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorageDruidModule.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleStorageDruidModuleTest.java
Labels: Backport

#14082 [Backport] adjust useSchemaDiscovery to also include the behavior of includeAllDimensions
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/MapInputRowParser.java
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
  processing/src/test/java/org/apache/druid/data/input/impl/MapInputRowParserTest.java
Labels: Backport

#14035 msq: add durable storage info
  docs/multi-stage-query/reference.md
  docs/multi-stage-query/security.md
Labels: Area - Documentation, Area - MSQ

#13358 Add start_time column to sys.servers
  docs/querying/sql-metadata-tables.md
  integration-tests/src/test/java/org/apache/druid/tests/security/AbstractAuthConfigurationTest.java
  integration-tests/src/test/resources/results/auth_test_sys_schema_servers.json
  server/src/main/java/org/apache/druid/discovery/DiscoveryDruidNode.java
  server/src/test/java/org/apache/druid/discovery/DiscoveryDruidNodeTest.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  web-console/src/views/services-view/__snapshots__/services-view.spec.tsx.snap
  web-console/src/views/services-view/services-view.spec.tsx
  web-console/src/views/services-view/services-view.tsx
  website/.spelling
Labels: Area - Documentation, Area - Operations, Release Notes, Area - Web Console

#14086 Adding missed s3 retry handling in s3 storage connector.
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/RetryableS3OutputStream.java
Labels: Area - MSQ

#14048 MSQ: Support for querying lookup and inline data directly.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerMemoryParameters.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerFrameContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/InputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/inline/InlineInputSlice.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/inline/InlineInputSliceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/inline/InlineInputSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/inline/InlineInputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/lookup/LookupInputSlice.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/lookup/LookupInputSliceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/lookup/LookupInputSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/lookup/LookupInputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/FrameContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BroadcastJoinHelper.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPreShuffleFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPreShuffleFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/inline/InlineInputSliceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/inline/InlineInputSpecTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/lookup/LookupInputSliceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/lookup/LookupInputSpecTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/BroadcastJoinHelperTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/main/java/org/apache/druid/query/JoinDataSource.java
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTestInjectorBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/LookylooModule.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
Labels: Area - MSQ

#14046 MSQ: Use the same result coercion routines as the regular SQL endpoint.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/KeyStatisticsCollectionProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQResultsReport.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQControllerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQWarningsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
  integration-tests-ex/cases/src/test/resources/multi-stage-query/wikipedia_msq_select_query1.json
  integration-tests-ex/cases/src/test/resources/multi-stage-query/wikipedia_msq_select_query_ha.json
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/SqlResults.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/run/SqlResultsTest.java
Labels: Area - MSQ

#14075 SQL: Fix natural comparator selection for groupBy.
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - SQL

#14099 Fix MSQSelectTest.
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
Labels: Bug, Area - Testing

#14080 update release guide to update web-console tests
  distribution/asf-release-process-guide.md
Labels: Area - Dev

#14085 Add HLLC tests for empty strings that don't pass.
  processing/src/test/java/org/apache/druid/hll/HyperLogLogCollectorTest.java
Labels: Area - Testing

#14074 Include statement attributes in `EXPLAIN PLAN` output
  docs/querying/sql-translation.md
  docs/querying/sql.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/ExplainAttributes.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/IngestHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/SqlStatementHandler.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteExplainQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Documentation, Area - SQL, Needs web console change

#14096 fix bug filtering nested columns with expression filters
  processing/src/main/java/org/apache/druid/segment/nested/NestedCommonFormatColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexTypeSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierV4Test.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying

#12549 document arrays in sql
  docs/querying/sql-array-functions.md
  docs/querying/sql-data-types.md
  docs/querying/sql-multivalue-string-functions.md
  web-console/script/create-sql-docs.js
Labels: Area - Documentation, Area - SQL

#14089 Log merge and push timings for PartialGenericSegmentMergeTask
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
Labels: Area - Batch Ingestion

#14101 Remove maxResultsSize config property from S3OutputConfig
  docs/multi-stage-query/reference.md
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/RetryableS3OutputStream.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3OutputConfig.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3StorageConnectorProvider.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/RetryableS3OutputStreamTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3OutputConfigTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3OutputSerdeTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3StorageConnectorTest.java
  website/.spelling
Labels: Area - Documentation, Release Notes

#14061 Move MSQ temporary storage to a runtime parameter instead of being configured from query context
  docs/configuration/index.md
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerStorageParameters.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/NotEnoughMemoryFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/NotEnoughTemporaryStorageFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerImplTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerStorageParametersTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/config/TaskConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/config/TaskConfigBuilder.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
Labels: Area - Documentation, Area - MSQ

#14093 Nicer error message for CSV with no properties.
  processing/src/main/java/org/apache/druid/data/input/impl/FlatTextInputFormat.java
  processing/src/main/java/org/apache/druid/indexer/Checks.java
  processing/src/test/java/org/apache/druid/data/input/impl/CsvInputFormatTest.java
  processing/src/test/java/org/apache/druid/data/input/impl/DelimitedInputFormatTest.java
  processing/src/test/java/org/apache/druid/indexer/ChecksTest.java
Labels: Ease of Use

#14109 [Backport] document arrays in sql
  docs/querying/sql-array-functions.md
  docs/querying/sql-data-types.md
  docs/querying/sql-multivalue-string-functions.md
  web-console/script/create-sql-docs.js
Labels: Area - Documentation, Backport

#14103 [Backport] fix bug filtering nested columns with expression filters
  processing/src/main/java/org/apache/druid/segment/nested/NestedCommonFormatColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexTypeSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierV4Test.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Backport

#14092 Refresh DruidLeaderClient cache selectively for non-200 responses
  server/src/main/java/org/apache/druid/discovery/DruidLeaderClient.java
  server/src/test/java/org/apache/druid/discovery/DruidLeaderClientTest.java
Labels: Improvement

#14119 [Backport] Web console: better lookup 404 detection (#14108)
  web-console/src/utils/druid-lookup.ts
  web-console/src/views/lookups-view/__snapshots__/lookups-view.spec.tsx.snap
  web-console/src/views/lookups-view/lookups-view.tsx
Labels: Backport

#14133 [Backport] Web console: better end of (MSQ) query segment loading UX (#14120)
  web-console/src/components/record-table-pane/record-table-pane.tsx
  web-console/src/druid-models/execution/execution.ts
  web-console/src/helpers/execution/general.ts
  web-console/src/helpers/execution/sql-task-execution.ts
  web-console/src/utils/types.ts
  web-console/src/views/sql-data-loader-view/schema-step/preview-table/preview-table.tsx
  web-console/src/views/workbench-view/column-tree/__snapshots__/column-tree.spec.tsx.snap
  web-console/src/views/workbench-view/execution-progress-bar-pane/__snapshots__/execution-progress-bar-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-progress-bar-pane/execution-progress-bar-pane.tsx
  web-console/src/views/workbench-view/result-table-pane/result-table-pane.tsx
Labels: Bug, Backport, Area - Web Console

#14112 Updating segment map function for QueryDataSource to ensure group by …
  processing/src/main/java/org/apache/druid/query/QueryDataSource.java
  processing/src/test/java/org/apache/druid/query/QueryDataSourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
Labels: Bug, Area - Querying

#14138 [Backport] Increase timeout for call to get worker capacity (#14095)
  web-console/src/helpers/capacity.ts
Labels: Backport

#14123 SQL planning: Consider subqueries in fewer scenarios.
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidRules.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Performance, Area - SQL

#14134 [Backport] Updating segment map function for QueryDataSource to ensure group by …
  processing/src/main/java/org/apache/druid/query/QueryDataSource.java
  processing/src/test/java/org/apache/druid/query/QueryDataSourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
Labels: Backport

#14140 [Backport] SQL planning: Consider subqueries in fewer scenarios. (#14123)
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidRules.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Backport

#14143 Web console: fix the tier selector in the RetentionDialog
  web-console/src/components/rule-editor/__snapshots__/rule-editor.spec.tsx.snap
  web-console/src/components/rule-editor/rule-editor.tsx
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/retention-dialog.scss
  web-console/src/dialogs/retention-dialog/retention-dialog.spec.tsx
  web-console/src/dialogs/retention-dialog/retention-dialog.tsx
  web-console/src/views/datasources-view/datasources-view.tsx
Labels: Bug, Area - Web Console

#14144 preserve explicitly specified dimension schema in "logical" schema of sampler response
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/InputSourceSampler.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerDiscoveryTest.java
Labels: Bug, Area - Ingestion

#14146 [Backport] preserve explicitly specified dimension schema in "logical" schema of sampler response
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/InputSourceSampler.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerDiscoveryTest.java
Labels: Backport

#14148 Change time column name when reading from external sources in MSQ
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/external/ExternalInputSliceReader.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/resources/dataset-with-time-column.json
Labels: Bug, Area - MSQ

#14122 MSQ: Preserve original ParseException when writing frames.
  processing/src/main/java/org/apache/druid/frame/write/RowBasedFrameWriter.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/ColumnarFrameWriter.java
Labels: Area - MSQ

#14159 [Backport] Change time column name when reading from external sources in MSQ
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/external/ExternalInputSliceReader.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/resources/dataset-with-time-column.json
Labels: Backport

#14155 Web console: better native json error UX
  web-console/src/druid-models/workbench-query/workbench-query-part.ts
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/views/workbench-view/helper-query/helper-query.tsx
  web-console/src/views/workbench-view/query-tab/query-tab.tsx
Labels: Bug, Area - Web Console

#14105 MSQ: Subclass CalciteJoinQueryTest, other supporting changes.
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/pom.xml
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/InputNumberDataSource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQFaultsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectJoinQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/VerifyMSQSupportedNativeQueriesFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/VerifyMSQSupportedNativeQueriesPredicate.java
  processing/src/main/java/org/apache/druid/frame/field/DoubleFieldReader.java
  processing/src/main/java/org/apache/druid/frame/field/FloatFieldReader.java
  processing/src/main/java/org/apache/druid/frame/field/LongFieldReader.java
  processing/src/main/java/org/apache/druid/frame/field/StringFieldReader.java
  processing/src/main/java/org/apache/druid/frame/key/FrameComparisonWidget.java
  processing/src/main/java/org/apache/druid/frame/key/FrameComparisonWidgetImpl.java
  processing/src/main/java/org/apache/druid/frame/read/columnar/DoubleFrameColumnReader.java
  processing/src/main/java/org/apache/druid/frame/read/columnar/FloatFrameColumnReader.java
  processing/src/main/java/org/apache/druid/frame/read/columnar/LongFrameColumnReader.java
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/test/java/org/apache/druid/frame/field/StringFieldReaderTest.java
  processing/src/test/java/org/apache/druid/frame/key/FrameComparisonWidgetImplTest.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWriterTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryValidations.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestRunner.java
Labels: Area - Documentation, Area - MSQ

#14127 Compaction: Block input specs not aligned with segmentGranularity.
  docs/data-management/compaction.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  integration-tests/src/test/resources/indexer/wikipedia_compaction_task_with_granularity_spec.json
  integration-tests/src/test/resources/indexer/wikipedia_compaction_task_with_segment_granularity.json
Labels: Area - Documentation, Ease of Use, Release Notes, Area - Ingestion

#14136 Improved handling for zero-length intervals.
  processing/src/main/java/org/apache/druid/java/util/common/JodaUtils.java
  processing/src/main/java/org/apache/druid/query/spec/MultipleIntervalSegmentSpec.java
  processing/src/main/java/org/apache/druid/timeline/VersionedIntervalTimeline.java
  processing/src/test/java/org/apache/druid/common/utils/JodaUtilsTest.java
  processing/src/test/java/org/apache/druid/query/TimewarpOperatorTest.java
  processing/src/test/java/org/apache/druid/timeline/VersionedIntervalTimelineTest.java
Labels: Bug, Area - Querying

#14163 [Backport] Web console: better native json error UX (#14155)
  web-console/src/druid-models/workbench-query/workbench-query-part.ts
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/views/workbench-view/helper-query/helper-query.tsx
  web-console/src/views/workbench-view/query-tab/query-tab.tsx
Labels: Bug, Backport, Area - Web Console

#14005 Update Hadoop3 as default build version
  .github/workflows/static-checks.yml
  check_test_suite.py
  distribution/asf-release-process-guide.md
  distribution/bin/check-licenses.py
  distribution/pom.xml
  docs/development/build.md
  extensions-contrib/thrift-extensions/pom.xml
  extensions-core/avro-extensions/pom.xml
  extensions-core/druid-kerberos/pom.xml
  extensions-core/druid-ranger-security/pom.xml
  extensions-core/hdfs-storage/pom.xml
  extensions-core/orc-extensions/pom.xml
  extensions-core/parquet-extensions/pom.xml
  indexing-hadoop/pom.xml
  indexing-service/pom.xml
  integration-tests-ex/image/docker/launch.sh
  integration-tests/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Documentation, Release Notes, Area - Ingestion

#14164 Web console: set count on rule history api
  web-console/src/dialogs/retention-dialog/retention-dialog.tsx
Labels: Bug, Area - Web Console

#14168 [Backport] set count on rule history api (#14164)
  web-console/src/dialogs/retention-dialog/retention-dialog.tsx
Labels: Bug, Backport, Area - Web Console

#14135 fix typo in s3 docs. add readme to s3 module.
  docs/development/extensions-core/s3.md
  extensions-core/s3-extensions/README.md
Labels: Area - Documentation

#14151 TimeBoundary: Use cursor when datasource is not a regular table.
  processing/src/main/java/org/apache/druid/query/timeboundary/TimeBoundaryQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/segment/StorageAdapter.java
  processing/src/test/java/org/apache/druid/query/timeboundary/TimeBoundaryQueryRunnerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteTimeBoundaryQueryTest.java
Labels: Bug, Area - Querying

#14126 Add retry to opening retrying stream
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  processing/src/main/java/org/apache/druid/data/input/impl/RetryingInputStream.java
  processing/src/test/java/org/apache/druid/data/input/impl/RetryingInputStreamTest.java
Labels: Area - Batch Ingestion

#14166 Relaunch track of failed workers without work orders
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncherTest.java
Labels: Bug, Area - MSQ

#14165 Web console: allow __time in MSQ
  web-console/src/druid-models/dimension-spec/dimension-spec.ts
  web-console/src/druid-models/timestamp-spec/timestamp-spec.tsx
  web-console/src/helpers/__snapshots__/spec-conversion.spec.ts.snap
  web-console/src/helpers/spec-conversion.spec.ts
  web-console/src/helpers/spec-conversion.ts
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/parse-data-table/__snapshots__/parse-data-table.spec.tsx.snap
  web-console/src/views/load-data-view/parse-data-table/parse-data-table.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
  web-console/src/views/workbench-view/input-format-step/input-format-step.tsx
Labels: Area - Web Console

#14169 NVL function docs update
  docs/querying/sql-scalar.md
Labels: Area - Documentation

#14121 Make LoggingEmitter more useful by using Markers
  docs/configuration/index.md
  docs/configuration/logging.md
  examples/conf/druid/auto/_common/log4j2.xml
  examples/conf/druid/cluster/_common/log4j2.xml
  examples/conf/druid/single-server/large/_common/log4j2.xml
  examples/conf/druid/single-server/medium/_common/log4j2.xml
  examples/conf/druid/single-server/micro-quickstart/_common/log4j2.xml
  examples/conf/druid/single-server/nano-quickstart/_common/log4j2.xml
  examples/conf/druid/single-server/small/_common/log4j2.xml
  examples/conf/druid/single-server/xlarge/_common/log4j2.xml
  extensions-core/azure-extensions/pom.xml
  extensions-core/hdfs-storage/pom.xml
  extensions-core/kubernetes-extensions/pom.xml
  indexing-service/pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/java/util/common/logger/Logger.java
  processing/src/main/java/org/apache/druid/java/util/emitter/core/LoggingEmitter.java
  server/pom.xml
Labels: Area - Documentation, Area - Metrics/Event Emitting

#14174 Web console: fix task query error decode
  web-console/src/utils/druid-query.spec.ts
  web-console/src/utils/druid-query.ts
Labels: Bug, Area - Web Console, Area - MSQ

#14180 Register emitter to logger to avoid unit test failures
  server/src/test/java/org/apache/druid/client/HttpServerInventoryViewTest.java
Labels: Flaky test

#14181 [Backport] fix task query error decode (#14174)
  web-console/src/utils/druid-query.spec.ts
  web-console/src/utils/druid-query.ts
Labels: Bug, Backport, Area - Web Console

#14182 [Backport] Web console: allow __time in MSQ (#14165)
  web-console/src/druid-models/dimension-spec/dimension-spec.ts
  web-console/src/druid-models/timestamp-spec/timestamp-spec.tsx
  web-console/src/helpers/__snapshots__/spec-conversion.spec.ts.snap
  web-console/src/helpers/spec-conversion.spec.ts
  web-console/src/helpers/spec-conversion.ts
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/parse-data-table/__snapshots__/parse-data-table.spec.tsx.snap
  web-console/src/views/load-data-view/parse-data-table/parse-data-table.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
  web-console/src/views/workbench-view/input-format-step/input-format-step.tsx
Labels: Bug, Backport, Area - Web Console

#14185 Web console: allow marking segments as used when the whole datasource is unused
  web-console/src/components/action-cell/action-cell.tsx
  web-console/src/components/action-icon/action-icon.scss
  web-console/src/components/action-icon/action-icon.tsx
  web-console/src/views/datasources-view/datasources-view.tsx
Labels: Bug, Area - Web Console

#14167 Docs: fix API doc formatting
  docs/operations/api-reference.md
Labels: Bug, Area - Documentation

#14188 [Backport] allow marking segments as used when the whole datasource is unused to 26
  docs/operations/api-reference.md
  web-console/src/components/action-cell/action-cell.tsx
  web-console/src/components/action-icon/action-icon.scss
  web-console/src/components/action-icon/action-icon.tsx
  web-console/src/views/datasources-view/datasources-view.tsx
Labels: Bug, Area - Documentation, Backport, Area - Web Console
