Repository apache/druid, pull requests merged in 2023-11, with the labels that each got.

#15264 Fix dockerfile for druid image
  distribution/docker/Dockerfile
Labels: Release Notes

#15282 Allow casted literal values in SQL functions accepting literals
  codestyle/druid-forbidden-apis.txt
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestGenerateSketchSqlAggregator.java
  extensions-contrib/tdigestsketch/src/main/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchQuantileSqlAggregator.java
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchListArgBaseOperatorConversion.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregator.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregator.java
  extensions-core/histogram/src/main/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregator.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestAnySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestBySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/DefaultOperandTypeChecker.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ComplexDecodeBase64OperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/QueryLookupOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/convertlet/TimeInIntervalConvertletFactory.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/OperatorConversionsTest.java
Labels: Area - Querying

#15265 docs: Dynamic config cleanup
  docs/configuration/index.md
  docs/design/coordinator.md
  docs/design/historical.md
  docs/design/middlemanager.md
  docs/design/overlord.md
Labels: Area - Documentation

#15294 [backport] docs: blurb about msq union all
  docs/querying/sql.md
Labels: Area - Documentation

#15296 [backport]docs: durable storage azure cleanup (#15120)
  docs/multi-stage-query/reference.md
  docs/multi-stage-query/security.md
  docs/operations/durable-storage.md
Labels: Area - Documentation

#15143 remove references to Jupyter notebooks within the Druid repo
  docs/operations/security-overview.md
  docs/querying/tips-good-queries.md
  docs/tutorials/tutorial-jupyter-docker.md
  docs/tutorials/tutorial-jupyter-index.md
  docs/tutorials/tutorial-sql-query-view.md
  website/sidebars.json
Labels: Area - Documentation

#14905 Suggest adoption of Google Style guide
  dev/style-conventions.md
  docs/development/docs-contribute.md
Labels: Area - Documentation

#15304 [backport]Suggest adoption of Google Style guide (#14905)
  dev/style-conventions.md
  docs/development/docs-contribute.md
Labels: Area - Documentation

#15300 Frames: consider writing singly-valued column when input column hasMultipleValues is UNKNOWN.
  processing/src/main/java/org/apache/druid/frame/write/columnar/FrameColumnWriters.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/StringFrameColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnCapabilitiesImpl.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWriterTest.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWriterTestData.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
Labels: Bug, Area - Segment Format and Ser/De

#15278 [Backport] Segregate advance and advanceUninterruptibly flow in postJoinCursor to allow for interrupts in advance
  processing/src/main/java/org/apache/druid/segment/join/PostJoinCursor.java
  processing/src/test/java/org/apache/druid/segment/join/PostJoinCursorTest.java
Labels: Backport, Area - Segment Format and Ser/De

#15295 Use min of scheduler threads and server threads for subquery guardrails.
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  server/pom.xml
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/SubqueryGuardrailHelper.java
  server/src/main/java/org/apache/druid/server/SubqueryGuardrailHelperProvider.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Querying, Area - Dependencies

#15269 Better logging in ServiceClientImpl
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/client/IndexerWorkerClient.java
  server/src/main/java/org/apache/druid/rpc/ServiceClientImpl.java
  server/src/main/java/org/apache/druid/rpc/ServiceRetryPolicy.java
  server/src/main/java/org/apache/druid/rpc/StandardRetryPolicy.java
  server/src/main/java/org/apache/druid/rpc/indexing/SpecificTaskRetryPolicy.java
Labels: Area - Batch Ingestion, Area - MSQ

#15301 Fix an issue with passing order by and limit to realtime tasks
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQLoadedSegmentTests.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#15245 explicit outputType for ExpressionPostAggregator, better documentation for the differences between arrays and mvds
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/examples.md
  docs/multi-stage-query/reference.md
  docs/querying/arrays.md
  docs/querying/multi-value-dimensions.md
  docs/querying/post-aggregations.md
  docs/querying/sql-data-types.md
  docs/querying/sql.md
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/sql/ArrayOfDoublesSketchSqlAggregatorTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/DimensionSchemaUtils.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregator.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/test/java/org/apache/druid/query/aggregation/post/ArithmeticPostAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryRunnerTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/LiteralSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Projection.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
  website/sidebars.json
Labels: Bug, Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - SQL, Area - MSQ

#15308 [Backport] Fix an issue with passing order by and limit to realtime tasks (#15301)
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQLoadedSegmentTests.java
Labels: Bug, Area - Batch Ingestion, Backport, Area - MSQ

#15306 Fix used segment retrieval in Kill tasks
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
Labels: Area - Ingestion

#15309 [Backport] docs: remove experimental note from unnest docs
  docs/querying/datasource.md
  docs/querying/sql.md
  docs/tutorials/tutorial-unnest-arrays.md
Labels: Area - Documentation, Backport

#15310 Fix used segment retrieval in Kill tasks (#15306)
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
Labels: Backport, Area - Ingestion

#15028 docs: LDAP trust store property clarification
  docs/operations/auth-ldap.md
Labels: Area - Documentation

#15314 [backport] docs: LDAP trust store property clarification (#15028)
  docs/operations/auth-ldap.md
Labels: Area - Documentation

#15162 HllSketch Merge Aggregator optimizations
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactory.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchHolderObjectStrategy.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeBufferAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeBufferAggregatorHelper.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchMergeVectorAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToEstimatePostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToEstimateWithBoundsPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToStringPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchUnionPostAggregator.java
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllPostAggExprMacros.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorFactoryTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchAggregatorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDataSketchesTest.java
Labels: Performance, Area - Batch Ingestion, Area - Extension, Area - MSQ

#15313 Doc fixes for query from deep storage and MSQ
  docs/multi-stage-query/known-issues.md
  docs/querying/query-from-deep-storage.md
  docs/tutorials/tutorial-query-deep-storage.md
Labels: Area - Documentation

#15319 [Backport] Doc fixes for query from deep storage and MSQ (#15313)
  docs/multi-stage-query/known-issues.md
  docs/querying/query-from-deep-storage.md
  docs/tutorials/tutorial-query-deep-storage.md
Labels: Area - Documentation

#15307 [Backport] explicit outputType for ExpressionPostAggregator, better documentation for the differences between arrays and mvds (#15245)
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/examples.md
  docs/multi-stage-query/reference.md
  docs/querying/arrays.md
  docs/querying/multi-value-dimensions.md
  docs/querying/post-aggregations.md
  docs/querying/sql-data-types.md
  docs/querying/sql.md
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/sql/ArrayOfDoublesSketchSqlAggregatorTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/DimensionSchemaUtils.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  processing/src/main/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregator.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/test/java/org/apache/druid/query/aggregation/post/ArithmeticPostAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/post/ExpressionPostAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryRunnerTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/LiteralSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Projection.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
  website/sidebars.json
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Backport, Area - MSQ

#15299 Use filters for pruning properly for hash-joins.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/table/TableInputSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/table/TableInputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryKit.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/table/TableInputSpecSlicerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/table/TableInputSpecTest.java
  processing/src/main/java/org/apache/druid/query/filter/DimFilterUtils.java
  processing/src/main/java/org/apache/druid/query/planning/DataSourceAnalysis.java
  processing/src/test/java/org/apache/druid/query/filter/DimFilterUtilsTest.java
  processing/src/test/java/org/apache/druid/query/planning/DataSourceAnalysisTest.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
Labels: Area - Batch Ingestion, Area - MSQ

#15324 Fix 404 URL about native query
  docs/configuration/index.md
Labels: Area - Documentation

#15316 Allow casted literal values in SQL functions accepting literals (Part 2)
  codestyle/druid-forbidden-apis.txt
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalSqlAggregatorBase.java
  sql/src/main/java/org/apache/calcite/sql/type/CastedLiteralOperandTypeChecker.java
  sql/src/main/java/org/apache/calcite/sql/type/CastedLiteralOperandTypeCheckers.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArrayConcatSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArraySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/StringSqlAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#15321 allow compaction to work with spatial dimensions
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionHandler.java
  processing/src/test/java/org/apache/druid/segment/DimensionHandlerUtilsTest.java
Labels: Bug, Area - Segment Format and Ser/De, Area - Ingestion, Area - Compaction

#15311 Fix k8s task runner failure reporting
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/UpdateStatusAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/UpdateStatusActionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AbstractTaskTest.java
Labels: Area - Ingestion

#15322 [Backport] Allow casted literal values in SQL functions accepting literals (Part 2)
  codestyle/druid-forbidden-apis.txt
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalSqlAggregatorBase.java
  sql/src/main/java/org/apache/calcite/sql/type/CastedLiteralOperandTypeChecker.java
  sql/src/main/java/org/apache/calcite/sql/type/CastedLiteralOperandTypeCheckers.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArrayConcatSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/ArraySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/StringSqlAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#15280 Consolidate and reduce dependency footprint for iceberg extension
  extensions-contrib/druid-iceberg-extensions/pom.xml
Labels: Area - Extension, Area - Dependencies

#14739 window functions docs
  docs/querying/sql-window-functions.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#15332 Backport window functions docs
  docs/querying/sql-window-functions.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#15328 Fixed the table in docker.md
  integration-tests-ex/docs/docker.md
Labels: Area - Documentation

#15327 Correct the path of ipynb file of notebook introduction.
  examples/quickstart/jupyter-notebooks/notebooks/01-introduction/00-START-HERE.ipynb
Labels: Area - Documentation

#15323 fix: Creating span label not closed
  website/static/js/code-block-buttons.js
Labels: Area - Documentation

#14806 Refactor lookups behavior while loading/dropping the containers
  docs/development/extensions-core/lookups-cached-global.md
  extensions-core/kafka-extraction-namespace/src/main/java/org/apache/druid/query/lookup/KafkaLookupExtractorFactory.java
  extensions-core/kafka-extraction-namespace/src/test/java/org/apache/druid/query/lookup/KafkaLookupExtractorFactoryTest.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/NamespaceLookupExtractorFactory.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/ExtractionNamespace.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/JdbcExtractionNamespace.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/server/lookup/namespace/cache/CacheScheduler.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/NamespaceLookupExtractorFactoryTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/namespace/JdbcExtractionNamespaceUrlCheckTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/JdbcCacheGeneratorTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/CacheSchedulerTest.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/server/lookup/namespace/cache/JdbcExtractionNamespaceTest.java
  extensions-core/lookups-cached-single/src/main/java/org/apache/druid/server/lookup/LoadingLookupFactory.java
  extensions-core/lookups-cached-single/src/main/java/org/apache/druid/server/lookup/PollingLookupFactory.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/LoadingLookupFactoryTest.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/PollingLookupFactoryTest.java
  processing/src/main/java/org/apache/druid/query/lookup/LookupExtractorFactory.java
  processing/src/test/java/org/apache/druid/query/lookup/LookupExtractorFactoryContainerTest.java
  processing/src/test/java/org/apache/druid/query/lookup/LookupSegmentTest.java
  server/src/main/java/org/apache/druid/query/lookup/LookupListeningResource.java
  server/src/main/java/org/apache/druid/query/lookup/LookupReferencesManager.java
  server/src/main/java/org/apache/druid/query/lookup/MapLookupExtractorFactory.java
  server/src/test/java/org/apache/druid/query/expression/LookupEnabledTestExprMacroTable.java
  server/src/test/java/org/apache/druid/query/lookup/LookupReferencesManagerTest.java
  server/src/test/java/org/apache/druid/query/lookup/RegisteredLookupExtractionFnTest.java
Labels: Area - Documentation, Area - Lookups

#15344 Bump Jedis version to 5.0.2
  extensions-contrib/redis-cache/pom.xml
  extensions-contrib/redis-cache/src/main/java/org/apache/druid/client/cache/RedisCacheFactory.java
  extensions-contrib/redis-cache/src/main/java/org/apache/druid/client/cache/RedisClusterCache.java
  extensions-contrib/redis-cache/src/test/java/org/apache/druid/client/cache/RedisCacheConfigTest.java
  extensions-contrib/redis-cache/src/test/java/org/apache/druid/client/cache/RedisClusterCacheTest.java
  extensions-contrib/redis-cache/src/test/java/org/apache/druid/client/cache/RedisStandaloneCacheTest.java
Labels: Area - Dependencies

#15339 Web console: fix ingest datasource detection falling over on paren
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
Labels: Bug, Area - Web Console

#15349 Web console: use is not distinct from
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/views/explore-view/modules/table-react-module.tsx
Labels: Area - Web Console, Area - Dependencies

#15352 Optimize mark segments as unused
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
Labels: Performance, Area - Metadata

#15334 docs: suggest metadata store with instant ADD COLUMN semantics
  docs/design/metadata-storage.md
  docs/development/extensions-core/mysql.md
  docs/development/extensions-core/postgresql.md
Labels: Area - Documentation

#15347 Fix for segment/count Metric Not Emitting with Statsd-emitter
  docs/development/extensions-contrib/prometheus.md
  docs/development/extensions-contrib/statsd.md
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
Labels: Area - Documentation, Area - Metrics/Event Emitting

#15355 Non-existent datasource shouldn't affect schema rebuilding for other datasources
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
  server/src/test/java/org/apache/druid/segment/metadata/SegmentMetadataCacheCommon.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheTest.java
Labels: Area - Querying

#15336 Change default inSubQueryThreshold
  docs/querying/query-context.md
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Documentation, Area - Querying, Release Notes

#15364 Addressing minor flakiness seen in `ApproximateHistogramAggregatorTest`
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/ApproximateHistogramAggregatorTest.java
Labels: Flaky test

#15359 Web console: fix time shifting
  web-console/src/views/explore-view/explore-view.tsx
  web-console/src/views/explore-view/modules/table-react-module.tsx
  web-console/src/views/explore-view/modules/utils/utils.spec.ts
  web-console/src/views/explore-view/modules/utils/utils.ts
Labels: Bug, Area - Web Console

#15317 Changing a string to key:value pair to fix flakiness in `testSerializationWithDefaults`
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentPusherConfigTest.java
Labels: Flaky test

#15243 MSQ generates tombstones honoring granularity specified in a `REPLACE` query.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/Limits.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/MSQErrorReport.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/StageDefinition.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/ClusterByStatisticsCollectorImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQFaultsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQErrorReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/statistics/ClusterByStatisticsCollectorImplTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/TooManyBucketsException.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/TombstoneHelper.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/TombstoneHelperTest.java
  processing/src/main/java/org/apache/druid/java/util/common/granularity/IntervalsByGranularity.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

#15368 Fix cancellation bug in MSQ.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/ControllerQueryKernel.java
Labels: Area - Batch Ingestion, Area - MSQ

#15375 Addressing a Flaky test in `testAPIs()`
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskResourceTest.java
Labels: Area - Ingestion

#15207 Fixed a flaky test in `S3DataSegmentPusherConfigTest#testSerialization` by changing string to key:value pair
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentPusherConfigTest.java
Labels: Flaky test

#15382 Query from deep storage doc fixes.
  docs/api-reference/sql-api.md
  docs/querying/query-from-deep-storage.md
Labels: Area - Documentation

#14995 Prevent multiple attempts to publish segments for the same sequence
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
Labels: Area - Ingestion

#15358 docs: suggest metadata store with instant ADD COLUMN semantics (#15334)
  docs/design/metadata-storage.md
  docs/development/extensions-core/mysql.md
  docs/development/extensions-core/postgresql.md
Labels: Area - Documentation

#15388 [backport]docs: Query from deep storage doc fixes. (#15382)
  docs/api-reference/sql-api.md
  docs/querying/query-from-deep-storage.md
Labels: Area - Documentation

#15387 fix redirect for api docs and misc array-related typos
  docs/querying/sql-data-types.md
  docs/querying/sql-functions.md
  website/redirects.js
Labels: Area - Documentation

#15389 [backport]docs: fix redirect for api docs and misc array-related typos (#15387)
  docs/querying/sql-data-types.md
  docs/querying/sql-functions.md
  website/redirects.js
Labels: Area - Documentation

#15377 Fetch active task payloads from memory
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskStorageQueryAdapter.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
Labels: Area - Ingestion

#15318 Fix flaky tests in ParserTest.java
  processing/src/test/java/org/apache/druid/math/expr/ParserTest.java
Labels: Flaky test

#15348 Add support for ingesting older iceberg snapshots
  docs/ingestion/input-sources.md
  extensions-contrib/druid-iceberg-extensions/pom.xml
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/IcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/IcebergInputSource.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/input/IcebergInputSourceTest.java
  website/.spelling
Labels: Area - Documentation, Area - Extension, Area - Dependencies

#15396 Web console: reset spec before looking for tile
  web-console/e2e-tests/component/load-data/data-loader.ts
  web-console/e2e-tests/component/workbench/overview.ts
  web-console/e2e-tests/multi-stage-query.spec.ts
  web-console/e2e-tests/util/debug.ts
Labels: Area - Web Console

#15379 Make `numCorePartitions` as 0 for tombstones
  processing/src/main/java/org/apache/druid/timeline/partition/TombstoneShardSpec.java
  processing/src/test/java/org/apache/druid/timeline/partition/TombstoneShardSpecTest.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Design Review

#15260 Fix NPE caused by realtime segment closing race, fix possible missing-segment retry bug.
  server/src/main/java/org/apache/druid/segment/realtime/FireHydrant.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/Sink.java
  server/src/main/java/org/apache/druid/segment/realtime/plumber/SinkSegmentReference.java
  server/src/test/java/org/apache/druid/segment/realtime/FireHydrantTest.java
  server/src/test/java/org/apache/druid/segment/realtime/plumber/SinkTest.java
Labels: Bug, Area - Streaming Ingestion

#15403 docs: fix code tabs
  docs/api-reference/automatic-compaction-api.md
  docs/api-reference/supervisor-api.md
  docs/development/extensions-core/kafka-supervisor-operations.md
Labels: Area - Documentation

#15087 Data management API doc refactor
  docs/api-reference/data-management-api.md
  website/.spelling
Labels: Area - Documentation

#15401 Update Kinesis resharding doc
  docs/development/extensions-core/kinesis-ingestion.md
Labels: Area - Documentation

#15397 Add test to verify sequence name of Kafka task
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Streaming Ingestion, Area - Ingestion

#15405 fix physical memory detection on OSX
  examples/bin/start-druid-main.py
Labels: Bug

#15402 Fix resultcache multiple postaggregation restore
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
Labels: Bug, Area - Cache

#15410 [Backport] fix physical memory detection on OSX (#15405)
  examples/bin/start-druid-main.py
Labels: Bug, Backport

#15411 [Backport] Fix resultcache multiple postaggregation restore
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
Labels: Backport

#15409 Returning correct Response Code HTTP 429 when taskQueue reached maxSize
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Improvement, Area - Ingestion

#15363 Patched security vulnerability by updating Ranger libraries to the ne…
  distribution/bin/check-licenses.py
  extensions-core/druid-ranger-security/src/main/java/org/apache/druid/security/ranger/authorizer/RangerAuthorizer.java
  extensions-core/druid-ranger-security/src/test/java/org/apache/druid/security/ranger/authorizer/RangerAdminClientImpl.java
  licenses.yaml
  pom.xml
Labels: Release Notes, Area - Dependencies

#15416 fix minor typo
  extensions-contrib/kafka-emitter/src/main/java/org/apache/druid/emitter/kafka/KafkaEmitter.java
Labels: Area - Metrics/Event Emitting

#15412 Fix missing task failure error message on Overlord caused by MessageBodyWriter not found error on Middle Manager
  indexing-service/src/main/java/org/apache/druid/indexing/worker/http/TaskManagementResource.java
Labels: Area - Ingestion

#15421 Fix a bug in grouping aggregator when lookup dimension is being aggregated upon
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/GroupingSqlAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#15424 Fix log typos, clean up some kill messages in SeekableStreamSupervisor
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Streaming Ingestion, Area - Ingestion

#15430 Fixing failing compaction/parallel index jobs during upgrade due to new actions being available on the overlord.
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsToReplaceAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/config/TaskConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/config/TaskConfigBuilder.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/concurrent/ConcurrentReplaceAndAppendTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Area - Ingestion

#15426 Use StubServiceEmitter in tests
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClientTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/DruidPeonClientIntegrationTest.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  processing/src/test/java/org/apache/druid/query/MetricsEmittingQueryProcessingPoolTest.java
  server/src/test/java/org/apache/druid/client/cache/MemcachedCacheTest.java
  server/src/test/java/org/apache/druid/curator/DruidConnectionStateListenerTest.java
  server/src/test/java/org/apache/druid/server/initialization/jetty/JettyServerModuleTest.java
  server/src/test/java/org/apache/druid/server/lookup/cache/LookupCoordinatorManagerTest.java
Labels: Kubernetes

#15429 Add option to compare results with relative error tolerance
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
Labels: Area - Querying

#15419 Upgrade Avro to 1.11.3
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Area - Dependencies

#15345 [Docs] Add example connection parameters for Java APIs
  docs/api-reference/sql-jdbc.md
Labels: Area - Documentation

#15354 Fix dictionarySize overrides in tests
  docs/querying/groupbyquery.md
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedKeySerdeHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/column/GroupByColumnSelectorStrategy.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryConfigTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Documentation, Area - Querying

#15372 Fix mmless ingestion and index tasks
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
Labels: Area - Ingestion

#15417 add optional 'castToType' parameter to 'auto' column schema
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  extensions-core/avro-extensions/src/test/java/org/apache/druid/data/input/AvroStreamInputFormatTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ExternalColumnSelectorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/DimensionSchemaUtils.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/DimensionSchemaUtilsTest.java
  extensions-core/orc-extensions/src/test/java/org/apache/druid/data/input/orc/OrcReaderTest.java
  extensions-core/parquet-extensions/src/test/java/org/apache/druid/data/input/parquet/NestedColumnParquetReaderTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputFormatTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/DruidSegmentReaderTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerDiscoveryTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/SamplerResponseTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/DimensionSchema.java
  processing/src/main/java/org/apache/druid/guice/NestedDataModule.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnSchema.java
  processing/src/main/java/org/apache/druid/segment/NestedCommonFormatColumnHandler.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnSchema.java
  processing/src/main/java/org/apache/druid/segment/incremental/AppendableIndexBuilder.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedCommonFormatColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/segment/AutoTypeColumnIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/generator/DataGeneratorTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarDoubleColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarLongColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarStringColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/VariantColumnSupplierTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - Ingestion, Area - MSQ

#15441 update confluent's dependencies to common, supported version
  extensions-core/avro-extensions/pom.xml
  extensions-core/protobuf-extensions/pom.xml
  integration-tests/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#15302 SQL: Plan non-equijoin conditions as cross join followed by filter
  docs/querying/datasource.md
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
  sql/src/test/java/org/apache/druid/sql/calcite/rule/DruidJoinRuleTest.java
  website/.spelling
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Release Notes, Area - MSQ

#15366 add native 'array contains element' filter
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/GeneratorInputSource.java
  indexing-service/src/test/java/org/apache/druid/indexing/input/GeneratorInputSourceTest.java
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/main/java/org/apache/druid/query/filter/ArrayContainsElementFilter.java
  processing/src/main/java/org/apache/druid/query/filter/DimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/DimFilterUtils.java
  processing/src/main/java/org/apache/druid/query/filter/EqualityFilter.java
  processing/src/main/java/org/apache/druid/segment/generator/DataGenerator.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  processing/src/test/java/org/apache/druid/math/expr/OutputTypeTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ArrayContainsElementFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/RangeFilterTests.java
  processing/src/test/java/org/apache/druid/segment/generator/SegmentGenerator.java
  processing/src/test/java/org/apache/druid/segment/nested/VariantColumnSupplierTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Performance, Area - Querying, Area - Segment Format and Ser/De, Area - SQL, Area - Ingestion

#15434 Enabling aggregateMultipleValues in all StringAnyAggregators
  docs/querying/sql-aggregations.md
  docs/querying/sql-functions.md
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/StringAnyVectorAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/StringAnyAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/StringAnyAggregatorFactoryTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/StringAnyBufferAggregatorTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/StringAnyVectorAggregatorTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/FallbackVirtualColumnTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestAnySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/EarliestLatestBySqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/DefaultOperandTypeChecker.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/OperatorConversions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestBuilder.java
  website/.spelling
Labels: Area - Documentation, Area - Querying, Release Notes

#15448 simplify IncrementalIndex since group-by v1 has been removed
  benchmarks/src/test/java/org/apache/druid/benchmark/GroupByTypeInterfaceBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/IncrementalIndexRowTypeBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/GroupByBenchmark.java
  extensions-contrib/distinctcount/src/test/java/org/apache/druid/query/aggregation/distinctcount/DistinctCountGroupByQueryTest.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/InputRowSerde.java
  processing/src/main/java/org/apache/druid/segment/incremental/AppendableIndexBuilder.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexRow.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
  processing/src/test/java/org/apache/druid/query/aggregation/StringColumnAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/mean/SimpleTestIndex.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownInsufficientBufferTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByLimitPushDownMultiNodeMergeTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByMultiSegmentTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerFactoryTest.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedQueryPushDownTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexCreator.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/OnheapIncrementalIndexBenchmark.java
Labels: Area - Batch Ingestion, Area - Segment Format and Ser/De

#15451 update ARRAY_OVERLAP to plan with ArrayContainsElement for ARRAY columns
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/DruidExpression.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Performance, Area - Querying, Area - SQL

#15456 Native doc update
  docs/querying/aggregations.md
Labels: Area - Documentation

#15453 Web console: better management proxy detection
  server/src/main/java/org/apache/druid/server/AsyncManagementForwardingServlet.java
  server/src/test/java/org/apache/druid/server/AsyncManagementForwardingServletTest.java
  web-console/src/helpers/capabilities.ts
Labels: Area - Web Console

#15461 Upgrade Jackson and Google GSON to address CVEs
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Area - Dependencies

#15457 Web console: fix tab duplication
  web-console/src/components/rule-editor/rule-editor.tsx
  web-console/src/druid-models/execution/execution.ts
  web-console/src/utils/load-rule.ts
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Bug, Area - Web Console
