Repository apache/druid, pull requests merged in 2023-12, with the labels that each got.

#15284 Use task actions to fetch used segments in MSQ
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteArraysQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectJoinQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteUnionQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestTaskActionClient.java
Labels: Area - Batch Ingestion, Area - MSQ

#15450 [Backport] Fixing failing compaction/parallel index jobs during upgrade due to new actions being available on the overlord.
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsToReplaceAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/config/TaskConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/DruidInputSource.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/config/TaskConfigBuilder.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/concurrent/ConcurrentReplaceAndAppendTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Backport, Area - Ingestion

#15478 Add null check for VarianceAggregatorCollector
  extensions-core/stats/src/main/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorCollector.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/VarianceAggregatorCollectorTest.java
Labels: Bug

#15482 update guava to 32.0.1-jre to address CVEs
  licenses.yaml
  pom.xml
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
Labels: Area - Dependencies

#15446 remove licenses of removed libraries, update the license checker
  distribution/bin/check-licenses.py
  licenses.yaml
Labels: Area - Dependencies

#15476 Rename config for enabling CentralizedDatasourceSchema feature
  .github/workflows/standard-its.yml
  docs/api-reference/legacy-metadata-api.md
  docs/configuration/index.md
  integration-tests/docker/docker-compose.centralized-datasource-schema.yml
  integration-tests/docker/druid.sh
  integration-tests/script/docker_compose_args.sh
  integration-tests/src/test/java/org/apache/druid/tests/TestNGGroup.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITBroadcastJoinQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITJdbcQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITSqlCancelTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITSystemTableQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITTwitterQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITUnionQueryTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITWikipediaQueryTest.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/MetadataSegmentView.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
Labels: Area - Documentation, Area - Querying

#15493 Fix CentralizedDatasourceSchema IT
  integration-tests/docker/test-data/centralized-datasource-schema-sample-data.sql
Labels: Development Blocker

#15439 Update retention rules doc
  docs/operations/rule-configuration.md
Labels: Area - Documentation

#15488 add gson to dependencyManagement
  extensions-core/druid-ranger-security/pom.xml
  pom.xml
Labels: Area - Dependencies

#15472 Update lookup model in console
  web-console/src/dialogs/lookup-edit-dialog/__snapshots__/lookup-edit-dialog.spec.tsx.snap
  web-console/src/druid-models/lookup-spec/lookup-spec.tsx
Labels: Area - Web Console

#15483 Web console: Log out any request errors in e2e tests for better CI debugging
  web-console/e2e-tests/auto-compaction.spec.ts
  web-console/e2e-tests/reindexing.spec.ts
  web-console/e2e-tests/tutorial-batch.spec.ts
  web-console/e2e-tests/util/playwright.ts
Labels: Area - Testing, Area - Web Console

#15498 Clarify and fixup typos in docs related to `includeUnused`.
  docs/api-reference/legacy-metadata-api.md
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
Labels: Area - Documentation

#15500 Fix NullFilter getDimensionRangeSet.
  processing/src/main/java/org/apache/druid/query/filter/NullFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/NullFilterTests.java
Labels: Bug

#15479 Prepare for 28.0.1 release
  distribution/docker/docker-compose.yml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/links.ts
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
  web-console/unified-console.html
Labels: Area - Web Console

#15497 Re-arranging sections for append and replace docs.
  docs/data-management/automatic-compaction.md
Labels: Area - Documentation

#15458 add supported array column type support to EXTEND operator
  processing/src/main/java/org/apache/druid/data/input/impl/JsonInputFormat.java
  server/src/main/java/org/apache/druid/catalog/model/Columns.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExtendOperator.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/Externals.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/RowSignatures.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
Labels: Area - Querying, Area - SQL

#15455 document arrayContainsElement filter
  docs/querying/filters.md
  website/.spelling
Labels: Area - Documentation

#15507 Bump up max heap memory for unit tests from 1.5 GB to 2 GB
  pom.xml
Labels: Area - Dependencies

#15508 [Backport] Web console: fix tab duplication
  web-console/src/components/rule-editor/rule-editor.tsx
  web-console/src/druid-models/execution/execution.ts
  web-console/src/utils/load-rule.ts
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Backport, Area - Web Console

#15509 [Backport] Fix NullFilter getDimensionRangeSet.
  processing/src/main/java/org/apache/druid/query/filter/NullFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/NullFilterTests.java
Labels: Backport

#15512 update timeseries to reflect NULL filling
  docs/querying/timeseriesquery.md
Labels: Area - Documentation

#15504 add Assert function to verify in the DataGeneratorTest
  processing/src/test/java/org/apache/druid/segment/generator/DataGeneratorTest.java
Labels: Area - Testing

#15503 fix array presenting columns to not match single element arrays to scalars for equality
  docs/ingestion/schema-design.md
  processing/src/main/java/org/apache/druid/query/filter/EqualityFilter.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnAndIndexSupplier.java
  processing/src/test/java/org/apache/druid/query/timeseries/NestedDataTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTests.java
Labels: Bug, Area - Documentation, Area - Segment Format and Ser/De

#15371 Windowed min aggregates null-s as 0
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/ParallelCombiner.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/semantic/DefaultFramedOnHeapAggregatable.java
  processing/src/main/java/org/apache/druid/segment/ObjectBasedColumnSelector.java
  processing/src/main/java/org/apache/druid/segment/ObjectColumnSelector.java
  processing/src/test/java/org/apache/druid/segment/AutoTypeColumnIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerV4Test.java
  processing/src/test/java/org/apache/druid/segment/TestObjectColumnSelector.java
  processing/src/test/java/org/apache/druid/segment/virtual/TestObjectBasedColumnSelector.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/resources/calcite/tests/window/windowed_long_null.sqlTest
  sql/src/test/resources/drill/window/queries/frameclause/subQueries/frmInSubQry_27.q
Labels: Area - Querying, Area - Segment Format and Ser/De

#15517 Add better error messages for using OVERWRITE with INSERT statments
  pom.xml
  sql/src/main/codegen/includes/insert.ftl
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
Labels: Area - Querying, Area - Dependencies

#15521 add JSON_QUERY_ARRAY function to pluck ARRAY<COMPLEX<json>> out of COMPLEX<json>
  docs/querying/math-expr.md
  docs/querying/sql-json-functions.md
  processing/src/main/java/org/apache/druid/guice/ExpressionModule.java
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnTypeFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/expression/NestedDataExpressionsTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  website/.spelling
Labels: Area - Documentation, Area - Querying, Area - Segment Format and Ser/De, Area - SQL

#15513 Fixing NPE with virtual expression with unnest
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidCorrelateUnnestRel.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Area - Querying

#15486 Revamp design page
  docs/api-reference/legacy-metadata-api.md
  docs/assets/druid-architecture.svg
  docs/configuration/index.md
  docs/design/architecture.md
  docs/design/broker.md
  docs/design/coordinator.md
  docs/design/historical.md
  docs/design/indexer.md
  docs/design/middlemanager.md
  docs/design/overlord.md
  docs/design/peons.md
  docs/design/processes.md
  docs/design/router.md
  docs/design/storage.md
  docs/development/experimental-features.md
  docs/development/modules.md
  docs/ingestion/index.md
  docs/querying/query-processing.md
  website/.spelling
  website/redirects.js
  website/sidebars.json
Labels: Area - Documentation

#15515 Docs: update SQL API reference
  docs/api-reference/sql-api.md
Labels: Area - Documentation

#15528 allow array_to_mv to support expression inputs
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayToMultiValueStringOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Area - Querying, Area - SQL

#15526 Lazily build Filter in FilteredAggregatorFactory to avoid parsing exceptions in Router
  processing/src/main/java/org/apache/druid/query/aggregation/FilteredAggregatorFactory.java
  services/src/test/java/org/apache/druid/server/AsyncQueryForwardingServletTest.java
Labels: Bug

#15532 fix bug with nested empty array fields
  processing/src/main/java/org/apache/druid/segment/nested/FieldTypeInfo.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/resources/nested-all-types-test-data.json
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying, Area - Segment Format and Ser/De

#15333 [Docs] Add a release notes template
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#15281 Clean up duty for non-overlapping eternity tombstones
  docs/design/coordinator.md
  docs/operations/metrics.md
  integration-tests/src/main/java/org/apache/druid/testing/utils/MsqTestQueryHelper.java
  processing/src/main/java/org/apache/druid/timeline/partition/OverwriteShardSpec.java
  server/src/main/java/org/apache/druid/discovery/BrokerClient.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/MarkEternityTombstonesAsUnused.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/Stats.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/MarkEternityTombstonesAsUnusedTest.java
Labels: Area - Documentation

#15444 [Docs] Document decode_base64_complex and decode_base64_utf8 functions
  docs/querying/sql-functions.md
  docs/querying/sql-scalar.md
  website/.spelling
Labels: Area - Documentation

#15527 Fix empty logs and status messages for mmless ingestion
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
Labels: Kubernetes

#15415 Add api for Retrieving unused segments
  docs/api-reference/legacy-metadata-api.md
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SortOrder.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/metadata/SortOrderTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestSegmentsMetadataManager.java
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
  website/.spelling
Labels: Area - Documentation, Release Notes, Area - Metadata

#15540 remove references to non-existent website maven module
  pom.xml
Labels: Area - Dependencies

#15531 minor doc adjustments
  docs/querying/math-expr.md
  docs/querying/sql-functions.md
  docs/querying/sql-json-functions.md
Labels: Area - Documentation

#15533 only create used and unused segments once to make the test faster
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsActionsTest.java
Labels: Area - Testing, Area - Ingestion

#15541 Fixing a case where datatype mismatch was happenning in join
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
Labels: Bug, Area - Querying, Area - SQL

#15539 update core Apache Kafka dependencies to 3.6.1
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#15449 update kubernetes java client to 19.0.0 and docker-java to 3.3.4
  extensions-core/kubernetes-extensions/pom.xml
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/DefaultK8sApiClient.java
  extensions-core/protobuf-extensions/pom.xml
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Area - Dependencies

#15545 Update Druid version in Tag in pom.xml
  pom.xml
Labels: Area - Dependencies

#15338 Better automatic offset reset for Kinesis ingestion
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskRunner.java
Labels: Area - Streaming Ingestion

#15548 [backport]docs: update timeseries to reflect NULL filling (#15512)
  docs/querying/timeseriesquery.md
Labels: Area - Documentation

#15553 Move codeql-config.yml out from the workflows folder
  .github/config/codeql-config.yml
  .github/workflows/codeql.yml
  pom.xml
Labels: Area - Dependencies

#14935 Optional removal of metrics from Prometheus PushGateway on shutdown
  docs/development/extensions-contrib/prometheus.md
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitter.java
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/PrometheusEmitterConfig.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/PrometheusEmitterConfigTest.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/PrometheusEmitterTest.java
Labels: Area - Documentation, Release Notes, Area - Metrics/Event Emitting

#15315 docs: Add Druid 28 release notes and upgrade notes
  docs/release-info/assets/image-1.png
  docs/release-info/assets/image-2.png
  docs/release-info/assets/image-3.png
  docs/release-info/assets/image.png
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#15522 Upgrade pac4j-oidc to 4.5.7 to address CVE-2021-44878
  extensions-core/druid-pac4j/pom.xml
  extensions-core/druid-pac4j/src/main/java/org/apache/druid/security/pac4j/Pac4jFilter.java
  extensions-core/druid-pac4j/src/main/java/org/apache/druid/security/pac4j/Pac4jSessionStore.java
  extensions-core/druid-pac4j/src/test/java/org/apache/druid/security/pac4j/Pac4jSessionStoreTest.java
  licenses.yaml
  owasp-dependency-check-suppressions.xml
Labels: Area - Dependencies

#15555 Web console: Update webpack-dev-server v3 to v4
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/webpack.config.js
Labels: Area - Web Console, Area - Dev, Area - Dependencies

#15550 remove search auto strategy, estimateSelectivity of BitmapColumnIndex
  benchmarks/src/test/java/org/apache/druid/benchmark/DictionaryEncodedStringIndexSupplierBenchmark.java
  docs/querying/searchquery.md
  processing/src/main/java/org/apache/druid/query/filter/ArrayContainsElementFilter.java
  processing/src/main/java/org/apache/druid/query/filter/BooleanFilter.java
  processing/src/main/java/org/apache/druid/query/filter/EqualityFilter.java
  processing/src/main/java/org/apache/druid/query/filter/Filter.java
  processing/src/main/java/org/apache/druid/query/filter/InDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/NullFilter.java
  processing/src/main/java/org/apache/druid/query/filter/RangeFilter.java
  processing/src/main/java/org/apache/druid/query/search/AutoStrategy.java
  processing/src/main/java/org/apache/druid/query/search/ConciseBitmapDecisionHelper.java
  processing/src/main/java/org/apache/druid/query/search/RoaringBitmapDecisionHelper.java
  processing/src/main/java/org/apache/druid/query/search/SearchQueryDecisionHelper.java
  processing/src/main/java/org/apache/druid/query/search/SearchStrategy.java
  processing/src/main/java/org/apache/druid/query/search/SearchStrategySelector.java
  processing/src/main/java/org/apache/druid/segment/filter/AndFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/BoundFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/ColumnComparisonFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/DimensionPredicateFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/FalseFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/main/java/org/apache/druid/segment/filter/IsBooleanFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/JavaScriptFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/LikeFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/NotFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/SelectorFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/SpatialFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/TrueFilter.java
  processing/src/main/java/org/apache/druid/segment/index/AllFalseBitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/AllTrueBitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/AllUnknownBitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/BitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/IndexedUtf8ValueIndexes.java
  processing/src/main/java/org/apache/druid/segment/index/SimpleImmutableBitmapIndex.java
  processing/src/main/java/org/apache/druid/segment/index/SimpleImmutableBitmapIterableIndex.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/search/SearchQueryRunnerWithCaseTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldColumnIndexSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/serde/DictionaryEncodedStringIndexSupplierTest.java
Labels: Area - Documentation, Release Notes, Area - Segment Format and Ser/De

#15556 Update com.github.eirslett to fix bad zip issue
  pom.xml
  web-console/pom.xml
Labels: Area - Web Console, Area - Dependencies

#15554 Round works correctly on system metadata columns
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/RoundOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSysQueryTest.java
Labels: Bug, Area - Querying, Area - SQL

#15530 fix rat and checkstyle issue
  codestyle/checkstyle-suppressions.xml
  pom.xml
Labels: Area - Dependencies

#15459 Allocate pending segments at latest committed version
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocateActionTest.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Bug, Area - Ingestion

#15519 Clean useless InterruptedException warn in ingestion task log
  extensions-contrib/kafka-emitter/src/main/java/org/apache/druid/emitter/kafka/KafkaEmitter.java
  extensions-contrib/kafka-emitter/src/test/java/org/apache/druid/emitter/kafka/KafkaEmitterTest.java
Labels: Area - Metrics/Event Emitting

#15552 Reduce amount of expression objects created during evaluations
  benchmarks/src/test/java/org/apache/druid/benchmark/ExpressionFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/ExpressionSelectorBenchmark.java
  processing/src/main/java/org/apache/druid/math/expr/ConstantExpr.java
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionTypeConversion.java
  processing/src/test/java/org/apache/druid/math/expr/ExprTest.java
  processing/src/test/java/org/apache/druid/math/expr/OutputTypeTest.java
Labels: Performance

#15570 Detect `EXPLAIN PLAN` queries in web-console and run them individually
  web-console/src/utils/sql.spec.ts
  web-console/src/utils/sql.ts
Labels: Area - Web Console

#15485 Allow for kafka emitter producer secrets to be masked in logs
  extensions-contrib/kafka-emitter/src/main/java/org/apache/druid/emitter/kafka/KafkaEmitter.java
  extensions-contrib/kafka-emitter/src/main/java/org/apache/druid/emitter/kafka/KafkaEmitterConfig.java
  extensions-contrib/kafka-emitter/src/test/java/org/apache/druid/emitter/kafka/KafkaEmitterConfigTest.java
  extensions-contrib/kafka-emitter/src/test/java/org/apache/druid/emitter/kafka/KafkaEmitterTest.java
  processing/src/main/java/org/apache/druid/utils/DynamicConfigProviderUtils.java
Labels: Area - Metrics/Event Emitting

#15549 unpin snakeyaml, add suppressions and licenses
  extensions-contrib/cassandra-storage/pom.xml
  extensions-contrib/kubernetes-overlord-extensions/pom.xml
  integration-tests/pom.xml
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Area - Dependencies, Kubernetes

#15547 router.sh is missing in Druid Distribution
  examples/bin/router.sh
Labels: Area - Router

#15543 fix expression post aggregator array handling when grouping wrapper types leak
  processing/src/main/java/org/apache/druid/math/expr/BinaryEvalOpExprBase.java
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  processing/src/main/java/org/apache/druid/math/expr/UnaryOperatorExpr.java
  processing/src/main/java/org/apache/druid/segment/column/Types.java
  processing/src/test/java/org/apache/druid/math/expr/EvalTest.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestBase.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/GreatestExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/IPv4AddressMatchExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/IPv4AddressParseExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/IPv4AddressStringifyExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/LeastExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/TimeFormatOperatorConversionTest.java
Labels: Bug, Area - Querying, Area - Segment Format and Ser/De

#15587 fix some null handling bugs with vector expression processors
  processing/src/main/java/org/apache/druid/math/expr/vector/DoubleOutLongsInFunctionVectorValueProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/VectorProcessors.java
  processing/src/test/java/org/apache/druid/math/expr/VectorExprSanityTest.java
  processing/src/test/java/org/apache/druid/query/expression/VectorExpressionsSanityTest.java
Labels: Bug, Area - Querying

#15586 Support to pass dynamic values to timestamp Extract function
  processing/src/main/java/org/apache/druid/math/expr/NamedFunction.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampExtractExprMacro.java
  processing/src/test/java/org/apache/druid/query/expression/TimestampExtractExprMacroTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeExtractOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
Labels: Area - Querying

#15561 [Flaky test] Fix basic auth integration test
  integration-tests/docker/environment-configs/common
Labels: Flaky test
