Repository apache/druid, pull requests merged in 2024-05, with the labels that each got.

#16360 Docs: Remove references to Zk-based segment loading
  docs/configuration/index.md
  docs/design/zookeeper.md
  docs/development/extensions-core/kubernetes.md
Labels: Area - Documentation

#16369 Allow different timechunk lock types to coexist in a task group
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
Labels: Area - Ingestion

#16318 Web console: surface more info on the supervisor view
  web-console/src/components/header-bar/header-bar.scss
  web-console/src/components/table-column-selector/table-column-selector.spec.tsx
  web-console/src/components/table-column-selector/table-column-selector.tsx
  web-console/src/components/timed-button/__snapshots__/timed-button.spec.tsx.snap
  web-console/src/components/timed-button/timed-button.tsx
  web-console/src/dialogs/compaction-history-dialog/compaction-history-dialog.tsx
  web-console/src/dialogs/kill-datasource-dialog/kill-datasource-dialog.tsx
  web-console/src/dialogs/supervisor-table-action-dialog/__snapshots__/supervisor-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-statistics-table/__snapshots__/supervisor-statistics-table.spec.tsx.snap
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-statistics-table/supervisor-statistics-table.spec.tsx
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-statistics-table/supervisor-statistics-table.tsx
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-table-action-dialog.tsx
  web-console/src/dialogs/task-table-action-dialog/__snapshots__/task-table-action-dialog.spec.tsx.snap
  web-console/src/dialogs/task-table-action-dialog/task-table-action-dialog.tsx
  web-console/src/druid-models/supervisor-status/supervisor-status.ts
  web-console/src/utils/druid-query.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/local-storage-backed-visibility.tsx
  web-console/src/utils/table-helpers.ts
  web-console/src/views/datasources-view/__snapshots__/datasources-view.spec.tsx.snap
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/load-data-view/info-messages.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/lookups-view/__snapshots__/lookups-view.spec.tsx.snap
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/services-view/__snapshots__/services-view.spec.tsx.snap
  web-console/src/views/services-view/services-view.tsx
  web-console/src/views/supervisors-view/__snapshots__/supervisors-view.spec.tsx.snap
  web-console/src/views/supervisors-view/supervisors-view.scss
  web-console/src/views/supervisors-view/supervisors-view.tsx
  web-console/src/views/tasks-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/tasks-view/tasks-view.tsx
  web-console/src/views/workbench-view/max-tasks-button/max-tasks-button.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Streaming Ingestion, Area - Web Console

#16373 [Backport] Allow different timechunk lock types to coexist in a task group (#16369)
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
Labels: Area - Ingestion

#16379 Web console change for Delta filter
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-source/input-source.tsx
Labels: Area - Web Console

#16374 update dependencies to address CVEs
  extensions-core/azure-extensions/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#16380 Do not allocate ids conflicting with existing segment ids
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocateActionTest.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Area - Ingestion

#16368 Followup changes to 15817 (Segment schema publishing and polling)
  docs/configuration/index.md
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestIndexTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
  integration-tests/docker/docker-compose.cds-coordinator-metadata-query-disabled.yml
  integration-tests/docker/druid.sh
  integration-tests/docker/test-data/cds-coordinator-metadata-query-disabled-sample-data.sql
  integration-tests/script/docker_compose_args.sh
  integration-tests/src/test/java/org/apache/druid/tests/TestNGGroup.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAppendBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAppenderatorDriverRealtimeIndexTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITBestEffortRollupParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCombiningInputSourceParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionSparseColumnTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITHttpInputSourceTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITIndexerTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITKafkaIndexingServiceNonTransactionalSerializedTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITKafkaIndexingServiceTransactionalSerializedTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITLocalInputSourceAllInputFormatTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITOverwriteBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITPerfectRollupParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITRealtimeIndexTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITSystemTableBatchIndexTaskTest.java
  processing/src/main/java/org/apache/druid/segment/DataSegmentWithMetadata.java
  processing/src/main/java/org/apache/druid/segment/SegmentMetadata.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataSegmentPublisher.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/FingerprintGenerator.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueue.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaCache.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnreferencedSegmentSchema.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTestBase.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
  server/src/test/java/org/apache/druid/segment/metadata/FingerprintGeneratorTest.java
  server/src/test/java/org/apache/druid/segment/metadata/SegmentSchemaCacheTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnreferencedSegmentSchemaTest.java
Labels: Area - Documentation, Area - Segment Format and Ser/De, Area - Ingestion

#16375 Web console: concat data when doing a durable storage download
  web-console/src/console-application.tsx
  web-console/src/views/workbench-view/destination-pages-pane/destination-pages-pane.tsx
Labels: Area - Querying, Area - Web Console

#16377 backport: Add config lagAggregate to LagBasedAutoScalerConfig (#16334)
  docs/ingestion/supervisor.md
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScaler.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScalerConfig.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/Supervisor.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/autoscaler/AggregateFunction.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/autoscaler/LagStats.java
  server/src/test/java/org/apache/druid/indexing/overlord/supervisor/LagStatsTest.java
Labels: Area - Documentation, Area - Streaming Ingestion, Area - Ingestion

#16385 [Backport] Web console change for Delta filter
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-source/input-source.tsx
Labels: Backport, Area - Web Console

#16351 Catalog clustering keys fixes
  extensions-core/druid-catalog/src/test/java/org/apache/druid/server/http/catalog/EditorTest.java
  server/src/main/java/org/apache/druid/catalog/model/table/DatasourceDefn.java
  server/src/test/java/org/apache/druid/catalog/model/table/DatasourceTableTest.java
  sql/src/main/codegen/includes/insert.ftl
  sql/src/main/codegen/includes/replace.ftl
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
Labels: Area - Querying

#16365 QueryableIndex: Close columns after failed vector cursor setup.
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorSequenceBuilder.java
Labels: Area - Segment Format and Ser/De

#16312 Add native filter conversion for SCALAR_IN_ARRAY.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/DruidExpression.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/DruidLiteral.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ScalarInArrayOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/TimeArithmeticOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/DruidExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
Labels: Area - Querying

#16387 Remove stale references to `killAllDataSources`
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
Labels: Area - Web Console

#16383 [Backport] Do not allocate ids conflicting with existing segment ids (#16380)
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentAllocateActionTest.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Backport, Area - Ingestion

#16389 Fix the bug in Immutable RTree object strategy
  processing/src/main/java/org/apache/druid/segment/data/ImmutableRTreeObjectStrategy.java
  processing/src/test/java/org/apache/druid/collections/spatial/ImmutableRTreeTest.java
Labels: Bug, Area - Segment Format and Ser/De

#16024 upgrade mysql:mysql-connector-java to 8.2.0
  distribution/docker/Dockerfile.mysql
  docs/configuration/index.md
  docs/development/extensions-core/mysql.md
  docs/operations/use_sbt_to_build_fat_jar.md
  extensions-core/lookups-cached-global/pom.xml
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/namespace/JdbcExtractionNamespaceUrlCheckTest.java
  extensions-core/lookups-cached-single/pom.xml
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/jdbc/JdbcDataFetcherUrlCheckTest.java
  extensions-core/mysql-metadata-storage/pom.xml
  extensions-core/mysql-metadata-storage/src/main/java/org/apache/druid/metadata/storage/mysql/MySQLConnector.java
  extensions-core/mysql-metadata-storage/src/test/java/org/apache/druid/firehose/sql/MySQLFirehoseDatabaseConnectorTest.java
  extensions-core/mysql-metadata-storage/src/test/java/org/apache/druid/metadata/storage/mysql/MySQLConnectorTest.java
  integration-tests-ex/cases/pom.xml
  integration-tests-ex/image/docker/Dockerfile
  integration-tests-ex/image/pom.xml
  integration-tests/docker/Dockerfile
  integration-tests/docker/environment-configs/common
  integration-tests/docker/environment-configs/common-ldap
  pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/utils/ConnectionUriUtils.java
  processing/src/test/java/org/apache/druid/utils/ConnectionUriUtilsTest.java
  server/src/main/java/org/apache/druid/server/initialization/JdbcAccessSecurityConfig.java
Labels: Area - Documentation, Area - Lookups, Area - Dependencies

#16282 Specify node type so that the log filename can get resolved
  distribution/docker/druid.sh
Labels: Docker

#16248 Feature configurable calcite bloat
  docs/querying/query-context.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
Labels: Area - Documentation, Area - Querying

#16390 Add validation for reindex with realtime sources
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MSQTaskQueryMakerUtils.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - MSQ

#16397 [Backport] Prevent joining on nested arrays and complex types
  processing/src/main/java/org/apache/druid/segment/join/table/RowBasedIndexBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De

#16395 [Backport] update dependencies to address CVEs
  extensions-core/azure-extensions/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#16400 [Backport] JSONFlattenerMaker: Speed up charsetFix.
  processing/src/main/java/org/apache/druid/java/util/common/parsers/JSONFlattenerMaker.java
  processing/src/test/java/org/apache/druid/java/util/common/parsers/JSONFlattenerMakerTest.java
Labels: Backport

#16381 Maintain a connection while exporting results with MSQ
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessor.java
  processing/src/main/java/org/apache/druid/storage/StorageConnector.java
  processing/src/main/java/org/apache/druid/storage/local/LocalFileStorageConnector.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#16398 [Backport] SCALAR_IN_ARRAY: Optimization and behavioral follow-ups.
  docs/querying/math-expr.md
  docs/querying/sql-array-functions.md
  docs/querying/sql-functions.md
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
Labels: Area - Documentation, Backport

#16413 Remove software.amazon.ion:ion-java from the licenses
  licenses.yaml
Labels: Area - Dependencies

#16404 Fix NPE in SegmentSchemaCache
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueue.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaCache.java
  server/src/test/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueueTest.java
  server/src/test/java/org/apache/druid/segment/metadata/SegmentSchemaCacheTest.java
Labels: Area - Ingestion

#16358 Load only the required lookups for MSQ tasks
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQControllerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQWorkerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/QueryLookupOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/SqlResourceCollectorShuttle.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16382 Enable quidem tests to use different suppliers
  dev/quidem
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalSqlAggregatorTestBase.java
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/sql/ArrayOfDoublesSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/filter/sql/BloomDimFilterSqlTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogInsertTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogQueryTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogReplaceTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregatorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/ChainedProcessorManagerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteArraysQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectJoinQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteUnionQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
  extensions-core/testing-tools/src/test/java/org/apache/druid/query/sql/SleepSqlTest.java
  pom.xml
  sql/pom.xml
  sql/src/test/java/org/apache/druid/quidem/DruidAvaticaTestDriver.java
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemTestBase.java
  sql/src/test/java/org/apache/druid/quidem/MapToInterfaceHandler.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteExportTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteLookupFunctionQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteScanSignatureTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteStrictInsertTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlTestFrameworkConfig.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlTestFrameworkConfigTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
  sql/src/test/quidem/org.apache.druid.quidem.SqlQuidemTest/numMerge.iq
  sql/src/test/quidem/org.apache.druid.quidem.SqlQuidemTest/supplier.iq
Labels: Area - Batch Ingestion, Area - Querying, Area - Dependencies, Area - MSQ

#16363 Correct log message
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
Labels: Area - Batch Ingestion, Area - MSQ

#16414 [Backport] Maintain a connection while exporting results with MSQ
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessor.java
  processing/src/main/java/org/apache/druid/storage/StorageConnector.java
  processing/src/main/java/org/apache/druid/storage/local/LocalFileStorageConnector.java
Labels: Bug, Backport

#16399 [Backport] change ownership of /opt/shared to druid user in Docker image
  distribution/docker/Dockerfile
Labels: Backport

#16410 [Backport] Add validation for reindex with realtime sources
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MSQTaskQueryMakerUtils.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Backport, Area - MSQ

#16184 Update sidebar to organize tutorials + other minor improvements
  docs/tutorials/tutorial-jdbc.md
  docs/tutorials/tutorial-sketches-theta.md
  website/sidebars.json
Labels: Area - Documentation

#16362 Feature/16361 permits to control kill task lock type
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/client/ControllerChatHandlerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientKillUnusedSegmentsTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PushedSegmentsReportTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  processing/src/main/java/org/apache/druid/indexer/report/KillTaskReport.java
  processing/src/test/java/org/apache/druid/indexer/report/TaskReportSerdeTest.java
  server/src/main/java/org/apache/druid/client/indexing/ClientKillUnusedSegmentsTaskQuery.java
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClient.java
  server/src/test/java/org/apache/druid/client/indexing/ClientKillUnusedSegmentsTaskQueryTest.java
  server/src/test/java/org/apache/druid/rpc/indexing/OverlordClientImplTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - Web Console, Area - Dependencies, Area - Ingestion, Area - MSQ

#16422 Remove unused task action SegmentLockReleaseAction
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentLockReleaseAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
Labels: Area - Ingestion

#16421 [Backport] Fix NPE in SegmentSchemaCache
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueue.java
  server/src/main/java/org/apache/druid/segment/metadata/SegmentSchemaCache.java
  server/src/test/java/org/apache/druid/segment/metadata/SegmentSchemaBackFillQueueTest.java
  server/src/test/java/org/apache/druid/segment/metadata/SegmentSchemaCacheTest.java
Labels: Backport

#16425 Downgrade the version of Apache Curator from 5.5.0 to 5.3.0 to avoid a bug in the new version
  extensions-contrib/ddsketch/pom.xml
  integration-tests-ex/cases/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - ZooKeeper/Curator, Area - Dependencies

#16427 [Backport] Fix another deadlock which can occur while acquiring merge buffers
  processing/src/main/java/org/apache/druid/query/groupby/GroupByResourcesReservationPool.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupingEngine.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByResourcesReservationPoolTest.java
Labels: Bug, Backport

#16426 [Backport] Fix the bug in Immutable RTree object strategy
  processing/src/main/java/org/apache/druid/segment/data/ImmutableRTreeObjectStrategy.java
  processing/src/test/java/org/apache/druid/collections/spatial/ImmutableRTreeTest.java
Labels: Bug, Backport, Area - Segment Format and Ser/De

#16430 [Backport] Downgrade the version of Apache Curator from 5.5.0 to 5.3.0 to avoid a bug in the new version
  extensions-contrib/ddsketch/pom.xml
  integration-tests-ex/cases/pom.xml
  licenses.yaml
  pom.xml
Labels: Bug, Backport, Area - Dependencies

#16434 update protobuf.md
  docs/development/extensions-core/protobuf.md
Labels: Area - Documentation

#16386 Use canonical hostname instead of ip by default
  distribution/docker/druid.sh
  distribution/docker/peon.sh
Labels: Area - Operations, Release Notes, Docker

#16429 Add path to gitignore
  .gitignore
Labels: Area - Dev

#16417 Web console: Fix order-by-delta in explore view table
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/record-table-pane/record-table-pane.tsx
  web-console/src/dialogs/async-action-dialog/async-action-dialog.tsx
  web-console/src/dialogs/kill-datasource-dialog/kill-datasource-dialog.tsx
  web-console/src/druid-models/execution/execution.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/table-helpers.ts
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/explore-view/modules/components/generic-output-table/generic-output-table.tsx
  web-console/src/views/explore-view/modules/table-react-module.tsx
  web-console/src/views/explore-view/modules/utils/utils.spec.ts
  web-console/src/views/explore-view/modules/utils/utils.ts
  web-console/src/views/explore-view/utils/misc.ts
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/services-view/services-view.tsx
  web-console/src/views/sql-data-loader-view/schema-step/preview-table/preview-table.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.tsx
  web-console/src/views/workbench-view/result-table-pane/result-table-pane.tsx
Labels: Bug, Area - Web Console, Area - Dependencies

#16402 Custom Calcite Rule to remove redundant references
  processing/src/main/java/org/apache/druid/query/aggregation/GroupingAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/aggregation/GroupingAggregatorFactoryTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/GroupingSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/logical/DruidAggregateRemoveRedundancyRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#16119 Resolve a bug where datasketches would not downsample sketches sufficiently
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/ClusterByStatisticsCollectorImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/statistics/ClusterByStatisticsCollectorImplTest.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#16428 Update known issues
  docs/multi-stage-query/known-issues.md
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

#16445 Revert "Downgrade the version of Apache Curator from 5.5.0 to 5.3.0 to avoid a bug in the new version (#16425) (#16430)"
  extensions-contrib/ddsketch/pom.xml
  integration-tests-ex/cases/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#16310 API for stopping streaming tasks early
  docs/api-reference/supervisor-api.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/Supervisor.java
  server/src/test/java/org/apache/druid/indexing/NoopSupervisorSpecTest.java
Labels: Area - Documentation, Area - Ingestion

#16388 Speed up SQL IN using SCALAR_IN_ARRAY.
  benchmarks/src/test/java/org/apache/druid/benchmark/lookup/SqlReverseLookupBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/InPlanningBenchmark.java
  docs/querying/sql-query-context.md
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/SearchOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/ReverseLookupRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteLookupFunctionQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Documentation, Performance, Area - Batch Ingestion, Area - Querying, Area - Dependencies, Area - Ingestion, Area - MSQ

#16447 Update known issues
  docs/multi-stage-query/known-issues.md
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

#16420 Disable loading lookups by default in CompactionTask
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQControllerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQWorkerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientCompactionTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskTest.java
  server/src/main/java/org/apache/druid/server/lookup/cache/LookupLoadingSpec.java
  server/src/test/java/org/apache/druid/server/lookup/cache/LookupLoadingSpecTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Ingestion, Area - MSQ

#16453 Backport order-by-delta fix to 30
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/record-table-pane/record-table-pane.tsx
  web-console/src/dialogs/async-action-dialog/async-action-dialog.tsx
  web-console/src/dialogs/kill-datasource-dialog/kill-datasource-dialog.tsx
  web-console/src/druid-models/execution/execution.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/table-helpers.ts
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/explore-view/modules/components/generic-output-table/generic-output-table.tsx
  web-console/src/views/explore-view/modules/table-react-module.tsx
  web-console/src/views/explore-view/modules/utils/utils.spec.ts
  web-console/src/views/explore-view/modules/utils/utils.ts
  web-console/src/views/explore-view/utils/misc.ts
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/services-view/services-view.tsx
  web-console/src/views/sql-data-loader-view/schema-step/preview-table/preview-table.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.tsx
  web-console/src/views/workbench-view/result-table-pane/result-table-pane.tsx
Labels: Bug, Backport, Area - Web Console, Area - Dependencies

#16452 Web console: use objectGlob instead of filter
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-source/input-source.tsx
Labels: Bug, Area - Web Console

#16448 Fix ExpressionPredicateIndexSupplier numeric replace-with-default behavior.
  processing/src/main/java/org/apache/druid/math/expr/ExpressionPredicateIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BoundFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/NullFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/RangeFilterTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying

#16455 [Backport] Web console: use objectGlob instead of filter
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-source/input-source.tsx
Labels: Bug, Backport, Area - Web Console

#16450 [backport] Update sidebar to organize tutorials + other minor improvements (#16184)
  docs/tutorials/tutorial-jdbc.md
  docs/tutorials/tutorial-sketches-theta.md
  website/sidebars.json
Labels: Area - Documentation

#16250 Web console: fix Druid doctor check to accept Java 17
  web-console/src/dialogs/doctor-dialog/doctor-checks.tsx
  web-console/src/druid-models/flatten-spec/flatten-spec.tsx
Labels: Bug, Area - Web Console

#16461 [Backport] Web console: fix Druid doctor check to accept Java 17
  web-console/src/dialogs/doctor-dialog/doctor-checks.tsx
  web-console/src/druid-models/flatten-spec/flatten-spec.tsx
Labels: Bug, Backport, Area - Web Console

#16454 [Backport] Fix ExpressionPredicateIndexSupplier numeric replace-with-default behavior.
  processing/src/main/java/org/apache/druid/math/expr/ExpressionPredicateIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BoundFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/NullFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/RangeFilterTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying, Backport

#16457 Cleanup logic from handoff API
  docs/api-reference/supervisor-api.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/Supervisor.java
  server/src/test/java/org/apache/druid/indexing/NoopSupervisorSpecTest.java
Labels: Area - Documentation, Area - Ingestion

#16464 Add SQL DIV function.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/DivOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying, Area - SQL

#16466 fix doc typo in extension name
  docs/development/extensions-contrib/compressed-big-decimal.md
  docs/querying/sql-scalar.md
Labels: Bug, Area - Documentation

#16473 [Backport] Fix fetch of task location in SpecificTaskServiceLocator
  server/src/main/java/org/apache/druid/rpc/indexing/SpecificTaskServiceLocator.java
Labels: Bug, Backport

#16468 Use correct IT group name for the group `cds-coordinator-metadata-query-disabled` in GHA
  .github/workflows/standard-its.yml
Labels: GHA

#16458 Web console: enable copy data as inline SQL (via VALUES)
  web-console/script/create-sql-docs.js
  web-console/script/druid
  web-console/src/utils/download.ts
  web-console/src/utils/index.tsx
  web-console/src/utils/sample-query.tsx
  web-console/src/utils/table-helpers.ts
  web-console/src/utils/types.ts
  web-console/src/utils/values-query.spec.tsx
  web-console/src/utils/values-query.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
  web-console/src/views/workbench-view/execution-summary-panel/execution-summary-panel.tsx
  web-console/src/views/workbench-view/result-table-pane/result-table-pane.tsx
Labels: Area - Web Console, Area - Query UI

#16488 fix cds-coordinator-metadata-query-disabled
  .github/workflows/standard-its.yml
  integration-tests/docker/docker-compose.cds-task-schema-publish-disabled.yml
  integration-tests/docker/environment-configs/test-groups/prepopulated-data
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
Labels: GHA

#16494 Use typecasting comparator for numeric "any" aggregations.
  processing/src/main/java/org/apache/druid/query/aggregation/FloatSumAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/LongSumAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/DoubleAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/FloatAnyAggregatorFactory.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/LongAnyAggregatorFactory.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/DoubleAnyAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/FloatAnyAggregationTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/LongAnyAggregationTest.java
Labels: Bug

#16493 Web console: more robust durable storage setting detection
  docs/operations/durable-storage.md
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/utils/general.spec.ts
  web-console/src/utils/general.tsx
Labels: Bug, Area - Documentation, Area - Web Console

#16465 Add ability to turn off Druid Catalog specific validation done on catalog defined tables in Druid
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/catalog/ITCatalogIngestAndQueryTest.java
  integration-tests-ex/cases/src/test/resources/catalog/incompatibleTypeAssignmentWithValidationDisabled_select.sql
  integration-tests-ex/cases/src/test/resources/catalog/sealedWithValidationDisabled_select.sql
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/query/QueryContextsTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
Labels: Area - Querying

#16489 fix issue with auto column grouping
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
  processing/src/test/java/org/apache/druid/segment/AutoTypeColumnIndexerTest.java
  server/src/test/java/org/apache/druid/server/SpecificSegmentsQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying, Area - Segment Format and Ser/De

#16500 [Backport] fix issue with auto column grouping (#16489)
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnIndexer.java
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
  processing/src/test/java/org/apache/druid/segment/AutoTypeColumnIndexerTest.java
  server/src/test/java/org/apache/druid/server/SpecificSegmentsQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De

#16412 Druid 30.0.0 release notes
  docs/release-info/assets/30.0.0-console-search.png
  docs/release-info/assets/30.0.0-run-panel.png
  docs/release-info/assets/30.0.0-sampler-lookups.png
  docs/release-info/assets/30.0.0-supervisors.png
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
  website/.spelling
Labels: Area - Documentation

#16482 Enable reordering of window operators
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Windowing.java
  sql/src/test/resources/calcite/tests/window/WindowOpReorder.sqlTest
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16502 Throw soft exception in case of empty signature while building Scan Query
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
Labels: Area - Querying

#16508 Update azure input source docs
  docs/ingestion/input-sources.md
Labels: Area - Documentation

#16514 [Backport]Update azure input source docs (#16508)
  docs/ingestion/input-sources.md
Labels: Area - Documentation

#16513 Upgrade Delta Kernel dependency from 3.1.0 to 3.2.0
  extensions-contrib/druid-deltalake-extensions/pom.xml
  extensions-contrib/druid-deltalake-extensions/src/main/java/org/apache/druid/delta/input/DeltaInputSource.java
  extensions-contrib/druid-deltalake-extensions/src/main/java/org/apache/druid/delta/input/RowSerde.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/DeltaInputRowTest.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/DeltaTestUtils.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/RowSerdeTest.java
Labels: Area - Dependencies

#16506 Adds a migration guide overview page to the release-info section
  docs/release-info/migration-guide.md
  website/sidebars.json
Labels: Area - Documentation

#16509 Druid 30.0.0 release notes follow-up
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation

#16519 docs: Migration guide for subquery limit
  docs/release-info/migr-subquery-limit.md
  website/sidebars.json
Labels: Area - Documentation

#16512 Add limit to task payload size
  docs/configuration/index.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskQueueConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/concurrent/ConcurrentReplaceAndAppendTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/concurrent/ConcurrentReplaceAndStreamingAppendTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueScaleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
Labels: Area - Documentation, Area - Ingestion

#16496 IcebergInputSource : Add option to toggle case sensitivity while reading columns from iceberg catalog
  docs/ingestion/input-sources.md
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/HiveIcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/IcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/LocalCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/input/HiveIcebergCatalogTest.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/input/IcebergInputSourceTest.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/input/LocalCatalogTest.java
Labels: Area - Documentation, Area - Extension

#16522 Add Druid 30.0.0 upgrade notes
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation

#16526 Add PR 15705 to highlights
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation

#16491 Update front coding text
  docs/ingestion/ingestion-spec.md
  docs/release-info/migr-front-coded-dict.md
  docs/release-info/migration-guide.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#16263 docs: Adds a redirect for flatten-json which was removed
  docs/ingestion/flatten-json.md
Labels: Area - Documentation

#16520 docs: add deprecation section
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation
