Repository apache/druid, pull requests merged in 2024-08, with the labels that each got.

#16808 Add task report fields in response of SQL statements endpoint
  docs/api-reference/sql-api.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/counters/CounterSnapshotsTree.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/entity/SqlStatementResult.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/SqlStatementResourceHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/entity/SqlStatementResultTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlMSQStatementResourcePostTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Release Notes, Design Review, Area - MSQ

#16809 Web console: use stages, counters, and warnings from the new detailed status API
  web-console/src/druid-models/async-query/async-query.mock.ts
  web-console/src/druid-models/async-query/async-query.ts
  web-console/src/druid-models/execution/execution.spec.ts
  web-console/src/druid-models/execution/execution.ts
  web-console/src/druid-models/stages/stages.ts
  web-console/src/druid-models/task/task.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/helpers/execution/sql-task-execution.ts
  web-console/src/utils/download.spec.ts
  web-console/src/utils/download.ts
  web-console/src/views/workbench-view/recent-query-task-panel/recent-query-task-panel.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Web Console

#16832 Fix issues with fetching task reports in SQL statements endpoint for MiddleManager setups
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
Labels: Area - Batch Ingestion, Area - Querying, Development Blocker, Area - MSQ

#16837 Rename test builder `MSQTester.setExpectedSegment`
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQArraysTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQComplexGroupByTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQExportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - Batch Ingestion, Area - MSQ

#16691 Track and emit segment loading rate for HttpLoadQueuePeon on Coordinator
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/server/coordinator/duty/CollectSegmentAndServerStats.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/CuratorLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/HttpLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/LoadPeonCallback.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/LoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/LoadingRateTracker.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentHolder.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/CoordinatorRunStats.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/RowKey.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/Stats.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorResource.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CollectSegmentAndServerStatsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/HttpLoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/LoadingRateTrackerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/TestLoadQueuePeon.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorResourceTest.java
  website/.spelling
Labels: Area - Documentation, Area - Segment Balancing/Coordination, Needs web console change

#16822 Add `druid.indexing.formats.stringMultiValueHandlingMode` system config
  benchmarks/src/test/java/org/apache/druid/benchmark/GroupByDeserializationBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/frame/FrameChannelMergerBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlGroupByBenchmark.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQComplexGroupByTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  processing/src/main/java/org/apache/druid/data/input/impl/DimensionSchema.java
  processing/src/main/java/org/apache/druid/guice/BuiltInTypesModule.java
  processing/src/main/java/org/apache/druid/segment/DefaultColumnFormatConfig.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexTypeSerde.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWriterTest.java
  processing/src/test/java/org/apache/druid/guice/BuiltInTypesModuleTest.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedDataGroupByQueryTest.java
  processing/src/test/java/org/apache/druid/query/groupby/NestedGroupByArrayQueryTest.java
  processing/src/test/java/org/apache/druid/query/groupby/epinephelinae/column/NestedColumnGroupByColumnSelectorStrategyTest.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/NestedDataTimeseriesQueryTest.java
  processing/src/test/java/org/apache/druid/query/topn/NestedDataTopNQueryTest.java
  processing/src/test/java/org/apache/druid/segment/AutoTypeColumnIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/DefaultColumnFormatsConfigTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerV4Test.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnSchemaTest.java
  processing/src/test/java/org/apache/druid/segment/data/IncrementalIndexTest.java
  processing/src/test/java/org/apache/druid/segment/filter/ArrayContainsElementFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTests.java
  processing/src/test/java/org/apache/druid/segment/generator/SegmentGenerator.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexIngestionTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexMultiValueSpecTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierV4Test.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldColumnSelectorsTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarDoubleColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarLongColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/ScalarStringColumnSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/VariantColumnSupplierTest.java
  server/src/main/java/org/apache/druid/initialization/CoreInjectorBuilder.java
  services/src/test/java/org/apache/druid/cli/DumpSegmentTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - MSQ

#16836 Fix NPE while converting SCALAR_IN_ARRAY to DimFilter
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ScalarInArrayOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
Labels: Area - Querying

#16835 Add metrics for number of rows/bytes materialized while running subqueries
  docs/operations/metrics.md
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  server/src/test/java/org/apache/druid/server/SpecificSegmentsQuerySegmentWalker.java
Labels: Area - Documentation, Release Notes, Area - Metrics/Event Emitting

#16825 Don't use ComplexMetricExtractor to fetch the class of the object in field readers
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQComplexGroupByTest.java
  processing/src/main/java/org/apache/druid/frame/field/ComplexFieldReader.java
  processing/src/main/java/org/apache/druid/frame/read/columnar/ComplexFrameColumnReader.java
Labels: Area - Batch Ingestion, Area - MSQ

#16829 Add indexer task success and failure metrics
  docs/operations/metrics.md
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  indexing-service/src/main/java/org/apache/druid/indexing/worker/WorkerTaskManager.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskManagerTest.java
  server/src/main/java/org/apache/druid/server/metrics/IndexerTaskCountStatsProvider.java
  server/src/main/java/org/apache/druid/server/metrics/WorkerTaskCountStatsMonitor.java
  server/src/test/java/org/apache/druid/server/metrics/WorkerTaskCountStatsMonitorTest.java
Labels: Area - Documentation, Area - Metrics/Event Emitting, Area - Ingestion

#16839 Memoize the redundant calls to overlord in sql statements endpoint
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16624 Quidem record
  .gitignore
  benchmarks/src/test/java/org/apache/druid/benchmark/query/InPlanningBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlGroupByBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlVsNativeBenchmark.java
  dev/quidem
  extensions-contrib/compressed-bigdecimal/pom.xml
  extensions-contrib/tdigestsketch/pom.xml
  extensions-core/datasketches/pom.xml
  extensions-core/druid-bloom-filter/pom.xml
  extensions-core/druid-catalog/pom.xml
  extensions-core/histogram/pom.xml
  extensions-core/multi-stage-query/pom.xml
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/ResultsContextSerdeTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/stats/pom.xml
  extensions-core/testing-tools/pom.xml
  pom.xml
  quidem-ut/README.md
  quidem-ut/pom.xml
  quidem-ut/src/main/java/org/apache/druid/quidem/ExposedAsBrokerQueryComponentSupplierWrapper.java
  quidem-ut/src/main/java/org/apache/druid/quidem/Launcher.java
  quidem-ut/src/main/java/org/apache/druid/quidem/QuidemCaptureModule.java
  quidem-ut/src/main/java/org/apache/druid/quidem/QuidemCaptureResource.java
  quidem-ut/src/main/java/org/apache/druid/quidem/QuidemRecorder.java
  quidem-ut/src/test/java/org/apache/druid/quidem/LauncherSmokeTest.java
  quidem-ut/src/test/java/org/apache/druid/quidem/QTest.java
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/example.iq
  server/src/main/java/org/apache/druid/server/StatusResource.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerHook.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerToolbox.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
  sql/src/main/java/org/apache/druid/sql/hook/DruidHook.java
  sql/src/main/java/org/apache/druid/sql/hook/DruidHookDispatcher.java
  sql/src/test/java/org/apache/druid/quidem/DruidAvaticaDriverTest.java
  sql/src/test/java/org/apache/druid/quidem/DruidAvaticaTestDriver.java
  sql/src/test/java/org/apache/druid/quidem/DruidConnectionExtras.java
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemCommandHandler.java
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemTestBase.java
  sql/src/test/java/org/apache/druid/quidem/EnabledOnlyInSqlCompatibleMode.java
  sql/src/test/java/org/apache/druid/quidem/SqlQuidemTest.java
  sql/src/test/java/org/apache/druid/sql/SqlStatementTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlTestFrameworkConfig.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlTestFrameworkConfigTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/external/ExternalTableScanRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/run/DruidHookTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Dependencies, Area - MSQ

#16736 Fix Druid Console cannot open submit supervisor dialog
  web-console/src/console-application.tsx
Labels: Bug, Area - Web Console

#16598 Web console: Add columnMapping information to the Explain dialog
  web-console/src/utils/druid-query.ts
  web-console/src/views/workbench-view/explain-dialog/__snapshots__/explain-dialog.spec.tsx.snap
  web-console/src/views/workbench-view/explain-dialog/explain-dialog.spec.tsx
  web-console/src/views/workbench-view/explain-dialog/explain-dialog.tsx
Labels: Area - Web Console

#16833 Set default bound to CURRENT ROW in validate window clause
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/test/resources/calcite/tests/window/defaultBoundCurrentRow.sqlTest
Labels: Area - Querying

#16804 MSQ window functions: Fix query correctness issues when using multiple workers
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
  processing/src/main/java/org/apache/druid/query/operator/window/ranking/WindowRowNumberProcessor.java
  processing/src/test/java/org/apache/druid/query/operator/window/ranking/WindowRowNumberProcessorTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#16841 SQL: Add ProjectableFilterableTable to SegmentsTable.
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
Labels: Performance, Area - Querying, Area - SQL

#16816 Do not create ZK paths if not needed
  docs/configuration/index.md
  docs/design/zookeeper.md
  server/src/main/java/org/apache/druid/curator/ZkEnablementConfig.java
  server/src/main/java/org/apache/druid/guice/ServerViewModule.java
  server/src/main/java/org/apache/druid/server/coordination/ZkCoordinator.java
  server/src/main/java/org/apache/druid/server/initialization/ZkPathsConfig.java
  server/src/test/java/org/apache/druid/initialization/ZkPathsConfigTest.java
  server/src/test/java/org/apache/druid/server/coordination/ZkCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/README.md
Labels: Area - Documentation, Incompatible, Release Notes

#16846 Do not support non-idempotent aggregator in MSQ compaction
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQCompactionRunner.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQCompactionRunnerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/NativeCompactionRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  server/src/main/java/org/apache/druid/client/indexing/ClientCompactionRunnerInfo.java
  server/src/main/java/org/apache/druid/segment/indexing/CombinedDataSchema.java
  server/src/test/java/org/apache/druid/client/indexing/ClientCompactionRunnerInfoTest.java
  server/src/test/java/org/apache/druid/segment/indexing/DataSchemaTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

#16775 SuperSorter: direct merging, increased parallelism.
  processing/src/main/java/org/apache/druid/frame/processor/FrameChannelMerger.java
  processing/src/main/java/org/apache/druid/frame/processor/SuperSorter.java
  processing/src/test/java/org/apache/druid/frame/processor/SuperSorterTest.java
Labels: Performance

#16840 Kinesis input format docs
  docs/ingestion/data-formats.md
  docs/ingestion/kinesis-ingestion.md
Labels: Area - Documentation, Needs web console change

#16826 [docs] fixes to sql-scalar.md
  docs/querying/sql-scalar.md
Labels: Area - Documentation

#16660 Update doc for dynamic parameters supporting array
  docs/api-reference/sql-api.md
  docs/api-reference/sql-jdbc.md
  docs/querying/sql.md
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Metrics/Event Emitting, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Web Console, Area - Dependencies, Kubernetes, Area - Ingestion, Area - MSQ, GHA

#16831 Add config for http client connect timeout
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/guice/http/DruidHttpClientConfig.java
  server/src/main/java/org/apache/druid/guice/http/JettyHttpClientModule.java
Labels: Area - Documentation, Area - Operations

#16850 Web console: support kinesis input format
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-format/input-format.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Streaming Ingestion, Area - Web Console

#16852 Updated the Concurrent Append and Replace document. Per checking, SQL…
  docs/ingestion/concurrent-append-replace.md
Labels: Area - Documentation

#16834 Fix Concurrent Task Insertion in pendingCompletionTaskGroups
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Ingestion

#16798 Add ability to run MSQ in Quidem tests
  extensions-core/multi-stage-query/pom.xml
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQResultsReport.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDrillWindowQueryTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/TestMSQSqlModule.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/quidem/MSQQuidemTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteArraysQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteNestedDataQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectJoinQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteUnionQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/ExtractResultsFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/StandardMSQComponentSupplier.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/sql/avatica/MSQDruidMeta.java
  extensions-core/multi-stage-query/src/test/quidem/org.apache.druid.msq.quidem.MSQQuidemTest/msq1.iq
  quidem-ut/README.md
  quidem-ut/src/main/java/org/apache/druid/quidem/ExposedAsBrokerQueryComponentSupplierWrapper.java
  quidem-ut/src/main/java/org/apache/druid/quidem/QuidemRecorder.java
  server/src/main/java/org/apache/druid/server/security/AuthenticationResult.java
  server/src/test/java/org/apache/druid/initialization/AuthenticationResultTest.java
  sql/src/main/java/org/apache/druid/sql/SqlQueryPlus.java
  sql/src/main/java/org/apache/druid/sql/avatica/AbstractDruidJdbcStatement.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidJdbcStatement.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/main/java/org/apache/druid/sql/calcite/aggregation/builtin/CountSqlAggregator.java
  sql/src/main/java/org/apache/druid/sql/hook/DruidHook.java
  sql/src/test/java/org/apache/druid/quidem/DruidAvaticaTestDriver.java
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemCommandHandler.java
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemTestBase.java
  sql/src/test/java/org/apache/druid/quidem/TestSqlModule.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTestBase.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Dependencies, Area - MSQ

#16869 Fix Druid table schema resolution when table defined in catalog and has schema manager
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchema.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/DruidSchemaManager.java
Labels: Area - Querying

#16865 Fix IndexOutOfBoundsException for MSQ window function queries with empty RAC
  processing/src/main/java/org/apache/druid/query/rowsandcols/ConcatRowsAndColumns.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/ConcatRowsAndColumnsTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/resources/drill/window/queries/druid_queries/empty_over_clause/single_empty_over_3.e
  sql/src/test/resources/drill/window/queries/druid_queries/empty_over_clause/single_empty_over_3.q
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16844 Check if supervisor could be idle on startup
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractStreamIndexingTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorStateManager.java
Labels: Area - Streaming Ingestion, Area - Ingestion

#16868 Web console: Server context defaults
  licenses.yaml
  web-console/console-config.js
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/console-application.tsx
  web-console/src/druid-models/query-context/query-context.tsx
  web-console/src/entry.tsx
  web-console/src/helpers/execution/sql-task-execution.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/values-query.spec.tsx
  web-console/src/utils/values-query.tsx
  web-console/src/views/sql-data-loader-view/sql-data-loader-view.tsx
  web-console/src/views/workbench-view/max-tasks-button/max-tasks-button.spec.tsx
  web-console/src/views/workbench-view/max-tasks-button/max-tasks-button.tsx
  web-console/src/views/workbench-view/query-tab/query-tab.tsx
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Web Console, Area - Dependencies

#16870 Use fuzzy matchers for compaction bytes asserts.
  integration-tests/pom.xml
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
Labels: Area - Testing

#16882 [Docs]: Fix typo and update broadcast rules section
  docs/multi-stage-query/reference.md
  docs/operations/rule-configuration.md
Labels: Area - Documentation

#16884 Handle Delta StructType, ArrayType and MapType
  extensions-contrib/druid-deltalake-extensions/src/main/java/org/apache/druid/delta/input/DeltaInputRow.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/ComplexTypesDeltaTable.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/DeltaInputRowTest.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/DeltaInputSourceTest.java
  extensions-contrib/druid-deltalake-extensions/src/test/resources/README.md
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/.part-00000-f4353008-5e85-4a53-9b74-0cc7b853103a-c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/.part-00001-01efecb8-5771-4e91-834e-2a1cb6601eb8-c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/.part-00003-383f5a97-c624-4ef3-82a4-f3f273308e53-c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/.part-00005-febee455-5e89-404a-bb38-f627c47eb20b-c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/.part-00007-07d88387-16f9-4141-bc77-0106e7f28f7a-c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/.part-00009-73760316-7ace-43fe-b605-506c942cd969-c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/_delta_log/.00000000000000000000.json.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/_delta_log/00000000000000000000.json
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/part-00000-f4353008-5e85-4a53-9b74-0cc7b853103a-c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/part-00001-01efecb8-5771-4e91-834e-2a1cb6601eb8-c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/part-00003-383f5a97-c624-4ef3-82a4-f3f273308e53-c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/part-00005-febee455-5e89-404a-bb38-f627c47eb20b-c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/part-00007-07d88387-16f9-4141-bc77-0106e7f28f7a-c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/complex-types-table/part-00009-73760316-7ace-43fe-b605-506c942cd969-c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/create_delta_table.py
Labels: Area - Dependencies

#16886 Remove Query ID verification check from MSQ workers
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/StageId.java
Labels: Area - Batch Ingestion, Area - MSQ

#16898 Web console: bump axios to 1.7.4 to resolve CVE-2024-39338
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
Labels: Area - Web Console, Area - Dependencies

#16899 Web console: add useConcurrentLocks context toggle
  web-console/src/druid-models/query-context/query-context.tsx
  web-console/src/views/workbench-view/run-panel/__snapshots__/run-panel.spec.tsx.snap
  web-console/src/views/workbench-view/run-panel/run-panel.spec.tsx
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
Labels: Area - Web Console

#16897 Fix NPE in ArrayListRowsAndColumns when intermediate column is not found
  processing/src/main/java/org/apache/druid/query/rowsandcols/ArrayListRowsAndColumns.java
  sql/src/test/resources/calcite/tests/window/arrayConcatAgg.sqlTest
Labels: Area - Querying

#16902 Migration guide fixes
  docs/release-info/migr-ansi-sql-null.md
Labels: Area - Documentation

#16843 Added a topic listing reserved keywords
  docs/querying/sql.md
  website/.spelling
Labels: Area - Documentation

#16904 Removed deprecated deep storage properties
  docs/development/extensions-core/s3.md
Labels: Area - Documentation

#16871 [Docs] Batch08: adding examples to string functions
  docs/querying/sql-functions.md
  docs/querying/sql-scalar.md
Labels: Area - Documentation

#16864 Add support for a custom `DimensionSchema` in `DataSourceMSQDestination`
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQCompactionRunner.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQParseExceptionsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQCompactionRunnerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQControllerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestinationTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/SqlStatementResourceHelperTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16845 [Docs] updating transformation during ingestion tutorial
  docs/tutorials/tutorial-transform-spec.md
  docs/tutorials/tutorial-transform.md
  website/redirects.js
  website/sidebars.json
Labels: Area - Documentation

#16586 Web console: expose handoff API
  web-console/src/ace-modes/dsql.ts
  web-console/src/dialogs/index.ts
  web-console/src/dialogs/task-group-handoff-dialog/task-group-handoff-dialog.tsx
  web-console/src/views/supervisors-view/__snapshots__/supervisors-view.spec.tsx.snap
  web-console/src/views/supervisors-view/supervisors-view.tsx
  web-console/src/views/workbench-view/flexible-query-input/flexible-query-input.tsx
Labels: Area - Streaming Ingestion, Area - Web Console, stale

#16915 SQL: Fix nullable DATE, TIMESTAMP reduction.
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
Labels: Bug, Area - Querying

#16907 Fix flaky test in ParallelMergeCombiningSequenceTest
  processing/src/test/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequenceTest.java
Labels: Flaky test

#16906 Propagate TooManyRowsInAWindowFault error message properly to the user
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#16910 Web console: fix collapsing in column tree
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/views/explore-view/modules/multi-axis-chart-echarts-module.ts
  web-console/src/views/explore-view/modules/pie-chart-echarts-module.ts
  web-console/src/views/explore-view/modules/time-chart-echarts-module.ts
  web-console/src/views/workbench-view/column-tree/column-tree.spec.tsx
  web-console/src/views/workbench-view/column-tree/column-tree.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Bug, Area - Web Console, Area - Dependencies

#16918 Remove cachingCost strategy runtime properties
  docs/configuration/index.md
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
Labels: Area - Documentation

#16909 Change dimensionToSchemaMap to dimensionSchemas and override ARRAY_INGEST_MODE to array in compaction
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQCompactionRunner.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestination.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestinationTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#16917 remove isDescending from Query interface, move to TimeseriesQuery
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/MaterializedViewQuery.java
  processing/src/main/java/org/apache/druid/query/BaseQuery.java
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/search/SearchQuery.java
  processing/src/main/java/org/apache/druid/query/select/SelectQuery.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQuery.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQuery.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  server/src/main/java/org/apache/druid/server/log/LoggingRequestLogger.java
  server/src/test/java/org/apache/druid/server/log/LoggingRequestLoggerTest.java
Labels: Release Notes

#16890 Filter out tombstone segments from metadata cache
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De

#16927 Add docs for log audit manager
  docs/configuration/index.md
Labels: Area - Documentation

#16922 Update index.md - remove the extra word "does" from one sentence.
  docs/configuration/index.md
Labels: Area - Documentation

#16854 MSQ window function: Take segment granularity into consideration to fix NPE issues with ingestion
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryKit.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
  sql/src/test/resources/drill/window/queries/lag_func/lag_Fn_18.q
  sql/src/test/resources/drill/window/queries/lead_func/lead_Fn_18.q
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16928 SuperSorter: Store readOnly output channels.
  processing/src/main/java/org/apache/druid/frame/processor/SuperSorter.java
Labels: Bug, Area - MSQ

#16935 Enable MSQ WF drill tests which were previously disabled
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
Labels: Area - Querying

#16938 Loosen case in FrameFileWriterTest.
  processing/src/test/java/org/apache/druid/frame/file/FrameFileWriterTest.java
Labels: Area - Testing, Flaky test

#16480 Add type coercion and null check to left, right, repeat exprs.
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
Labels: Bug, Area - Querying

#16862 [Docs] Batch07: adding examples to string functions
  docs/querying/sql-functions.md
  docs/querying/sql-scalar.md
Labels: Area - Documentation

#16934 Track IngestionState more accurately in realtime tasks.
  docs/ingestion/tasks.md
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
Labels: Bug, Area - Documentation, Area - Streaming Ingestion, Area - Ingestion

#16878 [Docs] Batch09: only `lookup`
  docs/querying/sql-functions.md
  docs/querying/sql-scalar.md
Labels: Area - Documentation

#16932 fix flaky ParallelMergeCombiningSequenceTest.testTimeoutExceptionDueToStoppedReader when runner is very slow
  processing/src/test/java/org/apache/druid/java/util/common/guava/ParallelMergeCombiningSequenceTest.java
Labels: Flaky test

#16942 fix ipv4_parse function return type in SQL to be bigint instead of integer
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/IPv4AddressParseOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying, Area - SQL

#16876 Updated auth to use variables with default values
  docs/api-reference/sql-ingestion-api.md
Labels: Area - Documentation

#16900 [docs] Batch10 date and time functions
  docs/querying/sql-functions.md
  docs/querying/sql-scalar.md
Labels: Area - Documentation

#16943 Use controller ID while reading from durable storage
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/RunWorkOrder.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#16950 Remove all references to chatAsync
  docs/development/extensions-contrib/rabbit-stream-ingestion.md
  docs/ingestion/kafka-ingestion.md
  extensions-contrib/rabbit-stream-indexing-service/src/main/java/org/apache/druid/indexing/rabbitstream/supervisor/RabbitStreamSupervisorTuningConfig.java
  extensions-contrib/rabbit-stream-indexing-service/src/test/java/org/apache/druid/indexing/rabbitstream/RabbitStreamIndexTaskTuningConfigTest.java
  extensions-contrib/rabbit-stream-indexing-service/src/test/java/org/apache/druid/indexing/rabbitstream/supervisor/RabbitStreamSupervisorTest.java
  extensions-contrib/rabbit-stream-indexing-service/src/test/java/org/apache/druid/indexing/rabbitstream/supervisor/RabbitStreamSupervisorTuningConfigTest.java
Labels: Area - Documentation

#16883 Linked back to query granularity docs
  docs/design/storage.md
  docs/ingestion/ingestion-spec.md
  docs/querying/granularities.md
Labels: Area - Documentation

#16842 docs: update query from deepstorage segment requirement
  docs/configuration/index.md
  docs/querying/query-from-deep-storage.md
  docs/tutorials/tutorial-query-deep-storage.md
  website/.spelling
Labels: Area - Documentation

#16949 Use multiple workers in MSQ WF drill test suite
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/resources/drill/window/queries/druid_queries/over_clause_only_sorting/multiple_over_different_sort_column.e
  sql/src/test/resources/drill/window/queries/druid_queries/over_clause_only_sorting/multiple_over_different_sort_column.q
  sql/src/test/resources/drill/window/queries/druid_queries/over_clause_only_sorting/multiple_over_multiple_sort_columns_2.e
  sql/src/test/resources/drill/window/queries/druid_queries/over_clause_only_sorting/multiple_over_multiple_sort_columns_2.q
  sql/src/test/resources/drill/window/queries/druid_queries/over_clause_only_sorting/multiple_over_same_sort_column.e
  sql/src/test/resources/drill/window/queries/druid_queries/over_clause_only_sorting/multiple_over_same_sort_column.q
  sql/src/test/resources/drill/window/queries/druid_queries/over_clause_only_sorting/single_over_1.e
  sql/src/test/resources/drill/window/queries/druid_queries/over_clause_only_sorting/single_over_1.q
  sql/src/test/resources/drill/window/queries/druid_queries/over_clause_only_sorting/single_over_multiple_sort_columns.q
  sql/src/test/resources/drill/window/queries/druid_queries/partition_by_array/wikipedia_query_1.e
  sql/src/test/resources/drill/window/queries/druid_queries/partition_by_array/wikipedia_query_1.q
  sql/src/test/resources/drill/window/queries/druid_queries/shuffle_columns/wikipedia_query_2.q
  sql/src/test/resources/drill/window/queries/druid_queries/shuffle_columns/wikipedia_query_2_shuffle_1.q
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16948 Add supervisor log when task count is greater than partitions
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Ingestion

#16958 Place __time in signatures according to sort order.
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/sampler/InputSourceSampler.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryEngine.java
  processing/src/main/java/org/apache/druid/segment/FilteredStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/StorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/UnnestStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnType.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapter.java
  processing/src/main/java/org/apache/druid/segment/join/table/BroadcastSegmentIndexedTable.java
  processing/src/test/java/org/apache/druid/frame/key/KeyTestUtils.java
  processing/src/test/java/org/apache/druid/query/lookup/LookupSegmentTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerTestBase.java
  processing/src/test/java/org/apache/druid/segment/join/HashJoinSegmentStorageAdapterTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/BroadcastSegmentIndexedTableTest.java
  server/src/main/java/org/apache/druid/segment/realtime/sink/Sink.java
Labels: Area - Batch Ingestion, Area - Segment Format and Ser/De, Area - Ingestion, Area - MSQ

#16699 Add configurable final stages to MSQ ingestion queries
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQSqlModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQTerminalStageSpecFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQCompactionRunner.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestination.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/SegmentGenerationStageSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/SegmentGenerationUtils.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/TerminalStageSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/PassthroughAggregatorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQParseExceptionsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQCompactionRunnerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQControllerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestinationTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestDelegateDataSegmentPusher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/SqlStatementResourceHelperTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16961 MSQ: Fix validation of time position in collations.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/DimensionsSpec.java
Labels: Bug, Area - Batch Ingestion, Area - Querying, Area - MSQ

#16964 Add dynamic query params example
  docs/querying/sql.md
Labels: Area - Documentation

#16955 Docs: note on iceberg
  docs/development/extensions-contrib/iceberg.md
Labels: Area - Documentation

#16963 Disable automatic search refresh every for keystroke
  web-console/src/react-table/react-table-inputs.tsx
Labels: Area - Web Console

#16823 MSQ WF: Batch multiple PARTITION BY keys for processing
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/FrameProcessorTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/results/QueryResultsFrameProcessorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorTest.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/MapOfColumnsRowsAndColumns.java
Labels: Area - Batch Ingestion, Area - MSQ

#16969 docs: fix the case of the s3 examples for msq
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

#16967 Web console: expose forceSegmentSortByTime
  docs/operations/web-console.md
  docs/tutorials/tutorial-sql-query-view.md
  web-console/src/components/index.ts
  web-console/src/components/menu-boolean/__snapshots__/menu-boolean.spec.tsx.snap
  web-console/src/components/menu-boolean/menu-boolean.spec.tsx
  web-console/src/components/menu-boolean/menu-boolean.tsx
  web-console/src/druid-models/dimension-spec/dimension-spec.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/query-context/query-context.tsx
  web-console/src/entry.scss
  web-console/src/helpers/spec-conversion.ts
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/load-data-view/schema-table/schema-table.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
  web-console/src/views/sql-data-loader-view/sql-data-loader-view.tsx
  web-console/src/views/workbench-view/max-tasks-button/__snapshots__/max-tasks-button.spec.tsx.snap
  web-console/src/views/workbench-view/max-tasks-button/max-tasks-button.tsx
  web-console/src/views/workbench-view/run-panel/__snapshots__/run-panel.spec.tsx.snap
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
Labels: Area - Documentation, Area - Web Console, Area - Ingestion

#16976 Change Inspection Profile to set "Method is identical to its super method" as error
  .idea/inspectionProfiles/Druid.xml
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/LegacySinglePhaseSubTask.java
  integration-tests-ex/tools/src/main/java/org/apache/druid/testing/tools/CustomNodeRoleClientModule.java
  integration-tests-ex/tools/src/main/java/org/apache/druid/testing/tools/SleepModule.java
  processing/src/main/java/org/apache/druid/math/expr/ConstantExpr.java
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/main/java/org/apache/druid/query/aggregation/CountBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/NoopBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/BufferHashGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/DictionaryMergingIterator.java
  processing/src/main/java/org/apache/druid/segment/SimpleDictionaryMergingIterator.java
  processing/src/main/java/org/apache/druid/segment/column/StringUtf8DictionaryEncodedColumn.java
  processing/src/main/java/org/apache/druid/segment/join/table/FrameBasedIndexedTable.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  server/src/main/java/org/apache/druid/catalog/model/table/DatasourceDefn.java
Labels: Area - Segment Format and Ser/De, Area - Ingestion

#16895 fix extraction of timeseries results from result level cache
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChestTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Bug, Area - Querying
