Repository apache/druid, pull requests merged in 2024-09, with the labels that each got.

#16946 Planning could have failed if UNION ALL operator was completely removed
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorHolder.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CastOperatorConversion.java
  sql/src/test/quidem/org.apache.druid.quidem.SqlQuidemTest/union_removed_branch_union_nulls.iq
Labels: Area - Querying, Area - Segment Format and Ser/De

#16971 Fix issues with window functions wrt virtual columns when using ARRAY_CONCAT_AGG aggregator
  sql/src/main/java/org/apache/druid/sql/calcite/rel/InputAccessor.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/multiple_partition_columns_1.e
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/multiple_partition_columns_1.q
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/single_partition_column_1.e
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/single_partition_column_1.q
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/single_partition_column_2.e
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/single_partition_column_2.q
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/single_partition_column_3.e
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/single_partition_column_3.q
Labels: Area - Querying

#16983 Window Functions : Numeric Arrays Frame Column Writers - fix class cast exception
  processing/src/main/java/org/apache/druid/frame/write/columnar/DoubleArrayFrameColumnWriter.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/FloatArrayFrameColumnWriter.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/LongArrayFrameColumnWriter.java
  sql/src/test/resources/calcite/tests/window/arrayAggWithOrderBy.sqlTest
Labels: Area - Querying

#16911 MSQ: Add limitHint to global-sort shuffles.
  codestyle/spotbugs-exclude.xml
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/RunWorkOrder.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/GlobalSortMaxCountShuffleSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/HashShuffleSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/LimitHintJsonIncludeFilter.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/ShuffleSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/ShuffleSpecFactories.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryKit.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/report/MSQTaskReportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/QueryDefinitionTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/StageDefinitionTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/controller/MockQueryDefinitionBuilder.java
  processing/src/main/java/org/apache/druid/frame/processor/FrameChannelMerger.java
  processing/src/main/java/org/apache/druid/frame/processor/SuperSorter.java
  processing/src/test/java/org/apache/druid/frame/processor/SuperSorterTest.java
Labels: Performance, Area - Batch Ingestion, Area - MSQ

#16992 Update Documentation on meregeBuffer/pendingRequests for Real-time nodes
  docs/operations/metrics.md
Labels: Area - Documentation

#16993 Fix logical merge conflict in SuperSorterTest.
  processing/src/test/java/org/apache/druid/frame/processor/SuperSorterTest.java
Labels: Development Blocker

#16995 remove compiler warnings about unqualified calls to yield()
  processing/src/test/java/org/apache/druid/common/guava/CombiningSequenceTest.java
  processing/src/test/java/org/apache/druid/common/guava/ComplexSequenceTest.java
  processing/src/test/java/org/apache/druid/java/util/common/guava/ConcatSequenceTest.java
  processing/src/test/java/org/apache/druid/java/util/common/guava/LimitedSequenceTest.java
  processing/src/test/java/org/apache/druid/java/util/common/guava/SequenceTestHelper.java
  processing/src/test/java/org/apache/druid/java/util/common/guava/SkippingSequenceTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
Labels: Area - Dev

#16981 Create fewer temporary maps when querying sys.segments.
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
Labels: Performance, Area - Querying, Area - SQL

#16937 Enable rollup on multi-value dimensions for compaction with MSQ engine
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQCompactionRunner.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQCompactionRunnerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/resources/data/batch_index/json/wikipedia_index_data1.json
  integration-tests/src/test/resources/data/batch_index/json/wikipedia_index_data2.json
  integration-tests/src/test/resources/data/batch_index/json/wikipedia_index_data3.json
  integration-tests/src/test/resources/indexer/wikipedia_index_task.json
  server/src/main/java/org/apache/druid/segment/indexing/CombinedDataSchema.java
  server/src/test/java/org/apache/druid/segment/indexing/DataSchemaTest.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

#17001 Docs - fix spelling error
  docs/assets/druid-architecture.svg
Labels: Area - Documentation

#16977 Replace DSQL in ingestion examples with SQL query to match transform examples
  docs/tutorials/tutorial-ingestion-spec.md
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Web Console, Area - Ingestion, Area - MSQ

#16933 Remove migrated deep storage standard ITs
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITAzureToAzureParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITGcsToGcsParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITS3ToS3ParallelIndexTest.java
Labels: Area - Segment Format and Ser/De

#17005 Middle Manager wording update in docs
  docs/api-reference/service-status-api.md
  docs/configuration/index.md
  docs/design/architecture.md
  docs/design/indexer.md
  docs/design/indexing-service.md
  docs/design/metadata-storage.md
  docs/design/middlemanager.md
  docs/design/overlord.md
  docs/design/peons.md
  docs/design/storage.md
  docs/design/zookeeper.md
  docs/development/extensions-contrib/gce-extensions.md
  docs/development/extensions-contrib/prometheus.md
  docs/development/extensions-core/s3.md
  docs/ingestion/hadoop.md
  docs/ingestion/index.md
  docs/ingestion/input-sources.md
  docs/ingestion/kafka-ingestion.md
  docs/ingestion/kinesis-ingestion.md
  docs/ingestion/native-batch.md
  docs/ingestion/streaming.md
  docs/ingestion/supervisor.md
  docs/ingestion/tasks.md
  docs/operations/basic-cluster-tuning.md
  docs/operations/other-hadoop.md
  docs/operations/rolling-updates.md
  docs/querying/groupbyquery.md
  docs/querying/query-execution.md
  docs/querying/query-processing.md
  docs/release-info/upgrade-notes.md
  docs/tutorials/cluster.md
Labels: Area - Documentation

#17006 Fix compaction status API response
  indexing-service/src/main/java/org/apache/druid/indexing/compact/LocalOverlordClient.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordCompactionResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordCompactionResourceTest.java
  processing/src/test/java/org/apache/druid/error/DruidExceptionMatcher.java
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClient.java
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClientImpl.java
  server/src/main/java/org/apache/druid/server/compaction/CompactionProgressResponse.java
  server/src/main/java/org/apache/druid/server/compaction/CompactionRunSimulator.java
  server/src/main/java/org/apache/druid/server/compaction/CompactionStatusResponse.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorCompactionResource.java
  server/src/test/java/org/apache/druid/client/indexing/NoopOverlordClient.java
  server/src/test/java/org/apache/druid/rpc/indexing/OverlordClientImplTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionResourceTest.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  services/src/main/java/org/apache/druid/guice/SupervisorCleanupModule.java
Labels: Area - Ingestion

#17008 Web console: better tooltip when no size is available
  web-console/src/views/datasources-view/__snapshots__/datasources-view.spec.tsx.snap
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/services-view/services-view.tsx
  web-console/src/views/workbench-view/execution-stages-pane/execution-stages-pane.tsx
Labels: Area - Web Console

#16930 [docs] batch 12: reduction functions
  docs/querying/sql-functions.md
Labels: Area - Documentation

#16994 Frame writers: Coerce numeric and array types in certain cases.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPostShuffleFrameProcessor.java
  integration-tests-ex/cases/src/test/resources/catalog/incompatibleTypeAssignmentWithValidationDisabled_select.sql
  processing/src/main/java/org/apache/druid/frame/field/FieldWriters.java
  processing/src/main/java/org/apache/druid/frame/field/NumericArrayFieldSelector.java
  processing/src/main/java/org/apache/druid/frame/field/NumericArrayFieldWriter.java
  processing/src/main/java/org/apache/druid/frame/write/FrameWriterUtils.java
  processing/src/main/java/org/apache/druid/frame/write/cast/ObjectToArrayColumnValueSelector.java
  processing/src/main/java/org/apache/druid/frame/write/cast/ObjectToNumberColumnValueSelector.java
  processing/src/main/java/org/apache/druid/frame/write/cast/TypeCastSelectors.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/FrameColumnWriters.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/NumericArrayFrameColumnWriter.java
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/test/java/org/apache/druid/frame/field/StringArrayFieldWriterTest.java
  processing/src/test/java/org/apache/druid/frame/field/StringFieldReaderTest.java
  processing/src/test/java/org/apache/druid/frame/write/cast/TypeCastSelectorsTest.java
Labels: Bug, Area - Batch Ingestion, Area - Segment Format and Ser/De, Area - MSQ

#17010 Fix English mistakes in Schema Design
  docs/ingestion/schema-design.md
Labels: Area - Documentation

#16947 [docs] Batch13 IP functions
  docs/querying/sql-functions.md
Labels: Area - Documentation

#16926 [docs] Batch11 date and time functions
  docs/querying/sql-functions.md
  docs/querying/sql-scalar.md
Labels: Area - Documentation

#17007 Docs - Update the architecture diagram
  docs/assets/druid-architecture.svg
Labels: Area - Documentation

#17019 [docs] reverting changes for sql-functions.md
  docs/querying/sql-functions.md
Labels: Area - Documentation

#17011 fix bug with CastOperatorConversion with types which cannot be mapped to native druid types
  processing/src/main/java/org/apache/druid/math/expr/ExpressionTypeConversion.java
  processing/src/test/java/org/apache/druid/math/expr/OutputTypeTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/CastOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Bug, Area - Querying, Area - SQL

#16986 Revert "[CVE Fixes] Update version of Nimbus.jose.jwt"
  extensions-core/druid-pac4j/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#16987 Compute `range` partitionsSpec using effective `maxRowsPerSegment`
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQCompactionRunner.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQCompactionRunnerTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  server/src/main/java/org/apache/druid/server/compaction/CompactionStatus.java
  server/src/test/java/org/apache/druid/server/compaction/CompactionStatusTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#16970 Add framework for running MSQ tests with taskSpec instead of SQL
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - Batch Ingestion, Area - MSQ

#17016 Set response type `application/json` in CustomExceptionMapper to return correct failure message
  server/src/main/java/org/apache/druid/server/initialization/jetty/CustomExceptionMapper.java
Labels: Area - Ingestion

#17002 Window Functions : Reject MVDs during window processing
  processing/src/main/java/org/apache/druid/query/rowsandcols/ArrayListRowsAndColumns.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
Labels: Area - Querying

#17004 Support for reading Delta Lake table snapshots
  docs/development/extensions-contrib/delta-lake.md
  docs/ingestion/input-sources.md
  extensions-contrib/druid-deltalake-extensions/src/main/java/org/apache/druid/delta/input/DeltaInputSource.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/DeltaInputRowTest.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/DeltaInputSourceSerdeTest.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/DeltaInputSourceTest.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/RowSerdeTest.java
  extensions-contrib/druid-deltalake-extensions/src/test/java/org/apache/druid/delta/input/SnapshotDeltaTable.java
  extensions-contrib/druid-deltalake-extensions/src/test/resources/README.md
  extensions-contrib/druid-deltalake-extensions/src/test/resources/create_delta_table.py
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/_delta_log/.00000000000000000000.json.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/_delta_log/.00000000000000000001.json.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/_delta_log/.00000000000000000002.json.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/_delta_log/.00000000000000000003.json.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/_delta_log/00000000000000000000.json
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/_delta_log/00000000000000000001.json
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/_delta_log/00000000000000000002.json
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/_delta_log/00000000000000000003.json
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=0/.part-00003-8610110f-f5a0-4856-a5a8-516e5b35ef44.c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=0/part-00003-8610110f-f5a0-4856-a5a8-516e5b35ef44.c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=1/.part-00004-a614b691-2e73-4603-92a8-92ec51e4bdb9.c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=1/.part-00006-120df0a3-1c7a-4a2e-81aa-7bc8140b0f09.c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=1/part-00004-a614b691-2e73-4603-92a8-92ec51e4bdb9.c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=1/part-00006-120df0a3-1c7a-4a2e-81aa-7bc8140b0f09.c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=2/.part-00000-bffba8b9-3388-4c46-b2ca-db8d7288d345.c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=2/.part-00009-246861b8-01b0-446c-b4f1-ab0c2e762044.c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=2/part-00000-bffba8b9-3388-4c46-b2ca-db8d7288d345.c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=2/part-00009-246861b8-01b0-446c-b4f1-ab0c2e762044.c000.snappy.parquet
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=4/.part-00009-d3e45f07-7843-4b3d-8d6c-dd90dd3db251.c000.snappy.parquet.crc
  extensions-contrib/druid-deltalake-extensions/src/test/resources/snapshot-table/id=4/part-00009-d3e45f07-7843-4b3d-8d6c-dd90dd3db251.c000.snappy.parquet
  website/.spelling
Labels: Area - Documentation

#17023 Add Delta snapshot version to the web-console
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-source/input-source.tsx
Labels: Area - Web Console

#16887 Non querying tasks shouldn't use processing buffers / merge buffers
  indexing-service/src/main/java/org/apache/druid/guice/PeonProcessingModule.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
  processing/src/main/java/org/apache/druid/query/NoopQueryProcessingPool.java
  server/src/main/java/org/apache/druid/guice/BrokerProcessingModule.java
  server/src/main/java/org/apache/druid/guice/DruidProcessingModule.java
  server/src/main/java/org/apache/druid/guice/RouterProcessingModule.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Kubernetes, Area - Ingestion

#17009 Implement segment range threshold for automatic query prioritization
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/scheduling/ThresholdBasedQueryPrioritizationStrategy.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  server/src/test/java/org/apache/druid/server/QuerySchedulerTest.java
  server/src/test/java/org/apache/druid/server/scheduling/ThresholdBasedQueryPrioritizationStrategyTest.java
Labels: Area - Documentation

#16991 Web console query view improvements
  web-console/src/console-application.tsx
  web-console/src/views/workbench-view/max-tasks-button/__snapshots__/max-tasks-button.spec.tsx.snap
  web-console/src/views/workbench-view/max-tasks-button/max-tasks-button.tsx
  web-console/src/views/workbench-view/query-tab/query-tab.tsx
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Web Console

#17028 Fix maxRowsInMemory default for streaming
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/entry.scss
Labels: Bug, Area - Web Console

#17030 Support maxColumnsToMerge in supervisor tuningConfig
  docs/ingestion/supervisor.md
  extensions-contrib/rabbit-stream-indexing-service/src/main/java/org/apache/druid/indexing/rabbitstream/RabbitStreamIndexTaskTuningConfig.java
  extensions-contrib/rabbit-stream-indexing-service/src/main/java/org/apache/druid/indexing/rabbitstream/supervisor/RabbitStreamSupervisorTuningConfig.java
  extensions-contrib/rabbit-stream-indexing-service/src/test/java/org/apache/druid/indexing/rabbitstream/RabbitStreamIndexTaskTuningConfigTest.java
  extensions-contrib/rabbit-stream-indexing-service/src/test/java/org/apache/druid/indexing/rabbitstream/supervisor/RabbitStreamSupervisorTest.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/test/TestModifiedKafkaIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTuningConfig.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskSerdeTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/test/TestModifiedKinesisIndexTaskTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTuningConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Documentation, Area - Streaming Ingestion, Area - Ingestion

#16974 Allow request headers in HttpInputSource in native and MSQ Ingestion
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/HttpEntity.java
  processing/src/main/java/org/apache/druid/data/input/impl/HttpInputSource.java
  processing/src/main/java/org/apache/druid/data/input/impl/HttpInputSourceConfig.java
  processing/src/test/java/org/apache/druid/data/input/impl/HttpEntityTest.java
  processing/src/test/java/org/apache/druid/data/input/impl/HttpInputSourceConfigTest.java
  processing/src/test/java/org/apache/druid/data/input/impl/HttpInputSourceTest.java
  processing/src/test/java/org/apache/druid/data/input/impl/InputEntityIteratingReaderTest.java
  server/src/main/java/org/apache/druid/catalog/model/table/HttpInputSourceDefn.java
  server/src/test/java/org/apache/druid/catalog/model/table/ExternalTableTest.java
  server/src/test/java/org/apache/druid/catalog/model/table/HttpInputSourceDefnTest.java
  server/src/test/java/org/apache/druid/metadata/input/InputSourceModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
  sql/src/test/resources/calcite/expected/ingest/httpExtern-logicalPlan.txt
Labels: Area - Querying, Area - Ingestion

#17029 GHA steps to collect and upload heap dumps to debug UT OOM errors
  .github/workflows/reusable-unit-tests.yml
  pom.xml
Labels: Area - Dependencies, GHA

#17027 Add support for selective loading of broadcast datasources in the task layer
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidK8sConstants.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJob.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobBase.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobLongIds.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobNoTaskJson.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobTlsEnabledBase.yaml
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQControllerTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Task.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  server/src/main/java/org/apache/druid/server/coordination/BroadcastDatasourceLoadingSpec.java
  server/src/main/java/org/apache/druid/server/coordination/SegmentBootstrapper.java
  server/src/main/java/org/apache/druid/server/metrics/DataSourceTaskIdHolder.java
  server/src/test/java/org/apache/druid/server/coordination/BroadcastDatasourceLoadingSpecTest.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentBootstrapperCacheTest.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentBootstrapperTest.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Batch Ingestion, Kubernetes, Area - Ingestion, Area - MSQ

#17054 Provide `chmod` command for `-XX:OnOutOfMemoryError` from shell script
  dev/chmod-heap-dumps.sh
  pom.xml
Labels: Area - Build

#17026 Add window function drill tests for array_concat_agg for empty over scenarios
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/empty_over_1.e
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/empty_over_1.q
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/only_sorting_column_1.e
  sql/src/test/resources/drill/window/queries/druid_queries/array_concat_agg/only_sorting_column_1.q
Labels: Area - Querying

#17025 Skip tombstone segment refresh in metadata cache
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheTest.java
Labels: Area - Querying

#17056 Bump up test JVM max heap from 2GB to 2.5GB
  pom.xml
Labels: Area - Build

#17058 add CursorHolder.isPreAggregated method to allow cursors on pre-aggregated data
  processing/src/main/java/org/apache/druid/query/aggregation/AggregatorUtil.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupingEngine.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQuery.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryEngine.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryEngine.java
  processing/src/main/java/org/apache/druid/segment/CursorHolder.java
  processing/src/test/java/org/apache/druid/segment/CursorHolderPreaggTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De

#17047 Add "includeAllCounters()" to WorkerContext.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerWorkerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerContext.java
Labels: Area - Batch Ingestion, Area - MSQ

#17053 MSQ: Fix two issues with phase transitions.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/ControllerQueryKernel.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/worker/WorkerStageKernel.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#17048 Add "targetPartitionsPerWorker" setting for MSQ.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/MultiQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/QueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
Labels: Area - Batch Ingestion, Area - MSQ

#17061 Fix formatting of error message from validateNoIllegalRightyJoins.
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryValidations.java
Labels: Area - Querying

#17034 QueryResource: Don't close JSON content on error.
  server/src/main/java/org/apache/druid/server/QueryLifecycle.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
Labels: Bug

#17066 Fix call to MemoryIntrospector in IndexerControllerContext.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
Labels: Area - Batch Ingestion, Development Blocker, Area - MSQ

#17046 MSQ: Improved worker cancellation.
  benchmarks/src/test/java/org/apache/druid/benchmark/frame/FrameChannelMergerBenchmark.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/RunWorkOrder.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/RunWorkOrderListener.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/FrameProcessorTestBase.java
  processing/src/main/java/org/apache/druid/frame/processor/FrameProcessorExecutor.java
  processing/src/main/java/org/apache/druid/frame/processor/RunAllFullyWidget.java
  processing/src/main/java/org/apache/druid/frame/processor/RunnableFrameProcessor.java
  processing/src/main/java/org/apache/druid/frame/processor/SuperSorter.java
  processing/src/test/java/org/apache/druid/frame/processor/FrameProcessorExecutorTest.java
  processing/src/test/java/org/apache/druid/frame/processor/RunAllFullyWidgetTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#17052 BaseWorkerClientImpl: Don't attempt to recover from a closed channel.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/rpc/BaseWorkerClientImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/rpc/BaseWorkerClientImplTest.java
  processing/src/main/java/org/apache/druid/frame/channel/ChannelClosedForWritesException.java
  processing/src/main/java/org/apache/druid/frame/channel/ReadableByteChunksFrameChannel.java
  processing/src/test/java/org/apache/druid/frame/channel/ReadableByteChunksFrameChannelTest.java
  server/src/test/java/org/apache/druid/rpc/MockServiceClient.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#17070 Handle memory leaks from Mockito inline mocks
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  pom.xml
Labels: Area - Batch Ingestion, Area - Dependencies, Area - MSQ

#17064 abstract `IncrementalIndex` cursor stuff to prepare for using different "views" of the data based on the cursor build spec
  processing/src/main/java/org/apache/druid/segment/incremental/FactsHolder.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexCursorFactory.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexCursorHolder.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexRow.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexRowSelector.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
  processing/src/test/java/org/apache/druid/frame/processor/test/TestFrameProcessorUtils.java
  processing/src/test/java/org/apache/druid/segment/AutoTypeColumnIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerV4Test.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexIngestionTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexMultiValueSpecTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionSelectorsTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De

#17049 Move TerminalStageSpecFactory packages.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQSqlModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/MSQTerminalStageSpecFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/destination/SegmentGenerationTerminalStageSpecFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/TestMSQSqlModule.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#17050 Additional tests for ChannelStageOutputReader.
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/shuffle/output/ChannelStageOutputReaderTest.java
Labels: Area - Batch Ingestion, Area - Testing, Area - MSQ

#17017 Fix low sonatype findings
  indexing-service/pom.xml
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  licenses.yaml
  pom.xml
  server/pom.xml
  services/pom.xml
  services/src/main/java/org/apache/druid/cli/PullDependencies.java
  services/src/test/java/org/apache/druid/cli/PullDependenciesTest.java
Labels: Area - Dependencies, Area - Ingestion

#17075 MSQ: Wake up the main controller thread on workerError.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
Labels: Area - Batch Ingestion, Area - MSQ

#17073 Remove unused WorkerManagerClient interface.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerManagerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/client/IndexerWorkerManagerClient.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/client/IndexerWorkerManagerClientTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#17071 Remove close method on MSQWarningReportPublisher.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/MSQWarningReportLimiterPublisher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/MSQWarningReportPublisher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/MSQWarningReportSimplePublisher.java
Labels: Area - Batch Ingestion, Area - MSQ

#17031 docs: Refresh docs for SQL input source
  docs/development/extensions-core/druid-lookups.md
  docs/development/extensions-core/mysql.md
  docs/development/extensions-core/postgresql.md
  docs/ingestion/input-sources.md
  docs/querying/lookups-cached-global.md
Labels: Area - Documentation

#16800 Support maxSubqueryBytes for window functions
  processing/src/main/java/org/apache/druid/query/ResultSerializationMode.java
  processing/src/main/java/org/apache/druid/query/operator/WindowOperatorQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/operator/WindowOperatorQueryQueryToolChestTest.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalkerUtils.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/resources/calcite/tests/window/arrayAggWithOrderBy.sqlTest
  sql/src/test/resources/calcite/tests/window/arrayConcatAgg.sqlTest
  sql/src/test/resources/calcite/tests/window/rank_handling.sqlTest
Labels: Area - Querying

#16658 Add serde for ColumnBasedRowsAndColumns to fix window queries without group by
  processing/src/main/java/org/apache/druid/jackson/DruidDefaultSerializersModule.java
  processing/src/main/java/org/apache/druid/query/operator/WindowOperatorQueryQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/AppendableMapOfColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/ConcatRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/CursorFactoryRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/EmptyRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/LazilyDecoratedRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/LimitedRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/MapOfColumnsRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/RearrangedRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/RowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/AbstractFrameRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/ColumnBasedFrameRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/FrameRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/RowBasedFrameRowsAndColumns.java
  processing/src/test/java/org/apache/druid/jackson/DefaultObjectMapperTest.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/NoAsRowsAndColumns.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/concrete/ColumnBasedFrameRowsAndColumnsTest.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/semantic/RowsAndColumnsDecoratorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeSqlEngine.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
  sql/src/test/resources/calcite/tests/window/wikipediaFramedAggregations.sqlTest
Labels: Area - Querying

#17076 MSQ: Include worker context maps in WorkOrders.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerWorkerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/WorkOrder.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/ControllerQueryKernel.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/controller/ControllerQueryKernelConfig.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/QueryValidatorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerImplTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/controller/ControllerQueryKernelConfigTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
Labels: Area - Batch Ingestion, Area - MSQ

#17072 Remove workerId parameter from postWorkerError.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/Controller.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/client/IndexerControllerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/MSQWarningReportLimiterPublisher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerClient.java
Labels: Area - Batch Ingestion, Area - MSQ

#17074 TableInputSpecSlicer changes to support running on Brokers.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerTableInputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/table/SegmentsInputSlice.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSegmentProvider.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSegmentTimelineView.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/table/IndexerTableInputSpecSlicerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
Labels: Area - Batch Ingestion, Area - MSQ

#17069 MSQ: Properly report errors that occur when starting up RunWorkOrder.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/RunWorkOrder.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/RunWorkOrderTest.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#17088 FrameChannelMerger: Fix incorrect behavior of finished().
  processing/src/main/java/org/apache/druid/frame/processor/FrameChannelMerger.java
  processing/src/test/java/org/apache/druid/frame/processor/SuperSorterTest.java
  processing/src/test/java/org/apache/druid/frame/processor/test/AlwaysAsyncPartitionedReadableFrameChannel.java
  processing/src/test/java/org/apache/druid/frame/processor/test/AlwaysAsyncReadableFrameChannel.java
Labels: Bug

#17003 Docs - update streaming ingestion terminology for Kafka and Kinesis
  docs/ingestion/kafka-ingestion.md
  docs/ingestion/kinesis-ingestion.md
  docs/ingestion/supervisor.md
Labels: Area - Documentation

#17077 MSQ: Add QueryKitSpec to encapsulate QueryKit params.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/MultiQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/QueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/QueryKitSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryKit.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
Labels: Area - Batch Ingestion, Area - MSQ

#17093 [Docs] adding admonition for div
  docs/querying/sql-functions.md
Labels: Area - Documentation

#17090 Remove PR 16280 which was incorrectly included in the release notes
  docs/release-info/release-notes.md
Labels: Area - Documentation

#17055 Create a FilterBundle.Builder class and use it to construct FilterBundle.
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/filter/Filter.java
  processing/src/main/java/org/apache/druid/query/filter/FilterBundle.java
  processing/src/main/java/org/apache/druid/query/filter/FilterTuning.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorHolder.java
  processing/src/main/java/org/apache/druid/segment/filter/AndFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
  processing/src/main/java/org/apache/druid/segment/index/BitmapColumnIndex.java
  processing/src/test/java/org/apache/druid/segment/filter/FilterBundleTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Metrics/Event Emitting, Area - Segment Format and Ser/De, Area - Dependencies, Kubernetes, Area - Ingestion, Area - MSQ, GHA

#17079 [Backport] Skip refresh for unused segments in metadata cache
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - Web Console, Area - Ingestion, Area - MSQ

#17059 Reduce the number of ITs in CDS groups
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITBestEffortRollupParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCombiningInputSourceParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITHttpInputSourceTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITKafkaIndexingServiceNonTransactionalSerializedTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITKafkaIndexingServiceTransactionalSerializedTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITLocalInputSourceAllInputFormatTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITPerfectRollupParallelIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITSystemTableBatchIndexTaskTest.java
  integration-tests/src/test/java/org/apache/druid/tests/parallelized/ITKafkaIndexingServiceDataFormatTest.java
Labels: Area - Testing

#17039 Decoupled planning: improve join support
  sql/src/main/java/org/apache/druid/sql/calcite/planner/querygen/DruidQueryGenerator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledTestConfig.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinQueryOfLookup@all_disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinQueryOfLookup@all_enabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinQueryOfLookup@default.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinQueryOfLookup@filter-on-value-column_disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinQueryOfLookup@filter-rewrites-disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinQueryOfLookup@filter-rewrites.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinQueryOfLookup@join-to-filter.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinTwoLookupsToTableUsingNumericColumnInReverse@all_disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinTwoLookupsToTableUsingNumericColumnInReverse@all_enabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinTwoLookupsToTableUsingNumericColumnInReverse@default.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinTwoLookupsToTableUsingNumericColumnInReverse@filter-on-value-column_disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinTwoLookupsToTableUsingNumericColumnInReverse@filter-rewrites-disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinTwoLookupsToTableUsingNumericColumnInReverse@filter-rewrites.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testInnerJoinTwoLookupsToTableUsingNumericColumnInReverse@join-to-filter.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testJoinOuterGroupByAndSubqueryHasLimit@NullHandling=default.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testJoinOuterGroupByAndSubqueryHasLimit@NullHandling=sql.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testJoinTableLookupTableMismatchedTypesWithoutComma@all_disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testJoinTableLookupTableMismatchedTypesWithoutComma@all_enabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testJoinTableLookupTableMismatchedTypesWithoutComma@default.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testJoinTableLookupTableMismatchedTypesWithoutComma@filter-on-value-column_disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testJoinTableLookupTableMismatchedTypesWithoutComma@filter-rewrites-disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testJoinTableLookupTableMismatchedTypesWithoutComma@filter-rewrites.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testJoinTableLookupTableMismatchedTypesWithoutComma@join-to-filter.iq
Labels: Area - Querying

#17021 Modify DataSegmentProvider to also return DataSegment
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/TaskDataSegmentProvider.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/external/ExternalInputSliceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/inline/InlineInputSliceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/lookup/LookupInputSliceReader.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/table/SegmentWithDescriptor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSegmentProvider.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPreShuffleFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/TaskDataSegmentProviderTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestDelegateDataSegmentPusher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestSegmentManager.java
  processing/src/main/java/org/apache/druid/segment/CompleteSegment.java
  processing/src/test/java/org/apache/druid/segment/CompleteSegmentTest.java
Labels: Area - Batch Ingestion, Area - Segment Format and Ser/De, Area - MSQ

#17096 Update note about `sys.tasks` table
  docs/ingestion/tasks.md
  docs/querying/sql-metadata-tables.md
Labels: Area - Documentation

#17104 [Backport] Handle memory leaks from Mockito inline mocks
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - Batch Ingestion, Area - MSQ

#17108 MSQ: Fix calculation of suggested memory in WorkerMemoryParameters.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerMemoryParameters.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerMemoryParametersTest.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#17106 Add test for exceptions in FutureUtils.transformAsync.
  processing/src/test/java/org/apache/druid/common/guava/FutureUtilsTest.java
Labels: Area - Testing

#17045 Update doc for allowedHeaders
  docs/configuration/index.md
  processing/src/main/java/org/apache/druid/data/input/impl/HttpInputSource.java
  processing/src/test/java/org/apache/druid/data/input/impl/HttpInputSourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Dependencies, Kubernetes, Area - Ingestion, Area - MSQ

#15982 gRPC query extension
  distribution/pom.xml
  extensions-contrib/grpc-query/README.md
  extensions-contrib/grpc-query/pom.xml
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/client/GrpcResponseHandler.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/guice/GrpcQueryModule.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/AnonymousAuthServerInterceptor.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/BasicAuthServerInterceptor.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/GrpcEndpointInitializer.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/GrpcQueryConfig.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/HealthService.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/ProtobufTransformer.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/ProtobufWriter.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/QueryDriver.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/QueryServer.java
  extensions-contrib/grpc-query/src/main/java/org/apache/druid/grpc/server/QueryService.java
  extensions-contrib/grpc-query/src/main/proto/health.proto
  extensions-contrib/grpc-query/src/main/proto/query.proto
  extensions-contrib/grpc-query/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-contrib/grpc-query/src/test/java/org/apache/druid/grpc/BasicAuthTest.java
  extensions-contrib/grpc-query/src/test/java/org/apache/druid/grpc/BasicCredentials.java
  extensions-contrib/grpc-query/src/test/java/org/apache/druid/grpc/DriverTest.java
  extensions-contrib/grpc-query/src/test/java/org/apache/druid/grpc/GrpcQueryTest.java
  extensions-contrib/grpc-query/src/test/java/org/apache/druid/grpc/GrpcQueryTestClient.java
  extensions-contrib/grpc-query/src/test/java/org/apache/druid/grpc/TestClient.java
  extensions-contrib/grpc-query/src/test/java/org/apache/druid/grpc/TestServer.java
  extensions-contrib/grpc-query/src/test/java/org/apache/druid/grpc/client/GrpcResponseHandlerTest.java
  extensions-contrib/grpc-query/src/test/proto/all_types.proto
  extensions-contrib/grpc-query/src/test/proto/test_results.proto
  pom.xml
Labels: Area - Querying, Area - Extension, Area - Dependencies

#17112 [Backport] Skip tombstone segment refresh in metadata cache (#17025)
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCache.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheTest.java
Labels: Area - Querying

#17085 [Backport] Support maxSubqueryBytes for window functions
  processing/src/main/java/org/apache/druid/query/ResultSerializationMode.java
  processing/src/main/java/org/apache/druid/query/operator/WindowOperatorQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/operator/WindowOperatorQueryQueryToolChestTest.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalkerUtils.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/resources/calcite/tests/window/arrayAggWithOrderBy.sqlTest
  sql/src/test/resources/calcite/tests/window/arrayConcatAgg.sqlTest
  sql/src/test/resources/calcite/tests/window/rank_handling.sqlTest
Labels: Area - Querying

#17110 hard-code compaction tasks to use ARRAY for multi-value handling to preserve order
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
Labels: Area - Ingestion, Area - Compaction

#17082 Support to parse numbers in text-based input formats
  benchmarks/src/test/java/org/apache/druid/benchmark/DelimitedInputFormatBenchmark.java
  docs/ingestion/data-formats.md
  extensions-contrib/aliyun-oss-extensions/src/test/java/org/apache/druid/data/input/aliyun/OssInputSourceTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/storage/CatalogTests.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/data/input/google/GoogleCloudStorageInputSourceTest.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/inputsource/hdfs/HdfsInputSourceTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/data/input/kafkainput/KafkaInputFormatTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/data/input/kinesis/KinesisInputFormatTest.java
  extensions-core/lookups-cached-global/src/main/java/org/apache/druid/query/lookup/namespace/UriExtractionNamespace.java
  extensions-core/lookups-cached-global/src/test/java/org/apache/druid/query/lookup/namespace/UriExtractionNamespaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQParseExceptionsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionAdjustingCorePartitionSizeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialCompactionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionAdjustingCorePartitionSizeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionMultiPhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/CsvInputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/sampler/InputSourceSamplerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/RecordSupplierInputSourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunnerAuthTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/CSVParseSpec.java
  processing/src/main/java/org/apache/druid/data/input/impl/CsvInputFormat.java
  processing/src/main/java/org/apache/druid/data/input/impl/DelimitedInputFormat.java
  processing/src/main/java/org/apache/druid/data/input/impl/DelimitedParseSpec.java
  processing/src/main/java/org/apache/druid/data/input/impl/DelimitedValueReader.java
  processing/src/main/java/org/apache/druid/data/input/impl/FlatTextInputFormat.java
  processing/src/main/java/org/apache/druid/data/input/impl/RegexReader.java
  processing/src/main/java/org/apache/druid/java/util/common/parsers/AbstractFlatTextFormatParser.java
  processing/src/main/java/org/apache/druid/java/util/common/parsers/CSVParser.java
  processing/src/main/java/org/apache/druid/java/util/common/parsers/DelimitedParser.java
  processing/src/main/java/org/apache/druid/java/util/common/parsers/ParserUtils.java
  processing/src/test/java/org/apache/druid/data/input/impl/CsvInputFormatTest.java
  processing/src/test/java/org/apache/druid/data/input/impl/CsvReaderTest.java
  processing/src/test/java/org/apache/druid/data/input/impl/DelimitedInputFormatTest.java
  processing/src/test/java/org/apache/druid/data/input/impl/DelimitedReaderTest.java
  processing/src/test/java/org/apache/druid/data/input/impl/InputEntityIteratingReaderTest.java
  processing/src/test/java/org/apache/druid/java/util/common/parsers/FlatTextFormatParserTest.java
  processing/src/test/java/org/apache/druid/java/util/common/parsers/ParserUtilsTest.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  server/src/test/java/org/apache/druid/catalog/model/table/CsvInputFormatTest.java
  server/src/test/java/org/apache/druid/catalog/model/table/DelimitedInputFormatTest.java
  server/src/test/java/org/apache/druid/catalog/model/table/ExternalTableTest.java
  server/src/test/java/org/apache/druid/catalog/model/table/InlineInputSourceDefnTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
  website/.spelling
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Streaming Ingestion, Area - Lookups, Area - Ingestion, Area - MSQ

#17101 Support explain in decoupled planning and log native plan consistently with DruidHook
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDrillWindowQueryTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/quidem/MSQQuidemTest.java
  quidem-ut/src/main/java/org/apache/druid/quidem/ExposedAsBrokerQueryComponentSupplierWrapper.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/hook/DruidHook.java
  sql/src/test/java/org/apache/druid/quidem/DruidAvaticaTestDriver.java
  sql/src/test/java/org/apache/druid/quidem/DruidConnectionExtras.java
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemCommandHandler.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#17111 [Backport] Add serde for ColumnBasedRowsAndColumns to fix window queries without group by
  processing/src/main/java/org/apache/druid/jackson/DruidDefaultSerializersModule.java
  processing/src/main/java/org/apache/druid/query/operator/WindowOperatorQueryQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/AppendableMapOfColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/ConcatRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/CursorFactoryRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/EmptyRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/LazilyDecoratedRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/LimitedRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/MapOfColumnsRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/RearrangedRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/RowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/AbstractFrameRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/ColumnBasedFrameRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/FrameRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/RowBasedFrameRowsAndColumns.java
  processing/src/test/java/org/apache/druid/jackson/DefaultObjectMapperTest.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/NoAsRowsAndColumns.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/concrete/ColumnBasedFrameRowsAndColumnsTest.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/semantic/RowsAndColumnsDecoratorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeSqlEngine.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
  sql/src/test/resources/calcite/tests/window/wikipediaFramedAggregations.sqlTest
Labels: Area - Querying

#16672 Introduced `includeTrailerHeader` to enable `TrailerHeaders` in response
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/main/java/org/apache/druid/server/QueryResultPusher.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
Labels: Area - Documentation, Area - Querying

#17119 [Backport] Add Delta snapshot version to the web-console
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-source/input-source.tsx
Labels: Area - Web Console

#17036 MSQ window functions: Reject MVDs during window processing
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/RearrangedRowsAndColumns.java
Labels: Area - Batch Ingestion, Area - MSQ

#17087 Window Functions : Remove enable windowing flag
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlWindowFunctionsBenchmark.java
  docs/api-reference/sql-api.md
  docs/querying/sql-window-functions.md
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDrillWindowQueryTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteQueryTest/testWindowingWithScanAndSort@NullHandling=default.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteQueryTest/testWindowingWithScanAndSort@NullHandling=sql.iq
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - MSQ

#17126 Rewrite SQL node early in the planning phase to support parameterization of MSQ DML queries
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/IngestHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16321 Adding extra debug logs for the checkpoint logic
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
Labels: Area - Ingestion

#17135 Web console: add stage graph
  web-console/src/druid-models/stages/graph-info.ts
  web-console/src/druid-models/stages/stages.spec.ts
  web-console/src/druid-models/stages/stages.ts
  web-console/src/views/workbench-view/execution-stages-pane/__snapshots__/execution-stages-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-stages-pane/execution-stages-pane.scss
  web-console/src/views/workbench-view/execution-stages-pane/execution-stages-pane.tsx
Labels: Area - Web Console, Area - MSQ

#17124 Support Iceberg ingestion from REST based catalogs
  docs/development/extensions-contrib/iceberg.md
  docs/ingestion/input-sources.md
  extensions-contrib/druid-iceberg-extensions/pom.xml
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/common/IcebergDruidModule.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/HiveIcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/IcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/LocalCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/RestIcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/input/RestCatalogTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Extension, Area - Dependencies

#17128 [Backport] Window Functions : Remove enable windowing flag (#17087)
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlWindowFunctionsBenchmark.java
  docs/api-reference/sql-api.md
  docs/querying/sql-window-functions.md
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDrillWindowQueryTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteQueryTest/testWindowingWithScanAndSort@NullHandling=default.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteQueryTest/testWindowingWithScanAndSort@NullHandling=sql.iq
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - MSQ

#17033 Allow MSQ engine only for compaction supervisors
  indexing-service/src/main/java/org/apache/druid/indexing/compact/CompactionSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/compact/CompactionSupervisorSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/compact/OverlordCompactionScheduler.java
  indexing-service/src/test/java/org/apache/druid/indexing/compact/CompactionSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/compact/OverlordCompactionSchedulerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordCompactionResourceTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  server/src/main/java/org/apache/druid/server/compaction/CompactionRunSimulator.java
  server/src/main/java/org/apache/druid/server/coordinator/AutoCompactionSnapshot.java
  server/src/main/java/org/apache/druid/server/coordinator/ClusterCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/CompactionSupervisorConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResource.java
  server/src/test/java/org/apache/druid/server/compaction/CompactionRunSimulatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/AutoCompactionSnapshotTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CompactionSupervisorConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigAuditEntryTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigHistoryTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionResourceTest.java
Labels: Area - Ingestion

#17137 Refactor: Move streaming supervisor methods to `SeekableStreamSupervisor`
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisor.java
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorSpecTest.java
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/compact/CompactionSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/NoopSupervisorSpec.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/Supervisor.java
  server/src/test/java/org/apache/druid/indexing/NoopSupervisorSpecTest.java
Labels: Area - Ingestion

#16973 inter-Extension dependency support
  extensions-core/kafka-extraction-namespace/pom.xml
  extensions-core/kafka-extraction-namespace/src/main/resources/druid-extension-dependencies.json
  processing/src/main/java/org/apache/druid/guice/DruidExtensionDependencies.java
  processing/src/main/java/org/apache/druid/guice/ExtensionFirstClassLoader.java
  processing/src/main/java/org/apache/druid/guice/ExtensionsLoader.java
  processing/src/main/java/org/apache/druid/guice/StandardURLClassLoader.java
  processing/src/test/java/org/apache/druid/guice/ExtensionsLoaderTest.java
Labels: Area - Lookups, Area - Dependencies, Area - Ingestion

#17145 [Backport] Support Iceberg ingestion from REST based catalogs (#17124)
  docs/development/extensions-contrib/iceberg.md
  docs/ingestion/input-sources.md
  extensions-contrib/druid-iceberg-extensions/pom.xml
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/common/IcebergDruidModule.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/HiveIcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/IcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/LocalCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/input/RestIcebergCatalog.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/input/RestCatalogTest.java
Labels: Area - Documentation, Area - Dependencies

#17144 Miscellaneous cleanup in the supervisor API flow.
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  processing/src/main/java/org/apache/druid/utils/DynamicConfigProviderUtils.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataSupervisorManager.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataSupervisorManagerTest.java
Labels: Area - Ingestion

#17148 use CastToObjectVectorProcessor for cast to string
  processing/src/main/java/org/apache/druid/math/expr/vector/CastToStringVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/CastToTypeVectorProcessor.java
  processing/src/test/java/org/apache/druid/math/expr/VectorExprSanityTest.java
Labels: Bug

#17086 Make sketch encoding configurable
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ExceptionWrappingWorkerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/rpc/BaseWorkerClientImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/rpc/SketchEncoding.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/rpc/WorkerResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerSketchFetcherTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerClient.java
Labels: Area - Batch Ingestion, Area - MSQ

#17143 [Backport] Allow MSQ engine only for compaction supervisors (#17033)
  indexing-service/src/main/java/org/apache/druid/indexing/compact/CompactionSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/compact/CompactionSupervisorSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/compact/OverlordCompactionScheduler.java
  indexing-service/src/test/java/org/apache/druid/indexing/compact/CompactionSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/compact/OverlordCompactionSchedulerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordCompactionResourceTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  server/src/main/java/org/apache/druid/server/compaction/CompactionRunSimulator.java
  server/src/main/java/org/apache/druid/server/coordinator/AutoCompactionSnapshot.java
  server/src/main/java/org/apache/druid/server/coordinator/ClusterCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/CompactionSupervisorConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CompactSegments.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResource.java
  server/src/test/java/org/apache/druid/server/compaction/CompactionRunSimulatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/AutoCompactionSnapshotTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CompactionSupervisorConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigAuditEntryTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigHistoryTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionResourceTest.java
Labels: Area - Ingestion

#17141 MSQ window functions: Fix boost column not being written to the frame in window stage
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDrillWindowQueryTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#17151 Add `StreamSupervisor` interface
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/StreamSupervisor.java
  server/src/main/java/org/apache/druid/indexing/overlord/supervisor/Supervisor.java
  server/src/test/java/org/apache/druid/indexing/overlord/supervisor/StreamSupervisorTest.java
Labels: Area - Ingestion

#17155 [Backport] MSQ window functions: Fix boost column not being written to the frame in window stage
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDrillWindowQueryTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#17109 docs: Separate section on ingesting MVDs in migration guide
  docs/release-info/migr-mvd-array.md
Labels: Area - Documentation

#17152 ScanQueryFrameProcessor: Close CursorHolders as we go along.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#17159 [Backport] Create a FilterBundle.Builder class and use it to construct FilterBundle.
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/filter/Filter.java
  processing/src/main/java/org/apache/druid/query/filter/FilterBundle.java
  processing/src/main/java/org/apache/druid/query/filter/FilterTuning.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorHolder.java
  processing/src/main/java/org/apache/druid/segment/filter/AndFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
  processing/src/main/java/org/apache/druid/segment/index/BitmapColumnIndex.java
  processing/src/test/java/org/apache/druid/segment/filter/FilterBundleTest.java
Labels: Area - Segment Format and Ser/De

#17162 add multi-value string object vector matcher and expression vector object selectors
  processing/src/main/java/org/apache/druid/query/filter/vector/MultiValueStringObjectVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/VectorValueMatcherColumnProcessorFactory.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionMultiValueDimensionSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorMultiValueStringObjectSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTests.java
Labels: Bug, Area - Querying, Area - Segment Format and Ser/De

#17125 Incorporate `estimatedComputeCost` into all `BitmapColumnIndex` classes.
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorHolder.java
  processing/src/main/java/org/apache/druid/segment/filter/BoundFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/IsBooleanFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/NotFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/SpatialFilter.java
  processing/src/main/java/org/apache/druid/segment/index/AllFalseBitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/AllTrueBitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/AllUnknownBitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/BitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/DictionaryRangeScanningBitmapIndex.java
  processing/src/main/java/org/apache/druid/segment/index/DictionaryScanningBitmapIndex.java
  processing/src/main/java/org/apache/druid/segment/index/IndexedUtf8ValueIndexes.java
  processing/src/main/java/org/apache/druid/segment/index/SimpleImmutableBitmapIndex.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/ValueSetIndexes.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedFieldColumnIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/virtual/ListFilteredVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/filter/FilterBundleTest.java
Labels: Area - Segment Format and Ser/De

#17164 log.warn anytime a column is relying on ArrayIngestMode.MVD
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/DimensionSchemaUtils.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
  processing/src/main/java/org/apache/druid/java/util/emitter/EmittingLogger.java
  processing/src/main/java/org/apache/druid/java/util/emitter/service/AlertEvent.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Operations, Area - Metrics/Event Emitting, Area - Ingestion, Area - MSQ

#16867 Add kttm-nested dataset and some usage sessions of it
  quidem-ut/README.md
  quidem-ut/pom.xml
  quidem-ut/src/main/java/org/apache/druid/quidem/KttmNestedComponentSupplier.java
  quidem-ut/src/test/java/org/apache/druid/quidem/KttmNestedComponentSupplierTest.java
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/README.generated
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_Heatmap.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_Line-chart.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_Overall.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_Sparkline.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_Spotmatrix.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_Stackarea.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_Table.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_Vertical-bars.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_horizontal-bars.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_sunburst.iq
Labels: Area - Querying, Area - Segment Format and Ser/De, Area - Dependencies

#17168 fix issue with ScanQueryFrameProcessor cursor build not adjusting intervals
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorTest.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#17095 [Backport] DIV not implemented in Druid 30 and earlier
  docs/querying/sql-functions.md
Labels: Area - Documentation, Backport

#17175 fix a mistake in CursorGranularizer to check doneness after advance
  processing/src/main/java/org/apache/druid/query/CursorGranularizer.java
  processing/src/test/java/org/apache/druid/query/CursorGranularizerTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
Labels: Bug

#17173 SQL: Use regular filters for time filtering in subqueries.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteQueryTest/testTimeFilterOnSubquery@NullHandling=default.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteQueryTest/testTimeFilterOnSubquery@NullHandling=sql.iq
Labels: Bug, Area - Batch Ingestion, Area - Querying, Area - MSQ

#17160 Web console: Fixed sampling for delta source in classic data loader and MSQ
  web-console/script/druid
  web-console/src/components/json-input/json-input.tsx
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-source/input-source.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/sql-data-loader-view/sql-data-loader-view.tsx
  web-console/src/views/workbench-view/connect-external-data-dialog/connect-external-data-dialog.tsx
  web-console/src/views/workbench-view/input-format-step/input-format-step.tsx
  web-console/src/views/workbench-view/input-source-step/input-source-step.tsx
Labels: Bug, Area - Web Console

#17166 [Backport] add VirtualColumns.findEquivalent and VirtualColumn.EquivalenceKey
  processing/src/main/java/org/apache/druid/segment/VirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/VirtualColumnsTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/NestedFieldVirtualColumnTest.java
Labels: Backport, Area - Segment Format and Ser/De

#17181 read metadata in SimpleQueryableIndex if available to compute segment ordering
  processing/src/main/java/org/apache/druid/segment/SimpleQueryableIndex.java
Labels: Area - Segment Format and Ser/De

#17150 Window Functions : Context Parameter to Enable Transfer of RACs over wire
  docs/querying/sql-window-functions.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
Labels: Area - Documentation, Area - Querying

#17182 [Backport] Window Functions : Context Parameter to Enable Transfer of RACs over wire
  docs/querying/sql-window-functions.md
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
Labels: Area - Documentation, Area - Querying

#17153 [Backport] Make sketch encoding configurable
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ExceptionWrappingWorkerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/rpc/BaseWorkerClientImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/rpc/SketchEncoding.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/rpc/WorkerResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/WorkerSketchFetcherTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerClient.java
Labels: Area - Batch Ingestion, Backport, Area - MSQ

#17184 Fix bug with while adding DistinctSketches
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/DistinctKeyCollector.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/statistics/DistinctKeyCollectorTest.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#17186 [Backport] Fix maxRowsInMemory default for streaming (#17028)
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/entry.scss
Labels: Area - Web Console

#17187 [Backport] Additional tests for ChannelStageOutputReader. (#17050)
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/shuffle/output/ChannelStageOutputReaderTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#17189 [Backport] Fix bug with while adding DistinctSketches
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/DistinctKeyCollector.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/statistics/DistinctKeyCollectorTest.java
Labels: Bug, Area - Batch Ingestion, Backport, Area - MSQ

#17165 [Backport] add multi-value string object vector matcher and expression vector object selectors
  processing/src/main/java/org/apache/druid/query/filter/vector/MultiValueStringObjectVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/query/filter/vector/VectorValueMatcherColumnProcessorFactory.java
  processing/src/main/java/org/apache/druid/segment/filter/ExpressionFilter.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionMultiValueDimensionSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorMultiValueStringObjectSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/EqualityFilterTests.java
Labels: Backport, Area - Segment Format and Ser/De

#17190 [Backport] Speed up FrameFileTest, SuperSorterTest. (#17068)
  processing/src/main/java/org/apache/druid/frame/key/RowKeyComparisonRunLengths.java
  processing/src/test/java/org/apache/druid/frame/TestArrayCursorFactory.java
  processing/src/test/java/org/apache/druid/frame/file/FrameFileTest.java
  processing/src/test/java/org/apache/druid/frame/processor/SuperSorterTest.java
  processing/src/test/java/org/apache/druid/frame/testutil/FrameSequenceBuilder.java
  processing/src/test/java/org/apache/druid/frame/testutil/FrameTestUtil.java
Labels: Backport

#17194 [Backport] FrameChannelMerger: Fix incorrect behavior of finished(). (#17088)
  processing/src/main/java/org/apache/druid/frame/processor/FrameChannelMerger.java
  processing/src/test/java/org/apache/druid/frame/processor/SuperSorterTest.java
  processing/src/test/java/org/apache/druid/frame/processor/test/AlwaysAsyncPartitionedReadableFrameChannel.java
  processing/src/test/java/org/apache/druid/frame/processor/test/AlwaysAsyncReadableFrameChannel.java
Labels: Backport

#17197 [Backport] Add test for exceptions in FutureUtils.transformAsync. (#17106)
  processing/src/test/java/org/apache/druid/common/guava/FutureUtilsTest.java
Labels: Backport

#17196 [Backport] PostJoinCursor should never advance without interruption (#17099)
  processing/src/main/java/org/apache/druid/segment/Cursor.java
  processing/src/main/java/org/apache/druid/segment/join/PostJoinCursor.java
  processing/src/test/java/org/apache/druid/segment/join/PostJoinCursorTest.java
Labels: Backport, Area - Segment Format and Ser/De

#17193 MSQ: Use task context flag useConcurrentLocks to determine task lock type
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQControllerTaskTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestOverlordServiceClient.java
Labels: Area - Batch Ingestion, Area - MSQ

#17199 [Backport]: Web console: Fixed sampling for delta source in classic data loader and MSQ
  web-console/script/druid
  web-console/src/components/json-input/json-input.tsx
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/input-source/input-source.tsx
  web-console/src/utils/sampler.ts
  web-console/src/views/load-data-view/load-data-view.tsx
  web-console/src/views/sql-data-loader-view/sql-data-loader-view.tsx
  web-console/src/views/workbench-view/connect-external-data-dialog/connect-external-data-dialog.tsx
  web-console/src/views/workbench-view/input-format-step/input-format-step.tsx
  web-console/src/views/workbench-view/input-source-step/input-source-step.tsx
Labels: Backport, Area - Web Console

#17198 [Backport] Update Delta Kernel to 3.2.1 (#17179)
  extensions-contrib/druid-deltalake-extensions/pom.xml
  extensions-contrib/druid-deltalake-extensions/src/main/java/org/apache/druid/delta/input/DeltaInputSource.java
Labels: Backport, Area - Dependencies

#17178 Refactor pod template logic to make it easier to test
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/DynamicConfigPodTemplateSelector.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateSelector.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesOverlordModuleTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactoryTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/DynamicConfigPodTemplateSelectorTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/TestPodTemplateSelector.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobBase.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobLongIds.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobNoTaskJson.yaml
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedNoopPodTemplate.yaml
Labels: Kubernetes
