Repository apache/druid, pull requests merged in 2024-03, with the labels that each got.

#16019 [Backport] Concurrent replace should work with supervisors using concurrent locks (#15995)
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
Labels: Backport, Area - Ingestion

#15897 Introduce dynamic table append
  docs/querying/datasource.md
  docs/querying/sql.md
  pom.xml
  processing/pom.xml
  sql/pom.xml
  sql/src/main/java/org/apache/druid/sql/calcite/external/TableAppendMacro.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidOperatorTable.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/DatasourceMetadata.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/DatasourceTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteTableAppendTest.java
Labels: Area - Documentation, Area - Querying, Release Notes, Area - Segment Format and Ser/De, Area - Dependencies

#16002 MSQ: Nicer error when sortMerge join falls back to broadcast.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/BroadcastTablesTooLargeFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BroadcastJoinSegmentMapFnProcessor.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/BroadcastJoinSegmentMapFnProcessorTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#16014 docs: mention acid-compliance for meta store
  docs/design/metadata-storage.md
Labels: Area - Documentation

#15975 Improved Connection Count server select strategy
  server/src/main/java/org/apache/druid/client/DirectDruidClient.java
  server/src/test/java/org/apache/druid/client/DirectDruidClientTest.java
Labels: Area - Querying

#16004 Revert explain attributes change
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/ExplainAttributes.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/IngestHandler.java
  sql/src/main/java/org/apache/druid/sql/destination/ExportDestination.java
  sql/src/main/java/org/apache/druid/sql/destination/IngestDestination.java
  sql/src/main/java/org/apache/druid/sql/destination/TableDestination.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/TestInsertQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/ExplainAttributesTest.java
Labels: Area - Batch Ingestion, Area - Querying, Release Notes, Design Review, Area - MSQ

#15981 Fix compaction tasks reports getting overwritten
  docs/ingestion/tasks.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionTaskKillTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
Labels: Area - Documentation, Area - Ingestion

#16008 Support CPU resource configurable for Kubernates job under MoK Mode
  docs/development/extensions-contrib/k8s-jobs.md
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerConfig.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidK8sConstants.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/PeonCommandContext.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/DruidPeonClientIntegrationTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/MultiContainerTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/SingleContainerTaskAdapterTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedCPUResourceOutput.yaml
Labels: Area - Documentation, Kubernetes

#15999 Rows.objectToNumber: Accept decimals with output type LONG.
  processing/src/main/java/org/apache/druid/data/input/Rows.java
  processing/src/test/java/org/apache/druid/data/input/impl/RowsTest.java
Labels: Bug, Area - Ingestion

#16022 docs: Add upgrade notes for Druid 29.0.0
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation

#15938 Move retries into DataSegmentPusher implementations.
  docs/operations/segment-optimization.md
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsDataSegmentPusher.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentPusher.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentPusherTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
  processing/src/main/java/org/apache/druid/segment/loading/DataSegmentPusher.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorImpl.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderator.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/ClosedSegmentsSinksBatchAppenderatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/OpenAndClosedSegmentsAppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorTester.java
Labels: Area - Documentation, Area - Segment Format and Ser/De, Area - Ingestion

#16016 Add support for AzureDNSZone enabled storage accounts used for deep storage
  docs/development/extensions-core/azure.md
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureAccountConfig.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureClientFactory.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureUtils.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureAccountConfigTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureClientFactoryTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageDruidModuleTest.java
  website/.spelling
Labels: Area - Documentation

#16010 Make setting QUERY_CONTEXT_DEFAULT explicit in tests
  processing/src/test/java/org/apache/druid/error/DruidExceptionMatcher.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteUnionQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DruidPlannerResourceAnalyzeTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupportedUsageTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestBuilder.java
Labels: Area - Querying

#16040 Docs: Fix spelling of 5 GB.
  docs/operations/segment-optimization.md
Labels: Area - Documentation, Development Blocker

#16037 fix bug with like filter on missing columns not correctly considering extractionFn
  processing/src/main/java/org/apache/druid/segment/filter/LikeFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/LikeFilterTest.java
Labels: Bug, Area - Querying, Area - Segment Format and Ser/De, Area - Null Handling

#16038 docs: update package and regenerate package-lock
  website/package-lock.json
  website/package.json
Labels: Area - Documentation

#16048 updated description of rowsPerPage in export operations
  docs/multi-stage-query/reference.md
Labels: Area - Documentation

#16034 Make servedSegments nullable to maintain compatibility
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/table/SegmentsInputSlice.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/table/SegmentsInputSliceReader.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/input/table/SegmentsInputSliceTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#16031 Update docs to document breaking change in explain attributes
  docs/querying/sql-translation.md
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation

#16050 Fix compilation failure due to missing constant MISSING_JOIN_CONVERSION
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
Labels: Area - Querying, Development Blocker

#15726 Handle uninitialized cache in Node role watchers
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sDruidNodeDiscoveryProvider.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sAnnouncerAndDiscoveryIntTest.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sDruidNodeDiscoveryProviderTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/discovery/BaseNodeRoleWatcher.java
  server/src/main/java/org/apache/druid/discovery/DruidNodeDiscovery.java
  server/src/main/java/org/apache/druid/discovery/DruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/rpc/DiscoveryServiceLocator.java
  server/src/test/java/org/apache/druid/discovery/BaseNodeRoleWatcherTest.java
Labels: Area - Ingestion

#16052 [Backport] Handle uninitialized cache in Node role watchers (#15726)
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sDruidNodeDiscoveryProvider.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sAnnouncerAndDiscoveryIntTest.java
  extensions-core/kubernetes-extensions/src/test/java/org/apache/druid/k8s/discovery/K8sDruidNodeDiscoveryProviderTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  server/src/main/java/org/apache/druid/client/HttpServerInventoryView.java
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/discovery/BaseNodeRoleWatcher.java
  server/src/main/java/org/apache/druid/discovery/DruidNodeDiscovery.java
  server/src/main/java/org/apache/druid/discovery/DruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/rpc/DiscoveryServiceLocator.java
  server/src/test/java/org/apache/druid/discovery/BaseNodeRoleWatcherTest.java
Labels: Backport, Area - Ingestion

#16042 fixup!: #15981 Missing completion reports on index_parallel tasks
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskReportSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/HashPartitionTaskKillTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/RangePartitionTaskKillTest.java
Labels: Area - Ingestion

#16001 restore information about truncated responses to sql api
  docs/api-reference/sql-api.md
Labels: Area - Documentation

#16066 docs: restore information about truncated responses to sql api (#16001)
  docs/api-reference/sql-api.md
Labels: Area - Documentation

#15947 Enable segments read/published stats on Compaction task completion reports
  docs/ingestion/tasks.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrorsTaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrorsTaskReportData.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskReportSerdeTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
  integration-tests/src/test/resources/indexer/wikipedia_compaction_task_parallel.json
Labels: Area - Documentation, Area - Ingestion

#16035 Update Memcache SSLContext Protocol to TLSv1.2
  server/src/main/java/org/apache/druid/client/cache/MemcachedCache.java
  server/src/test/java/org/apache/druid/client/cache/MemcachedCacheTest.java
Labels: Release Notes

#15987 Fix bug while materializing scan's result to frames
  processing/src/main/java/org/apache/druid/frame/allocation/AppendableMemory.java
  processing/src/main/java/org/apache/druid/frame/allocation/HeapMemoryAllocator.java
  processing/src/main/java/org/apache/druid/frame/segment/FrameCursorUtils.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/scan/ConcatCursor.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/scan/ScanResultValueFramesIterable.java
  processing/src/main/java/org/apache/druid/query/scan/ScanResultValueIterator.java
  processing/src/main/java/org/apache/druid/query/scan/SettableCursorColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/segment/ColumnInspector.java
  processing/src/test/java/org/apache/druid/frame/allocation/HeapMemoryAllocatorTest.java
  processing/src/test/java/org/apache/druid/query/FrameBasedInlineDataSourceSerializerTest.java
  processing/src/test/java/org/apache/druid/query/scan/ConcatCursorTest.java
  processing/src/test/java/org/apache/druid/query/scan/ScanResultValueFramesIterableTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/FrameBasedIndexedTableTest.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
Labels: Area - Querying, Area - Segment Format and Ser/De

#16069 Update docs for rabbit community extension
  docs/configuration/extensions.md
  docs/development/extensions-contrib/rabbit-stream-ingestion.md
Labels: Area - Documentation

#16070 Disable DecoupledPlanningCalciteJoinQueryTest until it gets fixed
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteJoinQueryTest.java
Labels: Bug, Area - Querying, Area - Testing

#15902 update window functions doc
  docs/querying/sql-functions.md
  docs/querying/sql-translation.md
  docs/querying/sql-window-functions.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#16079 [Backport] Fix race in BaseNodeRoleWatcher tests (#16064)
  extensions-core/kubernetes-extensions/src/main/java/org/apache/druid/k8s/discovery/K8sDruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/curator/discovery/CuratorDruidNodeDiscoveryProvider.java
  server/src/main/java/org/apache/druid/discovery/BaseNodeRoleWatcher.java
  server/src/test/java/org/apache/druid/discovery/BaseNodeRoleWatcherTest.java
Labels: Backport

#16082 Use dorny/paths-filter@v3.0.0
  .github/workflows/revised-its.yml
  .github/workflows/standard-its.yml
  .github/workflows/unit-tests.yml
Labels: GHA

#16062 [Backport] Rows.objectToNumber: Accept decimals with output type LONG. (#15999)
  processing/src/main/java/org/apache/druid/data/input/Rows.java
  processing/src/test/java/org/apache/druid/data/input/impl/RowsTest.java
Labels: Backport

#16011 remove aws-sdk from ranger-extension
  extensions-core/druid-ranger-security/pom.xml
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#16065 Fix bug with mmless ingestion and compaction tasks on azure
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorage.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskTest.java
Labels: Area - Ingestion

#16088 Web console: wait for the coordinator (and proxy service to start)
  web-console/script/druid
Labels: Area - Testing, Flaky test, Area - Web Console

#16060 [Backport] Web console: make double detection better
  web-console/src/druid-models/ingestion-spec/ingestion-spec.spec.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/views/workbench-view/input-format-step/input-format-step.tsx
Labels: Area - Web Console

#16059 [Backport] Web console: fix crash when parsing data in data loader that can not be parsed
  web-console/src/utils/object-change.spec.ts
  web-console/src/utils/object-change.ts
  web-console/src/utils/sampler.ts
Labels: Area - Web Console

#16058 [Backport] Web console: support for the export execution state
  web-console/lib/keywords.js
  web-console/src/druid-models/execution/execution.ts
  web-console/src/druid-models/workbench-query/workbench-query.spec.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/views/workbench-view/query-tab/query-tab.scss
  web-console/src/views/workbench-view/query-tab/query-tab.tsx
Labels: Area - Web Console

#16083 Change last update timestamp granularity of GCS objects from seconds to milliseconds
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorage.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorageObjectMetadata.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleTaskLogs.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleTimestampVersionedDataFinder.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleStorageTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleTimestampVersionedDataFinderTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/duty/TaskLogAutoCleanerConfig.java
  processing/src/main/java/org/apache/druid/tasklogs/TaskLogKiller.java
Labels: Area - Ingestion

#16086 [Backport] Change last update timestamp granularity of GCS objects from seconds to milliseconds
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorage.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorageObjectMetadata.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleTaskLogs.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleTimestampVersionedDataFinder.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleStorageTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleTimestampVersionedDataFinderTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/duty/TaskLogAutoCleanerConfig.java
  processing/src/main/java/org/apache/druid/tasklogs/TaskLogKiller.java
Labels: Area - Ingestion

#16067 Refine naming format for PeonCommandContext
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/PeonCommandContext.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/resources/expectedCPUResourceOutput.yaml
Labels: Kubernetes

#16061 [Backport] Revert explain attributes change
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/ExplainAttributes.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/IngestHandler.java
  sql/src/main/java/org/apache/druid/sql/destination/ExportDestination.java
  sql/src/main/java/org/apache/druid/sql/destination/IngestDestination.java
  sql/src/main/java/org/apache/druid/sql/destination/TableDestination.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/TestInsertQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/ExplainAttributesTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16092 Refactored AsyncQueryForwardingServletTest to Reduce Code Duplication
  services/src/test/java/org/apache/druid/server/AsyncQueryForwardingServletTest.java
Labels: Area - Testing, Refactoring

#16080 docs refinement: json format
  docs/api-reference/tasks-api.md
Labels: Area - Documentation

#16046 Calcite tests remove expected exception
  extensions-core/multi-stage-query/pom.xml
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteArraysQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectJoinQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteUnionQueryMSQTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteReplaceDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestTableFunctionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestRunner.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Dependencies, Area - MSQ

#16095 [Backport 29.0.1] Remove exception on failure response from GCS delete API
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleDataSegmentKiller.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorage.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleUtils.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/output/GoogleStorageConnector.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleDataSegmentKillerTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleStorageTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleTaskLogsTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleTestUtils.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/GoogleUtilsTest.java
  extensions-core/google-extensions/src/test/java/org/apache/druid/storage/google/output/GoogleStorageConnectorTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/utils/GcsTestUtil.java
Labels: Backport

#16027 netty 4.1.107
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#16094 Fixup KillUnusedSegmentsTest
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestSegmentsMetadataManager.java
Labels: Area - Testing

#16056 [Backport] Bump org.postgresql:postgresql from 42.6.0 to 42.7.2
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#16053 [Backport] fix NestedCommonFormatColumnHandler to use nullable comparator when castToType is set
  processing/src/main/java/org/apache/druid/segment/AutoTypeColumnSchema.java
  processing/src/main/java/org/apache/druid/segment/NestedCommonFormatColumnHandler.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
Labels: Area - Segment Format and Ser/De

#16072 Add deep storage segment metric
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/Stats.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
Labels: Area - Documentation

#16099 Remove `@JsonIgnore` annotations for private members of `TaskAction` classes
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/LockReleaseAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/MarkSegmentsAsUnusedAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/RetrieveUnusedSegmentsAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/RetrieveUsedSegmentsAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentMetadataUpdateAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentNukeAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/TimeChunkLockAcquireAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/TimeChunkLockTryAcquireAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/UpdateLocationAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/UpdateStatusAction.java
Labels: Area - Ingestion

#16076 decouple column serializer compression closers from SegmentWriteOutMedium
  benchmarks/src/test/java/org/apache/druid/benchmark/compression/BaseColumnarLongsBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/compression/FloatCompressionBenchmarkFileGenerator.java
  benchmarks/src/test/java/org/apache/druid/benchmark/compression/LongCompressionBenchmarkFileGenerator.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalLongColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/DictionaryEncodedColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/DoubleColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/DoubleColumnSerializerV2.java
  processing/src/main/java/org/apache/druid/segment/FloatColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/FloatColumnSerializerV2.java
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
  processing/src/main/java/org/apache/druid/segment/LongColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/LongColumnSerializerV2.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarDoublesSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarFloatsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarLongsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedBlockSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedLongsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedVSizeColumnarIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedVariableSizedBlobColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/CompressionFactory.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/data/IntermediateColumnarLongsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/V3CompressedVSizeColumnarMultiIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/GlobalDictionaryEncodedFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongFieldColumnWriter.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarNestedCommonFormatColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnSerializer.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedColumnarIntsSerializerTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedDoublesSerdeTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedFloatsSerdeTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedLongsAutoEncodingSerdeTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedLongsSerdeTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedVSizeColumnarIntsSerializerTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedVariableSizeBlobColumnTest.java
  processing/src/test/java/org/apache/druid/segment/data/V3CompressedVSizeColumnarMultiIntsSerializerTest.java
Labels: Performance, Area - Operations, Area - Segment Format and Ser/De, Area - Ingestion

#15939 Handling latest_by and earliest_by on numeric columns correctly
  processing/src/main/java/org/apache/druid/query/aggregation/first/NumericFirstAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/NumericFirstBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastBufferAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying

#16087 Web console: upgrade axios and follow-redirects
  licenses.yaml
  licenses/bin/asynckit.MIT
  licenses/bin/axios.MIT
  licenses/bin/combined-stream.MIT
  licenses/bin/delayed-stream.MIT
  licenses/bin/form-data.MIT
  licenses/bin/mime-db.MIT
  licenses/bin/mime-types.MIT
  licenses/bin/proxy-from-env.MIT
  web-console/babel.config.js
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/auto-form/__snapshots__/auto-form.spec.tsx.snap
  web-console/src/components/formatted-input/__snapshots__/formatted-input.spec.tsx.snap
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/components/index.ts
  web-console/src/components/json-collapse/__snapshots__/json-collapse.spec.tsx.snap
  web-console/src/components/suggestible-input/__snapshots__/suggestible-input.spec.tsx.snap
  web-console/src/components/timed-button/__snapshots__/timed-button.spec.tsx.snap
  web-console/src/dialogs/compaction-config-dialog/__snapshots__/compaction-config-dialog.spec.tsx.snap
  web-console/src/dialogs/datasource-table-action-dialog/datasource-columns-table/__snapshots__/datasource-columns-table.spec.tsx.snap
  web-console/src/dialogs/index-spec-dialog/__snapshots__/index-spec-dialog.spec.tsx.snap
  web-console/src/dialogs/lookup-edit-dialog/__snapshots__/lookup-edit-dialog.spec.tsx.snap
  web-console/src/dialogs/supervisor-table-action-dialog/supervisor-statistics-table/__snapshots__/supervisor-statistics-table.spec.tsx.snap
  web-console/src/druid-models/execution/execution.spec.ts
  web-console/src/druid-models/ingest-query-pattern/ingest-query-pattern.spec.ts
  web-console/src/druid-models/ingestion-spec/ingestion-spec.spec.ts
  web-console/src/druid-models/stages/stages.spec.ts
  web-console/src/entry.ts
  web-console/src/singletons/api.ts
  web-console/src/utils/joda-to-regexp.spec.ts
  web-console/src/utils/sampler.spec.ts
  web-console/src/utils/sql.spec.ts
  web-console/src/utils/utils.spec.ts
  web-console/src/views/datasources-view/__snapshots__/datasources-view.spec.tsx.snap
  web-console/src/views/lookups-view/__snapshots__/lookups-view.spec.tsx.snap
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/services-view/__snapshots__/services-view.spec.tsx.snap
  web-console/src/views/supervisors-view/__snapshots__/supervisors-view.spec.tsx.snap
  web-console/src/views/tasks-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/workbench-view/column-tree/__snapshots__/column-tree.spec.tsx.snap
  web-console/src/views/workbench-view/execution-details-pane/__snapshots__/execution-details-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-stages-pane/__snapshots__/execution-stages-pane.spec.tsx.snap
  web-console/src/views/workbench-view/execution-submit-dialog/__snapshots__/execution-submit-dialog.spec.tsx.snap
  web-console/src/views/workbench-view/explain-dialog/__snapshots__/explain-dialog.spec.tsx.snap
  web-console/src/views/workbench-view/flexible-query-input/__snapshots__/flexible-query-input.spec.tsx.snap
  web-console/src/views/workbench-view/max-tasks-button/__snapshots__/max-tasks-button.spec.tsx.snap
  web-console/src/views/workbench-view/query-parameters-dialog/__snapshots__/query-parameters-dialog.spec.tsx.snap
Labels: Area - Web Console, Area - Dependencies

#16103 Fix `numSegmentsKilled` metric
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
Labels: Bug, Area - Ingestion

#16093 Handling array with boolean literals
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Area - Querying

#16033 Pull up literals in InputAccessor
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/InputAccessor.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Windowing.java
Labels: Area - Querying

#16104 Update `maxRowsInMemory` and `maxBytesInMemory` description
  docs/ingestion/supervisor.md
Labels: Area - Documentation

#16107 Fix data race in getting results from MSQ select tasks.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQResultsReport.java
Labels: Area - Batch Ingestion, Area - MSQ

#15994 Kill segments by versions
  docs/data-management/delete.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/RetrieveUnusedSegmentsAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/ArchiveTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/MoveTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/RestoreTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsActionsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ClientKillUnusedSegmentsTaskQuerySerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/client/indexing/ClientKillUnusedSegmentsTaskQuery.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClient.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/test/java/org/apache/druid/client/indexing/ClientKillUnusedSegmentsTaskQueryTest.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/rpc/indexing/OverlordClientImplTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
  server/src/test/java/org/apache/druid/server/http/DataSourcesResourceTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Ingestion

#16105 fix sql results mixed array and scalar values
  sql/src/main/java/org/apache/druid/sql/calcite/run/SqlResults.java
  sql/src/test/java/org/apache/druid/sql/calcite/run/SqlResultsTest.java
Labels: Bug, Area - Querying, Area - SQL

#16114 reset keySerde when closing groupers to clear out heap dictionaries
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/AbstractBufferHashGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/SpillingGrouper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/StreamingMergeSortedGrouper.java
Labels: Bug, Area - Querying

#16073 MSQ: Plan without implicit sorting.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectJoinQueryMSQTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/querygen/DruidQueryGenerator.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidCorrelateUnnestRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidJoinQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidOuterQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidUnionDataSourceRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidRules.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/EngineFeature.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/SqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/ViewSqlEngine.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteScanSignatureTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestionTestSqlEngine.java
Labels: Bug, Area - Batch Ingestion, Area - Querying, Area - MSQ

#16111 Web console: fix URI wording for lookups
  web-console/src/dialogs/lookup-edit-dialog/__snapshots__/lookup-edit-dialog.spec.tsx.snap
  web-console/src/druid-models/lookup-spec/lookup-spec.tsx
Labels: Area - Web Console

#16110 docs: clarify description of uri/uriprefix
  docs/development/extensions-core/lookups-cached-global.md
Labels: Area - Documentation

#15927 Web console: Make array ingest mode ux better
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/query-context/query-context.tsx
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/helpers/spec-conversion.spec.ts
  web-console/src/helpers/spec-conversion.ts
  web-console/src/views/sql-data-loader-view/sql-data-loader-view.tsx
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Web Console

#15920 MSQ: Validate that strings and string arrays are not mixed.
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/reference.md
  docs/querying/arrays.md
  docs/querying/multi-value-dimensions.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/DimensionSchemaUtils.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQArraysTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/DimensionSchemaUtilsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - MSQ

#15974 fix issues with array_contains and array_overlap with null left side arguments
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  processing/src/main/java/org/apache/druid/math/expr/ConstantExpr.java
  processing/src/main/java/org/apache/druid/math/expr/Expr.java
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionSelectors.java
  processing/src/test/java/org/apache/druid/math/expr/ConstantExprTest.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/BaseExpressionDimFilterOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidRexExecutor.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteLookupFunctionQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
Labels: Bug, Area - Querying, Area - Segment Format and Ser/De, Area - SQL, Area - Null Handling

#16120 fix compile error: ARRAYS_DATASOURCE
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Area - Querying, Development Blocker

#16081 [Docs] Improve the "Update existing data" tutorial
  docs/tutorials/tutorial-append-data.md
  docs/tutorials/tutorial-update-data.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#15984 remove use log of log4j v1
  extensions-core/hdfs-storage/pom.xml
  indexing-hadoop/pom.xml
Labels: Area - Batch Ingestion, Area - Dependencies

#16129 Refactor tests and code clean up
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataConnectorTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/metadata/TestDerbyConnector.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
Labels: Area - Testing

#16127 Fix Cannot mark an unqueryable datasource's segments used / unused
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/test/java/org/apache/druid/server/http/DataSourcesResourceTest.java
Labels: Bug

#16137 docs: Update `caniuse-lite`
  website/package-lock.json
Labels: Area - Documentation

#16131 Add security ITs for sending tasks to overlord
  .github/workflows/revised-its.yml
  integration-tests-ex/cases/pom.xml
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/auth/ITSecurityBasicQuery.java
  integration-tests-ex/cases/src/test/resources/indexer/export_task.json
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
Labels: Area - Dependencies, GHA

#16145 Fix validation of empty segment IDs in `markUsed` and `markUnused` APIs
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/test/java/org/apache/druid/server/http/DataSourcesResourceTest.java
Labels: Bug

#16146 Fix metric emission in the segment generation phase
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
Labels: Area - Ingestion

#16116 MSQ: Remove unnecessary snapshot deserialization code.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/MSQTasks.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/DelegateOrMinKeyCollectorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/DistinctKeyCollectorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/KeyCollectorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/KeyCollectorSnapshotDeserializerModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/statistics/QuantilesSketchKeyCollectorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/statistics/ClusterByStatisticsCollectorImplTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#16151 [Backport] Web console: Make array ingest mode ux better
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/druid-models/query-context/query-context.tsx
  web-console/src/druid-models/workbench-query/workbench-query.ts
  web-console/src/helpers/spec-conversion.spec.ts
  web-console/src/helpers/spec-conversion.ts
  web-console/src/views/sql-data-loader-view/sql-data-loader-view.tsx
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Web Console

#16150 [Backport] Fix data race in getting results from MSQ select tasks.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/report/MSQResultsReport.java
Labels: Area - Batch Ingestion, Area - MSQ

#16149 [Backport] Globally disable AUTO_CLOSE_JSON_CONTENT.
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskReportSerdeTest.java
  processing/src/main/java/org/apache/druid/jackson/DefaultObjectMapper.java
  sql/src/main/java/org/apache/druid/sql/http/ArrayWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectWriter.java
Labels: Area - Querying, Area - Ingestion

#15972 Adding null check to earliest and latest aggs
  processing/src/main/java/org/apache/druid/query/aggregation/first/NumericFirstVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastVectorAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/FloatFirstVectorAggregationTest.java
Labels: Bug, Area - Querying, Area - MSQ

#16138 fix ColumnType to RelDataType conversion for nested arrays
  sql/src/main/java/org/apache/druid/sql/calcite/table/RowSignatures.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Bug, Area - Querying, Area - SQL

#16158 MSQ: Cancel workers more quickly.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
Labels: Area - Batch Ingestion, Area - MSQ

#16159 MSQ: Fix NPE in getWorkerStats().
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
Labels: Area - Batch Ingestion, Area - MSQ

#16163 [Backport] Handling latest_by and earliest_by on numeric columns correctly #15939
  processing/src/main/java/org/apache/druid/query/aggregation/first/NumericFirstAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/first/NumericFirstBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastBufferAggregator.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying, Backport

#16167 [Backport] Fix incorrect header names for certain export queries (#16096)
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQExportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessorFactoryTest.java
Labels: Area - Batch Ingestion, Backport, Area - MSQ

#16164 [Backport] Adding null check to earliest and latest aggs
  processing/src/main/java/org/apache/druid/query/aggregation/first/NumericFirstVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/last/NumericLastVectorAggregator.java
  processing/src/test/java/org/apache/druid/query/aggregation/first/FloatFirstVectorAggregationTest.java
Labels: Backport

#16160 [Backport] MSQ: Validate that strings and string arrays are not mixed. (#15920)
  docs/multi-stage-query/concepts.md
  docs/multi-stage-query/reference.md
  docs/querying/arrays.md
  docs/querying/multi-value-dimensions.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/DimensionSchemaUtils.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQArraysTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/DimensionSchemaUtilsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Backport, Area - MSQ

#16170 Fix build: newTempFolder
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQExportTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#16141 Add versions to `markUsed` and `markUnused` APIs
  docs/api-reference/data-management-api.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/MarkSegmentsAsUnusedAction.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/metadata/TestDerbyConnector.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/TestSegmentsMetadataManager.java
  server/src/test/java/org/apache/druid/server/http/DataSourcesResourceTest.java
Labels: Area - Documentation, Area - Ingestion

#16003 SortMerge join support for IS NOT DISTINCT FROM.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorFactoryTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorTest.java
  processing/src/main/java/org/apache/druid/frame/key/FrameComparisonWidget.java
  processing/src/main/java/org/apache/druid/frame/key/FrameComparisonWidgetImpl.java
  processing/src/test/java/org/apache/druid/frame/key/FrameComparisonWidgetImplTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/JoinAlgorithm.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16172 Expose Kinesis lag metrics
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
Labels: Area - Metrics/Event Emitting

#16161 MSQ: Controller checker should check for "closed" only.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerWorkerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/IndexerWorkerContextTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#15963 fix REGEXP_LIKE, CONTAINS_STRING, ICONTAINS_STRING for correct 3vl behavior
  processing/src/main/java/org/apache/druid/query/expression/ContainsExpr.java
  processing/src/main/java/org/apache/druid/query/expression/RegexpLikeExprMacro.java
  processing/src/test/java/org/apache/druid/query/expression/CaseInsensitiveExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/ContainsExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/RegexpLikeExprMacroTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionsTest.java
Labels: Bug, Area - Querying, Release Notes, Area - SQL, Area - Null Handling

#16173 Web console: fix Azure icon not rendering
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
  web-console/src/utils/types.ts
  web-console/src/views/load-data-view/__snapshots__/load-data-view.spec.tsx.snap
Labels: Bug, Area - Web Console

#15991 Add indexer level task metrics to provide more visibility in the task distribution
  docs/operations/metrics.md
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
  indexing-service/src/main/java/org/apache/druid/indexing/worker/WorkerTaskManager.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskManagerTest.java
  server/src/main/java/org/apache/druid/server/metrics/IndexerTaskCountStatsProvider.java
  server/src/main/java/org/apache/druid/server/metrics/WorkerTaskCountStatsMonitor.java
  server/src/test/java/org/apache/druid/server/metrics/WorkerTaskCountStatsMonitorTest.java
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
Labels: Area - Documentation, Area - Metrics/Event Emitting, Area - Ingestion

#15960 Release notes for 29.0.1 patch release
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation

#16039 add new typed in filter
  benchmarks/src/test/java/org/apache/druid/benchmark/DictionaryEncodedStringIndexSupplierBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/InFilterBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  processing/src/main/java/org/apache/druid/query/filter/BoundDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/DimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/DimFilterUtils.java
  processing/src/main/java/org/apache/druid/query/filter/InDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/SelectorDimFilter.java
  processing/src/main/java/org/apache/druid/query/filter/TypedInFilter.java
  processing/src/main/java/org/apache/druid/segment/index/BitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/IndexedUtf8ValueIndexes.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/ArrayElementIndexes.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/DictionaryEncodedValueIndex.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/DruidPredicateIndexes.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/NullValueIndex.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/StringValueSetIndexes.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/Utf8ValueSetIndexes.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/ValueIndexes.java
  processing/src/main/java/org/apache/druid/segment/index/semantic/ValueSetIndexes.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/StringUtf8ColumnIndexSupplier.java
  processing/src/test/java/org/apache/druid/segment/filter/BoundFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/InFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/InFilterTests.java
  processing/src/test/java/org/apache/druid/segment/filter/SelectorFilterTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/CollectComparisons.java
  sql/src/main/java/org/apache/druid/sql/calcite/filtration/ConvertSelectorsToIns.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/ReverseLookupRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteLookupFunctionQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteUnionQueryTest.java
Labels: Performance, Area - Querying, Area - Segment Format and Ser/De, Area - Dependencies

#16192 Adding null value check and appropriate log
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafkainput/KafkaStringHeaderReader.java
Labels: Area - Streaming Ingestion

#16182 Redact passwords from tasks fetched from the TaskQueue
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskMaster.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/concurrent/ConcurrentReplaceAndAppendTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueScaleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
Labels: Area - Ingestion

#16186 Add errorCode to failure type `InternalServerError`
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  processing/src/main/java/org/apache/druid/error/InternalServerError.java
  processing/src/test/java/org/apache/druid/error/InternalServerErrorTest.java
Labels: Error handling, Kubernetes

#16187 Refactor: Clean up TaskQueueTest
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
Labels: Area - Ingestion

#15962 INSERT/REPLACE dimension target column types are validated against source input expressions
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogIngestionTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogInsertTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/sql/CatalogReplaceTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlParserUtils.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/table/DatasourceTable.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogIngestionDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogInsertTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteCatalogReplaceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteStrictInsertTest.java
Labels: Area - Querying

#16063 Rewrite exotic LAST_VALUE/FIRST_VALUE to self-reference.
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Windowing.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/RewriteFirstValueLastValueRule.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupportedUsageTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidOperatorTableTest.java
  sql/src/test/resources/calcite/tests/window/first_last_rewrite.sqlTest.sqlTest
  sql/src/test/resources/calcite/tests/window/wikipediaCumulativeOrdered.sqlTest
  sql/src/test/resources/calcite/tests/window/wikipediaSimplePartition.sqlTest
Labels: Area - Querying

#16196 Refactor: Simplify creation of input row filter in various batch tasks
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/InputSourceProcessor.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionCardinalityTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
Labels: Area - Ingestion

#16198 Fix handling an empty list of versions
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsActionsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTaskTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManager.java
  server/src/main/java/org/apache/druid/metadata/SqlSegmentsMetadataQuery.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
Labels: Area - Ingestion

#16113 Allow non literal rhs in MV_FILTER_ONLY and MV_FILTER_NONE
  processing/src/main/java/org/apache/druid/math/expr/ApplyFunction.java
  processing/src/test/java/org/apache/druid/math/expr/ApplyFunctionTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
Labels: Area - Querying

#15693 Avoid conversion to String in JsonReader, JsonNodeReader.
  benchmarks/pom.xml
  benchmarks/src/test/java/org/apache/druid/benchmark/JsonInputFormatBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/JsonLineReaderBenchmark.java
  indexing-service/src/main/java/org/apache/druid/indexing/input/InputRowSchemas.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamSamplerSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SettableByteEntity.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/StreamChunkParser.java
  processing/src/main/java/org/apache/druid/data/input/InputEntity.java
  processing/src/main/java/org/apache/druid/data/input/impl/ByteEntity.java
  processing/src/main/java/org/apache/druid/data/input/impl/JsonNodeReader.java
  processing/src/main/java/org/apache/druid/data/input/impl/JsonReader.java
Labels: Performance, Area - Dependencies, Area - Ingestion

#16199 Visibility into LagBased AutoScaler desired task count
  docs/operations/metrics.md
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/AutoScalerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScaler.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScalerConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Area - Documentation, Release Notes, Area - Ingestion

#16210 Remove junit-jupiter-api version to prevent inconsistent version
  extensions-contrib/kubernetes-overlord-extensions/pom.xml
Labels: Area - Dependencies, Kubernetes

#16214 MSQ: Fix issue where AUTO assignment would not respect maxWorkerCount.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/input/stage/StripedReadablePartitions.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/WorkerAssignmentStrategy.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/kernel/controller/WorkerInputsTest.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#15470 Window function on msq
  docs/multi-stage-query/known-issues.md
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/Limits.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TooManyRowsInAWindowFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPostShuffleFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryKit.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskSqlEngine.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQSelectTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQWindowTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  processing/src/main/java/org/apache/druid/frame/segment/FrameSegment.java
  processing/src/main/java/org/apache/druid/frame/write/FrameWriter.java
  processing/src/main/java/org/apache/druid/query/operator/WindowOperatorQueryQueryRunnerFactory.java
  processing/src/main/java/org/apache/druid/query/operator/window/WindowFramedAggregateProcessor.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/LazilyDecoratedRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/MapOfColumnsRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/StorageAdapterRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/ColumnBasedFrameRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/concrete/RowBasedFrameRowsAndColumns.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/RowsAndColumnsTestBase.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/StorageAdapterRowsAndColumnsTest.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/concrete/ColumnBasedFrameRowsAndColumnsTest.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/semantic/RowsAndColumnsDecoratorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rule/DruidJoinRule.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/EngineFeature.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/ViewSqlEngine.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/IngestionTestSqlEngine.java
  sql/src/test/resources/calcite/tests/window/no_grouping2.sqlTest
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - MSQ

#16202 Refactor: Add common method in AbstractBatchIndexTask to create ingestion stats report
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrors.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/IngestionStatsAndErrorsTaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AppenderatorDriverRealtimeIndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/ParseExceptionReport.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskReportSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseParallelIndexingTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITCompactionTaskTest.java
Labels: Area - Streaming Ingestion, Area - Ingestion
