Repository apache/druid, pull requests merged in 2024-06, with the labels that each got.

#16537 [Backport] Fix race in AzureClient factory fetch
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureClientFactory.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureClientFactoryTest.java
Labels: Bug, Backport

#16535 Clean up allocation and supervisor logs for easier debugging
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Ingestion

#16530 docs: add lookups to the sidebar
  docs/configuration/extensions.md
  docs/configuration/index.md
  docs/querying/kafka-extraction-namespace.md
  docs/querying/lookups-cached-global.md
  docs/querying/lookups.md
  website/redirects.js
  website/sidebars.json
Labels: Area - Documentation

#16521 Update Azure extension tests to JUnit 5
  extensions-core/azure-extensions/pom.xml
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureEntityTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureInputSourceSerdeTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureInputSourceTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/data/input/azure/AzureStorageAccountInputSourceTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureAccountConfigTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureByteSourceTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureClientFactoryTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureCloudBlobIteratorTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentKillerTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentPullerTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureDataSegmentPusherTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureIngestClientFactoryTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageDruidModuleTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureTaskLogsTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureTestUtils.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureUtilsTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/output/AzureInputRangeTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/output/AzureOutputConfigTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/output/AzureOutputSerdeTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/output/AzureStorageConnectorProviderTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/output/AzureStorageConnectorTest.java
Labels: Area - Dependencies

#16540 Add `README` to Azure extensions with link to docs
  extensions-core/azure-extensions/README.md
Labels: Area - Documentation

#16451 Added new use cases and description of the use case - 5/14/24
  docs/design/index.md
  website/.spelling
Labels: Area - Documentation

#16547 docs: add maxSubqueryBytes limit to migration guide landing page
  docs/release-info/migration-guide.md
Labels: Area - Documentation

#16546 [backport] multiple docs prs
  docs/configuration/extensions.md
  docs/configuration/index.md
  docs/design/index.md
  docs/ingestion/flatten-json.md
  docs/ingestion/ingestion-spec.md
  docs/querying/kafka-extraction-namespace.md
  docs/querying/lookups-cached-global.md
  docs/querying/lookups.md
  docs/release-info/migr-front-coded-dict.md
  docs/release-info/migr-subquery-limit.md
  docs/release-info/migration-guide.md
  website/.spelling
  website/redirects.js
  website/sidebars.json
Labels: Area - Documentation

#16515 Add a tutorial for LATEST_BY to get most recent data
  docs/tutorials/tutorial-latest-by.md
  website/sidebars.json
Labels: Area - Documentation

#16345 Add new metrics from v30 to prometheus-emitter
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
Labels: Area - Metrics/Event Emitting

#16553 Docs: Remove circular link
  docs/ingestion/ingestion-spec.md
Labels: Area - Documentation

#16557 Add interface method for returning canonical lookup name
  benchmarks/src/test/java/org/apache/druid/benchmark/JoinAndLookupBenchmark.java
  processing/src/main/java/org/apache/druid/query/lookup/LookupExtractorFactoryContainerProvider.java
  processing/src/test/java/org/apache/druid/query/expression/LookupExprMacroTest.java
  server/src/main/java/org/apache/druid/query/lookup/LookupReferencesManager.java
  server/src/main/java/org/apache/druid/query/lookup/LookupSerdeModule.java
  server/src/test/java/org/apache/druid/query/expression/LookupEnabledTestExprMacroTable.java
  server/src/test/java/org/apache/druid/query/lookup/LookupReferencesManagerTest.java
  server/src/test/java/org/apache/druid/query/lookup/LookupSerdeModuleTest.java
  server/src/test/java/org/apache/druid/segment/LookupSegmentWranglerTest.java
  server/src/test/java/org/apache/druid/segment/join/LookupJoinableFactoryTest.java
  server/src/test/java/org/apache/druid/server/SpecificSegmentsQuerySegmentWalker.java
  services/src/test/java/org/apache/druid/server/AsyncQueryForwardingServletTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/QueryLookupOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestLookupProvider.java
Labels: Area - Querying

#16551 Fix capabilities reported by UnnestStorageAdapter.
  processing/src/main/java/org/apache/druid/segment/UnnestColumnValueSelectorCursor.java
  processing/src/main/java/org/apache/druid/segment/UnnestDimensionCursor.java
  processing/src/main/java/org/apache/druid/segment/UnnestStorageAdapter.java
  processing/src/test/java/org/apache/druid/segment/UnnestStorageAdapterTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
Labels: Bug, Area - Querying, Area - Segment Format and Ser/De

#15691 Simplify serialized form of JsonInputFormat.
  docs/api-reference/supervisor-api.md
  docs/api-reference/tasks-api.md
  docs/querying/sql-translation.md
  processing/src/main/java/org/apache/druid/data/input/impl/JsonInputFormat.java
  processing/src/test/java/org/apache/druid/data/input/impl/JsonInputFormatTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
Labels: Area - Documentation, Area - Querying

#16550 Fix serde for ArrayOfDoublesSketchConstantPostAggregator.
  extensions-core/datasketches/src/main/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchConstantPostAggregator.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToEstimatePostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToEstimateWithBoundsPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchToStringPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/HllSketchUnionPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToCDFPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToHistogramPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToQuantilePostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToQuantilesPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToRankPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllDoublesSketchToStringPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToCDFPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToHistogramPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToQuantilePostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToQuantilesPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToRankPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/kll/KllFloatsSketchToStringPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToCDFPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToHistogramPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToQuantilePostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToQuantilesPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToRankPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/DoublesSketchToStringPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchSetPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/SketchToStringPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchConstantPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchSetOpPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchTTestPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToBase64StringPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToEstimateAndBoundsPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToEstimatePostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToMeansPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToMetricsSumEstimatePostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToNumEntriesPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToQuantilesSketchPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToStringPostAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/ArrayOfDoublesSketchToVariancesPostAggregatorTest.java
Labels: Bug

#16366 Fallback vectorization for FunctionExpr and BaseMacroFunctionExpr.
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/filter/sql/BloomDimFilterSqlTest.java
  processing/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  processing/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  processing/src/main/java/org/apache/druid/math/expr/vector/CastToStringVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/ExprEvalObjectVector.java
  processing/src/main/java/org/apache/druid/math/expr/vector/FallbackVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/ObjectOutMultiObjectInVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/ObjectOutObjectsInFunctionVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/VectorProcessors.java
  processing/src/main/java/org/apache/druid/query/filter/vector/StringObjectVectorValueMatcher.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorSelectors.java
  processing/src/test/java/org/apache/druid/math/expr/vector/FallbackVectorProcessorTest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorObjectSelectorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteLookupFunctionQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteParameterQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteTimeBoundaryQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestRunner.java
Labels: Performance, Area - Querying, Area - Segment Format and Ser/De

#16566 [Backport] Fix backwards compatibility with centralized schema config in partial_index_merge tasks
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialGenericSegmentMergeParallelIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialGenericSegmentMergeTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialGenericSegmentMergeTaskTest.java
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/segment/metadata/FingerprintGenerator.java
Labels: Bug, Backport, Area - Ingestion

#16559 Disable event hubs when kafka extensions isn't loaded
  web-console/src/druid-models/ingestion-spec/ingestion-spec.tsx
Labels: Area - Web Console

#16571 Web console: fix pagination and filtering regression in supervisor view
  web-console/src/views/supervisors-view/__snapshots__/supervisors-view.spec.tsx.snap
  web-console/src/views/supervisors-view/supervisors-view.tsx
Labels: Bug, Area - Web Console

#16575 [Backport] Web console: fix pagination and filtering regression in superviser view (#16571)
  web-console/src/views/supervisors-view/__snapshots__/supervisors-view.spec.tsx.snap
  web-console/src/views/supervisors-view/supervisors-view.tsx
Labels: Area - Web Console

#16561 More validation for Azure account config
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureAccountConfig.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureDataSegmentConfig.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureAccountConfigTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureClientFactoryTest.java
  extensions-core/azure-extensions/src/test/java/org/apache/druid/storage/azure/AzureStorageDruidModuleTest.java
Labels: Area - Deep Storage, Area - Dependencies

#16577 fix expression column capabilities to not report dictionary encoded unless input is string
  processing/src/main/java/org/apache/druid/segment/serde/NestedCommonFormatColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionPlan.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionPlannerTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVirtualColumnTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Bug, Area - Querying, Area - Segment Format and Ser/De

#16570 docs: remove outdated druidversion var from a page
  docs/querying/datasource.md
Labels: Area - Documentation

#16578 Update default value of `druid.indexer.tasklock.batchAllocationWaitTime` to zero
  docs/configuration/index.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/config/TaskLockConfig.java
Labels: Area - Documentation, Area - Ingestion

#16582 Bring back missing property in indexer documentation
  docs/configuration/index.md
Labels: Area - Documentation

#16584 docs: Correct some outdated module names
  docs/development/modules.md
  website/.spelling
Labels: Area - Documentation

#16583 Fix sql syntax error user
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
Labels: Area - Querying

#16507 fix NestedDataColumnIndexerV4 to not report cardinality
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlGroupByBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlNestedDataBenchmark.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnIndexerV4.java
  processing/src/test/java/org/apache/druid/segment/AutoTypeColumnIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerV4Test.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionSanityTest.java
Labels: Bug, Area - Querying, Area - Segment Format and Ser/De

#16569 Remove incorrect utf8 conversion of ResultCache keys
  extensions-contrib/redis-cache/pom.xml
  extensions-contrib/redis-cache/src/test/java/org/apache/druid/client/cache/RedisClusterCacheTest.java
  extensions-contrib/redis-cache/src/test/java/org/apache/druid/client/cache/RedisStandaloneCacheTest.java
  server/src/main/java/org/apache/druid/client/CacheUtil.java
  server/src/main/java/org/apache/druid/query/ResultLevelCachingQueryRunner.java
  server/src/test/java/org/apache/druid/client/cache/CacheTestBase.java
  server/src/test/java/org/apache/druid/client/cache/CaffeineCacheTest.java
  server/src/test/java/org/apache/druid/client/cache/MapCacheTest.java
  server/src/test/java/org/apache/druid/client/cache/MemcachedCacheTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Bug, Area - Querying, Area - Dependencies

#16510 Support Dynamic Peon Pod Template Selection in K8s extension
  docs/development/extensions-contrib/k8s-jobs.md
  extensions-contrib/kubernetes-overlord-extensions/pom.xml
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactory.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/DefaultKubernetesTaskRunnerDynamicConfig.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/KubernetesTaskExecutionConfigResource.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/KubernetesTaskRunnerDynamicConfig.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/PodTemplateSelectStrategy.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/Selector.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/SelectorBasedPodTemplateSelectStrategy.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/TaskTypePodTemplateSelectStrategy.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesOverlordModuleTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactoryTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/execution/DefaultKubernetesTaskRunnerDynamicConfigTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/execution/KubernetesTaskExecutionConfigResourceTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/execution/KubernetesTaskRunnerDynamicConfigTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/execution/SelectorBasedPodTemplateSelectStrategyTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/execution/SelectorTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapterTest.java
Labels: Area - Documentation, Design Review, Area - Dependencies, Kubernetes

#16588 Clarify that all supervisors can support early handoff
  docs/api-reference/supervisor-api.md
Labels: Area - Documentation

#16516 docs: Migration guide for MVDs to arrays
  docs/querying/sql-functions.md
  docs/querying/sql.md
  docs/release-info/migr-mvd-array.md
  docs/release-info/migration-guide.md
  website/sidebars.json
Labels: Area - Documentation

#16599 docs: Migration guide for MVDs to arrays (#16516)
  docs/querying/sql-functions.md
  docs/querying/sql.md
  docs/release-info/migr-mvd-array.md
  docs/release-info/migration-guide.md
  website/sidebars.json
Labels: Area - Documentation

#16601 Update the youtube link for druid presentations page
  docs/misc/papers-and-talks.md
Labels: Area - Documentation

#16548 docs: fix redirect
  docs/ingestion/flatten-json.md
  website/redirects.js
Labels: Area - Documentation

#16511 Deserialize dimensions in group by queries to their respective types when reading from their serialized format
  benchmarks/src/test/java/org/apache/druid/benchmark/query/GroupByBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SerializingQueryRunner.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongDoubleComplexMetricSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongFloatComplexMetricSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongLongComplexMetricSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongStringComplexMetricSerde.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/segment/column/NullableTypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/column/ObjectStrategyComplexTypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/column/TypeStrategy.java
  processing/src/test/java/org/apache/druid/query/aggregation/AggregationTestHelper.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  sql/src/test/java/org/apache/druid/quidem/DruidAvaticaTestDriver.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
Labels: Area - Querying, Area - Segment Format and Ser/De

#16590 Docs - Revise removal date for legacy two-value logic and null handling modes
  docs/querying/sql-data-types.md
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation

#16596 Link fix
  docs/operations/auth.md
  docs/operations/basic-cluster-tuning.md
Labels: Area - Documentation

#16612 Fix task context fails with non string property value
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ForkingTaskRunnerTest.java
Labels: Area - Ingestion

#16618 Fix retry logic in `BrokerClient` and flakey `BrokerClientTest`
  server/src/main/java/org/apache/druid/discovery/BrokerClient.java
  server/src/test/java/org/apache/druid/discovery/BrokerClientTest.java
Labels: Flaky test

#16623 Optimize unused segment query for segment allocation
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Area - Ingestion

#16534 Grouping Engine fix when a limit spec with different order by columns is applied
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupingEngine.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Querying

#16626 Fix malformed period throwing `ADMIN` persona error
  processing/src/main/java/org/apache/druid/query/expression/ExprUtils.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampCeilExprMacro.java
  processing/src/main/java/org/apache/druid/query/expression/TimestampFloorExprMacro.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalcitePlanner.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
Labels: Area - Querying

#16585 docs: Update Azure extension
  docs/configuration/extensions.md
  docs/configuration/index.md
  docs/development/extensions-core/azure.md
  docs/development/extensions-core/hdfs.md
  docs/development/extensions-core/s3.md
  docs/ingestion/hadoop.md
  docs/ingestion/input-sources.md
  docs/ingestion/native-batch.md
  website/.spelling
Labels: Area - Documentation

#16621 CgroupCpuSetMonitor: Initialize the cgroup discoverer
  processing/src/main/java/org/apache/druid/java/util/metrics/CgroupCpuSetMonitor.java
Labels: Area - Metrics/Event Emitting

#16616 Emit metrics for S3UploadThreadPool
  docs/operations/metrics.md
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/RetryableS3OutputStream.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/output/S3UploadManager.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3StorageConnectorProviderTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/RetryableS3OutputStreamTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3StorageConnectorTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/S3UploadManagerTest.java
  processing/src/test/java/org/apache/druid/java/util/metrics/StubServiceEmitter.java
Labels: Area - Documentation

#16600 Update docs for K8s TaskRunner Dynamic Config
  docs/development/extensions-contrib/k8s-jobs.md
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/PodTemplateSelectStrategy.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/SelectorBasedPodTemplateSelectStrategy.java
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/execution/KubernetesTaskRunnerDynamicConfigTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/execution/SelectorBasedPodTemplateSelectStrategyTest.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapterTest.java
Labels: Area - Documentation, Kubernetes

#16632 Web console: show formatted JSON value
  licenses.yaml
  web-console/lib/keywords.js
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/record-table-pane/record-table-pane.tsx
  web-console/src/dialogs/edit-context-dialog/__snapshots__/edit-context-dialog.spec.tsx.snap
  web-console/src/dialogs/edit-context-dialog/edit-context-dialog.scss
  web-console/src/dialogs/edit-context-dialog/edit-context-dialog.spec.tsx
  web-console/src/dialogs/edit-context-dialog/edit-context-dialog.tsx
  web-console/src/dialogs/show-value-dialog/__snapshots__/show-value-dialog.spec.tsx.snap
  web-console/src/dialogs/show-value-dialog/show-value-dialog.scss
  web-console/src/dialogs/show-value-dialog/show-value-dialog.tsx
  web-console/src/views/workbench-view/column-tree/column-tree-menu/string-menu-items/string-menu-items.tsx
  web-console/src/views/workbench-view/result-table-pane/result-table-pane.tsx
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
Labels: Area - Web Console, Area - Query UI, Area - Dependencies

#16631 Upload tasklogs along with service logs on Standard IT failure
  .github/workflows/reusable-standard-its.yml
Labels: GHA

#16619 Materialize scan results correctly when columns are not present in the segments
  processing/src/main/java/org/apache/druid/query/scan/ScanResultValueFramesIterable.java
  processing/src/test/java/org/apache/druid/query/scan/ScanResultValueFramesIterableTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
Labels: Area - Querying

#16572 Fix complex columns with export
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/counters/ChannelCounters.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ResultsContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQExportTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/ResultsContextSerdeTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessorFactoryTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#16614 Fix replica task failures with metadata inconsistency while running concurrent append replace
  indexing-service/src/main/java/org/apache/druid/indexing/appenderator/ActionBasedUsedSegmentChecker.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsByIdAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/TaskAction.java
  indexing-service/src/test/java/org/apache/druid/indexing/appenderator/ActionBasedUsedSegmentCheckerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SegmentsAndCommitMetadata.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/UsedSegmentChecker.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriverFailTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/TestUsedSegmentChecker.java
Labels: Area - Ingestion

#16603 Make use group iterator for all window frames & support for same bound kinds
  processing/src/main/java/org/apache/druid/query/operator/window/WindowFrame.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/semantic/DefaultFramedOnHeapAggregatable.java
  processing/src/test/java/org/apache/druid/query/rowsandcols/semantic/FramedOnHeapAggregatableTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidSqlValidator.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/Windowing.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteWindowQueryTest.java
  sql/src/test/resources/calcite/tests/window/wikipediaAggregationsMultipleOrdering.sqlTest
  sql/src/test/resources/calcite/tests/window/wikipediaFramedAggregations.sqlTest
Labels: Area - Querying

#16608 The default `WHERE' filter for automatically generated SQL queries is returned
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Web Console

#16609 Support for bootstrap segments
  docs/api-reference/legacy-metadata-api.md
  processing/src/main/java/org/apache/druid/error/DruidException.java
  server/src/main/java/org/apache/druid/client/BootstrapSegmentsResponse.java
  server/src/main/java/org/apache/druid/client/JsonParserIterator.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClient.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClientImpl.java
  server/src/main/java/org/apache/druid/rpc/indexing/OverlordClientImpl.java
  server/src/main/java/org/apache/druid/segment/loading/LocalDataSegmentPuller.java
  server/src/main/java/org/apache/druid/server/coordination/LoadableDataSegment.java
  server/src/main/java/org/apache/druid/server/coordination/SegmentLoadDropHandler.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinatorRuntimeParams.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/StrategicSegmentAssigner.java
  server/src/main/java/org/apache/druid/server/http/MetadataResource.java
  server/src/test/java/org/apache/druid/client/coordinator/CoordinatorClientImplTest.java
  server/src/test/java/org/apache/druid/client/coordinator/NoopCoordinatorClient.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentLoadDropHandlerCacheTest.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentLoadDropHandlerTest.java
  server/src/test/java/org/apache/druid/server/coordination/TestCoordinatorClient.java
  server/src/test/java/org/apache/druid/server/coordination/ZkCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
Labels: Area - Documentation

#16646 docs: added front-coded dictionaries to upgrade note sections
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation

#16647 docs: added front-coded dictionaries to upgrade notes
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
Labels: Area - Documentation

#16630 Support csv input format in Kafka ingestion with header
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/data/input/kafkainput/KafkaInputReader.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/data/input/kafkainput/KafkaInputFormatTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TestUtils.java
Labels: Area - Streaming Ingestion, Area - Ingestion

#16651 Fix Intellij inspection error (exception never thrown)
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Development Blocker

#16638 Docs: update link and title of quickstart
  docs/tutorials/index.md
Labels: Area - Documentation

#16648 Add missing `delta-storage` dependency and class loader workaround to Delta table ingestion
  extensions-contrib/druid-deltalake-extensions/pom.xml
  extensions-contrib/druid-deltalake-extensions/src/main/java/org/apache/druid/delta/input/DeltaInputSource.java
Labels: Bug, Area - Dependencies

#16529 Column name in parse exceptions
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/InputRowSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandlerUtils.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionIndexer.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/SqlResults.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Ingestion

#16644 Refactor: Rename UsedSegmentChecker and cleanup task actions
  indexing-service/src/main/java/org/apache/druid/indexing/appenderator/ActionBasedPublishedSegmentRetriever.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/RetrieveUsedSegmentsAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/TaskAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/BatchAppenderators.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/KillUnusedSegmentsTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/hadoop/OverlordActionBasedUsedSegmentsRetriever.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SequenceMetadata.java
  indexing-service/src/test/java/org/apache/druid/indexing/appenderator/ActionBasedPublishedSegmentRetrieverTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveUsedSegmentsActionSerdeTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertActionTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/concurrent/ConcurrentReplaceAndAppendTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/concurrent/ConcurrentReplaceAndStreamingAppendTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/test/TestIndexerMetadataStorageCoordinator.java
  processing/src/main/java/org/apache/druid/common/config/ConfigManager.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/PublishedSegmentRetriever.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriver.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/ClosedSegmentsSinksBatchAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/OpenAndClosedSegmentsBatchAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriverFailTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/TestPublishedSegmentRetriever.java
Labels: Area - Ingestion

#16579 Add query context parameter to remove null bytes when writing frames
  benchmarks/src/test/java/org/apache/druid/benchmark/frame/FrameChannelMergerBenchmark.java
  docs/multi-stage-query/reference.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/InputChannelsImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/InvalidNullByteFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/processor/SegmentGeneratorFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/FrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/StageDefinition.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/WindowOperatorQueryFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/common/OffsetLimitFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPostShuffleFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/ExportResultsFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/results/QueryResultFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQParseExceptionsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/common/SortMergeJoinFrameProcessorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
  processing/src/main/java/org/apache/druid/frame/allocation/MemoryAllocatorFactory.java
  processing/src/main/java/org/apache/druid/frame/field/FieldWriters.java
  processing/src/main/java/org/apache/druid/frame/field/StringArrayFieldWriter.java
  processing/src/main/java/org/apache/druid/frame/field/StringFieldWriter.java
  processing/src/main/java/org/apache/druid/frame/processor/SuperSorter.java
  processing/src/main/java/org/apache/druid/frame/write/FrameWriter.java
  processing/src/main/java/org/apache/druid/frame/write/FrameWriterUtils.java
  processing/src/main/java/org/apache/druid/frame/write/FrameWriters.java
  processing/src/main/java/org/apache/druid/frame/write/RowBasedFrameWriterFactory.java
  processing/src/main/java/org/apache/druid/frame/write/columnar/StringFrameColumnWriter.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/LazilyDecoratedRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/rowsandcols/StorageAdapterRowsAndColumns.java
  processing/src/main/java/org/apache/druid/query/scan/ScanResultValueFramesIterable.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/frame/field/StringArrayFieldWriterTest.java
  processing/src/test/java/org/apache/druid/frame/field/StringFieldReaderTest.java
  processing/src/test/java/org/apache/druid/frame/field/StringFieldWriterTest.java
  processing/src/test/java/org/apache/druid/frame/key/KeyTestUtils.java
  processing/src/test/java/org/apache/druid/frame/processor/SuperSorterTest.java
  processing/src/test/java/org/apache/druid/frame/testutil/FrameSequenceBuilder.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWriterTest.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWriterUtilsTest.java
  processing/src/test/java/org/apache/druid/frame/write/FrameWritersTest.java
  processing/src/test/java/org/apache/druid/query/FrameBasedInlineDataSourceSerializerTest.java
  processing/src/test/java/org/apache/druid/segment/join/table/FrameBasedIndexedTableTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Release Notes, Area - MSQ

#16637 Add MSQ query context `maxNumSegments`
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/guice/MSQIndexingModule.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQTuningConfig.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/TooManySegmentsInTimeChunkFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQFaultsTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQReplaceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQTuningConfigTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#16581 Update docs contribution with correct script
  docs/development/docs-contribute.md
Labels: Area - Documentation

#16649 fix greatest/least function non-vectorized processing to ignore null argument types
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/GreatestExpressionTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/LeastExpressionTest.java
Labels: Bug, Area - Querying

#16338 Defer more expressions in vectorized groupBy.
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlExpressionBenchmark.java
  docs/querying/groupbyquery.md
  processing/src/main/java/org/apache/druid/query/groupby/DeferExpressionDimensions.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryConfig.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/VectorGroupByEngine.java
  processing/src/main/java/org/apache/druid/segment/VirtualColumn.java
  processing/src/main/java/org/apache/druid/segment/vector/QueryableIndexVectorColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/vector/VectorColumnSelectorFactory.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionDeferredGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorSelectors.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryConfigTest.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionVectorSelectorsTest.java
Labels: Area - Documentation, Release Notes, Area - Segment Format and Ser/De

#16654 Fix default value for globalIngestionHeapLimitBytes
  docs/configuration/index.md
Labels: Area - Documentation

#16668 docs: add redirect for kafka lookups
  website/redirects.js
Labels: Area - Documentation

#16669 [backport] docs: add redirect for kafka lookups (#16668)
  website/redirects.js
Labels: Area - Documentation

#16666 fix vector grouping expression deferred evaluation to only consider dictionary encoded strings as fixed width
  processing/src/main/java/org/apache/druid/query/groupby/DeferExpressionDimensions.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionPlannerTest.java
Labels: Bug

#16663 better javadoc for ColumnIndexSupplier
  processing/src/main/java/org/apache/druid/segment/column/ColumnIndexSupplier.java
Labels: Area - Querying, Area - Segment Format and Ser/De, Area - Dev

#16645 Fix empty datasource schema on the Broker when metadata query is disabled
  integration-tests/docker/docker-compose.centralized-datasource-schema.yml
  integration-tests/src/main/java/org/apache/druid/testing/utils/DataLoaderHelper.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/SqlTestQueryHelper.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCache.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheTest.java
Labels: Area - Querying

#16665 Add MSQ engine support for window function drill tests
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQDrillWindowQueryTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestRunner.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ
