Repository apache/druid, pull requests merged in 2025-09, with the labels that each got.

#18412 Move Catalog ITs to embedded tests
  .github/workflows/revised-its.yml
  embedded-tests/pom.xml
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/auth/BasicAuthMSQTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/catalog/CatalogIngestAndQueryTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/catalog/CatalogIngestErrorTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/catalog/CatalogInsertAndQueryTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/catalog/CatalogReplaceAndQueryTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/catalog/CatalogRestTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/catalog/CatalogTestBase.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/catalog/TestCatalogClient.java
  integration-tests-ex/cases/cluster/BackwardCompatibilityMain/docker-compose.py
  integration-tests-ex/cases/pom.xml
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/BackwardCompatibilityMain/ITBCMainMultiStageQuery.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/BackwardCompatibilityMain/ITBCMainUnionQueryTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/catalog/ITCatalogInsertAndQueryTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/catalog/ITCatalogReplaceAndQueryTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/categories/BackwardCompatibilityMain.java
  integration-tests-ex/cases/src/test/resources/catalog/clustering_select.sql
  integration-tests-ex/cases/src/test/resources/catalog/implicitCast_select.sql
  integration-tests-ex/cases/src/test/resources/catalog/incompatibleTypeAssignmentWithValidationDisabled_select.sql
  integration-tests-ex/cases/src/test/resources/catalog/multiClustering_select.sql
  integration-tests-ex/cases/src/test/resources/catalog/sealedWithValidationDisabled_select.sql
  services/src/test/java/org/apache/druid/testing/embedded/EmbeddedDruidServer.java
Labels: Area - Dependencies, GHA

#18460 Add builders for Kafka supervisor spec, ioConfig, tuningConfig
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/compact/AutoCompactionTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/compact/CompactionTestBase.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/IngestionSmokeTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/KafkaClusterMetricsTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/KafkaDataFormatsTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/MoreResources.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/BaseRealtimeQueryTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/server/OverlordClientTest.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpec.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/simulate/EmbeddedKafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaIOConfigBuilder.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpecBuilder.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaTuningConfigBuilder.java
  indexing-service/pom.xml
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TaskBuilder.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TuningConfigBuilder.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SupervisorIOConfigBuilder.java
Labels: Area - Streaming Ingestion, Area - Dependencies, Area - Ingestion

#18473 Migrate Coordinator pause IT to embedded tests
  .github/workflows/cron-job-its.yml
  .github/workflows/standard-its.yml
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/server/CoordinatorPauseTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITTestCoordinatorPausedTest.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CoordinatorDutyGroup.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/DutyGroupStatus.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorDutyStatus.java
Labels: GHA

#18465 Move MSQ ITs to embedded tests
  .github/workflows/reusable-revised-its.yml
  .github/workflows/revised-its.yml
  .github/workflows/unit-and-integration-tests-unified.yml
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/auth/BasicAuthMSQTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/MoreResources.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/EmbeddedMSQApis.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/MSQKeyStatisticsSketchMergeModeTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/MSQLocalDurableStorage.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/MSQWorkerFaultToleranceTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/MultiStageQueryTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/query/UnionQueryTest.java
  extensions-core/testing-tools/src/main/java/org/apache/druid/guice/ClusterTestingModule.java
  extensions-core/testing-tools/src/main/java/org/apache/druid/testing/cluster/ClusterTestingTaskConfig.java
  extensions-core/testing-tools/src/main/java/org/apache/druid/testing/cluster/task/FaultyOverlordClient.java
  extensions-core/testing-tools/src/test/java/org/apache/druid/guice/ClusterTestingModuleTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/WorkerHolder.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/WorkerHolderTest.java
  integration-tests-ex/cases/pom.xml
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/categories/MultiStageQueryWithMM.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/categories/Query.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITKeyStatisticsSketchMergeMode.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITMultiStageQuery.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/ITMultiStageQueryWorkerFaultTolerance.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/msq/MultiStageQuery.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/query/ITUnionQueryTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/query/UnionQueryTest.java
  integration-tests-ex/cases/src/test/resources/query/union_data.json
  integration-tests-ex/cases/src/test/resources/query/union_kafka_supervisor_template.json
  integration-tests-ex/cases/src/test/resources/query/union_queries.json
  integration-tests-ex/image/docker-build.sh
  multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTask.java
Labels: Area - Batch Ingestion, Area - Dependencies, Area - Ingestion, Area - MSQ, GHA

#18471 Shutdown tasks on TaskRunner asynchronously
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueConcurrencyTest.java
Labels: Area - Ingestion

#18444 Create Kubernetes peon lifecycle task log persist timeout
  docs/development/extensions-core/k8s-jobs.md
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleFactory.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerConfig.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactory.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesWorkItemTest.java
Labels: Area - Documentation, Kubernetes

#18478 Fix up metrics.md: OshiSysMonitor doesn't emit sys/storage/used metric
  docs/operations/metrics.md
Labels: Area - Documentation

#18484 more resilient segment cache legacy path file moves during startup
  server/src/main/java/org/apache/druid/segment/loading/SegmentLocalCacheManager.java
  server/src/test/java/org/apache/druid/segment/loading/SegmentLocalCacheManagerTest.java
Labels: Bug

#18488 improve performance of filter bundle building by reusing stuff when possible
  processing/src/main/java/org/apache/druid/query/filter/BooleanFilter.java
  processing/src/main/java/org/apache/druid/query/filter/FilterBundle.java
  processing/src/main/java/org/apache/druid/segment/filter/AndFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
Labels: Area - Segment Format and Ser/De

#18441 MSQ: Push down limits in ScanQueryFrameProcessor.
  multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
Labels: Performance, Area - Batch Ingestion, Area - MSQ

#18491 improve filter bundle build for not/is true/is false
  processing/src/main/java/org/apache/druid/query/filter/BooleanUnaryFilter.java
  processing/src/main/java/org/apache/druid/query/filter/FilterBundle.java
  processing/src/main/java/org/apache/druid/segment/filter/AndFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/IsBooleanFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/NotFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
Labels: Area - Segment Format and Ser/De

#18477 Optimize interval deserialization
  benchmarks/src/test/java/org/apache/druid/benchmark/JodaIntervalDeserializationBenchmark.java
  processing/src/main/java/org/apache/druid/java/util/common/Intervals.java
  processing/src/main/java/org/apache/druid/timeline/DataSegment.java
  processing/src/test/java/org/apache/druid/java/util/common/IntervalsTest.java
Labels: Performance

#18490 fix projections building and matching allow grouping directly on __time
  processing/src/main/java/org/apache/druid/segment/IndexIO.java
  processing/src/main/java/org/apache/druid/segment/projections/Projections.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
Labels: Area - Segment Format and Ser/De

#18480 Add stopTaskCountPercent field to LagBasedAutoscaler
  docs/ingestion/supervisor.md
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/AutoScalerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScalerConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/autoscaler/LagBasedAutoScalerConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorIOConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Documentation, Performance, Area - Ingestion

#18496 Pass framesize to workers
  multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
Labels: Area - Batch Ingestion, Area - MSQ

#18486 fix projection cursor build spec interval matching to consider projection granularity
  processing/src/main/java/org/apache/druid/segment/SimpleQueryableIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/projections/Projections.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
  processing/src/test/java/org/apache/druid/segment/projections/ProjectionsTest.java
Labels: Bug, Area - Segment Format and Ser/De

#18497 Emit event when a datasource has been dropped from the coordinator
  docs/operations/metrics.md
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/catalog/CatalogIngestAndQueryTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/compact/AutoCompactionTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/compact/CompactionTaskTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/compact/CompactionTestBase.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/docker/IngestionBackwardCompatibilityDockerTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/ConcurrentAppendReplaceTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/IndexParallelTaskTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/IndexTaskTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/IngestionSmokeTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/EmbeddedMSQRealtimeQueryTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/MSQKeyStatisticsSketchMergeModeTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/MSQWorkerFaultToleranceTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/MultiStageQueryTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/query/UnionQueryTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/schema/CentralizedSchemaMetadataQueryDisabledTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/schema/CentralizedSchemaPublishFailureTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/server/CoordinatorClientTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/server/CoordinatorPauseTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/server/HttpEmitterEventCollectorTest.java
  server/src/main/java/org/apache/druid/segment/metadata/Metric.java
  services/src/test/java/org/apache/druid/testing/embedded/EmbeddedBroker.java
  services/src/test/java/org/apache/druid/testing/embedded/EmbeddedClusterApis.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCache.java
Labels: Area - Documentation, Area - Querying

#18508 fixes for filtered projections that produce empty projection tables
  processing/src/main/java/org/apache/druid/segment/QueryableIndexTimeBoundaryInspector.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
Labels: Bug, Area - Segment Format and Ser/De

#18493 Adjust formula for Netty worker threads.
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/guice/http/DruidHttpClientConfig.java
Labels: Area - Documentation

#18527 Upgrade gson version to resolve CVE-2025-53864
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#18536 Record task auto-scaling skip event when publishing task set is non-empty
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
Labels: Area - Ingestion

#18520 MSQ: Add "maxThreads" context parameter.
  docs/multi-stage-query/reference.md
  multi-stage-query/src/main/java/org/apache/druid/msq/dart/worker/DartWorkerContext.java
  multi-stage-query/src/main/java/org/apache/druid/msq/exec/ExecutionContextImpl.java
  multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerContext.java
  multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerWorkerContext.java
  multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerContext.java
  multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
  processing/src/main/java/org/apache/druid/frame/processor/Bouncer.java
  processing/src/test/java/org/apache/druid/frame/processor/RunAllFullyWidgetTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - MSQ

#18487 Add a new strategy to sanitize error messages based on the error message role
  docs/configuration/index.md
  multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlTaskResource.java
  multi-stage-query/src/test/java/org/apache/druid/msq/dart/controller/http/DartSqlResourceTest.java
  multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlMSQStatementResourcePostTest.java
  multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
  processing/src/main/java/org/apache/druid/common/exception/ErrorResponseTransformStrategy.java
  processing/src/main/java/org/apache/druid/common/exception/PersonaBasedErrorTransformStrategy.java
  processing/src/main/java/org/apache/druid/common/exception/SanitizableException.java
  processing/src/main/java/org/apache/druid/java/util/emitter/service/AlertBuilder.java
  processing/src/test/java/org/apache/druid/common/exception/PersonaBasedErrorTransformStrategyTest.java
  sql/src/main/java/org/apache/druid/sql/avatica/ErrorHandler.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Metrics/Event Emitting, Area - MSQ

#18232 Decoupled dart: support unnest/join
  multi-stage-query/src/main/java/org/apache/druid/msq/kernel/StageDefinitionBuilder.java
  multi-stage-query/src/main/java/org/apache/druid/msq/logical/DruidLogicalToQueryDefinitionTranslator.java
  multi-stage-query/src/main/java/org/apache/druid/msq/logical/LogicalInputSpec.java
  multi-stage-query/src/main/java/org/apache/druid/msq/logical/StageMaker.java
  multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/GroupByStages.java
  multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/JoinStage.java
  multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/ReadStage.java
  multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/SegmentMapStage.java
  multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/UnnestStage.java
  multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryStageProcessor.java
  multi-stage-query/src/main/resources/log4j2.xml
  multi-stage-query/src/test/java/org/apache/druid/msq/test/AbstractDartComponentSupplier.java
  multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteDartTest.java
  multi-stage-query/src/test/java/org/apache/druid/msq/test/DartComponentSupplier.java
  multi-stage-query/src/test/java/org/apache/druid/msq/test/DecoupledDartCalciteArraysQueryTest.java
  multi-stage-query/src/test/java/org/apache/druid/msq/test/DecoupledDartCalciteJoinQueryTest.java
  multi-stage-query/src/test/java/org/apache/druid/msq/test/DecoupledDartCalciteNestedDataQueryTest.java
  multi-stage-query/src/test/java/org/apache/druid/msq/test/DecoupledDartExtension.java
  multi-stage-query/src/test/java/org/apache/druid/sql/calcite/NotYetSupportedUsageTest.java
  processing/src/main/java/org/apache/druid/segment/column/RowSignature.java
  server/src/test/java/org/apache/druid/sql/calcite/util/datasets/Larry.java
  server/src/test/java/org/apache/druid/sql/calcite/util/datasets/TestDataSet.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalciteRulesManager.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidJoin.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestTimelineServerView.java
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteArraysQueryTest/testUnnestThriceWithFiltersOnDimAndAllUnnestColumns.iq
Labels: Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - MSQ

#18532 fix projections filtered on virtual columns
  processing/src/main/java/org/apache/druid/segment/incremental/OnHeapAggregateProjection.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
Labels: Bug, Area - Segment Format and Ser/De

#18531 Add time window filter to Iceberg reader
  docs/ingestion/input-sources.md
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/filter/IcebergFilter.java
  extensions-contrib/druid-iceberg-extensions/src/main/java/org/apache/druid/iceberg/filter/IcebergTimeWindowFilter.java
  extensions-contrib/druid-iceberg-extensions/src/test/java/org/apache/druid/iceberg/filter/IcebergTimeWindowFilterTest.java
  website/.spelling
Labels: Area - Documentation, Area - Ingestion

#18524 additional validation for projection schema
  processing/src/main/java/org/apache/druid/data/input/impl/AggregateProjectionSpec.java
  processing/src/test/java/org/apache/druid/data/input/impl/AggregateProjectionSpecTest.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
  server/src/main/java/org/apache/druid/segment/indexing/DataSchema.java
  server/src/test/java/org/apache/druid/segment/indexing/DataSchemaTest.java
Labels: Bug, Area - Segment Format and Ser/De

#18535 allow queries with filtered aggs to match unfiltered projection aggs as long as the filter required columns are present
  processing/src/main/java/org/apache/druid/segment/projections/Projections.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
Labels: Area - Segment Format and Ser/De

#18550 Fix flaky RemoteTaskRunner status removal test
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
Labels: Area - Ingestion

#18544 druid.storage.type=s3 now honors druid.storage.zip to allow storing segments in s3 without zip compression
  docs/development/extensions-core/s3.md
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/query/QueryVirtualStorageTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentKiller.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentMover.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentPuller.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentPusher.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3DataSegmentPusherConfig.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentKillerTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentPullerTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentPusherConfigTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentPusherTest.java
Labels: Area - Documentation, Area - Deep Storage

#18549 Enable fallback vectorization by default.
  processing/src/main/java/org/apache/druid/frame/segment/columnar/ColumnarFrameCursorFactory.java
  processing/src/main/java/org/apache/druid/math/expr/ApplyFunction.java
  processing/src/main/java/org/apache/druid/math/expr/ExprMacroTable.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionProcessing.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionProcessingConfig.java
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/main/java/org/apache/druid/math/expr/FunctionalExpr.java
  processing/src/main/java/org/apache/druid/math/expr/SettableObjectBinding.java
  processing/src/main/java/org/apache/druid/math/expr/vector/FallbackVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/FunctionErrorReportingExprVectorProcessor.java
  processing/src/main/java/org/apache/druid/math/expr/vector/VectorMathProcessors.java
  processing/src/main/java/org/apache/druid/query/expression/NestedDataExpressions.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionPlanner.java
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVectorSelectors.java
  processing/src/test/java/org/apache/druid/frame/segment/FrameCursorFactoryTest.java
  processing/src/test/java/org/apache/druid/math/expr/VectorExprResultConsistencyTest.java
  processing/src/test/java/org/apache/druid/math/expr/vector/FallbackVectorProcessorTest.java
  processing/src/test/java/org/apache/druid/segment/filter/BaseFilterTest.java
  processing/src/test/java/org/apache/druid/segment/virtual/ExpressionPlannerTest.java
Labels: Area - Segment Format and Ser/De

#18555 Remove java 11 from all-jdks test matrix
  .github/workflows/ci.yml
Labels: GHA

#18554 Use a smaller dedup bloom filter for `PartialDimensionDistributionTask` in unit tests
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/PartialDimensionDistributionTaskTest.java
Labels: Area - Ingestion

#18483 Reduce timeout in LatchableEmitter to identify slow tests
  .github/workflows/docker-tests.yml
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/docker/IngestionBackwardCompatibilityDockerTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/docker/IngestionDockerTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/KafkaClusterMetricsTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/k8s/KubernetesClusterDockerTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/k8s/KubernetesClusterWithOperatorDockerTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/EmbeddedDurableShuffleStorageTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/msq/MSQWorkerFaultToleranceTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/query/QueryVirtualStorageTest.java
  server/src/test/java/org/apache/druid/server/metrics/LatchableEmitter.java
  server/src/test/java/org/apache/druid/server/metrics/LatchableEmitterConfig.java
  services/src/test/java/org/apache/druid/testing/embedded/EmbeddedDruidCluster.java
  services/src/test/java/org/apache/druid/testing/embedded/emitter/LatchableEmitterModule.java
Labels: Area - Streaming Ingestion, GHA

#18542 Add version to sys server
  docs/querying/sql-metadata-tables.md
  integration-tests/src/test/java/org/apache/druid/tests/security/AbstractAuthConfigurationTest.java
  integration-tests/src/test/resources/results/auth_test_sys_schema_servers.json
  server/src/main/java/org/apache/druid/server/DruidNode.java
  server/src/test/java/org/apache/druid/server/DruidNodeTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/schema/SystemSchema.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/SystemSchemaTest.java
  web-console/src/views/services-view/__snapshots__/services-view.spec.tsx.snap
  web-console/src/views/services-view/services-view.tsx
Labels: Area - Documentation, Area - Querying, Area - Web Console

#18510 HttpRemoteTaskRunner: Fix hanging RUNNING task after overlord and worker restart
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/server/HttpRemoteTaskRunnerWorkerFailTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/NoopTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/TaskMonitorTest.java
Labels: Area - Ingestion

#18571 Add an option to write a mid-flight exception as a response row
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/main/java/org/apache/druid/server/QueryResourceQueryResultPusherFactory.java
  server/src/main/java/org/apache/druid/server/QueryResultPusher.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  server/src/test/java/org/apache/druid/server/QueryResultPusherTest.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResourceQueryResultPusher.java
Labels: Area - Querying

#18576 Make KubernetesWorkItem.shutdown idempotent
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesWorkItem.java
Labels: Kubernetes

#18574 Logging warn for uknown task location is spammy and confusing to operators/users
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
Labels: Kubernetes
