Repository apache/druid, pull requests merged in 2025-01, with the labels that each got.

#17595 Docs: Add details of cost balancer strategy
  docs/configuration/index.md
  docs/design/coordinator.md
Labels: Area - Documentation

#17601 Shutdown exec on KubernetesTaskRunner stop
  extensions-contrib/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerTest.java
Labels: Kubernetes

#17585 Update Apache mirror host to downloads.apache.org
  examples/quickstart/tutorial/hadoop/docker/Dockerfile
  integration-tests/README.md
  integration-tests/docker/Dockerfile
  integration-tests/docker/base-setup.sh
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Metrics/Event Emitting, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Lookups, Area - Web Console, Area - Dependencies, Kubernetes, Area - Ingestion, Area - MSQ, GHA

#17607 Fix GitHub Actions caching key in some integration tests
  .github/workflows/cron-job-its.yml
  .github/workflows/standard-its.yml
Labels: GHA

#17515 Upgrade netty version to fix CVE
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#17612 Docs: Mark use concurrent locks as GA
  docs/data-management/automatic-compaction.md
  docs/ingestion/concurrent-append-replace.md
  web-console/src/dialogs/compaction-config-dialog/__snapshots__/compaction-config-dialog.spec.tsx.snap
  web-console/src/dialogs/compaction-config-dialog/compaction-config-dialog.tsx
  web-console/src/views/load-data-view/load-data-view.tsx
Labels: Area - Documentation, Area - Web Console

#17617 docs: fix 404 links
  docs/development/extensions-core/test-stats.md
  docs/querying/sql-translation.md
Labels: Area - Documentation

#17619 Web console: remove SQL mode detection
  web-console/src/dialogs/status-dialog/status-dialog.tsx
  web-console/src/utils/index.tsx
  web-console/src/utils/null-mode-detection.ts
  web-console/src/views/home-view/__snapshots__/home-view.spec.tsx.snap
  web-console/src/views/home-view/home-view.scss
  web-console/src/views/home-view/home-view.tsx
  web-console/src/views/home-view/status-card/status-card.spec.tsx
  web-console/src/views/home-view/status-card/status-card.tsx
Labels: Area - Web Console

#17611 Run Unit tests, ITs in parallel if PR is approved.
  .github/workflows/unit-and-integration-tests-unified.yml
Labels: Area - Dependencies, GHA

#17616 Fix some minor test issues raised by CodeQL.
  extensions-contrib/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactoryTest.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/LoadingLookupFactoryTest.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/PollingLookupSerDeserTest.java
  extensions-core/lookups-cached-single/src/test/java/org/apache/druid/server/lookup/PollingLookupTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  processing/src/test/java/org/apache/druid/query/lookup/LookupExtractorFactoryContainerTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
Labels: Area - Lookups, Kubernetes, Area - Ingestion

#17631 Web console: fix pagination in supervisor view
  web-console/src/components/supervisor-history-panel/supervisor-history-panel.tsx
  web-console/src/views/explore-view/modules/time-chart-module/continuous-chart-render.scss
  web-console/src/views/explore-view/modules/time-chart-module/continuous-chart-render.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/supervisors-view/supervisors-view.tsx
Labels: Bug, Area - Web Console

#17632 [Backport] Web console: fix pagination in supervisor view (#17631)
  web-console/src/components/supervisor-history-panel/supervisor-history-panel.tsx
  web-console/src/views/explore-view/modules/time-chart-module/continuous-chart-render.scss
  web-console/src/views/explore-view/modules/time-chart-module/continuous-chart-render.tsx
  web-console/src/views/segments-view/__snapshots__/segments-view.spec.tsx.snap
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/supervisors-view/supervisors-view.tsx
Labels: Bug, Backport, Area - Web Console

#17634 update docs after legacy configs have been removed
  docs/api-reference/service-status-api.md
  docs/configuration/index.md
  docs/design/segments.md
  docs/development/extensions-contrib/moving-average-query.md
  docs/development/extensions-core/approximate-histograms.md
  docs/development/extensions-core/stats.md
  docs/ingestion/schema-design.md
  docs/querying/aggregations.md
  docs/querying/filters.md
  docs/querying/lookups.md
  docs/querying/math-expr.md
  docs/querying/sql-aggregations.md
  docs/querying/sql-array-functions.md
  docs/querying/sql-data-types.md
  docs/querying/sql-functions.md
  docs/querying/sql-metadata-tables.md
  docs/querying/sql-multivalue-string-functions.md
  docs/querying/sql-query-context.md
  docs/querying/sql-scalar.md
  docs/release-info/migr-ansi-sql-null.md
  docs/release-info/upgrade-notes.md
  processing/src/main/java/org/apache/druid/common/config/NullValueHandlingConfig.java
  processing/src/main/java/org/apache/druid/guice/StartupInjectorBuilder.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionProcessingConfig.java
  processing/src/test/java/org/apache/druid/guice/StartupInjectorBuilderTest.java
Labels: Area - Documentation

#17624 move druid-ranger-security from core to contrib
  distribution/pom.xml
  docs/configuration/extensions.md
  docs/development/extensions-contrib/druid-ranger-security.md
  extensions-contrib/druid-ranger-security/pom.xml
  extensions-contrib/druid-ranger-security/src/main/java/org/apache/druid/security/ranger/authorizer/RangerAuthorizer.java
  extensions-contrib/druid-ranger-security/src/main/java/org/apache/druid/security/ranger/authorizer/RangerSecurityDruidModule.java
  extensions-contrib/druid-ranger-security/src/main/java/org/apache/druid/security/ranger/authorizer/guice/Ranger.java
  extensions-contrib/druid-ranger-security/src/main/resources/META-INF/services/org.apache.druid.initialization.DruidModule
  extensions-contrib/druid-ranger-security/src/test/java/org/apache/druid/security/ranger/authorizer/RangerAdminClientImpl.java
  extensions-contrib/druid-ranger-security/src/test/java/org/apache/druid/security/ranger/authorizer/RangerAuthorizerTest.java
  extensions-contrib/druid-ranger-security/src/test/resources/druid-policies.json
  extensions-contrib/druid-ranger-security/src/test/resources/ranger-druid-security.xml
  pom.xml
  website/redirects.js
Labels: Area - Documentation, Area - Dependencies

#17639 Update java.md
  docs/operations/java.md
Labels: Area - Documentation

#17640 [Backport] Update java.md
  docs/operations/java.md
Labels: Backport

#17638 [Backport] update docs after legacy configs have been removed
  docs/api-reference/service-status-api.md
  docs/configuration/index.md
  docs/design/segments.md
  docs/development/extensions-contrib/moving-average-query.md
  docs/development/extensions-core/approximate-histograms.md
  docs/development/extensions-core/stats.md
  docs/ingestion/schema-design.md
  docs/querying/aggregations.md
  docs/querying/filters.md
  docs/querying/lookups.md
  docs/querying/math-expr.md
  docs/querying/sql-aggregations.md
  docs/querying/sql-array-functions.md
  docs/querying/sql-data-types.md
  docs/querying/sql-functions.md
  docs/querying/sql-metadata-tables.md
  docs/querying/sql-multivalue-string-functions.md
  docs/querying/sql-query-context.md
  docs/querying/sql-scalar.md
  docs/release-info/migr-ansi-sql-null.md
  docs/release-info/upgrade-notes.md
  processing/src/main/java/org/apache/druid/common/config/NullValueHandlingConfig.java
  processing/src/main/java/org/apache/druid/guice/StartupInjectorBuilder.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionProcessingConfig.java
  processing/src/test/java/org/apache/druid/guice/StartupInjectorBuilderTest.java
Labels: Backport

#17645 Correct spelling for Command in PeonCommandContext
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/PeonCommandContext.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapter.java
Labels: Kubernetes

#17622 Code coverage additions for Processing Directory
  processing/src/test/java/org/apache/druid/java/util/metrics/HttpPostEmitterMonitorTest.java
  processing/src/test/java/org/apache/druid/js/JavaScriptConfigTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - Metrics/Event Emitting, Area - Segment Format and Ser/De, Area - Streaming Ingestion, Area - Lookups, Area - Web Console, Area - Dependencies, Kubernetes, Area - Ingestion, Area - MSQ, GHA

#17649 StreamAppenderator: Add sink prior to announcing it.
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderator.java
Labels: Bug, Area - Streaming Ingestion

#17655 fix issue with OR filter vector value matcher for proper 3VL behavior when inverted
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/AndFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/OrFilterTest.java
Labels: Bug, Area - Segment Format and Ser/De

#17656 [Backport] fix issue with OR filter vector value matcher for proper 3VL behavior when inverted
  processing/src/main/java/org/apache/druid/segment/filter/OrFilter.java
  processing/src/test/java/org/apache/druid/segment/filter/AndFilterTest.java
  processing/src/test/java/org/apache/druid/segment/filter/OrFilterTest.java
Labels: Area - Segment Format and Ser/De

#17293 docs: Restore SQL function examples
  docs/ingestion/schema-design.md
  docs/querying/sql-aggregations.md
  docs/querying/sql-array-functions.md
  docs/querying/sql-functions.md
  docs/querying/sql-multivalue-string-functions.md
  docs/querying/sql-scalar.md
  website/.spelling
Labels: Area - Documentation

#17663 docs: fix spelling error in SQL functions doc
  docs/querying/sql-functions.md
Labels: Area - Documentation

#17662 fix search query to check for the specific type of indexes it requires instead of using capabilities
  processing/src/main/java/org/apache/druid/query/search/UseIndexesStrategy.java
  processing/src/test/java/org/apache/druid/query/search/SearchQueryRunnerTest.java
Labels: Bug

#17637 doc: add missing catalog info
  docs/configuration/extensions.md
  docs/development/extensions-core/catalog.md
Labels: Area - Documentation

#17671 doc: add missing catalog info (#17637)
  docs/configuration/extensions.md
  docs/development/extensions-core/catalog.md
Labels: Area - Documentation

#17667 docs: Examples for Tuple sketches (batch 17)
  docs/querying/sql-aggregations.md
  docs/querying/sql-functions.md
Labels: Area - Documentation

#17672 [Backport] fix search query to check for the specific type of indexes it requires instead of using capabilities
  processing/src/main/java/org/apache/druid/query/search/UseIndexesStrategy.java
  processing/src/test/java/org/apache/druid/query/search/SearchQueryRunnerTest.java
Labels: Backport

#17673 [Docs] fix typos in tabs and header in the ANSI SQL migration guide
  docs/release-info/migr-ansi-sql-null.md
Labels: Area - Documentation

#17650 Web console: query with timezone
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/components/index.ts
  web-console/src/components/table-cell/table-cell.tsx
  web-console/src/components/timezone-menu-items/__snapshots__/timezone-menu-items.spec.tsx.snap
  web-console/src/components/timezone-menu-items/timezone-menu-items.spec.tsx
  web-console/src/components/timezone-menu-items/timezone-menu-items.tsx
  web-console/src/utils/date-format.ts
  web-console/src/utils/date.ts
  web-console/src/utils/index.tsx
  web-console/src/utils/ticks.ts
  web-console/src/views/explore-view/components/control-pane/control-pane.tsx
  web-console/src/views/explore-view/components/filter-pane/filter-menu/filter-menu.tsx
  web-console/src/views/explore-view/components/filter-pane/filter-pane.tsx
  web-console/src/views/explore-view/components/generic-output-table/generic-output-table.tsx
  web-console/src/views/explore-view/components/module-pane/module-pane.tsx
  web-console/src/views/explore-view/explore-view.tsx
  web-console/src/views/explore-view/models/explore-state.ts
  web-console/src/views/explore-view/module-repository/module-repository.ts
  web-console/src/views/explore-view/modules/bar-chart-module/bar-chart-module.tsx
  web-console/src/views/explore-view/modules/grouping-table-module/grouping-table-module.tsx
  web-console/src/views/explore-view/modules/multi-axis-chart-module/multi-axis-chart-module.tsx
  web-console/src/views/explore-view/modules/pie-chart-module/pie-chart-module.tsx
  web-console/src/views/explore-view/modules/record-table-module/record-table-module.tsx
  web-console/src/views/explore-view/modules/time-chart-module/continuous-chart-render.tsx
  web-console/src/views/explore-view/modules/time-chart-module/time-chart-module.tsx
  web-console/src/views/explore-view/utils/filter-pattern-helpers.ts
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
Labels: Area - Web Console, Area - Dependencies

#17625 remove json column v4 format writers
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQCompactionRunnerTest.java
  processing/src/main/java/org/apache/druid/guice/BuiltInTypesModule.java
  processing/src/main/java/org/apache/druid/segment/DefaultColumnFormatConfig.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnHandlerV4.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnIndexerV4.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnMergerV4.java
  processing/src/main/java/org/apache/druid/segment/NestedDataColumnSchema.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndexAdapter.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataColumnSerializerV4.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexTypeSerde.java
  processing/src/test/java/org/apache/druid/guice/BuiltInTypesModuleTest.java
  processing/src/test/java/org/apache/druid/query/NestedDataTestUtils.java
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
  processing/src/test/java/org/apache/druid/segment/DefaultColumnFormatsConfigTest.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnIndexerV4Test.java
  processing/src/test/java/org/apache/druid/segment/NestedDataColumnSchemaTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedDataColumnSupplierV4Test.java
Labels: Area - Batch Ingestion, Release Notes, Area - Segment Format and Ser/De, Area - MSQ

#17635 [docs] Batch26 JSON functions
  docs/querying/sql-functions.md
Labels: Area - Documentation

#17670 [Docs] Adds examples for window functions for the SQL Reference (batch23)
  docs/querying/sql-functions.md
Labels: Area - Documentation

#17680 Add druid.coordinator.kill.maxInterval property.
  docs/configuration/index.md
  docs/operations/clean-metadata-store.md
  server/src/main/java/org/apache/druid/server/coordinator/config/CoordinatorKillConfigs.java
  server/src/main/java/org/apache/druid/server/coordinator/config/KillUnusedSegmentsConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/KillUnusedSegments.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/config/KillUnusedSegmentsConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
Labels: Area - Documentation, Release Notes

#17641 docs: 32.0.0 release notes
  docs/release-info/explore_filtering.png
  docs/release-info/explore_tiles.png
  docs/release-info/explore_timechart.png
  docs/release-info/release-notes.md
  docs/release-info/webconsole_segment_timeline2.png
  docs/release-info/webconsole_segmenttimeline1.png
  website/.spelling
Labels: Area - Documentation

#17686 DataSourceMetadataQuery: Use TimeBoundaryInspector as a fallback.
  docs/querying/datasourcemetadataquery.md
  processing/src/main/java/org/apache/druid/query/datasourcemetadata/DataSourceMetadataQueryRunnerFactory.java
  processing/src/test/java/org/apache/druid/query/datasourcemetadata/DataSourceMetadataQueryTest.java
Labels: Bug, Area - Documentation
