Repository apache/druid, pull requests merged in 2025-03, with the labels that each got.

#17761 Update deprecated com.google.common.io.Files#write
  codestyle/druid-forbidden-apis.txt
  indexing-hadoop/src/test/java/org/apache/druid/indexer/hadoop/DatasourceInputFormatTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/tasklogs/FileTaskLogsTest.java
  server/src/test/java/org/apache/druid/server/log/FileRequestLoggerTest.java
Labels: Area - Dev

#17771 Fix description typo for sqlserver metadata store
  docs/configuration/extensions.md
Labels: Area - Documentation

#17772 Fix binding of segment metadata cache on CliOverlord
  extensions-core/mysql-metadata-storage/src/test/java/org/apache/druid/metadata/storage/mysql/MySQLMetadataStorageModuleTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/DruidOverlord.java
  server/src/main/java/org/apache/druid/guice/SQLMetadataStorageDruidModule.java
  server/src/main/java/org/apache/druid/metadata/segment/cache/HeapMemorySegmentMetadataCache.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  services/src/test/java/org/apache/druid/cli/CliOverlordTest.java
Labels: Area - Ingestion

#17759 Remove semicolon from example
  docs/operations/segment-optimization.md
Labels: Area - Documentation

#17707 Update the Supervisor endpoint to not restart the Supervisor if the spec was unmodified
  docs/api-reference/supervisor-api.md
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataRuleManager.java
  server/src/test/java/org/apache/druid/metadata/SQLMetadataRuleManagerTest.java
Labels: Area - Documentation, Area - Ingestion

#17735 kafka: Add support for time lag
  docs/operations/metrics.md
  extensions-contrib/rabbit-stream-indexing-service/src/main/java/org/apache/druid/indexing/rabbitstream/RabbitStreamRecordSupplier.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaRecordSupplier.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorReportPayload.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaSamplerSpecTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/common/OrderedPartitionableRecord.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/common/RecordSupplier.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Documentation, Area - Streaming Ingestion, Area - Ingestion

#17765 Web console: add suggestions for table status filtering.
  web-console/src/components/menu-boolean/menu-boolean.tsx
  web-console/src/components/segment-timeline/segment-bar-chart-render.tsx
  web-console/src/react-table/react-table-inputs.tsx
  web-console/src/react-table/react-table-utils.ts
  web-console/src/utils/general.tsx
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/explore-view/components/filter-pane/filter-menu/values-filter-control/values-filter-control.tsx
  web-console/src/views/explore-view/components/helper-table/helper-table.tsx
  web-console/src/views/explore-view/components/resource-pane/nested-column-dialog/nested-column-dialog.tsx
  web-console/src/views/explore-view/utils/misc.ts
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/services-view/__snapshots__/services-view.spec.tsx.snap
  web-console/src/views/services-view/services-view.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
  web-console/src/views/supervisors-view/__snapshots__/supervisors-view.spec.tsx.snap
  web-console/src/views/supervisors-view/supervisors-view.tsx
  web-console/src/views/tasks-view/__snapshots__/tasks-view.spec.tsx.snap
  web-console/src/views/tasks-view/tasks-view.tsx
  web-console/src/views/workbench-view/run-panel/run-panel.tsx
Labels: Area - Web Console

#17776 Remove all usages of skife config
  docs/configuration/index.md
  docs/configuration/logging.md
  docs/querying/query-context.md
  examples/conf/druid/auto/_common/log4j2.xml
  examples/conf/druid/cluster/_common/log4j2.xml
  examples/conf/druid/single-server/large/_common/log4j2.xml
  examples/conf/druid/single-server/medium/_common/log4j2.xml
  examples/conf/druid/single-server/micro-quickstart/_common/log4j2.xml
  examples/conf/druid/single-server/nano-quickstart/_common/log4j2.xml
  examples/conf/druid/single-server/small/_common/log4j2.xml
  examples/conf/druid/single-server/xlarge/_common/log4j2.xml
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/config/Initializer.java
  licenses.yaml
  pom.xml
  processing/pom.xml
  processing/src/main/java/org/apache/druid/guice/ConfigModule.java
  processing/src/main/java/org/apache/druid/guice/ConfigProvider.java
  processing/src/main/java/org/apache/druid/guice/DruidSecondaryModule.java
  processing/src/main/java/org/apache/druid/guice/StartupInjectorBuilder.java
  processing/src/main/java/org/apache/druid/java/util/common/config/Config.java
  processing/src/main/java/org/apache/druid/java/util/common/config/DurationCoercible.java
  processing/src/test/java/org/apache/druid/guice/StartupInjectorBuilderTest.java
  server/pom.xml
  server/src/main/java/org/apache/druid/guice/LegacyBrokerParallelMergeConfigModule.java
  server/src/main/java/org/apache/druid/query/BrokerParallelMergeConfig.java
  server/src/main/java/org/apache/druid/query/LegacyBrokerParallelMergeConfig.java
  server/src/test/java/org/apache/druid/guice/BrokerProcessingModuleTest.java
  server/src/test/java/org/apache/druid/guice/QueryableModuleTest.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
Labels: Area - Documentation, Area - Dependencies

#16889 Global limit for MSQ controller tasks implemented
  docs/configuration/index.md
  extensions-core/ec2-extensions/src/test/java/org/apache/druid/indexing/overlord/setup/WorkerBehaviorConfigTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ImmutableWorkerInfo.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/autoscaling/PendingTaskBasedWorkerProvisioningStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWithAffinityWorkerSelectStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWithCategorySpecWorkerSelectStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWorkerSelectStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/FillCapacityWithAffinityWorkerSelectStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/FillCapacityWithCategorySpecWorkerSelectStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/FillCapacityWorkerSelectStrategy.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/TaskLimits.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/WorkerBehaviorConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/WorkerSelectUtils.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/ImmutableWorkerInfoTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/RemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/autoscaling/PendingTaskBasedProvisioningStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/hrtr/HttpRemoteTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWithAffinityWorkerSelectStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWithCategorySpecWorkerSelectStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/EqualDistributionWorkerSelectStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/FillCapacityWithAffinityWorkerSelectStrategyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/FillCapacityWithCategorySpecWorkerSelectStrategyTest.java
Labels: Area - Documentation, Area - Ingestion

#17778 remove NullValueHandlingConfig, NullHandlingModule, NullHandling
  codestyle/checkstyle.xml
  indexing-hadoop/src/main/java/org/apache/druid/indexer/InputRowSerde.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/InputRowSerdeTest.java
  processing/src/main/java/org/apache/druid/common/config/NullHandling.java
  processing/src/main/java/org/apache/druid/common/config/NullValueHandlingConfig.java
  processing/src/main/java/org/apache/druid/frame/field/StringFieldWriter.java
  processing/src/main/java/org/apache/druid/guice/NullHandlingModule.java
  processing/src/main/java/org/apache/druid/guice/StartupInjectorBuilder.java
  processing/src/main/java/org/apache/druid/math/expr/ExpressionProcessing.java
  processing/src/main/java/org/apache/druid/query/aggregation/AbstractSerializablePairLongObjectDeltaEncodedStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/AbstractSerializablePairLongObjectSimpleStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/NullableNumericBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/NullableNumericVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongDoubleDeltaEncodedStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongDoubleSimpleStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongFloatDeltaEncodedStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongFloatSimpleStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongLongDeltaEncodedStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SerializablePairLongLongSimpleStagedSerde.java
  processing/src/main/java/org/apache/druid/query/aggregation/SingleValueBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/NumericAnyBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/any/NumericAnyVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/firstlast/DoubleFirstLastVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/firstlast/FloatFirstLastVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/firstlast/LongFirstLastVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/firstlast/SingleStringFirstLastDimensionVectorAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/firstlast/first/NumericFirstBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/aggregation/firstlast/last/NumericLastBufferAggregator.java
  processing/src/main/java/org/apache/druid/query/filter/SelectorDimFilter.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/GrouperBufferComparatorUtils.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/NullableDoubleGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/NullableFloatGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/vector/NullableLongGroupByVectorColumnSelector.java
  processing/src/main/java/org/apache/druid/segment/column/NullableTypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/column/TypeSignature.java
  processing/src/main/java/org/apache/druid/segment/column/TypeStrategies.java
  processing/src/main/java/org/apache/druid/segment/column/TypeStrategy.java
  processing/src/main/java/org/apache/druid/segment/data/FixedIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/FixedIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIntArrayIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/FrontCodedIntArrayIndexedWriter.java
  processing/src/test/java/org/apache/druid/guice/StartupInjectorBuilderTest.java
  processing/src/test/java/org/apache/druid/query/aggregation/any/NumericAnyVectorAggregatorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De

#17593 Docs: Add SQL query example
  docs/api-reference/sql-api.md
  docs/querying/sql.md
Labels: Area - Documentation

#17780 More logging cleanup on Overlord
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentAllocationQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskLockbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScaler.java
  processing/src/main/java/org/apache/druid/query/DruidMetrics.java
  processing/src/main/java/org/apache/druid/query/Druids.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
Labels: Area - Ingestion

#17797 Remove maven.twttr repo from pom
  .github/workflows/cron-job-its.yml
  integration-tests/script/setup_druid_on_k8s.sh
  it.sh
  pom.xml
Labels: Development Blocker, Area - Dependencies, GHA

#17791 Fix relative dir resolution for test datasets
  sql/src/test/java/org/apache/druid/sql/calcite/util/FakeIndexTaskUtil.java
  sql/src/test/quidem/sampledataset/rollup-index.json
Labels: Area - Querying

#17792 Set useMaxMemoryEstimates=false for MSQ tasks
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/processor/SegmentGeneratorFrameProcessorFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ

#17788 Web console: fix go to task selecting correct task type
  web-console/src/views/supervisors-view/__snapshots__/supervisors-view.spec.tsx.snap
  web-console/src/views/supervisors-view/supervisors-view.tsx
Labels: Bug, Area - Web Console

#17794 Fix single container config creates failing peon tasks
  distribution/docker/peon.sh
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Bug, Kubernetes

#17805 Update `k8s-jobs.md` reference
  extensions-core/kubernetes-overlord-extensions/README.md
Labels: Kubernetes

#17751 Footer Copyright Year Update
  website/docusaurus.config.js
Labels: Area - Documentation

#17802 Revert "reject publishing actions with a retriable error code if (#17509)"
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/LocalTaskActionClient.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertActionTest.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
Labels: Area - Ingestion

#17814 Fix unstable tests after #17787 and dart usage in quidem-ut
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestOverlordServiceClient.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerClient.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/TestDartControllerContextFactoryImpl.java
  quidem-ut/pom.xml
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/dart1.iq
Labels: Area - Batch Ingestion, Area - Dependencies, Area - MSQ

#17800 Fix references to javaOpts
  dev/intellij-setup.md
  docs/development/extensions-core/s3.md
Labels: Area - Documentation

#17819 CI improvement: Leverage cancelled() instead of always() for CI jobs
  .github/workflows/unit-and-integration-tests-unified.yml
Labels: GHA

#17818 Make MSQ tests use the same datasets as other similar tests
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/dart_with_datasets.iq
  server/src/test/java/org/apache/druid/server/SpecificSegmentsQuerySegmentWalker.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#17825 Add unnest tests to quidem
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_array_sql.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_array_sql_filter.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_array_sql_ops.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_array_sql_other_funcs.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_array_sql_scalar_funcs.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_mv_sql.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_mv_sql_filter.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_mv_sql_ops.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_mv_sql_other_funcs.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest_mv_sql_scalar_funcs.iq
  sql/src/test/quidem/qatests/qaUnnest/array/ingest.json
  sql/src/test/quidem/qatests/qaUnnest/mv/ingest.json
Labels: Area - Querying

#17804 Web console: show loader on aux queries
  web-console/src/react-table/index.ts
  web-console/src/react-table/react-table-filters.spec.ts
  web-console/src/react-table/react-table-filters.ts
  web-console/src/react-table/react-table-inputs.tsx
  web-console/src/utils/query-manager/query-manager.ts
  web-console/src/views/datasources-view/datasources-view.tsx
  web-console/src/views/lookups-view/lookups-view.tsx
  web-console/src/views/segments-view/segments-view.tsx
  web-console/src/views/services-view/__snapshots__/services-view.spec.tsx.snap
  web-console/src/views/services-view/services-view.tsx
  web-console/src/views/supervisors-view/__snapshots__/supervisors-view.spec.tsx.snap
  web-console/src/views/supervisors-view/supervisors-view.tsx
  web-console/src/views/tasks-view/tasks-view.tsx
Labels: Bug, Area - Web Console

#17782 Use compaction dynamic config to enable compaction supervisors
  docs/api-reference/automatic-compaction-api.md
  docs/data-management/automatic-compaction.md
  indexing-service/src/main/java/org/apache/druid/guice/SupervisorModule.java
  indexing-service/src/main/java/org/apache/druid/indexing/compact/CompactionScheduler.java
  indexing-service/src/main/java/org/apache/druid/indexing/compact/OverlordCompactionScheduler.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordCompactionResource.java
  indexing-service/src/test/java/org/apache/druid/indexing/compact/OverlordCompactionSchedulerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordCompactionResourceTest.java
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/utils/DruidClusterAdminClient.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/CompactionResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/DruidClusterAdminClient.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionLockContentionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  server/src/main/java/org/apache/druid/server/compaction/CompactionRunSimulator.java
  server/src/main/java/org/apache/druid/server/coordinator/ClusterCompactionConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/CompactionSupervisorConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCompactionConfig.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResource.java
  server/src/test/java/org/apache/druid/server/coordinator/CompactionSupervisorConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigAuditEntryTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DataSourceCompactionConfigHistoryTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorCompactionConfigsResourceTest.java
Labels: Area - Documentation, Area - Ingestion, Needs web console change

#17816 Retry segment publish task actions without holding locks
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractBatchIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SequenceMetadata.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertActionTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/SegmentPublishResult.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BaseAppenderatorDriver.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/TransactionalSegmentPublisher.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/metadata/IndexerSqlMetadataStorageCoordinatorSchemaPersistenceTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorDriverTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/TransactionalSegmentPublisherTest.java
Labels: Area - Ingestion

#17823 Fix resource leak for GroupBy query merge buffer when query matched result cache
  server/src/main/java/org/apache/druid/query/ResultLevelCachingQueryRunner.java
  server/src/test/java/org/apache/druid/query/ResultLevelCachingQueryRunnerTest.java
Labels: Bug, Area - Querying

#17811 [Docs] Update grouping query example
  docs/querying/multi-value-dimensions.md
Labels: Area - Documentation

#17826 Documentation Fix under GroupBy Metrics
  docs/operations/metrics.md
Labels: Area - Documentation

#17832 Fix failing test in DimensionSchemaUtilsTest
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/DimensionSchemaUtilsTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#17837 GroupBy: Fix offsets on outer queries.
  processing/src/main/java/org/apache/druid/query/groupby/GroupingEngine.java
  processing/src/test/java/org/apache/druid/query/groupby/GroupByQueryRunnerTest.java
Labels: Bug, Area - Querying

#17831 Enable build cache for web-console
  web-console/pom.xml
Labels: Area - Web Console, Area - Dependencies

#17836 Web console: run audit fix
  licenses.yaml
  web-console/package-lock.json
Labels: Security, Area - Web Console, Area - Dependencies

#17824 Do not block task actions on Overlord if segment metadata cache is syncing
  docs/configuration/index.md
  extensions-contrib/materialized-view-maintenance/src/test/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorTest.java
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/DatasourceOptimizerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/RetrieveSegmentsActionsTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/TaskActionTestKit.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockBoxConcurrencyTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLockboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueScaleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  integration-tests-ex/cases/cluster/Common/environment-configs/overlord.env
  integration-tests/docker/environment-configs/overlord
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SegmentsMetadataManagerConfig.java
  server/src/main/java/org/apache/druid/metadata/segment/CachedSegmentMetadataTransaction.java
  server/src/main/java/org/apache/druid/metadata/segment/SqlSegmentMetadataTransactionFactory.java
  server/src/main/java/org/apache/druid/metadata/segment/cache/HeapMemorySegmentMetadataCache.java
  server/src/main/java/org/apache/druid/metadata/segment/cache/Metric.java
  server/src/main/java/org/apache/druid/metadata/segment/cache/NoopSegmentMetadataCache.java
  server/src/main/java/org/apache/druid/metadata/segment/cache/SegmentMetadataCache.java
  server/src/test/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinatorTest.java
  server/src/test/java/org/apache/druid/metadata/IndexerSqlMetadataStorageCoordinatorSchemaPersistenceTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerSchemaPollTest.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataManagerTest.java
  server/src/test/java/org/apache/druid/metadata/segment/cache/HeapMemorySegmentMetadataCacheTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/KillUnusedSegmentsTest.java
Labels: Area - Documentation, Area - Ingestion

#17842 Add json, array, aggregation function tests to quidem
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_array_agg_double.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_array_agg_float.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_array_agg_long.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_array_agg_misc.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_array_agg_string.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_array_agg_timestamp.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_string_agg_double.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_string_agg_float.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_string_agg_long.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_string_agg_misc.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_string_agg_string.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaAggFuncs_string_agg_timestamp.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaArray_ops_funcs.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaArray_sql.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaJsonCols_funcs_and_sql.iq
  sql/src/test/quidem/qatests/qaAggFuncs/ingest.json
  sql/src/test/quidem/qatests/qaArray/ops_funcs/ingest.json
  sql/src/test/quidem/qatests/qaArray/sql/ingest.json
  sql/src/test/quidem/qatests/qaJsonCols/funcs_and_sql/ingest.json
Labels: Area - Querying

#17840 Optionally include Content-Disposition header in statement results API response
  docs/api-reference/sql-api.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlMSQStatementResourcePostTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/sql/resources/SqlStatementResourceTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - MSQ, Needs web console change

#17845 Web console: download follow up
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/utils/download.spec.ts
  web-console/src/utils/download.ts
  web-console/src/views/workbench-view/destination-pages-pane/destination-pages-pane.tsx
  web-console/src/views/workbench-view/execution-summary-panel/execution-summary-panel.tsx
Labels: Area - Web Console, Area - Dependencies

#17841 Fix flaky unit tests in SegmentBootstrapperTest and KinesisIndexTaskTest
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTest.java
  server/src/test/java/org/apache/druid/server/coordination/SegmentBootstrapperTest.java
  server/src/test/java/org/apache/druid/server/coordination/TestSegmentCacheManager.java
Labels: Area - Streaming Ingestion, Flaky test

#17844 Web console: responding to user feedback about the explore view and fixing bugs
  web-console/src/utils/general.tsx
  web-console/src/utils/query-manager/query-manager.ts
  web-console/src/views/explore-view/components/column-picker-menu/column-picker-menu.tsx
  web-console/src/views/explore-view/components/filter-pane/filter-menu/contains-filter-control/contains-filter-control.tsx
  web-console/src/views/explore-view/components/filter-pane/filter-menu/filter-menu.tsx
  web-console/src/views/explore-view/components/filter-pane/filter-menu/regexp-filter-control/regexp-filter-control.tsx
  web-console/src/views/explore-view/components/filter-pane/filter-menu/time-interval-filter-control/time-interval-filter-control.tsx
  web-console/src/views/explore-view/components/filter-pane/filter-menu/values-filter-control/values-filter-control.tsx
  web-console/src/views/explore-view/components/filter-pane/filter-pane.tsx
  web-console/src/views/explore-view/components/index.ts
  web-console/src/views/explore-view/components/iso-date-input/iso-date-input.tsx
  web-console/src/views/explore-view/components/module-pane/module-pane.scss
  web-console/src/views/explore-view/components/module-pane/module-pane.tsx
  web-console/src/views/explore-view/components/preview-pane/preview-pane.scss
  web-console/src/views/explore-view/components/preview-pane/preview-pane.tsx
  web-console/src/views/explore-view/components/resource-pane/column-dialog/column-dialog.tsx
  web-console/src/views/explore-view/components/resource-pane/measure-dialog/measure-dialog.tsx
  web-console/src/views/explore-view/components/resource-pane/resource-pane.tsx
  web-console/src/views/explore-view/explore-view.scss
  web-console/src/views/explore-view/explore-view.tsx
  web-console/src/views/explore-view/models/module-state.ts
  web-console/src/views/explore-view/models/parameter.ts
  web-console/src/views/explore-view/models/query-source.ts
  web-console/src/views/explore-view/module-repository/module-repository.ts
  web-console/src/views/explore-view/modules/bar-chart-module/bar-chart-module.tsx
  web-console/src/views/explore-view/modules/grouping-table-module/grouping-table-module.tsx
  web-console/src/views/explore-view/modules/multi-axis-chart-module/multi-axis-chart-module.tsx
  web-console/src/views/explore-view/modules/pie-chart-module/pie-chart-module.tsx
  web-console/src/views/explore-view/modules/record-table-module/record-table-module.tsx
  web-console/src/views/explore-view/modules/time-chart-module/continuous-chart-render.scss
  web-console/src/views/explore-view/modules/time-chart-module/continuous-chart-render.tsx
  web-console/src/views/explore-view/modules/time-chart-module/time-chart-module.tsx
Labels: Area - Web Console
