Repository apache/druid, pull requests merged in 2025-08, with the labels that each got.

#18345 Web console: build only if needed
  web-console/script/build
  web-console/script/create-sql-docs.mjs
  web-console/script/sql-doc-files.txt
Labels: Area - Web Console, Area - Build

#18334 fix ExpressionVirtualColumn equivalence key to use Expr.stringify instead of raw input string to stabilize comparison
  processing/src/main/java/org/apache/druid/segment/virtual/ExpressionVirtualColumn.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
  processing/src/test/java/org/apache/druid/segment/join/JoinFilterAnalyzerTest.java
Labels: Bug, Area - Segment Format and Ser/De

#18353 Update source-assembly configs to retain exe perms for scripts in source distribution
  distribution/src/assembly/source-assembly.xml
Labels: Bug

#18356 Put errors on warning level for cpu set snapshots
  processing/src/main/java/org/apache/druid/java/util/metrics/cgroups/CpuSet.java
Labels: Area - Metrics/Event Emitting

#18370 make VirtualColumns.equivalence lazy computed
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
Labels: Area - Segment Format and Ser/De

#18350 Add guard rails for Dart around select destination
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#18371 ShimCursor: Fix dimension selectors on non-strings.
  processing/src/main/java/org/apache/druid/segment/shim/ShimColumnSelectorFactory.java
  processing/src/test/java/org/apache/druid/segment/shim/ShimCursorTest.java
Labels: Bug, Area - Segment Format and Ser/De

#18252 docs: experimental docs for Dart
  docs/querying/dart.md
  website/.spelling
  website/sidebars.json
Labels: Area - Documentation

#18376 Fix web-checks CI flakes by using 2 phased distribution build to avoid issues with parallelization and the distribution module
  web-console/script/druid
Labels: Area - Web Console

#18377 [Backport] Docs: Change "Dart query profile" to "Dart engine" in sidebar.
  docs/querying/dart.md
Labels: Area - Documentation, Backport

#18342 add support for filtered projections
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBenchmarkDatasets.java
  extensions-core/datasketches/src/test/java/org/apache/druid/segment/DatasketchesProjectionTest.java
  extensions-core/druid-catalog/src/test/java/org/apache/druid/catalog/storage/TableManagerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQCompactionRunnerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/destination/DataSourceMSQDestinationTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/CompactionTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskParallelRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/AggregateProjectionSpec.java
  processing/src/main/java/org/apache/druid/segment/AggregateProjectionMetadata.java
  processing/src/main/java/org/apache/druid/segment/CursorBuildSpec.java
  processing/src/main/java/org/apache/druid/segment/IndexIO.java
  processing/src/main/java/org/apache/druid/segment/filter/IsBooleanFilter.java
  processing/src/main/java/org/apache/druid/segment/filter/TrueFilter.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnHeapAggregateProjection.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarNestedCommonFormatColumnSerializer.java
  processing/src/main/java/org/apache/druid/segment/projections/ConstantTimeColumn.java
  processing/src/main/java/org/apache/druid/segment/projections/ProjectionFilterMatch.java
  processing/src/main/java/org/apache/druid/segment/projections/ProjectionMatch.java
  processing/src/main/java/org/apache/druid/segment/projections/ProjectionMatchBuilder.java
  processing/src/main/java/org/apache/druid/segment/projections/Projections.java
  processing/src/test/java/org/apache/druid/data/input/impl/AggregateProjectionSpecTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentAnalysisTest.java
  processing/src/test/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChestTest.java
  processing/src/test/java/org/apache/druid/segment/AggregateProjectionMetadataTest.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerTestBase.java
  processing/src/test/java/org/apache/druid/segment/MetadataTest.java
  processing/src/test/java/org/apache/druid/segment/QueryableIndexCursorHolderTest.java
  processing/src/test/java/org/apache/druid/segment/TestIndex.java
  processing/src/test/java/org/apache/druid/segment/incremental/OnheapIncrementalIndexTest.java
  processing/src/test/java/org/apache/druid/segment/projections/ProjectionsTest.java
  server/src/main/java/org/apache/druid/segment/indexing/DataSchema.java
  server/src/test/java/org/apache/druid/segment/indexing/DataSchemaTest.java
  server/src/test/java/org/apache/druid/server/compaction/CompactionStatusTest.java
  server/src/test/java/org/apache/druid/server/coordinator/CatalogDataSourceCompactionConfigTest.java
  server/src/test/java/org/apache/druid/server/coordinator/duty/CompactSegmentsTest.java
Labels: Area - Batch Ingestion, Area - Segment Format and Ser/De, Area - Ingestion, Area - MSQ

#18343 Web console: Explore bugbash
  licenses.yaml
  web-console/package-lock.json
  web-console/package.json
  web-console/src/utils/general.spec.ts
  web-console/src/utils/general.tsx
  web-console/src/utils/ticks.ts
  web-console/src/views/explore-view/components/error-boundary/error-boundary.scss
  web-console/src/views/explore-view/components/error-boundary/error-boundary.tsx
  web-console/src/views/explore-view/components/module-pane/module-pane.tsx
  web-console/src/views/explore-view/models/explore-state.ts
Labels: Bug, Area - Web Console, Area - Dependencies

#18380 fix bug causing wrong dimension merger order leading to exceptions or wrong data being used for a projection
  processing/src/main/java/org/apache/druid/segment/incremental/OnHeapAggregateProjection.java
  processing/src/main/java/org/apache/druid/segment/projections/Projections.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
Labels: Bug, Area - Segment Format and Ser/De

#18384 [Backport] docs: add deprecation for hadoop and java11
  docs/ingestion/data-formats.md
  docs/ingestion/faq.md
  docs/ingestion/hadoop.md
  docs/ingestion/index.md
  docs/operations/java.md
  docs/operations/other-hadoop.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  docs/tutorials/tutorial-batch-hadoop.md
  docs/tutorials/tutorial-kerberos-hadoop.md
  docs/tutorials/tutorial-query.md
Labels: Area - Documentation, Backport

#18341 Making task log storage optional for Kubernetes Runner
  .github/scripts/run_docker-tests
  extensions-contrib/aliyun-oss-extensions/src/main/java/org/apache/druid/storage/aliyun/OssStorageDruidModule.java
  extensions-core/azure-extensions/src/main/java/org/apache/druid/storage/azure/AzureStorageDruidModule.java
  extensions-core/google-extensions/src/main/java/org/apache/druid/storage/google/GoogleStorageDruidModule.java
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/HdfsStorageDruidModule.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesOverlordModuleTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3StorageDruidModule.java
  indexing-service/src/main/java/org/apache/druid/guice/IndexingServiceTaskLogsModule.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordResource.java
  indexing-service/src/test/java/org/apache/druid/guice/IndexingServiceTaskLogsModuleTest.java
  processing/src/main/java/org/apache/druid/guice/Binders.java
  processing/src/main/java/org/apache/druid/tasklogs/SwitchingTaskLogs.java
  processing/src/test/java/org/apache/druid/guice/BindersTest.java
  processing/src/test/java/org/apache/druid/tasklogs/SwitchingTaskLogsTest.java
  services/src/main/java/org/apache/druid/cli/CliIndexer.java
  services/src/main/java/org/apache/druid/cli/CliMiddleManager.java
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
  services/src/main/java/org/apache/druid/cli/CliPeon.java
Labels: Area - Dependencies, Kubernetes, Area - Ingestion, GHA

#18379 Get reports file from file writer
  indexing-service/src/main/java/org/apache/druid/indexing/common/MultipleFileTaskReportFileWriter.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/duty/KillTaskToolbox.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/MultipleFileTaskReportFileWriterTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/SingleFileTaskReportFileWriterTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/AbstractTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/NoopTestTaskReportFileWriter.java
  processing/src/main/java/org/apache/druid/indexer/report/SingleFileTaskReportFileWriter.java
  processing/src/main/java/org/apache/druid/indexer/report/TaskReportFileWriter.java
Labels: Area - Ingestion

#18396 Fix a typo in the compaction dialog when inputSegmentSizeBytes is set
  web-console/src/dialogs/compaction-config-dialog/compaction-config-dialog.tsx
Labels: Area - Web Console

#18393 Fix various license checks
  .gitignore
  dev/license.md
  distribution/bin/check-licenses.py
  licenses.yaml
  licenses/bin/reactive-streams.CC0
  licenses/bin/reactive-streams.MIT0
Labels: Area - Dependencies

#18392 Migrate Protobuf extension tests to JUnit 5
  extensions-core/protobuf-extensions/pom.xml
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/FileBasedProtobufBytesDecoderTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/InlineDescriptorProtobufBytesDecoderTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputFormatTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufInputRowParserTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/ProtobufReaderTest.java
  extensions-core/protobuf-extensions/src/test/java/org/apache/druid/data/input/protobuf/SchemaRegistryBasedProtobufBytesDecoderTest.java
  licenses.yaml
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Area - Dependencies

#18418 Fix overly-strict VirtualColumns cycle detection.
  processing/src/main/java/org/apache/druid/segment/VirtualColumns.java
  processing/src/test/java/org/apache/druid/segment/VirtualColumnsTest.java
Labels: Bug, Area - Segment Format and Ser/De

#18423 SQL: Fix quoting of json paths in json expressions.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/NestedDataOperatorConversions.java
Labels: Bug, Area - Querying

#18431 Ensure DruidMeta is closed properly.
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/test/java/org/apache/druid/quidem/DruidAvaticaTestDriver.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
Labels: Area - Querying

#18430 Handle local "files" in FakeIndexTaskUtil.
  sql/src/test/java/org/apache/druid/sql/calcite/util/FakeIndexTaskUtil.java
Labels: Area - Querying

#18432 Decouple AllTrue, AllUnknown BitmapColumnIndex from ColumnIndexSelector.
  processing/src/main/java/org/apache/druid/segment/index/AllTrueBitmapColumnIndex.java
  processing/src/main/java/org/apache/druid/segment/index/AllUnknownBitmapColumnIndex.java
Labels: Area - Segment Format and Ser/De

#18406 Start building out more robust fabric8 retries
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClient.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClientTest.java
Labels: Kubernetes

#18407 Fail projection filter match early if any child in `AndFilter` failed rewrite
  processing/src/main/java/org/apache/druid/segment/projections/ProjectionFilterMatch.java
  processing/src/main/java/org/apache/druid/segment/projections/Projections.java
  processing/src/test/java/org/apache/druid/segment/projections/ProjectionFilterMatchTest.java
  processing/src/test/java/org/apache/druid/segment/projections/ProjectionsTest.java
Labels: Area - Segment Format and Ser/De

#18443 Add helper function for vector offset
  processing/src/main/java/org/apache/druid/segment/column/ComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/vector/ReadableVectorOffset.java
Labels: Area - Segment Format and Ser/De

#18442 MSQ: Allow configurable maxFrameSize.
  docs/multi-stage-query/reference.md
  multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/DartControllerContext.java
  multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerMemoryParameters.java
  multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerMemoryParameters.java
  multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/RowTooLargeFault.java
  multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  multi-stage-query/src/test/java/org/apache/druid/msq/exec/ControllerMemoryParametersTest.java
  multi-stage-query/src/test/java/org/apache/druid/msq/util/MultiStageQueryContextTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - MSQ

#18351 Suppress stack trace for failing K8s tasks due to pod creation
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClient.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesResourceNotFoundException.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClientTest.java
Labels: Kubernetes, jacoco:skip

#18329 Add optional realtimeSegmentsOnly in query context
  docs/querying/query-context-reference.md
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/query/QueryContextTest.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  web-console/src/dialogs/edit-context-dialog/query-context-completions.ts
Labels: Area - Documentation, Area - Querying, Area - Web Console

#18452 Add `taskType` dimension to a few prometheus-emitter ingest metrics
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
Labels: Area - Metrics/Event Emitting

#18436 Enable segment interval unlocks on segment handoffs
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/IngestionSmokeTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/KafkaClusterMetricsTest.java
  embedded-tests/src/test/java/org/apache/druid/testing/embedded/indexing/KafkaDataFormatsTest.java
  extensions-contrib/rabbit-stream-indexing-service/src/main/java/org/apache/druid/indexing/rabbitstream/RabbitStreamIndexTaskTuningConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfig.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTuningConfig.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIndexTaskTuningConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/simulate/EmbeddedKafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/test/TestModifiedKafkaIndexTaskTuningConfig.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamAppenderatorConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTuningConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TestAppenderatorsManager.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorConfig.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/Appenderators.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/DummyForInjectionAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/PeonAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/TaskIntervalUnlocker.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManager.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/TestAppenderatorConfig.java
Labels: Area - Streaming Ingestion, Area - Ingestion

#18448 Poll from memory before fetching task information from DB
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/HeapMemoryTaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/MetadataTaskStorage.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueryTool.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskStorage.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordResourceTest.java
  processing/src/main/java/org/apache/druid/indexer/TaskInfo.java
Labels: Performance, Area - Ingestion

#18458 Add kafka consumer metrics to prometheus emitter config
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
Labels: Area - Metrics/Event Emitting
