Repository apache/druid, pull requests merged in 2025-04, with the labels that each got.

#17851 Web console: tiny change to tweak colors
  web-console/src/views/explore-view/modules/time-chart-module/continuous-chart-render.tsx
Labels: Area - Web Console

#17850 Fix stalling quidem tests running dart queries
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteDartTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerContext.java
Labels: Area - Batch Ingestion, Area - MSQ

#17738 Support running task pods in other Kubernetes namespaces
  docs/development/extensions-core/k8s-jobs.md
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerConfig.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactory.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidK8sConstants.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClient.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/MultiContainerTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/SingleContainerTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/TaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactoryTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClientTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapterTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/MultiContainerTaskAdapterTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapterTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/SingleContainerTaskAdapterTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/resources/baseJob.yaml
  extensions-core/kubernetes-overlord-extensions/src/test/resources/expectedNoopJob.yaml
  extensions-core/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobLongIds.yaml
  extensions-core/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobNoTaskJson.yaml
  extensions-core/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobTlsEnabled.yaml
  extensions-core/kubernetes-overlord-extensions/src/test/resources/expectedNoopJobTlsEnabledBase.yaml
  website/.spelling
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Design Review, Kubernetes, Area - Ingestion, Area - MSQ, GHA

#17674 Improve S3 upload speeds using aws transfer manager
  docs/development/extensions-core/s3.md
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3StorageConfig.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3TransferConfig.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/S3Utils.java
  extensions-core/s3-extensions/src/main/java/org/apache/druid/storage/s3/ServerSideEncryptingAmazonS3.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/data/input/s3/S3InputSourceTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/ObjectSummaryIteratorTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentArchiverTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentMoverTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3DataSegmentPusherTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3StorageConnectorProviderTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3TaskLogsTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/S3TransferConfigTest.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/ServerSideEncryptingAmazonS3Test.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/TestAWSCredentialsProvider.java
  extensions-core/s3-extensions/src/test/java/org/apache/druid/storage/s3/output/RetryableS3OutputStreamTest.java
Labels: Area - Documentation, Release Notes

#17855 Cap default balancerComputeThreads at 100.
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/SegmentToMoveCalculator.java
Labels: Bug

#17843 Use GraalJS to execute javascript backed selector strategies
  distribution/bin/check-licenses.py
  indexing-service/pom.xml
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/JavaScriptUtil.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/setup/JavaScriptWorkerSelectStrategy.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/setup/JavaScriptWorkerSelectStrategyTest.java
  licenses.yaml
  pom.xml
  services/pom.xml
  services/src/main/java/org/apache/druid/server/router/JavaScriptTieredBrokerSelectorStrategy.java
  services/src/test/java/org/apache/druid/server/router/JavaScriptTieredBrokerSelectorStrategyTest.java
Labels: Area - Dependencies, Area - Ingestion

#17854 Remove query/node/backpressure from docs, configs.
  docs/design/extensions-contrib/dropwizard.md
  docs/operations/metrics.md
  extensions-contrib/dropwizard-emitter/src/main/resources/defaultMetricDimensions.json
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
  extensions-contrib/statsd-emitter/src/main/resources/defaultMetricDimensions.json
Labels: Area - Documentation, Area - Metrics/Event Emitting

#17740 docs: upgrade to docusaurus 3
  docs/api-reference/sql-ingestion-api.md
  docs/comparisons/druid-vs-spark.md
  docs/configuration/extensions.md
  docs/configuration/index.md
  docs/development/docs-contribute.md
  docs/development/extensions-core/catalog.md
  docs/development/extensions-core/druid-basic-security.md
  docs/development/extensions-core/k8s-jobs.md
  docs/development/extensions-core/test-stats.md
  docs/ingestion/concurrent-append-replace.md
  docs/ingestion/data-formats.md
  docs/ingestion/ingestion-spec.md
  docs/ingestion/input-sources.md
  docs/ingestion/kinesis-ingestion.md
  docs/multi-stage-query/examples.md
  docs/operations/security-overview.md
  docs/querying/filters.md
  docs/querying/math-expr.md
  docs/querying/nested-columns.md
  docs/querying/sql-functions.md
  docs/querying/sql-translation.md
  docs/release-info/migr-mvd-array.md
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
  docs/tutorials/cluster.md
  docs/tutorials/index.md
  docs/tutorials/tutorial-batch-hadoop.md
  docs/tutorials/tutorial-batch.md
  docs/tutorials/tutorial-extern.md
  docs/tutorials/tutorial-ingestion-spec.md
  docs/tutorials/tutorial-jdbc.md
  docs/tutorials/tutorial-msq-convert-spec.md
  docs/tutorials/tutorial-msq-extern.md
  docs/tutorials/tutorial-query-deep-storage.md
  docs/tutorials/tutorial-unnest-arrays.md
  website/README.md
  website/package-lock.json
  website/package.json
Labels: Area - Documentation

#17784 Remove startupProbe in kubernetes-overlord-extensions
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapterTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/resources/expectedProbesRemovedOutput.yaml
  extensions-core/kubernetes-overlord-extensions/src/test/resources/probesPodSpec.yaml
Labels: Kubernetes

#17859 docs: fix syntax
  .github/workflows/static-checks.yml
  docs/querying/sql-functions.md
  docs/tutorials/tutorial-extern.md
  docs/tutorials/tutorial-rollup.md
  docs/tutorials/tutorial-sketches-theta.md
  docs/tutorials/tutorial-transform.md
  website/.spelling
Labels: Area - Documentation, GHA

#17858 Make IT runs less noisy
  integration-tests/pom.xml
  integration-tests/src/main/java/org/apache/druid/testing/clients/AbstractQueryResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/OverlordResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/AbstractQueryWithResults.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/AbstractTestQueryHelper.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/DruidClusterAdminClient.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/ITRetryUtil.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/MsqQueryWithResults.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/QueryWithResults.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/SqlQueryWithResults.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/SqlTestQueryHelper.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionLockContentionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractITBatchIndexTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractIndexerTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/ITNilColumnTest.java
Labels: Area - Dependencies

#17860 Web console: add turboLoadingNodes
  docs/configuration/index.md
  web-console/src/components/auto-form/auto-form.tsx
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/components/header-bar/header-bar.tsx
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
  web-console/src/utils/general.tsx
  web-console/src/views/sql-data-loader-view/schema-step/schema-step.tsx
Labels: Area - Documentation, Area - Web Console

#17862 Web console: support for supervisor based compaction (use new compaction APIs)
  web-console/src/dialogs/compaction-dynamic-config-dialog/compaction-dynamic-config-dialog.tsx
  web-console/src/dialogs/compaction-history-dialog/compaction-history-dialog.scss
  web-console/src/dialogs/compaction-history-dialog/compaction-history-dialog.tsx
  web-console/src/dialogs/doctor-dialog/doctor-checks.tsx
  web-console/src/druid-models/compaction-config/compaction-config.tsx
  web-console/src/druid-models/compaction-dynamic-config/compaction-dynamic-config.tsx
  web-console/src/druid-models/coordinator-dynamic-config/coordinator-dynamic-config.tsx
  web-console/src/druid-models/index.ts
  web-console/src/utils/druid-query.ts
  web-console/src/views/datasources-view/datasources-view.tsx
Labels: Area - Web Console

#17866 fixes and validation for projections with rollup base tables
  processing/src/main/java/org/apache/druid/segment/AggregateProjectionMetadata.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnHeapAggregateProjection.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/projections/Projections.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerTestBase.java
  processing/src/test/java/org/apache/druid/segment/incremental/OnheapIncrementalIndexTest.java
Labels: Bug, Area - Segment Format and Ser/De

#17576 update azure pom parent to address CVEs
  extensions-core/azure-extensions/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#17846 Changed deprecated BrokerClient
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/SegmentLoadStatusFetcher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/SegmentLoadStatusFetcherTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  server/src/main/java/org/apache/druid/client/broker/BrokerClient.java
  server/src/main/java/org/apache/druid/client/broker/BrokerClientImpl.java
  server/src/main/java/org/apache/druid/discovery/BrokerClient.java
  server/src/test/java/org/apache/druid/discovery/BrokerClientTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#17869 [Backport] fixes and validation for projections with rollup base tables (#17866)
  processing/src/main/java/org/apache/druid/segment/AggregateProjectionMetadata.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnHeapAggregateProjection.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/projections/Projections.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerTestBase.java
  processing/src/test/java/org/apache/druid/segment/incremental/OnheapIncrementalIndexTest.java
Labels: Area - Segment Format and Ser/De

#17873 Branch-33.0.0 missed updates
  web-console/src/components/header-bar/__snapshots__/header-bar.spec.tsx.snap
  web-console/src/components/header-bar/restricted-mode/__snapshots__/restricted-mode.spec.tsx.snap
  web-console/src/dialogs/compaction-config-dialog/__snapshots__/compaction-config-dialog.spec.tsx.snap
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/links.ts
  web-console/src/views/workbench-view/execution-error-pane/__snapshots__/execution-error-pane.spec.tsx.snap
Labels: Area - Web Console

#17874 update parquet-avro to resolve CVE-2025-30065
  extensions-core/parquet-extensions/pom.xml
  licenses.yaml
Labels: Area - Dependencies

#17880 update asynchttpclient to 2.12.4
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#17879 update jetty to 9.4.57.v20241219 to address CVE
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#17875 remove some stale configs from example configs, minor doc update
  docs/querying/sql-functions.md
  examples/conf/druid/auto/_common/common.runtime.properties
  examples/conf/druid/cluster/_common/common.runtime.properties
  examples/conf/druid/single-server/large/_common/common.runtime.properties
  examples/conf/druid/single-server/medium/_common/common.runtime.properties
  examples/conf/druid/single-server/micro-quickstart/_common/common.runtime.properties
  examples/conf/druid/single-server/nano-quickstart/_common/common.runtime.properties
  examples/conf/druid/single-server/small/_common/common.runtime.properties
  examples/conf/druid/single-server/xlarge/_common/common.runtime.properties
  processing/src/test/java/org/apache/druid/query/scan/NestedDataScanQueryTest.java
Labels: Area - Documentation

#17867 Do not emit metrics from integration testing client
  integration-tests-ex/cases/pom.xml
  integration-tests-ex/cases/src/test/java/org/apache/druid/testsEx/cluster/ZooKeeperClient.java
  integration-tests/src/main/java/org/apache/druid/testing/clients/CompactionResourceTestClient.java
  integration-tests/src/main/java/org/apache/druid/testing/guice/DruidTestModule.java
  integration-tests/src/main/java/org/apache/druid/testing/utils/ITRetryUtil.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionLockContentionTest.java
  integration-tests/src/test/java/org/apache/druid/tests/coordinator/duty/ITAutoCompactionTest.java
Labels: Area - Dependencies

#17882 Update all profiles to Parquet 1.15.1.
  extensions-core/parquet-extensions/pom.xml
Labels: Area - Dependencies

#17646 Bump async-http-client to 3.0.1
  licenses.yaml
  pom.xml
  processing/src/main/java/org/apache/druid/java/util/emitter/core/HttpPostEmitter.java
  processing/src/test/java/org/apache/druid/java/util/emitter/core/HttpEmitterTest.java
  processing/src/test/java/org/apache/druid/java/util/http/client/AsyncHttpClientTest.java
Labels: Area - Metrics/Event Emitting, Area - Dependencies

#17749 Allow users to differentiate task pods from different namespaces in multi-namespace settings
  docs/development/extensions-core/k8s-jobs.md
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleFactory.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerConfig.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/PeonLifecycleFactory.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/K8sTaskId.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesOverlordUtils.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/MultiContainerTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/SingleContainerTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesWorkItemTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/TestPeonLifecycleFactory.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/K8sTaskIdTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClientTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/DruidPeonClientIntegrationTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/K8sTaskAdapterTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapterTest.java
Labels: Area - Documentation, Kubernetes

#17876 Run addition jdks in the main ci job
  .github/scripts/create-jacoco-coverage-report.sh
  .github/scripts/test_balancing_calc
  .github/workflows/ci.yml
  .github/workflows/cron-job-its.yml
  .github/workflows/cron-job-unit-tests.yml
  .github/workflows/unit-and-integration-tests-unified.yml
  .github/workflows/worker.yml
Labels: GHA, tests:all-jdk

#17886 Refactor: Move auth utility method to AuthorizationUtils
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTaskUtils.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IndexTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexSupervisorTaskResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunnerAuthTest.java
  processing/src/main/java/org/apache/druid/segment/incremental/ParseExceptionHandler.java
  processing/src/test/java/org/apache/druid/segment/incremental/ParseExceptionHandlerTest.java
  server/src/main/java/org/apache/druid/server/security/AuthorizationUtils.java
Labels: Area - Segment Format and Ser/De, Refactoring, Area - Ingestion

#17885 Suppress dependency-check alert of hadoop-client-runtime
  owasp-dependency-check-suppressions.xml
  pom.xml
Labels: Area - Dependencies

#17884 Update log level for better problem solving
  processing/src/main/java/org/apache/druid/java/util/common/lifecycle/Lifecycle.java
  server/src/main/java/org/apache/druid/discovery/BaseNodeRoleWatcher.java
Labels: Area - Operations

#17889 Fix ExprEval of BigDecimal data type
  processing/src/main/java/org/apache/druid/math/expr/ExprEval.java
  processing/src/test/java/org/apache/druid/math/expr/EvalTest.java
Labels: Bug, Area - Ingestion

#17863 Add ability for historicals to clone an existing historical
  docs/api-reference/dynamic-configuration-api.md
  docs/configuration/index.md
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCluster.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/ServerHolder.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/CostBalancerStrategy.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/SegmentToMoveCalculator.java
  server/src/main/java/org/apache/druid/server/coordinator/balancer/TierSegmentBalancer.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/BalanceSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CloneHistoricals.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/MarkOvershadowedSegmentsAsUnused.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/PrepareBalancerAndLoadQueues.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/UnloadUnusedSegments.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/HttpLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/RoundRobinServerSelector.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/SegmentReplicaCountMap.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/StrategicSegmentAssigner.java
  server/src/main/java/org/apache/druid/server/coordinator/stats/Stats.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidClusterTest.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/HttpLoadQueuePeonTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/HistoricalCloningTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
Labels: Area - Documentation, Needs web console change

#17896 Docs: Update segment metadata cache metrics
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/metadata/segment/cache/Metric.java
Labels: Area - Documentation

#17897 Fix quidem output file path for properly handling nested input files
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemTestBase.java
Labels: Area - Querying

#17901 Remove JDK matrix for `query` integration tests
  .github/workflows/standard-its.yml
Labels: GHA

#17892 Update basic-cluster-tuning.md to no longer suggest 24GiB heap cap.
  docs/operations/basic-cluster-tuning.md
  website/.spelling
Labels: Area - Documentation

#17907 Fix GitHub Actions workflow for `ITNestedQueryPushDownTest` integration test
  .github/workflows/standard-its.yml
  integration-tests/script/build_run_k8s_cluster.sh
  integration-tests/script/setup_druid_on_k8s.sh
  integration-tests/script/setup_druid_operator_on_k8s.sh
  integration-tests/script/setup_k8s_cluster.sh
Labels: GHA

#17898 Add documentation + fix bug for task pods in different namespace scenario
  docs/development/extensions-core/k8s-jobs.md
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerConfig.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClient.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClientTest.java
Labels: Area - Documentation, Kubernetes

#17905 add missing compaction status evaluator for projections
  server/src/main/java/org/apache/druid/server/compaction/CompactionStatus.java
  server/src/test/java/org/apache/druid/server/compaction/CompactionStatusTest.java
Labels: Bug

#17915 Fix two issues where CursorHolders were not closed on failure of asCursor().
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryEngine.java
Labels: Bug, Area - Batch Ingestion, Area - MSQ

#17918 Kinesis: Remove some unused static constants.
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskTuningConfig.java
Labels: Area - Streaming Ingestion

#17912 docs: move deprecation msg to be more clear
  docs/development/extensions-core/approximate-histograms.md
Labels: Area - Documentation

#17910 [Backport] fix issue with projections when base table has string typed columns with all null values
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
  processing/src/test/java/org/apache/druid/segment/CursorFactoryProjectionTest.java
Labels: Backport, Area - Segment Format and Ser/De

#17922 [Backport] Fix GitHub Actions workflow for `ITNestedQueryPushDownTest` integration test (#17907)
  .github/workflows/standard-its.yml
  integration-tests/script/build_run_k8s_cluster.sh
  integration-tests/script/setup_druid_on_k8s.sh
  integration-tests/script/setup_druid_operator_on_k8s.sh
  integration-tests/script/setup_k8s_cluster.sh
Labels: GHA

#17921 Fix hadoop3 ingestion example
  docs/tutorials/tutorial-batch-hadoop.md
  examples/quickstart/tutorial/hadoop/docker/Dockerfile
  examples/quickstart/tutorial/hadoop/docker/bootstrap.sh
  examples/quickstart/tutorial/wikipedia-index-hadoop3.json
Labels: Area - Documentation

#17923 [Backport] Fix hadoop3 ingestion example (#17921)
  docs/tutorials/tutorial-batch-hadoop.md
  examples/quickstart/tutorial/hadoop/docker/Dockerfile
  examples/quickstart/tutorial/hadoop/docker/bootstrap.sh
  examples/quickstart/tutorial/wikipedia-index-hadoop3.json
Labels: Area - Documentation

#17924 [Backport] docs: move deprecation msg to be more clear (#17912)
  docs/development/extensions-core/approximate-histograms.md
Labels: Area - Documentation

#17925 [Backport] Fix two issues where CursorHolders were not closed on failure of asCursor(). (#17915)
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessor.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryEngine.java
Labels: Area - Batch Ingestion, Area - MSQ

#17913 k8s: Update fabric8 to 6.13.1, switch to Vert.x http client.
  extensions-core/kubernetes-overlord-extensions/pom.xml
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesOverlordModule.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidKubernetesClient.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidKubernetesHttpClientConfig.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/DruidKubernetesHttpClientFactory.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesTaskRunnerFactoryTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/DruidPeonClientIntegrationTest.java
  licenses.yaml
Labels: Area - Dependencies, Kubernetes

#17919 Kafka: Emit additional consumer metrics.
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaConsumerMetric.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaConsumerMonitor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaRecordSupplierTest.java
Labels: Area - Streaming Ingestion

#17928 Remove redundant field SeekableStreamIndexTask.authorizerMapper
  extensions-contrib/rabbit-stream-indexing-service/src/main/java/org/apache/druid/indexing/rabbitstream/IncrementalPublishingRabbitStreamIndexTaskRunner.java
  extensions-contrib/rabbit-stream-indexing-service/src/main/java/org/apache/druid/indexing/rabbitstream/RabbitStreamIndexTask.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/IncrementalPublishingKafkaIndexTaskRunner.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/KafkaIndexTask.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTask.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunnerAuthTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunnerTest.java
Labels: Area - Streaming Ingestion, Area - Ingestion

#17929 feat: add groupby metrics to prometheus emitter
  extensions-contrib/prometheus-emitter/src/main/resources/defaultMetrics.json
Labels: Area - Metrics/Event Emitting

#17917 Automatically determine maxColumnsToMerge for streaming ingestion.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerMemoryParameters.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolboxFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamAppenderatorConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTuningConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskToolboxTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskLifecycleTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TestTaskToolboxFactory.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamAppenderatorConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/worker/WorkerTaskMonitorTest.java
  processing/src/main/java/org/apache/druid/segment/IndexMergerV9.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorConfig.java
Labels: Area - Batch Ingestion, Area - Segment Format and Ser/De, Area - Ingestion, Area - MSQ

#17936 remove useMaxMemoryEstimates in favor of always using the false behavior which uses the newer more accurate estimates
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/StringDimensionIndexerBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/StringDimensionIndexerProcessBenchmark.java
  extensions-contrib/materialized-view-maintenance/src/main/java/org/apache/druid/indexing/materializedview/MaterializedViewSupervisorSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/processor/SegmentGeneratorFrameProcessorFactory.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopTuningConfig.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/IndexGeneratorJob.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/BatchDeltaIngestionTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DetermineHashedPartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DeterminePartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/DetermineRangePartitionsJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerConfigTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopTuningConfigTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/IndexGeneratorJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/JobHelperTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/path/GranularityPathSpecTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/AbstractTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/BatchAppenderators.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/IndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentGenerateTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/SinglePhaseSubTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/TestAppenderatorsManager.java
  processing/src/main/java/org/apache/druid/segment/DimensionDictionary.java
  processing/src/main/java/org/apache/druid/segment/DimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/DoubleDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/FloatDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/LongDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/NestedCommonFormatColumnHandler.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionDictionary.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionHandler.java
  processing/src/main/java/org/apache/druid/segment/StringDimensionIndexer.java
  processing/src/main/java/org/apache/druid/segment/incremental/AppendableIndexBuilder.java
  processing/src/main/java/org/apache/druid/segment/incremental/IncrementalIndex.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnHeapAggregateProjection.java
  processing/src/main/java/org/apache/druid/segment/incremental/OnheapIncrementalIndex.java
  processing/src/test/java/org/apache/druid/segment/StringDimensionIndexerTest.java
  processing/src/test/java/org/apache/druid/segment/incremental/IncrementalIndexRowSizeTest.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/Appenderators.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/AppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/DummyForInjectionAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/PeonAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderator.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManager.java
  server/src/main/java/org/apache/druid/segment/realtime/sink/Sink.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/BatchAppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorTest.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/StreamAppenderatorTester.java
  server/src/test/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManagerTest.java
  server/src/test/java/org/apache/druid/segment/realtime/sink/SinkTest.java
Labels: Area - Batch Ingestion, Release Notes, Area - Segment Format and Ser/De, Area - Ingestion, Area - MSQ

#17940 Web console: fix segment view issuing query that does not work sometimes.
  web-console/src/views/segments-view/segments-view.tsx
Labels: Bug, Area - Web Console

#17900 Add taskCountStart property to lag autoscaler
  docs/ingestion/supervisor.md
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/AutoScalerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/autoscaler/LagBasedAutoScalerConfig.java
Labels: Area - Documentation, Area - Streaming Ingestion, Area - Ingestion

#17934 Remove logic to disable "hard rest" and "set offsets" button when supervisor is in suspended state
  web-console/src/views/supervisors-view/supervisors-view.tsx
Labels: Area - Web Console

#17946 Move ReadResourceActions validation earlier in QueryHandler
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
Labels: Area - Querying

#17899 Add changes to prevent Broker from querying cloned Historicals
  benchmarks/src/test/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  docs/api-reference/service-status-api.md
  docs/querying/query-context.md
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/DatasourceOptimizerTest.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/DartTableInputSpecSlicer.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/dart/controller/DartTableInputSpecSlicerTest.java
  processing/src/main/java/org/apache/druid/query/CloneQueryMode.java
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/test/java/org/apache/druid/query/QueryContextsTest.java
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/client/BrokerViewOfCoordinatorConfig.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/ServerViewUtil.java
  server/src/main/java/org/apache/druid/client/broker/BrokerClient.java
  server/src/main/java/org/apache/druid/client/broker/BrokerClientImpl.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClient.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClientImpl.java
  server/src/main/java/org/apache/druid/client/selector/HistoricalFilter.java
  server/src/main/java/org/apache/druid/client/selector/ServerSelector.java
  server/src/main/java/org/apache/druid/server/BrokerDynamicConfigResource.java
  server/src/main/java/org/apache/druid/server/BrokerQueryResource.java
  server/src/main/java/org/apache/druid/server/ClientInfoResource.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordinator/CloneStatusManager.java
  server/src/main/java/org/apache/druid/server/coordinator/CoordinatorDynamicConfig.java
  server/src/main/java/org/apache/druid/server/coordinator/DruidCoordinator.java
  server/src/main/java/org/apache/druid/server/coordinator/ServerCloneStatus.java
  server/src/main/java/org/apache/druid/server/coordinator/duty/CloneHistoricals.java
  server/src/main/java/org/apache/druid/server/http/BrokerSyncStatus.java
  server/src/main/java/org/apache/druid/server/http/CloneStatus.java
  server/src/main/java/org/apache/druid/server/http/ConfigSyncStatus.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorDynamicConfigSyncer.java
  server/src/main/java/org/apache/druid/server/http/CoordinatorDynamicConfigsResource.java
  server/src/test/java/org/apache/druid/client/BrokerServerViewTest.java
  server/src/test/java/org/apache/druid/client/BrokerViewOfCoordinatorConfigTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientCacheKeyManagerTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientFunctionalityTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientPerfTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/client/DirectDruidClientTest.java
  server/src/test/java/org/apache/druid/client/SimpleServerView.java
  server/src/test/java/org/apache/druid/client/coordinator/CoordinatorClientImplTest.java
  server/src/test/java/org/apache/druid/client/coordinator/NoopCoordinatorClient.java
  server/src/test/java/org/apache/druid/client/selector/ConnectionCountServerSelectorStrategyTest.java
  server/src/test/java/org/apache/druid/client/selector/ServerSelectorTest.java
  server/src/test/java/org/apache/druid/client/selector/TierSelectorStrategyTest.java
  server/src/test/java/org/apache/druid/server/ClientInfoResourceTest.java
  server/src/test/java/org/apache/druid/server/coordination/TestCoordinatorClient.java
  server/src/test/java/org/apache/druid/server/coordinator/DruidCoordinatorTest.java
  server/src/test/java/org/apache/druid/server/coordinator/ServerCloneStatusTest.java
  server/src/test/java/org/apache/druid/server/coordinator/simulate/CoordinatorSimulationBuilder.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigTest.java
  server/src/test/java/org/apache/druid/server/http/CoordinatorDynamicConfigsResourceTest.java
  services/src/main/java/org/apache/druid/cli/CliBroker.java
  services/src/main/java/org/apache/druid/cli/CliCoordinator.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheConcurrencyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestTimelineServerView.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Design Review, Area - MSQ, Needs web console change

#17871 Fix filters on TIMESTAMP_TO_MILLIS over TIME_FLOOR.
  sql/src/main/java/org/apache/druid/sql/calcite/expression/Expressions.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Bug, Area - Querying

#17894 allow HTTP SQL requests to use SET statements to build context for the final statement
  docs/api-reference/sql-api.md
  docs/querying/sql-query-context.md
  docs/querying/sql.md
  extensions-contrib/moving-average-query/src/main/java/org/apache/druid/query/movingaverage/MovingAverageQueryModule.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/dart/controller/http/DartSqlResourceTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQInsertTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  server/src/main/java/org/apache/druid/server/log/NoopRequestLogger.java
  server/src/main/java/org/apache/druid/server/log/NoopRequestLoggerProvider.java
  services/src/test/java/org/apache/druid/server/AsyncQueryForwardingServletTest.java
  sql/src/main/java/org/apache/druid/sql/AbstractStatement.java
  sql/src/main/java/org/apache/druid/sql/DirectStatement.java
  sql/src/main/java/org/apache/druid/sql/HttpStatement.java
  sql/src/main/java/org/apache/druid/sql/PreparedStatement.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalcitePlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/DruidViewMacro.java
  sql/src/test/java/org/apache/druid/quidem/DruidAvaticaTestDriver.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteInsertDmlTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DruidPlannerResourceAnalyzeTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
  sql/src/test/java/org/apache/druid/sql/guice/SqlModuleTest.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Design Review, Area - Segment Format and Ser/De, Area - SQL, Area - MSQ, Needs web console change

#17948 Enable quidem to read datasets from classpath; fix msq cleanup in tests; limit max commands per files
  .gitignore
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestOverlordServiceClient.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/TestDartControllerContextFactoryImpl.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/sql/avatica/MSQDruidMeta.java
  processing/src/test/java/org/apache/druid/data/input/ResourceInputSource.java
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_sunburst.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_sunburst/kttm_sunburst.00075.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_sunburst/kttm_sunburst.00150.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_sunburst/kttm_sunburst.00225.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_sunburst/kttm_sunburst.00300.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/kttm_sunburst/kttm_sunburst.00302.iq
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemTestBase.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/FakeIndexTaskUtil.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ
