Repository apache/druid, pull requests merged in 2025-06, with the labels that each got.

#18045 Switch to counter for tracking used task slots on ForkingTaskRunner
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskStorageDirTracker.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/ForkingTaskRunner.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/TaskStorageDirTrackerTest.java
Labels: Bug, Area - Metrics/Event Emitting, Area - Ingestion

#18062 Quidem stabilization fixes
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/sql/avatica/DartDruidMeta.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/sql/avatica/MSQDruidMeta.java
Labels: Area - Batch Ingestion, Area - MSQ

#18066 Disable failing ITs
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueConcurrencyTest.java
Labels: Area - Ingestion

#18034 Associate NotYetSupported reasons with scopes
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/DecoupledCalciteDartTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledExtension.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteCorrelatedQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DecoupledPlanningCalciteUnionQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#18050 Web console: allow freeform tier editing in retention rules
  web-console/src/components/rule-editor/__snapshots__/rule-editor.spec.tsx.snap
  web-console/src/components/rule-editor/__snapshots__/tiered-replicant.spec.tsx.snap
  web-console/src/components/rule-editor/rule-editor.tsx
  web-console/src/components/rule-editor/tiered-replicant.spec.tsx
  web-console/src/components/rule-editor/tiered-replicant.tsx
  web-console/src/components/suggestion-menu/__snapshots__/suggestion-menu.spec.tsx.snap
  web-console/src/components/suggestion-menu/suggestion-menu.spec.tsx
  web-console/src/components/suggestion-menu/suggestion-menu.tsx
  web-console/src/dialogs/history-dialog/__snapshots__/history-dialog.spec.tsx.snap
  web-console/src/dialogs/history-dialog/history-dialog.spec.tsx
  web-console/src/dialogs/history-dialog/history-dialog.tsx
  web-console/src/dialogs/retention-dialog/__snapshots__/retention-dialog.spec.tsx.snap
  web-console/src/druid-models/load-rule/load-rule.spec.ts
  web-console/src/druid-models/load-rule/load-rule.ts
Labels: Bug, Area - Web Console

#18068 Update aws.sdk.version
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#18042 Handle RestrictedDataSource with NoRestrictionPolicy in PreJoinableClause, and SegmentMetadataQuery from druid-internal now attaches a policy
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQCalciteSelectJoinQueryTest.java
  processing/src/main/java/org/apache/druid/query/RestrictedDataSource.java
  processing/src/main/java/org/apache/druid/query/planning/PreJoinableClause.java
  processing/src/main/java/org/apache/druid/segment/join/filter/JoinableClauses.java
  processing/src/test/java/org/apache/druid/query/DataSourceTest.java
  processing/src/test/java/org/apache/druid/query/planning/PreJoinableClauseTest.java
  server/src/main/java/org/apache/druid/segment/metadata/AbstractSegmentMetadataCache.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
  server/src/test/java/org/apache/druid/segment/metadata/TestCoordinatorServerView.java
  server/src/test/java/org/apache/druid/server/QueryLifecycleTest.java
  server/src/test/java/org/apache/druid/sql/calcite/util/datasets/TestDataSet.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidAvaticaHandlerTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/CalciteTests.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - MSQ

#18039 Configurable timeout for index_parallel subtasks
  docs/ingestion/tasks.md
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/Tasks.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/ParallelIndexPhaseRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/TaskMonitor.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/TaskMonitorTest.java
Labels: Area - Documentation, Area - Ingestion

#18025 Ensure response context is flushed at end of results accumulation to fix partial results behavior
  integration-tests/src/main/java/org/apache/druid/server/coordination/ServerManagerForQueryErrorTest.java
  integration-tests/src/test/java/org/apache/druid/tests/query/ITQueryRetryTestOnMissingSegments.java
  integration-tests/src/test/resources/queries/twitterstream_queries_query_retry_test.json
  server/src/main/java/org/apache/druid/server/QueryResultPusher.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Querying

#18077 RunWorkOrder: Skip creating sorterTmpDir up front.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/RunWorkOrder.java
Labels: Area - Batch Ingestion, Area - MSQ

#18074 Add useLexicographicTopN context parameter.
  docs/configuration/index.md
  docs/querying/sql-query-context.md
  docs/querying/sql-translation.md
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerConfig.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/BaseCalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteArraysQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSelectQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/PlannerConfigTest.java
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testExactTopNOnInnerJoinWithLimit.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testTopNOnStringWithNonSortedOrUniqueDictionaryOrderByDim@all_disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testTopNOnStringWithNonSortedOrUniqueDictionaryOrderByDim@all_enabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testTopNOnStringWithNonSortedOrUniqueDictionaryOrderByDim@default.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testTopNOnStringWithNonSortedOrUniqueDictionaryOrderByDim@filter-on-value-column_disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testTopNOnStringWithNonSortedOrUniqueDictionaryOrderByDim@filter-rewrites-disabled.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testTopNOnStringWithNonSortedOrUniqueDictionaryOrderByDim@filter-rewrites.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteJoinQueryTest/testTopNOnStringWithNonSortedOrUniqueDictionaryOrderByDim@join-to-filter.iq
  sql/src/test/quidem/org.apache.druid.sql.calcite.DecoupledPlanningCalciteQueryTest/testGroupByLimitPushdownExtraction.iq
  website/.spelling
Labels: Area - Documentation, Area - Querying, Release Notes, Area - SQL, Upgrade note

#18076 Allow Dart to query realtime tasks
  docs/querying/query-context.md
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/DartControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/DartControllerContextFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/DartControllerContextFactoryImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/DartSegmentAssignment.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/DartTableInputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/sql/DartQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/worker/DartFrameContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/worker/DartQueryableSegment.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/worker/DartWorkerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/worker/DartWorkerFactoryImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/DataServerQueryHandler.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/SegmentSource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/DartQueryKitSpecFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MSQTaskQueryMakerUtils.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MultiStageQueryContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/dart/controller/DartControllerContextTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/dart/controller/DartTableInputSpecSlicerTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/DartComponentSupplier.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/TestDartControllerContextFactoryImpl.java
  server/src/main/java/org/apache/druid/client/selector/ServerSelector.java
Labels: Area - Documentation, Area - Batch Ingestion, Area - Querying, Area - MSQ

#18085 DruidQuidemTestBase: Fix handling of comma-separated filters.
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemTestBase.java
Labels: Area - Querying

#18084 Add dedicated mv_overlap, mv_contains functions.
  extensions-core/druid-bloom-filter/src/main/java/org/apache/druid/query/filter/sql/BloomFilterOperatorConversion.java
  processing/src/main/java/org/apache/druid/math/expr/Function.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaArray/ops_funcs_mv_funcs.03.msq.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaArray/ops_funcs_mv_funcs.03.std.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaArray/ops_funcs_mv_funcs.04.msq.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaArray/ops_funcs_mv_funcs.04.std.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest/array_sql_mv_funcs.01.msq.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest/array_sql_mv_funcs.01.std.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest/mv_sql_mv_funcs.msq.iq
  quidem-ut/src/test/quidem/org.apache.druid.quidem.QTest/qaUnnest/mv_sql_mv_funcs.std.iq
  sql/src/main/java/org/apache/druid/sql/calcite/expression/DirectOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayAppendOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayConcatOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayContainsOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOffsetOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOrdinalOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayOverlapOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArrayPrependOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/ArraySliceOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/BaseExpressionDimFilterOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/DecodeBase64UTFOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/GreatestOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/IPv4AddressMatchOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/IPv4AddressParseOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/IPv4AddressStringifyOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/IPv6AddressMatchOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/LeastOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/LikeOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/MultiValueStringOperatorConversions.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/SafeDivideOperatorConversion.java
  sql/src/main/java/org/apache/druid/sql/calcite/expression/builtin/StringToArrayOperatorConversion.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteLookupFunctionQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteMultiValueStringQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
Labels: Area - Querying

#18091 Quidem: Improved handling for subdirectories in quidem.filter.
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemTestBase.java
Labels: Area - Querying

#18096 vectorize lookup expression
  benchmarks/src/test/java/org/apache/druid/benchmark/query/SqlBaseBenchmark.java
  extensions-core/testing-tools/src/test/java/org/apache/druid/query/expressions/SleepExprTest.java
  processing/src/main/java/org/apache/druid/query/expression/LookupExprMacro.java
  processing/src/test/java/org/apache/druid/math/expr/ApplyFunctionTest.java
  processing/src/test/java/org/apache/druid/math/expr/FunctionTest.java
  processing/src/test/java/org/apache/druid/math/expr/ParserTest.java
  processing/src/test/java/org/apache/druid/math/expr/SettableVectorInputBinding.java
  processing/src/test/java/org/apache/druid/math/expr/VectorExprResultConsistencyTest.java
  processing/src/test/java/org/apache/druid/math/expr/vector/FilteredVectorInputBindingTest.java
  processing/src/test/java/org/apache/druid/query/expression/ExprMacroTest.java
  processing/src/test/java/org/apache/druid/query/expression/VectorExpressionsSanityTest.java
  processing/src/test/java/org/apache/druid/query/lookup/TestMapLookupExtractorFactory.java
  server/src/test/java/org/apache/druid/query/expression/LookupExprMacroTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteLookupFunctionQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlVectorizedExpressionResultConsistencyTest.java
Labels: Area - Querying

#18064 Validate lookup loading spec during lookup updates
  server/src/main/java/org/apache/druid/query/lookup/LookupReferencesManager.java
  server/src/test/java/org/apache/druid/query/lookup/LookupReferencesManagerTest.java
Labels: Area - Lookups

#18102 SQL: Parse queries immediately for non-JDBC endpoints.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlTaskResource.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/ResultsContextSerdeTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestBase.java
  server/src/main/java/org/apache/druid/server/QueryResultPusher.java
  sql/src/main/java/org/apache/druid/sql/DirectStatement.java
  sql/src/main/java/org/apache/druid/sql/HttpStatement.java
  sql/src/main/java/org/apache/druid/sql/PreparedStatement.java
  sql/src/main/java/org/apache/druid/sql/SqlQueryPlus.java
  sql/src/main/java/org/apache/druid/sql/SqlStatementFactory.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidJdbcStatement.java
  sql/src/main/java/org/apache/druid/sql/avatica/DruidMeta.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/DruidSqlParser.java
  sql/src/main/java/org/apache/druid/sql/calcite/parser/StatementAndSetContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/CalcitePlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/Calcites.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerFactory.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/DruidViewMacro.java
  sql/src/main/java/org/apache/druid/sql/http/SqlEngineRegistry.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/SqlQueryPlusTest.java
  sql/src/test/java/org/apache/druid/sql/SqlStatementTest.java
  sql/src/test/java/org/apache/druid/sql/avatica/DruidStatementTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QueryTestRunner.java
  sql/src/test/java/org/apache/druid/sql/calcite/expression/ExpressionTestHelper.java
  sql/src/test/java/org/apache/druid/sql/calcite/external/ExternalTableScanRuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/parser/DruidSqlParserTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/CalcitePlannerModuleTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/planner/DruidRexExecutorTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/QueryFrameworkUtils.java
  sql/src/test/java/org/apache/druid/sql/http/SqlResourceTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#18105 Fix K8S task runner log and doc
  docs/development/extensions-core/k8s-jobs.md
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClient.java
Labels: Area - Documentation, Kubernetes

#18060 Fix races between callback and shutdown routines in TaskQueue
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/TaskQueueTest.java
Labels: Area - Ingestion

#18124 Docs: Add metrics and configs for embedded kill tasks
  docs/api-reference/tasks-api.md
  docs/configuration/index.md
  docs/data-management/automatic-compaction.md
  docs/data-management/delete.md
  docs/operations/clean-metadata-store.md
  docs/operations/metrics.md
Labels: Area - Documentation

#18108 [test] Add unit tests and benchmarks for retrieveUsedSegments
  benchmarks/pom.xml
  benchmarks/src/test/java/org/apache/druid/benchmark/indexing/SqlSegmentsMetadataQueryBenchmark.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/actions/TaskActionTestKit.java
  server/src/test/java/org/apache/druid/metadata/IndexerSqlMetadataStorageCoordinatorTestBase.java
  server/src/test/java/org/apache/druid/metadata/SqlSegmentsMetadataQueryTest.java
  server/src/test/java/org/apache/druid/metadata/TestDerbyConnector.java
Labels: Area - Dependencies, Area - Ingestion

#18130 Fix flaky test CoordinatorPollingBasicAuthenticatorCacheManagerTest
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/basic/authentication/db/cache/CoordinatorPollingBasicAuthenticatorCacheManagerTest.java
  extensions-core/druid-basic-security/src/test/java/org/apache/druid/security/basic/authorization/db/cache/CoordinatorPollingBasicAuthorizerCacheManagerTest.java
Labels: GHA

#18129 Fix typos in `defaultMetricDimensions.json` for the dropwizard emitter
  docs/design/extensions-contrib/dropwizard.md
  extensions-contrib/dropwizard-emitter/src/main/resources/defaultMetricDimensions.json
Labels: Area - Documentation, Area - Metrics/Event Emitting

#18140 Fix mark used API response serialization
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/http/OverlordDataSourcesResource.java
  server/src/main/java/org/apache/druid/server/http/DataSourcesResource.java
Labels: Bug, Area - Ingestion

#18075 Dart: Wait for a merge buffer if none is available.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/worker/DartFrameContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/worker/DartProcessingBuffersProvider.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ProcessingBuffersProvider.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ProcessingBuffersSet.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerFrameContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerProcessingBuffersProvider.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/PeonProcessingBuffersProvider.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/dart/worker/DartProcessingBuffersProviderTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/ProcessingBuffersSetTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#18138 Remove some explicit maven plugin versions
  pom.xml
Labels: Area - Dependencies

#18149 Add follow-ups to multi stream supervisor, single datasource ingests
  docs/ingestion/supervisor.md
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentTransactionalAppendAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/actions/SegmentTransactionalInsertAction.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResource.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorSpec.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorResourceTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunnerTest.java
  integration-tests/src/test/java/org/apache/druid/tests/indexer/AbstractStreamIndexingTest.java
  server/src/main/java/org/apache/druid/indexing/overlord/IndexerMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/IndexerSQLMetadataStorageCoordinator.java
  server/src/main/java/org/apache/druid/metadata/SQLMetadataConnector.java
  server/src/test/java/org/apache/druid/indexing/overlord/supervisor/SupervisorStatusTest.java
Labels: Area - Documentation, Area - Streaming Ingestion, Area - Ingestion

#18123 Support Sort in decoupled Dart plans
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/sql/PrePlannedDartQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/kernel/StageDefinitionBuilder.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/DruidLogicalToQueryDefinitionTranslator.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/LogicalInputSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/LogicalStageBuilder.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/StageMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/AbstractFrameProcessorStage.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/AbstractLogicalStage.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/AbstractShuffleStage.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/FilterStage.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/LogicalStage.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/ProjectStage.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/ReadStage.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/logical/stages/SortStage.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/scan/ScanQueryFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteDartTest.java
  processing/src/main/java/org/apache/druid/frame/key/KeyColumn.java
  processing/src/main/java/org/apache/druid/frame/key/KeyOrder.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/querygen/DruidQueryGenerator.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/logical/DruidSort.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#18157 Disable dependabot on JS assets (website and web-console)
  .github/dependabot.yml
Labels: GHA, dependencies

#18163 Feat: Intialize ScheduledThreadPoolExecutor with default worker threads
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
  processing/src/main/java/org/apache/druid/java/util/common/concurrent/ScheduledExecutors.java
Labels: Area - Streaming Ingestion, Area - Ingestion

#18154 Update some dependencies
  extensions-contrib/opentelemetry-emitter/pom.xml
  integration-tests/pom.xml
  licenses.yaml
  pom.xml
  processing/pom.xml
  processing/src/test/java/org/apache/druid/query/aggregation/SerializablePairLongStringComplexMetricSerdeTest.java
  quidem-ut/pom.xml
Labels: Area - Metrics/Event Emitting, Area - Dependencies

#18171 Move QTest execution into a separate job during CI checks and some cleanup
  .github/scripts/create-jacoco-coverage-report.sh
  .github/scripts/run_unit-tests
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/revised-its.yml
  .github/workflows/standard-its.yml
  .github/workflows/unit-and-integration-tests-unified.yml
Labels: GHA

#18101 [Docs] Updates the SET command documentation
  docs/api-reference/sql-api.md
  docs/multi-stage-query/reference.md
  docs/querying/query-from-deep-storage.md
  docs/querying/sql-query-context.md
  docs/querying/sql.md
  docs/querying/using-caching.md
Labels: Area - Documentation

#18063 Emit per-query result-level caching metrics on Broker
  docs/operations/metrics.md
  processing/src/main/java/org/apache/druid/query/DefaultQueryMetrics.java
  processing/src/main/java/org/apache/druid/query/QueryMetrics.java
  processing/src/main/java/org/apache/druid/query/search/DefaultSearchQueryMetrics.java
  processing/src/test/java/org/apache/druid/query/DefaultQueryMetricsTest.java
  server/src/main/java/org/apache/druid/query/ResultLevelCachingQueryRunner.java
  server/src/main/java/org/apache/druid/server/ClientQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/query/QueryRunnerBasedOnClusteredClientTestBase.java
  server/src/test/java/org/apache/druid/query/ResultLevelCachingQueryRunnerTest.java
Labels: Area - Documentation
