Repository apache/druid, pull requests merged in 2025-10, with the labels that each got.

#18538 docs: (34.0 branch) update hadoop ingestion deprecation to d37
  docs/ingestion/data-formats.md
  docs/ingestion/hadoop.md
  docs/operations/other-hadoop.md
  docs/release-info/release-notes.md
  docs/release-info/upgrade-notes.md
  docs/tutorials/tutorial-batch-hadoop.md
  docs/tutorials/tutorial-kerberos-hadoop.md
Labels: Area - Documentation

#18592 Parallelize segment metadata queries at a data node-level
  processing/src/main/java/org/apache/druid/query/ConcatQueryRunner.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryRunnerFactory.java
  server/src/test/java/org/apache/druid/server/coordination/ServerManagerTest.java
Labels: Performance, Refactoring

#18568 Add support for caching ScanQuery results
  docs/configuration/index.md
  docs/querying/query-execution.md
  processing/src/main/java/org/apache/druid/query/CacheStrategy.java
  processing/src/main/java/org/apache/druid/query/Order.java
  processing/src/main/java/org/apache/druid/query/OrderBy.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/metadata/SegmentMetadataQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/scan/ScanQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/search/SearchQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/timeboundary/TimeBoundaryQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/topn/TopNQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnType.java
  processing/src/test/java/org/apache/druid/query/scan/ScanQueryQueryToolChestTest.java
  server/src/main/java/org/apache/druid/client/CacheUtil.java
  server/src/main/java/org/apache/druid/client/cache/CacheConfig.java
  server/src/test/java/org/apache/druid/client/CacheUtilTest.java
  server/src/test/java/org/apache/druid/client/cache/CacheConfigTest.java
Labels: Area - Documentation, Performance, Area - Segment Format and Ser/De

#18595 Fix Markdown table formatting in Delta input source docs
  docs/ingestion/input-sources.md
Labels: Area - Documentation

#18594 Interval optimization for subclasses of DataSegment
  multi-stage-query/src/main/java/org/apache/druid/msq/input/table/DataSegmentWithLocation.java
  processing/src/main/java/org/apache/druid/java/util/common/Intervals.java
  server/src/main/java/org/apache/druid/server/coordination/LoadableDataSegment.java
Labels: Area - Batch Ingestion, Area - MSQ

#18541 Add size check in DictionaryBuildingSingleValuedRowBasedKeySerdeHelper in putToKeyBuffer
  processing/src/main/java/org/apache/druid/query/groupby/epinephelinae/RowBasedGrouperHelper.java
  processing/src/main/java/org/apache/druid/segment/column/TypeStrategies.java
  processing/src/main/java/org/apache/druid/segment/nested/NestedDataComplexTypeSerde.java
  processing/src/main/java/org/apache/druid/segment/nested/StructuredData.java
  processing/src/test/java/org/apache/druid/segment/column/TypeStrategiesTest.java
  processing/src/test/java/org/apache/druid/segment/nested/StructuredDataTest.java
Labels: Area - Segment Format and Ser/De

#18597 switch usages of IndexMergerV9 with IndexMerger interface
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/TaskToolboxFactory.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/BatchAppenderators.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/batch/parallel/PartialSegmentMergeTask.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/duty/KillTaskToolbox.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTask.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskRunTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/CompactionTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/IngestionTestBase.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/AbstractParallelIndexSupervisorTaskTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/common/task/batch/parallel/TaskMonitorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunnerAuthTest.java
  multi-stage-query/src/main/java/org/apache/druid/msq/dart/worker/DartFrameContext.java
  multi-stage-query/src/main/java/org/apache/druid/msq/exec/FrameContext.java
  multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerFrameContext.java
  multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestWorkerContext.java
Labels: Area - Batch Ingestion, Area - Ingestion, Area - MSQ
