Repository apache/druid, pull requests merged in 2025-02, with the labels that each got.

#17679 Web console: account for MERGE INTO queries
  web-console/lib/keywords.ts
  web-console/src/druid-models/workbench-query/workbench-query.ts
Labels: Area - Web Console

#17691 Various fixes for large columns.
  benchmarks/src/test/java/org/apache/druid/benchmark/compression/BaseColumnarLongsBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/compression/CompressedColumnarIntsBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/compression/CompressedVSizeColumnarMultiIntsBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/compression/FloatCompressionBenchmark.java
  benchmarks/src/test/java/org/apache/druid/benchmark/compression/LongCompressionBenchmark.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalColumnPartSupplier.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalLongColumnSerializer.java
  extensions-contrib/compressed-bigdecimal/src/main/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalMetricSerde.java
  processing/src/main/java/org/apache/druid/segment/DictionaryEncodedColumnMerger.java
  processing/src/main/java/org/apache/druid/segment/IndexIO.java
  processing/src/main/java/org/apache/druid/segment/MetricHolder.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarDoublesSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarDoublesSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarFloatsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarFloatsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarLongsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/BlockLayoutColumnarLongsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarDoublesSuppliers.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarFloatsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarIntsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedColumnarLongsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedVSizeColumnarIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedVSizeColumnarIntsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressedVSizeColumnarMultiIntsSupplier.java
  processing/src/main/java/org/apache/druid/segment/data/CompressionFactory.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexed.java
  processing/src/main/java/org/apache/druid/segment/data/GenericIndexedWriter.java
  processing/src/main/java/org/apache/druid/segment/data/IntermediateColumnarLongsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/V3CompressedVSizeColumnarMultiIntsSerializer.java
  processing/src/main/java/org/apache/druid/segment/data/V3CompressedVSizeColumnarMultiIntsSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/CompressedNestedDataComplexColumn.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarDoubleColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarLongColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/ScalarStringColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/nested/VariantColumnAndIndexSupplier.java
  processing/src/main/java/org/apache/druid/segment/serde/DictionaryEncodedColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/DoubleNumericColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/DoubleNumericColumnPartSerdeV2.java
  processing/src/main/java/org/apache/druid/segment/serde/FloatNumericColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/FloatNumericColumnPartSerdeV2.java
  processing/src/main/java/org/apache/druid/segment/serde/LongNumericColumnPartSerde.java
  processing/src/main/java/org/apache/druid/segment/serde/LongNumericColumnPartSerdeV2.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedColumnarIntsSerializerTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedColumnarIntsSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedDoublesSerdeTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedFloatsSerdeTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedLongsAutoEncodingSerdeTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedLongsSerdeTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedVSizeColumnarIntsSerializerTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedVSizeColumnarIntsSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/data/CompressedVSizeColumnarMultiIntsSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/data/GenericIndexedTest.java
  processing/src/test/java/org/apache/druid/segment/data/TestColumnCompression.java
  processing/src/test/java/org/apache/druid/segment/data/V3CompressedVSizeColumnarMultiIntsSerializerTest.java
  processing/src/test/java/org/apache/druid/segment/data/V3CompressedVSizeColumnarMultiIntsSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/nested/NestedFieldColumnIndexSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/serde/DictionaryEncodedStringIndexSupplierTest.java
  processing/src/test/java/org/apache/druid/segment/serde/HyperUniquesSerdeForTest.java
Labels: Bug, Area - Segment Format and Ser/De

#17654 Update descriptions of JSON functions
  docs/querying/sql-json-functions.md
Labels: Area - Documentation

#17685 [Docs] Move T-Digest function docs
  docs/development/extensions-contrib/tdigestsketch-quantiles.md
  docs/querying/sql-functions.md
Labels: Area - Documentation

#17694 Run JDK 21 workflows with latest JDK.
  .github/workflows/static-checks.yml
  .github/workflows/unit-and-integration-tests-unified.yml
Labels: GHA

#17659 Clarify properties in durable storage docs.
  docs/operations/durable-storage.md
Labels: Area - Documentation

#17696 docs: Release note highlight for SQL functions
  docs/release-info/release-notes.md
Labels: Area - Documentation

#17698 [Docs] SQL functions docs backport
  docs/development/extensions-contrib/tdigestsketch-quantiles.md
  docs/querying/sql-functions.md
  docs/querying/sql-json-functions.md
Labels: Area - Documentation

#17658 [docs] Batch19 SQL aggregation functions
  docs/querying/sql-functions.md
Labels: Area - Documentation

#17689 Support custom histogram buckets for Prometheus Timer Metrics
  docs/development/extensions-contrib/prometheus.md
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/DimensionsAndCollector.java
  extensions-contrib/prometheus-emitter/src/main/java/org/apache/druid/emitter/prometheus/Metrics.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/MetricsTest.java
  extensions-contrib/prometheus-emitter/src/test/resources/defaultInvalidMetricsTest.json
  extensions-contrib/prometheus-emitter/src/test/resources/defaultMetricsTest.json
Labels: Area - Documentation, Area - Metrics/Event Emitting

#17596 Code Coverage additions for Extensions
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/PrometheusEmitterConfigTest.java
  extensions-contrib/prometheus-emitter/src/test/java/org/apache/druid/emitter/prometheus/PrometheusEmitterTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQTaskListTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQTuningConfigTest.java
Labels: Area - Batch Ingestion, Area - Metrics/Event Emitting, Area - Dependencies, Area - MSQ

#16326 MSQ: Write summary row for GROUP BY ().
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByPostShuffleFrameProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/groupby/GroupByQueryKit.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteSelectQueryMSQTest.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupingEngine.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/test/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChestTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteQueryTest.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#17317 MSQ: Add exception messages to WorkerFailedFault and WorkerRpcFailedFault.
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ExceptionWrappingWorkerClient.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/WorkerSketchFetcher.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/WorkerFailedFault.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/error/WorkerRpcFailedFault.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQTasksTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/error/MSQFaultSerdeTest.java
Labels: Area - Batch Ingestion, Area - MSQ

#17700 Create new CI workflow and run unit tests using it
  .github/scripts/create-jacoco-coverage-report.sh
  .github/scripts/run-unit-tests.sh
  .github/scripts/unit_tests_script.sh
  .github/workflows/ci.yml
  .github/workflows/cron-job-unit-tests.yml
  .github/workflows/reusable-unit-tests.yml
  .github/workflows/unit-and-integration-tests-unified.yml
  .github/workflows/unit-tests.yml
  .github/workflows/worker.yml
  README.md
  extensions-core/azure-extensions/pom.xml
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQCalciteSelectJoinQueryTest.java
  pom.xml
  processing/src/test/java/org/apache/druid/query/topn/TopNQueryRunnerBenchmark.java
  processing/src/test/java/org/apache/druid/segment/IndexMergerTestBase.java
  server/src/test/java/org/apache/druid/client/cache/CacheTestBase.java
Labels: Area - Batch Ingestion, Area - Dependencies, Area - MSQ, GHA

#17695 docs: Backport SQL function examples
  docs/ingestion/schema-design.md
  docs/querying/sql-aggregations.md
  docs/querying/sql-array-functions.md
  docs/querying/sql-functions.md
  docs/querying/sql-multivalue-string-functions.md
  docs/querying/sql-scalar.md
  docs/release-info/migr-ansi-sql-null.md
  website/.spelling
Labels: Area - Documentation

#16098 Fetch active tasks from memory in SeekableStreamSupervisor
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/TaskQueue.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Streaming Ingestion, Area - Ingestion

#17702 Fixing logging in supervisor.
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
Labels: Area - Ingestion

#17708 Fix condition for uploading artifacts in worker.yml
  .github/workflows/worker.yml
Labels: GHA

#17699 Enable dataset support for quidem tests
  benchmarks/src/test/java/org/apache/druid/benchmark/query/MSQWindowFunctionsBenchmark.java
  extensions-contrib/compressed-bigdecimal/src/test/java/org/apache/druid/compressedbigdecimal/CompressedBigDecimalSqlAggregatorTestBase.java
  extensions-contrib/tdigestsketch/src/test/java/org/apache/druid/query/aggregation/tdigestsketch/sql/TDigestSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/hll/sql/HllSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/quantiles/sql/DoublesSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/theta/sql/ThetaSketchSqlAggregatorTest.java
  extensions-core/datasketches/src/test/java/org/apache/druid/query/aggregation/datasketches/tuple/sql/ArrayOfDoublesSketchSqlAggregatorTest.java
  extensions-core/druid-bloom-filter/src/test/java/org/apache/druid/query/aggregation/bloom/sql/BloomFilterSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/FixedBucketsHistogramQuantileSqlAggregatorTest.java
  extensions-core/histogram/src/test/java/org/apache/druid/query/aggregation/histogram/sql/QuantileSqlAggregatorTest.java
  extensions-core/stats/src/test/java/org/apache/druid/query/aggregation/variance/sql/VarianceSqlAggregatorTest.java
  processing/src/main/java/org/apache/druid/data/input/impl/LocalInputSource.java
  processing/src/test/java/org/apache/druid/data/input/impl/LocalInputSourceTest.java
  processing/src/test/java/org/apache/druid/segment/IndexBuilder.java
  quidem-ut/src/main/java/org/apache/druid/quidem/KttmNestedComponentSupplier.java
  server/src/test/java/org/apache/druid/server/ClientQuerySegmentWalkerTest.java
  server/src/test/java/org/apache/druid/server/QueryStackTests.java
  server/src/test/java/org/apache/druid/server/SpecificSegmentsQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/sql/calcite/util/datasets/InputSourceBasedTestDataset.java
  server/src/test/java/org/apache/druid/sql/calcite/util/datasets/MapBasedTestDataset.java
  server/src/test/java/org/apache/druid/sql/calcite/util/datasets/NumFoo.java
  server/src/test/java/org/apache/druid/sql/calcite/util/datasets/TestDataSet.java
  sql/src/test/java/org/apache/druid/quidem/DruidQuidemTestBase.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteNestedDataQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteSubqueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/DrillWindowQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/QTestCase.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlTestFrameworkConfig.java
  sql/src/test/java/org/apache/druid/sql/calcite/SqlTestFrameworkConfigTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/FakeIndexTaskUtil.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/SqlTestFramework.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestDataBuilder.java
  sql/src/test/quidem/org.apache.druid.quidem.SqlQuidemTest/customdataset.iq
  sql/src/test/quidem/sampledataset/rollup-index.json
Labels: Area - Querying, Area - Dependencies, Area - Ingestion

#17353 Scheduled batch supervisor
  indexing-service/pom.xml
  indexing-service/src/main/java/org/apache/druid/guice/SupervisorModule.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/DruidOverlord.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/BatchSupervisorTaskReport.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/BatchSupervisorTaskStatus.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/CronSchedulerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/CronSchedulerUtils.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/QuartzCronSchedulerConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/ScheduledBatchStatusTracker.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/ScheduledBatchSupervisor.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/ScheduledBatchSupervisorSpec.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/ScheduledBatchSupervisorStatus.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/ScheduledBatchTaskManager.java
  indexing-service/src/main/java/org/apache/druid/indexing/scheduledbatch/UnixCronSchedulerConfig.java
  indexing-service/src/test/java/org/apache/druid/indexing/overlord/http/OverlordTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/scheduledbatch/QuartzCronSchedulerConfigTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/scheduledbatch/ScheduledBatchStatusTrackerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/scheduledbatch/ScheduledBatchSupervisorSpecTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/scheduledbatch/ScheduledBatchSupervisorTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/scheduledbatch/ScheduledBatchTaskManagerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/scheduledbatch/UnixCronSchedulerConfigTest.java
  licenses.yaml
  pom.xml
  services/src/main/java/org/apache/druid/cli/CliOverlord.java
Labels: Area - Batch Ingestion, Area - Querying, Design Review, Area - Dependencies, Area - Ingestion, Area - MSQ

#17713 Update release guide and update cron-job-unit-tests to run on PRs to release branches
  .github/workflows/cron-job-unit-tests.yml
  distribution/asf-release-process-guide.md
Labels: GHA

#17715 Docs: Router is not experimental anymore
  docs/configuration/index.md
Labels: Area - Documentation

#17712 Recommend setting a strong passphrase for druid-pac4j auth
  docs/development/extensions-core/druid-pac4j.md
  website/.spelling
Labels: Area - Documentation

#17711 fix time column seeking for time ordered projections
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorFactory.java
  processing/src/main/java/org/apache/druid/segment/QueryableIndexCursorHolder.java
  processing/src/test/java/org/apache/druid/segment/QueryableIndexCursorHolderTest.java
Labels: Bug, Area - Segment Format and Ser/De

#17717 [Backport] Recommend setting a strong passphrase for druid-pac4j auth (#17712)
  docs/development/extensions-core/druid-pac4j.md
  website/.spelling
Labels: Area - Documentation, Backport

#17623 Remove cpuTimeAcc from DataSource#createSegmentMapFunction's signature
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BroadcastJoinSegmentMapFnProcessor.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/InputNumberDataSource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/SimpleSegmentMapFnProcessor.java
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/main/java/org/apache/druid/query/FilteredDataSource.java
  processing/src/main/java/org/apache/druid/query/FrameBasedInlineDataSource.java
  processing/src/main/java/org/apache/druid/query/InlineDataSource.java
  processing/src/main/java/org/apache/druid/query/JoinDataSource.java
  processing/src/main/java/org/apache/druid/query/LookupDataSource.java
  processing/src/main/java/org/apache/druid/query/QueryDataSource.java
  processing/src/main/java/org/apache/druid/query/RestrictedDataSource.java
  processing/src/main/java/org/apache/druid/query/TableDataSource.java
  processing/src/main/java/org/apache/druid/query/UnionDataSource.java
  processing/src/main/java/org/apache/druid/query/UnnestDataSource.java
  processing/src/main/java/org/apache/druid/query/union/UnionQuery.java
  processing/src/test/java/org/apache/druid/query/QueryDataSourceTest.java
  processing/src/test/java/org/apache/druid/query/QueryRunnerTestHelper.java
  processing/src/test/java/org/apache/druid/segment/join/NoopDataSource.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalDataSource.java
Labels: Area - Batch Ingestion, Area - Querying, Design Review, Area - MSQ

#17719 docs: update upgrade ntoes for 32.0
  docs/release-info/upgrade-notes.md
  website/.spelling
Labels: Area - Documentation

#17721 Docs: update upgrade ntoes for 32.0 (#17719)
  docs/release-info/upgrade-notes.md
  website/.spelling
Labels: Area - Documentation

#17718 Make MSQ tests run faster
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncher.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/exec/MSQTasksTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/indexing/MSQWorkerTaskLauncherTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/CalciteMSQTestsHelper.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestControllerContext.java
Labels: Area - Batch Ingestion, Area - MSQ

#17725 Docs: Update default value of `druid.coordinator.kill.compaction.on`
  docs/configuration/index.md
Labels: Area - Documentation

#17728 Add log and metric for overlord segment cache
  docs/operations/metrics.md
  server/src/main/java/org/apache/druid/metadata/segment/cache/HeapMemorySegmentMetadataCache.java
  server/src/main/java/org/apache/druid/metadata/segment/cache/Metric.java
  server/src/test/java/org/apache/druid/metadata/segment/cache/HeapMemorySegmentMetadataCacheTest.java
Labels: Area - Documentation

#17723 Handle intermediate change of status in pause method
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
Labels: Area - Ingestion

#17729 Fix jacoco checks
  .github/scripts/create-jacoco-coverage-report.sh
  .github/scripts/run-unit-tests.sh
  .github/workflows/ci.yml
  .github/workflows/unit-and-integration-tests-unified.yml
  .github/workflows/worker.yml
Labels: GHA

#17733 Minor cleanup of SeekableStreamSupervisor classes
  extensions-contrib/rabbit-stream-indexing-service/src/test/java/org/apache/druid/indexing/rabbitstream/RabbitStreamIndexTaskIOConfigTest.java
  extensions-core/kafka-indexing-service/src/main/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisor.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/KafkaIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorIOConfigTest.java
  extensions-core/kafka-indexing-service/src/test/java/org/apache/druid/indexing/kafka/supervisor/KafkaSupervisorTest.java
  extensions-core/kinesis-indexing-service/src/main/java/org/apache/druid/indexing/kinesis/KinesisRecordSupplier.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/KinesisIOConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorIOConfigTest.java
  extensions-core/kinesis-indexing-service/src/test/java/org/apache/druid/indexing/kinesis/supervisor/KinesisSupervisorTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskIOConfig.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunner.java
  indexing-service/src/main/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisor.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/SeekableStreamIndexTaskRunnerTest.java
  indexing-service/src/test/java/org/apache/druid/indexing/seekablestream/supervisor/SeekableStreamSupervisorStateTest.java
Labels: Area - Streaming Ingestion, Area - Ingestion

#17736 Fix Flaky BasicAuthTest and MetadataResourceTest
  extensions-contrib/grpc-query/pom.xml
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
Labels: Area - Dependencies

#17734 Remove MetadataStorageJobUpdateHandler
  indexing-hadoop/src/main/java/org/apache/druid/indexer/HadoopDruidIndexerJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/MetadataStorageUpdaterJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/path/SegmentMetadataPublisher.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/HadoopDruidIndexerJobTest.java
  indexing-hadoop/src/test/java/org/apache/druid/indexer/MetadataStorageUpdaterJobTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/common/task/HadoopIndexTask.java
  server/src/main/java/org/apache/druid/guice/SQLMetadataStorageDruidModule.java
  server/src/main/java/org/apache/druid/indexer/SQLMetadataStorageUpdaterJobHandler.java
  services/src/main/java/org/apache/druid/cli/CliInternalHadoopIndexer.java
Labels: Area - Batch Ingestion, Area - Ingestion

#17737 Update central maven repo to speed up building
  pom.xml
Labels: Area - Dev, Area - Dependencies

#17724 Reduce usage of DataSourceAnalysis in interfaces
  .github/scripts/create-jacoco-coverage-report.sh
  benchmarks/src/test/java/org/apache/druid/benchmark/query/CachingClusteredClientBenchmark.java
  extensions-contrib/materialized-view-selection/src/main/java/org/apache/druid/query/materializedview/DataSourceOptimizer.java
  extensions-contrib/moving-average-query/src/test/java/org/apache/druid/query/movingaverage/MovingAverageQueryTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/DartTableInputSpecSlicer.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/worker/DartDataSegmentProvider.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/dart/controller/DartTableInputSpecSlicerTest.java
  indexing-service/src/main/java/org/apache/druid/indexing/overlord/SingleTaskBackgroundRunner.java
  processing/src/main/java/org/apache/druid/query/Queries.java
  processing/src/main/java/org/apache/druid/query/RestrictedDataSource.java
  processing/src/main/java/org/apache/druid/query/planning/DataSourceAnalysis.java
  processing/src/test/java/org/apache/druid/query/QueriesTest.java
  processing/src/test/java/org/apache/druid/query/planning/DataSourceAnalysisTest.java
  server/src/main/java/org/apache/druid/client/BrokerServerView.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/ServerViewUtil.java
  server/src/main/java/org/apache/druid/client/TimelineServerView.java
  server/src/main/java/org/apache/druid/segment/join/BroadcastTableJoinableFactory.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/SinkQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/segment/realtime/appenderator/UnifiedIndexerAppenderatorsManager.java
  server/src/main/java/org/apache/druid/server/ClientInfoResource.java
  server/src/main/java/org/apache/druid/server/SegmentManager.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  server/src/test/java/org/apache/druid/client/BrokerServerViewTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientFunctionalityTest.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientTest.java
  server/src/test/java/org/apache/druid/client/SimpleServerView.java
  server/src/test/java/org/apache/druid/server/ClientInfoResourceTest.java
  server/src/test/java/org/apache/druid/server/SegmentManagerTest.java
  server/src/test/java/org/apache/druid/server/TestClusterQuerySegmentWalker.java
  server/src/test/java/org/apache/druid/server/coordination/ServerManagerTest.java
  server/src/test/java/org/apache/druid/server/http/MetadataResourceTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheConcurrencyTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/util/TestTimelineServerView.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Ingestion, Area - MSQ, GHA

#17701 Support Lazy Loading of Pod Templates
  docs/development/extensions-core/k8s-jobs.md
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/PodTemplateSelectStrategy.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/SelectorBasedPodTemplateSelectStrategy.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/execution/TaskTypePodTemplateSelectStrategy.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/DynamicConfigPodTemplateSelector.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/taskadapter/PodTemplateTaskAdapter.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/execution/SelectorBasedPodTemplateSelectStrategyTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/taskadapter/DynamicConfigPodTemplateSelectorTest.java
Labels: Area - Documentation, Kubernetes

#17739 Fixing races in KubernetesPeonLifecycle
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
Labels: Kubernetes

#17745 Update Kafka Emitter Documentation
  docs/development/extensions-contrib/kafka-emitter.md
Labels: Area - Documentation

#17747 Revert "Fix error where communication failures to k8s can lead to stuck tasks (#17431)
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycle.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClient.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/KubernetesPeonLifecycleTest.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClientTest.java
Labels: Kubernetes

#17726 Fix JoinDataSource to not ignore DataSource layers silently
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/BaseLeafFrameProcessorFactory.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/DataSourcePlan.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/InputNumberDataSource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/querykit/RestrictedInputNumberDataSource.java
  processing/src/main/java/org/apache/druid/query/BaseQuery.java
  processing/src/main/java/org/apache/druid/query/DataSource.java
  processing/src/main/java/org/apache/druid/query/Druids.java
  processing/src/main/java/org/apache/druid/query/FrameBasedInlineDataSource.java
  processing/src/main/java/org/apache/druid/query/InlineDataSource.java
  processing/src/main/java/org/apache/druid/query/JoinDataSource.java
  processing/src/main/java/org/apache/druid/query/LookupDataSource.java
  processing/src/main/java/org/apache/druid/query/Queries.java
  processing/src/main/java/org/apache/druid/query/Query.java
  processing/src/main/java/org/apache/druid/query/QueryDataSource.java
  processing/src/main/java/org/apache/druid/query/TableDataSource.java
  processing/src/main/java/org/apache/druid/query/UnionDataSource.java
  processing/src/main/java/org/apache/druid/query/UnionDataSourceQueryRunner.java
  processing/src/main/java/org/apache/druid/query/UnnestDataSource.java
  processing/src/main/java/org/apache/druid/query/filter/DimFilters.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQuery.java
  processing/src/main/java/org/apache/druid/query/planning/DataSourceAnalysis.java
  processing/src/main/java/org/apache/druid/query/planning/PreJoinableClause.java
  processing/src/main/java/org/apache/druid/query/union/UnionQuery.java
  processing/src/main/java/org/apache/druid/segment/filter/Filters.java
  processing/src/test/java/org/apache/druid/query/FilteredDataSourceTest.java
  processing/src/test/java/org/apache/druid/query/QueriesTest.java
  processing/src/test/java/org/apache/druid/query/planning/DataSourceAnalysisTest.java
  processing/src/test/java/org/apache/druid/query/planning/PreJoinableClauseTest.java
  processing/src/test/java/org/apache/druid/segment/join/NoopDataSource.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/server/LocalQuerySegmentWalker.java
  server/src/main/java/org/apache/druid/server/coordination/ServerManager.java
  server/src/test/java/org/apache/druid/client/CachingClusteredClientPerfTest.java
  server/src/test/java/org/apache/druid/server/coordination/ServerManagerTest.java
  sql/src/main/java/org/apache/druid/sql/calcite/external/ExternalDataSource.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/CalciteJoinQueryTest.java
  sql/src/test/java/org/apache/druid/sql/calcite/NotYetSupported.java
Labels: Area - Batch Ingestion, Area - Querying, Area - Segment Format and Ser/De, Area - Ingestion, Area - MSQ

#17748 cleanup formatting in ControllerImpl
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
Labels: Area - Batch Ingestion, Area - Dev, Area - MSQ, jacoco:skip

#17746 202502 Docs fix for GROUP BY metrics table
  docs/operations/metrics.md
Labels: Area - Documentation

#17753 Refactor MSQSpec usages to reduce reliance on the native query
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/dart/controller/DartControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/ControllerImpl.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/exec/QueryKitBasedMSQPlanner.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/IndexerControllerContext.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQControllerTask.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/indexing/MSQSpec.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/resources/SqlStatementResource.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/util/MSQTaskQueryMakerUtils.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/dart/controller/DartControllerContextTest.java
  extensions-core/multi-stage-query/src/test/java/org/apache/druid/msq/test/MSQTestOverlordServiceClient.java
Labels: Area - Batch Ingestion, Area - Querying, Area - MSQ

#17754 Adding more logging in case of permission issues
  server/src/main/java/org/apache/druid/server/QueryResource.java
  sql/src/main/java/org/apache/druid/sql/AbstractStatement.java
Labels: Area - Querying

#17755 [CVE-Fix]: Update netty4 version
  licenses.yaml
  pom.xml
Labels: Area - Dependencies

#17757 Fix `applyPolicies` in DruidRel, and add tests.
  sql/src/main/java/org/apache/druid/sql/calcite/planner/querygen/DruidQueryGenerator.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidCorrelateUnnestRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidJoinQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidOuterQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQuery.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidQueryRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidUnionDataSourceRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/PartialDruidQuery.java
  sql/src/test/java/org/apache/druid/sql/calcite/rel/DruidRelTest.java
Labels: Area - Querying

#17606 Do not use deprecated Jackson API ObjectMapper.writerWithType()
  codestyle/druid-forbidden-apis.txt
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DetermineHashedPartitionsJob.java
  indexing-hadoop/src/main/java/org/apache/druid/indexer/DeterminePartitionsJob.java
  indexing-service/src/main/java/org/apache/druid/indexing/worker/http/TaskManagementResource.java
  server/src/main/java/org/apache/druid/server/coordinator/loading/HttpLoadQueuePeon.java
  server/src/main/java/org/apache/druid/server/http/SegmentListerResource.java
  server/src/test/java/org/apache/druid/server/coordination/ChangeRequestHttpSyncerTest.java
  server/src/test/java/org/apache/druid/server/coordinator/loading/HttpLoadQueuePeonTest.java
Labels: Area - Batch Ingestion, Area - Ingestion, jacoco:skip

#17760 improve exception message for mismatched types when merging CapabilitiesBasedFormat
  processing/src/main/java/org/apache/druid/segment/column/CapabilitiesBasedFormat.java
  processing/src/main/java/org/apache/druid/segment/column/ColumnFormat.java
  processing/src/test/java/org/apache/druid/segment/column/CapabilitiesBasedFormatTest.java
Labels: Area - Segment Format and Ser/De

#17752 Adding some more logging to the K8's runner.
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/KubernetesTaskRunner.java
  extensions-core/kubernetes-overlord-extensions/src/main/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClient.java
  extensions-core/kubernetes-overlord-extensions/src/test/java/org/apache/druid/k8s/overlord/common/KubernetesPeonClientTest.java
Labels: Kubernetes

#17742 Support task payload for HDFS
  distribution/docker/peon.sh
  extensions-core/hdfs-storage/src/main/java/org/apache/druid/storage/hdfs/tasklog/HdfsTaskLogs.java
  extensions-core/hdfs-storage/src/test/java/org/apache/druid/indexing/common/tasklogs/HdfsTaskLogsTest.java
Labels: Area - Batch Ingestion, Kubernetes, Area - Ingestion
